:root {
  --background: "#09090A20";
  --border: "#3c324bcc";
  --border_disabled: null;
  --border_focused: "#C9A8F977";
  --border_selected: "#C9A8F9bb";
  --border_transparent: "#09090A2000";
  --border_variant: "#09090A20";
  --conflict: "#dec184ff";
  --conflict_background: "#dec18433";
  --conflict_border: "#5d4c2fff";
  --created: "#73fb95ff";
  --created_background: "#222e1dff";
  --created_border: "#38482fff";
  --deleted: "#ff5555ff";
  --deleted_background: "#301b1bff";
  --deleted_border: "#4c2b2cff";
  --drop_target_background: "#504364ff";
  --editor_active_line_background: "#C9A8F933";
  --editor_active_line_number: "#C9A8F9FF";
  --editor_active_wrap_guide: "#f8f8f235";
  --editor_background: "#09090A20";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#f8f8f2ff";
  --editor_gutter_background: "#10101020";
  --editor_highlighted_line_background: "#44475aff";
  --editor_invisible: "#f8f8f230";
  --editor_line_number: "#f8f8f250";
  --editor_subheader_background: "#1e1925ff";
  --editor_wrap_guide: "#f8f8f215";
  --element_active: "#796595ff";
  --element_background: "#1c1d26ff";
  --element_disabled: "#e9dbfdff";
  --element_hover: "#504364ff";
  --element_selected: "#65547dff";
  --elevated_surface_background: "#1e1925ff";
  --elevated_surface_border: "#ffffff";
  --error: "#e67373ff";
  --error_background: "#242631ee";
  --error_border: "#e67373ff";
  --error_foreground: "#ffffff";
  --ghost_element_active: "#C9A8F950";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#ff5555ff";
  --ghost_element_hover: "#C9A8F935";
  --ghost_element_selected: "#C9A8F925";
  --hidden: "#414754ff";
  --hidden_background: "#242631ee";
  --hidden_border: "#414754ff";
  --hint: "#6272a4ff";
  --hint_background: null;
  --hint_border: null;
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#C9A8F950";
  --ignored_background: "#3c324bff";
  --ignored_border: null;
  --info: "#73ece5ff";
  --info_background: "#242631ee";
  --info_border: "#73ece5ff";
  --link_text_hover: "#8be9fdff";
  --modified: "#a2edfdff";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --panel_background: "#09090A20";
  --panel_focused_border: "#ffffff";
  --predictive: "#7f848e";
  --predictive_background: "#E6E9EF";
  --predictive_border: "#7f848e";
  --scrollbar_thumb_border: "#09090A20";
  --scrollbar_thumb_hover_background: "#ffffff";
  --scrollbar_track_background: "#09090A20";
  --scrollbar_track_border: "#09090A20";
  --scrollbar_thumb_background: "#ffffff";
  --status_bar_background: "#09090A20";
  --status_bar_foreground: "#ffffff";
  --success: "#79e96dff";
  --success_background: "#242631ee";
  --success_border: "#79e96dff";
  --surface_background: "#09090A20";
  --tab_active_background: "#282a36ff";
  --tab_active_foreground: "#ffffff";
  --tab_inactive_background: "#1c1d26ff";
  --tab_bar_background: "#282232bb";
  --terminal_ansi_black: "#21222cff";
  --terminal_ansi_blue: "#9580ffff";
  --terminal_ansi_bright_black: "#919cbfff";
  --terminal_ansi_bright_blue: "#D6ACFFff";
  --terminal_ansi_bright_cyan: "#A4FFFFff";
  --terminal_ansi_bright_green: "#69FF94ff";
  --terminal_ansi_bright_magenta: "#FF92DFff";
  --terminal_ansi_bright_red: "#FF6E6Eff";
  --terminal_ansi_bright_white: "ffffffff";
  --terminal_ansi_bright_yellow: "#FFFFA5ff";
  --terminal_ansi_cyan: "#8be9fdff";
  --terminal_ansi_dim_black: "#1a1b23ff";
  --terminal_ansi_dim_blue: "#7766ccff";
  --terminal_ansi_dim_cyan: "#6fbacaff";
  --terminal_ansi_dim_green: "#40c862ff";
  --terminal_ansi_dim_magenta: "#cc619eff";
  --terminal_ansi_dim_red: "#cc4444ff";
  --terminal_ansi_dim_white: "#c6c6c2ff";
  --terminal_ansi_dim_yellow: "#c1c870ff";
  --terminal_ansi_green: "#50fa7bff";
  --terminal_ansi_magenta: "#ff79c6ff";
  --terminal_ansi_red: "#ff5555ff";
  --terminal_ansi_white: "#f8f8f2ff";
  --terminal_ansi_yellow: "#f1fa8cff";
  --terminal_background: "#000000ff";
  --terminal_bright_foreground: "#f9f9f5ff";
  --terminal_dim_foreground: "#c6c6c2ff";
  --terminal_foreground: "#f8f8f2ff";
  --text: "#f8f8f2ff";
  --text_accent: "#C9A8F9FF";
  --text_disabled: "#C9A8F950";
  --text_muted: "#a186c7ff";
  --text_placeholder: "#C9A8F980";
  --title_bar_background: "#BD93F910";
  --title_bar_foreground: "#ffffff";
  --toolbar_background: "#BD93F905";
  --unreachable: null;
  --unreachable_border: null;
  --warning: "#e6e373ff";
  --warning_background: "#242631ee";
  --warning_border: "#e6e373ff";
  --warning_foreground: "#ffffff";
  --player_1_background: "#bd93f9ff";
  --player_1_cursor: "#bd93f9ff";
  --player_1_selection: "#bd93f933";
  --player_2_background: "#50fa7bff";
  --player_2_cursor: "#50fa7bff";
  --player_2_selection: "#50fa7b33";
  --player_3_background: "#ff79c6ff";
  --player_3_cursor: "#ff79c6ff";
  --player_3_selection: "#ff79c633";
  --player_4_background: "#f1fa8cff";
  --player_4_cursor: "#f1fa8cff";
  --player_4_selection: "#f1fa8c33";
  --player_5_background: "#8be9fdff";
  --player_5_cursor: "#8be9fdff";
  --player_5_selection: "#8be9fd33";
  --player_6_background: "#ffb86cff";
  --player_6_cursor: "#ffb86cff";
  --player_6_selection: "#ffb86c33";
  --player_7_background: "#ff5555ff";
  --player_7_cursor: "#ff5555ff";
  --player_7_selection: "#ff555533";
  --syntax_attribute_color: "#ff79c6ff";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#ff79c6ff";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#6272a4ff";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#ff79c6ff";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#bd93f9ff";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#ff79c6ff";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#f8f8f2ff";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#f1fa8cff";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#ffb86cff";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#bd93f9ff";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#50fa7bff";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#bd93f9ff";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#ff79c6ff";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#f8f8f2ff";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#ff79c6ff";
  --syntax_link_text_font_style: "normal";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#8be9fdff";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#bd93f9ff";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#ff79c6ff";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: null;
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#6272a4ff";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: null;
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#8be9fdff";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#ff79c6ff";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#f8f8f2ff";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#ff79c6ff";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#8be9fdff";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#ff79c6ff";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#f1fa8cff";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#ff79c6ff";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#ff5555ff";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#ff79c6ff";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#bd93f9ff";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#ff79c6ff";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#50fa7bff";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#C9A8F9FF";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 400;
  --syntax_type_color: "#8be9fdff";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_type_super_color: "#8be9fdff";
  --syntax_type_super_font_style: "italic";
  --syntax_type_super_font_weight: null;
  --syntax_variable_color: "#f8f8f2ff";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_member_color: "#f8f8f2ff";
  --syntax_variable_member_font_style: null;
  --syntax_variable_member_font_weight: null;
  --syntax_variable_parameter_color: "#ffb86cff";
  --syntax_variable_parameter_font_style: "italic";
  --syntax_variable_parameter_font_weight: null;
  --syntax_variable_special_color: "#bd93f9ff";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
  --syntax_variant_color: "#bd93f9ff";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
