:root {
  --editor-active_line-background: "#FACDDD";
  --editor-background: "#FDF6E3";
  --editor-foreground: "#586E75";
  --editor-highlighted_line-background: "#FACDDD";
  --editor-invisible: "#93A1A180";
  --element-selected: "#FACDDD";
  --hint: "#acb0be";
  --hint-background: "#93A1A1";
  --hint-border: "#B58900";
  --syntax-attribute-color: "#93A1A1";
  --syntax-comment-color: "#93A1A1";
  --syntax-constant-color: "#B58900";
  --syntax-constructor-color: "#D30102";
  --syntax-embeddded-color: "#D30102";
  --syntax-function-color: "#D33682";
  --syntax-function-font_weight: 700;
  --syntax-function-builtin-color: "#cb4b16";
  --syntax-function-builtin-font_style: "italic";
  --syntax-keyword-color: "#657b83";
  --syntax-keyword-font_weight: 700;
  --syntax-keyword-storage-color: "#073642";
  --syntax-number-color: "#D33682";
  --syntax-primary-color: "#D30102";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#268BD2";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#268BD2";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#93A1A1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-regexp-color: "#D30102";
  --syntax-string-color: "#2AA198";
  --syntax-string-escape-color: "#878e98ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#D30102";
  --syntax-tag-color: "#268BD2";
  --syntax-tag-font_weight: 700;
  --syntax-type-color: "#859900";
  --syntax-type-font_weight: 700;
  --syntax-type-builtin-color: "#859900";
  --syntax-type-builtin-font_style: null;
  --syntax-variable-color: "#268BD2";
  --syntax-variable-font_style: "italic";
  --syntax-variable-special-color: "#CB4B16";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#f8f8f2ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
