:root {
  --background: "#181818ff";
  --border: "#505050ff";
  --border-variant: "#505050ff";
  --created: "#33d17aff";
  --deleted: "#ff3333ff";
  --drop_target-background: "#ffffff04";
  --editor-active_line-background: "#202020ff";
  --editor-active_line_number: "#d0d0d0ff";
  --editor-background: "#181818ff";
  --editor-document_highlight-read_background: "#ffffff04";
  --editor-document_highlight-write_background: "#ffffff04";
  --editor-foreground: "#d0d0d0ff";
  --editor-gutter-background: "#181818ff";
  --editor-line_number: "#505050ff";
  --editor-subheader-background: "#181818ff";
  --element-active: "#ffffff08";
  --element-background: "#ffffff02";
  --element-hover: "#ffffff04";
  --elevated_surface-background: "#181818ff";
  --error: "#ff3333ff";
  --error-background: "#ff3333ff";
  --error-border: "#00000000";
  --ghost_element-active: "#ffffff04";
  --ghost_element-background: "#00000000";
  --ghost_element-hover: "#ffffff02";
  --ghost_element-selected: "#ffffff04";
  --hint: "#505050ff";
  --ignored: "#505050ff";
  --modified: "#0077b6ff";
  --panel-background: "#181818ff";
  --scrollbar-thumb-border: "#505050ff";
  --scrollbar-track-background: "#181818ff";
  --scrollbar-track-border: "#505050ff";
  --scrollbar_thumb-background: "#ffffff08";
  --search-match_background: "#00c0ff30";
  --status_bar-background: "#181818ff";
  --tab-active_background: "#181818ff";
  --tab-inactive_background: "#101010ff";
  --tab_bar-background: "#101010ff";
  --terminal-ansi-black: "#000000ff";
  --terminal-ansi-blue: "#0077b6ff";
  --terminal-ansi-bright_black: "#404040ff";
  --terminal-ansi-bright_blue: "#48bfe3ff";
  --terminal-ansi-bright_cyan: "#ade8f4ff";
  --terminal-ansi-bright_green: "#99e8bdff";
  --terminal-ansi-bright_magenta: "#b388ebff";
  --terminal-ansi-bright_red: "#ff5a5fff";
  --terminal-ansi-bright_white: "#ffffffff";
  --terminal-ansi-bright_yellow: "#fcefb4ff";
  --terminal-ansi-cyan: "#00b4d8ff";
  --terminal-ansi-green: "#33d17aff";
  --terminal-ansi-magenta: "#6d23b6ff";
  --terminal-ansi-red: "#d00000ff";
  --terminal-ansi-white: "#e0e0e0ff";
  --terminal-ansi-yellow: "#ffea00ff";
  --terminal-background: "#181818ff";
  --text: "#d0d0d0ff";
  --text-accent: "#d0d0d0ff";
  --text-disabled: "#505050ff";
  --text-muted: "#b0b0b0ff";
  --text-placeholder: "#505050ff";
  --title_bar-background: "#181818ff";
  --title_bar-inactive_background: "#181818ff";
  --toolbar-background: "#181818ff";
  --warning: "#e0c000ff";
  --warning-background: "#a09000ff";
  --warning-border: "#00000000";
  --player-1-cursor: "#ffffffff";
  --player-1-selection: "#ffffff04";
  --syntax-boolean-color: "#62a0eaff";
  --syntax-comment-color: "#77767bff";
  --syntax-comment-doc-color: "#77767bff";
  --syntax-constant-color: "#62a0eaff";
  --syntax-constructor-color: "#d0d0d0ff";
  --syntax-embedded-color: "#dc8addff";
  --syntax-emphasis-color: "#d0d0d0ff";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#ffffffff";
  --syntax-emphasis-strong-font_weight: 600;
  --syntax-enum-color: "#8ff0a4ff";
  --syntax-function-color: "#ffbe6fff";
  --syntax-hint-color: "#d0d0d0ff";
  --syntax-keyword-color: "#c061cbff";
  --syntax-label-color: "#d0d0d0ff";
  --syntax-link_text-color: "#d0d0d0ff";
  --syntax-link_uri-color: "#62a0eaff";
  --syntax-link_uri-font_style: "italic";
  --syntax-number-color: "#8ff0a4ff";
  --syntax-operator-color: "#62a0eaff";
  --syntax-property-color: "#99c1f1ff";
  --syntax-punctuation-color: "#d0d0d0ff";
  --syntax-punctuation-bracket-color: "#d0d0d0ff";
  --syntax-punctuation-delimiter-color: "#d0d0d0ff";
  --syntax-punctuation-list_marker-color: "#ffffffff";
  --syntax-punctuation-list_marker-font_weight: 800;
  --syntax-punctuation-special-color: "#c061cbff";
  --syntax-string-color: "#f99186ff";
  --syntax-string-escape-color: "#ffbe6fff";
  --syntax-string-regex-color: "#f99186ff";
  --syntax-string-special-color: "#f99186ff";
  --syntax-string-special-symbol-color: "#f99186ff";
  --syntax-tag-color: "#8ff0a4ff";
  --syntax-text-literal-color: "#8ff0a4ff";
  --syntax-title-color: "#78aeedff";
  --syntax-type-color: "#8ff0a4ff";
  --syntax-type-super-color: "#8ff0a4ff";
  --syntax-variable-color: "#99c1f1ff";
  --syntax-variable-parameter-color: "#99c1f1ff";
  --syntax-variable-special-color: "#62a0eaff";
}
