:root {
  --background: "#D3E3EE";
  --border: "#D3E3EE";
  --border-disabled: "#EEF5F5";
  --border-focused: "#CBEFF0";
  --border-selected: "#66CCD8";
  --border-transparent: "#EEF5F5";
  --border-variant: "#D3E3EE";
  --conflict: "#BB6D6D";
  --created: "#669172AA";
  --deleted: "#F5CACA";
  --drop_target-background: "#D3E3EE";
  --editor-active_line-background: "#D3E3EEAA";
  --editor-active_line_number: "#00BDB4A0";
  --editor-active_wrap_guide: "#F0DDF5";
  --editor-background: "#EEF5F5";
  --editor-document_highlight-read_background: "#1F424F11";
  --editor-foreground: "#4F3355";
  --editor-gutter-background: "#EEF5F5";
  --editor-indent_guide: "#D5D5D544";
  --editor-indent_guide_active: "#028DA933";
  --editor-line_number: "#004F4B33";
  --editor-wrap_guide: "#F1E0FF";
  --element-active: "#11AAC099";
  --element-background: "#CBEFF0";
  --element-hover: "#11AAC04C";
  --element-selected: "#11AAC033";
  --elevated_surface-background: "#D3E3EE";
  --error: "#772F2E";
  --error-background: "#E4B0B0";
  --ghost_element-active: "#11AAC066";
  --ghost_element-hover: "#53EEEF44";
  --ghost_element-selected: "#CBEFF0";
  --hidden: "#004F4B";
  --hint: "#88717F";
  --hint-background: "#99B3A3";
  --icon: "#DA0000";
  --icon-accent: "#0AFFFF";
  --icon-disabled: "#1515FF";
  --icon-muted: "#0AFF0A";
  --icon-placeholder: "#FFFF0D";
  --ignored: "#88717F55";
  --info: "#334FA4";
  --info-background: "#B0BADC";
  --link_text-hover: "#22777A";
  --modified: "#1198A488";
  --panel-background: "#D3E3EE";
  --predictive: "#DFBCFC";
  --renamed: "#00BDB4";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#444C7A";
  --scrollbar-track-background: "#EEF5F5";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#66CCD855";
  --status_bar-background: "#D3E3EE";
  --success: "#5B8867";
  --success-background: "#99B3A3";
  --surface-background: "#D3E3EE";
  --tab-active_background: "#EEF5F5";
  --tab-inactive_background: "#D3E3EE";
  --tab_bar-background: "#D3E3EE";
  --terminal-ansi-black: "#33271F";
  --terminal-ansi-blue: "#334FA4";
  --terminal-ansi-bright_black: "#44424A";
  --terminal-ansi-bright_blue: "#3357A7";
  --terminal-ansi-bright_cyan: "#44979F";
  --terminal-ansi-bright_green: "#6A9975";
  --terminal-ansi-bright_magenta: "#8452d5";
  --terminal-ansi-bright_red: "#b3434e";
  --terminal-ansi-bright_white: "#f4ece6";
  --terminal-ansi-bright_yellow: "#b86e28";
  --terminal-ansi-cyan: "#22777A";
  --terminal-ansi-dim_black: "#2d251f";
  --terminal-ansi-dim_blue: "#22558F";
  --terminal-ansi-dim_cyan: "#225F6E";
  --terminal-ansi-dim_green: "#30583c";
  --terminal-ansi-dim_magenta: "#802AB0";
  --terminal-ansi-dim_red: "#841111";
  --terminal-ansi-dim_white: "#C7C7C7";
  --terminal-ansi-dim_yellow: "#773300";
  --terminal-ansi-green: "#5B8867";
  --terminal-ansi-magenta: "#8A33CF";
  --terminal-ansi-red: "#A44444";
  --terminal-ansi-white: "#F0E0F0";
  --terminal-ansi-yellow: "#00BDB4";
  --terminal-background: "#D3E2EE";
  --terminal-bright_foreground: "#442A5C";
  --terminal-dim_foreground: "#5A3A63";
  --terminal-foreground: "#4F3355";
  --text: "#442A5C";
  --text-accent: "#5A3A63";
  --text-disabled: "#88717F";
  --text-muted: "#4F3355";
  --text-placeholder: "#004F4B";
  --title_bar-background: "#D3E3EE";
  --toolbar-background: "#EEF5F5";
  --warning: "#00BDB4";
  --warning-background: "#DDCCA3";
  --player-1-background: "#5B8867";
  --player-1-cursor: "#5B8867";
  --player-1-selection: "#44777A2A";
  --syntax-boolean-color: "#8A3A60";
  --syntax-comment-color: "#88717F";
  --syntax-comment-doc-color: "#88717F";
  --syntax-constant-color: "#8A3A60";
  --syntax-constructor-color: "#8A3A60";
  --syntax-function-color: "#22558F";
  --syntax-keyword-color: "#8A33CF";
  --syntax-number-color: "#BB6D6D";
  --syntax-operator-color: "#5A3A63";
  --syntax-preproc-color: "#8b369a";
  --syntax-property-color: "#334FA4";
  --syntax-punctuation-color: "#5A3A63";
  --syntax-punctuation-bracket-color: "#5A3A63";
  --syntax-punctuation-delimiter-color: "#5A3A63";
  --syntax-punctuation-list_marker-color: "#5A3A63";
  --syntax-punctuation-special-color: "#5A3A63";
  --syntax-string-color: "#5B8867";
  --syntax-string-escape-color: "#5B8867";
  --syntax-string-regex-color: "#773300";
  --syntax-string-special-color: "#225F6E";
  --syntax-string-special-symbol-color: "#A44444";
  --syntax-tag-color: "#802AB0";
  --syntax-text-literal-color: "#5B8867";
  --syntax-type-color: "#00BDB4";
  --syntax-variable-color: "#22777A";
  --syntax-variable-special-color: "#A44444";
}
