:root {
  --background: "#111122";
  --border: "#111122";
  --border-disabled: "#1F1F2E";
  --border-focused: "#22333F";
  --border-selected: "#335577";
  --border-transparent: "#1F1F2E";
  --border-variant: "#111122";
  --conflict: "#FF955C";
  --created: "#669172CC";
  --deleted: "#F01DE666";
  --drop_target-background: "#111122";
  --editor-active_line-background: "#33557744";
  --editor-active_line_number: "#335577";
  --editor-active_wrap_guide: "#222E40";
  --editor-background: "#1F1F2E";
  --editor-document_highlight-read_background: "#1F424F88";
  --editor-foreground: "#C2C6CB";
  --editor-gutter-background: "#1F1F2E";
  --editor-indent_guide: "#222E40";
  --editor-indent_guide_active: "#335577";
  --editor-line_number: "#7788A450";
  --editor-wrap_guide: "#222E40";
  --element-active: "#F3AA6688";
  --element-background: "#22333F";
  --element-hover: "#F3AA665C";
  --element-selected: "#F3AA6622";
  --elevated_surface-background: "#11122";
  --error: "#CC5550";
  --error-background: "#3B2D3D";
  --ghost_element-active: "#F3AA6677";
  --ghost_element-hover: "#22335055";
  --ghost_element-selected: "#22333F";
  --hidden: "#7788A4";
  --hint: "#777A90";
  --hint-background: "#334A4C";
  --icon: "#DA0000";
  --icon-accent: "#0AFFFF";
  --icon-disabled: "#1515FF";
  --icon-muted: "#0AFF0A";
  --icon-placeholder: "#FFFF0D";
  --ignored: "#777A9055";
  --info: "#9ABBEC";
  --info-background: "#22333F";
  --link_text-hover: "#339596";
  --modified: "#53EEEF78";
  --panel-background: "#111122";
  --predictive: "#195362EE";
  --renamed: "#DECC73";
  --scrollbar-thumb-border: "#2E3336";
  --scrollbar-thumb-hover_background: "#53555D";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#335577";
  --status_bar-background: "#111122";
  --success: "#88BA99";
  --success-background: "#334A4C";
  --surface-background: "#111122";
  --tab-active_background: "#1F1F2E";
  --tab-inactive_background: "#111122";
  --tab_bar-background: "#111122";
  --terminal-ansi-black: "#393344";
  --terminal-ansi-blue: "#9ABBEC";
  --terminal-ansi-bright_black: "#53555D";
  --terminal-ansi-bright_blue: "#86BBDB";
  --terminal-ansi-bright_cyan: "#75CCD6";
  --terminal-ansi-bright_green: "#88BAA4";
  --terminal-ansi-bright_magenta: "#BAA0E2";
  --terminal-ansi-bright_red: "#D06677";
  --terminal-ansi-bright_white: "#DADADA";
  --terminal-ansi-bright_yellow: "#DDC58D";
  --terminal-ansi-cyan: "#339596";
  --terminal-ansi-dim_black: "#2E3336";
  --terminal-ansi-dim_blue: "#5588B8";
  --terminal-ansi-dim_cyan: "#54ABAC";
  --terminal-ansi-dim_green: "#709B86";
  --terminal-ansi-dim_magenta: "#8066B0";
  --terminal-ansi-dim_red: "#AC435D";
  --terminal-ansi-dim_white: "#bebebe";
  --terminal-ansi-dim_yellow: "#B8A266";
  --terminal-ansi-green: "#88BA99";
  --terminal-ansi-magenta: "#A088DD";
  --terminal-ansi-red: "#CC5550";
  --terminal-ansi-white: "#dfdfe0";
  --terminal-ansi-yellow: "#DECC73";
  --terminal-background: "#111122";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#D2D2D3";
  --text-accent: "#A8A8A9";
  --text-disabled: "#777A90";
  --text-muted: "#C2C6CB88";
  --text-placeholder: "#7788A4";
  --title_bar-background: "#111122";
  --toolbar-background: "#1F1F2E";
  --warning: "#DECC73";
  --warning-background: "#552A10";
  --player-1-background: "#88BA99";
  --player-1-cursor: "#88BA99";
  --player-1-selection: "#81b29a3D";
  --syntax-boolean-color: "#F0B080";
  --syntax-comment-color: "#777A90";
  --syntax-comment-doc-color: "#777A90";
  --syntax-constant-color: "#F0B080";
  --syntax-constructor-color: "#F0B080";
  --syntax-function-color: "#86BBDB";
  --syntax-keyword-color: "#A088DD";
  --syntax-number-color: "#FF955C";
  --syntax-operator-color: "#A8A8A9";
  --syntax-preproc-color: "#DC88D9";
  --syntax-property-color: "#9ABBEC";
  --syntax-punctuation-color: "#A8A8A9";
  --syntax-punctuation-bracket-color: "#A8A8A9";
  --syntax-punctuation-delimiter-color: "#A8A8A9";
  --syntax-punctuation-list_marker-color: "#A8A8A9";
  --syntax-punctuation-special-color: "#A8A8A9";
  --syntax-string-color: "#88BA99";
  --syntax-string-escape-color: "#88BA99";
  --syntax-string-regex-color: "#DDC58D";
  --syntax-string-special-color: "#75CCD6";
  --syntax-string-special-symbol-color: "#CC5550";
  --syntax-tag-color: "#8066B0";
  --syntax-text-literal-color: "#88BA99";
  --syntax-type-color: "#DECC73";
  --syntax-variable-color: "#339596";
  --syntax-variable-special-color: "#CC5550";
}
