:root {
  --background: "#eceff4";
  --border: "#e1e4e8";
  --border_disabled: "#e1e4e8";
  --border_focused: "#2188ff";
  --border_selected: "#e1e4e8";
  --border_transparent: "#e1e4e8";
  --border_variant: "#e1e4e8";
  --conflict: "#e36209";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#28a745";
  --created_background: null;
  --created_border: null;
  --deleted: "#d73a49";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: null;
  --editor_active_line_background: "#f6f8fa";
  --editor_active_line_number: "#24292e";
  --editor_active_wrap_guide: "#e1e4e8";
  --editor_background: "#eceff4";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#24292e";
  --editor_gutter_background: "#eceff4";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#1b1f234d";
  --editor_subheader_background: "#e5e9f0";
  --editor_wrap_guide: "#e1e4e8";
  --element_active: null;
  --element_background: "#159739";
  --element_disabled: null;
  --element_hover: "#ebf0f4";
  --element_selected: "#e2e5e9";
  --elevated_surface_background: "#fafbfc";
  --error: null;
  --error_background: null;
  --error_border: null;
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#ebf0f4";
  --ghost_element_selected: "#e2e5e9";
  --hidden: "#6a737d";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#969696ff";
  --hint_background: null;
  --hint_border: null;
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#959da5";
  --ignored_background: null;
  --ignored_border: null;
  --info: null;
  --info_background: null;
  --info_border: null;
  --link_text_hover: "#032f62";
  --modified: "#2188ff";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --panel_background: "#f6f8fa";
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#959da533";
  --scrollbar_thumb_border: "#959da533";
  --scrollbar_thumb_hover_background: "#959da544";
  --scrollbar_track_background: "#eceff4";
  --scrollbar_track_border: "#ffffff";
  --search_match_background: null;
  --status_bar_background: "#e5e9f0";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: "#f6f8fa";
  --tab_active_background: "#eceff4";
  --tab_inactive_background: "#e5e9f0";
  --tab_bar_background: "#e5e9f0";
  --terminal_ansi_black: null;
  --terminal_ansi_blue: null;
  --terminal_ansi_bright_black: null;
  --terminal_ansi_bright_blue: null;
  --terminal_ansi_bright_cyan: null;
  --terminal_ansi_bright_green: null;
  --terminal_ansi_bright_magenta: null;
  --terminal_ansi_bright_red: null;
  --terminal_ansi_bright_white: null;
  --terminal_ansi_bright_yellow: null;
  --terminal_ansi_cyan: null;
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: null;
  --terminal_ansi_magenta: null;
  --terminal_ansi_red: null;
  --terminal_ansi_white: null;
  --terminal_ansi_yellow: null;
  --terminal_background: null;
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#444d56";
  --text_accent: null;
  --text_disabled: null;
  --text_muted: "#6a737d";
  --text_placeholder: null;
  --title_bar_background: "#e5e9f0";
  --title_bar_inactive_background: "#eceff4";
  --toolbar_background: "#eceff4";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: null;
  --warning_background: null;
  --warning_border: null;
  --syntax_attribute_color: "#0D7579";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_comment_color: "#6A737D";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#6A737D";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#3B4252";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#0D7579";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#24292E";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#24292E";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_keyword_color: "#D73A49";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#509546";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#CB5C69";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#CB5C69";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#3B4252";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#CB5C69";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_string_color: "#032F62";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#032F62";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#032F62";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#032F62";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#032F62";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#0D7579";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#032F62";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#509546";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_variable_color: "#3B4252";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#0C60A5";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
