:root {
  --background: "#1E1E1E";
  --border: null;
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --conflict: "#D16969";
  --conflict-background: "#191919";
  --conflict-border: "#353535";
  --created: "#658955";
  --created-background: "#191919";
  --created-border: "#353535";
  --deleted: "#D16969";
  --deleted-background: "#191919";
  --deleted-border: "#353535";
  --drop_target-background: "#383B3D";
  --editor-active_line-background: null;
  --editor-active_line_number: "#CACCCA";
  --editor-active_wrap_guide: null;
  --editor-background: "#1E1E1E";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#CACCCA";
  --editor-gutter-background: "#1E1E1E";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: null;
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: null;
  --element-selected: null;
  --elevated_surface-background: null;
  --error: "#D16969";
  --error-background: "#191919";
  --error-border: "#353535";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: null;
  --ghost_element-selected: null;
  --hidden: null;
  --hidden-background: "#191919";
  --hidden-border: "#353535";
  --hint: "#969696";
  --hint-background: "#191919";
  --hint-border: "#353535";
  --icon: null;
  --icon-accent: "#FFC190";
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#808080";
  --ignored-background: "#191919";
  --ignored-border: "#353535";
  --info: "#6AAEBB";
  --info-background: "#191919";
  --info-border: "#353535";
  --link_text-hover: null;
  --modified: "#D7BA7D";
  --modified-background: "#191919";
  --modified-border: "#353535";
  --pane-focused_border: null;
  --panel-background: null;
  --panel-focused_border: null;
  --predictive: "#606060";
  --predictive-background: "#191919";
  --predictive-border: "#353535";
  --renamed: null;
  --renamed-background: "#191919";
  --renamed-border: "#353535";
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#1E1E1E";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: null;
  --search-match_background: null;
  --status_bar-background: "#303030";
  --success: null;
  --success-background: "#191919";
  --success-border: "#353535";
  --surface-background: null;
  --tab-active_background: null;
  --tab-inactive_background: null;
  --tab_bar-background: null;
  --terminal-ansi-black: "#282727";
  --terminal-ansi-blue: "#6396BD";
  --terminal-ansi-bright_black: "#444444";
  --terminal-ansi-bright_blue: "#6396BD";
  --terminal-ansi-bright_cyan: "#61AC93";
  --terminal-ansi-bright_green: "#69AD7A";
  --terminal-ansi-bright_magenta: "#DB89C0";
  --terminal-ansi-bright_red: "#E05656";
  --terminal-ansi-bright_white: "#E4E4E4";
  --terminal-ansi-bright_yellow: "#DDB96C";
  --terminal-ansi-cyan: "#61AC93";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#69AD7A";
  --terminal-ansi-magenta: "#DB89C0";
  --terminal-ansi-red: "#E05656";
  --terminal-ansi-white: "#DDDDDD";
  --terminal-ansi-yellow: "#DDB96C";
  --terminal-background: "#161616";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#CACCCA";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: null;
  --text-placeholder: null;
  --title_bar-background: null;
  --toolbar-background: "#1E1E1E";
  --unreachable: null;
  --unreachable-background: "#191919";
  --unreachable-border: "#353535";
  --warning: "#D7BA7D";
  --warning-background: "#191919";
  --warning-border: "#353535";
  --syntax-attribute-color: "#CACCCA";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#6396BD";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6EA37B";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6EA37B";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#6396BD";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d7ba7d";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#FFC190";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#A3A2A3";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#A1C7CE";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#A3A3A3";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#CACCCA";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#A3A3A3";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#A3A3A3";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#A3A3A3";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#A3A3A3";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#A3A3A3";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#6AAEBB";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#6AAEBB";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#6AAEBB";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#6AAEBB";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#6AAEBB";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#FFC190";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#6AAEBB";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#A3A3A3";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#CACCCA";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#CACCCA";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
