:root {
  --border: "#202428";
  --border-disabled: "#202428";
  --border-focused: "#000000";
  --border-selected: "#202428";
  --border-transparent: "#202428";
  --border-variant: "#202428";
  --conflict: "#fecf72ff";
  --conflict-background: "#574018ff";
  --conflict-border: "#765a29ff";
  --created: "#d5fe80ff";
  --created-background: "#426117ff";
  --created-border: "#5d7e2cff";
  --deleted: "#f18779ff";
  --deleted-background: "#481a1bff";
  --deleted-border: "#662e2dff";
  --drop_target-background: "#9a9a9880";
  --editor-active_line-background: "#111111a0";
  --editor-active_line_number: "#cccac2ff";
  --editor-active_wrap_guide: "#cccac21a";
  --editor-background: "#242835ff";
  --editor-document_highlight-read_background: "#CC0033";
  --editor-document_highlight-write_background: "#C51605A0";
  --editor-foreground: "#cccac2ff";
  --editor-gutter-background: "#242835ff";
  --editor-highlighted_line-background: "#353944ff";
  --editor-invisible: "#787a7cff";
  --editor-line_number: "#cccac259";
  --editor-subheader-background: "#353944ff";
  --editor-wrap_guide: "#cccac20d";
  --element-active: "#53565dff";
  --element-background: "#353944ff";
  --element-disabled: "#353944ff";
  --element-hover: "#43464fff";
  --element-selected: "#53565dff";
  --elevated_surface-background: "#353944ff";
  --error: "#f18779ff";
  --error-background: "#481a1bff";
  --error-border: "#662e2dff";
  --ghost_element-active: "#53565dff";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#353944ff";
  --ghost_element-hover: "#43464fff";
  --ghost_element-selected: "#53565dff";
  --hidden: "#7b7d7fff";
  --hidden-background: "#464a52ee";
  --hidden-border: "#4d5058ff";
  --hint: "#7399a3ff";
  --hint-background: "#123950ff";
  --hint-border: "#24556fff";
  --icon: "#cccac2ff";
  --icon-accent: "#72cffeff";
  --icon-disabled: "#7b7d7fff";
  --icon-muted: "#9a9a98ff";
  --icon-placeholder: "#9a9a98ff";
  --ignored: "#7b7d7fff";
  --ignored-background: "#464a52ee";
  --ignored-border: "#53565dff";
  --info: "#72cffeff";
  --info-background: "#123950ff";
  --info-border: "#24556fff";
  --link_text-hover: "#72cffeff";
  --modified: "#fecf72ff";
  --modified-background: "#574018ff";
  --modified-border: "#765a29ff";
  --pane-focused_border: null;
  --panel-background: "#242835dd";
  --panel-focused_border: null;
  --predictive: "#6d839bff";
  --predictive-background: "#426117ff";
  --predictive-border: "#5d7e2cff";
  --renamed: "#72cffeff";
  --renamed-background: "#123950ff";
  --renamed-border: "#24556fff";
  --scrollbar-thumb-background: "#cccac24c";
  --scrollbar-thumb-border: "#43464fff";
  --scrollbar-thumb-hover_background: "#43464fff";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#323641ff";
  --search-match_background: "#73cffe66";
  --status_bar-background: "#464a52ee";
  --success: "#d5fe80ff";
  --success-background: "#426117ff";
  --success-border: "#5d7e2cff";
  --surface-background: "#353944ff";
  --tab-active_background: "#000000ff";
  --tab-inactive_background: "#353944ff";
  --tab_bar-background: "#353944ff";
  --terminal-ansi-black: "#242835ff";
  --terminal-ansi-blue: "#72cffeff";
  --terminal-ansi-bright_black: "#67696eff";
  --terminal-ansi-bright_blue: "#336d8dff";
  --terminal-ansi-bright_cyan: "#4c806fff";
  --terminal-ansi-bright_green: "#75993cff";
  --terminal-ansi-bright_magenta: "#2b6c7bff";
  --terminal-ansi-bright_red: "#833f3cff";
  --terminal-ansi-bright_white: "#cccac2ff";
  --terminal-ansi-bright_yellow: "#937237ff";
  --terminal-ansi-cyan: "#95e5cbff";
  --terminal-ansi-dim_black: "#cccac2ff";
  --terminal-ansi-dim_blue: "#c1e7ffff";
  --terminal-ansi-dim_cyan: "#cbf2e4ff";
  --terminal-ansi-dim_green: "#ecffc1ff";
  --terminal-ansi-dim_magenta: "#b7e7f2ff";
  --terminal-ansi-dim_red: "#fec4baff";
  --terminal-ansi-dim_white: "#898a8aff";
  --terminal-ansi-dim_yellow: "#ffe7b9ff";
  --terminal-ansi-green: "#d5fe80ff";
  --terminal-ansi-magenta: "#5bcde5ff";
  --terminal-ansi-red: "#f18779ff";
  --terminal-ansi-white: "#cccac2ff";
  --terminal-ansi-yellow: "#fecf72ff";
  --terminal-background: "#242835ff";
  --terminal-bright_foreground: "#cccac2ff";
  --terminal-dim_foreground: "#242835ff";
  --terminal-foreground: "#cccac2ff";
  --text: "#cccac2ff";
  --text-accent: "#72cffeff";
  --text-disabled: "#7b7d7fff";
  --text-muted: "#9a9a98ff";
  --text-placeholder: "#7b7d7fff";
  --title_bar-background: "#464a52ee";
  --title_bar-inactive_background: "#353944ff";
  --toolbar-background: "#242835dd";
  --unreachable: "#9a9a98ff";
  --unreachable-background: "#464a52ee";
  --unreachable-border: "#53565dff";
  --warning: "#fecf72ff";
  --warning-background: "#574018ff";
  --warning-border: "#765a29ff";
  --player-1-background: "#72cffeff";
  --player-1-cursor: "#72cffeff";
  --player-1-selection: "#72cffe3d";
  --player-2-background: "#5bcde5ff";
  --player-2-cursor: "#5bcde5ff";
  --player-2-selection: "#5bcde53d";
  --player-3-background: "#fead66ff";
  --player-3-cursor: "#fead66ff";
  --player-3-selection: "#fead663d";
  --player-4-background: "#debffeff";
  --player-4-cursor: "#debffeff";
  --player-4-selection: "#debffe3d";
  --player-5-background: "#95e5cbff";
  --player-5-cursor: "#95e5cbff";
  --player-5-selection: "#95e5cb3d";
  --player-6-background: "#f18779ff";
  --player-6-cursor: "#f18779ff";
  --player-6-selection: "#f187793d";
  --player-7-background: "#fecf72ff";
  --player-7-cursor: "#fecf72ff";
  --player-7-selection: "#fecf723d";
  --player-8-background: "#d5fe80ff";
  --player-8-cursor: "#d5fe80ff";
  --player-8-selection: "#d5fe803d";
  --syntax-attribute-color: "#72cffeff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#dfbfffff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#526D82";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#526D82";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#dfbfffff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#72cffeff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#cccac2ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#72cffeff";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#72cffeff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#fead66ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#ffd173ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 700;
  --syntax-hint-color: "#7399a3ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#ffad65ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 700;
  --syntax-label-color: "#72cffeff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#fead66ff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d5fe80ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#dfbfffff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#f29e74ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: 600;
  --syntax-predictive-color: "#6d839bff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#cccac2ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#cccac2ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#72cffeff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#b4b3aeff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#b4b3aeff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#b4b3aeff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#b4b3aeff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#dfbfffff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#99c27cff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#9b9b99ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#95e6cbff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ffdfb3ff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#fead66ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#72cffeff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#fead66ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#cccac2ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#73cfffff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 700;
  --syntax-variable-color: "#F6BA6F";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#9C5D27";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#72cffeff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
