:root {
  --background: "#eff1f5";
  --border: "#acb0be";
  --border-disabled: "#acb0be";
  --border-focused: "#8839ef";
  --border-selected: "#acb0be";
  --border-transparent: "#acb0be";
  --border-variant: "#acb0be";
  --conflict: "#8839ef";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#40a02b";
  --created-background: null;
  --created-border: null;
  --deleted: "#d20f39";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#8839ef33";
  --editor-active_line-background: "#4c4f6912";
  --editor-active_line_number: "#002a35ff";
  --editor-active_wrap_guide: "#002a351a";
  --editor-background: "#eff1f5";
  --editor-document_highlight-read_background: "#95D2B3";
  --editor-document_highlight-write_background: "#95D2B3";
  --editor-foreground: "#4c4f69";
  --editor-gutter-background: "#eff1f5";
  --editor-highlighted_line-background: "#f3ed00";
  --editor-invisible: "#6c8287ff";
  --editor-line_number: "#002a3559";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#002a350d";
  --element-active: null;
  --element-background: "#8839ef";
  --element-disabled: null;
  --element-hover: "#ccd0da80";
  --element-selected: "#ccd0da";
  --elevated_surface-background: "#e6e9ef";
  --error: "#d20f39";
  --error-background: "#00000000";
  --error-border: "#00000000";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#ccd0da80";
  --ghost_element-selected: "#ccd0da";
  --hidden: "#9ca0b0";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#acb0be";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#9ca0b0";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#1e66f5";
  --info-background: "#00000000";
  --info-border: "#00000000";
  --link_text-hover: "#04a5e5";
  --modified: "#df8e1d";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#eff1f5";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#acb0be80";
  --scrollbar-thumb-hover_background: "#9ca0b0";
  --scrollbar-track-background: "#eff1f5";
  --scrollbar-track-border: "#4c4f6912";
  --scrollbar_thumb-background: "#acb0be80";
  --search-match_background: null;
  --status_bar-background: "#dce0e8";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#eff1f5";
  --tab-active_background: "#eff1f5";
  --tab-inactive_background: "#e6e9ef";
  --tab_bar-background: "#dce0e8";
  --terminal-ansi-black: "#bcc0cc";
  --terminal-ansi-blue: "#1e66f5";
  --terminal-ansi-bright_black: "#6c6f85";
  --terminal-ansi-bright_blue: "#1e66f5";
  --terminal-ansi-bright_cyan: "#04a5e5";
  --terminal-ansi-bright_green: "#40a02b";
  --terminal-ansi-bright_magenta: "#ea76cb";
  --terminal-ansi-bright_red: "#d20f39";
  --terminal-ansi-bright_white: "#5c5f77";
  --terminal-ansi-bright_yellow: "#df8e1d";
  --terminal-ansi-cyan: "#04a5e5";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#40a02b";
  --terminal-ansi-magenta: "#ea76cb";
  --terminal-ansi-red: "#d20f39";
  --terminal-ansi-white: "#acb0be";
  --terminal-ansi-yellow: "#df8e1d";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#4c4f69";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#9ca0b0";
  --text-placeholder: null;
  --title_bar-background: "#dce0e8";
  --toolbar-background: "#eff1f5";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#fe640b";
  --warning-background: "#00000000";
  --warning-border: "#00000000";
  --syntax-attribute-color: "#F349AB";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#9C5D27";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#A0A0A0";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#448C27";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#9C5D27";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#4B69C6";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#333333";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#448C27";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#448C27";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#F449AB";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#AA3731";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 700;
  --syntax-hint-color: "#F349AB";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#4B69C6";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 700;
  --syntax-label-color: "#002fa7ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#5b79e3ff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#3882b7ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#9C5D27";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#032f62ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: 600;
  --syntax-predictive-color: "#9b9ec6ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#383a41ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#383a41ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#9C5D27";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#777777";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#777777";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#777777";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#777777";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#777777";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#448C27";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#9C5D27";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#448C27";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#9C5D27";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#9C5D27";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#4B69C6";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#448C27";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#d3604fff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#b05923";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 700;
  --syntax-variable-color: "#7A3E9D";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#9C5D27";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#5b79e3ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
