:root {
  --background: "#263238";
  --border: "#37474F";
  --border-disabled: "#B0BEC5";
  --border-focused: "#546E7A";
  --border-selected: "#546E7A";
  --border-transparent: "#546E7A";
  --border-variant: "#00000000";
  --conflict: "#FF5252";
  --conflict-background: "#263238";
  --conflict-border: "#546E7A";
  --created: "#69F0AE";
  --created-background: "#263238";
  --created-border: "#546E7A";
  --deleted: "#FF5252";
  --deleted-background: "#263238";
  --deleted-border: "#546E7A";
  --drop_target-background: "#455A64";
  --editor-active_line-background: "#455A64";
  --editor-active_line_number: "#ECEFF1";
  --editor-active_wrap_guide: "#78909C";
  --editor-background: "#37474F";
  --editor-document_highlight-read_background: "#546E7A";
  --editor-document_highlight-write_background: "#546E7A";
  --editor-foreground: "#ECEFF1";
  --editor-gutter-background: "#37474F";
  --editor-highlighted_line-background: "#546E7A";
  --editor-invisible: "#78909C";
  --editor-line_number: "#78909C";
  --editor-subheader-background: "#263238";
  --editor-wrap_guide: "#546E7A";
  --element-active: "#546E7A";
  --element-background: "#37474F";
  --element-disabled: "#B0BEC5";
  --element-hover: "#546E7A";
  --element-selected: "#546E7A";
  --elevated_surface-background: "#37474F";
  --error: "#FF5252";
  --error-background: "#263238";
  --error-border: "#546E7A";
  --ghost_element-active: "#546E7A";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#00000000";
  --ghost_element-hover: "#546E7A";
  --ghost_element-selected: "#546E7A";
  --hidden: "#78909C";
  --hidden-background: "#263238";
  --hidden-border: "#546E7A";
  --hint: "#40C4FF";
  --hint-background: "#263238";
  --hint-border: "#546E7A";
  --icon: "#90A4AE";
  --icon-accent: "#80D8FF";
  --icon-disabled: "#B0BEC5";
  --icon-muted: "#90A4AE";
  --icon-placeholder: "#78909C";
  --ignored: "#90A4AE";
  --ignored-background: "#263238";
  --ignored-border: "#546E7A";
  --info: "#29B6F6";
  --info-background: "#263238";
  --info-border: "#546E7A";
  --link_text-hover: "#82B1FF";
  --modified: "#FFD740";
  --modified-background: "#263238";
  --modified-border: "#546E7A";
  --pane-focused_border: "#546E7A";
  --panel-background: "#263238";
  --panel-focused_border: "#37474F";
  --predictive: "#80DEEA";
  --predictive-background: "#263238";
  --predictive-border: "#546E7A";
  --renamed: "#69F0AE";
  --renamed-background: "#263238";
  --renamed-border: "#546E7A";
  --scrollbar-thumb-border: "#546E7A";
  --scrollbar-thumb-hover_background: "#78909C";
  --scrollbar-track-background: "#37474F";
  --scrollbar-track-border: "#546E7A";
  --scrollbar_thumb-background: "#546E7A";
  --search-match_background: "#546E7A";
  --status_bar-background: "#37474F";
  --success: "#69F0AE";
  --success-background: "#263238";
  --success-border: "#546E7A";
  --surface-background: "#37474F";
  --tab-active_background: "#37474F";
  --tab-inactive_background: "#263238";
  --tab_bar-background: "#263238";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#40C4FF";
  --terminal-ansi-bright_black: "#546E7A";
  --terminal-ansi-bright_blue: "#40C4FF";
  --terminal-ansi-bright_cyan: "#18FFFF";
  --terminal-ansi-bright_green: "#69F0AE";
  --terminal-ansi-bright_magenta: "#7C4DFF";
  --terminal-ansi-bright_red: "#FF5252";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#FFD740";
  --terminal-ansi-cyan: "#18FFFF";
  --terminal-ansi-dim_black: "#455A64";
  --terminal-ansi-dim_blue: "#4FC3F7";
  --terminal-ansi-dim_cyan: "#4DD0E1";
  --terminal-ansi-dim_green: "#81C784";
  --terminal-ansi-dim_magenta: "#9575CD";
  --terminal-ansi-dim_red: "#E57373";
  --terminal-ansi-dim_white: "#CFD8DC";
  --terminal-ansi-dim_yellow: "#FFF176";
  --terminal-ansi-green: "#69F0AE";
  --terminal-ansi-magenta: "#7C4DFF";
  --terminal-ansi-red: "#FF5252";
  --terminal-ansi-white: "#ECEFF1";
  --terminal-ansi-yellow: "#FFD740";
  --terminal-background: "#263238";
  --terminal-bright_foreground: "#ECEFF1";
  --terminal-dim_foreground: "#90A4AE";
  --terminal-foreground: "#ECEFF1";
  --text: "#CFD8DC";
  --text-accent: "#82B1FF";
  --text-disabled: "#78909C";
  --text-muted: "#90A4AE";
  --text-placeholder: "#90A4AE";
  --title_bar-background: "#263238";
  --toolbar-background: "#37474F";
  --unreachable: "#FF5252";
  --unreachable-background: "#263238";
  --unreachable-border: "#546E7A";
  --warning: "#FFD740";
  --warning-background: "#263238";
  --warning-border: "#546E7A";
  --player-1-background: "#546E7A";
  --player-1-cursor: "#03DAC5";
  --player-1-selection: "#546E7A88";
  --syntax-attribute-color: "#FFCCBC";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#FF9E80";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#B0BEC5";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#B0BEC5";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#FFCCBC";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#FFAB91";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ECEFF1";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ECEFF1";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#82B1FF";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#80D8FF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#FFCCBC";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#80D8FF";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#80D8FF";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#BB86FC";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: 700;
  --syntax-operator-color: "#B0BEC5";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-preproc-color: "#69F0AE";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-punctuation-color: "#CFD8DC";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#CFD8DC";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#CFD8DC";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#CFD8DC";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#CFD8DC";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#C3E88D";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#FFCCBC";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#C3E88D";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#C3E88D";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#C3E88D";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#FFAB91";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#C3E88D";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ECEFF1";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#FFCCBC";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#03DAC5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#FFAB91";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
