:root {
  --background: "#232136";
  --border: "#2d2a45";
  --border-disabled: "#2d2a45";
  --border-focused: "#223249";
  --border-selected: "#2d2a45";
  --border-transparent: "#2d2a45";
  --border-variant: "#2d2a45";
  --conflict: "#f6c177";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#a3be8c80";
  --created-background: null;
  --created-border: null;
  --deleted: "#eb6f9280";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#41516670";
  --editor-active_line-background: "#29394e";
  --editor-active_line_number: "#CDCECF";
  --editor-active_wrap_guide: "#2d2a45";
  --editor-background: "#232136";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#CDCECF";
  --editor-gutter-background: "#232136";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#6e6a86";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#2d2a45";
  --element-active: null;
  --element-background: "#63CDCF";
  --element-disabled: null;
  --element-hover: "#29394e75";
  --element-selected: "#29394e";
  --elevated_surface-background: "#232136";
  --error: "#eb6f9299";
  --error-background: null;
  --error-border: "#eb6f9200";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#29394e75";
  --ghost_element-selected: "#29394e";
  --hidden: "#6e6a86";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6e6a8681";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#7AD4D6";
  --modified: "#8be9fd80";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#232136";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#29394e81";
  --scrollbar-thumb-hover_background: "#415166AA";
  --scrollbar-track-background: "#232136";
  --scrollbar-track-border: "#19172620";
  --scrollbar_thumb-background: "#29394e81";
  --search-match_background: null;
  --status_bar-background: "#191726";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#232136";
  --tab-active_background: "#2d2a45";
  --tab-inactive_background: "#191726";
  --tab_bar-background: "#191726";
  --terminal-ansi-black: "#393552";
  --terminal-ansi-blue: "#569fba";
  --terminal-ansi-bright_black: "#484a55";
  --terminal-ansi-bright_blue: "#65b1cd";
  --terminal-ansi-bright_cyan: "#a6dae3";
  --terminal-ansi-bright_green: "#90c7ac";
  --terminal-ansi-bright_magenta: "#ccb1ed";
  --terminal-ansi-bright_red: "#D16982";
  --terminal-ansi-bright_white: "#E3E3E4";
  --terminal-ansi-bright_yellow: "#f9cb8c";
  --terminal-ansi-cyan: "#9ccfd8";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a3be8c";
  --terminal-ansi-magenta: "#c4a7e7";
  --terminal-ansi-red: "#eb6f92";
  --terminal-ansi-white: "#e0def4";
  --terminal-ansi-yellow: "#f6c177";
  --terminal-background: "#232136";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#e0def4";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#6e6a86";
  --text-placeholder: null;
  --title_bar-background: "#191726";
  --toolbar-background: "#2d2a45AA";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#f6c17788";
  --warning-background: null;
  --warning-border: "#FFFFFF00";
  --syntax-comment-color: "#526176";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#526176";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#F4A261";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#BAA1E2";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#86ABDC";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#FB94FF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#F4A261";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#9D79D6";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#9EFFFF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#AEAFB0";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#AEAFB0";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#AEAFB0";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#AEAFB0";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#AEAFB0";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#a3be8c";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#a3be8c";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#a3be8c";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#a3be8c";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#a3be8c";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#BAA1E2";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a3be8c";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#F4A261";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#D6D6D7";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#D6D6D7";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
