:root {
  --background: "#191919";
  --border: "#141414";
  --border_disabled: "#191919";
  --border_focused: "#141414";
  --border_selected: "#141414";
  --border_transparent: "#00000000";
  --border_variant: "#141414";
  --conflict: "#fee56cff";
  --conflict_background: "#5c5014ff";
  --conflict_border: "#796b26ff";
  --created: "#686429";
  --created_background: "#68642980";
  --created_border: "#68642980";
  --deleted: "#f82871ff";
  --deleted_background: "#54051bff";
  --deleted_border: "#72092aff";
  --drop_target_background: "#191919";
  --editor_active_line_background: "#00000000";
  --editor_active_line_number: "#90909A";
  --editor_active_wrap_guide: "#00000000";
  --editor_background: "#191919";
  --editor_document_highlight_read_background: "#00000000";
  --editor_document_highlight_write_background: "#00000000";
  --editor_foreground: "#DEDEE3";
  --editor_gutter_background: "#191919";
  --editor_highlighted_line_background: "#00000000";
  --editor_invisible: "#00000000";
  --editor_line_number: "#90909A50";
  --editor_subheader_background: "#191919";
  --editor_wrap_guide: "#00000000";
  --element_active: "#19191980";
  --element_background: "#191919";
  --element_disabled: "#19191930";
  --element_hover: "#19191950";
  --element_selected: "#191919";
  --elevated_surface_background: "#1E1E22";
  --error: "#f82871ff";
  --error_background: "#54051bff";
  --error_border: "#72092aff";
  --ghost_element_active: "#26262A80";
  --ghost_element_background: "#141414";
  --ghost_element_disabled: "#19191930";
  --ghost_element_hover: "#26262A";
  --ghost_element_selected: "#1F1F22";
  --hidden: "#6b6b73ff";
  --hidden_background: "#262933ff";
  --hidden_border: "#292d37ff";
  --hint: "#618399ff";
  --hint_background: "#12231fff";
  --hint_border: "#183934ff";
  --icon: "#90909A";
  --icon_accent: "#DEDEE3";
  --icon_disabled: "#90909A30";
  --icon_muted: "#90909A50";
  --icon_placeholder: "#90909A50";
  --ignored: "#aca8aeff";
  --ignored_background: "#262933ff";
  --ignored_border: "#2b2f38ff";
  --info: "#D96B7B";
  --info_background: "#12231fff";
  --info_border: "#183934ff";
  --link_text_hover: "#7B6CB6";
  --modified: "#686429";
  --modified_background: "#68642980";
  --modified_border: "#68642980";
  --pane_focused_border: null;
  --panel_background: "#141414";
  --panel_focused_border: null;
  --predictive: "#315f70ff";
  --predictive_background: "#184618ff";
  --predictive_border: "#306129ff";
  --renamed: "#686429";
  --renamed_background: "#12231fff";
  --renamed_border: "#183934ff";
  --scrollbar_thumb_border: "#25252920";
  --scrollbar_thumb_hover_background: "#252529";
  --scrollbar_track_background: "#25252920";
  --scrollbar_track_border: "#25252920";
  --scrollbar_thumb_background: "#252529";
  --search_match_background: "#141414";
  --status_bar_background: "#141414";
  --success: "#96df71ff";
  --success_background: "#184618ff";
  --success_border: "#306129ff";
  --surface_background: "#191919";
  --tab_active_background: "#191919";
  --tab_inactive_background: "#141414";
  --tab_bar_background: "#141414";
  --terminal_ansi_black: "#24232A";
  --terminal_ansi_blue: "#009ACB";
  --terminal_ansi_bright_black: "#82828E80";
  --terminal_ansi_bright_blue: "#009ACB70";
  --terminal_ansi_bright_cyan: "#53B2F9";
  --terminal_ansi_bright_green: "#5CC84550";
  --terminal_ansi_bright_magenta: "#C74CEC70";
  --terminal_ansi_bright_red: "#B62F2F70";
  --terminal_ansi_bright_white: "#DEDEE370";
  --terminal_ansi_bright_yellow: "#D6CF1C70";
  --terminal_ansi_cyan: "#53B2F9";
  --terminal_ansi_dim_black: "#82828E80";
  --terminal_ansi_dim_blue: "#009ACB70";
  --terminal_ansi_dim_cyan: "#53B2F9";
  --terminal_ansi_dim_green: "#5CC845";
  --terminal_ansi_dim_magenta: "#C74CEC70";
  --terminal_ansi_dim_red: "#B62F2F70";
  --terminal_ansi_dim_white: "#DEDEE370";
  --terminal_ansi_dim_yellow: "#D6CF1C70";
  --terminal_ansi_green: "#5CC845";
  --terminal_ansi_magenta: "#C74CEC";
  --terminal_ansi_red: "#B62F2F";
  --terminal_ansi_white: "#DEDEE3";
  --terminal_ansi_yellow: "#D6CF1C";
  --terminal_background: "#101010";
  --terminal_bright_foreground: "#101010";
  --terminal_dim_foreground: "#101010";
  --terminal_foreground: "#101010";
  --text: "#82828E";
  --text_accent: "#DEDEE3";
  --text_disabled: "#82828E50";
  --text_muted: "#82828E70";
  --text_placeholder: "#82828E70";
  --title_bar_background: "#141414";
  --toolbar_background: "#191919";
  --unreachable: "#aca8aeff";
  --unreachable_background: "#262933ff";
  --unreachable_border: "#2b2f38ff";
  --warning: "#fee56cff";
  --warning_background: "#5c5014ff";
  --warning_border: "#796b26ff";
  --player_1_background: "#252529";
  --player_1_cursor: "#B2B2B2";
  --player_1_selection: "#3D3D44";
  --player_2_background: "#c74cecff";
  --player_2_cursor: "#c74cecff";
  --player_2_selection: "#c74cec3d";
  --player_3_background: "#f29c14ff";
  --player_3_cursor: "#f29c14ff";
  --player_3_selection: "#f29c143d";
  --player_4_background: "#893ea6ff";
  --player_4_cursor: "#893ea6ff";
  --player_4_selection: "#893ea63d";
  --player_5_background: "#08e7c5ff";
  --player_5_cursor: "#08e7c5ff";
  --player_5_selection: "#08e7c53d";
  --player_6_background: "#f82871ff";
  --player_6_cursor: "#f82871ff";
  --player_6_selection: "#f828713d";
  --player_7_background: "#fee56cff";
  --player_7_cursor: "#fee56cff";
  --player_7_selection: "#fee56c3d";
  --player_8_background: "#96df71ff";
  --player_8_cursor: "#96df71ff";
  --player_8_selection: "#96df713d";
  --syntax_attribute_color: "#BB7D49";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#8DCFDF";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#424247";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#424247";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#8DCFDF";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#8DCFDF";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#EE81C3";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#E962B4";
  --syntax_emphasis_font_style: null;
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#E962B4";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#7B6CB6";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#66D067";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#7B6CB6";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#EE81C3";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#DEDEE3";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#7B6CB6";
  --syntax_link_text_font_style: "italic";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#7B6CB6";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#8DCFDF";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#DEDEE3";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#66D067";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#66D067";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#7B6CB6";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#66D067";
  --syntax_property_font_style: "italic";
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#EE81C3";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#EE81C3";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#DEDEE3";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#EE81C3";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#EE81C3";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#CEC767";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#CEC767";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#CEC767";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#CEC767";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#CEC767";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#DEDEE3";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#DEDEE3";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#DEDEE3";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#7B6CB6";
  --syntax_type_font_style: "italic";
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#E962B4";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variant_color: "#DEDEE3";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
