:root {
  --background: "#191919";
  --border: "#141414";
  --border-disabled: "#191919";
  --border-focused: "#141414";
  --border-selected: "#141414";
  --border-transparent: "#00000000";
  --border-variant: "#141414";
  --conflict: "#fee56cff";
  --conflict-background: "#5c5014ff";
  --conflict-border: "#796b26ff";
  --created: "#686429";
  --created-background: "#68642980";
  --created-border: "#68642980";
  --deleted: "#f82871ff";
  --deleted-background: "#54051bff";
  --deleted-border: "#72092aff";
  --drop_target-background: "#191919";
  --editor-active_line-background: "#00000000";
  --editor-active_line_number: "#90909A";
  --editor-active_wrap_guide: "#00000000";
  --editor-background: "#191919";
  --editor-document_highlight-read_background: "#00000000";
  --editor-document_highlight-write_background: "#00000000";
  --editor-foreground: "#DEDEE3";
  --editor-gutter-background: "#191919";
  --editor-highlighted_line-background: "#00000000";
  --editor-invisible: "#00000000";
  --editor-line_number: "#90909A50";
  --editor-subheader-background: "#191919";
  --editor-wrap_guide: "#00000000";
  --element-active: "#19191980";
  --element-background: "#191919";
  --element-disabled: "#19191930";
  --element-hover: "#19191950";
  --element-selected: "#191919";
  --elevated_surface-background: "#1E1E22";
  --error: "#f82871ff";
  --error-background: "#54051bff";
  --error-border: "#72092aff";
  --ghost_element-active: "#26262A80";
  --ghost_element-background: "#141414";
  --ghost_element-disabled: "#19191930";
  --ghost_element-hover: "#26262A";
  --ghost_element-selected: "#1F1F22";
  --hidden: "#6b6b73ff";
  --hidden-background: "#262933ff";
  --hidden-border: "#292d37ff";
  --hint: "#618399ff";
  --hint-background: "#12231fff";
  --hint-border: "#183934ff";
  --icon: "#90909A";
  --icon-accent: "#DEDEE3";
  --icon-disabled: "#90909A30";
  --icon-muted: "#90909A50";
  --icon-placeholder: "#90909A50";
  --ignored: "#aca8aeff";
  --ignored-background: "#262933ff";
  --ignored-border: "#2b2f38ff";
  --info: "#D96B7B";
  --info-background: "#12231fff";
  --info-border: "#183934ff";
  --link_text-hover: "#7B6CB6";
  --modified: "#686429";
  --modified-background: "#68642980";
  --modified-border: "#68642980";
  --pane-focused_border: null;
  --panel-background: "#141414";
  --panel-focused_border: null;
  --predictive: "#315f70ff";
  --predictive-background: "#184618ff";
  --predictive-border: "#306129ff";
  --renamed: "#686429";
  --renamed-background: "#12231fff";
  --renamed-border: "#183934ff";
  --scrollbar-thumb-border: "#25252920";
  --scrollbar-thumb-hover_background: "#252529";
  --scrollbar-track-background: "#25252920";
  --scrollbar-track-border: "#25252920";
  --scrollbar_thumb-background: "#252529";
  --search-match_background: "#141414";
  --status_bar-background: "#141414";
  --success: "#96df71ff";
  --success-background: "#184618ff";
  --success-border: "#306129ff";
  --surface-background: "#191919";
  --tab-active_background: "#191919";
  --tab-inactive_background: "#141414";
  --tab_bar-background: "#141414";
  --terminal-ansi-black: "#24232A";
  --terminal-ansi-blue: "#009ACB";
  --terminal-ansi-bright_black: "#82828E80";
  --terminal-ansi-bright_blue: "#009ACB70";
  --terminal-ansi-bright_cyan: "#53B2F9";
  --terminal-ansi-bright_green: "#5CC84550";
  --terminal-ansi-bright_magenta: "#C74CEC70";
  --terminal-ansi-bright_red: "#B62F2F70";
  --terminal-ansi-bright_white: "#DEDEE370";
  --terminal-ansi-bright_yellow: "#D6CF1C70";
  --terminal-ansi-cyan: "#53B2F9";
  --terminal-ansi-dim_black: "#82828E80";
  --terminal-ansi-dim_blue: "#009ACB70";
  --terminal-ansi-dim_cyan: "#53B2F9";
  --terminal-ansi-dim_green: "#5CC845";
  --terminal-ansi-dim_magenta: "#C74CEC70";
  --terminal-ansi-dim_red: "#B62F2F70";
  --terminal-ansi-dim_white: "#DEDEE370";
  --terminal-ansi-dim_yellow: "#D6CF1C70";
  --terminal-ansi-green: "#5CC845";
  --terminal-ansi-magenta: "#C74CEC";
  --terminal-ansi-red: "#B62F2F";
  --terminal-ansi-white: "#DEDEE3";
  --terminal-ansi-yellow: "#D6CF1C";
  --terminal-background: "#101010";
  --terminal-bright_foreground: "#101010";
  --terminal-dim_foreground: "#101010";
  --terminal-foreground: "#101010";
  --text: "#82828E";
  --text-accent: "#DEDEE3";
  --text-disabled: "#82828E50";
  --text-muted: "#82828E70";
  --text-placeholder: "#82828E70";
  --title_bar-background: "#141414";
  --toolbar-background: "#191919";
  --unreachable: "#aca8aeff";
  --unreachable-background: "#262933ff";
  --unreachable-border: "#2b2f38ff";
  --warning: "#fee56cff";
  --warning-background: "#5c5014ff";
  --warning-border: "#796b26ff";
  --player-1-background: "#252529";
  --player-1-cursor: "#B2B2B2";
  --player-1-selection: "#3D3D44";
  --player-2-background: "#c74cecff";
  --player-2-cursor: "#c74cecff";
  --player-2-selection: "#c74cec3d";
  --player-3-background: "#f29c14ff";
  --player-3-cursor: "#f29c14ff";
  --player-3-selection: "#f29c143d";
  --player-4-background: "#893ea6ff";
  --player-4-cursor: "#893ea6ff";
  --player-4-selection: "#893ea63d";
  --player-5-background: "#08e7c5ff";
  --player-5-cursor: "#08e7c5ff";
  --player-5-selection: "#08e7c53d";
  --player-6-background: "#f82871ff";
  --player-6-cursor: "#f82871ff";
  --player-6-selection: "#f828713d";
  --player-7-background: "#fee56cff";
  --player-7-cursor: "#fee56cff";
  --player-7-selection: "#fee56c3d";
  --player-8-background: "#96df71ff";
  --player-8-cursor: "#96df71ff";
  --player-8-selection: "#96df713d";
  --syntax-attribute-color: "#BB7D49";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#8DCFDF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#424247";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#424247";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#8DCFDF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#8DCFDF";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#EE81C3";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#E962B4";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#E962B4";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#7B6CB6";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#66D067";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#7B6CB6";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#EE81C3";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#DEDEE3";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#7B6CB6";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#7B6CB6";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#8DCFDF";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#DEDEE3";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#66D067";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#66D067";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#7B6CB6";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#66D067";
  --syntax-property-font_style: "italic";
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#EE81C3";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#EE81C3";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#DEDEE3";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#EE81C3";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#EE81C3";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#CEC767";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#CEC767";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#CEC767";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#CEC767";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#CEC767";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#DEDEE3";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#DEDEE3";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#DEDEE3";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#7B6CB6";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#E962B4";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variant-color: "#DEDEE3";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
