:root {
  --background: "#0f0f0f";
  --border: "#ffffff10";
  --border-variant: "#ffffff10";
  --editor-active_line-background: "#ffffff10";
  --editor-background: "#0f0f0f";
  --editor-foreground: "#ffffff";
  --editor-gutter-background: "#0f0f0f";
  --editor-line_number: "#ffffff32";
  --ghost_element-background: "#ffffff08";
  --ghost_element-hover: "#ffffff10";
  --ghost_element-selected: "#ffffff10";
  --panel-background: "#0f0f0f";
  --scrollbar-track-border: "#ffffff20";
  --status_bar-background: "#0f0f0f";
  --surface-background: "#0f0f0f";
  --tab-active_background: "#0f0f0f";
  --tab-inactive_background: "#ffffff08";
  --tab_bar-background: "#0f0f0f";
  --terminal-background: "#0f0f0f";
  --title_bar-background: "#0f0f0f";
  --toolbar-background: "#0f0f0f";
  --syntax-comment-color: "#666666";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#a7a7a7";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-function-color: "#ffffff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#a7a7a7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#ffffff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-parameter-color: "#a7a7a7";
  --syntax-parameter-font_style: null;
  --syntax-parameter-font_weight: null;
  --syntax-property-color: "#ffffff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#a7a7a7";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-string-color: "#a7a7a7";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
}
