:root {
  --background: "#0d1117";
  --border: "#30363d";
  --border-disabled: "#30363d";
  --border-focused: "#1f6feb";
  --border-selected: "#30363d";
  --border-transparent: "#30363d";
  --border-variant: "#30363d";
  --conflict: "#db6d28";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#56d364";
  --created-background: null;
  --created-border: null;
  --deleted: "#f85149";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#6e76811a";
  --editor-active_line_number: "#e6edf3";
  --editor-active_wrap_guide: "#30363d";
  --editor-background: "#0d1117";
  --editor-document_highlight-read_background: "#6e76811a";
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#e6edf3";
  --editor-gutter-background: "#0d1117";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: "#2f3337ff";
  --editor-indent_guide_active: "#666870ff";
  --editor-invisible: null;
  --editor-line_number: "#6e7681";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#30363d";
  --element-active: null;
  --element-background: "#238636";
  --element-disabled: null;
  --element-hover: "#6e7681";
  --element-selected: "#6e768166";
  --elevated_surface-background: "#161b22";
  --error: null;
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#6e76811a";
  --ghost_element-selected: "#6e768166";
  --hidden: "#7d8590";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#7d8590";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6e7681";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#2f81f7";
  --modified: "#58a6ff";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#010409";
  --panel-focused_border: null;
  --predictive: "#7d8590";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#8b949e33";
  --scrollbar-thumb-hover_background: "#8b949e3d";
  --scrollbar-track-background: "#0d1117";
  --scrollbar-track-border: "#010409";
  --scrollbar_thumb-background: "#8b949e33";
  --search-match_background: null;
  --status_bar-background: "#0d1117";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#010409";
  --tab-active_background: "#0d1117";
  --tab-inactive_background: "#010409";
  --tab_bar-background: "#010409";
  --terminal-ansi-black: "#484f58";
  --terminal-ansi-blue: "#58a6ff";
  --terminal-ansi-bright_black: "#6e7681";
  --terminal-ansi-bright_blue: "#79c0ff";
  --terminal-ansi-bright_cyan: "#56d4dd";
  --terminal-ansi-bright_green: "#56d364";
  --terminal-ansi-bright_magenta: "#d2a8ff";
  --terminal-ansi-bright_red: "#ffa198";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#e3b341";
  --terminal-ansi-cyan: "#39c5cf";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#3fb950";
  --terminal-ansi-magenta: "#bc8cff";
  --terminal-ansi-red: "#ff7b72";
  --terminal-ansi-white: "#b1bac4";
  --terminal-ansi-yellow: "#d29922";
  --terminal-background: "#0d1117";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#e6edf3";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#7d8590";
  --text-placeholder: null;
  --title_bar-background: "#0d1117";
  --toolbar-background: "#0d1117";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#fbe557";
  --warning-background: "#161b22";
  --warning-border: "#30363d";
  --syntax-boolean-color: "#79c0ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#8b949e";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#8b949e";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#79c0ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#7ee787";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#e6edf3";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#e6edf3";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#d2a8ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ff7b72";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ffa657";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#a5d6ff";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#a5d6ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#79c0ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-string-color: "#a5d6ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ff7b72";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#a5d6ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#a5d6ff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#a5d6ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#7ee787";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a5d6ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ffa657";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#79c0ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ffa657";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#79c0ff";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
