:root {
  --background: "#FEFEFF";
  --border: "#00000010";
  --border_disabled: "#00000010";
  --border_focused: "#00000010";
  --border_selected: "#00000010";
  --border_transparent: "#00000010";
  --border_variant: "#00000010";
  --conflict: "#ff2090";
  --conflict_background: "#FEFEFF";
  --conflict_border: "#00000010";
  --created: "#62AA9B";
  --created_background: "#FEFEFF";
  --created_border: "#00000010";
  --deleted: "#ff2090";
  --deleted_background: "#FEFEFF";
  --deleted_border: "#00000010";
  --drop_target_background: "#506477";
  --editor_active_line_background: "#717cb425";
  --editor_active_line_number: "#969cbd";
  --editor_active_wrap_guide: "#ffffff30";
  --editor_background: "#FEFEFF";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#969cbd";
  --editor_gutter_background: "#FEFEFF";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#969cbd50";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#ffffff30";
  --element_active: null;
  --element_background: "#c0d0df";
  --element_disabled: null;
  --element_hover: "#00000000";
  --element_selected: "#00000000";
  --elevated_surface_background: "#FEFEFF";
  --error: "#ff2090";
  --error_background: "#FEFEFF";
  --error_border: "#00000010";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#00000000";
  --ghost_element_selected: "#00000000";
  --hidden: "#969cbd";
  --hidden_background: "#FEFEFF";
  --hidden_border: "#00000010";
  --hint: "#969696ff";
  --hint_background: "#FEFEFF";
  --hint_border: "#00000010";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#969cbd70";
  --ignored_background: "#FEFEFF";
  --ignored_border: "#00000010";
  --info: "#0EBFFF";
  --info_background: "#FEFEFF";
  --info_border: "#00000010";
  --link_text_hover: "#0EBFFF";
  --modified: "#0EBFFF";
  --modified_background: "#FEFEFF";
  --modified_border: "#00000010";
  --pane_focused_border: null;
  --panel_background: "#FEFEFF";
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: "#FEFEFF";
  --predictive_border: "#00000010";
  --renamed: null;
  --renamed_background: "#FEFEFF";
  --renamed_border: "#00000010";
  --scrollbar_thumb_background: "#ffffff80";
  --scrollbar_thumb_border: "#ffffff80";
  --scrollbar_thumb_hover_background: "#969cbd25";
  --scrollbar_track_background: "#FEFEFF";
  --scrollbar_track_border: "#00000000";
  --search_match_background: null;
  --status_bar_background: "#FEFEFF";
  --success: null;
  --success_background: "#FEFEFF";
  --success_border: "#00000010";
  --surface_background: "#FEFEFF";
  --tab_active_background: "#c0d0df60";
  --tab_inactive_background: "#FEFEFF";
  --tab_bar_background: "#FEFEFF";
  --terminal_ansi_black: "#FEFEFF";
  --terminal_ansi_blue: "#8ABACD";
  --terminal_ansi_bright_black: "#969cbd";
  --terminal_ansi_bright_blue: "#0EBFFF";
  --terminal_ansi_bright_cyan: "#0EBFFF";
  --terminal_ansi_bright_green: "#01DAB2";
  --terminal_ansi_bright_magenta: "#EB8394";
  --terminal_ansi_bright_red: "#ff2090";
  --terminal_ansi_bright_white: "#000000";
  --terminal_ansi_bright_yellow: "#FFD467";
  --terminal_ansi_cyan: "#8ABACD";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#01DAB2";
  --terminal_ansi_magenta: "#EB8394";
  --terminal_ansi_red: "#ff2090";
  --terminal_ansi_white: "#000000";
  --terminal_ansi_yellow: "#FFD467";
  --terminal_background: null;
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#969cbd";
  --text_accent: null;
  --text_disabled: null;
  --text_muted: "#969cbd";
  --text_placeholder: null;
  --title_bar_background: "#FEFEFF";
  --toolbar_background: "#00000000";
  --unreachable: null;
  --unreachable_background: "#FEFEFF";
  --unreachable_border: "#00000010";
  --warning: "#FFD467";
  --warning_background: "#FEFEFF";
  --warning_border: "#00000010";
  --syntax_attribute_color: "#91B4D5";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#01DAB2";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#969cbdB0";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#969cbdB0";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#01DAB2";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#CF9B9A";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#7390AA";
  --syntax_emphasis_font_style: null;
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#7390AA";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_keyword_color: "#969cbd";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#CF9B9A";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#01DAB2";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#01DAB2";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#01DAB2";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#0EBFFF";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_punctuation_color: "#969cbd";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#969cbd";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#969cbd";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#969cbd";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#969cbd";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#01DAB2";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#01DAB2";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#01DAB2";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#01DAB2";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#01DAB2";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#CF9B9A";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#01DAB2";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#CF9B9A";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#969cbd";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#EB8394";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#EB8394";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
