:root {
  --background: "#1c1b19";
  --border: "#918175";
  --border-disabled: "#918175";
  --border-focused: "#75715E";
  --border-selected: "#918175";
  --border-transparent: "#918175";
  --border-variant: "#918175";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: null;
  --created-background: null;
  --created-border: null;
  --deleted: null;
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#1c1b19";
  --editor-active_line-background: "#2d2d2d";
  --editor-active_line_number: "#fce8c3";
  --editor-active_wrap_guide: "#918175";
  --editor-background: "#1c1b19";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#fce8c3";
  --editor-gutter-background: "#1c1b19";
  --editor-highlighted_line-background: null;
  --editor-invisible: "#918175";
  --editor-line_number: "#918175";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#918175";
  --element-active: null;
  --element-background: "#2d2d2d";
  --element-disabled: null;
  --element-hover: "#4e453f";
  --element-selected: "#4e453f";
  --elevated_surface-background: "#1c1b19";
  --error: null;
  --error-background: null;
  --error-border: null;
  --ghost_element-active: "#fbb829";
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#4e453f";
  --ghost_element-selected: "#4e453f";
  --hidden: "#918175";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: null;
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#68a8e4";
  --modified: null;
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#121212";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#877c69B0";
  --scrollbar-thumb-hover_background: "#877c69";
  --scrollbar-track-background: "#1c1b19";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: "#877c69B0";
  --search-match_background: null;
  --status_bar-background: "#2d2c29";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#121212";
  --tab-active_background: "#4e453f";
  --tab-inactive_background: "#121212";
  --tab_bar-background: "#121212";
  --terminal-ansi-black: "#1c1b19";
  --terminal-ansi-blue: "#2c78bf";
  --terminal-ansi-bright_black: "#918175";
  --terminal-ansi-bright_blue: "#68a8e4";
  --terminal-ansi-bright_cyan: "#53fde9";
  --terminal-ansi-bright_green: "#98bc37";
  --terminal-ansi-bright_magenta: "#ff5c8f";
  --terminal-ansi-bright_red: "#f75341";
  --terminal-ansi-bright_white: "#fce8c3";
  --terminal-ansi-bright_yellow: "#fed06e";
  --terminal-ansi-cyan: "#0aaeb3";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#519f50";
  --terminal-ansi-magenta: "#e02c6d";
  --terminal-ansi-red: "#ef2f27";
  --terminal-ansi-white: "#d0bfa1";
  --terminal-ansi-yellow: "#fbb829";
  --terminal-background: "#1c1b19";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#fce8c3";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#918175";
  --text-placeholder: null;
  --title_bar-background: null;
  --toolbar-background: "#1c1b19";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: null;
  --warning-background: null;
  --warning-border: null;
  --player-1-selection: "#4e453f";
  --syntax-attribute-color: "#519f50";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#0aaeb3";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#75715E";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#75715E";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#0aaeb3";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ef2f27";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#519f50";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ef2f27";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#0aaeb3";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-string-color: "#fbb829";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#0aaeb3";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#fbb829";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#fbb829";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#fbb829";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ef2f27";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#fbb829";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#2c78bf";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#9ebac2";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#9ebac2";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
