:root {
  --background: "#282c33";
  --border: "#202428";
  --border-disabled: "#202428";
  --border-focused: "#202428";
  --border-selected: "#202428";
  --border-transparent: "#202428";
  --border-variant: "#202428";
  --created: "#a5e075";
  --deleted: "#e06c75";
  --editor-active_line-background: "#2c313c";
  --editor-active_line_number: "#dfc184";
  --editor-active_wrap_guide: "#495162";
  --editor-background: "#282c33";
  --editor-document_highlight-read_background: "#495162";
  --editor-foreground: "#abb2bf";
  --editor-gutter-background: "#282c33";
  --editor-invisible: "#495162";
  --editor-line_number: "#495162";
  --editor-wrap_guide: "#495162";
  --element-active: "#495162";
  --element-background: "#3a414e";
  --element-disabled: "#495162";
  --element-hover: "#495162";
  --element-selected: "#495162";
  --elevated_surface-background: "#2c313c";
  --error: "#e06c75";
  --error-background: "#503d47";
  --error-border: "#e06c75";
  --hint: "#abb2bf";
  --hint-background: "#324860";
  --icons-accent: "#dfc184";
  --ignored: "#636b78";
  --info: "#4aa5f0";
  --modified: "#e5c07b";
  --panel-background: "#282c33";
  --panel-focused_border: null;
  --predictive: "#4D5970";
  --scrollbar-thumb-background: "#abb2bf44";
  --scrollbar-thumb-border: "transparent";
  --scrollbar-track-background: "transparent";
  --status_bar-background: "#282c33";
  --surface-background: "#3a414e";
  --tab-active_background: "#282c33";
  --tab-inactive_background: "#202428";
  --tab_bar-background: "#202428";
  --terminal-ansi-black: "#3f4451";
  --terminal-ansi-blue: "#61afee";
  --terminal-ansi-cyan: "#56b6c2";
  --terminal-ansi-green: "#99c27c";
  --terminal-ansi-magenta: "#c678dd";
  --terminal-ansi-red: "#e06c75";
  --terminal-ansi-white: "#d9dcdf";
  --terminal-ansi-yellow: "#e5c07b";
  --terminal-background: "#282c33";
  --text: "#dfdfdf";
  --text-accent: "#dfc184";
  --text-disabled: "#495162";
  --text-muted: "#abb2bf";
  --text-placeholder: "#495162";
  --title_bar-background: "#282c33";
  --toolbar-background: "#282c33";
  --warning: "#d19a66";
  --player-1-background: "#d9dcdf";
  --player-1-cursor: "#d9dcdf";
  --player-1-selection: "#d9dcdf22";
  --player-2-background: "#61afee";
  --player-2-cursor: "#61afee";
  --player-2-selection: "#61afee44";
  --player-3-background: "#c678dd";
  --player-3-cursor: "#c678dd";
  --player-3-selection: "#c678dd44";
  --player-4-background: "#99c27c";
  --player-4-cursor: "#99c27c";
  --player-4-selection: "#99c27c44";
  --player-5-background: "#e06c75";
  --player-5-cursor: "#e06c75";
  --player-5-selection: "#e06c7544";
  --syntax-attribute-color: "#d19966";
  --syntax-boolean-color: "#d19966";
  --syntax-comment-color: "#7a808b";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#9cb1d8";
  --syntax-constant-color: "#d19966";
  --syntax-constructor-color: "#e06c75";
  --syntax-embedded-color: "#9cb1d8";
  --syntax-emphasis-color: "#c678dd";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#e5c07b";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#56b6c2";
  --syntax-function-color: "#61afee";
  --syntax-function-font_weight: 700;
  --syntax-hint-color: "#9cb1d8";
  --syntax-keyword-color: "#c678dd";
  --syntax-label-color: "#61afee";
  --syntax-link_text-color: "#61afee";
  --syntax-link_uri-color: "#c678dd";
  --syntax-number-color: "#e5c07b";
  --syntax-operator-color: "#56b6c2";
  --syntax-predictive-color: "#9cb1d8";
  --syntax-preproc-color: "#99c27c";
  --syntax-primary-color: "#c678dd";
  --syntax-property-color: "#e06c75";
  --syntax-punctuation-color: "#e5c07b";
  --syntax-punctuation-bracket-color: "#d19966";
  --syntax-punctuation-delimiter-color: "#e5c07b";
  --syntax-punctuation-list_marker-color: "#e5c07b";
  --syntax-punctuation-list_marker-font_weight: 700;
  --syntax-punctuation-special-color: "#c678dd";
  --syntax-string-color: "#99c27c";
  --syntax-string-escape-color: "#99c27c";
  --syntax-string-regex-color: "#99c27c";
  --syntax-string-special-color: "#56b6c2";
  --syntax-string-special-symbol-color: "#56b6c2";
  --syntax-tag-color: "#c678dd";
  --syntax-text-literal-color: "#99c27c";
  --syntax-title-color: "#e06c75";
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#e5c07b";
  --syntax-variable-color: "#d9dcdf";
  --syntax-variable-special-color: "#e5c07b";
  --syntax-variant-color: "#61afee";
}
