:root {
  --background: "#262933ff";
  --border: "#3F495FFF";
  --border-disabled: "#292d37ff";
  --border-focused: "#183934ff";
  --border-selected: "#183934ff";
  --border-transparent: "#00000000";
  --border-variant: "#59657EFF";
  --conflict: "#fee56cff";
  --conflict-background: "#5c5014ff";
  --conflict-border: "#796b26ff";
  --created: "#62E6CAFF";
  --created-background: "#184618ff";
  --created-border: "#306129ff";
  --deleted: "#f82871ff";
  --deleted-background: "#54051bff";
  --deleted-border: "#72092aff";
  --drop_target-background: "#aca8ae80";
  --editor-active_line-background: "#394256FF";
  --editor-active_line_number: "#f7f7f8ff";
  --editor-active_wrap_guide: "#f7f7f81a";
  --editor-background: "#272F3EFF";
  --editor-document_highlight-read_background: "#10a7931a";
  --editor-document_highlight-write_background: "#64646d66";
  --editor-foreground: "#F1EFE6FF";
  --editor-gutter-background: "#272F3EFF";
  --editor-highlighted_line-background: "#21242bff";
  --editor-invisible: "#64646dff";
  --editor-line_number: "#f7f7f859";
  --editor-subheader-background: "#21242bff";
  --editor-wrap_guide: "#f7f7f80d";
  --element-active: "#2a2f39ff";
  --element-background: "#21242bff";
  --element-disabled: "#21242bff";
  --element-hover: "#252931ff";
  --element-selected: "#2a2f39ff";
  --elevated_surface-background: "#21242bff";
  --error: "#f82871ff";
  --error-background: "#54051bff";
  --error-border: "#72092aff";
  --ghost_element-active: "#2a2f39ff";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#21242bff";
  --ghost_element-hover: "#252931ff";
  --ghost_element-selected: "#2a2f39ff";
  --hidden: "#6b6b73ff";
  --hidden-background: "#262933ff";
  --hidden-border: "#292d37ff";
  --hint: "#618399ff";
  --hint-background: "#12231fff";
  --hint-border: "#183934ff";
  --icon: "#f7f7f8ff";
  --icon-accent: "#10a793ff";
  --icon-disabled: "#6b6b73ff";
  --icon-muted: "#aca8aeff";
  --icon-placeholder: "#aca8aeff";
  --ignored: "#6b6b73ff";
  --ignored-background: "#262933ff";
  --ignored-border: "#2b2f38ff";
  --info: "#10a793ff";
  --info-background: "#12231fff";
  --info-border: "#183934ff";
  --link_text-hover: "#10a793ff";
  --modified: "#FFDD89FF";
  --modified-background: "#5c5014ff";
  --modified-border: "#796b26ff";
  --pane-focused_border: null;
  --panel-background: "#1D2028FF";
  --panel-focused_border: null;
  --predictive: "#315f70ff";
  --predictive-background: "#184618ff";
  --predictive-border: "#306129ff";
  --renamed: "#10a793ff";
  --renamed-background: "#12231fff";
  --renamed-border: "#183934ff";
  --scrollbar-thumb-background: "#f7f7f84c";
  --scrollbar-thumb-border: "#252931ff";
  --scrollbar-thumb-hover_background: "#252931ff";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#21232aff";
  --search-match_background: "#11A79366";
  --status_bar-background: "#1D2028FF";
  --success: "#96df71ff";
  --success-background: "#184618ff";
  --success-border: "#306129ff";
  --surface-background: "#21242bff";
  --tab-active_background: "#354265FF";
  --tab-inactive_background: "#232936FF";
  --tab_bar-background: "#1D2028FF";
  --terminal-ansi-black: "#E8E4CFFF";
  --terminal-ansi-blue: "#10a793ff";
  --terminal-ansi-bright_black: "#989898FF";
  --terminal-ansi-bright_blue: "#1a5148ff";
  --terminal-ansi-bright_cyan: "#008169ff";
  --terminal-ansi-bright_green: "#457c38ff";
  --terminal-ansi-bright_magenta: "#682681ff";
  --terminal-ansi-bright_red: "#8e0f3aff";
  --terminal-ansi-bright_white: "#f7f7f8ff";
  --terminal-ansi-bright_yellow: "#958334ff";
  --terminal-ansi-cyan: "#08e7c5ff";
  --terminal-ansi-dim_black: "#f7f7f8ff";
  --terminal-ansi-dim_blue: "#9cd4c7ff";
  --terminal-ansi-dim_cyan: "#a9f4e1ff";
  --terminal-ansi-dim_green: "#cef0b9ff";
  --terminal-ansi-dim_magenta: "#e7abf7ff";
  --terminal-ansi-dim_red: "#ffa3b5ff";
  --terminal-ansi-dim_white: "#87858cff";
  --terminal-ansi-dim_yellow: "#fef1b7ff";
  --terminal-ansi-green: "#96df71ff";
  --terminal-ansi-magenta: "#c74cecff";
  --terminal-ansi-red: "#f82871ff";
  --terminal-ansi-white: "#f7f7f8ff";
  --terminal-ansi-yellow: "#fee56cff";
  --terminal-background: "#232936FF";
  --terminal-bright_foreground: "#f7f7f8ff";
  --terminal-dim_foreground: "#1e2025ff";
  --terminal-foreground: "#F7F7F8FF";
  --text: "#F1EFE6FF";
  --text-accent: "#10a793ff";
  --text-disabled: "#6b6b73ff";
  --text-muted: "#D2E3EAFF";
  --text-placeholder: "#6b6b73ff";
  --title_bar-background: "#1D2028FF";
  --title_bar-inactive_background: "#21242bff";
  --toolbar-background: "#272F3EFF";
  --unreachable: "#aca8aeff";
  --unreachable-background: "#262933ff";
  --unreachable-border: "#2b2f38ff";
  --warning: "#fee56cff";
  --warning-background: "#5c5014ff";
  --warning-border: "#796b26ff";
  --player-1-background: "#10a793ff";
  --player-1-cursor: "#10a793ff";
  --player-1-selection: "#10a7933d";
  --player-2-background: "#c74cecff";
  --player-2-cursor: "#c74cecff";
  --player-2-selection: "#c74cec3d";
  --player-3-background: "#f29c14ff";
  --player-3-cursor: "#f29c14ff";
  --player-3-selection: "#f29c143d";
  --player-4-background: "#893ea6ff";
  --player-4-cursor: "#893ea6ff";
  --player-4-selection: "#893ea63d";
  --player-5-background: "#08e7c5ff";
  --player-5-cursor: "#08e7c5ff";
  --player-5-selection: "#08e7c53d";
  --player-6-background: "#f82871ff";
  --player-6-cursor: "#f82871ff";
  --player-6-selection: "#f828713d";
  --player-7-background: "#fee56cff";
  --player-7-cursor: "#fee56cff";
  --player-7-selection: "#fee56c3d";
  --player-8-background: "#96df71ff";
  --player-8-cursor: "#96df71ff";
  --player-8-selection: "#96df713d";
  --syntax-attribute-color: "#E88DFFFF";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#96df71ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#afabb1ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#afabb1ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#59CDFFFF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#E88DFFFF";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#f7f7f8ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#E88DFFFF";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#E88DFFFF";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#82FABDFF";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#fee56cff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#618399ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#E88DFFFF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#E88DFFFF";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#82FABDFF";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#FF77A7FF";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#96df71ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#E88DFFFF";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#315f70ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#f7f7f8ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#f7f7f8ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#59CDFFFF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#d8d5dbff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d8d5dbff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d8d5dbff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d8d5dbff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d8d5dbff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#82FABDFF";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#82FABDFF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#82FABDFF";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#82FABDFF";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#82FABDFF";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#E88DFFFF";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#82FABDFF";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#D59AFFFF";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#08e7c5ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#C4EDFFFF";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#C4EDFFFF";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#E88DFFFF";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
