:root {
  --accents: [];
  --background: "#161821";
  --background-appearance: "opaque";
  --border: "#0e1015";
  --border-disabled: "#0e1015";
  --border-focused: "#242940";
  --border-selected: "#0e1015";
  --border-transparent: "#0e1015";
  --border-variant: "#0e1015";
  --conflict: "#e2a478";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#b4be8280";
  --created-background: null;
  --created-border: null;
  --deleted: "#e2787880";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#84a0c620";
  --editor-active_line-background: "#1e2132";
  --editor-active_line_number: "#c6c8d1";
  --editor-active_wrap_guide: "#0e1015";
  --editor-background: "#161821";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#c6c8d1";
  --editor-gutter-background: "#161821";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: null;
  --editor-invisible: null;
  --editor-line_number: "#444b71";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#0e1015";
  --element-active: null;
  --element-background: "#161821";
  --element-disabled: null;
  --element-hover: "#1e2132";
  --element-selected: "#1e2132";
  --elevated_surface-background: "#0f1117";
  --error: "#e27878";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#1e2132";
  --ghost_element-selected: "#1e2132";
  --hidden: "#6b7089";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6b7089";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#84a0c6";
  --modified: "#b4be8280";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#0e1015";
  --panel-background: "#0e1015";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#24294080";
  --scrollbar-thumb-border: "#24294080";
  --scrollbar-thumb-hover_background: "#242940a0";
  --scrollbar-track-background: "#161821";
  --scrollbar-track-border: "#24294040";
  --search-match_background: null;
  --status_bar-background: "#0e1015";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#161821";
  --tab-active_background: "#161821";
  --tab-inactive_background: "#0e1015";
  --tab_bar-background: "#0e1015";
  --terminal-ansi-black: "#1e2132";
  --terminal-ansi-blue: "#84a0c6";
  --terminal-ansi-bright_black: "#6b7089";
  --terminal-ansi-bright_blue: "#91acd1";
  --terminal-ansi-bright_cyan: "#95c4ce";
  --terminal-ansi-bright_green: "#c0ca8e";
  --terminal-ansi-bright_magenta: "#ada0d3";
  --terminal-ansi-bright_red: "#e98989";
  --terminal-ansi-bright_white: "#d2d4de";
  --terminal-ansi-bright_yellow: "#e9b189";
  --terminal-ansi-cyan: "#89b8c2";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#b4be82";
  --terminal-ansi-magenta: "#a093c7";
  --terminal-ansi-red: "#e27878";
  --terminal-ansi-white: "#c6c8d1";
  --terminal-ansi-yellow: "#e2a478";
  --terminal-background: "#0e1015";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#c6c8d1";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#6b7089";
  --text-placeholder: null;
  --title_bar-background: "#0e1015";
  --title_bar-inactive_background: null;
  --toolbar-background: "#0e1015";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#e2a478";
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#a093c7";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: 500;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#6b7089";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: 500;
  --syntax-comment-doc-background_color: null;
  --syntax-comment-doc-color: "#6b7089";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: 500;
  --syntax-constant-background_color: null;
  --syntax-constant-color: "#a093c7";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: 500;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#84a0c6";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: 500;
  --syntax-emphasis-strong-background_color: null;
  --syntax-emphasis-strong-color: "#d2d4de";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-background_color: null;
  --syntax-function-color: "#c6c8d1";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 500;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#84a0c6";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 500;
  --syntax-link_text-background_color: null;
  --syntax-link_text-color: "#84a0c6";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: 500;
  --syntax-link_uri-background_color: null;
  --syntax-link_uri-color: "#84a0c6";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: 500;
  --syntax-number-background_color: null;
  --syntax-number-color: "#a093c7";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: 500;
  --syntax-operator-background_color: null;
  --syntax-operator-color: "#c6c8d1";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: 500;
  --syntax-property-background_color: null;
  --syntax-property-color: "#84a0c6";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: 500;
  --syntax-punctuation-background_color: null;
  --syntax-punctuation-color: "#84a0c6";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: 500;
  --syntax-punctuation-bracket-background_color: null;
  --syntax-punctuation-bracket-color: "#84a0c6";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: 500;
  --syntax-punctuation-delimiter-background_color: null;
  --syntax-punctuation-delimiter-color: "#84a0c6";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: 500;
  --syntax-punctuation-list_marker-background_color: null;
  --syntax-punctuation-list_marker-color: "#84a0c6";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: 500;
  --syntax-punctuation-special-background_color: null;
  --syntax-punctuation-special-color: "#84a0c6";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: 500;
  --syntax-string-background_color: null;
  --syntax-string-color: "#89b8c2";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: 500;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#89b8c2";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: 500;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#89b8c2";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: 500;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#89b8c2";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: 500;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#89b8c2";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: 500;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#84a0c6";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: 500;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#89b8c2";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: 500;
}
