:root {
  --accents: [];
  --background: "#161821";
  --background_appearance: "opaque";
  --border: "#0e1015";
  --border_disabled: "#0e1015";
  --border_focused: "#242940";
  --border_selected: "#0e1015";
  --border_transparent: "#0e1015";
  --border_variant: "#0e1015";
  --conflict: "#e2a478";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#b4be8280";
  --created_background: null;
  --created_border: null;
  --deleted: "#e2787880";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: "#84a0c620";
  --editor_active_line_background: "#1e2132";
  --editor_active_line_number: "#c6c8d1";
  --editor_active_wrap_guide: "#0e1015";
  --editor_background: "#161821";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#c6c8d1";
  --editor_gutter_background: "#161821";
  --editor_highlighted_line_background: null;
  --editor_indent_guide: null;
  --editor_indent_guide_active: null;
  --editor_invisible: null;
  --editor_line_number: "#444b71";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#0e1015";
  --element_active: null;
  --element_background: "#161821";
  --element_disabled: null;
  --element_hover: "#1e2132";
  --element_selected: "#1e2132";
  --elevated_surface_background: "#0f1117";
  --error: "#e27878";
  --error_background: null;
  --error_border: null;
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#1e2132";
  --ghost_element_selected: "#1e2132";
  --hidden: "#6b7089";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#969696ff";
  --hint_background: null;
  --hint_border: null;
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#6b7089";
  --ignored_background: null;
  --ignored_border: null;
  --info: null;
  --info_background: null;
  --info_border: null;
  --link_text_hover: "#84a0c6";
  --modified: "#b4be8280";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --pane_group_border: "#0e1015";
  --panel_background: "#0e1015";
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#24294080";
  --scrollbar_thumb_border: "#24294080";
  --scrollbar_thumb_hover_background: "#242940a0";
  --scrollbar_track_background: "#161821";
  --scrollbar_track_border: "#24294040";
  --search_match_background: null;
  --status_bar_background: "#0e1015";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: "#161821";
  --tab_active_background: "#161821";
  --tab_inactive_background: "#0e1015";
  --tab_bar_background: "#0e1015";
  --terminal_ansi_black: "#1e2132";
  --terminal_ansi_blue: "#84a0c6";
  --terminal_ansi_bright_black: "#6b7089";
  --terminal_ansi_bright_blue: "#91acd1";
  --terminal_ansi_bright_cyan: "#95c4ce";
  --terminal_ansi_bright_green: "#c0ca8e";
  --terminal_ansi_bright_magenta: "#ada0d3";
  --terminal_ansi_bright_red: "#e98989";
  --terminal_ansi_bright_white: "#d2d4de";
  --terminal_ansi_bright_yellow: "#e9b189";
  --terminal_ansi_cyan: "#89b8c2";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#b4be82";
  --terminal_ansi_magenta: "#a093c7";
  --terminal_ansi_red: "#e27878";
  --terminal_ansi_white: "#c6c8d1";
  --terminal_ansi_yellow: "#e2a478";
  --terminal_background: "#0e1015";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#c6c8d1";
  --text_accent: null;
  --text_disabled: null;
  --text_muted: "#6b7089";
  --text_placeholder: null;
  --title_bar_background: "#0e1015";
  --title_bar_inactive_background: null;
  --toolbar_background: "#0e1015";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#e2a478";
  --warning_background: null;
  --warning_border: null;
  --syntax_attribute_background_color: null;
  --syntax_attribute_color: "#a093c7";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: 500;
  --syntax_comment_background_color: null;
  --syntax_comment_color: "#6b7089";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: 500;
  --syntax_comment_doc_background_color: null;
  --syntax_comment_doc_color: "#6b7089";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: 500;
  --syntax_constant_background_color: null;
  --syntax_constant_color: "#a093c7";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: 500;
  --syntax_constructor_background_color: null;
  --syntax_constructor_color: "#84a0c6";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: 500;
  --syntax_emphasis_strong_background_color: null;
  --syntax_emphasis_strong_color: "#d2d4de";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_background_color: null;
  --syntax_function_color: "#c6c8d1";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: 500;
  --syntax_keyword_background_color: null;
  --syntax_keyword_color: "#84a0c6";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: 500;
  --syntax_link_text_background_color: null;
  --syntax_link_text_color: "#84a0c6";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: 500;
  --syntax_link_uri_background_color: null;
  --syntax_link_uri_color: "#84a0c6";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: 500;
  --syntax_number_background_color: null;
  --syntax_number_color: "#a093c7";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: 500;
  --syntax_operator_background_color: null;
  --syntax_operator_color: "#c6c8d1";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: 500;
  --syntax_property_background_color: null;
  --syntax_property_color: "#84a0c6";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: 500;
  --syntax_punctuation_background_color: null;
  --syntax_punctuation_color: "#84a0c6";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: 500;
  --syntax_punctuation_bracket_background_color: null;
  --syntax_punctuation_bracket_color: "#84a0c6";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: 500;
  --syntax_punctuation_delimiter_background_color: null;
  --syntax_punctuation_delimiter_color: "#84a0c6";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: 500;
  --syntax_punctuation_list_marker_background_color: null;
  --syntax_punctuation_list_marker_color: "#84a0c6";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: 500;
  --syntax_punctuation_special_background_color: null;
  --syntax_punctuation_special_color: "#84a0c6";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: 500;
  --syntax_string_background_color: null;
  --syntax_string_color: "#89b8c2";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: 500;
  --syntax_string_escape_background_color: null;
  --syntax_string_escape_color: "#89b8c2";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: 500;
  --syntax_string_regex_background_color: null;
  --syntax_string_regex_color: "#89b8c2";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: 500;
  --syntax_string_special_background_color: null;
  --syntax_string_special_color: "#89b8c2";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: 500;
  --syntax_string_special_symbol_background_color: null;
  --syntax_string_special_symbol_color: "#89b8c2";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: 500;
  --syntax_tag_background_color: null;
  --syntax_tag_color: "#84a0c6";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: 500;
  --syntax_text_literal_background_color: null;
  --syntax_text_literal_color: "#89b8c2";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: 500;
}
