:root {
  --background: "#0a0a1a";
  --border: "#2e3749";
  --border-disabled: "#474f69";
  --border-focused: "#20B2AA";
  --border-selected: "#20B2AA";
  --border-transparent: "#00000000";
  --border-variant: "#2e3749";
  --conflict: "#c4ad6a";
  --conflict-background: "#31220d";
  --conflict-border: "#4d3c1f";
  --created: "#719e6c";
  --created-background: "#121e0d";
  --created-border: "#28381f";
  --deleted: "#20B2AA";
  --deleted-background: "#200b0b";
  --deleted-border: "#3c1b1c";
  --drop_target-background: "#3a435880";
  --editor-active_line-background: "#2e3749bf";
  --editor-active_line_number: "#98a1be";
  --editor-active_wrap_guide: "#474f691a";
  --editor-background: "#0a0a1a";
  --editor-document_highlight-read_background: "#20B2AA1a";
  --editor-document_highlight-write_background: "#3a435866";
  --editor-foreground: "#98a1be";
  --editor-gutter-background: "#0a0a1a";
  --editor-highlighted_line-background: "#2e3749";
  --editor-invisible: "#474f69";
  --editor-line_number: "#474f69";
  --editor-subheader-background: "#1a222f";
  --editor-wrap_guide: "#474f690d";
  --element-active: "#26303d";
  --element-background: "#2e3749";
  --element-disabled: "#0a0a1a";
  --element-hover: "#3a4358";
  --element-selected: "#3a4358";
  --elevated_surface-background: "#1a222f";
  --error: "#be4663";
  --error-background: "#200b0b";
  --error-border: "#3c1b1c";
  --ghost_element-active: "#26303d";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#0a0a1a";
  --ghost_element-hover: "#3a4358";
  --ghost_element-selected: "#3a4358";
  --hidden: "#474f69";
  --hidden-background: "#0a0a1a";
  --hidden-border: "#2e3749";
  --hint: "#20B2AA";
  --hint-background: "#08142d";
  --hint-border: "#192b4b";
  --icon: "#98a1be";
  --icon-accent: "#20B2AA";
  --icon-disabled: "#474f69";
  --icon-muted: "#c7cad0";
  --icon-placeholder: "#c7cad0";
  --ignored: "#474f69";
  --ignored-background: "#0a0a1a";
  --ignored-border: "#2e3749";
  --info: "#20B2AA";
  --info-background: "#08142d";
  --info-border: "#192b4b";
  --link_text-hover: "#20B2AA";
  --modified: "#c4ad6a";
  --modified-background: "#31220d";
  --modified-border: "#4d3c1f";
  --pane-focused_border: "#20B2AA";
  --panel-background: "#1a222f";
  --panel-focused_border: "#20B2AA";
  --predictive: "#20B2AA";
  --predictive-background: "#08142d";
  --predictive-border: "#192b4b";
  --renamed: "#20B2AA";
  --renamed-background: "#08142d";
  --renamed-border: "#192b4b";
  --scrollbar-thumb-background: "#26303d";
  --scrollbar-thumb-border: "#26303d";
  --scrollbar-thumb-hover_background: "#3a4358";
  --scrollbar-track-background: "#0a0a1a";
  --scrollbar-track-border: "#0a0a1a";
  --search-match_background: "#20B2AA66";
  --status_bar-background: "#0a0a1a";
  --success: "#719e6c";
  --success-background: "#121e0d";
  --success-border: "#28381f";
  --surface-background: "#1a222f";
  --tab-active_background: "#2e3749";
  --tab-inactive_background: "#0a0a1a";
  --tab_bar-background: "#0a0a1a";
  --terminal-ansi-black: "#2f3441";
  --terminal-ansi-blue: "#20B2AA";
  --terminal-ansi-bright_black: "#3f4656";
  --terminal-ansi-bright_blue: "#648dc8";
  --terminal-ansi-bright_cyan: "#5497a6";
  --terminal-ansi-bright_green: "#91b171";
  --terminal-ansi-bright_magenta: "#9661b2";
  --terminal-ansi-bright_red: "#be4663";
  --terminal-ansi-bright_white: "#d6d6d6";
  --terminal-ansi-bright_yellow: "#c4ad6a";
  --terminal-ansi-cyan: "#4696a2";
  --terminal-ansi-dim_black: "#2F3441";
  --terminal-ansi-dim_blue: "#124B68";
  --terminal-ansi-dim_cyan: "#0A3F44";
  --terminal-ansi-dim_green: "#2D441B";
  --terminal-ansi-dim_magenta: "#582468";
  --terminal-ansi-dim_red: "#852830";
  --terminal-ansi-dim_white: "#363636";
  --terminal-ansi-dim_yellow: "#492D12";
  --terminal-ansi-green: "#719e6c";
  --terminal-ansi-magenta: "#a457bf";
  --terminal-ansi-red: "#20B2AA";
  --terminal-ansi-white: "#c7cad0";
  --terminal-ansi-yellow: "#c4ad6a";
  --terminal-background: "#0a0a1a";
  --terminal-bright_foreground: "#a3a9b4";
  --terminal-dim_foreground: "#474f69";
  --terminal-foreground: "#98a1be";
  --text: "#98a1be";
  --text-accent: "#20B2AA";
  --text-disabled: "#474f69";
  --text-muted: "#c7cad0";
  --text-placeholder: "#c7cad0";
  --title_bar-background: "#0a0a1a";
  --toolbar-background: "#1a222f";
  --unreachable: "#474f69";
  --unreachable-background: "#0a0a1a";
  --unreachable-border: "#2e3749";
  --warning: "#c4ad6a";
  --warning-background: "#31220d";
  --warning-border: "#4d3c1f";
  --player-1-background: "#20B2AA";
  --player-1-cursor: "#20B2AA";
  --player-1-selection: "#20B2AA3d";
  --player-2-background: "#20B2AA";
  --player-2-cursor: "#20B2AA";
  --player-2-selection: "#20B2AA3d";
  --player-3-background: "#c4ad6a";
  --player-3-cursor: "#c4ad6a";
  --player-3-selection: "#c4ad6a3d";
  --player-4-background: "#a457bf";
  --player-4-cursor: "#a457bf";
  --player-4-selection: "#a457bf3d";
  --player-5-background: "#4696a2";
  --player-5-cursor: "#4696a2";
  --player-5-selection: "#4696a23d";
  --player-6-background: "#20B2AA";
  --player-6-cursor: "#20B2AA";
  --player-6-selection: "#20B2AA3d";
  --player-7-background: "#c4ad6a";
  --player-7-cursor: "#c4ad6a";
  --player-7-selection: "#c4ad6a3d";
  --player-8-background: "#719e6c";
  --player-8-cursor: "#719e6c";
  --player-8-selection: "#719e6c3d";
  --syntax-attribute-color: "#c4ad6a";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#c4ad6a";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6F747E";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6F747E";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#c4ad6a";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#20B2AA";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#98a1be";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#a457bf";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c4ad6a";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#20B2AA";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#20B2AA";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#20B2AA";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#a457bf";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#20B2AA";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#20B2AA";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#a457bf";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#c4ad6a";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#98a1be";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#20B2AA";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#98a1be";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#98a1be";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#20B2AA";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#98a1be";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a3a9b4";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a3a9b4";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#20B2AA";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a457bf";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#719e6c";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#4696a2";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#20B2AA";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#4696a2";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#4696a2";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#20B2AA";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#719e6c";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#20B2AA";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#c4ad6a";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#20B2AA";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c4ad6a";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#20B2AA";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
