:root {
  --background: "#1e1e1e";
  --border: null;
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --conflict: "#d16969";
  --conflict-background: null;
  --conflict-border: "#1e1e1e";
  --created: "#88d169";
  --created-background: null;
  --created-border: "#1e1e1e";
  --deleted: "#d16969";
  --deleted-background: null;
  --deleted-border: "#1e1e1e";
  --drop_target-background: "#383b3d";
  --editor-active_line-background: null;
  --editor-active_line_number: "#d4d4d4";
  --editor-active_wrap_guide: null;
  --editor-background: "#1e1e1e";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#d4d4d4";
  --editor-gutter-background: "#1e1e1e";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#606060";
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: null;
  --element-selected: null;
  --elevated_surface-background: null;
  --error: "#d16969";
  --error-background: "#400000";
  --error-border: "#1e1e1e";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: null;
  --ghost_element-selected: null;
  --hidden: null;
  --hidden-background: null;
  --hidden-border: "#1e1e1e";
  --hint: "#969696ff";
  --hint-background: "#000040";
  --hint-border: "#1e1e1e";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#808080";
  --ignored-background: null;
  --ignored-border: "#1e1e1e";
  --info: "#9cdcfe";
  --info-background: "000040";
  --info-border: "#1e1e1e";
  --link_text-hover: null;
  --modified: "#f7da7d";
  --modified-background: null;
  --modified-border: "#1e1e1e";
  --pane-focused_border: null;
  --panel-background: null;
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: "#1e1e1e";
  --renamed: null;
  --renamed-background: null;
  --renamed-border: "#1e1e1e";
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#1e1e1e";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: null;
  --search-match_background: null;
  --status_bar-background: "#303030";
  --success: null;
  --success-background: null;
  --success-border: "#1e1e1e";
  --surface-background: null;
  --tab-active_background: null;
  --tab-inactive_background: null;
  --tab_bar-background: null;
  --terminal-ansi-black: "#303030";
  --terminal-ansi-blue: "#285dc7";
  --terminal-ansi-bright_black: "#808080";
  --terminal-ansi-bright_blue: "#9cdcfe";
  --terminal-ansi-bright_cyan: "#4ec9b0";
  --terminal-ansi-bright_green: "#b5cea8";
  --terminal-ansi-bright_magenta: "#c586c0";
  --terminal-ansi-bright_red: "#e64545";
  --terminal-ansi-bright_white: "#d4d4d4";
  --terminal-ansi-bright_yellow: "#ce9178";
  --terminal-ansi-cyan: "#4ec9b0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#58cc27";
  --terminal-ansi-magenta: "#c586c0";
  --terminal-ansi-red: "#d16969";
  --terminal-ansi-white: "#d4d4d4";
  --terminal-ansi-yellow: "#d7da7d";
  --terminal-background: "#1e1e1e";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: null;
  --text-accent: null;
  --text-disabled: null;
  --text-muted: null;
  --text-placeholder: null;
  --title_bar-background: null;
  --toolbar-background: "#1e1e1e";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: "#1e1e1e";
  --warning: "#d7ba7d";
  --warning-background: "#404000";
  --warning-border: "#1e1e1e";
  --player-1-background: "#808080";
  --player-1-cursor: "#808080";
  --player-1-selection: "#404040";
  --syntax-attribute-color: "#83a598ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d3869bff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#808080";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#808080";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fa9d0e";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#83a598ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#8ec07cff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#83a598ff";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#83a598ff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#fe7f18ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#fbcb00a0";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#fb4833ff";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-hint-color: "#8c957dff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#fb4833ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#83a598ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#8ec07cff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d3869bff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d3869bff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#8e8e8eff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#717363ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#fbf1c7ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#ebdbb2ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#ebdba2ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#d5c4a1ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a89984ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#e5d5adff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ebdbb2ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#e5d5adff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#98bb05ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#c6b697ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#fe7f18ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#d3869bff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#8ec07cff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8ec07cff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#83a598ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#b8bb25ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#fabd2eff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#83a598ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variant-color: "#83a598ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
