:root {
  --background: "#262427";
  --background_appearance: "opaque";
  --border: "#101010";
  --border_disabled: "#101010";
  --border_focused: "#101010";
  --border_selected: "#101010";
  --border_transparent: "#101010";
  --border_variant: "#101010";
  --conflict: "#FF7272";
  --conflict_background: "#262427";
  --conflict_border: "#FF7272";
  --created: "#BCDF59";
  --created_background: "#262427";
  --created_border: "#BCDF59";
  --deleted: "#FF7272";
  --deleted_background: "#262427";
  --deleted_border: "#FF7272";
  --drop_target_background: "#383438DD";
  --editor_active_line_background: "#333032";
  --editor_active_line_number: "#FCFCFC";
  --editor_active_wrap_guide: "#262427";
  --editor_background: "#262427";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#FCFCFC";
  --editor_gutter_background: "#262427";
  --editor_highlighted_line_background: "#484447";
  --editor_invisible: "#8B8B8B";
  --editor_line_number: "#A6A6A5";
  --editor_subheader_background: "#484447";
  --editor_wrap_guide: "#262427";
  --element_active: "#525052";
  --element_background: "#262026";
  --element_disabled: "#8B8B8B";
  --element_hover: "#424042";
  --element_selected: "#383438";
  --elevated_surface_background: "#2E2A2E";
  --error: "#FF7272";
  --error_background: "#262427";
  --error_border: "#FF7272";
  --ghost_element_active: "#525052";
  --ghost_element_background: "#262026";
  --ghost_element_disabled: "#8B8B8B";
  --ghost_element_hover: "#424042";
  --ghost_element_selected: "#383438";
  --hidden: "#4C4C4C";
  --hidden_background: "#262427";
  --hidden_border: "#4C4C4C";
  --hint: "#51CDE7";
  --hint_background: "#262427";
  --hint_border: "#AEE8F4";
  --icon: "#FCFCFC";
  --icon_accent: "#FCFCFC";
  --icon_disabled: "#8B8B8B";
  --icon_muted: "#A6A6A5";
  --icon_placeholder: "#A6A6A5";
  --ignored: "#7D7D7D";
  --ignored_background: "#262427";
  --ignored_border: "#7D7D7D";
  --info: "#49CAE4";
  --info_background: "#262427";
  --info_border: "#49CAE4";
  --link_text_hover: "#49CAE4";
  --modified: "#49CAE4";
  --modified_background: "#262427";
  --modified_border: "#49CAE4";
  --pane_focused_border: "#101010";
  --pane_group_border: "#101010";
  --panel_background: "#1E1D1F";
  --panel_focused_border: "#101010";
  --predictive: "#8B8B8B";
  --predictive_background: "#262427";
  --predictive_border: "#8B8B8B";
  --renamed: "#FFD271";
  --renamed_background: "#262427";
  --renamed_border: "#FFD271";
  --scrollbar_thumb_background: "#C1D9FF15";
  --scrollbar_thumb_border: "#C1D9FF15";
  --scrollbar_thumb_hover_background: "#C1D9FF30";
  --scrollbar_track_background: "#262427";
  --scrollbar_track_border: "#545452";
  --search_match_background: "#686068";
  --status_bar_background: "#1E1D1F";
  --success: "#C6E472";
  --success_background: "#262427";
  --success_border: "#C6E472";
  --surface_background: "#545054";
  --tab_active_background: "#252425";
  --tab_inactive_background: "#1E1D1F";
  --tab_bar_background: "#1E1D1F";
  --terminal_ansi_black: "#262427";
  --terminal_ansi_blue: "#49CAE4";
  --terminal_ansi_bright_black: "#545452";
  --terminal_ansi_bright_blue: "#64D2E8";
  --terminal_ansi_bright_cyan: "#BAEBF6";
  --terminal_ansi_bright_green: "#C6E472";
  --terminal_ansi_bright_magenta: "#AEA3E6";
  --terminal_ansi_bright_red: "#FF8787";
  --terminal_ansi_bright_white: "#FFFFFF";
  --terminal_ansi_bright_yellow: "#FFD271";
  --terminal_ansi_cyan: "#AEE8F4";
  --terminal_ansi_dim_black: "#262427";
  --terminal_ansi_dim_blue: "#49CAE4";
  --terminal_ansi_dim_cyan: "#AEE8F4";
  --terminal_ansi_dim_green: "#BCDF59";
  --terminal_ansi_dim_magenta: "#A093E2";
  --terminal_ansi_dim_red: "#FF7272";
  --terminal_ansi_dim_white: "#FCFCFC";
  --terminal_ansi_dim_yellow: "#FFCA58";
  --terminal_ansi_green: "#BCDF59";
  --terminal_ansi_magenta: "#A093E2";
  --terminal_ansi_red: "#FF7272";
  --terminal_ansi_white: "#FCFCFC";
  --terminal_ansi_yellow: "#FFCA58";
  --terminal_background: "#262427";
  --terminal_bright_foreground: "#FFFFFF";
  --terminal_dim_foreground: "#FCFCFC";
  --terminal_foreground: "#FCFCFC";
  --text: "#FCFCFC";
  --text_accent: "#FCFCFC";
  --text_disabled: "#8B8B8B";
  --text_muted: "#BCBCBC";
  --text_placeholder: "#A6A6A5";
  --title_bar_background: "#1E1D1F";
  --toolbar_background: "#252425";
  --unreachable: "#4C4C4C";
  --unreachable_background: "#262427";
  --unreachable_border: "#4C4C4C";
  --warning: "#FC9867";
  --warning_background: "#262427";
  --warning_border: "#FC9867";
  --player_1_background: "#2C2A2E";
  --player_1_cursor: "#FFBD3E";
  --player_1_selection: "#504650";
  --syntax_attribute_color: "#FC9867";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#AEE8F4";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#8B8B8B";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#8B8B8B";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#FC9867";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#FF8787";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#FC9867";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#FF8787";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#C6E472";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#FF8787";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_link_text_color: "#64D2E8";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#64D2E8";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#AEA3E6";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#FCFCFC";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_property_color: "#C6E472";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#FCFCFC";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#FCFCFC";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#FCFCFC";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#FCFCFC";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#FCFCFC";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#FFD271";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#FFD271";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#FFD271";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#FC9867";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#FC9867";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#64D2E8";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#C6E472";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_type_color: "#AEE8F4";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#FFD271";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#AEE8F4";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
