:root {
  --background: "#0F1219";
  --border: "#1e242e";
  --border-disabled: "#3e4452";
  --border-focused: "#1e242e";
  --border-selected: "#1e242e";
  --border-transparent: "#1e242e";
  --border-variant: "#1e242e";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#a5e075";
  --created-background: null;
  --created-border: null;
  --deleted: "#ff616e";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#0F1219";
  --editor-active_line_number: "#abb2bf";
  --editor-active_wrap_guide: "#3e4452";
  --editor-background: "#0F1219";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#abb2bf";
  --editor-gutter-background: "#0F1219";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#495162";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#1e242e";
  --element-active: null;
  --element-background: "#404754";
  --element-disabled: null;
  --element-hover: "#2c313a";
  --element-selected: "#2c313a";
  --elevated_surface-background: "#0F1219";
  --error: null;
  --error-background: "#0F1219";
  --error-border: "#c24038";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#2c313a";
  --ghost_element-selected: "#2c313a";
  --hidden: null;
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#abb2bf";
  --hint-background: "#0F1219";
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#636b78";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: "#0F1219";
  --info-border: null;
  --link_text-hover: null;
  --modified: "#e5c07b";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#0F1219";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#1e242e";
  --scrollbar-thumb-border: "#0F1219";
  --scrollbar-thumb-hover_background: "#1e242e";
  --scrollbar-track-background: "#0F1219";
  --scrollbar-track-border: "#0f1219";
  --search-match_background: null;
  --status_bar-background: "#0F1219";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#1e242e";
  --tab-active_background: "#1e242e";
  --tab-inactive_background: "#0F1219";
  --tab_bar-background: "#0F1219";
  --terminal-ansi-black: "#3f4451";
  --terminal-ansi-blue: "#5ab0f6";
  --terminal-ansi-bright_black: "#4f5666";
  --terminal-ansi-bright_blue: "#5ab0f6";
  --terminal-ansi-bright_cyan: "#4dbdcb";
  --terminal-ansi-bright_green: "#a5e075";
  --terminal-ansi-bright_magenta: "#de73ff";
  --terminal-ansi-bright_red: "#ef5f6b";
  --terminal-ansi-bright_white: "#e6e6e6";
  --terminal-ansi-bright_yellow: "#ebc275";
  --terminal-ansi-cyan: "#4dbdcb";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#8cc265";
  --terminal-ansi-magenta: "#c162de";
  --terminal-ansi-red: "#ef5f6b";
  --terminal-ansi-white: "#d7dae0";
  --terminal-ansi-yellow: "#ebc275";
  --terminal-background: "#0F1219";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: null;
  --text-accent: null;
  --text-disabled: null;
  --text-muted: null;
  --text-placeholder: null;
  --title_bar-background: "#0F1219";
  --toolbar-background: "#0F1219";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#ebc275";
  --warning-background: "#0F1219";
  --warning-border: null;
  --syntax-attribute-color: "#ebc275";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-color: "#546178";
  --syntax-comment-font_style: "italic";
  --syntax-constant-color: "#d99a5e";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#e06c75";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#abb2blf";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-function-color: "#5ab0f6";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ca72e4";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#d99a5e";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#abb2bf";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#abb2bf";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-string-color: "#97ca72";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#97ca72";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#97ca72";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#56b6c2";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#56b6c2";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#e06c75";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#97ca72";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#ebc275";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#e06c75";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#e5c07b";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
