:root {
  --background: "#383838ff";
  --border: "#20202040";
  --border_variant: "#28282840";
  --created: "#33d17aff";
  --deleted: "#d00000ff";
  --drop_target_background: "#ffffff30";
  --editor_active_line_background: "#242424ff";
  --editor_active_line_number: "#ffffffff";
  --editor_background: "#202020ff";
  --editor_document_highlight_read_background: "#ffffff10";
  --editor_document_highlight_write_background: "#ffffff10";
  --editor_foreground: "#ffffffd0";
  --editor_gutter_background: "#202020ff";
  --editor_line_number: "#ffffff80";
  --editor_subheader_background: "#303030ff";
  --element_active: "#ffffff20";
  --element_background: "#ffffff10";
  --element_hover: "#ffffff18";
  --elevated_surface_background: "#383838ff";
  --error: "#d00000ff";
  --error_background: "#6a040fff";
  --error_border: "#00000000";
  --ghost_element_active: "#ffffff20";
  --ghost_element_background: "#00000000";
  --ghost_element_hover: "#ffffff08";
  --ghost_element_selected: "#ffffff10";
  --ignored: "#ffffff40";
  --modified: "#00a0a0ff";
  --panel_background: "#282828ff";
  --scrollbar_thumb_border: "#00000000";
  --scrollbar_track_background: "#ffffff08";
  --scrollbar_track_border: "#00000000";
  --scrollbar_thumb_background: "#ffffff20";
  --search_match_background: "#00ffff40";
  --status_bar_background: "#383838ff";
  --tab_active_background: "#282828ff";
  --tab_inactive_background: "#242424ff";
  --tab_bar_background: "#242424ff";
  --terminal_ansi_black: "#000000ff";
  --terminal_ansi_blue: "#0077b6ff";
  --terminal_ansi_bright_black: "#404040ff";
  --terminal_ansi_bright_blue: "#48bfe3ff";
  --terminal_ansi_bright_cyan: "#ade8f4ff";
  --terminal_ansi_bright_green: "#99e8bdff";
  --terminal_ansi_bright_magenta: "#b388ebff";
  --terminal_ansi_bright_red: "#ff5a5fff";
  --terminal_ansi_bright_white: "#ffffffff";
  --terminal_ansi_bright_yellow: "#fcefb4ff";
  --terminal_ansi_cyan: "#00b4d8ff";
  --terminal_ansi_green: "#33d17aff";
  --terminal_ansi_magenta: "#6d23b6ff";
  --terminal_ansi_red: "#d00000ff";
  --terminal_ansi_white: "#e0e0e0ff";
  --terminal_ansi_yellow: "#ffea00ff";
  --terminal_background: "#202020ff";
  --text: "#ffffffff";
  --text_accent: "#00a0a0ff";
  --text_disabled: "#ffffff40";
  --text_muted: "#ffffff80";
  --text_placeholder: "#ffffff40";
  --title_bar_background: "#383838ff";
  --toolbar_background: "#282828ff";
  --warning: "#faa307ff";
  --warning_background: "#f48c06ff";
  --warning_border: "#00000000";
  --player_1_cursor: "#ffffffff";
  --player_1_selection: "#ffffff28";
  --syntax_boolean_color: "#62a0ea";
  --syntax_comment_color: "#77767b";
  --syntax_comment_doc_color: "#77767b";
  --syntax_constant_color: "#62a0ea";
  --syntax_constructor_color: "#deddda";
  --syntax_embedded_color: "#dc8add";
  --syntax_emphasis_color: "#deddda";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_strong_color: "#ffffff";
  --syntax_emphasis_strong_font_weight: 600;
  --syntax_enum_color: "#8ff0a4";
  --syntax_function_color: "#ffbe6f";
  --syntax_hint_color: "#deddda";
  --syntax_keyword_color: "#c061cb";
  --syntax_label_color: "#deddda";
  --syntax_link_text_color: "#deddda";
  --syntax_link_uri_color: "#62a0ea";
  --syntax_link_uri_font_style: "italic";
  --syntax_number_color: "#8ff0a4";
  --syntax_operator_color: "#62a0ea";
  --syntax_property_color: "#99c1f1";
  --syntax_punctuation_color: "#deddda";
  --syntax_punctuation_bracket_color: "#deddda";
  --syntax_punctuation_delimiter_color: "#deddda";
  --syntax_punctuation_list_marker_color: "#ffffff";
  --syntax_punctuation_list_marker_font_weight: 800;
  --syntax_punctuation_special_color: "#c061cb";
  --syntax_string_color: "#f99186";
  --syntax_string_escape_color: "#ffbe6f";
  --syntax_string_regex_color: "#f99186";
  --syntax_string_special_color: "#f99186";
  --syntax_string_special_symbol_color: "#f99186";
  --syntax_tag_color: "#8ff0a4";
  --syntax_text_literal_color: "#8ff0a4";
  --syntax_title_color: "#78aeed";
  --syntax_type_color: "#8ff0a4";
  --syntax_type_super_color: "#8ff0a4";
  --syntax_variable_color: "#99c1f1";
  --syntax_variable_parameter_color: "#99c1f1";
  --syntax_variable_special_color: "#62a0ea";
}
