:root {
  --background: "#c0c0c0ff";
  --border: "#e0e0e0ff";
  --border-variant: "#d0d0d0ff";
  --created: "#26a269";
  --deleted: "#ff0000ff";
  --drop_target-background: "#00000030";
  --editor-active_line-background: "#dcdcdcff";
  --editor-active_line_number: "#000000ff";
  --editor-background: "#e0e0e0ff";
  --editor-document_highlight-read_background: "#00000010";
  --editor-document_highlight-write_background: "#00000010";
  --editor-foreground: "#000000d0";
  --editor-gutter-background: "#e0e0e0ff";
  --editor-line_number: "#00000080";
  --editor-subheader-background: "#c4c4c4ff";
  --element-active: "#00000020";
  --element-background: "#00000010";
  --element-hover: "#00000018";
  --elevated_surface-background: "#c0c0c0ff";
  --error: "#ff0000ff";
  --error-background: "#e01b24ff";
  --error-border: "#00000000";
  --ghost_element-active: "#00000020";
  --ghost_element-background: "#00000000";
  --ghost_element-hover: "#00000008";
  --ghost_element-selected: "#00000010";
  --ignored: "#00000040";
  --modified: "#009090ff";
  --panel-background: "#d0d0d0ff";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-track-background: "#00000008";
  --scrollbar-track-border: "#00000000";
  --scrollbar_thumb-background: "#00000020";
  --search-match_background: "#00909080";
  --status_bar-background: "#c0c0c0ff";
  --tab-active_background: "#d0d0d0ff";
  --tab-inactive_background: "#dcdcdcff";
  --tab_bar-background: "#dcdcdcff";
  --terminal-ansi-black: "#000000ff";
  --terminal-ansi-blue: "#0074b3ff";
  --terminal-ansi-bright_black: "#404040ff";
  --terminal-ansi-bright_blue: "#48bfe3ff";
  --terminal-ansi-bright_cyan: "#ade8f4ff";
  --terminal-ansi-bright_green: "#99e8bdff";
  --terminal-ansi-bright_magenta: "#b388ebff";
  --terminal-ansi-bright_red: "#ff5a5fff";
  --terminal-ansi-bright_white: "#ffffffff";
  --terminal-ansi-bright_yellow: "#fcefb4ff";
  --terminal-ansi-cyan: "#00b4d8ff";
  --terminal-ansi-green: "#26a660ff";
  --terminal-ansi-magenta: "#6d23b6ff";
  --terminal-ansi-red: "#d00000ff";
  --terminal-ansi-white: "#e8e8e8ff";
  --terminal-ansi-yellow: "#ccbb00ff";
  --terminal-background: "#e0e0e0ff";
  --text: "#000000d0";
  --text-accent: "#009090ff";
  --text-disabled: "#00000040";
  --text-muted: "#00000080";
  --text-placeholder: "#00000040";
  --title_bar-background: "#c0c0c0ff";
  --toolbar-background: "#d0d0d0ff";
  --warning: "#ab7a07ff";
  --warning-background: "#f8e45cff";
  --warning-border: "#00000000";
  --player-1-cursor: "#000000ff";
  --player-1-selection: "#00000028";
  --syntax-boolean-color: "#1a5fb4";
  --syntax-comment-color: "#9a9996";
  --syntax-comment-doc-color: "#9a9996";
  --syntax-constant-color: "#1a5fb4";
  --syntax-constructor-color: "#504e55";
  --syntax-embedded-color: "#c061cb";
  --syntax-emphasis-color: "#504e55";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#000000";
  --syntax-emphasis-strong-font_weight: 600;
  --syntax-enum-color: "#26a269";
  --syntax-function-color: "#c64600";
  --syntax-hint-color: "#504e55";
  --syntax-keyword-color: "#c061cb";
  --syntax-label-color: "#504e55";
  --syntax-link_text-color: "#504e55";
  --syntax-link_uri-color: "#1a5fb4";
  --syntax-link_uri-font_style: "italic";
  --syntax-number-color: "#26a269";
  --syntax-operator-color: "#1a5fb4";
  --syntax-property-color: "#3584e4";
  --syntax-punctuation-color: "#504e55";
  --syntax-punctuation-bracket-color: "#504e55";
  --syntax-punctuation-delimiter-color: "#504e55";
  --syntax-punctuation-list_marker-color: "#000000";
  --syntax-punctuation-list_marker-font_weight: 800;
  --syntax-punctuation-special-color: "#c061cb";
  --syntax-string-color: "#ed333b";
  --syntax-string-escape-color: "#e66100";
  --syntax-string-regex-color: "#ed333b";
  --syntax-string-special-color: "#ed333b";
  --syntax-string-special-symbol-color: "#ed333b";
  --syntax-tag-color: "#26a269";
  --syntax-text-literal-color: "#26a269";
  --syntax-title-color: "#1c71d8";
  --syntax-type-color: "#26a269";
  --syntax-type-super-color: "#26a269";
  --syntax-variable-color: "#3584e4";
  --syntax-variable-parameter-color: "#3584e4";
  --syntax-variable-special-color: "#1a5fb4";
}
