:root {
  --background: "#383838ff";
  --border: "#20202040";
  --border-variant: "#28282840";
  --created: "#33d17aff";
  --deleted: "#d00000ff";
  --drop_target-background: "#ffffff30";
  --editor-active_line-background: "#242424ff";
  --editor-active_line_number: "#ffffffff";
  --editor-background: "#202020ff";
  --editor-document_highlight-read_background: "#ffffff10";
  --editor-document_highlight-write_background: "#ffffff10";
  --editor-foreground: "#ffffffd0";
  --editor-gutter-background: "#202020ff";
  --editor-line_number: "#ffffff80";
  --editor-subheader-background: "#303030ff";
  --element-active: "#ffffff20";
  --element-background: "#ffffff10";
  --element-hover: "#ffffff18";
  --elevated_surface-background: "#383838ff";
  --error: "#d00000ff";
  --error-background: "#6a040fff";
  --error-border: "#00000000";
  --ghost_element-active: "#ffffff20";
  --ghost_element-background: "#00000000";
  --ghost_element-hover: "#ffffff08";
  --ghost_element-selected: "#ffffff10";
  --ignored: "#ffffff40";
  --modified: "#00a0a0ff";
  --panel-background: "#282828ff";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-track-background: "#ffffff08";
  --scrollbar-track-border: "#00000000";
  --scrollbar_thumb-background: "#ffffff20";
  --search-match_background: "#00ffff40";
  --status_bar-background: "#383838ff";
  --tab-active_background: "#282828ff";
  --tab-inactive_background: "#242424ff";
  --tab_bar-background: "#242424ff";
  --terminal-ansi-black: "#000000ff";
  --terminal-ansi-blue: "#0077b6ff";
  --terminal-ansi-bright_black: "#404040ff";
  --terminal-ansi-bright_blue: "#48bfe3ff";
  --terminal-ansi-bright_cyan: "#ade8f4ff";
  --terminal-ansi-bright_green: "#99e8bdff";
  --terminal-ansi-bright_magenta: "#b388ebff";
  --terminal-ansi-bright_red: "#ff5a5fff";
  --terminal-ansi-bright_white: "#ffffffff";
  --terminal-ansi-bright_yellow: "#fcefb4ff";
  --terminal-ansi-cyan: "#00b4d8ff";
  --terminal-ansi-green: "#33d17aff";
  --terminal-ansi-magenta: "#6d23b6ff";
  --terminal-ansi-red: "#d00000ff";
  --terminal-ansi-white: "#e0e0e0ff";
  --terminal-ansi-yellow: "#ffea00ff";
  --terminal-background: "#202020ff";
  --text: "#ffffffff";
  --text-accent: "#00a0a0ff";
  --text-disabled: "#ffffff40";
  --text-muted: "#ffffff80";
  --text-placeholder: "#ffffff40";
  --title_bar-background: "#383838ff";
  --toolbar-background: "#282828ff";
  --warning: "#faa307ff";
  --warning-background: "#f48c06ff";
  --warning-border: "#00000000";
  --player-1-cursor: "#ffffffff";
  --player-1-selection: "#ffffff28";
  --syntax-boolean-color: "#62a0ea";
  --syntax-comment-color: "#77767b";
  --syntax-comment-doc-color: "#77767b";
  --syntax-constant-color: "#62a0ea";
  --syntax-constructor-color: "#deddda";
  --syntax-embedded-color: "#dc8add";
  --syntax-emphasis-color: "#deddda";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#ffffff";
  --syntax-emphasis-strong-font_weight: 600;
  --syntax-enum-color: "#8ff0a4";
  --syntax-function-color: "#ffbe6f";
  --syntax-hint-color: "#deddda";
  --syntax-keyword-color: "#c061cb";
  --syntax-label-color: "#deddda";
  --syntax-link_text-color: "#deddda";
  --syntax-link_uri-color: "#62a0ea";
  --syntax-link_uri-font_style: "italic";
  --syntax-number-color: "#8ff0a4";
  --syntax-operator-color: "#62a0ea";
  --syntax-property-color: "#99c1f1";
  --syntax-punctuation-color: "#deddda";
  --syntax-punctuation-bracket-color: "#deddda";
  --syntax-punctuation-delimiter-color: "#deddda";
  --syntax-punctuation-list_marker-color: "#ffffff";
  --syntax-punctuation-list_marker-font_weight: 800;
  --syntax-punctuation-special-color: "#c061cb";
  --syntax-string-color: "#f99186";
  --syntax-string-escape-color: "#ffbe6f";
  --syntax-string-regex-color: "#f99186";
  --syntax-string-special-color: "#f99186";
  --syntax-string-special-symbol-color: "#f99186";
  --syntax-tag-color: "#8ff0a4";
  --syntax-text-literal-color: "#8ff0a4";
  --syntax-title-color: "#78aeed";
  --syntax-type-color: "#8ff0a4";
  --syntax-type-super-color: "#8ff0a4";
  --syntax-variable-color: "#99c1f1";
  --syntax-variable-parameter-color: "#99c1f1";
  --syntax-variable-special-color: "#62a0ea";
}
