:root {
  --background: "#1a1b26";
  --border: "#101014";
  --border-disabled: "#101014";
  --border-focused: "#545c7e33";
  --border-selected: "#101014";
  --border-transparent: "#101014";
  --border-variant: "#101014";
  --conflict: "#bb9af7";
  --conflict-background: "#1a1b26";
  --conflict-border: "#414868";
  --created: "#9ece6a";
  --created-background: "#1a1b26";
  --created-border: "#414868";
  --deleted: "#f7768e";
  --deleted-background: "#1a1b26";
  --deleted-border: "#414868";
  --drop_target-background: "#1e202e";
  --editor-active_line-background: "#1e202e";
  --editor-active_line_number: "#a9b1d6";
  --editor-active_wrap_guide: "#101014";
  --editor-background: "#1a1b26";
  --editor-document_highlight-read_background: "#363b54";
  --editor-document_highlight-write_background: "#363b54";
  --editor-foreground: "#a9b1d6";
  --editor-gutter-background: "#1a1b26";
  --editor-highlighted_line-background: "#1e202e";
  --editor-invisible: null;
  --editor-line_number: "#363b54";
  --editor-subheader-background: "#1a1b26";
  --editor-wrap_guide: "#101014";
  --element-active: "#9aa5ce";
  --element-background: "#1a1b26";
  --element-disabled: "#414868";
  --element-hover: "#565f89";
  --element-selected: "#565f89";
  --elevated_surface-background: "#14141b";
  --error: "#f7768e";
  --error-background: "#1a1b26";
  --error-border: "#414868";
  --ghost_element-active: "#9aa5ce";
  --ghost_element-background: "#1a1b26";
  --ghost_element-disabled: "#414868";
  --ghost_element-hover: "#565f89";
  --ghost_element-selected: "#565f89";
  --hidden: "#787c99";
  --hidden-background: "#1a1b26";
  --hidden-border: "#414868";
  --hint: "#51597d";
  --hint-background: "#1a1b26";
  --hint-border: "#414868";
  --icon: "#787c99";
  --icon-accent: "#7dcfff";
  --icon-disabled: "#414868";
  --icon-muted: "#787c99";
  --icon-placeholder: "#565f89";
  --ignored: "#515670";
  --ignored-background: "#1a1b26";
  --ignored-border: "#414868";
  --info: "#0da0ba";
  --info-background: "#1a1b26";
  --info-border: "#414868";
  --link_text-hover: "#7dcfff";
  --modified: "#e0af68";
  --modified-background: "#1a1b26";
  --modified-border: "#414868";
  --pane-focused_border: null;
  --panel-background: "#16161e";
  --panel-focused_border: null;
  --predictive: "#51597d";
  --predictive-background: "#1a1b26";
  --predictive-border: "#414868";
  --renamed: "#9ece6a";
  --renamed-background: "#1a1b26";
  --renamed-border: "#414868";
  --scrollbar-thumb-background: "#41486880";
  --scrollbar-thumb-border: "#414868";
  --scrollbar-thumb-hover_background: "#414868";
  --scrollbar-track-background: "#1a1b2680";
  --scrollbar-track-border: "#101014";
  --search-match_background: "#414868";
  --status_bar-background: "#16161e";
  --success: "#9ece6a";
  --success-background: "#1a1b26";
  --success-border: "#414868";
  --surface-background: "#16161e";
  --tab-active_background: "#414868";
  --tab-inactive_background: "#16161e";
  --tab_bar-background: "#16161e";
  --terminal-ansi-black: "#363b54";
  --terminal-ansi-blue: "#7aa2f7";
  --terminal-ansi-bright_black: "#363b54";
  --terminal-ansi-bright_blue: "#7aa2f7";
  --terminal-ansi-bright_cyan: "#7dcfff";
  --terminal-ansi-bright_green: "#41a6b5";
  --terminal-ansi-bright_magenta: "#bb9af7";
  --terminal-ansi-bright_red: "#f7768e";
  --terminal-ansi-bright_white: "#acb0d0";
  --terminal-ansi-bright_yellow: "#e0af68";
  --terminal-ansi-cyan: "#7dcfff";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#73daca";
  --terminal-ansi-magenta: "#bb9af7";
  --terminal-ansi-red: "#f7768e";
  --terminal-ansi-white: "#787c99";
  --terminal-ansi-yellow: "#e0af68";
  --terminal-background: "#16161e";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a9b1d6";
  --text-accent: "#7dcfff";
  --text-disabled: "#414868";
  --text-muted: "#787c99";
  --text-placeholder: "#787c99";
  --title_bar-background: "#16161e";
  --title_bar-inactive_background: "#16161e";
  --toolbar-background: "#16161e";
  --unreachable: "#f7768e";
  --unreachable-background: "#1a1b26";
  --unreachable-border: "#414868";
  --warning: "#e0af68";
  --warning-background: "#1a1b26";
  --warning-border: "#414868";
  --player-1-background: "#7c7f93";
  --player-1-cursor: "#7c7f93";
  --player-1-selection: "#7c7f93";
  --syntax-attribute-color: "#bb9af7";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ff9e64";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#51597d";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#51597d";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ff9e64";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#f7768e";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#f7768e";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f7768e";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#7aa2f7";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#bb9af7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#c0caf5";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#73daca";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#73daca";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ff9e64";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#89ddff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-preproc-color: "#73daca";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-punctuation-color: "#89ddff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#89ddff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#89ddff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#89ddff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#89ddff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#9ece6a";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#bb9af7";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#9ece6a";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#9ece6a";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#9ece6a";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f7768e";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#9ece6a";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ff9e64";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#0db9d7";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c0caf5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f7768e";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
