:root {
  --background: "#191724";
  --border: "#1f1d2e";
  --border-disabled: "#1f1d2e";
  --border-focused: "#1f1d2e";
  --border-selected: "#1f1d2e";
  --border-transparent: "transparent";
  --border-variant: "#1f1d2e";
  --conflict: "#f6c177";
  --conflict-background: "#21202e";
  --conflict-border: "#f6c177";
  --created: "#9ccfd8";
  --created-background: "#21202e";
  --created-border: "#9ccfd8";
  --deleted: "#eb6f92";
  --deleted-background: "#21202e";
  --deleted-border: "#eb6f92";
  --drop_target-background: "#e0def480";
  --editor-active_line-background: "#1f1d2e";
  --editor-active_line_number: "#e0def4";
  --editor-active_wrap_guide: "#6e6a8688";
  --editor-background: "#191724";
  --editor-document_highlight-read_background: "#9ccfd81a";
  --editor-document_highlight-write_background: "#6e6a8666";
  --editor-foreground: "#e0def4";
  --editor-gutter-background: "#191724";
  --editor-highlighted_line-background: "#1f1d2e";
  --editor-invisible: "#6e6a86";
  --editor-line_number: "#6e6a86";
  --editor-subheader-background: "#1f1d2e";
  --editor-wrap_guide: "#6e6a8644";
  --element-active: "#26233a";
  --element-background: "#1f1d2e";
  --element-disabled: "#26233a";
  --element-hover: "#26233a";
  --element-selected: "#524f67";
  --elevated_surface-background: "#1f1d2e";
  --error: "#eb6f92";
  --error-background: "#21202e";
  --error-border: "#eb6f92";
  --ghost_element-active: "#908caa";
  --ghost_element-background: "#21202e";
  --ghost_element-hover: "#403d52";
  --ghost_element-selected: "#524f67";
  --hidden-background: "#191724";
  --hidden-border: "#1f1d2e";
  --hint: "#908caa";
  --hint-background: "#21202e";
  --ignored: "#6e6a86";
  --ignored-background: "#191724";
  --ignored-border: "#1f1d2e";
  --info: "#31748f";
  --info-background: "#21202e";
  --info-border: "#31748f";
  --link_text-hover: "#9ccfd8";
  --modified: "#ebbcba";
  --modified-background: "#21202e";
  --modified-border: "#ebbcba";
  --panel-background: "#191724";
  --panel-focused_border: "#1f1d2e";
  --predictive: "#908caa";
  --predictive-background: "#21202e";
  --predictive-border: "#31748f";
  --renamed-background: "#21202e";
  --renamed-border: "#31748f";
  --scrollbar-thumb-background: "#403d52";
  --scrollbar-thumb-border: "#21202e";
  --scrollbar-thumb-hover_background: "#1f1d2e";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#21202e";
  --status_bar-background: "#191724";
  --success: "#31748f";
  --success-background: "#21202e";
  --success-border: "#31748f";
  --surface-background: "#1f1d2e";
  --tab-active_background: "#191724";
  --tab-inactive_background: "#1f1d2e";
  --tab_bar-background: "#1f1d2e";
  --terminal-ansi-black: "#21202e";
  --terminal-ansi-blue: "#9ccfd8";
  --terminal-ansi-bright_black: "#908caa";
  --terminal-ansi-bright_blue: "#9ccfd8";
  --terminal-ansi-bright_cyan: "#ebbcba";
  --terminal-ansi-bright_green: "#31748f";
  --terminal-ansi-bright_magenta: "#c4a7e7";
  --terminal-ansi-bright_red: "#eb6f92";
  --terminal-ansi-bright_white: "#e0def4";
  --terminal-ansi-bright_yellow: "#f6c177";
  --terminal-ansi-cyan: "#ebbcba";
  --terminal-ansi-dim_black: "#e0def4";
  --terminal-ansi-dim_blue: "#9ccfd8";
  --terminal-ansi-dim_cyan: "#ebbcba";
  --terminal-ansi-dim_green: "#31748f";
  --terminal-ansi-dim_magenta: "#c4a7e7";
  --terminal-ansi-dim_red: "#eb6f92";
  --terminal-ansi-dim_white: "#e0def4";
  --terminal-ansi-dim_yellow: "#f6c177";
  --terminal-ansi-green: "#31748f";
  --terminal-ansi-magenta: "#c4a7e7";
  --terminal-ansi-red: "#eb6f92";
  --terminal-ansi-white: "#e0def4";
  --terminal-ansi-yellow: "#f6c177";
  --terminal-background: "#191724";
  --terminal-bright_foreground: "#e0def4";
  --terminal-dim_foreground: "#191724";
  --terminal-foreground: "#e0def4";
  --text: "#e0def4";
  --text-accent: "#9ccfd8";
  --text-disabled: "#6e6a86";
  --text-muted: "#6e6a86";
  --text-placeholder: "#6e6a86";
  --title_bar-background: "#191724";
  --toolbar-background: "#191724";
  --unreachable: "#908caa";
  --unreachable-background: "#191724";
  --unreachable-border: "#1f1d2e";
  --warning: "#f6c177";
  --warning-background: "#21202e";
  --warning-border: "#f6c177";
  --player-1-background: "#e0def4";
  --player-1-cursor: "#e0def4";
  --player-1-selection: "#e0def422";
  --player-2-background: "#9ccfd8";
  --player-2-cursor: "#9ccfd8";
  --player-2-selection: "#9ccfd844";
  --player-3-background: "#c4a7e7";
  --player-3-cursor: "#c4a7e7";
  --player-3-selection: "#c4a7e744";
  --player-4-background: "#31748f";
  --player-4-cursor: "#31748f";
  --player-4-selection: "#31748f44";
  --player-5-background: "#eb6f92";
  --player-5-cursor: "#eb6f92";
  --player-5-selection: "#eb6f9244";
  --syntax-attribute-color: "#908caa";
  --syntax-boolean-color: "#ebbcba";
  --syntax-comment-color: "#6e6a86";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#908caa";
  --syntax-constant-color: "#e0def4";
  --syntax-constructor-color: "#eb6f92";
  --syntax-embedded-color: "#e0def4";
  --syntax-emphasis-color: "#c4a7e7";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#9ccfd8";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#31748f";
  --syntax-function-color: "#ebbcba";
  --syntax-hint-color: "#c4a7e7";
  --syntax-keyword-color: "#31748f";
  --syntax-label-color: "#ebbcba";
  --syntax-link_text-color: "#c4a7e7";
  --syntax-link_uri-color: "#31748f";
  --syntax-number-color: "#9ccfd8";
  --syntax-operator-color: "#908caa";
  --syntax-predictive-color: "#908caa";
  --syntax-preproc-color: "#f6c177";
  --syntax-primary-color: "#c4a7e7";
  --syntax-property-color: "#e0def4";
  --syntax-punctuation-color: "#908caa";
  --syntax-punctuation-bracket-color: "#97495F";
  --syntax-punctuation-delimiter-color: "#908caa";
  --syntax-punctuation-list_marker-color: "#908caa";
  --syntax-punctuation-list_marker-font_weight: 700;
  --syntax-punctuation-special-color: "#31748f";
  --syntax-string-color: "#f6c177";
  --syntax-string-escape-color: "#f6c177";
  --syntax-string-regex-color: "#f6c177";
  --syntax-string-special-color: "#31748f";
  --syntax-string-special-symbol-color: "#31748f";
  --syntax-tag-color: "#c4a7e7";
  --syntax-text-literal-color: "#f6c177";
  --syntax-title-color: "#eb6f92";
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#9ccfd8";
  --syntax-variable-color: "#e0def4";
  --syntax-variable-special-color: "#9ccfd8";
  --syntax-variant-color: "#ebbcba";
}
