:root {
  --background: "#faf4ed";
  --border: "#fffaf3";
  --border-disabled: "#fffaf3";
  --border-focused: "#fffaf3";
  --border-selected: "#fffaf3";
  --border-transparent: "transparent";
  --border-variant: "#fffaf3";
  --conflict: "#ea9d34";
  --conflict-background: "#f4ede8";
  --conflict-border: "#ea9d34";
  --created: "#56949f";
  --created-background: "#f4ede8";
  --created-border: "#56949f";
  --deleted: "#b4637a";
  --deleted-background: "#f4ede8";
  --deleted-border: "#b4637a";
  --drop_target-background: "#57527980";
  --editor-active_line-background: "#fffaf3";
  --editor-active_line_number: "#575279";
  --editor-active_wrap_guide: "#9893a588";
  --editor-background: "#faf4ed";
  --editor-document_highlight-read_background: "#56949f1a";
  --editor-document_highlight-write_background: "#9893a566";
  --editor-foreground: "#575279";
  --editor-gutter-background: "#faf4ed";
  --editor-highlighted_line-background: "#fffaf3";
  --editor-invisible: "#9893a5";
  --editor-line_number: "#9893a5";
  --editor-subheader-background: "#fffaf3";
  --editor-wrap_guide: "#9893a544";
  --element-active: "#f2e9e1";
  --element-background: "#fffaf3";
  --element-disabled: "#f2e9e1";
  --element-hover: "#f2e9e1";
  --element-selected: "#cecacd";
  --elevated_surface-background: "#fffaf3";
  --error: "#b4637a";
  --error-background: "#f4ede8";
  --error-border: "#b4637a";
  --ghost_element-active: "#797593";
  --ghost_element-background: "#f4ede8";
  --ghost_element-hover: "#dfdad9";
  --ghost_element-selected: "#cecacd";
  --hidden-background: "#faf4ed";
  --hidden-border: "#fffaf3";
  --hint: "#797593";
  --hint-background: "#f4ede8";
  --ignored: "#9893a5";
  --ignored-background: "#faf4ed";
  --ignored-border: "#fffaf3";
  --info: "#286983";
  --info-background: "#f4ede8";
  --info-border: "#286983";
  --link_text-hover: "#56949f";
  --modified: "#d7827e";
  --modified-background: "#f4ede8";
  --modified-border: "#d7827e";
  --panel-background: "#faf4ed";
  --panel-focused_border: "#fffaf3";
  --predictive: "#797593";
  --predictive-background: "#f4ede8";
  --predictive-border: "#286983";
  --renamed-background: "#f4ede8";
  --renamed-border: "#286983";
  --scrollbar-thumb-background: "#dfdad9";
  --scrollbar-thumb-border: "#f4ede8";
  --scrollbar-thumb-hover_background: "#fffaf3";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#f4ede8";
  --status_bar-background: "#faf4ed";
  --success: "#286983";
  --success-background: "#f4ede8";
  --success-border: "#286983";
  --surface-background: "#fffaf3";
  --tab-active_background: "#faf4ed";
  --tab-inactive_background: "#fffaf3";
  --tab_bar-background: "#fffaf3";
  --terminal-ansi-black: "#f4ede8";
  --terminal-ansi-blue: "#56949f";
  --terminal-ansi-bright_black: "#797593";
  --terminal-ansi-bright_blue: "#56949f";
  --terminal-ansi-bright_cyan: "#d7827e";
  --terminal-ansi-bright_green: "#286983";
  --terminal-ansi-bright_magenta: "#907aa9";
  --terminal-ansi-bright_red: "#b4637a";
  --terminal-ansi-bright_white: "#575279";
  --terminal-ansi-bright_yellow: "#ea9d34";
  --terminal-ansi-cyan: "#d7827e";
  --terminal-ansi-dim_black: "#575279";
  --terminal-ansi-dim_blue: "#56949f";
  --terminal-ansi-dim_cyan: "#d7827e";
  --terminal-ansi-dim_green: "#286983";
  --terminal-ansi-dim_magenta: "#907aa9";
  --terminal-ansi-dim_red: "#b4637a";
  --terminal-ansi-dim_white: "#575279";
  --terminal-ansi-dim_yellow: "#ea9d34";
  --terminal-ansi-green: "#286983";
  --terminal-ansi-magenta: "#907aa9";
  --terminal-ansi-red: "#b4637a";
  --terminal-ansi-white: "#575279";
  --terminal-ansi-yellow: "#ea9d34";
  --terminal-background: "#faf4ed";
  --terminal-bright_foreground: "#575279";
  --terminal-dim_foreground: "#faf4ed";
  --terminal-foreground: "#575279";
  --text: "#575279";
  --text-accent: "#56949f";
  --text-disabled: "#9893a5";
  --text-muted: "#9893a5";
  --text-placeholder: "#9893a5";
  --title_bar-background: "#faf4ed";
  --toolbar-background: "#faf4ed";
  --unreachable: "#797593";
  --unreachable-background: "#faf4ed";
  --unreachable-border: "#fffaf3";
  --warning: "#ea9d34";
  --warning-background: "#f4ede8";
  --warning-border: "#ea9d34";
  --player-1-background: "#575279";
  --player-1-cursor: "#575279";
  --player-1-selection: "#57527922";
  --player-2-background: "#56949f";
  --player-2-cursor: "#56949f";
  --player-2-selection: "#56949f44";
  --player-3-background: "#907aa9";
  --player-3-cursor: "#907aa9";
  --player-3-selection: "#907aa944";
  --player-4-background: "#286983";
  --player-4-cursor: "#286983";
  --player-4-selection: "#28698344";
  --player-5-background: "#b4637a";
  --player-5-cursor: "#b4637a";
  --player-5-selection: "#b4637a44";
  --syntax-attribute-color: "#797593";
  --syntax-boolean-color: "#d7827e";
  --syntax-comment-color: "#9893a5";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#797593";
  --syntax-constant-color: "#575279";
  --syntax-constructor-color: "#b4637a";
  --syntax-embedded-color: "#575279";
  --syntax-emphasis-color: "#907aa9";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#56949f";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#286983";
  --syntax-function-color: "#d7827e";
  --syntax-hint-color: "#907aa9";
  --syntax-keyword-color: "#286983";
  --syntax-label-color: "#d7827e";
  --syntax-link_text-color: "#907aa9";
  --syntax-link_uri-color: "#286983";
  --syntax-number-color: "#56949f";
  --syntax-operator-color: "#797593";
  --syntax-predictive-color: "#797593";
  --syntax-preproc-color: "#ea9d34";
  --syntax-primary-color: "#907aa9";
  --syntax-property-color: "#575279";
  --syntax-punctuation-color: "#797593";
  --syntax-punctuation-bracket-color: "#97495F";
  --syntax-punctuation-delimiter-color: "#797593";
  --syntax-punctuation-list_marker-color: "#797593";
  --syntax-punctuation-list_marker-font_weight: 700;
  --syntax-punctuation-special-color: "#286983";
  --syntax-string-color: "#ea9d34";
  --syntax-string-escape-color: "#ea9d34";
  --syntax-string-regex-color: "#ea9d34";
  --syntax-string-special-color: "#286983";
  --syntax-string-special-symbol-color: "#286983";
  --syntax-tag-color: "#907aa9";
  --syntax-text-literal-color: "#ea9d34";
  --syntax-title-color: "#b4637a";
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#56949f";
  --syntax-variable-color: "#575279";
  --syntax-variable-special-color: "#56949f";
  --syntax-variant-color: "#d7827e";
}
