:root {
  --background: "#ffffffff";
  --border: "#454c54ff";
  --border-disabled: "#59636e1f";
  --border-focused: "#0349b4ff";
  --border-selected: "#0349b4ff";
  --border-transparent: "#ffffff00";
  --border-variant: "#454c54ff";
  --conflict: "#702c00ff";
  --conflict-background: "#fff2d5ff";
  --conflict-border: "#dc6d1aff";
  --created: "#024c1aff";
  --created-background: "#d2fedbff";
  --created-border: "#26a148ff";
  --deleted: "#8a071eff";
  --deleted-background: "#fff0eeff";
  --deleted-border: "#ee5a5dff";
  --drop_target-background: "#dff7ffff";
  --editor-active_line-background: "#e6eaefff";
  --editor-active_line_number: "#010409ff";
  --editor-active_wrap_guide: "#454c54ff";
  --editor-background: "#ffffffff";
  --editor-document_highlight-read_background: "#023b954d";
  --editor-document_highlight-write_background: "#023b9533";
  --editor-foreground: "#010409ff";
  --editor-gutter-background: "#ffffffff";
  --editor-highlighted_line-background: "#e0e6ebff";
  --editor-invisible: "#59636eff";
  --editor-line_number: "#454c54ff";
  --editor-subheader-background: "#e6eaefff";
  --editor-wrap_guide: "#454c54ff";
  --element-active: "#e0e6ebff";
  --element-background: "#e0e6ebff";
  --element-disabled: "#e0e6ebff";
  --element-hover: "#e0e6ebff";
  --element-selected: "#e0e6ebff";
  --elevated_surface-background: "#e6eaefff";
  --error: "#8a071eff";
  --error-background: "#e6eaefff";
  --error-border: "#454c54ff";
  --ghost_element-active: "#e0e6ebff";
  --ghost_element-background: "#ffffff00";
  --ghost_element-disabled: "#e0e6ebff";
  --ghost_element-hover: "#ffffffff";
  --ghost_element-selected: "#e0e6ebff";
  --hidden: "#59636eff";
  --hidden-background: "#e0e6ebff";
  --hidden-border: "#59636e1f";
  --hint: "#454c54ff";
  --hint-background: "#e6eaefff";
  --hint-border: "#454c54ff";
  --icon: "#010409ff";
  --icon-accent: "#023b95ff";
  --icon-background: "#ffffffff";
  --icon-border: "#454c54ff";
  --icon-disabled: "#59636eff";
  --icon-muted: "#454c54ff";
  --ignored: "#454c54ff";
  --ignored-background: "#e0e6ebff";
  --ignored-border: "#59636e1f";
  --info: "#603700ff";
  --info-background: "#e6eaefff";
  --info-border: "#454c54ff";
  --link_text-hover: "#023b95ff";
  --modified: "#603700ff";
  --modified-background: "#fcf7beff";
  --modified-border: "#b58407ff";
  --pane-focused_border: "#454c54ff";
  --panel-background: "#eff2f5ff";
  --panel-focused_border: "#454c54ff";
  --predictive-background: "#e0e6ebff";
  --predictive-border: "#454c54ff";
  --renamed: "#024c1aff";
  --renamed-background: "#d2fedbff";
  --renamed-border: "#26a148ff";
  --scrollbar-thumb-border: "#ffffff00";
  --scrollbar-thumb-hover_background: "#e6eaefff";
  --scrollbar-track-background: "#ffffff00";
  --scrollbar-track-border: "#ffffff00";
  --search-match_background: "#f0ce534d";
  --status_bar-background: "#eff2f5ff";
  --success: "#024c1aff";
  --success-background: "#d2fedbff";
  --success-border: "#26a148ff";
  --surface-background: "#eff2f5ff";
  --tab-active_background: "#ffffffff";
  --tab-inactive_background: "#eff2f5ff";
  --tab_bar-background: "#eff2f5ff";
  --terminal-ansi-black: "#010409ff";
  --terminal-ansi-blue: "#0349b4ff";
  --terminal-ansi-bright_black: "#393f46ff";
  --terminal-ansi-bright_blue: "#1168e3ff";
  --terminal-ansi-bright_cyan: "#3192aaff";
  --terminal-ansi-bright_green: "#055d20ff";
  --terminal-ansi-bright_magenta: "#844ae7ff";
  --terminal-ansi-bright_red: "#86061dff";
  --terminal-ansi-bright_white: "#818b98ff";
  --terminal-ansi-bright_yellow: "#4e2c00ff";
  --terminal-ansi-cyan: "#1b7c83ff";
  --terminal-ansi-dim_black: "#010409ff";
  --terminal-ansi-dim_blue: "#0349b4ff";
  --terminal-ansi-dim_cyan: "#1b7c83ff";
  --terminal-ansi-dim_green: "#024c1aff";
  --terminal-ansi-dim_magenta: "#622cbcff";
  --terminal-ansi-dim_red: "#a0111fff";
  --terminal-ansi-dim_white: "#59636eff";
  --terminal-ansi-dim_yellow: "#3f2200ff";
  --terminal-ansi-green: "#024c1aff";
  --terminal-ansi-magenta: "#622cbcff";
  --terminal-ansi-red: "#a0111fff";
  --terminal-ansi-white: "#59636eff";
  --terminal-ansi-yellow: "#3f2200ff";
  --terminal-background: "#eff2f5ff";
  --terminal-bright_foreground: "#ffffffff";
  --terminal-dim_foreground: "#454c54ff";
  --terminal-foreground: "#010409ff";
  --text: "#010409ff";
  --text-accent: "#023b95ff";
  --text-disabled: "#59636eff";
  --text-muted: "#010409ff";
  --title_bar-background: "#eff2f5ff";
  --toolbar-background: "#ffffffff";
  --unreachable: "#59636eff";
  --unreachable-background: "#e0e6ebff";
  --unreachable-border: "#59636e1f";
  --warning: "#603700ff";
  --warning-background: "#e6eaefff";
  --warning-border: "#454c54ff";
  --player-1-background: "#006edbff";
  --player-1-cursor: "#006edbff";
  --player-1-selection: "#006edb66";
  --player-2-background: "#eb670fff";
  --player-2-cursor: "#eb670fff";
  --player-2-selection: "#eb670f66";
  --player-3-background: "#ce2c85ff";
  --player-3-cursor: "#ce2c85ff";
  --player-3-selection: "#ce2c8566";
  --player-4-background: "#30a147ff";
  --player-4-cursor: "#30a147ff";
  --player-4-selection: "#30a14766";
  --player-5-background: "#894cebff";
  --player-5-cursor: "#894cebff";
  --player-5-selection: "#894ceb66";
  --player-6-background: "#b88700ff";
  --player-6-cursor: "#b88700ff";
  --player-6-selection: "#b8870066";
  --player-7-background: "#179b9bff";
  --player-7-cursor: "#179b9bff";
  --player-7-selection: "#179b9b66";
  --player-8-background: "#df0c24ff";
  --player-8-cursor: "#df0c24ff";
  --player-8-selection: "#df0c2466";
  --syntax-attribute-color: null;
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#023b95ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#59636eff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#59636eff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#023b95ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#023b95ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#a0111fff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#702c00ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#622cbcff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-method-color: "#622cbcff";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-function-special-definition-color: "#622cbcff";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-color: "#454c54ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#a0111fff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#023b95ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#032563ff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#023b95ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#023b95ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#010409ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#a0111fff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#010409ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#023b95ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#010409ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#010409ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#010409ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#702c00ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a0111fff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#032563ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#024c1aff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: 700;
  --syntax-string-regex-color: "#032563ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#023b95ff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#023b95ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#024c1aff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#023b95ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#023b95ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#702c00ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#010409ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#a0111fff";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#702c00ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
