:root {
  --background: "#010409ff";
  --border: "#b7bdc8ff";
  --border-disabled: "#9198a11f";
  --border-focused: "#409effff";
  --border-selected: "#409effff";
  --border-transparent: "#00000000";
  --border-variant: "#b7bdc8ff";
  --conflict: "#fe9a2dff";
  --conflict-background: "#f48b251a";
  --conflict-border: "#f48b25ff";
  --created: "#2bd853ff";
  --created-background: "#0ac74026";
  --created-border: "#0ac740ff";
  --deleted: "#ff9492ff";
  --deleted-background: "#ff80801a";
  --deleted-border: "#ff8080ff";
  --drop_target-background: "#5cacff1a";
  --editor-active_line-background: "#151b23ff";
  --editor-active_line_number: "#ffffffff";
  --editor-active_wrap_guide: "#b7bdc8ff";
  --editor-background: "#010409ff";
  --editor-document_highlight-read_background: "#74b9ff4d";
  --editor-document_highlight-write_background: "#74b9ff33";
  --editor-foreground: "#ffffffff";
  --editor-gutter-background: "#010409ff";
  --editor-highlighted_line-background: "#212830ff";
  --editor-invisible: "#9198a199";
  --editor-line_number: "#b7bdc8ff";
  --editor-subheader-background: "#151b23ff";
  --editor-wrap_guide: "#b7bdc8ff";
  --element-active: "#212830ff";
  --element-background: "#212830ff";
  --element-disabled: "#262c36ff";
  --element-hover: "#212830ff";
  --element-selected: "#212830ff";
  --elevated_surface-background: "#151b23ff";
  --error: "#ff9492ff";
  --error-background: "#151b23ff";
  --error-border: "#b7bdc8ff";
  --ghost_element-active: "#212830ff";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#262c36ff";
  --ghost_element-hover: "#010409ff";
  --ghost_element-selected: "#212830ff";
  --hidden: "#9198a199";
  --hidden-background: "#262c36ff";
  --hidden-border: "#9198a11f";
  --hint: "#b7bdc8ff";
  --hint-background: "#151b23ff";
  --hint-border: "#b7bdc8ff";
  --icon: "#ffffffff";
  --icon-accent: "#74b9ffff";
  --icon-background: "#010409ff";
  --icon-border: "#b7bdc8ff";
  --icon-disabled: "#9198a199";
  --icon-muted: "#b7bdc8ff";
  --ignored: "#b7bdc8ff";
  --ignored-background: "#262c36ff";
  --ignored-border: "#9198a11f";
  --info: "#f0b72fff";
  --info-background: "#151b23ff";
  --info-border: "#b7bdc8ff";
  --link_text-hover: "#74b9ffff";
  --modified: "#f0b72fff";
  --modified-background: "#edaa2726";
  --modified-border: "#edaa27ff";
  --pane-focused_border: "#b7bdc8ff";
  --panel-background: "#010409ff";
  --panel-focused_border: "#b7bdc8ff";
  --predictive-background: "#212830ff";
  --predictive-border: "#b7bdc8ff";
  --renamed: "#2bd853ff";
  --renamed-background: "#0ac74026";
  --renamed-border: "#0ac740ff";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#151b23ff";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#fbd6694d";
  --status_bar-background: "#010409ff";
  --success: "#2bd853ff";
  --success-background: "#0ac74026";
  --success-border: "#0ac740ff";
  --surface-background: "#010409ff";
  --tab-active_background: "#010409ff";
  --tab-inactive_background: "#010409ff";
  --tab_bar-background: "#010409ff";
  --terminal-ansi-black: "#2f3742ff";
  --terminal-ansi-blue: "#71b7ffff";
  --terminal-ansi-bright_black: "#656c76ff";
  --terminal-ansi-bright_blue: "#91cbffff";
  --terminal-ansi-bright_cyan: "#56d4ddff";
  --terminal-ansi-bright_green: "#4ae168ff";
  --terminal-ansi-bright_magenta: "#dbb7ffff";
  --terminal-ansi-bright_red: "#ffb1afff";
  --terminal-ansi-bright_white: "#ffffffff";
  --terminal-ansi-bright_yellow: "#f7c843ff";
  --terminal-ansi-cyan: "#39c5cfff";
  --terminal-ansi-dim_black: "#2f3742ff";
  --terminal-ansi-dim_blue: "#71b7ffff";
  --terminal-ansi-dim_cyan: "#39c5cfff";
  --terminal-ansi-dim_green: "#28d751ff";
  --terminal-ansi-dim_magenta: "#cb9effff";
  --terminal-ansi-dim_red: "#ff9492ff";
  --terminal-ansi-dim_white: "#f0f6fcff";
  --terminal-ansi-dim_yellow: "#f0b72fff";
  --terminal-ansi-green: "#28d751ff";
  --terminal-ansi-magenta: "#cb9effff";
  --terminal-ansi-red: "#ff9492ff";
  --terminal-ansi-white: "#f0f6fcff";
  --terminal-ansi-yellow: "#f0b72fff";
  --terminal-background: "#010409ff";
  --terminal-bright_foreground: "#ffffffff";
  --terminal-dim_foreground: "#b7bdc8ff";
  --terminal-foreground: "#ffffffff";
  --text: "#ffffffff";
  --text-accent: "#74b9ffff";
  --text-disabled: "#9198a199";
  --text-muted: "#ffffffff";
  --title_bar-background: "#010409ff";
  --toolbar-background: "#010409ff";
  --unreachable: "#9198a199";
  --unreachable-background: "#262c36ff";
  --unreachable-border: "#9198a11f";
  --warning: "#f0b72fff";
  --warning-background: "#151b23ff";
  --warning-border: "#b7bdc8ff";
  --player-1-background: "#0576ffff";
  --player-1-cursor: "#0576ffff";
  --player-1-selection: "#0576ff66";
  --player-2-background: "#984b10ff";
  --player-2-cursor: "#984b10ff";
  --player-2-selection: "#984b1066";
  --player-3-background: "#d34591ff";
  --player-3-cursor: "#d34591ff";
  --player-3-selection: "#d3459166";
  --player-4-background: "#2f6f37ff";
  --player-4-cursor: "#2f6f37ff";
  --player-4-selection: "#2f6f3766";
  --player-5-background: "#975bf1ff";
  --player-5-cursor: "#975bf1ff";
  --player-5-selection: "#975bf166";
  --player-6-background: "#895906ff";
  --player-6-cursor: "#895906ff";
  --player-6-selection: "#89590666";
  --player-7-background: "#106c70ff";
  --player-7-cursor: "#106c70ff";
  --player-7-selection: "#106c7066";
  --player-8-background: "#eb3342ff";
  --player-8-cursor: "#eb3342ff";
  --player-8-selection: "#eb334266";
  --syntax-attribute-color: null;
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#91cbffff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9198a1ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9198a1ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#91cbffff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#91cbffff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#ff9492ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#ffb757ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#dbb7ffff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-method-color: "#dbb7ffff";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-function-special-definition-color: "#dbb7ffff";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-color: "#b7bdc8ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#ff9492ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#91cbffff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#addcffff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#91cbffff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#91cbffff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#ffffffff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#ff9492ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#ffffffff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#91cbffff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#ffffffff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#ffffffff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#ffffffff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ffb757ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#ff9492ff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#addcffff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#72f088ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: 700;
  --syntax-string-regex-color: "#addcffff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#91cbffff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#91cbffff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#72f088ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#91cbffff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#91cbffff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#ffb757ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ffffffff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ff9492ff";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#ffb757ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
