:root {
  --background: "#212830ff";
  --border: "#3d444dff";
  --border-disabled: "#656c761a";
  --border-focused: "#316dcaff";
  --border-selected: "#316dcaff";
  --border-transparent: "#00000000";
  --border-variant: "#3d444db3";
  --conflict: "#cc6b2cff";
  --conflict-background: "#cc6b2c1a";
  --conflict-border: "#cc6b2c66";
  --created: "#57ab5aff";
  --created-background: "#46954a26";
  --created-border: "#46954a66";
  --deleted: "#e5534bff";
  --deleted-background: "#e5534b1a";
  --deleted-border: "#e5534b66";
  --drop_target-background: "#4184e41a";
  --editor-active_line-background: "#262c36ff";
  --editor-active_line_number: "#d1d7e0ff";
  --editor-active_wrap_guide: "#3d444db3";
  --editor-background: "#212830ff";
  --editor-document_highlight-read_background: "#478be64d";
  --editor-document_highlight-write_background: "#478be633";
  --editor-foreground: "#d1d7e0ff";
  --editor-gutter-background: "#212830ff";
  --editor-highlighted_line-background: "#656c7633";
  --editor-invisible: "#656c76ff";
  --editor-line_number: "#9198a1ff";
  --editor-subheader-background: "#262c36ff";
  --editor-wrap_guide: "#3d444db3";
  --element-active: "#656c7633";
  --element-background: "#656c7633";
  --element-disabled: "#2a313cff";
  --element-hover: "#656c7633";
  --element-selected: "#656c7633";
  --elevated_surface-background: "#262c36ff";
  --error: "#e5534bff";
  --error-background: "#262c36ff";
  --error-border: "#3d444db3";
  --ghost_element-active: "#656c7633";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#2a313cff";
  --ghost_element-hover: "#212830ff";
  --ghost_element-selected: "#656c7633";
  --hidden: "#656c76ff";
  --hidden-background: "#2a313cff";
  --hidden-border: "#656c761a";
  --hint: "#9198a1ff";
  --hint-background: "#262c36ff";
  --hint-border: "#3d444db3";
  --icon: "#d1d7e0ff";
  --icon-accent: "#478be6ff";
  --icon-background: "#212830ff";
  --icon-border: "#3d444dff";
  --icon-disabled: "#656c76ff";
  --icon-muted: "#9198a1ff";
  --ignored: "#9198a1ff";
  --ignored-background: "#2a313cff";
  --ignored-border: "#656c761a";
  --info: "#c69026ff";
  --info-background: "#262c36ff";
  --info-border: "#3d444db3";
  --link_text-hover: "#478be6ff";
  --modified: "#c69026ff";
  --modified-background: "#ae7c1426";
  --modified-border: "#ae7c1466";
  --pane-focused_border: "#3d444dff";
  --panel-background: "#151b23ff";
  --panel-focused_border: "#3d444dff";
  --predictive-background: "#656c7633";
  --predictive-border: "#3d444db3";
  --renamed: "#57ab5aff";
  --renamed-background: "#46954a26";
  --renamed-border: "#46954a66";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#262c36ff";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#eac55f4d";
  --status_bar-background: "#151b23ff";
  --success: "#57ab5aff";
  --success-background: "#46954a26";
  --success-border: "#46954a66";
  --surface-background: "#151b23ff";
  --tab-active_background: "#212830ff";
  --tab-inactive_background: "#151b23ff";
  --tab_bar-background: "#151b23ff";
  --terminal-ansi-black: "#2f3742ff";
  --terminal-ansi-blue: "#539bf5ff";
  --terminal-ansi-bright_black: "#656c76ff";
  --terminal-ansi-bright_blue: "#6cb6ffff";
  --terminal-ansi-bright_cyan: "#56d4ddff";
  --terminal-ansi-bright_green: "#6bc46dff";
  --terminal-ansi-bright_magenta: "#dcbdfbff";
  --terminal-ansi-bright_red: "#ff938aff";
  --terminal-ansi-bright_white: "#cdd9e5ff";
  --terminal-ansi-bright_yellow: "#daaa3fff";
  --terminal-ansi-cyan: "#39c5cfff";
  --terminal-ansi-dim_black: "#2f3742ff";
  --terminal-ansi-dim_blue: "#539bf5ff";
  --terminal-ansi-dim_cyan: "#39c5cfff";
  --terminal-ansi-dim_green: "#57ab5aff";
  --terminal-ansi-dim_magenta: "#b083f0ff";
  --terminal-ansi-dim_red: "#f47067ff";
  --terminal-ansi-dim_white: "#f0f6fcff";
  --terminal-ansi-dim_yellow: "#c69026ff";
  --terminal-ansi-green: "#57ab5aff";
  --terminal-ansi-magenta: "#b083f0ff";
  --terminal-ansi-red: "#f47067ff";
  --terminal-ansi-white: "#f0f6fcff";
  --terminal-ansi-yellow: "#c69026ff";
  --terminal-background: "#151b23ff";
  --terminal-bright_foreground: "#f0f6fcff";
  --terminal-dim_foreground: "#9198a1ff";
  --terminal-foreground: "#d1d7e0ff";
  --text: "#d1d7e0ff";
  --text-accent: "#478be6ff";
  --text-disabled: "#656c76ff";
  --text-muted: "#d1d7e0ff";
  --title_bar-background: "#151b23ff";
  --toolbar-background: "#212830ff";
  --unreachable: "#656c76ff";
  --unreachable-background: "#2a313cff";
  --unreachable-border: "#656c761a";
  --warning: "#c69026ff";
  --warning-background: "#262c36ff";
  --warning-border: "#3d444db3";
  --player-1-background: "#0576ffff";
  --player-1-cursor: "#0576ffff";
  --player-1-selection: "#0576ff66";
  --player-2-background: "#984b10ff";
  --player-2-cursor: "#984b10ff";
  --player-2-selection: "#984b1066";
  --player-3-background: "#d34591ff";
  --player-3-cursor: "#d34591ff";
  --player-3-selection: "#d3459166";
  --player-4-background: "#2f6f37ff";
  --player-4-cursor: "#2f6f37ff";
  --player-4-selection: "#2f6f3766";
  --player-5-background: "#975bf1ff";
  --player-5-cursor: "#975bf1ff";
  --player-5-selection: "#975bf166";
  --player-6-background: "#895906ff";
  --player-6-cursor: "#895906ff";
  --player-6-selection: "#89590666";
  --player-7-background: "#106c70ff";
  --player-7-cursor: "#106c70ff";
  --player-7-selection: "#106c7066";
  --player-8-background: "#eb3342ff";
  --player-8-cursor: "#eb3342ff";
  --player-8-selection: "#eb334266";
  --syntax-attribute-color: null;
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#6cb6ffff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9198a1ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9198a1ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#6cb6ffff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#6cb6ffff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#f47067ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#f69d50ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#dcbdfbff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-method-color: "#dcbdfbff";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-function-special-definition-color: "#dcbdfbff";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-color: "#9198a1ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#f47067ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#6cb6ffff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#96d0ffff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#6cb6ffff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#6cb6ffff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#d1d7e0ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#f47067ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#d1d7e0ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#6cb6ffff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#d1d7e0ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d1d7e0ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d1d7e0ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#f69d50ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#f47067ff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#96d0ffff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#8ddb8cff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: 700;
  --syntax-string-regex-color: "#96d0ffff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#6cb6ffff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#6cb6ffff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8ddb8cff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#6cb6ffff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#6cb6ffff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#f69d50ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d1d7e0ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f47067ff";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#f69d50ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
