:root {
  --background: "#282c34";
  --background_appearance: "opaque";
  --border: "#3d434f";
  --border_disabled: "#3d434f";
  --border_focused: "#3691ff";
  --border_selected: "#8F939D";
  --border_transparent: "#3d434f";
  --border_variant: "#3d434f";
  --conflict: "#fc4a6d";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#5CC676";
  --created_background: null;
  --created_border: null;
  --deleted: "#745b53";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: "#1f5392";
  --editor_active_line_background: "#2d333d";
  --editor_active_line_number: "#abb2bf";
  --editor_active_wrap_guide: "#3d434f";
  --editor_background: "#282c34";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#abb2bf";
  --editor_gutter_background: "#282c34";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#abb0bf";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#3d434f";
  --element_active: null;
  --element_background: "#3f4451";
  --element_disabled: null;
  --element_hover: "#2d333d";
  --element_selected: "#3f4451";
  --elevated_surface_background: "#20242a";
  --error: "#ff2e3f";
  --error_background: "#4d2b32";
  --error_border: null;
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#2d333d";
  --ghost_element_selected: "#3f4451";
  --hidden: "#abb0bf";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#336197";
  --hint_background: "#2c3a56";
  --hint_border: null;
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#71798a";
  --ignored_background: null;
  --ignored_border: null;
  --info: "#336197";
  --info_background: "#2c3a56";
  --info_border: null;
  --link_text_hover: "#3691ff";
  --modified: "#5BB6FF";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --pane_group_border: "#181a1d";
  --panel_background: null;
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#c1d9ff14";
  --scrollbar_thumb_border: "#c1d9ff14";
  --scrollbar_thumb_hover_background: "#c1d9ff28";
  --scrollbar_track_background: "#282c34";
  --scrollbar_track_border: null;
  --search_match_background: "#C74F00";
  --status_bar_background: "#37404b";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: null;
  --tab_active_background: "#353535";
  --tab_inactive_background: "#25272d";
  --tab_bar_background: "#22252a";
  --terminal_ansi_black: "#42444d";
  --terminal_ansi_blue: "#3375fe";
  --terminal_ansi_bright_black: "#8f9aae";
  --terminal_ansi_bright_blue: "#10b0fe";
  --terminal_ansi_bright_cyan: "#5fb9bc";
  --terminal_ansi_bright_green: "#3fc56a";
  --terminal_ansi_bright_magenta: "#ff78f8";
  --terminal_ansi_bright_red: "#ff637f";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#f9c858";
  --terminal_ansi_cyan: "#4483aa";
  --terminal_ansi_dim_black: "#bcc0cc";
  --terminal_ansi_dim_blue: "#1e66f5";
  --terminal_ansi_dim_cyan: "#179299";
  --terminal_ansi_dim_green: "#40a02b";
  --terminal_ansi_dim_magenta: "#ea76cb";
  --terminal_ansi_dim_red: "#d20f39";
  --terminal_ansi_dim_white: "#5c5f77";
  --terminal_ansi_dim_yellow: "#df8e1d";
  --terminal_ansi_green: "#25a45c";
  --terminal_ansi_magenta: "#9f7efe";
  --terminal_ansi_red: "#fc2e51";
  --terminal_ansi_white: "#cdd3e0";
  --terminal_ansi_yellow: "#ff9369";
  --terminal_background: null;
  --terminal_bright_foreground: "#4c4f69";
  --terminal_dim_foreground: "#8c8fa1";
  --terminal_foreground: null;
  --text: "#abb2bf";
  --text_accent: null;
  --text_disabled: null;
  --text_muted: "#abb0bf";
  --text_placeholder: null;
  --title_bar_background: "#404753";
  --toolbar_background: "#282c34";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#E1920A";
  --warning_background: "#693816";
  --warning_border: null;
  --player_1_background: "#225B6D";
  --player_1_cursor: "#ecc353";
  --player_1_selection: "#225B6D70";
  --player_2_background: "#d08770";
  --player_2_cursor: "#d08770";
  --player_2_selection: "#d087703d";
  --player_3_background: "#a3be8c";
  --player_3_cursor: "#a3be8c";
  --player_3_selection: "#a3be8c3d";
  --syntax_attribute_color: "#ff936a";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#10b1fe";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#797979";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#797979";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#9f7efe";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#3691ff";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#ff936a";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#ff6480";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#3fc56b";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#10b1fe";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_link_text_color: "#3691ff";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#3691ff";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#ff78f8";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#7a82da";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_property_color: "#ce9887";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#7a82da";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#7a82da";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#7a82da";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#7a82da";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#7a82da";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#f9c859";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#f9c859";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#f9c859";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#9f7efe";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#9f7efe";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#3691ff";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#f9c859";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_type_color: "#ff6480";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#abb2bf";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#10b1fe";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
