:root {
  --background: "#282c34";
  --background-appearance: "opaque";
  --border: "#3d434f";
  --border-disabled: "#3d434f";
  --border-focused: "#3691ff";
  --border-selected: "#8F939D";
  --border-transparent: "#3d434f";
  --border-variant: "#3d434f";
  --conflict: "#fc4a6d";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#5CC676";
  --created-background: null;
  --created-border: null;
  --deleted: "#745b53";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#1f5392";
  --editor-active_line-background: "#2d333d";
  --editor-active_line_number: "#abb2bf";
  --editor-active_wrap_guide: "#3d434f";
  --editor-background: "#282c34";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#abb2bf";
  --editor-gutter-background: "#282c34";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#abb0bf";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#3d434f";
  --element-active: null;
  --element-background: "#3f4451";
  --element-disabled: null;
  --element-hover: "#2d333d";
  --element-selected: "#3f4451";
  --elevated_surface-background: "#20242a";
  --error: "#ff2e3f";
  --error-background: "#4d2b32";
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#2d333d";
  --ghost_element-selected: "#3f4451";
  --hidden: "#abb0bf";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#336197";
  --hint-background: "#2c3a56";
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#71798a";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#336197";
  --info-background: "#2c3a56";
  --info-border: null;
  --link_text-hover: "#3691ff";
  --modified: "#5BB6FF";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#181a1d";
  --panel-background: null;
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#c1d9ff14";
  --scrollbar-thumb-border: "#c1d9ff14";
  --scrollbar-thumb-hover_background: "#c1d9ff28";
  --scrollbar-track-background: "#282c34";
  --scrollbar-track-border: null;
  --search-match_background: "#C74F00";
  --status_bar-background: "#37404b";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#353535";
  --tab-inactive_background: "#25272d";
  --tab_bar-background: "#22252a";
  --terminal-ansi-black: "#42444d";
  --terminal-ansi-blue: "#3375fe";
  --terminal-ansi-bright_black: "#8f9aae";
  --terminal-ansi-bright_blue: "#10b0fe";
  --terminal-ansi-bright_cyan: "#5fb9bc";
  --terminal-ansi-bright_green: "#3fc56a";
  --terminal-ansi-bright_magenta: "#ff78f8";
  --terminal-ansi-bright_red: "#ff637f";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#f9c858";
  --terminal-ansi-cyan: "#4483aa";
  --terminal-ansi-dim_black: "#bcc0cc";
  --terminal-ansi-dim_blue: "#1e66f5";
  --terminal-ansi-dim_cyan: "#179299";
  --terminal-ansi-dim_green: "#40a02b";
  --terminal-ansi-dim_magenta: "#ea76cb";
  --terminal-ansi-dim_red: "#d20f39";
  --terminal-ansi-dim_white: "#5c5f77";
  --terminal-ansi-dim_yellow: "#df8e1d";
  --terminal-ansi-green: "#25a45c";
  --terminal-ansi-magenta: "#9f7efe";
  --terminal-ansi-red: "#fc2e51";
  --terminal-ansi-white: "#cdd3e0";
  --terminal-ansi-yellow: "#ff9369";
  --terminal-background: null;
  --terminal-bright_foreground: "#4c4f69";
  --terminal-dim_foreground: "#8c8fa1";
  --terminal-foreground: null;
  --text: "#abb2bf";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#abb0bf";
  --text-placeholder: null;
  --title_bar-background: "#404753";
  --toolbar-background: "#282c34";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#E1920A";
  --warning-background: "#693816";
  --warning-border: null;
  --player-1-background: "#225B6D";
  --player-1-cursor: "#ecc353";
  --player-1-selection: "#225B6D70";
  --player-2-background: "#d08770";
  --player-2-cursor: "#d08770";
  --player-2-selection: "#d087703d";
  --player-3-background: "#a3be8c";
  --player-3-cursor: "#a3be8c";
  --player-3-selection: "#a3be8c3d";
  --syntax-attribute-color: "#ff936a";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#10b1fe";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#797979";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#797979";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#9f7efe";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#3691ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff936a";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff6480";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#3fc56b";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#10b1fe";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#3691ff";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#3691ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ff78f8";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#7a82da";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#ce9887";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#7a82da";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#7a82da";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#7a82da";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#7a82da";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#7a82da";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#f9c859";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f9c859";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#f9c859";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#9f7efe";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#9f7efe";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#3691ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#f9c859";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#ff6480";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#abb2bf";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#10b1fe";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
