:root {
  --background: "#16161d";
  --border: "#23232F";
  --border_disabled: "#23232F";
  --border_focused: "#73CEF4";
  --border_selected: "#73CEF4";
  --border_transparent: "#00000000";
  --border_variant: "#2B2B3B";
  --conflict: "#F5DD73";
  --conflict_background: "#F5DD7333";
  --conflict_border: "#F5DD7366";
  --created: "#71f4ae";
  --created_background: "#71f4ae33";
  --created_border: "#71f4ae66";
  --deleted: "#F67979";
  --deleted_background: "#F6797933";
  --deleted_border: "#F6797966";
  --drop_target_background: "#B9B9CA80";
  --editor_active_line_background: "#2B2B3B";
  --editor_active_line_number: "#73CEF4";
  --editor_active_wrap_guide: "#B9B9CA";
  --editor_background: "#16161d";
  --editor_document_highlight_read_background: "#73CEF429";
  --editor_document_highlight_write_background: "#69698366";
  --editor_foreground: "#B9B9CA";
  --editor_gutter_background: "#16161d";
  --editor_highlighted_line_background: "#2B2B3B";
  --editor_invisible: "#696983";
  --editor_line_number: "#696983";
  --editor_subheader_background: "#23232F";
  --editor_wrap_guide: "#696983";
  --element_active: "#2B2B3B";
  --element_background: "#23232F";
  --element_disabled: "#23232F";
  --element_hover: "#2B2B3B";
  --element_selected: "#2B2B3B";
  --elevated_surface_background: "#23232F";
  --error: "#F67979";
  --error_background: "#F6797933";
  --error_border: "#F6797966";
  --ghost_element_active: "#2B2B3B";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#23232F";
  --ghost_element_hover: "#2B2B3B";
  --ghost_element_selected: "#2B2B3B";
  --hidden: "#696983";
  --hidden_background: "#16161d";
  --hidden_border: "#23232F";
  --hint: "#B9B9CA";
  --hint_background: "#B9B9CA33";
  --hint_border: "#B9B9CA66";
  --icon: "#B9B9CA";
  --icon_accent: "#73CEF4";
  --icon_disabled: "#696983";
  --icon_muted: "#696983";
  --icon_placeholder: "#696983";
  --ignored: "#696983";
  --ignored_background: "#16161d";
  --ignored_border: "#23232F";
  --info: "#73CEF4";
  --info_background: "#73CEF433";
  --info_border: "#73CEF466";
  --link_text_hover: "#73CEF4";
  --modified: "#F5DD73";
  --modified_background: "#F5DD7333";
  --modified_border: "#F5DD7366";
  --pane_focused_border: null;
  --panel_background: "#23232F";
  --panel_focused_border: null;
  --predictive: "#71f4ae";
  --predictive_background: "#71f4ae33";
  --predictive_border: "#71f4ae66";
  --renamed: "#73CEF4";
  --renamed_background: "#73CEF433";
  --renamed_border: "#73CEF466";
  --scrollbar_thumb_background: "#B9B9CA4C";
  --scrollbar_thumb_border: "#2B2B3B";
  --scrollbar_thumb_hover_background: "#2B2B3B";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#23232F";
  --search_match_background: "#73CEF466";
  --status_bar_background: "#16161d";
  --success: "#71f4ae";
  --success_background: "#71f4ae33";
  --success_border: "#71f4ae66";
  --surface_background: "#23232F";
  --tab_active_background: "#2B2B3B";
  --tab_inactive_background: "#23232F";
  --tab_bar_background: "#23232F";
  --terminal_ansi_black: "#16161d";
  --terminal_ansi_blue: "#73CEF4";
  --terminal_ansi_bright_black: "#696983";
  --terminal_ansi_bright_blue: "#B4E4F9";
  --terminal_ansi_bright_cyan: "#B4E4F9";
  --terminal_ansi_bright_green: "#c6f9e0";
  --terminal_ansi_bright_magenta: "#FFC2DE";
  --terminal_ansi_bright_red: "#F67979";
  --terminal_ansi_bright_white: "#FFFFFF";
  --terminal_ansi_bright_yellow: "#F5DD73";
  --terminal_ansi_cyan: "#73CEF4";
  --terminal_ansi_dim_black: "#000004";
  --terminal_ansi_dim_blue: "#2FB5EE";
  --terminal_ansi_dim_cyan: "#2FB5EE";
  --terminal_ansi_dim_green: "#71f4ae";
  --terminal_ansi_dim_magenta: "#FF99C9";
  --terminal_ansi_dim_red: "#F67979";
  --terminal_ansi_dim_white: "#B9B9CA";
  --terminal_ansi_dim_yellow: "#F5DD73";
  --terminal_ansi_green: "#71f4ae";
  --terminal_ansi_magenta: "#FF99C9";
  --terminal_ansi_red: "#F67979";
  --terminal_ansi_white: "#FFFFFF";
  --terminal_ansi_yellow: "#F5DD73";
  --terminal_background: "#16161d";
  --terminal_bright_foreground: "#FFFFFF";
  --terminal_dim_foreground: "#696983";
  --terminal_foreground: "#B9B9CA";
  --text: "#B9B9CA";
  --text_accent: "#73CEF4";
  --text_disabled: "#696983";
  --text_muted: "#696983";
  --text_placeholder: "#696983";
  --title_bar_background: "#16161d";
  --title_bar_inactive_background: "#23232F";
  --toolbar_background: "#16161d";
  --unreachable: "#696983";
  --unreachable_background: "#16161d";
  --unreachable_border: "#23232F";
  --warning: "#F5DD73";
  --warning_background: "#F5DD7333";
  --warning_border: "#F5DD7366";
  --player_1_background: "#73CEF4";
  --player_1_cursor: "#73CEF4";
  --player_1_selection: "#73CEF43D";
  --player_2_background: "#FF99C9";
  --player_2_cursor: "#FF99C9";
  --player_2_selection: "#FF99C93D";
  --player_3_background: "#F5DD73";
  --player_3_cursor: "#F5DD73";
  --player_3_selection: "#F5DD733D";
  --player_4_background: "#71f4ae";
  --player_4_cursor: "#71f4ae";
  --player_4_selection: "#71f4ae3D";
  --player_5_background: "#B4E4F9";
  --player_5_cursor: "#B4E4F9";
  --player_5_selection: "#B4E4F93D";
  --player_6_background: "#F67979";
  --player_6_cursor: "#F67979";
  --player_6_selection: "#F679793D";
  --player_7_background: "#d3b987";
  --player_7_cursor: "#d3b987";
  --player_7_selection: "#d3b9873D";
  --player_8_background: "#FFC2DE";
  --player_8_cursor: "#FFC2DE";
  --player_8_selection: "#FFC2DE3D";
  --syntax_attribute_color: "#73CEF4";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#FF99C9";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#696983";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#696983";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#FFC2DE";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#FFFFFF";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#B9B9CA";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#B9B9CA";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#FFFFFF";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: "bold";
  --syntax_enum_color: "#FF99C9";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#D9F2FC";
  --syntax_function_font_style: "italic";
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#FFFFFF";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: "bold";
  --syntax_keyword_color: "#B9B9CA";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#73CEF4";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#73CEF4";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#71f4ae";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#FF99C9";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#FFFFFF";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#71f4ae";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#B9B9CA";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#B9B9CA";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#B4E4F9";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#B9B9CA";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#B9B9CA";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#B9B9CA";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#B9B9CA";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#B9B9CA";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#d3b987";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#FF99C9";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#d3b987";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#d3b987";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#B4E4F9";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#FFFFFF";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#d3b987";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#73CEF4";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: "bold";
  --syntax_type_color: "#FFFFFF";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#73CEF4";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variant_color: "#73CEF4";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
