:root {
  --accents: ["#0f62fe","#3ddbd9","#be95ff","#33b1ff","#ee5396","#42be65","#f1c21b"];
  --background: "#161616";
  --border: "#26262680";
  --border_disabled: "#393939";
  --border_focused: "#262626";
  --border_selected: "#393939";
  --border_transparent: "#161616bf";
  --border_variant: "#262626";
  --conflict: "#ee5396";
  --conflict_background: "#ee539620";
  --conflict_border: "#262626";
  --created: "#33b1ff";
  --created_background: "#33b1ff20";
  --created_border: "#262626";
  --deleted: "#3ddbd9";
  --deleted_background: "#3ddbd920";
  --deleted_border: "#262626";
  --drop_target_background: "#393939";
  --editor_active_line_background: "#262626";
  --editor_active_line_number: "#f2f4f8";
  --editor_active_wrap_guide: "#525252";
  --editor_background: "#161616";
  --editor_document_highlight_read_background: "#52525240";
  --editor_document_highlight_write_background: "#525252";
  --editor_foreground: "#f2f4f8";
  --editor_gutter_background: "#161616";
  --editor_highlighted_line_background: "#262626";
  --editor_invisible: "#525252bf";
  --editor_line_number: "#525252";
  --editor_subheader_background: "#161616";
  --editor_wrap_guide: "#262626";
  --element_active: "#161616bf";
  --element_background: "#161616c0";
  --element_disabled: "#262626";
  --element_hover: "#393939bf";
  --element_selected: "#393939";
  --elevated_surface_background: "#161616";
  --error: "#ee5396";
  --error_background: "#ee539620";
  --error_border: "#262626";
  --ghost_element_active: "#0f62fe";
  --ghost_element_background: "#16161680";
  --ghost_element_disabled: "#0f62fe80";
  --ghost_element_hover: "#262626";
  --ghost_element_selected: "#393939";
  --hidden: "#525252";
  --hidden_background: "#52525220";
  --hidden_border: "#262626";
  --hint: "#f2f4f8";
  --hint_background: "#f2f4f820";
  --hint_border: "#262626";
  --icon: "#f2f4f8";
  --icon_accent: "#0f62fe";
  --icon_disabled: "#525252";
  --icon_muted: "#525252";
  --icon_placeholder: "#525252";
  --ignored: "#525252";
  --ignored_background: "#52525220";
  --ignored_border: "#262626";
  --info: "#33b1ff";
  --info_background: "#33b1ff20";
  --info_border: "#262626";
  --link_text_hover: "#be95ff";
  --modified: "#42be65";
  --modified_background: "#42be6520";
  --modified_border: "#262626";
  --pane_focused_border: "#393939";
  --panel_background: "#161616";
  --panel_focused_border: "#393939";
  --predictive: "#525252";
  --predictive_background: "#52525220";
  --predictive_border: "#262626";
  --renamed: "#ee5396";
  --renamed_background: "#ee539620";
  --renamed_border: "#262626";
  --scrollbar_thumb_border: "#161616";
  --scrollbar_thumb_hover_background: "#393939";
  --scrollbar_track_background: "#161616c0";
  --scrollbar_track_border: "#161616";
  --scrollbar_thumb_background: "#393939";
  --search_match_background: "#0f62fe40";
  --status_bar_background: "#161616";
  --success: "#42be65";
  --success_background: "#42be6520";
  --success_border: "#262626";
  --surface_background: "#161616";
  --tab_active_background: "#161616";
  --tab_inactive_background: "#262626c0";
  --tab_bar_background: "#26262680";
  --terminal_ansi_black: "#161616";
  --terminal_ansi_blue: "#0f62fe";
  --terminal_ansi_bright_black: "#525252";
  --terminal_ansi_bright_blue: "#33b1ff";
  --terminal_ansi_bright_cyan: "#3ddbd9";
  --terminal_ansi_bright_green: "#42be65";
  --terminal_ansi_bright_magenta: "#be95ff";
  --terminal_ansi_bright_red: "#ee5396";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#f1c21b";
  --terminal_ansi_cyan: "#3ddbd9";
  --terminal_ansi_dim_black: "#16161680";
  --terminal_ansi_dim_blue: "#0f62fe80";
  --terminal_ansi_dim_cyan: "#3ddbd980";
  --terminal_ansi_dim_green: "#42be6580";
  --terminal_ansi_dim_magenta: "#be95ff80";
  --terminal_ansi_dim_red: "#ee539680";
  --terminal_ansi_dim_white: "#ffffff80";
  --terminal_ansi_dim_yellow: "#f1c21b80";
  --terminal_ansi_green: "#42be65";
  --terminal_ansi_magenta: "#be95ff";
  --terminal_ansi_red: "#ee5396";
  --terminal_ansi_white: "#ffffff";
  --terminal_ansi_yellow: "#f1c21b";
  --terminal_background: "#161616";
  --terminal_bright_foreground: "#ffffff";
  --terminal_dim_foreground: "#f2f4f880";
  --terminal_foreground: "#f2f4f8";
  --text: "#f2f4f8";
  --text_accent: "#0f62fe";
  --text_disabled: "#525252";
  --text_muted: "#a8a8a8";
  --text_placeholder: "#6f6f6f";
  --title_bar_background: "#161616";
  --toolbar_background: "#161616";
  --unreachable: "#ee5396";
  --unreachable_background: "#ee539620";
  --unreachable_border: "#262626";
  --warning: "#f1c21b";
  --warning_background: "#f1c21b20";
  --warning_border: "#262626";
  --player_1_background: "#525252";
  --player_1_cursor: "#0f62fe";
  --player_1_selection: "#0f62fe40";
  --player_2_background: "#525252";
  --player_2_cursor: "#3ddbd9";
  --player_2_selection: "#3ddbd940";
  --player_3_background: "#525252";
  --player_3_cursor: "#be95ff";
  --player_3_selection: "#be95ff40";
  --player_4_background: "#525252";
  --player_4_cursor: "#33b1ff";
  --player_4_selection: "#33b1ff40";
  --player_5_background: "#525252";
  --player_5_cursor: "#ee5396";
  --player_5_selection: "#ee539640";
  --player_6_background: "#525252";
  --player_6_cursor: "#42be65";
  --player_6_selection: "#42be6540";
  --player_7_background: "#525252";
  --player_7_cursor: "#f1c21b";
  --player_7_selection: "#f1c21b40";
  --syntax_attribute_color: "#42be65";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#0f62fe";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#6f6f6f";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#6f6f6f";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#0f62fe";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#3ddbd9";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#3ddbd9";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#3ddbd9";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#42be65";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#be95ff";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#ee5396";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#33b1ff";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#33b1ff";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#0f62fe";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#f2f4f8";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#f2f4f8";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#f2f4f8";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#f2f4f8";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#f2f4f8";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#33b1ff";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#0f62fe";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#33b1ff";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#33b1ff";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#33b1ff";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#3ddbd9";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#33b1ff";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#ee5396";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#ee5396";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#3ddbd9";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#3ddbd9";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
