:root {
  --accents: ["#4589ff","#33b1ff","#be95ff","#42be65","#3ddbd9","#ff7eb6","#78a9ff"];
  --background: "#161616";
  --border: "#393939";
  --border-disabled: "#525252";
  --border-focused: "#ffffff";
  --border-selected: "#4589ff";
  --border-transparent: "#161616bf";
  --border-variant: "#262626";
  --conflict: "#ff8389";
  --conflict-background: "#ff838920";
  --conflict-border: "#da1e28";
  --created: "#42be65";
  --created-background: "#42be6520";
  --created-border: "#24a148";
  --deleted: "#ff8389";
  --deleted-background: "#ff838920";
  --deleted-border: "#da1e28";
  --drop_target-background: "#4589ff40";
  --editor-active_line-background: "#262626";
  --editor-active_line_number: "#f4f4f4";
  --editor-active_wrap_guide: "#393939";
  --editor-background: "#161616";
  --editor-document_highlight-read_background: "#4589ff40";
  --editor-document_highlight-write_background: "#4589ff40";
  --editor-foreground: "#f4f4f4";
  --editor-gutter-background: "#161616";
  --editor-highlighted_line-background: "#262626";
  --editor-invisible: "#525252";
  --editor-line_number: "#6f6f6f";
  --editor-subheader-background: "#161616";
  --editor-wrap_guide: "#393939";
  --element-active: "#4589ff";
  --element-background: "#262626";
  --element-disabled: "#525252";
  --element-hover: "#353535";
  --element-selected: "#393939";
  --elevated_surface-background: "#262626";
  --error: "#ff8389";
  --error-background: "#ff838920";
  --error-border: "#da1e28";
  --ghost_element-active: "#4589ff";
  --ghost_element-background: "#16161680";
  --ghost_element-disabled: "#525252";
  --ghost_element-hover: "#353535";
  --ghost_element-selected: "#393939";
  --hidden: "#525252";
  --hidden-background: "#52525220";
  --hidden-border: "#262626";
  --hint: "#4589ff";
  --hint-background: "#4589ff20";
  --hint-border: "#0f62fe";
  --icon: "#f4f4f4";
  --icon-accent: "#4589ff";
  --icon-disabled: "#6f6f6f";
  --icon-muted: "#6f6f6f";
  --icon-placeholder: "#525252";
  --ignored: "#525252";
  --ignored-background: "#52525220";
  --ignored-border: "#262626";
  --info: "#4589ff";
  --info-background: "#4589ff20";
  --info-border: "#0f62fe";
  --link_text-hover: "#78a9ff";
  --modified: "#33b1ff";
  --modified-background: "#33b1ff20";
  --modified-border: "#1192e8";
  --pane-focused_border: "#4589ff";
  --panel-background: "#262626";
  --panel-focused_border: "#4589ff";
  --predictive: "#4589ff";
  --predictive-background: "#4589ff20";
  --predictive-border: "#0f62fe";
  --renamed: "#33b1ff";
  --renamed-background: "#33b1ff20";
  --renamed-border: "#1192e8";
  --scrollbar-thumb-border: "#393939";
  --scrollbar-thumb-hover_background: "#4c4c4c";
  --scrollbar-track-background: "#262626";
  --scrollbar-track-border: "#262626";
  --scrollbar_thumb-background: "#393939";
  --search-match_background: "#4589ff40";
  --status_bar-background: "#262626";
  --success: "#42be65";
  --success-background: "#42be6520";
  --success-border: "#24a148";
  --surface-background: "#262626";
  --tab-active_background: "#161616";
  --tab-inactive_background: "#262626";
  --tab_bar-background: "#161616";
  --terminal-ansi-black: "#161616";
  --terminal-ansi-blue: "#4589ff";
  --terminal-ansi-bright_black: "#6f6f6f";
  --terminal-ansi-bright_blue: "#78a9ff";
  --terminal-ansi-bright_cyan: "#3ddbd9";
  --terminal-ansi-bright_green: "#42be65";
  --terminal-ansi-bright_magenta: "#be95ff";
  --terminal-ansi-bright_red: "#ff8389";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#f1c21b";
  --terminal-ansi-cyan: "#3ddbd9";
  --terminal-ansi-dim_black: "#161616";
  --terminal-ansi-dim_blue: "#0f62fe";
  --terminal-ansi-dim_cyan: "#08bdba";
  --terminal-ansi-dim_green: "#24a148";
  --terminal-ansi-dim_magenta: "#8a3ffc";
  --terminal-ansi-dim_red: "#da1e28";
  --terminal-ansi-dim_white: "#f4f4f4";
  --terminal-ansi-dim_yellow: "#f1c21b";
  --terminal-ansi-green: "#42be65";
  --terminal-ansi-magenta: "#be95ff";
  --terminal-ansi-red: "#ff8389";
  --terminal-ansi-white: "#f4f4f4";
  --terminal-ansi-yellow: "#f1c21b";
  --terminal-background: "#161616";
  --terminal-bright_foreground: "#ffffff";
  --terminal-dim_foreground: "#6f6f6f";
  --terminal-foreground: "#f4f4f4";
  --text: "#f4f4f4";
  --text-accent: "#4589ff";
  --text-disabled: "#6f6f6f";
  --text-muted: "#c6c6c6";
  --text-placeholder: "#6f6f6f";
  --title_bar-background: "#161616";
  --toolbar-background: "#161616";
  --unreachable: "#ff8389";
  --unreachable-background: "#ff838920";
  --unreachable-border: "#da1e28";
  --warning: "#f1c21b";
  --warning-background: "#f1c21b20";
  --warning-border: "#f1c21b";
  --player-1-background: "#393939";
  --player-1-cursor: "#4589ff";
  --player-1-selection: "#4589ff40";
  --player-2-background: "#393939";
  --player-2-cursor: "#33b1ff";
  --player-2-selection: "#33b1ff40";
  --player-3-background: "#393939";
  --player-3-cursor: "#be95ff";
  --player-3-selection: "#be95ff40";
  --player-4-background: "#393939";
  --player-4-cursor: "#42be65";
  --player-4-selection: "#42be6540";
  --player-5-background: "#393939";
  --player-5-cursor: "#3ddbd9";
  --player-5-selection: "#3ddbd940";
  --player-6-background: "#393939";
  --player-6-cursor: "#ff7eb6";
  --player-6-selection: "#ff7eb640";
  --player-7-background: "#393939";
  --player-7-cursor: "#78a9ff";
  --player-7-selection: "#78a9ff40";
  --syntax-attribute-color: "#3ddbd9";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#be95ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6f6f6f";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#8d8d8d";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#be95ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#33b1ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff7eb6";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff7eb6";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#33b1ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#be95ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ff7eb6";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#78a9ff";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#78a9ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#be95ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#f4f4f4";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#f4f4f4";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#f4f4f4";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#f4f4f4";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#3ddbd9";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#42be65";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#3ddbd9";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#42be65";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#3ddbd9";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#3ddbd9";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#3ddbd9";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#42be65";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#33b1ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#ff7eb6";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#78a9ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#3ddbd9";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
