:root {
  --accents: ["#6929c4","#1192e8","#d12771","#08bdba","#0072c3","#42be65","#ba4e00"];
  --background: "#ffffff";
  --border: "#e0e0e080";
  --border_disabled: "#c6c6c6";
  --border_focused: "#6929c4";
  --border_selected: "#6929c4";
  --border_transparent: "#ffffffbf";
  --border_variant: "#e0e0e0";
  --conflict: "#da1e28";
  --conflict_background: "#da1e2820";
  --conflict_border: "#ff8389";
  --created: "#1192e8";
  --created_background: "#1192e820";
  --created_border: "#33b1ff";
  --deleted: "#da1e28";
  --deleted_background: "#da1e2820";
  --deleted_border: "#ff8389";
  --drop_target_background: "#6929c440";
  --editor_active_line_background: "#f4f4f4";
  --editor_active_line_number: "#161616";
  --editor_active_wrap_guide: "#8d8d8d";
  --editor_background: "#ffffff";
  --editor_document_highlight_read_background: "#6929c420";
  --editor_document_highlight_write_background: "#6929c440";
  --editor_foreground: "#161616";
  --editor_gutter_background: "#ffffff";
  --editor_highlighted_line_background: "#f4f4f4";
  --editor_invisible: "#8d8d8d";
  --editor_line_number: "#6f6f6f";
  --editor_subheader_background: "#ffffff";
  --editor_wrap_guide: "#c6c6c6";
  --element_active: "#6929c4";
  --element_background: "#f4f4f4";
  --element_disabled: "#c6c6c6";
  --element_hover: "#e8e8e8";
  --element_selected: "#e0e0e0";
  --elevated_surface_background: "#f4f4f4";
  --error: "#da1e28";
  --error_background: "#da1e2820";
  --error_border: "#ff8389";
  --ghost_element_active: "#6929c4";
  --ghost_element_background: "#f4f4f480";
  --ghost_element_disabled: "#c6c6c6";
  --ghost_element_hover: "#e8e8e8";
  --ghost_element_selected: "#e0e0e0";
  --hidden: "#8d8d8d";
  --hidden_background: "#8d8d8d20";
  --hidden_border: "#c6c6c6";
  --hint: "#6929c4";
  --hint_background: "#6929c420";
  --hint_border: "#be95ff";
  --icon: "#161616";
  --icon_accent: "#6929c4";
  --icon_disabled: "#8d8d8d";
  --icon_muted: "#6f6f6f";
  --icon_placeholder: "#8d8d8d";
  --ignored: "#8d8d8d";
  --ignored_background: "#8d8d8d20";
  --ignored_border: "#c6c6c6";
  --info: "#0072c3";
  --info_background: "#0072c320";
  --info_border: "#4589ff";
  --link_text_hover: "#6929c4";
  --modified: "#0072c3";
  --modified_background: "#0072c320";
  --modified_border: "#33b1ff";
  --pane_focused_border: "#6929c4";
  --panel_background: "#ffffff";
  --panel_focused_border: "#6929c4";
  --predictive: "#6929c4";
  --predictive_background: "#6929c420";
  --predictive_border: "#be95ff";
  --renamed: "#1192e8";
  --renamed_background: "#1192e820";
  --renamed_border: "#33b1ff";
  --scrollbar_thumb_border: "#c6c6c6";
  --scrollbar_thumb_hover_background: "#8d8d8d";
  --scrollbar_track_background: "#ffffffc0";
  --scrollbar_track_border: "#ffffff";
  --scrollbar_thumb_background: "#c6c6c6";
  --search_match_background: "#6929c440";
  --status_bar_background: "#f4f4f4";
  --success: "#0072c3";
  --success_background: "#0072c320";
  --success_border: "#33b1ff";
  --surface_background: "#f4f4f4";
  --tab_active_background: "#ffffff";
  --tab_inactive_background: "#f4f4f4";
  --tab_bar_background: "#ffffff";
  --terminal_ansi_black: "#161616";
  --terminal_ansi_blue: "#0072c3";
  --terminal_ansi_bright_black: "#525252";
  --terminal_ansi_bright_blue: "#4589ff";
  --terminal_ansi_bright_cyan: "#3ddbd9";
  --terminal_ansi_bright_green: "#42be65";
  --terminal_ansi_bright_magenta: "#be95ff";
  --terminal_ansi_bright_red: "#ff8389";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#fddc69";
  --terminal_ansi_cyan: "#08bdba";
  --terminal_ansi_dim_black: "#6f6f6f";
  --terminal_ansi_dim_blue: "#00539a";
  --terminal_ansi_dim_cyan: "#006d6d";
  --terminal_ansi_dim_green: "#0e6027";
  --terminal_ansi_dim_magenta: "#491d8b";
  --terminal_ansi_dim_red: "#750e13";
  --terminal_ansi_dim_white: "#c6c6c6";
  --terminal_ansi_dim_yellow: "#8e6a00";
  --terminal_ansi_green: "#42be65";
  --terminal_ansi_magenta: "#6929c4";
  --terminal_ansi_red: "#da1e28";
  --terminal_ansi_white: "#f4f4f4";
  --terminal_ansi_yellow: "#ba4e00";
  --terminal_background: "#ffffff";
  --terminal_bright_foreground: "#161616";
  --terminal_dim_foreground: "#6f6f6f";
  --terminal_foreground: "#161616";
  --text: "#161616";
  --text_accent: "#6929c4";
  --text_disabled: "#8d8d8d";
  --text_muted: "#6f6f6f";
  --text_placeholder: "#6f6f6f";
  --title_bar_background: "#ffffff";
  --toolbar_background: "#ffffff";
  --unreachable: "#da1e28";
  --unreachable_background: "#da1e2820";
  --unreachable_border: "#ff8389";
  --warning: "#f1c21b";
  --warning_background: "#f1c21b20";
  --warning_border: "#fddc69";
  --player_1_background: "#e0e0e0";
  --player_1_cursor: "#6929c4";
  --player_1_selection: "#6929c440";
  --player_2_background: "#e0e0e0";
  --player_2_cursor: "#1192e8";
  --player_2_selection: "#1192e840";
  --player_3_background: "#e0e0e0";
  --player_3_cursor: "#d12771";
  --player_3_selection: "#d1277140";
  --player_4_background: "#e0e0e0";
  --player_4_cursor: "#08bdba";
  --player_4_selection: "#08bdba40";
  --player_5_background: "#e0e0e0";
  --player_5_cursor: "#0072c3";
  --player_5_selection: "#0072c340";
  --player_6_background: "#e0e0e0";
  --player_6_cursor: "#42be65";
  --player_6_selection: "#42be6540";
  --player_7_background: "#e0e0e0";
  --player_7_cursor: "#ba4e00";
  --player_7_selection: "#ba4e0040";
  --syntax_attribute_color: "#42be65";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#6929c4";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#6f6f6f";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#6f6f6f";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#6929c4";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#08bdba";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#08bdba";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#08bdba";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#42be65";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#6929c4";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#d12771";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#1192e8";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#1192e8";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#6929c4";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#161616";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#161616";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#161616";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#161616";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#161616";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#1192e8";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#6929c4";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#1192e8";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#1192e8";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#1192e8";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#08bdba";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#1192e8";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#d12771";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#d12771";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#08bdba";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#08bdba";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
