:root {
  --accents: ["#6929c4","#1192e8","#d12771","#08bdba","#0072c3","#42be65","#ba4e00"];
  --background: "#ffffff";
  --border: "#e0e0e080";
  --border-disabled: "#c6c6c6";
  --border-focused: "#6929c4";
  --border-selected: "#6929c4";
  --border-transparent: "#ffffffbf";
  --border-variant: "#e0e0e0";
  --conflict: "#da1e28";
  --conflict-background: "#da1e2820";
  --conflict-border: "#ff8389";
  --created: "#1192e8";
  --created-background: "#1192e820";
  --created-border: "#33b1ff";
  --deleted: "#da1e28";
  --deleted-background: "#da1e2820";
  --deleted-border: "#ff8389";
  --drop_target-background: "#6929c440";
  --editor-active_line-background: "#f4f4f4";
  --editor-active_line_number: "#161616";
  --editor-active_wrap_guide: "#8d8d8d";
  --editor-background: "#ffffff";
  --editor-document_highlight-read_background: "#6929c420";
  --editor-document_highlight-write_background: "#6929c440";
  --editor-foreground: "#161616";
  --editor-gutter-background: "#ffffff";
  --editor-highlighted_line-background: "#f4f4f4";
  --editor-invisible: "#8d8d8d";
  --editor-line_number: "#6f6f6f";
  --editor-subheader-background: "#ffffff";
  --editor-wrap_guide: "#c6c6c6";
  --element-active: "#6929c4";
  --element-background: "#f4f4f4";
  --element-disabled: "#c6c6c6";
  --element-hover: "#e8e8e8";
  --element-selected: "#e0e0e0";
  --elevated_surface-background: "#f4f4f4";
  --error: "#da1e28";
  --error-background: "#da1e2820";
  --error-border: "#ff8389";
  --ghost_element-active: "#6929c4";
  --ghost_element-background: "#f4f4f480";
  --ghost_element-disabled: "#c6c6c6";
  --ghost_element-hover: "#e8e8e8";
  --ghost_element-selected: "#e0e0e0";
  --hidden: "#8d8d8d";
  --hidden-background: "#8d8d8d20";
  --hidden-border: "#c6c6c6";
  --hint: "#6929c4";
  --hint-background: "#6929c420";
  --hint-border: "#be95ff";
  --icon: "#161616";
  --icon-accent: "#6929c4";
  --icon-disabled: "#8d8d8d";
  --icon-muted: "#6f6f6f";
  --icon-placeholder: "#8d8d8d";
  --ignored: "#8d8d8d";
  --ignored-background: "#8d8d8d20";
  --ignored-border: "#c6c6c6";
  --info: "#0072c3";
  --info-background: "#0072c320";
  --info-border: "#4589ff";
  --link_text-hover: "#6929c4";
  --modified: "#0072c3";
  --modified-background: "#0072c320";
  --modified-border: "#33b1ff";
  --pane-focused_border: "#6929c4";
  --panel-background: "#ffffff";
  --panel-focused_border: "#6929c4";
  --predictive: "#6929c4";
  --predictive-background: "#6929c420";
  --predictive-border: "#be95ff";
  --renamed: "#1192e8";
  --renamed-background: "#1192e820";
  --renamed-border: "#33b1ff";
  --scrollbar-thumb-border: "#c6c6c6";
  --scrollbar-thumb-hover_background: "#8d8d8d";
  --scrollbar-track-background: "#ffffffc0";
  --scrollbar-track-border: "#ffffff";
  --scrollbar_thumb-background: "#c6c6c6";
  --search-match_background: "#6929c440";
  --status_bar-background: "#f4f4f4";
  --success: "#0072c3";
  --success-background: "#0072c320";
  --success-border: "#33b1ff";
  --surface-background: "#f4f4f4";
  --tab-active_background: "#ffffff";
  --tab-inactive_background: "#f4f4f4";
  --tab_bar-background: "#ffffff";
  --terminal-ansi-black: "#161616";
  --terminal-ansi-blue: "#0072c3";
  --terminal-ansi-bright_black: "#525252";
  --terminal-ansi-bright_blue: "#4589ff";
  --terminal-ansi-bright_cyan: "#3ddbd9";
  --terminal-ansi-bright_green: "#42be65";
  --terminal-ansi-bright_magenta: "#be95ff";
  --terminal-ansi-bright_red: "#ff8389";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#fddc69";
  --terminal-ansi-cyan: "#08bdba";
  --terminal-ansi-dim_black: "#6f6f6f";
  --terminal-ansi-dim_blue: "#00539a";
  --terminal-ansi-dim_cyan: "#006d6d";
  --terminal-ansi-dim_green: "#0e6027";
  --terminal-ansi-dim_magenta: "#491d8b";
  --terminal-ansi-dim_red: "#750e13";
  --terminal-ansi-dim_white: "#c6c6c6";
  --terminal-ansi-dim_yellow: "#8e6a00";
  --terminal-ansi-green: "#42be65";
  --terminal-ansi-magenta: "#6929c4";
  --terminal-ansi-red: "#da1e28";
  --terminal-ansi-white: "#f4f4f4";
  --terminal-ansi-yellow: "#ba4e00";
  --terminal-background: "#ffffff";
  --terminal-bright_foreground: "#161616";
  --terminal-dim_foreground: "#6f6f6f";
  --terminal-foreground: "#161616";
  --text: "#161616";
  --text-accent: "#6929c4";
  --text-disabled: "#8d8d8d";
  --text-muted: "#6f6f6f";
  --text-placeholder: "#6f6f6f";
  --title_bar-background: "#ffffff";
  --toolbar-background: "#ffffff";
  --unreachable: "#da1e28";
  --unreachable-background: "#da1e2820";
  --unreachable-border: "#ff8389";
  --warning: "#f1c21b";
  --warning-background: "#f1c21b20";
  --warning-border: "#fddc69";
  --player-1-background: "#e0e0e0";
  --player-1-cursor: "#6929c4";
  --player-1-selection: "#6929c440";
  --player-2-background: "#e0e0e0";
  --player-2-cursor: "#1192e8";
  --player-2-selection: "#1192e840";
  --player-3-background: "#e0e0e0";
  --player-3-cursor: "#d12771";
  --player-3-selection: "#d1277140";
  --player-4-background: "#e0e0e0";
  --player-4-cursor: "#08bdba";
  --player-4-selection: "#08bdba40";
  --player-5-background: "#e0e0e0";
  --player-5-cursor: "#0072c3";
  --player-5-selection: "#0072c340";
  --player-6-background: "#e0e0e0";
  --player-6-cursor: "#42be65";
  --player-6-selection: "#42be6540";
  --player-7-background: "#e0e0e0";
  --player-7-cursor: "#ba4e00";
  --player-7-selection: "#ba4e0040";
  --syntax-attribute-color: "#42be65";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#6929c4";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6f6f6f";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6f6f6f";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#6929c4";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#08bdba";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#08bdba";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#08bdba";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#42be65";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#6929c4";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#d12771";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#1192e8";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#1192e8";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#6929c4";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#161616";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#161616";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#161616";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#161616";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#161616";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#1192e8";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#6929c4";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#1192e8";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#1192e8";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#1192e8";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#08bdba";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#1192e8";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#d12771";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#d12771";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#08bdba";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#08bdba";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
