:root {
  --accents: [];
  --background: "#121212";
  --background_appearance: "opaque";
  --border: "#191919";
  --border_disabled: "#191919";
  --border_focused: "#00000000";
  --border_selected: "#191919";
  --border_transparent: "#191919";
  --border_variant: "#191919";
  --conflict: "#d4976c";
  --conflict_background: "#d4976c";
  --conflict_border: "#d4976c";
  --created: "#4d9375";
  --created_background: "#4d9375";
  --created_border: "#4d9375";
  --deleted: "#cb7676";
  --deleted_background: "#cb7676";
  --deleted_border: "#cb7676";
  --drop_target_background: null;
  --editor_active_line_background: "#181818";
  --editor_active_line_number: "#dbd7caee";
  --editor_active_wrap_guide: "#191919";
  --editor_background: "#121212";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#dbd7caee";
  --editor_gutter_background: "#121212";
  --editor_highlighted_line_background: null;
  --editor_indent_guide: null;
  --editor_indent_guide_active: null;
  --editor_invisible: null;
  --editor_line_number: "#dedcd550";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#191919";
  --element_active: null;
  --element_background: "#4d9375";
  --element_disabled: null;
  --element_hover: "#181818";
  --element_selected: "#181818";
  --elevated_surface_background: "#121212";
  --error: "#cb7676";
  --error_background: "#cb7676";
  --error_border: "#cb7676";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#181818";
  --ghost_element_selected: "#181818";
  --hidden: "#959da5";
  --hidden_background: "#959da5";
  --hidden_border: "#959da5";
  --hint: "#666666";
  --hint_background: "#666666";
  --hint_border: "#666666";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#dedcd550";
  --ignored_background: "#dedcd550";
  --ignored_border: "#dedcd550";
  --info: "#6394bf";
  --info_background: "#6394bf";
  --info_border: "#6394bf";
  --link_text_hover: "#4d9375";
  --modified: "#6394bf";
  --modified_background: "#6394bf";
  --modified_border: "#6394bf";
  --pane_focused_border: null;
  --pane_group_border: "#191919";
  --panel_background: "#121212";
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#dedcd510";
  --scrollbar_thumb_border: "#dedcd510";
  --scrollbar_thumb_hover_background: "#dedcd550";
  --scrollbar_track_background: "#121212";
  --scrollbar_track_border: "#111";
  --search_match_background: null;
  --status_bar_background: "#121212";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: "#121212";
  --tab_active_background: "#121212";
  --tab_inactive_background: "#121212";
  --tab_bar_background: "#121212";
  --terminal_ansi_black: "#393a34";
  --terminal_ansi_blue: "#6394bf";
  --terminal_ansi_bright_black: "#777777";
  --terminal_ansi_bright_blue: "#6394bf";
  --terminal_ansi_bright_cyan: "#5eaab5";
  --terminal_ansi_bright_green: "#4d9375";
  --terminal_ansi_bright_magenta: "#d9739f";
  --terminal_ansi_bright_red: "#cb7676";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#e6cc77";
  --terminal_ansi_cyan: "#5eaab5";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#4d9375";
  --terminal_ansi_magenta: "#d9739f";
  --terminal_ansi_red: "#cb7676";
  --terminal_ansi_white: "#dbd7ca";
  --terminal_ansi_yellow: "#e6cc77";
  --terminal_background: null;
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#dbd7caee";
  --text_accent: null;
  --text_disabled: null;
  --text_muted: "#959da5";
  --text_placeholder: null;
  --title_bar_background: "#121212";
  --title_bar_inactive_background: null;
  --toolbar_background: "#181818";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#d4976c";
  --warning_background: "#d4976c";
  --warning_border: "#d4976c";
  --player_1_background: "#10a793ff";
  --player_1_cursor: "#10a793ff";
  --player_1_selection: "#10a7933d";
  --player_2_background: "#c74cecff";
  --player_2_cursor: "#c74cecff";
  --player_2_selection: "#c74cec3d";
  --player_3_background: "#f29c14ff";
  --player_3_cursor: "#f29c14ff";
  --player_3_selection: "#f29c143d";
  --player_4_background: "#893ea6ff";
  --player_4_cursor: "#893ea6ff";
  --player_4_selection: "#893ea63d";
  --player_5_background: "#08e7c5ff";
  --player_5_cursor: "#08e7c5ff";
  --player_5_selection: "#08e7c53d";
  --player_6_background: "#f82871ff";
  --player_6_cursor: "#f82871ff";
  --player_6_selection: "#f828713d";
  --player_7_background: "#fee56cff";
  --player_7_cursor: "#fee56cff";
  --player_7_selection: "#fee56c3d";
  --player_8_background: "#96df71ff";
  --player_8_cursor: "#96df71ff";
  --player_8_selection: "#96df713d";
  --syntax_attribute_background_color: null;
  --syntax_attribute_color: "#bd976a";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_background_color: null;
  --syntax_boolean_color: "#4d9375";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_background_color: null;
  --syntax_comment_color: "#758575dd";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_background_color: null;
  --syntax_comment_doc_color: "#758575dd";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_background_color: null;
  --syntax_constant_color: "#c99076";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_background_color: null;
  --syntax_constructor_color: "#4d9375";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_background_color: null;
  --syntax_emphasis_color: "#dbd7caee";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_background_color: null;
  --syntax_emphasis_strong_color: "#dbd7caee";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_background_color: null;
  --syntax_function_color: "#80a665";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_background_color: null;
  --syntax_keyword_color: "#4d9375";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_background_color: null;
  --syntax_label_color: "#80a665";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_background_color: null;
  --syntax_link_text_color: "#c98a7d";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_background_color: null;
  --syntax_link_uri_color: "#c98a7d";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_background_color: null;
  --syntax_number_color: "#4C9A91";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_background_color: null;
  --syntax_operator_color: "#cb7676";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_punctuation_background_color: null;
  --syntax_punctuation_color: "#666666";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_background_color: null;
  --syntax_punctuation_bracket_color: "#666666";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_background_color: null;
  --syntax_punctuation_delimiter_color: "#666666";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_background_color: null;
  --syntax_punctuation_list_marker_color: "#666666";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_background_color: null;
  --syntax_punctuation_special_color: "#666666";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_background_color: null;
  --syntax_string_color: "#c98a7d";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_background_color: null;
  --syntax_string_escape_color: "#c98a7d";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_background_color: null;
  --syntax_string_regex_color: "#c98a7d";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_background_color: null;
  --syntax_string_special_color: "#c98a7d";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_background_color: null;
  --syntax_string_special_symbol_color: "#c98a7d";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_background_color: null;
  --syntax_tag_color: "#4d9375";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_background_color: null;
  --syntax_text_literal_color: "#c98a7d";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_background_color: null;
  --syntax_title_color: "#80a665";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_background_color: null;
  --syntax_type_color: "#5DA994";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_background_color: null;
  --syntax_variable_color: "#bd976a";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_background_color: null;
  --syntax_variable_special_color: "#c99076";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
