:root {
  --accents: ["#006cd8","#0a7f3d","#a31700","#583cac","#af551d","#00798a"];
  --background: "#d6d3ef";
  --background_appearance: "opaque";
  --border: "#ffffff00";
  --border_disabled: "#ffffff00";
  --border_focused: "#aea5d666";
  --border_selected: "#ffffff00";
  --border_transparent: "#ffffff00";
  --border_variant: "#aea5d666";
  --conflict: "#583cac";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#91d4a8";
  --created_background: null;
  --created_border: null;
  --deleted: "#fcb5aa";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: "#ad95e929";
  --editor_active_line_background: "#ad95e929";
  --editor_active_line_number: "#303030ff";
  --editor_active_wrap_guide: "#ffffff00";
  --editor_background: "#fafaff";
  --editor_document_highlight_read_background: "#ad95e929";
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#303030df";
  --editor_gutter_background: "#fafaff";
  --editor_highlighted_line_background: null;
  --editor_indent_guide: null;
  --editor_indent_guide_active: null;
  --editor_invisible: null;
  --editor_line_number: "#30303099";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#ffffff00";
  --element_active: null;
  --element_background: "#c8b3f9";
  --element_disabled: null;
  --element_hover: "#ad95e929";
  --element_selected: "#ad95e929";
  --elevated_surface_background: "#f5f5ff";
  --error: "#a31700";
  --error_background: "#ffffff00";
  --error_border: "#ffffff00";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#ad95e929";
  --ghost_element_selected: "#ad95e929";
  --hidden: "#303030bf";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#969696ff";
  --hint_background: "#969696ff";
  --hint_border: "#969696ff";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#30303099";
  --ignored_background: null;
  --ignored_border: null;
  --info: "#006cd8";
  --info_background: "#c8b3f9";
  --info_border: "#c8b3f9";
  --link_text_hover: "#1d6ebe";
  --modified: "#9dc7f1";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --pane_group_border: "#b65151";
  --panel_background: "#f1f1ff";
  --panel_focused_border: null;
  --predictive: "#969696ff";
  --predictive_background: "#969696ff";
  --predictive_border: "#969696ff";
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#ad95e929";
  --scrollbar_thumb_border: "#ad95e929";
  --scrollbar_thumb_hover_background: "#ad95e935";
  --scrollbar_track_background: "#fafaff";
  --scrollbar_track_border: "#aea5d666";
  --search_match_background: null;
  --status_bar_background: "#f1f1ff";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: "#f1f1ff";
  --tab_active_background: "#f5f5ff";
  --tab_inactive_background: "#f1f1ff";
  --tab_bar_background: "#f1f1ff";
  --terminal_ansi_black: "#303030";
  --terminal_ansi_blue: "#006cd8";
  --terminal_ansi_bright_black: "#303030bf";
  --terminal_ansi_bright_blue: "#006cd8bf";
  --terminal_ansi_bright_cyan: "#00798abf";
  --terminal_ansi_bright_green: "#0a7f3dbf";
  --terminal_ansi_bright_magenta: "#583cacbf";
  --terminal_ansi_bright_red: "#a31700bf";
  --terminal_ansi_bright_white: "#30303066";
  --terminal_ansi_bright_yellow: "#af551dbf";
  --terminal_ansi_cyan: "#00798a";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#0a7f3d";
  --terminal_ansi_magenta: "#583cac";
  --terminal_ansi_red: "#a31700";
  --terminal_ansi_white: "#30303099";
  --terminal_ansi_yellow: "#af551d";
  --terminal_background: "#fafaff";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#303030bf";
  --text_accent: "#000000c0";
  --text_disabled: null;
  --text_muted: "#303030bf";
  --text_placeholder: null;
  --title_bar_background: "#f1f1ff";
  --title_bar_inactive_background: null;
  --toolbar_background: "#f5f5ff";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#af551d";
  --warning_background: "#ffffff00";
  --warning_border: "#ffffff00";
  --player_1_background: "#ad95e929";
  --player_1_cursor: "#583cac";
  --player_1_selection: "#ad95e929";
  --syntax_attribute_background_color: null;
  --syntax_attribute_color: "#af551d";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_background_color: null;
  --syntax_boolean_color: "#af551d";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_background_color: null;
  --syntax_comment_color: "#30303099";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_background_color: null;
  --syntax_comment_doc_color: "#30303099";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_background_color: null;
  --syntax_constant_color: "#af551d";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constant_builtin_background_color: null;
  --syntax_constant_builtin_color: "#af551d";
  --syntax_constant_builtin_font_style: null;
  --syntax_constant_builtin_font_weight: null;
  --syntax_constant_character_background_color: null;
  --syntax_constant_character_color: "#af551d";
  --syntax_constant_character_font_style: null;
  --syntax_constant_character_font_weight: null;
  --syntax_constructor_background_color: null;
  --syntax_constructor_color: "#3B00CDBF";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_background_color: null;
  --syntax_embedded_color: "#3B00CDBF";
  --syntax_embedded_font_style: "italic";
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_background_color: null;
  --syntax_emphasis_color: "#583cac";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_background_color: null;
  --syntax_emphasis_strong_color: "#af551d";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: null;
  --syntax_enum_background_color: null;
  --syntax_enum_color: "#00798a";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_background_color: null;
  --syntax_function_color: "#006cd8";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_builtin_background_color: null;
  --syntax_function_builtin_color: "#006cd8";
  --syntax_function_builtin_font_style: null;
  --syntax_function_builtin_font_weight: null;
  --syntax_function_definition_background_color: null;
  --syntax_function_definition_color: "#006cd8";
  --syntax_function_definition_font_style: null;
  --syntax_function_definition_font_weight: null;
  --syntax_function_method_background_color: null;
  --syntax_function_method_color: "#006cd8";
  --syntax_function_method_font_style: null;
  --syntax_function_method_font_weight: null;
  --syntax_function_special_background_color: null;
  --syntax_function_special_color: "#006cd8";
  --syntax_function_special_font_style: null;
  --syntax_function_special_font_weight: null;
  --syntax_function_special_definition_background_color: null;
  --syntax_function_special_definition_color: "#006cd8";
  --syntax_function_special_definition_font_style: null;
  --syntax_function_special_definition_font_weight: null;
  --syntax_hint_background_color: null;
  --syntax_hint_color: "#969696ff";
  --syntax_hint_font_style: "italic";
  --syntax_hint_font_weight: null;
  --syntax_keyword_background_color: null;
  --syntax_keyword_color: "#583cac";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_background_color: null;
  --syntax_label_color: "#a31700";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_lifetime_background_color: null;
  --syntax_lifetime_color: "#00798a";
  --syntax_lifetime_font_style: null;
  --syntax_lifetime_font_weight: null;
  --syntax_link_text_background_color: null;
  --syntax_link_text_color: "#006cd8";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_background_color: null;
  --syntax_link_uri_color: "#583cac";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_background_color: null;
  --syntax_number_color: "#af551d";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_background_color: null;
  --syntax_operator_color: "#00798a";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_background_color: null;
  --syntax_predictive_color: "#969696ff";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_background_color: null;
  --syntax_preproc_color: "#303030bf";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_background_color: null;
  --syntax_primary_color: "#303030bf";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_background_color: null;
  --syntax_property_color: "#a31700";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_property_json_key_background_color: null;
  --syntax_property_json_key_color: "#a31700";
  --syntax_property_json_key_font_style: null;
  --syntax_property_json_key_font_weight: null;
  --syntax_punctuation_background_color: null;
  --syntax_punctuation_color: "#303030bf";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_background_color: null;
  --syntax_punctuation_bracket_color: null;
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_background_color: null;
  --syntax_punctuation_delimiter_color: "#303030bf";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_background_color: null;
  --syntax_punctuation_list_marker_color: "#a31700";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_background_color: null;
  --syntax_punctuation_special_color: null;
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_punctuation_special_symbol_background_color: null;
  --syntax_punctuation_special_symbol_color: null;
  --syntax_punctuation_special_symbol_font_style: null;
  --syntax_punctuation_special_symbol_font_weight: null;
  --syntax_string_background_color: null;
  --syntax_string_color: "#0a7f3d";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_doc_background_color: null;
  --syntax_string_doc_color: "#0a7f3d";
  --syntax_string_doc_font_style: null;
  --syntax_string_doc_font_weight: null;
  --syntax_string_escape_background_color: null;
  --syntax_string_escape_color: "#0a7f3d";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_background_color: null;
  --syntax_string_regex_color: "#0a7f3d";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_background_color: null;
  --syntax_string_special_color: "#00798a";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_background_color: null;
  --syntax_string_special_symbol_color: "#00798a";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_background_color: null;
  --syntax_tag_color: "#a31700";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_background_color: null;
  --syntax_text_literal_color: "#0a7f3d";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_background_color: null;
  --syntax_title_color: "#a31700";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_background_color: null;
  --syntax_type_color: "#9d6100";
  --syntax_type_font_style: "italic";
  --syntax_type_font_weight: null;
  --syntax_type_builtin_background_color: null;
  --syntax_type_builtin_color: "#9d6100";
  --syntax_type_builtin_font_style: "italic";
  --syntax_type_builtin_font_weight: null;
  --syntax_type_interface_background_color: null;
  --syntax_type_interface_color: "#9d6100";
  --syntax_type_interface_font_style: "italic";
  --syntax_type_interface_font_weight: null;
  --syntax_type_super_background_color: null;
  --syntax_type_super_color: "#9d6100";
  --syntax_type_super_font_style: "italic";
  --syntax_type_super_font_weight: null;
  --syntax_variable_background_color: null;
  --syntax_variable_color: "#a31700";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_member_background_color: null;
  --syntax_variable_member_color: "#a31700";
  --syntax_variable_member_font_style: null;
  --syntax_variable_member_font_weight: null;
  --syntax_variable_parameter_background_color: null;
  --syntax_variable_parameter_color: "#a31700";
  --syntax_variable_parameter_font_style: null;
  --syntax_variable_parameter_font_weight: null;
  --syntax_variable_special_background_color: null;
  --syntax_variable_special_color: "#9d6100";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
  --syntax_variant_background_color: null;
  --syntax_variant_color: "#a31700";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
