:root {
  --accents: ["#e9be74","#bfa5fc","#498dd1","#52b87a","#f88aaf"];
  --background: "#312d3b";
  --background_appearance: "transparent";
  --border: "#ffffff00";
  --border_disabled: "#ffffff00";
  --border_focused: "#ffffff33";
  --border_selected: "#ffffff00";
  --border_transparent: "#ffffff00";
  --border_variant: "#ffffff33";
  --conflict: "#bfa5fc";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#6dc38f";
  --created_background: null;
  --created_border: null;
  --deleted: "#f7998a";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: "#ad95e929";
  --editor_active_line_background: "#ad95e909";
  --editor_active_line_number: "#ffffffa6";
  --editor_active_wrap_guide: "#ffffff00";
  --editor_background: "#222222";
  --editor_document_highlight_read_background: "#ad95e909";
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#ffffffa6";
  --editor_gutter_background: "#222222";
  --editor_highlighted_line_background: null;
  --editor_indent_guide: null;
  --editor_indent_guide_active: null;
  --editor_invisible: null;
  --editor_line_number: "#ffffff73";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#ffffff00";
  --element_active: null;
  --element_background: "#9b3912";
  --element_disabled: null;
  --element_hover: "#ad95e929";
  --element_selected: "#ad95e929";
  --elevated_surface_background: "#222222";
  --error: "#f7998a";
  --error_background: "#222222";
  --error_border: "#666666";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#ad95e929";
  --ghost_element_selected: "#ad95e929";
  --hidden: "#ffffffa6";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#666666";
  --hint_background: "#666666";
  --hint_border: "#666666";
  --icon: "#ffffffa6";
  --icon_accent: null;
  --icon_disabled: "#ffffff33";
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#ffffffa6";
  --ignored_background: null;
  --ignored_border: null;
  --info: "#7fb6ed";
  --info_background: "#6342b5";
  --info_border: "#6342b5";
  --link_text_hover: "#d1bffd";
  --modified: "#6dc38f";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --pane_group_border: "#ffffff33";
  --panel_background: "#222024";
  --panel_focused_border: null;
  --predictive: "#666666";
  --predictive_background: "#666666";
  --predictive_border: "#666666";
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#ffffff11";
  --scrollbar_thumb_border: "#ffffff33";
  --scrollbar_thumb_hover_background: "#ffffff40";
  --scrollbar_track_background: "#222222";
  --scrollbar_track_border: "#ffffff00";
  --search_match_background: null;
  --status_bar_background: "#222024";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: "#222024";
  --tab_active_background: "#222222";
  --tab_inactive_background: "#222024";
  --tab_bar_background: "#222024";
  --terminal_ansi_black: "#000000";
  --terminal_ansi_blue: "#7fb6ed";
  --terminal_ansi_bright_black: "#666666";
  --terminal_ansi_bright_blue: "#498dd1";
  --terminal_ansi_bright_cyan: "#5edee3";
  --terminal_ansi_bright_green: "#91d4a8";
  --terminal_ansi_bright_magenta: "#fcacc5";
  --terminal_ansi_bright_red: "#fcb5aa";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#e9be74";
  --terminal_ansi_cyan: "#32c5d2";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#52b87a";
  --terminal_ansi_magenta: "#f88aaf";
  --terminal_ansi_red: "#f57f6c";
  --terminal_ansi_white: "#ffffff99";
  --terminal_ansi_yellow: "#d99530";
  --terminal_background: "#222222";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#ffffffa6";
  --text_accent: "#ffffffa6";
  --text_disabled: "#ffffff33";
  --text_muted: "#ffffffa6";
  --text_placeholder: "#ffffff33";
  --title_bar_background: "#222024";
  --title_bar_inactive_background: null;
  --toolbar_background: "#222222";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#e0a855";
  --warning_background: "#ffffff00";
  --warning_border: "#ffffff00";
  --player_1_cursor: "#ffffffa6";
  --player_1_selection: "#ad95e909";
  --player_2_cursor: "#f88aaf";
  --player_2_selection: "#f88aaf09";
  --player_3_cursor: "#6dc38f";
  --player_3_selection: "#6dc38f09";
  --player_4_cursor: "#bfa5fc";
  --player_4_selection: "#bfa5fc29";
  --player_5_cursor: "#e0a855";
  --player_5_selection: "#e0a85509";
  --syntax_attribute_background_color: null;
  --syntax_attribute_color: "#e0a855";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_background_color: null;
  --syntax_boolean_color: "#e0a855";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_background_color: null;
  --syntax_comment_color: "#30303066";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_background_color: null;
  --syntax_comment_doc_color: "#30303066";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_background_color: null;
  --syntax_constant_color: "#e0a855";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constant_builtin_background_color: null;
  --syntax_constant_builtin_color: "#e0a855";
  --syntax_constant_builtin_font_style: null;
  --syntax_constant_builtin_font_weight: null;
  --syntax_constant_character_background_color: null;
  --syntax_constant_character_color: "#e0a855";
  --syntax_constant_character_font_style: null;
  --syntax_constant_character_font_weight: null;
  --syntax_constructor_background_color: null;
  --syntax_constructor_color: "#f7998a";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_background_color: null;
  --syntax_embedded_color: null;
  --syntax_embedded_font_style: "italic";
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_background_color: null;
  --syntax_emphasis_color: "#bfa5fc";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_background_color: null;
  --syntax_emphasis_strong_color: "#e0a855";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: null;
  --syntax_enum_background_color: null;
  --syntax_enum_color: "#32c5d2";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_background_color: null;
  --syntax_function_color: "#7fb6ed";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_builtin_background_color: null;
  --syntax_function_builtin_color: "#7fb6ed";
  --syntax_function_builtin_font_style: null;
  --syntax_function_builtin_font_weight: null;
  --syntax_function_definition_background_color: null;
  --syntax_function_definition_color: "#7fb6ed";
  --syntax_function_definition_font_style: null;
  --syntax_function_definition_font_weight: null;
  --syntax_function_method_background_color: null;
  --syntax_function_method_color: "#7fb6ed";
  --syntax_function_method_font_style: null;
  --syntax_function_method_font_weight: null;
  --syntax_function_special_background_color: null;
  --syntax_function_special_color: "#7fb6ed";
  --syntax_function_special_font_style: null;
  --syntax_function_special_font_weight: null;
  --syntax_function_special_definition_background_color: null;
  --syntax_function_special_definition_color: "#7fb6ed";
  --syntax_function_special_definition_font_style: null;
  --syntax_function_special_definition_font_weight: null;
  --syntax_hint_background_color: null;
  --syntax_hint_color: "#666666";
  --syntax_hint_font_style: "italic";
  --syntax_hint_font_weight: null;
  --syntax_keyword_background_color: null;
  --syntax_keyword_color: "#bfa5fc";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_background_color: null;
  --syntax_label_color: "#f7998a";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_lifetime_background_color: null;
  --syntax_lifetime_color: "#f88aaf";
  --syntax_lifetime_font_style: null;
  --syntax_lifetime_font_weight: null;
  --syntax_link_text_background_color: null;
  --syntax_link_text_color: "#7fb6ed";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_background_color: null;
  --syntax_link_uri_color: "#bfa5fc";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_background_color: null;
  --syntax_number_color: "#e0a855";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_background_color: null;
  --syntax_operator_color: "#32c5d2";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_background_color: null;
  --syntax_predictive_color: "#666666";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_background_color: null;
  --syntax_preproc_color: "#ffffff99";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_background_color: null;
  --syntax_primary_color: "#ffffffa6";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_background_color: null;
  --syntax_property_color: "#f7998a";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_property_json_key_background_color: null;
  --syntax_property_json_key_color: "#f7998a";
  --syntax_property_json_key_font_style: null;
  --syntax_property_json_key_font_weight: null;
  --syntax_punctuation_background_color: null;
  --syntax_punctuation_color: "#ffffffa6";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_background_color: null;
  --syntax_punctuation_bracket_color: null;
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_background_color: null;
  --syntax_punctuation_delimiter_color: "#ffffffa6";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_background_color: null;
  --syntax_punctuation_list_marker_color: "#f7998a";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_background_color: null;
  --syntax_punctuation_special_color: null;
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_punctuation_special_symbol_background_color: null;
  --syntax_punctuation_special_symbol_color: null;
  --syntax_punctuation_special_symbol_font_style: null;
  --syntax_punctuation_special_symbol_font_weight: null;
  --syntax_string_background_color: null;
  --syntax_string_color: "#6dc38f";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_doc_background_color: null;
  --syntax_string_doc_color: "#6dc38f";
  --syntax_string_doc_font_style: null;
  --syntax_string_doc_font_weight: null;
  --syntax_string_escape_background_color: null;
  --syntax_string_escape_color: "#6dc38f";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_background_color: null;
  --syntax_string_regex_color: "#6dc38f";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_background_color: null;
  --syntax_string_special_color: "#32c5d2";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_background_color: null;
  --syntax_string_special_symbol_color: "#32c5d2";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_background_color: null;
  --syntax_tag_color: "#f7998a";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_background_color: null;
  --syntax_text_literal_color: "#6dc38f";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_background_color: null;
  --syntax_title_color: "#f7998a";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_background_color: null;
  --syntax_type_color: "#eac079";
  --syntax_type_font_style: "italic";
  --syntax_type_font_weight: null;
  --syntax_type_builtin_background_color: null;
  --syntax_type_builtin_color: "#eac079";
  --syntax_type_builtin_font_style: "italic";
  --syntax_type_builtin_font_weight: null;
  --syntax_type_interface_background_color: null;
  --syntax_type_interface_color: "#eac079";
  --syntax_type_interface_font_style: "italic";
  --syntax_type_interface_font_weight: null;
  --syntax_type_super_background_color: null;
  --syntax_type_super_color: "#eac079";
  --syntax_type_super_font_style: "italic";
  --syntax_type_super_font_weight: null;
  --syntax_variable_background_color: null;
  --syntax_variable_color: "#e0a855";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_member_background_color: null;
  --syntax_variable_member_color: "#f7998a";
  --syntax_variable_member_font_style: null;
  --syntax_variable_member_font_weight: null;
  --syntax_variable_parameter_background_color: null;
  --syntax_variable_parameter_color: "#f7998a";
  --syntax_variable_parameter_font_style: null;
  --syntax_variable_parameter_font_weight: null;
  --syntax_variable_special_background_color: null;
  --syntax_variable_special_color: "#eac079";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
  --syntax_variant_background_color: null;
  --syntax_variant_color: "#f7998a";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
