:root {
  --accents: ["#006cd8","#0a7f3d","#a31700","#583cac","#af551d","#00798a"];
  --background: "#d6d3ef";
  --background-appearance: "opaque";
  --border: "#ffffff00";
  --border-disabled: "#ffffff00";
  --border-focused: "#aea5d666";
  --border-selected: "#ffffff00";
  --border-transparent: "#ffffff00";
  --border-variant: "#aea5d666";
  --conflict: "#583cac";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#91d4a8";
  --created-background: null;
  --created-border: null;
  --deleted: "#fcb5aa";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#ad95e929";
  --editor-active_line-background: "#ad95e929";
  --editor-active_line_number: "#303030ff";
  --editor-active_wrap_guide: "#ffffff00";
  --editor-background: "#fafaff";
  --editor-document_highlight-read_background: "#ad95e929";
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#303030df";
  --editor-gutter-background: "#fafaff";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: null;
  --editor-invisible: null;
  --editor-line_number: "#30303099";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#ffffff00";
  --element-active: null;
  --element-background: "#c8b3f9";
  --element-disabled: null;
  --element-hover: "#ad95e929";
  --element-selected: "#ad95e929";
  --elevated_surface-background: "#f5f5ff";
  --error: "#a31700";
  --error-background: "#ffffff00";
  --error-border: "#ffffff00";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#ad95e929";
  --ghost_element-selected: "#ad95e929";
  --hidden: "#303030bf";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: "#969696ff";
  --hint-border: "#969696ff";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#30303099";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#006cd8";
  --info-background: "#c8b3f9";
  --info-border: "#c8b3f9";
  --link_text-hover: "#1d6ebe";
  --modified: "#9dc7f1";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#b65151";
  --panel-background: "#f1f1ff";
  --panel-focused_border: null;
  --predictive: "#969696ff";
  --predictive-background: "#969696ff";
  --predictive-border: "#969696ff";
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#ad95e929";
  --scrollbar-thumb-border: "#ad95e929";
  --scrollbar-thumb-hover_background: "#ad95e935";
  --scrollbar-track-background: "#fafaff";
  --scrollbar-track-border: "#aea5d666";
  --search-match_background: null;
  --status_bar-background: "#f1f1ff";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#f1f1ff";
  --tab-active_background: "#f5f5ff";
  --tab-inactive_background: "#f1f1ff";
  --tab_bar-background: "#f1f1ff";
  --terminal-ansi-black: "#303030";
  --terminal-ansi-blue: "#006cd8";
  --terminal-ansi-bright_black: "#303030bf";
  --terminal-ansi-bright_blue: "#006cd8bf";
  --terminal-ansi-bright_cyan: "#00798abf";
  --terminal-ansi-bright_green: "#0a7f3dbf";
  --terminal-ansi-bright_magenta: "#583cacbf";
  --terminal-ansi-bright_red: "#a31700bf";
  --terminal-ansi-bright_white: "#30303066";
  --terminal-ansi-bright_yellow: "#af551dbf";
  --terminal-ansi-cyan: "#00798a";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#0a7f3d";
  --terminal-ansi-magenta: "#583cac";
  --terminal-ansi-red: "#a31700";
  --terminal-ansi-white: "#30303099";
  --terminal-ansi-yellow: "#af551d";
  --terminal-background: "#fafaff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#303030bf";
  --text-accent: "#000000c0";
  --text-disabled: null;
  --text-muted: "#303030bf";
  --text-placeholder: null;
  --title_bar-background: "#f1f1ff";
  --title_bar-inactive_background: null;
  --toolbar-background: "#f5f5ff";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#af551d";
  --warning-background: "#ffffff00";
  --warning-border: "#ffffff00";
  --player-1-background: "#ad95e929";
  --player-1-cursor: "#583cac";
  --player-1-selection: "#ad95e929";
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#af551d";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-background_color: null;
  --syntax-boolean-color: "#af551d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#30303099";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-background_color: null;
  --syntax-comment-doc-color: "#30303099";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-background_color: null;
  --syntax-constant-color: "#af551d";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-background_color: null;
  --syntax-constant-builtin-color: "#af551d";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-constant-character-background_color: null;
  --syntax-constant-character-color: "#af551d";
  --syntax-constant-character-font_style: null;
  --syntax-constant-character-font_weight: null;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#3B00CDBF";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-background_color: null;
  --syntax-embedded-color: "#3B00CDBF";
  --syntax-embedded-font_style: "italic";
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-background_color: null;
  --syntax-emphasis-color: "#583cac";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-background_color: null;
  --syntax-emphasis-strong-color: "#af551d";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-background_color: null;
  --syntax-enum-color: "#00798a";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-background_color: null;
  --syntax-function-color: "#006cd8";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-background_color: null;
  --syntax-function-builtin-color: "#006cd8";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-function-definition-background_color: null;
  --syntax-function-definition-color: "#006cd8";
  --syntax-function-definition-font_style: null;
  --syntax-function-definition-font_weight: null;
  --syntax-function-method-background_color: null;
  --syntax-function-method-color: "#006cd8";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-function-special-background_color: null;
  --syntax-function-special-color: "#006cd8";
  --syntax-function-special-font_style: null;
  --syntax-function-special-font_weight: null;
  --syntax-function-special-definition-background_color: null;
  --syntax-function-special-definition-color: "#006cd8";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-background_color: null;
  --syntax-hint-color: "#969696ff";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#583cac";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-background_color: null;
  --syntax-label-color: "#a31700";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-lifetime-background_color: null;
  --syntax-lifetime-color: "#00798a";
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-link_text-background_color: null;
  --syntax-link_text-color: "#006cd8";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-background_color: null;
  --syntax-link_uri-color: "#583cac";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-background_color: null;
  --syntax-number-color: "#af551d";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-background_color: null;
  --syntax-operator-color: "#00798a";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-background_color: null;
  --syntax-predictive-color: "#969696ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-background_color: null;
  --syntax-preproc-color: "#303030bf";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-background_color: null;
  --syntax-primary-color: "#303030bf";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-background_color: null;
  --syntax-property-color: "#a31700";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-property-json_key-background_color: null;
  --syntax-property-json_key-color: "#a31700";
  --syntax-property-json_key-font_style: null;
  --syntax-property-json_key-font_weight: null;
  --syntax-punctuation-background_color: null;
  --syntax-punctuation-color: "#303030bf";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-background_color: null;
  --syntax-punctuation-bracket-color: null;
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-background_color: null;
  --syntax-punctuation-delimiter-color: "#303030bf";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-background_color: null;
  --syntax-punctuation-list_marker-color: "#a31700";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-background_color: null;
  --syntax-punctuation-special-color: null;
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-background_color: null;
  --syntax-punctuation-special-symbol-color: null;
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-background_color: null;
  --syntax-string-color: "#0a7f3d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-doc-background_color: null;
  --syntax-string-doc-color: "#0a7f3d";
  --syntax-string-doc-font_style: null;
  --syntax-string-doc-font_weight: null;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#0a7f3d";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#0a7f3d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#00798a";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#00798a";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#a31700";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#0a7f3d";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-background_color: null;
  --syntax-title-color: "#a31700";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-background_color: null;
  --syntax-type-color: "#9d6100";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-type-builtin-background_color: null;
  --syntax-type-builtin-color: "#9d6100";
  --syntax-type-builtin-font_style: "italic";
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-background_color: null;
  --syntax-type-interface-color: "#9d6100";
  --syntax-type-interface-font_style: "italic";
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-background_color: null;
  --syntax-type-super-color: "#9d6100";
  --syntax-type-super-font_style: "italic";
  --syntax-type-super-font_weight: null;
  --syntax-variable-background_color: null;
  --syntax-variable-color: "#a31700";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-background_color: null;
  --syntax-variable-member-color: "#a31700";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-background_color: null;
  --syntax-variable-parameter-color: "#a31700";
  --syntax-variable-parameter-font_style: null;
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-background_color: null;
  --syntax-variable-special-color: "#9d6100";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-background_color: null;
  --syntax-variant-color: "#a31700";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
