:root {
  --background: "#011627";
  --border: "#5f7e97";
  --border-disabled: "#5f7e97";
  --border-focused: "#122d42";
  --border-selected: "#5f7e97";
  --border-transparent: "#5f7e97";
  --border-variant: "#5f7e97";
  --conflict: "#ffeb95cc";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#9CCC65";
  --created-background: null;
  --created-border: null;
  --deleted: "#EF5350";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#011627";
  --editor-active_line-background: "#0003";
  --editor-active_line_number: "#d6deeb";
  --editor-active_wrap_guide: "#5f7e97";
  --editor-background: "#011627";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#d6deeb";
  --editor-gutter-background: "#011627";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#4b6479";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#5f7e97";
  --element-active: null;
  --element-background: "#7e57c2cc";
  --element-disabled: null;
  --element-hover: "#011627";
  --element-selected: "#234d708c";
  --elevated_surface-background: "#011627";
  --error: "#EF5350";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#011627";
  --ghost_element-selected: "#234d708c";
  --hidden: "#5f7e97";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#395a75";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: null;
  --modified: "#e2b93d";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#011627";
  --panel-focused_border: null;
  --predictive: "#969696ff";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#084d8180";
  --scrollbar-thumb-border: "#084d8180";
  --scrollbar-thumb-hover_background: "#084d8180";
  --scrollbar-track-background: "#011627";
  --scrollbar-track-border: null;
  --search-match_background: null;
  --status_bar-background: "#011627";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#011627";
  --tab-active_background: "#0b2942";
  --tab-inactive_background: "#01111d";
  --tab_bar-background: "#011627";
  --terminal-ansi-black: "#011627";
  --terminal-ansi-blue: "#82AAFF";
  --terminal-ansi-bright_black: "#403f53";
  --terminal-ansi-bright_blue: "#82AAFF";
  --terminal-ansi-bright_cyan: "#7fdbca";
  --terminal-ansi-bright_green: "#22da6e";
  --terminal-ansi-bright_magenta: "#C792EA";
  --terminal-ansi-bright_red: "#EF5350";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#ffeb95";
  --terminal-ansi-cyan: "#21c7a8";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#22da6e";
  --terminal-ansi-magenta: "#C792EA";
  --terminal-ansi-red: "#EF5350";
  --terminal-ansi-white: "#ffffff";
  --terminal-ansi-yellow: "#c5e478";
  --terminal-background: "#011627";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d6deeb";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#5f7e97";
  --text-placeholder: null;
  --title_bar-background: "#011627";
  --toolbar-background: "#011627";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#FFFFFF";
  --warning-background: "#ccb21d";
  --warning-border: "#ccb21d";
  --syntax-attribute-color: "#c5e478";
  --syntax-attribute-font_style: "italic";
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#82AAFF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#637777";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#637777";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#82AAFF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#caece6";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#82AAFF";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#c792ea";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#F78C6C";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#7fdbca";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#80CBC4";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#c792ea";
  --syntax-punctuation-font_style: "italic";
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c792ea";
  --syntax-punctuation-bracket-font_style: "italic";
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c792ea";
  --syntax-punctuation-delimiter-font_style: "italic";
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#c792ea";
  --syntax-punctuation-list_marker-font_style: "italic";
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c792ea";
  --syntax-punctuation-special-font_style: "italic";
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#ecc48d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#82AAFF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ecc48d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ecc48d";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#ecc48d";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#caece6";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#ecc48d";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#f78c6c";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c5e478";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#7fdbca";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
