:root {
  --background: "#093318AA";
  --background-appearance: "blurred";
  --border: "#00000000";
  --editor-active_line-background: "#126b3255";
  --editor-background: "#00000000";
  --editor-gutter-background: "#00000000";
  --element-background: "#6F3FB8FF";
  --elevated_surface-background: "#093318FF";
  --panel-background: "#00000000";
  --panel-focused_border: "#FF000033";
  --status_bar-background: "#00000000";
  --tab-active_background: "#126b3255";
  --tab-inactive_background: "#00000000";
  --tab_bar-background: "#00000000";
  --terminal-background: "#00000000";
  --text: "#FFFFFFDD";
  --text-accent: "#126b32DD";
  --text-muted: "#FFFFFF88";
  --title_bar-background: "#00000000";
  --toolbar-background: "#00000000";
}
