:root {
  --background: "#000000AA";
  --background-appearance: "blurred";
  --border: "#00000000";
  --editor-active_line-background: "#FF000022";
  --editor-background: "#00000000";
  --editor-gutter-background: "#00000000";
  --elevated_surface-background: "#000011FF";
  --panel-background: "#00000000";
  --panel-focused_border: "#FF000033";
  --status_bar-background: "#00000000";
  --tab-active_background: "#FF000033";
  --tab-inactive_background: "#00000000";
  --tab_bar-background: "#00000000";
  --terminal-background: "#00000000";
  --text: "#FFFFFFDD";
  --text-accent: "#FFCCCCDD";
  --text-muted: "#FFFFFF88";
  --title_bar-background: "#00000000";
  --toolbar-background: "#00000000";
}
