:root {
  --background: "#161617";
  --border: "#3e3e43";
  --border_disabled: "#3e3e43";
  --border_focused: "#3e3e43";
  --border_selected: "#3e3e43";
  --border_transparent: "#3e3e43";
  --border_variant: "#3e3e43";
  --conflict: "#ffae9f";
  --conflict_background: "#4d342f";
  --conflict_border: "#80564e";
  --created: "#9dc6ac";
  --created_background: "#3c4d42";
  --created_border: "#63806d";
  --deleted: "#ffae9f";
  --deleted_background: "#4d342f";
  --deleted_border: "#80564e";
  --drop_target_background: "#3e3e43";
  --editor_active_line_background: "#1b1b1d";
  --editor_active_line_number: "#cac9dd";
  --editor_active_wrap_guide: "#2a2a2d";
  --editor_background: "#161617";
  --editor_document_highlight_read_background: "#2a2a2d";
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#c9c7cd";
  --editor_gutter_background: "#161617";
  --editor_highlighted_line_background: "#1b1b1d";
  --editor_invisible: "#3e3e43";
  --editor_line_number: "#57575f";
  --editor_subheader_background: "#27272a";
  --editor_wrap_guide: "#2a2a2d";
  --element_active: "#2c313a";
  --element_background: "#1b1b1d";
  --element_disabled: "#1b1b1d";
  --element_hover: "#3e3e43";
  --element_selected: "#2c313a";
  --elevated_surface_background: "#1b1b1d";
  --error: "#f5a191";
  --error_background: "#4d322d";
  --error_border: "#80524a";
  --ghost_element_active: "#57575f";
  --ghost_element_background: null;
  --ghost_element_disabled: "#1b1b1d";
  --ghost_element_hover: "#3e3e43";
  --ghost_element_selected: "#3e3e43";
  --hidden: "#757581";
  --hidden_background: "#161617";
  --hidden_border: "#3e3e43";
  --hint: "#f591b2";
  --hint_background: "#4d2d38";
  --hint_border: "#804a5d";
  --icon: "#c9c7cd";
  --icon_accent: "#aca1cf";
  --icon_disabled: "#757581";
  --icon_muted: "#a8a8b3";
  --icon_placeholder: "#757581";
  --ignored: "#a8a8b3";
  --ignored_background: "#161617";
  --ignored_border: "#3e3e43";
  --info: "#b9aeda";
  --info_background: "#413d4d";
  --info_border: "#6b6580";
  --link_text_hover: "#aca1cf";
  --modified: "#f0c5a9";
  --modified_background: "#4d3f36";
  --modified_border: "#806859";
  --pane_focused_border: null;
  --panel_background: "#27272a";
  --panel_focused_border: null;
  --predictive: "#757581";
  --predictive_background: "#413d4d";
  --predictive_border: "#6b6580";
  --renamed: "#ecaad6";
  --renamed_background: "#4d3745";
  --renamed_border: "#805b72";
  --scrollbar_thumb_border: null;
  --scrollbar_thumb_hover_background: null;
  --scrollbar_track_background: "#27272a";
  --scrollbar_track_border: "#3e3e43";
  --scrollbar_thumb_background: "#9998a828";
  --search_match_background: "#3e3e43";
  --status_bar_background: "#1b1b1d";
  --success: "#9dc6ac";
  --success_background: "#3c4d42";
  --success_border: "#63806d";
  --surface_background: "#1b1b1d";
  --tab_active_background: "#27272a";
  --tab_inactive_background: "#1b1b1d";
  --tab_bar_background: "#1b1b1d";
  --terminal_ansi_black: "#27272a";
  --terminal_ansi_blue: "#aca1cf";
  --terminal_ansi_bright_black: "#353539";
  --terminal_ansi_bright_blue: "#b9aeda";
  --terminal_ansi_bright_cyan: "#f591b2";
  --terminal_ansi_bright_green: "#9dc6ac";
  --terminal_ansi_bright_magenta: "#ecaad6";
  --terminal_ansi_bright_red: "#ffae9f";
  --terminal_ansi_bright_white: "#cac9dd";
  --terminal_ansi_bright_yellow: "#f0c5a9";
  --terminal_ansi_cyan: "#ea83a5";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#90b99f";
  --terminal_ansi_magenta: "#e29eca";
  --terminal_ansi_red: "#f5a191";
  --terminal_ansi_white: "#c1c0d4";
  --terminal_ansi_yellow: "#e6b99d";
  --terminal_background: "#1b1b1d";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: "#c9c7cd";
  --text: "#c9c7cd";
  --text_accent: "#aca1cf";
  --text_disabled: "#757581";
  --text_muted: "#a8a8b3";
  --text_placeholder: "#757581";
  --title_bar_background: "#1b1b1d";
  --toolbar_background: "#27272a";
  --unreachable: "#f0c5a9";
  --unreachable_background: "#4d3f36";
  --unreachable_border: "#806959";
  --warning: "#f0c5a9";
  --warning_background: "#4d3f36";
  --warning_border: "#806959";
  --player_1_background: "#9998a8";
  --player_1_cursor: "#9998a8";
  --player_1_selection: "#9998a820";
  --player_2_background: "#b9aeda";
  --player_2_cursor: "#b9aeda";
  --player_2_selection: "#b9aeda20";
  --player_3_background: "#ecaad6";
  --player_3_cursor: "#ecaad6";
  --player_3_selection: "#ecaad620";
  --player_4_background: "#f591b2";
  --player_4_cursor: "#f591b2";
  --player_4_selection: "#f591b220";
  --player_5_background: "#f0c5a9";
  --player_5_cursor: "#f0c5a9";
  --player_5_selection: "#f0c5a920";
  --player_6_background: "#9dc6ac";
  --player_6_cursor: "#9dc6ac";
  --player_6_selection: "#9dc6ac20";
  --player_7_background: "#ffae9f";
  --player_7_cursor: "#ffae9f";
  --player_7_selection: "#ffae9f20";
  --syntax_attribute_color: "#aca1cf";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#e6b99d";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#757581";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#757581";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#ea83a5";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#e6b99d";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#c9c7cd";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#c9c7cd";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#c9c7cd";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#e6b99d";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#c1c0d4";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#f591b2";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#aca1cf";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#e6b99d";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#aca1cf";
  --syntax_link_text_font_style: "italic";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#90b99f";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#e29eca";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#e6b99d";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#757581";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#e29eca";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#c9c7cd";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#c1c0d4";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#9998a8";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_string_color: "#90b99f";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#90b99f";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#90b99f";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#e6b99d";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_tag_color: "#ea83a5";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#e6b99d";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#b9aeda";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#b9aeda";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#c9c7cd";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#aca1cf";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
  --syntax_variant_color: "#e29eca";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
