:root {
  --background: "#1d2021";
  --border: "#404040";
  --border-disabled: "#544c48ff";
  --border-focused: "#303a36ff";
  --border-selected: "#303a36ff";
  --border-transparent: "#00000000";
  --border-variant: "#404040";
  --conflict: "#d8a657";
  --conflict-background: "#572e10ff";
  --conflict-border: "#754916ff";
  --created: "#a9b665";
  --created-background: "#322b11ff";
  --created-border: "#4a4516ff";
  --deleted: "#ea6962";
  --deleted-background: "#590a0fff";
  --deleted-border: "#771617ff";
  --drop_target-background: "#c5b59780";
  --editor-active_line-background: "#393634bf";
  --editor-active_line_number: "#ebdbb2";
  --editor-active_wrap_guide: "#fbf1c71a";
  --editor-background: "#1d2021ff";
  --editor-document_highlight-read_background: "#83a5981a";
  --editor-document_highlight-write_background: "#92847466";
  --editor-foreground: "#ebdbb2ff";
  --editor-gutter-background: "#1d2021ff";
  --editor-highlighted_line-background: "#1d2021";
  --editor-invisible: "#928474ff";
  --editor-line_number: "#fbf1c759";
  --editor-subheader-background: "#1d2021";
  --editor-wrap_guide: "#fbf1c70d";
  --element-active: "#5b524cff";
  --element-background: "#1d2021";
  --element-disabled: "#1d2021";
  --element-hover: "#404040";
  --element-selected: "#5b524cff";
  --elevated_surface-background: "#1d2021";
  --error: "#ea6962";
  --error-background: "#590a0fff";
  --error-border: "#771617ff";
  --ghost_element-active: "#5b524cff";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#1d2021";
  --ghost_element-hover: "#404040";
  --ghost_element-selected: "#5b524cff";
  --hidden: "#998b78ff";
  --hidden-background: "#1d2021";
  --hidden-border: "#544c48ff";
  --hint: "#6a695bff";
  --hint-background: "#1e2321ff";
  --hint-border: "#303a36ff";
  --icon: "#ebdbb2";
  --icon-accent: "#7daea3";
  --icon-disabled: "#998b78ff";
  --icon-muted: "#bdae93";
  --icon-placeholder: "#bdae93";
  --ignored: "#998b78ff";
  --ignored-background: "#1d2021";
  --ignored-border: "#404040";
  --info: "#7daea3";
  --info-background: "#1e2321ff";
  --info-border: "#303a36ff";
  --link_text-hover: "#7daea3";
  --modified: "#d8a657";
  --modified-background: "#572e10ff";
  --modified-border: "#754916ff";
  --pane-focused_border: null;
  --panel-background: "#1d2021";
  --panel-focused_border: null;
  --predictive: "#717363ff";
  --predictive-background: "#322b11ff";
  --predictive-border: "#4a4516ff";
  --renamed: "#7daea3";
  --renamed-background: "#1e2321ff";
  --renamed-border: "#303a36ff";
  --scrollbar-thumb-background: "#fbf1c74c";
  --scrollbar-thumb-border: "#404040";
  --scrollbar-thumb-hover_background: "#404040";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#343130ff";
  --search-match_background: "#83a59866";
  --status_bar-background: "#1d2021";
  --success: "#a9b665";
  --success-background: "#322b11ff";
  --success-border: "#4a4516ff";
  --surface-background: "#1d2021";
  --tab-active_background: "#1d2021ff";
  --tab-inactive_background: "#1d2021";
  --tab_bar-background: "#1d2021";
  --terminal-ansi-black: "#1d2021ff";
  --terminal-ansi-blue: "#7daea3";
  --terminal-ansi-bright_black: "#73675eff";
  --terminal-ansi-bright_blue: "#414f4aff";
  --terminal-ansi-bright_cyan: "#45603eff";
  --terminal-ansi-bright_green: "#605c1bff";
  --terminal-ansi-bright_magenta: "#514a41ff";
  --terminal-ansi-bright_red: "#93201dff";
  --terminal-ansi-bright_white: "#ebdbb2";
  --terminal-ansi-bright_yellow: "#91611bff";
  --terminal-ansi-cyan: "#8ec07cff";
  --terminal-ansi-dim_black: "#ebdbb2";
  --terminal-ansi-dim_blue: "#c0d2cbff";
  --terminal-ansi-dim_cyan: "#c7dfbdff";
  --terminal-ansi-dim_green: "#e0dc98ff";
  --terminal-ansi-dim_magenta: "#d2cabfff";
  --terminal-ansi-dim_red: "#ffaa95ff";
  --terminal-ansi-dim_white: "#b0a189ff";
  --terminal-ansi-dim_yellow: "#fedc9bff";
  --terminal-ansi-green: "#a9b665";
  --terminal-ansi-magenta: "#a89984ff";
  --terminal-ansi-red: "#ea6962";
  --terminal-ansi-white: "#ebdbb2";
  --terminal-ansi-yellow: "#d8a657";
  --terminal-background: "#1d2021ff";
  --terminal-bright_foreground: "#ebdbb2";
  --terminal-dim_foreground: "#1d2021ff";
  --terminal-foreground: "#ebdbb2";
  --text: "#ebdbb2";
  --text-accent: "#7daea3";
  --text-disabled: "#998b78ff";
  --text-muted: "#bdae93";
  --text-placeholder: "#998b78ff";
  --title_bar-background: "#1d2021";
  --toolbar-background: "#1d2021ff";
  --unreachable: "#bdae93";
  --unreachable-background: "#1d2021";
  --unreachable-border: "#404040";
  --warning: "#d8a657";
  --warning-background: "#572e10ff";
  --warning-border: "#754916ff";
  --player-1-background: "#7daea3";
  --player-1-cursor: "#7daea3";
  --player-1-selection: "#83a5983d";
  --player-2-background: "#a89984ff";
  --player-2-cursor: "#a89984ff";
  --player-2-selection: "#a899843d";
  --player-3-background: "#fd801bff";
  --player-3-cursor: "#fd801bff";
  --player-3-selection: "#fd801b3d";
  --player-4-background: "#d3869bff";
  --player-4-cursor: "#d3869bff";
  --player-4-selection: "#d3869b3d";
  --player-5-background: "#8ec07cff";
  --player-5-cursor: "#8ec07cff";
  --player-5-selection: "#8ec07c3d";
  --player-6-background: "#ea6962";
  --player-6-cursor: "#ea6962";
  --player-6-selection: "#fb4a353d";
  --player-7-background: "#d8a657";
  --player-7-cursor: "#d8a657";
  --player-7-selection: "#f9bd2f3d";
  --player-8-background: "#a9b665";
  --player-8-cursor: "#a9b665";
  --player-8-selection: "#b7bb263d";
  --syntax-attribute-color: "#7daea3";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d3869bff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#a89984ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#c6b697ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fabd2eff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#7daea3";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#8ec07cff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#7daea3";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#7daea3";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#fe7f18ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#b8bb25ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#fb4833ff";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-hint-color: "#8c957dff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#fb4833ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#7daea3";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#8ec07cff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d3869bff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d3869bff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#8ec07cff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#717363ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#ebdbb2";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#ebdbb2ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#ebdbb2ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#d5c4a1ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a89984ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#e5d5adff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ebdbb2ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#e5d5adff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#b8bb25ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#c6b697ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#fe7f18ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#d3869bff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#8ec07cff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8ec07cff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#7daea3";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#b8bb25ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#fabd2eff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#7daea3";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variant-color: "#7daea3";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
