:root {
  --background: "#ffffff";
  --border: "#e1e1e1";
  --border-disabled: "#fafafa";
  --border-focused: "#99c1f1";
  --border-selected: "#99c1f1";
  --border-transparent: "#00000000";
  --border-variant: "#e1e1e1";
  --conflict: "#813d9c";
  --conflict-background: "#ffffff";
  --conflict-border: "#c061cb";
  --created: "#2ec27e";
  --created-background: "#ffffff";
  --created-border: "#57e389";
  --deleted: "#c01c28";
  --deleted-background: "#ffffff";
  --deleted-border: "#ed333b";
  --drop_target-background: "#fafafa80";
  --editor-active_line-background: "#ebebeb";
  --editor-active_line_number: "#5f5f5f";
  --editor-active_wrap_guide: "#ebebeb";
  --editor-background: "#ffffff";
  --editor-document_highlight-read_background: "#3584e41a";
  --editor-document_highlight-write_background: "#ebebeb66";
  --editor-foreground: "#2f2f2f";
  --editor-gutter-background: "#ffffff";
  --editor-highlighted_line-background: "#ebebeb";
  --editor-invisible: "#808080";
  --editor-line_number: "#808080";
  --editor-subheader-background: "#ffffff";
  --editor-wrap_guide: "#ebebeb";
  --element-active: "#ebebeb";
  --element-background: "#fafafa";
  --element-disabled: "#fafafa";
  --element-hover: "#ebebeb";
  --element-selected: "#ebebeb";
  --elevated_surface-background: "#fafafa";
  --error: "#c01c28";
  --error-background: "#ffffff";
  --error-border: "#ed333b";
  --ghost_element-active: "#ebebeb";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#fafafa";
  --ghost_element-hover: "#ebebeb";
  --ghost_element-selected: "#ebebeb";
  --hidden: "#808080";
  --hidden-background: "#ffffff";
  --hidden-border: "#808080";
  --hint: "#808080";
  --hint-background: "#ffffff";
  --hint-border: "#808080";
  --icon: "#2f2f2f";
  --icon-accent: "#808080";
  --icon-disabled: "#808080";
  --icon-muted: "#5f5f5f";
  --icon-placeholder: "#808080";
  --ignored: "#808080";
  --ignored-background: "#ffffff";
  --ignored-border: "#808080";
  --info: "#5f5f5f";
  --info-background: "#ffffff";
  --info-border: "#808080";
  --link_text-hover: "#1c71d8";
  --modified: "#1c71d8";
  --modified-background: "#ffffff";
  --modified-border: "#62a0ea";
  --pane-focused_border: null;
  --pane_group-border: "#cfcfcf";
  --panel-background: "#fafafa";
  --panel-focused_border: null;
  --predictive: "#808080";
  --predictive-background: "#ffffff";
  --predictive-border: "#808080";
  --renamed: "#1c71d8";
  --renamed-background: "#ffffff";
  --renamed-border: "#62a0ea";
  --scrollbar-thumb-background: "#2f2f2f30";
  --scrollbar-thumb-border: "#ffffff";
  --scrollbar-thumb-hover_background: "#9f9f9f";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#ebebeb";
  --search-match_background: "#99c1f166";
  --status_bar-background: "#ebebeb";
  --success: "#2ec27e";
  --success-background: "#ffffff";
  --success-border: "#57e389";
  --surface-background: "#fafafa";
  --tab-active_background: "#ebebeb";
  --tab-inactive_background: "#ffffff";
  --tab_bar-background: "#ffffff";
  --terminal-ansi-black: "#241f31";
  --terminal-ansi-blue: "#1e78e4";
  --terminal-ansi-bright_black: "#5e5c64";
  --terminal-ansi-bright_blue: "#51a1ff";
  --terminal-ansi-bright_cyan: "#4fd2fd";
  --terminal-ansi-bright_green: "#57e389";
  --terminal-ansi-bright_magenta: "#d670e8";
  --terminal-ansi-bright_red: "#ed333b";
  --terminal-ansi-bright_white: "#f6f5f4";
  --terminal-ansi-bright_yellow: "#f8e45c";
  --terminal-ansi-cyan: "#0ab9dc";
  --terminal-ansi-dim_black: "#241f31";
  --terminal-ansi-dim_blue: "#1e78e4";
  --terminal-ansi-dim_cyan: "#0ab9dc";
  --terminal-ansi-dim_green: "#2ec27e";
  --terminal-ansi-dim_magenta: "#a74aa8";
  --terminal-ansi-dim_red: "#c01c28";
  --terminal-ansi-dim_white: "#c0bfbf";
  --terminal-ansi-dim_yellow: "#f5c211";
  --terminal-ansi-green: "#2ec27e";
  --terminal-ansi-magenta: "#a74aa8";
  --terminal-ansi-red: "#c01c28";
  --terminal-ansi-white: "#c0bfbf";
  --terminal-ansi-yellow: "#f5c211";
  --terminal-background: "#ffffff";
  --terminal-bright_foreground: "#000000";
  --terminal-dim_foreground: "#000000";
  --terminal-foreground: "#000000";
  --text: "#2f2f2f";
  --text-accent: "#808080";
  --text-disabled: "#808080";
  --text-muted: "#5f5f5f";
  --text-placeholder: "#808080";
  --title_bar-background: "#ffffff";
  --title_bar-inactive_background: "#fafafa";
  --toolbar-background: "#ffffff";
  --unreachable: "#c01c28";
  --unreachable-background: "#ffffff";
  --unreachable-border: "#ed333b";
  --warning: "#f5c211";
  --warning-background: "#ffffff";
  --warning-border: "#f8e45c";
  --player-1-background: "#dc8a78";
  --player-1-cursor: "#dc8a78";
  --player-1-selection: "#acb0be66";
  --player-2-background: "#64469f";
  --player-2-cursor: "#64469f";
  --player-2-selection: "#64469f66";
  --player-3-background: "#486f50";
  --player-3-cursor: "#486f50";
  --player-3-selection: "#486f5066";
  --player-4-background: "#823556";
  --player-4-cursor: "#823556";
  --player-4-selection: "#82355666";
  --player-5-background: "#37697c";
  --player-5-cursor: "#37697c";
  --player-5-selection: "#37697c66";
  --player-6-background: "#945743";
  --player-6-cursor: "#945743";
  --player-6-selection: "#94574366";
  --player-7-background: "#87684b";
  --player-7-cursor: "#87684b";
  --player-7-selection: "#87684b66";
  --player-8-background: "#3a58a1";
  --player-8-cursor: "#3a58a1";
  --player-8-selection: "#3a58a166";
  --syntax-attribute-color: "#df8e1d";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fe640b";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#8c8fa1";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#8c8fa1";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fe640b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#1e66f5";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#e64553";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#d20f39";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d20f39";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#179299";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#1e66f5";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#179299";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#8839ef";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#1e66f5";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#1e66f5";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fe640b";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#04a5e5";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#acb0be";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-predoc-color: "#d20f39";
  --syntax-predoc-font_style: null;
  --syntax-predoc-font_weight: null;
  --syntax-primary-color: "#e64553";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#1e66f5";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#179299";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#179299";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#7c7f93";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#179299";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#179299";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#d20f39";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#40a02b";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ea76cb";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ea76cb";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ea76cb";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#dd7878";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#1e66f5";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#40a02b";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#4c4f69";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#df8e1d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#df8e1d";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#df8e1d";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#4c4f69";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#4c4f69";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#fe640b";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#823556";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#d20f39";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
