:root {
  --background: "#1e1e1e";
  --border: "#4f4f4f";
  --border-disabled: "#303030";
  --border-focused: "#1a5fb4";
  --border-selected: "#1a5fb4";
  --border-transparent: "#00000000";
  --border-variant: "#4f4f4f";
  --conflict: "#c061cb";
  --conflict-background: "#303030";
  --conflict-border: "#813d9c";
  --created: "#57e389";
  --created-background: "#303030";
  --created-border: "#2ec27e";
  --deleted: "#ed333b";
  --deleted-background: "#303030";
  --deleted-border: "#c01c28";
  --drop_target-background: "#44444480";
  --editor-active_line-background: "#444444";
  --editor-active_wrap_guide: "#444444";
  --editor-background: "#1e1e1e";
  --editor-document_highlight-read_background: "#3584e41a";
  --editor-document_highlight-write_background: "#44444466";
  --editor-foreground: "#ffffff";
  --editor-gutter-background: "#1e1e1e";
  --editor-highlighted_line-background: "#444444";
  --editor-invisible: "#808080";
  --editor-line_number: "#808080";
  --editor-line_number-active: "#c7c7c7";
  --editor-subheader-background: "#1e1e1e";
  --editor-wrap_guide: "#444444";
  --element-active: "#444444";
  --element-background: "#303030";
  --element-disabled: "#303030";
  --element-hover: "#444444";
  --element-selected: "#444444";
  --elevated_surface-background: "#303030";
  --error: "#ed333b";
  --error-background: "#303030";
  --error-border: "#c01c28";
  --ghost_element-active: "#444444";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#303030";
  --ghost_element-hover: "#444444";
  --ghost_element-selected: "#444444";
  --hidden: "#808080";
  --hidden-background: "#303030";
  --hidden-border: "#808080";
  --hint: "#808080";
  --hint-background: "#303030";
  --hint-border: "#808080";
  --icon: "#ffffff";
  --icon-accent: "#808080";
  --icon-disabled: "#808080";
  --icon-muted: "#c7c7c7";
  --icon-placeholder: "#808080";
  --ignored: "#808080";
  --ignored-background: "#303030";
  --ignored-border: "#808080";
  --info: "#c7c7c7";
  --info-background: "#303030";
  --info-border: "#808080";
  --link_text-hover: "#64a0ea";
  --modified: "#62a0ea";
  --modified-background: "#303030";
  --modified-border: "#1c71d8";
  --pane-focused_border: null;
  --panel-background: "#303030";
  --panel-focused_border: null;
  --predictive: "#808080";
  --predictive-background: "#303030";
  --predictive-border: "#808080";
  --renamed: "#1c71d8";
  --renamed-background: "#303030";
  --renamed-border: "#1c71d8";
  --scrollbar-thumb-background: "#ffffff33";
  --scrollbar-thumb-border: "#151515";
  --scrollbar-thumb-hover_background: "#858585";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#343434";
  --search-match_background: "#1a5fb466";
  --status_bar-background: "#282828";
  --success: "#57e389";
  --success-background: "#303030";
  --success-border: "#2ec27e";
  --surface-background: "#303030";
  --tab-active_background: "#444444";
  --tab-inactive_background: "#303030";
  --tab_bar-background: "#303030";
  --terminal-ansi-black: "#241f31";
  --terminal-ansi-blue: "#1e78e4";
  --terminal-ansi-bright_black: "#5e5c64";
  --terminal-ansi-bright_blue: "#51a1ff";
  --terminal-ansi-bright_cyan: "#4fd2fd";
  --terminal-ansi-bright_green: "#57e389";
  --terminal-ansi-bright_magenta: "#d670e8";
  --terminal-ansi-bright_red: "#ed333b";
  --terminal-ansi-bright_white: "#f6f5f4";
  --terminal-ansi-bright_yellow: "#f8e45c";
  --terminal-ansi-cyan: "#0ab9dc";
  --terminal-ansi-dim_black: "#241f31";
  --terminal-ansi-dim_blue: "#1e78e4";
  --terminal-ansi-dim_cyan: "#0ab9dc";
  --terminal-ansi-dim_green: "#2ec27e";
  --terminal-ansi-dim_magenta: "#a74aa8";
  --terminal-ansi-dim_red: "#c01c28";
  --terminal-ansi-dim_white: "#c0bfbf";
  --terminal-ansi-dim_yellow: "#f5c211";
  --terminal-ansi-green: "#2ec27e";
  --terminal-ansi-magenta: "#a74aa8";
  --terminal-ansi-red: "#c01c28";
  --terminal-ansi-white: "#c0bfbf";
  --terminal-ansi-yellow: "#f5c211";
  --terminal-background: "#1e1e1e";
  --terminal-bright_foreground: "#ffffff";
  --terminal-dim_foreground: "#ffffff";
  --terminal-foreground: "#ffffff";
  --text: "#ffffff";
  --text-accent: "#808080";
  --text-disabled: "#808080";
  --text-muted: "#c7c7c7";
  --text-placeholder: "#808080";
  --title_bar-background: "#303030";
  --title_bar-inactive_background: "#282828";
  --toolbar-background: "#303030";
  --unreachable: "#ed333b";
  --unreachable-background: "#303030";
  --unreachable-border: "#c01c28";
  --warning: "#f8e45c";
  --warning-background: "#303030";
  --warning-border: "#f8e45c";
  --player-1-background: "#f5e0dc";
  --player-1-cursor: "#f5e0dc";
  --player-1-selection: "#585b7066";
  --player-2-background: "#ccc2f5";
  --player-2-cursor: "#ccc2f5";
  --player-2-selection: "#ccc2f566";
  --player-3-background: "#bddbd2";
  --player-3-cursor: "#bddbd2";
  --player-3-selection: "#bddbd266";
  --player-4-background: "#dcb8d5";
  --player-4-cursor: "#dcb8d5";
  --player-4-selection: "#dcb8d566";
  --player-5-background: "#b6dae7";
  --player-5-cursor: "#b6dae7";
  --player-5-selection: "#b6dae766";
  --player-6-background: "#dfc8c8";
  --player-6-cursor: "#dfc8c8";
  --player-6-selection: "#dfc8c866";
  --player-7-background: "#dfdad8";
  --player-7-cursor: "#dfdad8";
  --player-7-selection: "#dfdad866";
  --player-8-background: "#b2c8f6";
  --player-8-cursor: "#b2c8f6";
  --player-8-selection: "#b2c8f666";
  --syntax-attribute-color: "#f9e2af";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fab387";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7f849c";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#7f849c";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fab387";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#89b4fa";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#eba0ac";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#f38ba8";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f38ba8";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#94e2d5";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#89b4fa";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#94e2d5";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#cba6f7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#89b4fa";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#89b4fa";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fab387";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#89dceb";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#585b70";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-predoc-color: "#f38ba8";
  --syntax-predoc-font_style: null;
  --syntax-predoc-font_weight: null;
  --syntax-primary-color: "#eba0ac";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#89b4fa";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#94e2d5";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#94e2d5";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#9399b2";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#94e2d5";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#94e2d5";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#f38ba8";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#a6e3a1";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f5c2e7";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#f5c2e7";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#f5c2e7";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#f2cdcd";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#89b4fa";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a6e3a1";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#cdd6f4";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#f9e2af";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#f9e2af";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#f9e2af";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#cdd6f4";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#cdd6f4";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#fab387";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#dcb8d5";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#f38ba8";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
