:root {
  --accents: [];
  --background: "#152638";
  --background-appearance: "opaque";
  --border: "#252b39";
  --border-disabled: "#252b39";
  --border-focused: "#5f7e97";
  --border-selected: "#252b39";
  --border-transparent: "#252b39";
  --border-variant: "#252b39";
  --conflict: "#5e81ac";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#a3be8c";
  --created-background: null;
  --created-border: null;
  --deleted: "#bf616a";
  --deleted-background: "#bf616a";
  --deleted-border: null;
  --drop_target-background: "#212431";
  --editor-active_line-background: "#212431";
  --editor-active_line_number: "#e5e5e5";
  --editor-active_wrap_guide: "#252b39";
  --editor-background: "#152638";
  --editor-document_highlight-bracket_background: null;
  --editor-document_highlight-read_background: "#5e81ac66";
  --editor-document_highlight-write_background: "#5e81ac66";
  --editor-foreground: "#e5e5e5";
  --editor-gutter-background: "#152638";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: null;
  --editor-invisible: null;
  --editor-line_number: null;
  --editor-subheader-background: null;
  --editor-wrap_guide: "#252b39";
  --element-active: "#152638";
  --element-background: "#212431";
  --element-disabled: null;
  --element-hover: "#152638";
  --element-selected: "#152638";
  --elevated_surface-background: "#212431";
  --error: "#bf616a";
  --error-background: "#bf616a";
  --error-border: null;
  --ghost_element-active: "#152638";
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#152638";
  --ghost_element-selected: "#152638";
  --hidden: "#5f7e97";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#416177";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#5e81ac";
  --info-background: "#2e3440";
  --info-border: "#5e81ac";
  --link_text-hover: "#6c99a6";
  --modified: "#8BE9FD";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#252b39";
  --panel-background: "#212431";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#212431cc";
  --scrollbar-thumb-border: "#212431cc";
  --scrollbar-thumb-hover_background: "#084d8180";
  --scrollbar-track-background: "#152638";
  --scrollbar-track-border: "#152638";
  --search-match_background: "#212431";
  --status_bar-background: "#212431";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#212431";
  --tab-active_background: "#152638";
  --tab-inactive_background: "#212431";
  --tab_bar-background: "#212431";
  --terminal-ansi-background: null;
  --terminal-ansi-black: "#011627";
  --terminal-ansi-blue: "#82aaff";
  --terminal-ansi-bright_black: "#575656";
  --terminal-ansi-bright_blue: "#82aaff";
  --terminal-ansi-bright_cyan: "#7fdbca";
  --terminal-ansi-bright_green: "#22da6e";
  --terminal-ansi-bright_magenta: "#c792ea";
  --terminal-ansi-bright_red: "#ef5350";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#ffeb95";
  --terminal-ansi-cyan: "#21c7a8";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#22da6e";
  --terminal-ansi-magenta: "#c792ea";
  --terminal-ansi-red: "#ef5350";
  --terminal-ansi-white: "#ffffff";
  --terminal-ansi-yellow: "#addb67";
  --terminal-background: "#152638";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#e5e5e5";
  --text-accent: "#6e91bf";
  --text-disabled: "#d8dee933";
  --text-muted: "#80a4c2";
  --text-placeholder: "#d8dee966";
  --title_bar-background: "#212431";
  --title_bar-inactive_background: "#3b4252";
  --toolbar-background: "#152638";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#b39554";
  --warning-background: "#2e3440";
  --warning-border: null;
  --player-1-background: "#434c5e99";
  --player-1-cursor: "#434c5e99";
  --player-1-selection: "#434c5e99";
  --player-2-background: "#eceff4";
  --player-2-cursor: "#eceff4";
  --player-2-selection: "#3b4252";
  --player-3-background: "#d08770";
  --player-3-cursor: "#d08770";
  --player-3-selection: "#d087703d";
  --player-4-background: "#a3be8c";
  --player-4-cursor: "#a3be8c";
  --player-4-selection: "#a3be8c3d";
  --player-5-background: "#b48ead";
  --player-5-cursor: "#b48ead";
  --player-5-selection: "#b48ead3d";
  --player-6-background: "#d08770";
  --player-6-cursor: "#d08770";
  --player-6-selection: "#d087703d";
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#ff8e30";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-background_color: null;
  --syntax-boolean-color: "#27c3ca";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#b87f62";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-background_color: null;
  --syntax-comment-doc-color: "#b87f62";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-background_color: null;
  --syntax-constant-color: "#2abd90";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#00acf6";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-background_color: null;
  --syntax-function-color: "#27c3ca";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#ff8e30";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-background_color: null;
  --syntax-number-color: "#00acf6";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#e5e5e5";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#e5e5e5";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#e5e5e5";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#e5e5e5";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#e5e5e5";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-background_color: null;
  --syntax-string-color: "#fbce33";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#41bc8e";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#fbce33";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#fbce33";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#fbce33";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#00acf6";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#fbce33";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-background_color: null;
  --syntax-type-color: "#eabf4d";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-variable-background_color: null;
  --syntax-variable-color: "#f8f8f8";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-background_color: null;
  --syntax-variable-special-color: "#f8f8f8";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
