:root {
  --background: "#2b303b";
  --border: "#3b4252";
  --border-disabled: "#3b4252";
  --border-focused: "#3b4252";
  --border-selected: "#3b4252";
  --border-transparent: "#3b4252";
  --border-variant: "#4b5262";
  --conflict: "#5e81ac";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#a3be8c";
  --created-background: null;
  --created-border: null;
  --deleted: "#bf616a";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#6c99a699";
  --editor-active_line-background: "#3b425299";
  --editor-active_line_number: "#c0c5ce";
  --editor-active_wrap_guide: "#3b4252";
  --editor-background: "#2b303b";
  --editor-document_highlight-read_background: "#5e81ac66";
  --editor-document_highlight-write_background: "#5e81ac66";
  --editor-foreground: "#c0c5ce";
  --editor-gutter-background: "#2b303b";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#4c566a";
  --editor-subheader-background: "#3b4252";
  --editor-wrap_guide: "#3b4252";
  --element-active: "#25293266";
  --element-background: "#3b4252";
  --element-disabled: null;
  --element-hover: "#3b425266";
  --element-selected: "#6c99a6";
  --elevated_surface-background: "#252932";
  --error: "#bf616a";
  --error-background: "#252932";
  --error-border: "#bf616a99";
  --ghost_element-active: "#3b425266";
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#3b425266";
  --ghost_element-selected: "#3b4252";
  --hidden: "#c0c5ce66";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#65737e";
  --hint-background: null;
  --hint-border: "#ebcb8b00";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#c0c5ce66";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#5e81ac";
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#6c99a6";
  --modified: "#ebcb8b";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#252932";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#434c5e99";
  --scrollbar-thumb-border: "#434c5e99";
  --scrollbar-thumb-hover_background: "#434c5eaa";
  --scrollbar-track-background: "#2b303b";
  --scrollbar-track-border: "#3b4252";
  --search-match_background: "#88c0d033";
  --status_bar-background: "#1d2027";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#2b303b";
  --tab-active_background: "#3b4252";
  --tab-inactive_background: "#2b303b";
  --tab_bar-background: "#2b303b";
  --terminal-ansi-black: "#3b4252";
  --terminal-ansi-blue: "#81a1c1";
  --terminal-ansi-bright_black: "#4c566a";
  --terminal-ansi-bright_blue: "#81a1c1";
  --terminal-ansi-bright_cyan: "#8fbcbb";
  --terminal-ansi-bright_green: "#a3be8c";
  --terminal-ansi-bright_magenta: "#b48ead";
  --terminal-ansi-bright_red: "#bf616a";
  --terminal-ansi-bright_white: "#eceff4";
  --terminal-ansi-bright_yellow: "#ebcb8b";
  --terminal-ansi-cyan: "#6c99a6";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a3be8c";
  --terminal-ansi-magenta: "#b48ead";
  --terminal-ansi-red: "#bf616a";
  --terminal-ansi-white: "#e5e9f0";
  --terminal-ansi-yellow: "#ebcb8b";
  --terminal-background: "#2b303b";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#c0c5ce";
  --text-accent: "#8fa1b366";
  --text-disabled: "#c0c5ce33";
  --text-muted: "#c0c5ce99";
  --text-placeholder: "#c0c5ce66";
  --title_bar-background: "#1d2027";
  --toolbar-background: "#2b303b";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#ebcb8b";
  --warning-background: "#252932";
  --warning-border: "#ebcb8b99";
  --player-1-background: "#eceff4";
  --player-1-cursor: "#eceff4";
  --player-1-selection: "#3b4252";
  --player-2-background: "#d08770";
  --player-2-cursor: "#d08770";
  --player-2-selection: "#d087703d";
  --player-3-background: "#a3be8c";
  --player-3-cursor: "#a3be8c";
  --player-3-selection: "#a3be8c3d";
  --player-4-background: "#b48ead";
  --player-4-cursor: "#b48ead";
  --player-4-selection: "#b48ead3d";
  --player-5-background: "#d08770";
  --player-5-cursor: "#d08770";
  --player-5-selection: "#d087703d";
  --syntax-attribute-color: "#8FBCBB";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#81A1C1";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#65737e";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#65737e";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ebcb8b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: 900;
  --syntax-constructor-color: "#81A1C1";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#8fa1b3";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b48ead";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 900;
  --syntax-number-color: "#d08770";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#81A1C1";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: 900;
  --syntax-preproc-color: "#5E81AC";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-punctuation-color: "#c0c5ce";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c0c5ce";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c0c5ce";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#c0c5ce";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c0c5ce";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#A3BE8C";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d08770";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#d08770";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#d08770";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#d08770";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: 900;
  --syntax-tag-color: "#81A1C1";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#A3BE8C";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#ebcb8b";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#bf616a";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#81A1C1";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
