:root {
  --background: "#111";
  --border: "#070707";
  --border_disabled: "#070707";
  --border_focused: "#070707";
  --border_selected: "#070707";
  --border_transparent: "#00000000";
  --border_variant: "#050505";
  --conflict: "#FFCC76";
  --conflict_background: "#D3A350";
  --conflict_border: "#C59643";
  --created: "#6E9869";
  --created_background: "#487145";
  --created_border: "#3C653A";
  --deleted: "#CE4F36";
  --deleted_background: "#9F2110";
  --deleted_border: "#900F04";
  --drop_target_background: "#6C938930";
  --editor_active_line_background: "#181818cc";
  --editor_active_line_number: "#FFCC76";
  --editor_active_wrap_guide: "#eeeeee1a";
  --editor_background: "#111";
  --editor_document_highlight_read_background: "#333";
  --editor_document_highlight_write_background: "#333cc";
  --editor_foreground: "#eee";
  --editor_gutter_background: null;
  --editor_highlighted_line_background: "#181818";
  --editor_invisible: "#333";
  --editor_line_number: "#333";
  --editor_subheader_background: "#222";
  --editor_wrap_guide: "#070707";
  --elevated_surface_background: "#171717";
  --error: "#CE4F36";
  --error_background: "#9F2110";
  --error_border: "#900F04";
  --foreground: "#ddd";
  --ghost_element_active: "#364945";
  --ghost_element_background: "#333";
  --ghost_element_disabled: "#202020";
  --ghost_element_hover: "#222";
  --ghost_element_selected: "#364945";
  --hidden: "#555";
  --hidden_background: "#181818";
  --hidden_border: "#222";
  --hint: "#6C9389";
  --hint_background: "#181818";
  --hint_border: "#222";
  --icon: "#eee";
  --icon_accent: "#FFCC76";
  --icon_disabled: "#555";
  --icon_muted: "#ccc";
  --icon_placeholder: "#555";
  --ignored: "#555";
  --ignored_background: "#181818";
  --ignored_border: "#222";
  --info: "#72A18B";
  --info_background: "#181818";
  --info_border: "#222";
  --modified: "#FFCC76";
  --modified_background: "#D3A350";
  --modified_border: "#C59643";
  --pane_focused_border: null;
  --panel_background: "#181818";
  --panel_focused_border: null;
  --predictive: "#aaa";
  --predictive_background: "#181818";
  --predictive_border: "#222";
  --renamed: "#72A18B";
  --renamed_background: "#181818";
  --renamed_border: "#222";
  --search_match_background: "#97AC6950";
  --status_bar_background: "#222";
  --success: "#6E9869";
  --success_background: "#487145";
  --success_border: "#3C653A";
  --surface_background: "#171717";
  --tab_active_background: "#111";
  --tab_inactive_background: "#222";
  --tab_bar_background: "#181818";
  --text: "#eee";
  --text_accent: "#FFCC76";
  --text_disabled: "#555";
  --text_muted: "#ccc";
  --text_placeholder: "#555";
  --title_bar_background: "#111";
  --title_bar_inactive_background: "#111";
  --toolbar_background: "#222";
  --unreachable: "#ccc";
  --unreachable_background: "#181818";
  --unreachable_border: "#222";
  --warning: "#FFCC76";
  --warning_background: "#D3A350";
  --warning_border: "#C59643";
  --player_1_background: "#eee";
  --player_1_cursor: "#eee";
  --player_1_selection: "#eeeeee3d";
  --player_2_background: "#97AC69";
  --player_2_cursor: "#97AC69";
  --player_2_selection: "#97AC693d";
  --player_3_background: "#FFCC76";
  --player_3_cursor: "#FFCC76";
  --player_3_selection: "#FFCC763d";
  --player_4_background: "#b5cdd9";
  --player_4_cursor: "#b5cdd9";
  --player_4_selection: "#b5cdd93d";
  --player_5_background: "#6E9869";
  --player_5_cursor: "#6E9869";
  --player_5_selection: "#6E98693d";
  --player_6_background: "#D69C48";
  --player_6_cursor: "#D69C48";
  --player_6_selection: "#D69C483d";
  --player_7_background: "#516378";
  --player_7_cursor: "#516378";
  --player_7_selection: "#5163783d";
  --player_8_background: "#4E8168";
  --player_8_cursor: "#4E8168";
  --player_8_selection: "#4E81683d";
  --syntax_attribute_color: "#FFCC76";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#A4684D";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#666";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#888";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#516378";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#4E8168";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#97AC69";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: null;
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: null;
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#6E9869";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#97AC69";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_builtin_color: "#FFCC76";
  --syntax_function_builtin_font_style: null;
  --syntax_function_builtin_font_weight: null;
  --syntax_hint_color: null;
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#4E8168";
  --syntax_keyword_font_style: "bold";
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#B5CDD9";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#B5CDD9";
  --syntax_link_text_font_style: "italic";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#B5CDD9";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#A4684D";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#eee";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#aaa";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#eee";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#eee";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#97AC69";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#eee";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#eee";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#eee";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#eee";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#A4684D";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#FFCC76";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#A4684D";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#B5CDD9";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#D69C48";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#97AC69";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#97AC69";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#B5CDD9";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#FFCC76";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#FFCC76";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#eee";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variant_color: "#4E8168";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
