:root {
  --accents: ["#1D4ED880","#15803D80","#BE185D80","#7E22CE80","#0F766E80","#75530F80"];
  --background: "#FFF";
  --border: "#E5E5E5";
  --border-disabled: "#E5E5E5";
  --border-focused: "#E5E5E5";
  --border-selected: "#E5E5E5";
  --border-transparent: "#E5E5E5";
  --border-variant: "#E5E5E5";
  --conflict: "#750F0F";
  --conflict-background: "#A81515";
  --conflict-border: "#750000";
  --created: "#15803D";
  --created-background: "#15803D80";
  --created-border: "#E5E5E5";
  --deleted: "#750F0F";
  --deleted-background: "#A81515";
  --deleted-border: "#750000";
  --drop_target-background: "#FFF";
  --editor-active_line-background: "#18181B10";
  --editor-active_line_number: "#0F766E";
  --editor-active_wrap_guide: "#E5E5E5";
  --editor-background: "#FFF";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#18181B";
  --editor-gutter-background: "#FFF";
  --editor-highlighted_line-background: "#CBFBF1";
  --editor-indent_guide: "#A1A1AA29";
  --editor-indent_guide_active: "#A1A1AA80";
  --editor-invisible: "#0000";
  --editor-line_number: "#A1A1AA";
  --editor-subheader-background: "#FFF";
  --editor-wrap_guide: null;
  --element-active: "#0F766E50";
  --element-background: "#0F766E";
  --element-disabled: "#0F766E";
  --element-hover: null;
  --element-selected: "#0F766E";
  --elevated_surface-background: "#FFF";
  --error: "#C11919";
  --error-background: "#C119190D";
  --error-border: "#C11919";
  --ghost_element-active: "element.active";
  --ghost_element-background: "element.primary";
  --ghost_element-disabled: "element.disabled";
  --ghost_element-hover: "element.hover";
  --ghost_element-selected: "element.selected";
  --hidden: null;
  --hidden-background: "#FFF";
  --hidden-border: "#E5E5E5";
  --hint: "#A1A1AA";
  --hint-background: "#235EFF0D";
  --hint-border: "#235EFF";
  --icon: null;
  --icon-accent: "#0F766E";
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#404044";
  --ignored-background: "#71717A";
  --ignored-border: "#71717A";
  --info: "#235EFF";
  --info-background: "#235EFF0D";
  --info-border: "#235EFF";
  --link_text-hover: "#0F766E";
  --modified: "#1D4ED8";
  --modified-background: "#1D4ED880";
  --modified-border: "#A87715";
  --pane-focused_border: "#E5E5E5";
  --panel-background: "#FFF";
  --panel-focused_border: "#E5E5E5";
  --predictive: null;
  --predictive-background: "#FFF";
  --predictive-border: "#E5E5E5";
  --renamed: "#BE185D";
  --renamed-background: "#EF1F76";
  --renamed-border: "#BC004E";
  --scrollbar-thumb-background: "#9393948F";
  --scrollbar-thumb-border: "#0000";
  --scrollbar-thumb-hover_background: "#0000";
  --scrollbar-track-background: "#0000";
  --scrollbar-track-border: "#0000";
  --scrollbar_thumb-background: "#9393948F";
  --search-match_background: "#75530F80";
  --status_bar-background: "#FFF";
  --success: "#BE185D";
  --success-background: "#FFF";
  --success-border: "#E5E5E5";
  --surface-background: "#FFF";
  --tab-active_background: "#FFF";
  --tab-inactive_background: "#FFF";
  --tab_bar-background: "#FFF";
  --terminal-ansi-black: "#18181B";
  --terminal-ansi-blue: "#1D4ED8";
  --terminal-ansi-bright_black: "#44444C";
  --terminal-ansi-bright_blue: "#235EFF";
  --terminal-ansi-bright_cyan: "#15A89C";
  --terminal-ansi-bright_green: "#1EB254";
  --terminal-ansi-bright_magenta: "#EF1F76";
  --terminal-ansi-bright_red: "#A81515";
  --terminal-ansi-bright_white: "#5A5A66";
  --terminal-ansi-bright_yellow: "#A87715";
  --terminal-ansi-cyan: "#0F766E";
  --terminal-ansi-dim_black: "#44444C";
  --terminal-ansi-dim_blue: "#235EFF";
  --terminal-ansi-dim_cyan: "#00756B";
  --terminal-ansi-dim_green: "#007F2E";
  --terminal-ansi-dim_magenta: "#BC004E";
  --terminal-ansi-dim_red: "#750000";
  --terminal-ansi-dim_white: "#71717F";
  --terminal-ansi-dim_yellow: "#A87715";
  --terminal-ansi-green: "#15803D";
  --terminal-ansi-magenta: "#BE185D";
  --terminal-ansi-red: "#750F0F";
  --terminal-ansi-white: "#44444C";
  --terminal-ansi-yellow: "#75530F";
  --terminal-background: "#FFF";
  --terminal-bright_foreground: "#18181B";
  --terminal-dim_foreground: "#18181B";
  --terminal-foreground: "#18181B";
  --text: "#18181B";
  --text-accent: "#0F766E";
  --text-disabled: "#71717A";
  --text-muted: "#000";
  --text-placeholder: "#71717A";
  --title_bar-background: "#FFF";
  --title_bar-inactive_background: "#FFF";
  --toolbar-background: "#FFF";
  --unreachable: null;
  --unreachable-background: "#FFF";
  --unreachable-border: "#E5E5E5";
  --warning: "#C18919";
  --warning-background: "#C189190D";
  --warning-border: "#C18919";
  --player-1-background: "#0F766E1F";
  --player-1-cursor: "#18181B";
  --player-1-selection: "#0F766E1F";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --player-3-background: null;
  --player-3-cursor: null;
  --player-3-selection: null;
  --player-4-background: null;
  --player-4-cursor: null;
  --player-4-selection: null;
  --player-5-background: null;
  --player-5-cursor: null;
  --player-5-selection: null;
  --player-6-background: null;
  --player-6-cursor: null;
  --player-6-selection: null;
  --player-7-background: null;
  --player-7-cursor: null;
  --player-7-selection: null;
  --player-8-background: null;
  --player-8-cursor: null;
  --player-8-selection: null;
  --syntax-attribute-color: "#7E22CE";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#1D4ED8";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#A1A1AA";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#A1A1AA";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#18181B";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#BE185D";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-constant-character-color: "#BE185D";
  --syntax-constant-character-font_style: null;
  --syntax-constant-character-font_weight: null;
  --syntax-constructor-color: "#18181B";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#18181B";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#BE185D";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#BE185D";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#1D4ED8";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-escape-color: "#15803D";
  --syntax-escape-font_style: null;
  --syntax-escape-font_weight: null;
  --syntax-function-color: "#7E22CE";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#1D4ED8";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-function-definition-color: "#7E22CE";
  --syntax-function-definition-font_style: null;
  --syntax-function-definition-font_weight: null;
  --syntax-function-method-color: "#7E22CE";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-function-special-color: "#BE185D";
  --syntax-function-special-font_style: null;
  --syntax-function-special-font_weight: null;
  --syntax-function-special-definition-color: "#BE185D";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-color: "#A1A1AA";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#BE185D";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: null;
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-lifetime-color: "#BE185D";
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-link_text-color: "#0F766E";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#0F766E";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#1D4ED8";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#BE185D";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#A1A1AA";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: null;
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#BE185D";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#18181B";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-property-json_key-color: "#18181B";
  --syntax-property-json_key-font_style: null;
  --syntax-property-json_key-font_weight: null;
  --syntax-punctuation-color: "#18181B";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#18181B";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#18181B";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#18181B";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#18181B";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#18181B";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#15803D";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-doc-color: "#A1A1AA";
  --syntax-string-doc-font_style: null;
  --syntax-string-doc-font_weight: null;
  --syntax-string-escape-color: "#15803D";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#15803D";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#15803D";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#15803D";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#15803D";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#18181B";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#BE185D";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#1D4ED8";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#15803D";
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-color: "#1D4ED8";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#BE185D";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#18181B";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-builtin-color: "#B45309";
  --syntax-variable-builtin-font_style: null;
  --syntax-variable-builtin-font_weight: null;
  --syntax-variable-member-color: "#18181B";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#18181B";
  --syntax-variable-parameter-font_style: null;
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#B45309";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#1D4ED8";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
