:root {
  --background: "#00000000";
  --background-appearance: "blurred";
  --border: "#00000022";
  --border-disabled: "#00000088";
  --border-focused: "#73737388";
  --border-selected: "#55555588";
  --border-transparent: "#00000022";
  --border-variant: "#50505088";
  --conflict: "#D00045FF";
  --conflict-background: "#141320FF";
  --conflict-border: "#45454577";
  --created: "#00f157FF";
  --created-background: "#141320FF";
  --created-border: "#45454577";
  --deleted: "#b62324FF";
  --deleted-background: "#141320FF";
  --deleted-border: "#45454577";
  --drop_target-background: "#000000CC";
  --editor-active_line-background: "#00000067";
  --editor-active_line_number: "#B3B3B3FF";
  --editor-active_wrap_guide: "#90909066";
  --editor-background: "#000000C0";
  --editor-document_highlight-read_background: "#302d4d";
  --editor-document_highlight-write_background: "#2f3e5e";
  --editor-gutter-background: "#000000AA";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#646464FF";
  --editor-subheader-background: "#333333FF";
  --editor-wrap_guide: "#50505066";
  --element-active: "#4D4D4DFF";
  --element-background: "#252525FF";
  --element-disabled: "#626262FF";
  --element-hover: "#323232FF";
  --element-selected: "#30303077";
  --elevated_surface-background: "#0F0F0FFF";
  --error: "#DD1122FF";
  --error-background: "#6A1122FF";
  --error-border: "#DA11227F";
  --ghost_element-active: "#393939D0";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#515151FF";
  --ghost_element-hover: "#20202077";
  --ghost_element-selected: "#111111FF";
  --hidden: "#5B5B62FF";
  --hidden-background: "#141320FF";
  --hidden-border: "#45454577";
  --hint: "#60B30CFF";
  --hint-background: "#007760FF";
  --hint-border: "#60B30C7F";
  --icon: "#CCCCCCFF";
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#444444FF";
  --ignored-background: "#141320FF";
  --ignored-border: "#45454577";
  --info: "#4674F9FF";
  --info-background: "#0630ABFF";
  --info-border: "#4674F97F";
  --link_text-hover: "#57C7FFFF";
  --modified: "#C2D728FF";
  --modified-background: "#141320FF";
  --modified-border: "#45454577";
  --pane-focused_border: "#50505088";
  --panel-background: "#00000088";
  --panel-focused_border: "#00000044";
  --predictive: "#8840FFFF";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: "#00D085FF";
  --renamed-background: "#141320FF";
  --renamed-border: "#45454577";
  --scrollbar-thumb-border: "#00000011";
  --scrollbar-thumb-hover_background: "#88888811";
  --scrollbar-track-background: "#000000CC";
  --scrollbar-track-border: "#101010BB";
  --scrollbar_thumb-background: "#88888811";
  --search-match_background: null;
  --status_bar-background: "#00000088";
  --success: "#00DD00FF";
  --success-background: null;
  --success-border: null;
  --surface-background: "#070707FF";
  --tab-active_background: "#00000044";
  --tab-inactive_background: "#00000011";
  --tab_bar-background: "#00000088";
  --terminal-ansi-black: "#191E2A";
  --terminal-ansi-blue: "#57C7FF";
  --terminal-ansi-bright_black: "#5B5B62";
  --terminal-ansi-bright_blue: "#57C7FF";
  --terminal-ansi-bright_cyan: "#9AEDFE";
  --terminal-ansi-bright_green: "#5AF78E";
  --terminal-ansi-bright_magenta: "#FF6AC1";
  --terminal-ansi-bright_red: "#FF5C57";
  --terminal-ansi-bright_white: "#F8F8F2";
  --terminal-ansi-bright_yellow: "#FFD862";
  --terminal-ansi-cyan: "#9AEDFE";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#5AF78E";
  --terminal-ansi-magenta: "#FF6AC1";
  --terminal-ansi-red: "#FF5C57";
  --terminal-ansi-white: "#D9D7CE";
  --terminal-ansi-yellow: "#FFD862";
  --terminal-background: "#141320";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#D7D7D7FF";
  --text-accent: "#F3F3F3FF";
  --text-disabled: "#404040FF";
  --text-muted: "#838383FF";
  --text-placeholder: "#373737FF";
  --title_bar-background: "#000000BB";
  --title_bar-inactive_background: "#000000CC";
  --toolbar-background: "#000000AA";
  --unreachable: "#222222FF";
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#F2FF11FF";
  --warning-background: "#5B4200FF";
  --warning-border: "#EB9C117F";
  --syntax-attribute-color: "#21343f";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#8c8cff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#29564b";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#29564b";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#32a3ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#57C7FF";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: 700;
  --syntax-embedded-color: "#8c8cff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-strong-color: "#F7777F";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#60ffdf";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ff9b60";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#01dc4c";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-number-color: "#3273ee";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#e15ec2";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-preproc-color: "#30A634";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-property-color: "#adc5ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#f8c317";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#f8c317";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#f8c317";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#f8c317";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#f8c317";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#778081";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#8da4a1";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#F7BA7D";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#8da4a1";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#8da4a1";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#01dc4c";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#8da4a1";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#62dcff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ffd5e9";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f9e5f9";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: 600;
  --syntax-variant-color: "#9ccccd";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
