:root {
  --accents: ["#c7adfb","#e752a1","#97EE91","null","#e34f8c","#F8C275","#24e8d8","#fbd3e1","#f36f98","#74D6E9","#f799c7","#affa90","null","#fafaa0"];
  --background: "#27273a";
  --border: "#919CB915";
  --border-disabled: "#00000000";
  --border-focused: "#b2cffb3a";
  --border-selected: "#00000000";
  --border-transparent: "#00000000";
  --border-variant: "#919CB915";
  --conflict: "#07ADFB";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#97EE91d0";
  --created-background: null;
  --created-border: null;
  --deleted: "#e34f8c";
  --deleted-background: "#f36f9860";
  --deleted-border: null;
  --drop_target-background: "#f6f0ff15";
  --editor-active_line-background: "#2a2a46";
  --editor-active_line_number: "#fcf6ff";
  --editor-active_wrap_guide: "#00000000";
  --editor-background: "#27273a";
  --editor-document_highlight-read_background: "#919CB930";
  --editor-document_highlight-write_background: "#FFCC9560";
  --editor-foreground: "#fcf6ff";
  --editor-gutter-background: "#27273a";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: "#666873";
  --editor-invisible: null;
  --editor-line_number: "#919CB9";
  --editor-subheader-background: "#1F1F30";
  --editor-wrap_guide: "#00000000";
  --element-active: null;
  --element-background: "#e34f8c";
  --element-disabled: null;
  --element-hover: "#919CB905";
  --element-selected: "#42557b80";
  --elevated_surface-background: "#1F1F30";
  --error: "#f36f98";
  --error-background: "#f36f9890";
  --error-border: "#f36f98";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#919CB915";
  --ghost_element-selected: "#9785C23a";
  --hidden: "#919CB9";
  --hidden-border: null;
  --hint: "#8059A2";
  --hint-background: "#74D6E990";
  --hint-border: "#74D6E9";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#919CB9af";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#74D6E9";
  --info-background: "#74D6E990";
  --info-border: "#74D6E9";
  --link_text-hover: "#74D6E9";
  --modified: "#f2c88c";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#1F1F30";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#06080e4a";
  --scrollbar-thumb-hover_background: "#0f132090";
  --scrollbar-track-background: "#27273A";
  --scrollbar-track-border: "#00000000";
  --scrollbar_thumb-background: "#06080e4a";
  --search-match_background: "#8174ac80";
  --status_bar-background: "#1F1F30";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#1F1F30";
  --tab-active_background: "#27273a";
  --tab-inactive_background: "#1F1F30";
  --tab_bar-background: "#1F1F30";
  --terminal-ansi-black: "#353551";
  --terminal-ansi-blue: "#c7adfb";
  --terminal-ansi-bright_black: "#919CB9";
  --terminal-ansi-bright_blue: "#74D6E9";
  --terminal-ansi-bright_cyan: "#8df9f9";
  --terminal-ansi-bright_green: "#affa90";
  --terminal-ansi-bright_magenta: "#f799c7";
  --terminal-ansi-bright_red: "#f36f98";
  --terminal-ansi-bright_white: "#d7d6df";
  --terminal-ansi-bright_yellow: "#fafaa0";
  --terminal-ansi-cyan: "#24e8d8";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#97EE91";
  --terminal-ansi-magenta: "#e752a1";
  --terminal-ansi-red: "#e34f8c";
  --terminal-ansi-white: "#fbd3e1";
  --terminal-ansi-yellow: "#F8C275";
  --terminal-background: "#27273a";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#fcf6ff";
  --text-accent: "#99DDFF";
  --text-disabled: null;
  --text-muted: "#919CB9";
  --text-placeholder: "#9785C23a";
  --title_bar-background: "#1F1F30";
  --toolbar-background: "#27273a";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#f2c88c";
  --warning-background: "#f2c88c90";
  --warning-border: "#f2c88c";
  --player-1-background: "#42557bc0";
  --player-1-cursor: "#99DDFF";
  --player-1-selection: "#42557b80";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#F8C275";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#FFB5D0";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#8059A2";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#F8C275";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#F8C275";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#F36F98";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#F8C275";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-function-color: "#99DDFF";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#E752A1";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#8DF9F9";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#8DF9F9";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#F8C275";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-property-color: "#FBD3E1";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#FBD3E1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#FBD3E1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#E7ADFB";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#F8C275";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#FBD3E1";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#97EE91";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#97EE91";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#97EE91";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#97EE91";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#97EE91";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f799c7";
  --syntax-tag-font_style: "italic";
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#97EE91";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#E752A1";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#F8C275";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#f6f1f0";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#F8C275";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
