:root {
  --background: "#28342c";
  --border: "#1d2520";
  --border-disabled: "#1d2520";
  --border-focused: "#1d2520";
  --border-selected: "#1d2520";
  --border-transparent: "#1d2520";
  --border-variant: "#1d2520";
  --conflict: "#d19a66";
  --conflict-background: "#1d2520";
  --conflict-border: "#28342c";
  --created: "#4a946e";
  --created-background: "#1d2520";
  --created-border: "#545862";
  --deleted: "#69c998";
  --deleted-background: "#1d2520";
  --deleted-border: "#545862";
  --drop_target-background: "#2e3136";
  --editor-active_line-background: "#1d2520";
  --editor-active_line_number: "#Ea35EEE";
  --editor-active_wrap_guide: "#fbc049";
  --editor-background: "#28342c";
  --editor-document_highlight-read_background: "#343b45";
  --editor-document_highlight-write_background: "#40474f";
  --editor-foreground: "#acaeaf";
  --editor-gutter-background: "#28342c";
  --editor-highlighted_line-background: "#1d2520";
  --editor-invisible: "#3b4048";
  --editor-line_number: "#707375";
  --editor-subheader-background: "#28342c";
  --editor-wrap_guide: "#40474f";
  --element-active: "#aba70a";
  --element-background: "#28342c";
  --element-disabled: "#42464d";
  --element-hover: "#31353b";
  --element-selected: "#4f545c";
  --elevated_surface-background: "#28342c";
  --error: "#ff005e";
  --error-background: "#28342c";
  --error-border: "#28342c";
  --ghost_element-active: "#3b3f45";
  --ghost_element-background: "#28342c";
  --ghost_element-disabled: "#484c52";
  --ghost_element-hover: "#235c65";
  --ghost_element-selected: "#1d2520";
  --hidden: "#abb2bf";
  --hidden-background: "#1d2520";
  --hidden-border: "#545862";
  --hint: "#406C7A";
  --hint-background: "#28342c";
  --hint-border: "#28342c";
  --icon: "#fbc049";
  --icon-accent: "#fbc049";
  --icon-disabled: "#4b5263";
  --icon-muted: "#828997";
  --icon-placeholder: "#5c6370";
  --ignored: "#4c595d";
  --ignored-background: "#28342c";
  --ignored-border: "#28342c";
  --info: "#fbc049";
  --info-background: "#28342c";
  --info-border: "#28342c";
  --link_text-hover: "#fbc049";
  --modified: "#f8a477";
  --modified-background: "#1d2520";
  --modified-border: "#545862";
  --pane-focused_border: "#28342c";
  --panel-background: "#28342c";
  --panel-focused_border: "#28342c";
  --predictive: "#7D7298";
  --predictive-background: "#28342c";
  --predictive-border: "#28342c";
  --renamed: "#FAEBA0";
  --renamed-background: "#1d2520";
  --renamed-border: "#545862";
  --scrollbar-thumb-background: "#1d2520";
  --scrollbar-thumb-border: "#1d2520";
  --scrollbar-thumb-hover_background: "#40474f";
  --scrollbar-track-background: "#28342c";
  --scrollbar-track-border: "#28342c";
  --search-match_background: "#e9ecf2";
  --status_bar-background: "#28342c";
  --success: "#4a946e";
  --success-background: "#1d2520";
  --success-border: "#545862";
  --surface-background: "#2c2f33";
  --tab-active_background: "#1d2520";
  --tab-inactive_background: "#28342c";
  --tab_bar-background: "#28342c";
  --terminal-ansi-black: "#2c2f33";
  --terminal-ansi-blue: "#8db16f";
  --terminal-ansi-bright_black: "#3b4048";
  --terminal-ansi-bright_blue: "#8db16f";
  --terminal-ansi-bright_cyan: "#56b6c2";
  --terminal-ansi-bright_green: "#4a946e";
  --terminal-ansi-bright_magenta: "#6a4375";
  --terminal-ansi-bright_red: "#be5046";
  --terminal-ansi-bright_white: "#abb2bf";
  --terminal-ansi-bright_yellow: "#d19a66";
  --terminal-ansi-cyan: "#56b6c2";
  --terminal-ansi-dim_black: "#343940";
  --terminal-ansi-dim_blue: "#8db16f";
  --terminal-ansi-dim_cyan: "#56b6c2";
  --terminal-ansi-dim_green: "#4a946e";
  --terminal-ansi-dim_magenta: "#6a4375";
  --terminal-ansi-dim_red: "#69c998";
  --terminal-ansi-dim_white: "#5c6370";
  --terminal-ansi-dim_yellow: "#e5c07b";
  --terminal-ansi-green: "#4a946e";
  --terminal-ansi-magenta: "#6a4375";
  --terminal-ansi-red: "#Fb6e6E";
  --terminal-ansi-white: "#abb2bf";
  --terminal-ansi-yellow: "#e5c07b";
  --terminal-background: "#1d2520";
  --terminal-bright_foreground: "#abb2bf";
  --terminal-dim_foreground: "#5c6370";
  --terminal-foreground: "#acaeaf";
  --text: "#acaeaf";
  --text-accent: "#fbc049";
  --text-disabled: "#4b5263";
  --text-muted: "#828997";
  --text-placeholder: "#5c6370";
  --title_bar-background: "#28342c";
  --toolbar-background: "#28342c";
  --unreachable: "#69c998";
  --unreachable-background: "#1d2520";
  --unreachable-border: "#545862";
  --warning: "#e5c07b";
  --warning-background: "#28342c";
  --warning-border: "#28342c";
  --player-1-cursor: "#8da1c8";
  --player-1-selection: "#1d2520";
  --syntax-attribute-color: "#fa66fa";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: 400;
  --syntax-boolean-color: "#F18C8C";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: 400;
  --syntax-comment-color: "#616876";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: 400;
  --syntax-comment-doc-color: "#616876";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: 400;
  --syntax-constant-color: "#bf80ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: 500;
  --syntax-constructor-color: "#69c998";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#acaeaf";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: 700;
  --syntax-emphasis-strong-color: "#acaeaf";
  --syntax-emphasis-strong-font_style: "oblique";
  --syntax-emphasis-strong-font_weight: 600;
  --syntax-expression-color: "#F18C8C";
  --syntax-expression-font_style: null;
  --syntax-expression-font_weight: 500;
  --syntax-function-color: "#8db16f";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 400;
  --syntax-identifier-color: "#a9b2b4";
  --syntax-identifier-font_style: null;
  --syntax-identifier-font_weight: 900;
  --syntax-keyword-color: "#e96a01";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 400;
  --syntax-label-color: "#e5c07b";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#F18C8C";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#F18C8C";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#b56fc7";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#acaeaf";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-preproc-color: "#eb781a";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: 500;
  --syntax-property-color: "#56b6c2";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#acaeaf";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#acaeaf";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#acaeaf";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#acaeaf";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#acaeaf";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#e5c76d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: 400;
  --syntax-string-escape-color: "#f5d575";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#fbda78";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#fbda78";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: 600;
  --syntax-string-special-symbol-color: "#fbb778";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: 700;
  --syntax-tag-color: "#99FFE4";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: 900;
  --syntax-text-literal-color: "#acaeaf";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: 400;
  --syntax-title-color: "#F18C8C";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#51a0aa";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 500;
  --syntax-variable-color: "#acaeaf";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: 400;
  --syntax-variable-special-color: "#acaeaf";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: 400;
  --syntax-variable-special-property-color: "#acaeaf";
  --syntax-variable-special-property-font_style: null;
  --syntax-variable-special-property-font_weight: 400;
  --syntax-variable-special-property-readonly-color: "#acaeaf";
  --syntax-variable-special-property-readonly-font_style: null;
  --syntax-variable-special-property-readonly-font_weight: 900;
}
