:root {
  --background: "#292828";
  --border: "#444343ff";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#292828ff";
  --conflict: "#89b482";
  --conflict-background: "#4e664ad3";
  --conflict-border: "#444343";
  --created: "#a9b665";
  --created-background: "#8f9a52d3";
  --created-border: "#444343";
  --deleted: "#ea6962";
  --deleted-background: "#b85651d3";
  --deleted-border: "#444343";
  --drop_target-background: "#5a524cd3";
  --editor-active_line-background: "#32302f";
  --editor-active_line_number: "#d4be98";
  --editor-active_wrap_guide: "#444343d3";
  --editor-background: "#292828";
  --editor-document_highlight-read_background: "#45403dd3";
  --editor-document_highlight-write_background: "#7c6f64d3";
  --editor-foreground: "#d4be98";
  --editor-gutter-background: "#292828";
  --editor-highlighted_line-background: "#374141";
  --editor-invisible: "#928374";
  --editor-line_number: "#5a524c";
  --editor-subheader-background: "#292828";
  --editor-wrap_guide: "#444343";
  --element: {"active":"#3c3836ff","background":"#292828","disabled":"#7c6f64d3","hover":"#383432ff","selected":"#45403dff"};
  --elevated_surface-background: "#383432";
  --error: "#ea6962";
  --error-background: "#b85651d3";
  --error-border: "#444343";
  --ghost_element: {"active":"#3c3836ff","background":"#292828","disabled":"#7c6f64d3","hover":"#383432ff","selected":"#45403dff"};
  --hidden: "#928374";
  --hidden-background: "#292828";
  --hidden-border: "#444343";
  --hint: "#7daea3";
  --hint-background: "#68948ad3";
  --hint-border: "#444343";
  --icon: "#d4be98";
  --icon-accent: "#7daea3";
  --icon-disabled: "#928374";
  --icon-muted: "#7c6f64";
  --icon-placeholder: "#7c6f64";
  --ignored: "#928374";
  --ignored-background: "#292828";
  --ignored-border: "#444343";
  --info: "#7daea3";
  --info-background: "#b85651d3";
  --info-border: "#444343";
  --link_text-hover: "#7daea3";
  --modified: "#d8a657";
  --modified-background: "#c18f41d3";
  --modified-border: "#444343";
  --pane-focused_border: "#292828";
  --panel-background: "#292828";
  --panel-focused_border: null;
  --predictive: "#d3869b";
  --predictive-background: "#ab6c7dd3";
  --predictive-border: "#444343";
  --renamed: "#7daea3";
  --renamed-background: "#68948ad3";
  --renamed-border: "#444343";
  --scrollbar-thumb-background: "#383432d3";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#45403d";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#3b4439";
  --status_bar-background: "#292828";
  --success: "#a9b665";
  --success-background: "#8f9a52d3";
  --success-border: "#444343";
  --surface-background: "#292828";
  --tab-active_background: "#383432";
  --tab-inactive_background: "#292828";
  --tab_bar-background: "#292828";
  --terminal-ansi-black: "#292828ff";
  --terminal-ansi-blue: "#7daea3ff";
  --terminal-ansi-bright_black: "#5a524cff";
  --terminal-ansi-bright_blue: "#7daea3ff";
  --terminal-ansi-bright_cyan: "#89b482ff";
  --terminal-ansi-bright_green: "#a9b665ff";
  --terminal-ansi-bright_magenta: "#d3869bff";
  --terminal-ansi-bright_red: "#ea6962ff";
  --terminal-ansi-bright_white: "#d4be98ff";
  --terminal-ansi-bright_yellow: "#d8a657ff";
  --terminal-ansi-cyan: "#89b482ff";
  --terminal-ansi-dim_black: "#d4be98ff";
  --terminal-ansi-dim_blue: "#68948aff";
  --terminal-ansi-dim_cyan: "#4e664aff";
  --terminal-ansi-dim_green: "#8f9a52ff";
  --terminal-ansi-dim_magenta: "#ab6c7dff";
  --terminal-ansi-dim_red: "#b85651ff";
  --terminal-ansi-dim_white: "#c5b18dff";
  --terminal-ansi-dim_yellow: "#b85651ff";
  --terminal-ansi-green: "#a9b665ff";
  --terminal-ansi-magenta: "#d3869bff";
  --terminal-ansi-red: "#ea6962ff";
  --terminal-ansi-white: "#d4be98ff";
  --terminal-ansi-yellow: "#d8a657ff";
  --terminal-background: "#292828ff";
  --terminal-bright_foreground: "#d4be98ff";
  --terminal-dim_foreground: "#292828ff";
  --terminal-foreground: "#d4be98ff";
  --text: "#d4be98";
  --text-accent: "#7daea3";
  --text-disabled: "#928374";
  --text-muted: "#c5b18d";
  --text-placeholder: "#928374";
  --title_bar-background: "#292828";
  --title_bar-inactive_background: "#292828";
  --toolbar-background: "#292828";
  --unreachable: "#7c6f64";
  --unreachable-background: "#292828";
  --unreachable-border: "#444343";
  --warning: "#d8a657";
  --warning-background: "#c18f41d3";
  --warning-border: "#444343";
  --player-1-background: "#7daea320";
  --player-1-cursor: "#7daea3";
  --player-1-selection: "#7daea330";
  --player-2-background: "#d3869b20";
  --player-2-cursor: "#d3869b";
  --player-2-selection: "#d3869b30";
  --player-3-background: "#ab6c7d20";
  --player-3-cursor: "#ab6c7d";
  --player-3-selection: "#ab6c7d30";
  --player-4-background: "#e78a4e20";
  --player-4-cursor: "#e78a4e";
  --player-4-selection: "#e78a4e30";
  --player-5-background: "#89b48220";
  --player-5-cursor: "#89b482";
  --player-5-selection: "#89b48230";
  --player-6-background: "#ea696220";
  --player-6-cursor: "#ea6962";
  --player-6-selection: "#ea696230";
  --player-7-background: "#d8a65720";
  --player-7-cursor: "#d8a657";
  --player-7-selection: "#d8a65730";
  --player-8-background: "#a9b66520";
  --player-8-cursor: "#a9b665";
  --player-8-selection: "#a9b66530";
  --syntax-attribute-color: "#7daea3";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ab6c7d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7c6f64";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#928374";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: 700;
  --syntax-constant-color: "#d3869b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#89b482";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#d4be98";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#7daea3";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ab6c7d";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#ea6962";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#89b482";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#68948a";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#7daea3";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#7daea3";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#89b482";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#89b482";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ab6c7d";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#89b482";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#d3869b";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#d4be98";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#d4be98";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#ea6962";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#d4be98";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c5b18d";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c5b18d";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ea6962";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c5b18d";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#a9b665";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#928374";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ab6c7d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ab6c7d";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#ab6c7d";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#7daea3";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a9b665";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ea6962";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#89b482";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d4be98";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ab6c7d";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#89b482";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
