:root {
  --background: "#00FF00";
  --border: "#00000040";
  --border-disabled: "#00000040";
  --border-focused: "#000000";
  --border-selected: "#000000";
  --border-transparent: "#00000000";
  --border-variant: "#00000080";
  --conflict: "#000000";
  --conflict-background: "#00000040";
  --conflict-border: "#000000";
  --created: "#000000";
  --created-background: "#00000040";
  --created-border: "#000000C0";
  --deleted: "#000000";
  --deleted-background: "#00000040";
  --deleted-border: "#000000C0";
  --drop_target-background: "#00000000";
  --editor-active_line-background: "#00000030";
  --editor-active_line_number: "#000000";
  --editor-active_wrap_guide: "#00000030";
  --editor-background: "#00FF00";
  --editor-document_highlight-read_background: "#00000030";
  --editor-document_highlight-write_background: "#00000030";
  --editor-foreground: "#000000";
  --editor-gutter-background: "#00000000";
  --editor-highlighted_line-background: "#00000030";
  --editor-invisible: "#00000030";
  --editor-line_number: "#00000040";
  --editor-subheader-background: "#000000";
  --editor-wrap_guide: "#000000";
  --element-active: "#000000C0";
  --element-background: "#00000040";
  --element-disabled: "#00000000";
  --element-hover: "#00000040";
  --element-selected: "#00000080";
  --elevated_surface-background: "#00FF00";
  --error: "#000000";
  --error-background: "#00FF00";
  --error-border: "#000000";
  --ghost_element-active: "#00000080";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#00FF0030";
  --ghost_element-hover: "#00000040";
  --ghost_element-selected: "#00FF0030";
  --hidden: "#000000";
  --hidden-background: "#00FF0030";
  --hidden-border: "#00000080";
  --hint: "#000000";
  --hint-background: "#00FF0030";
  --hint-border: "#000000";
  --icon: "#000000";
  --icon-accent: "#000000";
  --icon-disabled: "#00FF0030";
  --icon-muted: "#000000";
  --icon-placeholder: "#000000";
  --ignored: "#00000040";
  --ignored-background: "#00000030";
  --ignored-border: "#00000080";
  --info: "#00000080";
  --info-background: "#00000030";
  --info-border: "#000000";
  --link_text-hover: "#000000";
  --modified: "#000000";
  --modified-background: "#00000030";
  --modified-border: "#000000C0";
  --pane-focused_border: "#00000080";
  --panel-background: "#00FF00";
  --panel-focused_border: "#00000080";
  --predictive: "#000000";
  --predictive-background: "#00000030";
  --predictive-border: "#00000080";
  --renamed: "#000000";
  --renamed-background: "#00000030";
  --renamed-border: "#00000080";
  --scrollbar-thumb-border: "#00000080";
  --scrollbar-thumb-hover_background: "#000000";
  --scrollbar-track-background: "#00000010";
  --scrollbar-track-border: "#00000010";
  --scrollbar_thumb-background: "#000000C0";
  --search-match_background: "#00000080";
  --status_bar-background: "#00FF00";
  --status_bar-foreground: "#000000";
  --success: "#000000";
  --success-background: "#00000030";
  --success-border: "#000000";
  --surface-background: "#00000030";
  --tab-active_background: "#00FF00";
  --tab-active_foreground: "#000000";
  --tab-inactive_background: "#00FF0030";
  --tab_bar-background: "#00FF00";
  --terminal-ansi-black: "#000000C0";
  --terminal-ansi-blue: "#000000C0";
  --terminal-ansi-bright_black: "#000000";
  --terminal-ansi-bright_blue: "#000000";
  --terminal-ansi-bright_cyan: "#000000";
  --terminal-ansi-bright_green: "#000000";
  --terminal-ansi-bright_magenta: "#000000";
  --terminal-ansi-bright_red: "#000000";
  --terminal-ansi-bright_white: "#000000";
  --terminal-ansi-bright_yellow: "#000000";
  --terminal-ansi-cyan: "#000000C0";
  --terminal-ansi-dim_black: "#00000040";
  --terminal-ansi-dim_blue: "#00000040";
  --terminal-ansi-dim_cyan: "#00000040";
  --terminal-ansi-dim_green: "#00000040";
  --terminal-ansi-dim_magenta: "#00000040";
  --terminal-ansi-dim_red: "#00000040";
  --terminal-ansi-dim_white: "#00000040";
  --terminal-ansi-dim_yellow: "#00000040";
  --terminal-ansi-green: "#000000C0";
  --terminal-ansi-magenta: "#000000C0";
  --terminal-ansi-red: "#000000C0";
  --terminal-ansi-white: "#000000C0";
  --terminal-ansi-yellow: "#000000C0";
  --terminal-background: "#00FF00";
  --terminal-bright_foreground: "#000000";
  --terminal-dim_foreground: "#00000040";
  --terminal-foreground: "#000000";
  --text: "#00000090";
  --text-accent: "#000000";
  --text-disabled: "#00000040";
  --text-muted: "#000000";
  --text-placeholder: "#000000";
  --title_bar-background: "#00FF00";
  --title_bar-foreground: "#000000";
  --toolbar-background: "#00000000";
  --unreachable: "#000000";
  --unreachable-background: "#00000030";
  --unreachable-border: "#000000C0";
  --warning: "#000000";
  --warning-background: "#00000030";
  --warning-border: "#000000";
  --player-1-background: "#000000";
  --player-1-cursor: "#000000";
  --player-1-selection: "#00000020";
  --player-2-background: "#000000";
  --player-2-cursor: "#000000";
  --player-2-selection: "#00000020";
  --player-3-background: "#000000";
  --player-3-cursor: "#000000";
  --player-3-selection: "#00000020";
  --player-4-background: "#000000";
  --player-4-cursor: "#000000";
  --player-4-selection: "#00000020";
  --player-5-background: "#000000";
  --player-5-cursor: "#000000";
  --player-5-selection: "#00000020";
  --player-6-background: "#000000";
  --player-6-cursor: "#000000";
  --player-6-selection: "#00000020";
  --player-7-background: "#000000";
  --player-7-cursor: "#000000";
  --player-7-selection: "#00000020";
  --syntax-attribute-color: "#000000";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: 900;
  --syntax-boolean-color: "#000000";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: 900;
  --syntax-comment-color: "#00FF0080";
  --syntax-comment-font_style: "normal";
  --syntax-comment-font_weight: 500;
  --syntax-comment-doc-color: "#00FF0080";
  --syntax-comment-doc-font_style: "normal";
  --syntax-comment-doc-font_weight: 500;
  --syntax-constant-color: "#000000";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: 900;
  --syntax-constructor-color: "#000000";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: 900;
  --syntax-embedded-color: "#000000";
  --syntax-embedded-font_style: "normal";
  --syntax-embedded-font_weight: 900;
  --syntax-emphasis-color: "#000000";
  --syntax-emphasis-font_style: "normal";
  --syntax-emphasis-font_weight: 900;
  --syntax-emphasis-strong-color: "#000000";
  --syntax-emphasis-strong-font_style: "normal";
  --syntax-emphasis-strong-font_weight: 900;
  --syntax-enum-color: "#000000";
  --syntax-enum-font_style: "normal";
  --syntax-enum-font_weight: 900;
  --syntax-function-color: "#000000";
  --syntax-function-font_style: "normal";
  --syntax-function-font_weight: 900;
  --syntax-hint-color: "#000000";
  --syntax-hint-font_style: "normal";
  --syntax-hint-font_weight: 900;
  --syntax-keyword-color: "#000000";
  --syntax-keyword-font_style: "normal";
  --syntax-keyword-font_weight: 900;
  --syntax-label-color: "#000000";
  --syntax-label-font_style: "normal";
  --syntax-label-font_weight: 900;
  --syntax-link_text-color: "#000000";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: 900;
  --syntax-link_uri-color: "#000000";
  --syntax-link_uri-font_style: "normal";
  --syntax-link_uri-font_weight: 900;
  --syntax-number-color: "#000000";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: 900;
  --syntax-operator-color: "#000000";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: 900;
  --syntax-predictive-color: "#000000";
  --syntax-predictive-font_style: "normal";
  --syntax-predictive-font_weight: 900;
  --syntax-preproc-color: "#000000";
  --syntax-preproc-font_style: "normal";
  --syntax-preproc-font_weight: 900;
  --syntax-primary-color: "#000000";
  --syntax-primary-font_style: "normal";
  --syntax-primary-font_weight: 900;
  --syntax-property-color: "#000000";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: 900;
  --syntax-punctuation-color: "#000000";
  --syntax-punctuation-font_style: "normal";
  --syntax-punctuation-font_weight: 900;
  --syntax-punctuation-bracket-color: "#000000";
  --syntax-punctuation-bracket-font_style: "normal";
  --syntax-punctuation-bracket-font_weight: 900;
  --syntax-punctuation-delimiter-color: "#000000";
  --syntax-punctuation-delimiter-font_style: "normal";
  --syntax-punctuation-delimiter-font_weight: 900;
  --syntax-punctuation-list_marker-color: "#000000";
  --syntax-punctuation-list_marker-font_style: "normal";
  --syntax-punctuation-list_marker-font_weight: 900;
  --syntax-punctuation-special-color: "#000000";
  --syntax-punctuation-special-font_style: "normal";
  --syntax-punctuation-special-font_weight: 900;
  --syntax-string-color: "#000000";
  --syntax-string-font_style: "normal";
  --syntax-string-font_weight: 900;
  --syntax-string-escape-color: "#000000";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: 900;
  --syntax-string-regex-color: "#000000";
  --syntax-string-regex-font_style: "normal";
  --syntax-string-regex-font_weight: 900;
  --syntax-string-special-color: "#000000";
  --syntax-string-special-font_style: "normal";
  --syntax-string-special-font_weight: 900;
  --syntax-string-special-symbol-color: "#000000";
  --syntax-string-special-symbol-font_style: "normal";
  --syntax-string-special-symbol-font_weight: 900;
  --syntax-tag-color: "#000000";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: 900;
  --syntax-text-literal-color: "#000000";
  --syntax-text-literal-font_style: "normal";
  --syntax-text-literal-font_weight: 900;
  --syntax-title-color: "#000000";
  --syntax-title-font_style: "normal";
  --syntax-title-font_weight: 900;
  --syntax-type-color: "#000000";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: 900;
  --syntax-type-super-color: "#000000";
  --syntax-type-super-font_style: "normal";
  --syntax-type-super-font_weight: 900;
  --syntax-variable-color: "#000000";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: 900;
  --syntax-variable-parameter-color: "#000000";
  --syntax-variable-parameter-font_style: "normal";
  --syntax-variable-parameter-font_weight: 900;
  --syntax-variable-special-color: "#000000";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: 900;
  --syntax-variant-color: "#000000";
  --syntax-variant-font_style: "normal";
  --syntax-variant-font_weight: 900;
}
