:root {
  --background: "#383838";
  --border: "#606060";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#606060";
  --conflict: "#e0cf9f";
  --conflict-background: "#383838";
  --conflict-border: "#e0cf9f";
  --created: "#5f7f5f";
  --created-background: "#383838";
  --created-border: "#5f7f5f";
  --deleted: "#dca3a3";
  --deleted-background: "#383838";
  --deleted-border: "#dca3a3";
  --drop_target-background: "#606060";
  --editor-active_line-background: "#404040";
  --editor-active_line_number: "#c0c0c0";
  --editor-active_wrap_guide: "#6f6f6f";
  --editor-background: "#383838";
  --editor-document_highlight-read_background: "#404040";
  --editor-document_highlight-write_background: "#404040";
  --editor-foreground: "#dcdccc";
  --editor-gutter-background: "#383838";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#6f6f6f";
  --editor-subheader-background: "#383838";
  --editor-wrap_guide: "#404040";
  --element-active: null;
  --element-background: "#404040";
  --element-disabled: null;
  --element-hover: "#606060";
  --element-selected: "#606060";
  --elevated_surface-background: "#383838";
  --error: "#dca3a3";
  --error-background: "#383838";
  --error-border: "#dca3a3";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#404040";
  --ghost_element-selected: "#606060";
  --hidden: "#6f6f6f";
  --hidden-background: "#383838";
  --hidden-border: "#6f6f6f";
  --hint: "#dcdccc";
  --hint-background: "#383838";
  --hint-border: "#93e0e3";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6f6f6f";
  --ignored-background: "#383838";
  --ignored-border: "#6f6f6f";
  --info: "#93e0e3";
  --info-background: "#383838";
  --info-border: "#93e0e3";
  --link_text-hover: "#93e0e3";
  --modified: "#7cb8bb";
  --modified-background: "#383838";
  --modified-border: "#7cb8bb";
  --pane-focused_border: null;
  --panel-background: "#383838";
  --panel-focused_border: "#606060";
  --predictive: "#6f6f6f";
  --predictive-background: "#404040";
  --predictive-border: "#606060";
  --renamed: "#e0cf9f";
  --renamed-background: "#383838";
  --renamed-border: "#e0cf9f";
  --scrollbar-thumb-background: "#606060";
  --scrollbar-thumb-border: "#6060606f";
  --scrollbar-thumb-hover_background: "#6f6f6f";
  --scrollbar-track-background: "#383838";
  --scrollbar-track-border: null;
  --search-match_background: "#606060";
  --status_bar-background: "#383838";
  --success: "#5f7f5f";
  --success-background: "#383838";
  --success-border: "#5f7f5f";
  --surface-background: "#383838";
  --tab-active_background: "#383838";
  --tab-inactive_background: "#404040";
  --tab_bar-background: "#383838";
  --terminal-ansi-black: "#383838";
  --terminal-ansi-blue: "#7cb8bb";
  --terminal-ansi-bright_black: "#6f6f6f";
  --terminal-ansi-bright_blue: "#7cb8bb";
  --terminal-ansi-bright_cyan: "#93e0e3";
  --terminal-ansi-bright_green: "#5f7f5f";
  --terminal-ansi-bright_magenta: "#dc8cc3";
  --terminal-ansi-bright_red: "#dca3a3";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#e0cf9f";
  --terminal-ansi-cyan: "#93e0e3";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#5f7f5f";
  --terminal-ansi-magenta: "#dc8cc3";
  --terminal-ansi-red: "#dca3a3";
  --terminal-ansi-white: "#dcdccc";
  --terminal-ansi-yellow: "#e0cf9f";
  --terminal-background: "#383838";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#dcdccc";
  --text-accent: "#93e0e3";
  --text-disabled: "#606060";
  --text-muted: "#808080";
  --text-placeholder: "#ffffff";
  --title_bar-background: "#383838";
  --toolbar-background: "#383838";
  --unreachable: "#e0cf9f";
  --unreachable-background: "#383838";
  --unreachable-border: "#e0cf9f";
  --warning: "#e0cf9f";
  --warning-background: "#383838";
  --warning-border: "#e0cf9f";
  --player-1-background: null;
  --player-1-cursor: "#dcdccc";
  --player-1-selection: "#606060";
  --syntax-attribute-color: "#7cb8bb";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#dfaf8f";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6f6f6f";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6f6f6f";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#dfaf8f";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#dca3a3";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#dca3a3";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#dca3a3";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#7cb8bb";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#dc8cc3";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#e0cf9f";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#dca3a3";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#dca3a3";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#dfaf8f";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#dcdccc";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#dcdccc";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#dcdccc";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#dcdccc";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#dcdccc";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#5f7f5f";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#dfaf8f";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#5f7f5f";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#5f7f5f";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#5f7f5f";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#dca3a3";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#5f7f5f";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#e0cf9f";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#e0cf9f";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#dca3a3";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#dca3a3";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
