:root {
  --background: "#ffffff";
  --border: "#d5d5d5";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#d5d5d5";
  --conflict: "#808000";
  --conflict-background: "#ffffff";
  --conflict-border: "#808000";
  --created: "#008000";
  --created-background: "#ffffff";
  --created-border: "#008000";
  --deleted: "#800000";
  --deleted-background: "#ffffff";
  --deleted-border: "#800000";
  --drop_target-background: "#d5d5d5";
  --editor-active_line-background: "#eaeaea";
  --editor-active_line_number: "#404040";
  --editor-active_wrap_guide: "#c0c0c0";
  --editor-background: "#ffffff";
  --editor-document_highlight-read_background: "#eaeaea";
  --editor-document_highlight-write_background: "#eaeaea";
  --editor-foreground: "#808080";
  --editor-gutter-background: "#ffffff";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#c0c0c0";
  --editor-subheader-background: "#ffffff";
  --editor-wrap_guide: "#eaeaea";
  --element-active: null;
  --element-background: "#eaeaea";
  --element-disabled: null;
  --element-hover: "#d5d5d5";
  --element-selected: "#d5d5d5";
  --elevated_surface-background: "#ffffff";
  --error: "#800000";
  --error-background: "#ffffff";
  --error-border: "#800000";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#eaeaea";
  --ghost_element-selected: "#d5d5d5";
  --hidden: "#c0c0c0";
  --hidden-background: "#ffffff";
  --hidden-border: "#c0c0c0";
  --hint: "#808080";
  --hint-background: "#ffffff";
  --hint-border: "#008080";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#c0c0c0";
  --ignored-background: "#ffffff";
  --ignored-border: "#c0c0c0";
  --info: "#008080";
  --info-background: "#ffffff";
  --info-border: "#008080";
  --link_text-hover: "#008080";
  --modified: "#000080";
  --modified-background: "#ffffff";
  --modified-border: "#000080";
  --pane-focused_border: null;
  --panel-background: "#ffffff";
  --panel-focused_border: "#d5d5d5";
  --predictive: "#c0c0c0";
  --predictive-background: "#eaeaea";
  --predictive-border: "#d5d5d5";
  --renamed: "#808000";
  --renamed-background: "#ffffff";
  --renamed-border: "#808000";
  --scrollbar-thumb-background: "#d5d5d5";
  --scrollbar-thumb-border: "#d5d5d56f";
  --scrollbar-thumb-hover_background: "#c0c0c0";
  --scrollbar-track-background: "#ffffff";
  --scrollbar-track-border: null;
  --search-match_background: "#d5d5d5";
  --status_bar-background: "#ffffff";
  --success: "#008000";
  --success-background: "#ffffff";
  --success-border: "#008000";
  --surface-background: "#ffffff";
  --tab-active_background: "#ffffff";
  --tab-inactive_background: "#eaeaea";
  --tab_bar-background: "#ffffff";
  --terminal-ansi-black: "#ffffff";
  --terminal-ansi-blue: "#000080";
  --terminal-ansi-bright_black: "#c0c0c0";
  --terminal-ansi-bright_blue: "#000080";
  --terminal-ansi-bright_cyan: "#008080";
  --terminal-ansi-bright_green: "#008000";
  --terminal-ansi-bright_magenta: "#800080";
  --terminal-ansi-bright_red: "#800000";
  --terminal-ansi-bright_white: "#000000";
  --terminal-ansi-bright_yellow: "#808000";
  --terminal-ansi-cyan: "#008080";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#008000";
  --terminal-ansi-magenta: "#800080";
  --terminal-ansi-red: "#800000";
  --terminal-ansi-white: "#808080";
  --terminal-ansi-yellow: "#808000";
  --terminal-background: "#ffffff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#808080";
  --text-accent: "#008080";
  --text-disabled: "#d5d5d5";
  --text-muted: "#a0a0a0";
  --text-placeholder: "#000000";
  --title_bar-background: "#ffffff";
  --toolbar-background: "#ffffff";
  --unreachable: "#808000";
  --unreachable-background: "#ffffff";
  --unreachable-border: "#808000";
  --warning: "#808000";
  --warning-background: "#ffffff";
  --warning-border: "#808000";
  --player-1-background: null;
  --player-1-cursor: "#808080";
  --player-1-selection: "#d5d5d5";
  --syntax-attribute-color: "#000080";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ffff00";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#c0c0c0";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#c0c0c0";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ffff00";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#800000";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#800000";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#800000";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#000080";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#800080";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#808000";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#800000";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#800000";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ffff00";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#808080";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#808080";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#808080";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#808080";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#808080";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#008000";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ffff00";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#008000";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#008000";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#008000";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#800000";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#008000";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#808000";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#808000";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#800000";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#800000";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
