:root {
  --background: "#292a44";
  --border: "#383a62";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#383a62";
  --conflict: "#ae81ff";
  --conflict-background: "#292a44";
  --conflict-border: "#ae81ff";
  --created: "#6dfedf";
  --created-background: "#292a44";
  --created-border: "#6dfedf";
  --deleted: "#a0a0c5";
  --deleted-background: "#292a44";
  --deleted-border: "#a0a0c5";
  --drop_target-background: "#383a62";
  --editor-active_line-background: "#663399";
  --editor-active_line_number: "#ccccff";
  --editor-active_wrap_guide: "#666699";
  --editor-background: "#292a44";
  --editor-document_highlight-read_background: "#663399";
  --editor-document_highlight-write_background: "#663399";
  --editor-foreground: "#f1eff8";
  --editor-gutter-background: "#292a44";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#666699";
  --editor-subheader-background: "#292a44";
  --editor-wrap_guide: "#663399";
  --element-active: null;
  --element-background: "#663399";
  --element-disabled: null;
  --element-hover: "#383a62";
  --element-selected: "#383a62";
  --elevated_surface-background: "#292a44";
  --error: "#a0a0c5";
  --error-background: "#292a44";
  --error-border: "#a0a0c5";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#663399";
  --ghost_element-selected: "#383a62";
  --hidden: "#666699";
  --hidden-background: "#292a44";
  --hidden-border: "#666699";
  --hint: "#f1eff8";
  --hint-background: "#292a44";
  --hint-border: "#8eaee0";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#666699";
  --ignored-background: "#292a44";
  --ignored-border: "#666699";
  --info: "#8eaee0";
  --info-background: "#292a44";
  --info-border: "#8eaee0";
  --link_text-hover: "#8eaee0";
  --modified: "#2de0a7";
  --modified-background: "#292a44";
  --modified-border: "#2de0a7";
  --pane-focused_border: null;
  --panel-background: "#292a44";
  --panel-focused_border: "#383a62";
  --predictive: "#666699";
  --predictive-background: "#663399";
  --predictive-border: "#383a62";
  --renamed: "#ae81ff";
  --renamed-background: "#292a44";
  --renamed-border: "#ae81ff";
  --scrollbar-thumb-background: "#383a62";
  --scrollbar-thumb-border: "#383a626f";
  --scrollbar-thumb-hover_background: "#666699";
  --scrollbar-track-background: "#292a44";
  --scrollbar-track-border: null;
  --search-match_background: "#383a62";
  --status_bar-background: "#292a44";
  --success: "#6dfedf";
  --success-background: "#292a44";
  --success-border: "#6dfedf";
  --surface-background: "#292a44";
  --tab-active_background: "#292a44";
  --tab-inactive_background: "#663399";
  --tab_bar-background: "#292a44";
  --terminal-ansi-black: "#292a44";
  --terminal-ansi-blue: "#2de0a7";
  --terminal-ansi-bright_black: "#666699";
  --terminal-ansi-bright_blue: "#2de0a7";
  --terminal-ansi-bright_cyan: "#8eaee0";
  --terminal-ansi-bright_green: "#6dfedf";
  --terminal-ansi-bright_magenta: "#7aa5ff";
  --terminal-ansi-bright_red: "#a0a0c5";
  --terminal-ansi-bright_white: "#53495d";
  --terminal-ansi-bright_yellow: "#ae81ff";
  --terminal-ansi-cyan: "#8eaee0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#6dfedf";
  --terminal-ansi-magenta: "#7aa5ff";
  --terminal-ansi-red: "#a0a0c5";
  --terminal-ansi-white: "#f1eff8";
  --terminal-ansi-yellow: "#ae81ff";
  --terminal-background: "#292a44";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#f1eff8";
  --text-accent: "#8eaee0";
  --text-disabled: "#383a62";
  --text-muted: "#a0a0c5";
  --text-placeholder: "#53495d";
  --title_bar-background: "#292a44";
  --toolbar-background: "#292a44";
  --unreachable: "#ae81ff";
  --unreachable-background: "#292a44";
  --unreachable-border: "#ae81ff";
  --warning: "#ae81ff";
  --warning-background: "#292a44";
  --warning-border: "#ae81ff";
  --player-1-background: null;
  --player-1-cursor: "#f1eff8";
  --player-1-selection: "#383a62";
  --syntax-attribute-color: "#2de0a7";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#efe4a1";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#666699";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#666699";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#efe4a1";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#a0a0c5";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#a0a0c5";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#a0a0c5";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#2de0a7";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#7aa5ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ae81ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#a0a0c5";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#a0a0c5";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#efe4a1";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#f1eff8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#f1eff8";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#f1eff8";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#f1eff8";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#f1eff8";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#6dfedf";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#efe4a1";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#6dfedf";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#6dfedf";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#6dfedf";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#a0a0c5";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#6dfedf";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ae81ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ae81ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#a0a0c5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#a0a0c5";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
