:root {
  --background: "#f2e5bc";
  --border: "#c9b99a";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#c9b99a";
  --conflict: "#b47109";
  --conflict_background: "#f2e5bc";
  --conflict_border: "#b47109";
  --created: "#6c782e";
  --created_background: "#f2e5bc";
  --created_border: "#6c782e";
  --deleted: "#c14a4a";
  --deleted_background: "#f2e5bc";
  --deleted_border: "#c14a4a";
  --drop_target_background: "#c9b99a";
  --editor_active_line_background: "#ebdbb2";
  --editor_active_line_number: "#3c3836";
  --editor_active_wrap_guide: "#a89984";
  --editor_background: "#f2e5bc";
  --editor_document_highlight_read_background: "#ebdbb2";
  --editor_document_highlight_write_background: "#ebdbb2";
  --editor_foreground: "#654735";
  --editor_gutter_background: "#f2e5bc";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#a89984";
  --editor_subheader_background: "#f2e5bc";
  --editor_wrap_guide: "#ebdbb2";
  --element_active: null;
  --element_background: "#ebdbb2";
  --element_disabled: null;
  --element_hover: "#c9b99a";
  --element_selected: "#c9b99a";
  --elevated_surface_background: "#f2e5bc";
  --error: "#c14a4a";
  --error_background: "#f2e5bc";
  --error_border: "#c14a4a";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#ebdbb2";
  --ghost_element_selected: "#c9b99a";
  --hidden: "#a89984";
  --hidden_background: "#f2e5bc";
  --hidden_border: "#a89984";
  --hint: "#654735";
  --hint_background: "#f2e5bc";
  --hint_border: "#4c7a5d";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#a89984";
  --ignored_background: "#f2e5bc";
  --ignored_border: "#a89984";
  --info: "#4c7a5d";
  --info_background: "#f2e5bc";
  --info_border: "#4c7a5d";
  --link_text_hover: "#4c7a5d";
  --modified: "#45707a";
  --modified_background: "#f2e5bc";
  --modified_border: "#45707a";
  --pane_focused_border: null;
  --panel_background: "#f2e5bc";
  --panel_focused_border: "#c9b99a";
  --predictive: "#a89984";
  --predictive_background: "#ebdbb2";
  --predictive_border: "#c9b99a";
  --renamed: "#b47109";
  --renamed_background: "#f2e5bc";
  --renamed_border: "#b47109";
  --scrollbar_thumb_background: "#c9b99a";
  --scrollbar_thumb_border: "#c9b99a6f";
  --scrollbar_thumb_hover_background: "#a89984";
  --scrollbar_track_background: "#f2e5bc";
  --scrollbar_track_border: null;
  --search_match_background: "#c9b99a";
  --status_bar_background: "#f2e5bc";
  --success: "#6c782e";
  --success_background: "#f2e5bc";
  --success_border: "#6c782e";
  --surface_background: "#f2e5bc";
  --tab_active_background: "#f2e5bc";
  --tab_inactive_background: "#ebdbb2";
  --tab_bar_background: "#f2e5bc";
  --terminal_ansi_black: "#f2e5bc";
  --terminal_ansi_blue: "#45707a";
  --terminal_ansi_bright_black: "#a89984";
  --terminal_ansi_bright_blue: "#45707a";
  --terminal_ansi_bright_cyan: "#4c7a5d";
  --terminal_ansi_bright_green: "#6c782e";
  --terminal_ansi_bright_magenta: "#945e80";
  --terminal_ansi_bright_red: "#c14a4a";
  --terminal_ansi_bright_white: "#282828";
  --terminal_ansi_bright_yellow: "#b47109";
  --terminal_ansi_cyan: "#4c7a5d";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#6c782e";
  --terminal_ansi_magenta: "#945e80";
  --terminal_ansi_red: "#c14a4a";
  --terminal_ansi_white: "#654735";
  --terminal_ansi_yellow: "#b47109";
  --terminal_background: "#f2e5bc";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#654735";
  --text_accent: "#4c7a5d";
  --text_disabled: "#c9b99a";
  --text_muted: "#665c54";
  --text_placeholder: "#282828";
  --title_bar_background: "#f2e5bc";
  --toolbar_background: "#f2e5bc";
  --unreachable: "#b47109";
  --unreachable_background: "#f2e5bc";
  --unreachable_border: "#b47109";
  --warning: "#b47109";
  --warning_background: "#f2e5bc";
  --warning_border: "#b47109";
  --player_1_background: null;
  --player_1_cursor: "#654735";
  --player_1_selection: "#c9b99a";
  --syntax_attribute_color: "#45707a";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#c35e0a";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#a89984";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#a89984";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#c35e0a";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#c14a4a";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#c14a4a";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#c14a4a";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#45707a";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#945e80";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#b47109";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#c14a4a";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#c14a4a";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#c35e0a";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#654735";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#654735";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#654735";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#654735";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#654735";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#6c782e";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#c35e0a";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#6c782e";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#6c782e";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#6c782e";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#c14a4a";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#6c782e";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#b47109";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#b47109";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#c14a4a";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#c14a4a";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
