:root {
  --background: "#dddfe0";
  --border: "#c1c3c4";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#c1c3c4";
  --conflict: "#c9d364";
  --conflict-background: "#dddfe0";
  --conflict-border: "#c9d364";
  --created: "#06ea61";
  --created-background: "#dddfe0";
  --created-border: "#06ea61";
  --deleted: "#b53b50";
  --deleted-background: "#dddfe0";
  --deleted-border: "#b53b50";
  --drop_target-background: "#c1c3c4";
  --editor-active_line-background: "#cfd1d2";
  --editor-active_line_number: "#1a1b1c";
  --editor-active_wrap_guide: "#a3a5a6";
  --editor-background: "#dddfe0";
  --editor-document_highlight-read_background: "#cfd1d2";
  --editor-document_highlight-write_background: "#cfd1d2";
  --editor-foreground: "#28292a";
  --editor-gutter-background: "#dddfe0";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#a3a5a6";
  --editor-subheader-background: "#dddfe0";
  --editor-wrap_guide: "#cfd1d2";
  --element-active: null;
  --element-background: "#cfd1d2";
  --element-disabled: null;
  --element-hover: "#c1c3c4";
  --element-selected: "#c1c3c4";
  --elevated_surface-background: "#dddfe0";
  --error: "#b53b50";
  --error-background: "#dddfe0";
  --error-border: "#b53b50";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#cfd1d2";
  --ghost_element-selected: "#c1c3c4";
  --hidden: "#a3a5a6";
  --hidden-background: "#dddfe0";
  --hidden-border: "#a3a5a6";
  --hint: "#28292a";
  --hint-background: "#dddfe0";
  --hint-border: "#42fff9";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#a3a5a6";
  --ignored-background: "#dddfe0";
  --ignored-border: "#a3a5a6";
  --info: "#42fff9";
  --info-background: "#dddfe0";
  --info-border: "#42fff9";
  --link_text-hover: "#42fff9";
  --modified: "#03aeff";
  --modified-background: "#dddfe0";
  --modified-border: "#03aeff";
  --pane-focused_border: null;
  --panel-background: "#dddfe0";
  --panel-focused_border: "#c1c3c4";
  --predictive: "#a3a5a6";
  --predictive-background: "#cfd1d2";
  --predictive-border: "#c1c3c4";
  --renamed: "#c9d364";
  --renamed-background: "#dddfe0";
  --renamed-border: "#c9d364";
  --scrollbar-thumb-background: "#c1c3c4";
  --scrollbar-thumb-border: "#c1c3c46f";
  --scrollbar-thumb-hover_background: "#a3a5a6";
  --scrollbar-track-background: "#dddfe0";
  --scrollbar-track-border: null;
  --search-match_background: "#c1c3c4";
  --status_bar-background: "#dddfe0";
  --success: "#06ea61";
  --success-background: "#dddfe0";
  --success-border: "#06ea61";
  --surface-background: "#dddfe0";
  --tab-active_background: "#dddfe0";
  --tab-inactive_background: "#cfd1d2";
  --tab_bar-background: "#dddfe0";
  --terminal-ansi-black: "#dddfe0";
  --terminal-ansi-blue: "#03aeff";
  --terminal-ansi-bright_black: "#a3a5a6";
  --terminal-ansi-bright_blue: "#03aeff";
  --terminal-ansi-bright_cyan: "#42fff9";
  --terminal-ansi-bright_green: "#06ea61";
  --terminal-ansi-bright_magenta: "#ea5ce2";
  --terminal-ansi-bright_red: "#b53b50";
  --terminal-ansi-bright_white: "#050608";
  --terminal-ansi-bright_yellow: "#c9d364";
  --terminal-ansi-cyan: "#42fff9";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#06ea61";
  --terminal-ansi-magenta: "#ea5ce2";
  --terminal-ansi-red: "#b53b50";
  --terminal-ansi-white: "#28292a";
  --terminal-ansi-yellow: "#c9d364";
  --terminal-background: "#dddfe0";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#28292a";
  --text-accent: "#42fff9";
  --text-disabled: "#c1c3c4";
  --text-muted: "#474849";
  --text-placeholder: "#050608";
  --title_bar-background: "#dddfe0";
  --toolbar-background: "#dddfe0";
  --unreachable: "#c9d364";
  --unreachable-background: "#dddfe0";
  --unreachable-border: "#c9d364";
  --warning: "#c9d364";
  --warning-background: "#dddfe0";
  --warning-border: "#c9d364";
  --player-1-background: null;
  --player-1-cursor: "#28292a";
  --player-1-selection: "#c1c3c4";
  --syntax-attribute-color: "#03aeff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ea770d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#a3a5a6";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#a3a5a6";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ea770d";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#b53b50";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#b53b50";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#b53b50";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#03aeff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ea5ce2";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#c9d364";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#b53b50";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#b53b50";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ea770d";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#28292a";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#28292a";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#28292a";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#28292a";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#28292a";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#06ea61";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ea770d";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#06ea61";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#06ea61";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#06ea61";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#b53b50";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#06ea61";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#c9d364";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#c9d364";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#b53b50";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#b53b50";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
