:root {
  --background: "#f2e5bc";
  --border: "#c9b99a";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#c9b99a";
  --conflict: "#b47109";
  --conflict-background: "#f2e5bc";
  --conflict-border: "#b47109";
  --created: "#6c782e";
  --created-background: "#f2e5bc";
  --created-border: "#6c782e";
  --deleted: "#c14a4a";
  --deleted-background: "#f2e5bc";
  --deleted-border: "#c14a4a";
  --drop_target-background: "#c9b99a";
  --editor-active_line-background: "#ebdbb2";
  --editor-active_line_number: "#3c3836";
  --editor-active_wrap_guide: "#a89984";
  --editor-background: "#f2e5bc";
  --editor-document_highlight-read_background: "#ebdbb2";
  --editor-document_highlight-write_background: "#ebdbb2";
  --editor-foreground: "#654735";
  --editor-gutter-background: "#f2e5bc";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#a89984";
  --editor-subheader-background: "#f2e5bc";
  --editor-wrap_guide: "#ebdbb2";
  --element-active: null;
  --element-background: "#ebdbb2";
  --element-disabled: null;
  --element-hover: "#c9b99a";
  --element-selected: "#c9b99a";
  --elevated_surface-background: "#f2e5bc";
  --error: "#c14a4a";
  --error-background: "#f2e5bc";
  --error-border: "#c14a4a";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#ebdbb2";
  --ghost_element-selected: "#c9b99a";
  --hidden: "#a89984";
  --hidden-background: "#f2e5bc";
  --hidden-border: "#a89984";
  --hint: "#654735";
  --hint-background: "#f2e5bc";
  --hint-border: "#4c7a5d";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#a89984";
  --ignored-background: "#f2e5bc";
  --ignored-border: "#a89984";
  --info: "#4c7a5d";
  --info-background: "#f2e5bc";
  --info-border: "#4c7a5d";
  --link_text-hover: "#4c7a5d";
  --modified: "#45707a";
  --modified-background: "#f2e5bc";
  --modified-border: "#45707a";
  --pane-focused_border: null;
  --panel-background: "#f2e5bc";
  --panel-focused_border: "#c9b99a";
  --predictive: "#a89984";
  --predictive-background: "#ebdbb2";
  --predictive-border: "#c9b99a";
  --renamed: "#b47109";
  --renamed-background: "#f2e5bc";
  --renamed-border: "#b47109";
  --scrollbar-thumb-background: "#c9b99a";
  --scrollbar-thumb-border: "#c9b99a6f";
  --scrollbar-thumb-hover_background: "#a89984";
  --scrollbar-track-background: "#f2e5bc";
  --scrollbar-track-border: null;
  --search-match_background: "#c9b99a";
  --status_bar-background: "#f2e5bc";
  --success: "#6c782e";
  --success-background: "#f2e5bc";
  --success-border: "#6c782e";
  --surface-background: "#f2e5bc";
  --tab-active_background: "#f2e5bc";
  --tab-inactive_background: "#ebdbb2";
  --tab_bar-background: "#f2e5bc";
  --terminal-ansi-black: "#f2e5bc";
  --terminal-ansi-blue: "#45707a";
  --terminal-ansi-bright_black: "#a89984";
  --terminal-ansi-bright_blue: "#45707a";
  --terminal-ansi-bright_cyan: "#4c7a5d";
  --terminal-ansi-bright_green: "#6c782e";
  --terminal-ansi-bright_magenta: "#945e80";
  --terminal-ansi-bright_red: "#c14a4a";
  --terminal-ansi-bright_white: "#282828";
  --terminal-ansi-bright_yellow: "#b47109";
  --terminal-ansi-cyan: "#4c7a5d";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#6c782e";
  --terminal-ansi-magenta: "#945e80";
  --terminal-ansi-red: "#c14a4a";
  --terminal-ansi-white: "#654735";
  --terminal-ansi-yellow: "#b47109";
  --terminal-background: "#f2e5bc";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#654735";
  --text-accent: "#4c7a5d";
  --text-disabled: "#c9b99a";
  --text-muted: "#665c54";
  --text-placeholder: "#282828";
  --title_bar-background: "#f2e5bc";
  --toolbar-background: "#f2e5bc";
  --unreachable: "#b47109";
  --unreachable-background: "#f2e5bc";
  --unreachable-border: "#b47109";
  --warning: "#b47109";
  --warning-background: "#f2e5bc";
  --warning-border: "#b47109";
  --player-1-background: null;
  --player-1-cursor: "#654735";
  --player-1-selection: "#c9b99a";
  --syntax-attribute-color: "#45707a";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#c35e0a";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#a89984";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#a89984";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#c35e0a";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#c14a4a";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#c14a4a";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c14a4a";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#45707a";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#945e80";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#b47109";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#c14a4a";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#c14a4a";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#c35e0a";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#654735";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#654735";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#654735";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#654735";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#654735";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#6c782e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#c35e0a";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#6c782e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#6c782e";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#6c782e";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#c14a4a";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#6c782e";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#b47109";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#b47109";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c14a4a";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c14a4a";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
