:root {
  --background: "#24283b";
  --border: "#343a52";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#343a52";
  --conflict: "#0db9d7";
  --conflict-background: "#24283b";
  --conflict-border: "#0db9d7";
  --created: "#9ece6a";
  --created-background: "#24283b";
  --created-border: "#9ece6a";
  --deleted: "#c0caf5";
  --deleted-background: "#24283b";
  --deleted-border: "#c0caf5";
  --drop_target-background: "#343a52";
  --editor-active_line-background: "#16161e";
  --editor-active_line_number: "#cbccd1";
  --editor-active_wrap_guide: "#444b6a";
  --editor-background: "#24283b";
  --editor-document_highlight-read_background: "#16161e";
  --editor-document_highlight-write_background: "#16161e";
  --editor-foreground: "#a9b1d6";
  --editor-gutter-background: "#24283b";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#444b6a";
  --editor-subheader-background: "#24283b";
  --editor-wrap_guide: "#16161e";
  --element-active: null;
  --element-background: "#16161e";
  --element-disabled: null;
  --element-hover: "#343a52";
  --element-selected: "#343a52";
  --elevated_surface-background: "#24283b";
  --error: "#c0caf5";
  --error-background: "#24283b";
  --error-border: "#c0caf5";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#16161e";
  --ghost_element-selected: "#343a52";
  --hidden: "#444b6a";
  --hidden-background: "#24283b";
  --hidden-border: "#444b6a";
  --hint: "#a9b1d6";
  --hint-background: "#24283b";
  --hint-border: "#b4f9f8";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#444b6a";
  --ignored-background: "#24283b";
  --ignored-border: "#444b6a";
  --info: "#b4f9f8";
  --info-background: "#24283b";
  --info-border: "#b4f9f8";
  --link_text-hover: "#b4f9f8";
  --modified: "#2ac3de";
  --modified-background: "#24283b";
  --modified-border: "#2ac3de";
  --pane-focused_border: null;
  --panel-background: "#24283b";
  --panel-focused_border: "#343a52";
  --predictive: "#444b6a";
  --predictive-background: "#16161e";
  --predictive-border: "#343a52";
  --renamed: "#0db9d7";
  --renamed-background: "#24283b";
  --renamed-border: "#0db9d7";
  --scrollbar-thumb-background: "#343a52";
  --scrollbar-thumb-border: "#343a526f";
  --scrollbar-thumb-hover_background: "#444b6a";
  --scrollbar-track-background: "#24283b";
  --scrollbar-track-border: null;
  --search-match_background: "#343a52";
  --status_bar-background: "#24283b";
  --success: "#9ece6a";
  --success-background: "#24283b";
  --success-border: "#9ece6a";
  --surface-background: "#24283b";
  --tab-active_background: "#24283b";
  --tab-inactive_background: "#16161e";
  --tab_bar-background: "#24283b";
  --terminal-ansi-black: "#24283b";
  --terminal-ansi-blue: "#2ac3de";
  --terminal-ansi-bright_black: "#444b6a";
  --terminal-ansi-bright_blue: "#2ac3de";
  --terminal-ansi-bright_cyan: "#b4f9f8";
  --terminal-ansi-bright_green: "#9ece6a";
  --terminal-ansi-bright_magenta: "#bb9af7";
  --terminal-ansi-bright_red: "#c0caf5";
  --terminal-ansi-bright_white: "#d5d6db";
  --terminal-ansi-bright_yellow: "#0db9d7";
  --terminal-ansi-cyan: "#b4f9f8";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#9ece6a";
  --terminal-ansi-magenta: "#bb9af7";
  --terminal-ansi-red: "#c0caf5";
  --terminal-ansi-white: "#a9b1d6";
  --terminal-ansi-yellow: "#0db9d7";
  --terminal-background: "#24283b";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a9b1d6";
  --text-accent: "#b4f9f8";
  --text-disabled: "#343a52";
  --text-muted: "#787c99";
  --text-placeholder: "#d5d6db";
  --title_bar-background: "#24283b";
  --toolbar-background: "#24283b";
  --unreachable: "#0db9d7";
  --unreachable-background: "#24283b";
  --unreachable-border: "#0db9d7";
  --warning: "#0db9d7";
  --warning-background: "#24283b";
  --warning-border: "#0db9d7";
  --player-1-background: null;
  --player-1-cursor: "#a9b1d6";
  --player-1-selection: "#343a52";
  --syntax-attribute-color: "#2ac3de";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#a9b1d6";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#444b6a";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#444b6a";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#a9b1d6";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#c0caf5";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#c0caf5";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c0caf5";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#2ac3de";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#bb9af7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#0db9d7";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#c0caf5";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#c0caf5";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#a9b1d6";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#a9b1d6";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a9b1d6";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a9b1d6";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#a9b1d6";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a9b1d6";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#9ece6a";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#a9b1d6";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#9ece6a";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#9ece6a";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#9ece6a";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#c0caf5";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#9ece6a";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#0db9d7";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#0db9d7";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c0caf5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c0caf5";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
