:root {
  --background: "#0c0d0e";
  --border: "#515253";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#515253";
  --conflict: "#dca060";
  --conflict_background: "#0c0d0e";
  --conflict_border: "#dca060";
  --created: "#31a354";
  --created_background: "#0c0d0e";
  --created_border: "#31a354";
  --deleted: "#e31a1c";
  --deleted_background: "#0c0d0e";
  --deleted_border: "#e31a1c";
  --drop_target_background: "#515253";
  --editor_active_line_background: "#2e2f30";
  --editor_active_line_number: "#dadbdc";
  --editor_active_wrap_guide: "#737475";
  --editor_background: "#0c0d0e";
  --editor_document_highlight_read_background: "#2e2f30";
  --editor_document_highlight_write_background: "#2e2f30";
  --editor_foreground: "#b7b8b9";
  --editor_gutter_background: "#0c0d0e";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#737475";
  --editor_subheader_background: "#0c0d0e";
  --editor_wrap_guide: "#2e2f30";
  --element_active: null;
  --element_background: "#2e2f30";
  --element_disabled: null;
  --element_hover: "#515253";
  --element_selected: "#515253";
  --elevated_surface_background: "#0c0d0e";
  --error: "#e31a1c";
  --error_background: "#0c0d0e";
  --error_border: "#e31a1c";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#2e2f30";
  --ghost_element_selected: "#515253";
  --hidden: "#737475";
  --hidden_background: "#0c0d0e";
  --hidden_border: "#737475";
  --hint: "#b7b8b9";
  --hint_background: "#0c0d0e";
  --hint_border: "#80b1d3";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#737475";
  --ignored_background: "#0c0d0e";
  --ignored_border: "#737475";
  --info: "#80b1d3";
  --info_background: "#0c0d0e";
  --info_border: "#80b1d3";
  --link_text_hover: "#80b1d3";
  --modified: "#3182bd";
  --modified_background: "#0c0d0e";
  --modified_border: "#3182bd";
  --pane_focused_border: null;
  --panel_background: "#0c0d0e";
  --panel_focused_border: "#515253";
  --predictive: "#737475";
  --predictive_background: "#2e2f30";
  --predictive_border: "#515253";
  --renamed: "#dca060";
  --renamed_background: "#0c0d0e";
  --renamed_border: "#dca060";
  --scrollbar_thumb_background: "#515253";
  --scrollbar_thumb_border: "#5152536f";
  --scrollbar_thumb_hover_background: "#737475";
  --scrollbar_track_background: "#0c0d0e";
  --scrollbar_track_border: null;
  --search_match_background: "#515253";
  --status_bar_background: "#0c0d0e";
  --success: "#31a354";
  --success_background: "#0c0d0e";
  --success_border: "#31a354";
  --surface_background: "#0c0d0e";
  --tab_active_background: "#0c0d0e";
  --tab_inactive_background: "#2e2f30";
  --tab_bar_background: "#0c0d0e";
  --terminal_ansi_black: "#0c0d0e";
  --terminal_ansi_blue: "#3182bd";
  --terminal_ansi_bright_black: "#737475";
  --terminal_ansi_bright_blue: "#3182bd";
  --terminal_ansi_bright_cyan: "#80b1d3";
  --terminal_ansi_bright_green: "#31a354";
  --terminal_ansi_bright_magenta: "#756bb1";
  --terminal_ansi_bright_red: "#e31a1c";
  --terminal_ansi_bright_white: "#fcfdfe";
  --terminal_ansi_bright_yellow: "#dca060";
  --terminal_ansi_cyan: "#80b1d3";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#31a354";
  --terminal_ansi_magenta: "#756bb1";
  --terminal_ansi_red: "#e31a1c";
  --terminal_ansi_white: "#b7b8b9";
  --terminal_ansi_yellow: "#dca060";
  --terminal_background: "#0c0d0e";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#b7b8b9";
  --text_accent: "#80b1d3";
  --text_disabled: "#515253";
  --text_muted: "#959697";
  --text_placeholder: "#fcfdfe";
  --title_bar_background: "#0c0d0e";
  --toolbar_background: "#0c0d0e";
  --unreachable: "#dca060";
  --unreachable_background: "#0c0d0e";
  --unreachable_border: "#dca060";
  --warning: "#dca060";
  --warning_background: "#0c0d0e";
  --warning_border: "#dca060";
  --player_1_background: null;
  --player_1_cursor: "#b7b8b9";
  --player_1_selection: "#515253";
  --syntax_attribute_color: "#3182bd";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#e6550d";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#737475";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#737475";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#e6550d";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#e31a1c";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#e31a1c";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#e31a1c";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#3182bd";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#756bb1";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#dca060";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#e31a1c";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#e31a1c";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#e6550d";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#b7b8b9";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#b7b8b9";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#b7b8b9";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#b7b8b9";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#b7b8b9";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#31a354";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#e6550d";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#31a354";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#31a354";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#31a354";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#e31a1c";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#31a354";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#dca060";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#dca060";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#e31a1c";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#e31a1c";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
