:root {
  --background: "#f0f0f0";
  --border: "#fff018";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#fff018";
  --conflict: "#426395";
  --conflict-background: "#f0f0f0";
  --conflict-border: "#426395";
  --created: "#5c5c6a";
  --created-background: "#f0f0f0";
  --created-border: "#5c5c6a";
  --deleted: "#487830";
  --deleted-background: "#f0f0f0";
  --deleted-border: "#487830";
  --drop_target-background: "#fff018";
  --editor-active_line-background: "#f0d848";
  --editor-active_line_number: "#489000";
  --editor-active_wrap_guide: "#f01818";
  --editor-background: "#f0f0f0";
  --editor-document_highlight-read_background: "#f0d848";
  --editor-document_highlight-write_background: "#f0d848";
  --editor-foreground: "#d80000";
  --editor-gutter-background: "#f0f0f0";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#f01818";
  --editor-subheader-background: "#f0f0f0";
  --editor-wrap_guide: "#f0d848";
  --element-active: null;
  --element-background: "#f0d848";
  --element-disabled: null;
  --element-hover: "#fff018";
  --element-selected: "#fff018";
  --elevated_surface-background: "#f0f0f0";
  --error: "#487830";
  --error-background: "#f0f0f0";
  --error-border: "#487830";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#f0d848";
  --ghost_element-selected: "#fff018";
  --hidden: "#f01818";
  --hidden-background: "#f0f0f0";
  --hidden-border: "#f01818";
  --hint: "#d80000";
  --hint-background: "#f0f0f0";
  --hint-border: "#2c3c57";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#f01818";
  --ignored-background: "#f0f0f0";
  --ignored-border: "#f01818";
  --info: "#2c3c57";
  --info-background: "#f0f0f0";
  --info-border: "#2c3c57";
  --link_text-hover: "#2c3c57";
  --modified: "#001878";
  --modified-background: "#f0f0f0";
  --modified-border: "#001878";
  --pane-focused_border: null;
  --panel-background: "#f0f0f0";
  --panel-focused_border: "#fff018";
  --predictive: "#f01818";
  --predictive-background: "#f0d848";
  --predictive-border: "#fff018";
  --renamed: "#426395";
  --renamed-background: "#f0f0f0";
  --renamed-border: "#426395";
  --scrollbar-thumb-background: "#fff018";
  --scrollbar-thumb-border: "#fff0186f";
  --scrollbar-thumb-hover_background: "#f01818";
  --scrollbar-track-background: "#f0f0f0";
  --scrollbar-track-border: null;
  --search-match_background: "#fff018";
  --status_bar-background: "#f0f0f0";
  --success: "#5c5c6a";
  --success-background: "#f0f0f0";
  --success-border: "#5c5c6a";
  --surface-background: "#f0f0f0";
  --tab-active_background: "#f0f0f0";
  --tab-inactive_background: "#f0d848";
  --tab_bar-background: "#f0f0f0";
  --terminal-ansi-black: "#f0f0f0";
  --terminal-ansi-blue: "#001878";
  --terminal-ansi-bright_black: "#f01818";
  --terminal-ansi-bright_blue: "#001878";
  --terminal-ansi-bright_cyan: "#2c3c57";
  --terminal-ansi-bright_green: "#5c5c6a";
  --terminal-ansi-bright_magenta: "#900000";
  --terminal-ansi-bright_red: "#487830";
  --terminal-ansi-bright_white: "#30a860";
  --terminal-ansi-bright_yellow: "#426395";
  --terminal-ansi-cyan: "#2c3c57";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#5c5c6a";
  --terminal-ansi-magenta: "#900000";
  --terminal-ansi-red: "#487830";
  --terminal-ansi-white: "#d80000";
  --terminal-ansi-yellow: "#426395";
  --terminal-background: "#f0f0f0";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d80000";
  --text-accent: "#2c3c57";
  --text-disabled: "#fff018";
  --text-muted: "#f00000";
  --text-placeholder: "#30a860";
  --title_bar-background: "#f0f0f0";
  --toolbar-background: "#f0f0f0";
  --unreachable: "#426395";
  --unreachable-background: "#f0f0f0";
  --unreachable-border: "#426395";
  --warning: "#426395";
  --warning-background: "#f0f0f0";
  --warning-border: "#426395";
  --player-1-background: null;
  --player-1-cursor: "#d80000";
  --player-1-selection: "#fff018";
  --syntax-attribute-color: "#001878";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#183048";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#f01818";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#f01818";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#183048";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#487830";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#487830";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#487830";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#001878";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#900000";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#426395";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#487830";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#487830";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#183048";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#d80000";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d80000";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d80000";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d80000";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d80000";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#5c5c6a";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#183048";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#5c5c6a";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#5c5c6a";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#5c5c6a";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#487830";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#5c5c6a";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#426395";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#426395";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#487830";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#487830";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
