:root {
  --background: "#1b181b";
  --border: "#695d69";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#695d69";
  --conflict: "#bb8a35";
  --conflict-background: "#1b181b";
  --conflict-border: "#bb8a35";
  --created: "#918b3b";
  --created-background: "#1b181b";
  --created-border: "#918b3b";
  --deleted: "#ca402b";
  --deleted-background: "#1b181b";
  --deleted-border: "#ca402b";
  --drop_target-background: "#695d69";
  --editor-active_line-background: "#292329";
  --editor-active_line_number: "#d8cad8";
  --editor-active_wrap_guide: "#776977";
  --editor-background: "#1b181b";
  --editor-document_highlight-read_background: "#292329";
  --editor-document_highlight-write_background: "#292329";
  --editor-foreground: "#ab9bab";
  --editor-gutter-background: "#1b181b";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#776977";
  --editor-subheader-background: "#1b181b";
  --editor-wrap_guide: "#292329";
  --element-active: null;
  --element-background: "#292329";
  --element-disabled: null;
  --element-hover: "#695d69";
  --element-selected: "#695d69";
  --elevated_surface-background: "#1b181b";
  --error: "#ca402b";
  --error-background: "#1b181b";
  --error-border: "#ca402b";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#292329";
  --ghost_element-selected: "#695d69";
  --hidden: "#776977";
  --hidden-background: "#1b181b";
  --hidden-border: "#776977";
  --hint: "#ab9bab";
  --hint-background: "#1b181b";
  --hint-border: "#159393";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#776977";
  --ignored-background: "#1b181b";
  --ignored-border: "#776977";
  --info: "#159393";
  --info-background: "#1b181b";
  --info-border: "#159393";
  --link_text-hover: "#159393";
  --modified: "#516aec";
  --modified-background: "#1b181b";
  --modified-border: "#516aec";
  --pane-focused_border: null;
  --panel-background: "#1b181b";
  --panel-focused_border: "#695d69";
  --predictive: "#776977";
  --predictive-background: "#292329";
  --predictive-border: "#695d69";
  --renamed: "#bb8a35";
  --renamed-background: "#1b181b";
  --renamed-border: "#bb8a35";
  --scrollbar-thumb-background: "#695d69";
  --scrollbar-thumb-border: "#695d696f";
  --scrollbar-thumb-hover_background: "#776977";
  --scrollbar-track-background: "#1b181b";
  --scrollbar-track-border: null;
  --search-match_background: "#695d69";
  --status_bar-background: "#1b181b";
  --success: "#918b3b";
  --success-background: "#1b181b";
  --success-border: "#918b3b";
  --surface-background: "#1b181b";
  --tab-active_background: "#1b181b";
  --tab-inactive_background: "#292329";
  --tab_bar-background: "#1b181b";
  --terminal-ansi-black: "#1b181b";
  --terminal-ansi-blue: "#516aec";
  --terminal-ansi-bright_black: "#776977";
  --terminal-ansi-bright_blue: "#516aec";
  --terminal-ansi-bright_cyan: "#159393";
  --terminal-ansi-bright_green: "#918b3b";
  --terminal-ansi-bright_magenta: "#7b59c0";
  --terminal-ansi-bright_red: "#ca402b";
  --terminal-ansi-bright_white: "#f7f3f7";
  --terminal-ansi-bright_yellow: "#bb8a35";
  --terminal-ansi-cyan: "#159393";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#918b3b";
  --terminal-ansi-magenta: "#7b59c0";
  --terminal-ansi-red: "#ca402b";
  --terminal-ansi-white: "#ab9bab";
  --terminal-ansi-yellow: "#bb8a35";
  --terminal-background: "#1b181b";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#ab9bab";
  --text-accent: "#159393";
  --text-disabled: "#695d69";
  --text-muted: "#9e8f9e";
  --text-placeholder: "#f7f3f7";
  --title_bar-background: "#1b181b";
  --toolbar-background: "#1b181b";
  --unreachable: "#bb8a35";
  --unreachable-background: "#1b181b";
  --unreachable-border: "#bb8a35";
  --warning: "#bb8a35";
  --warning-background: "#1b181b";
  --warning-border: "#bb8a35";
  --player-1-background: null;
  --player-1-cursor: "#ab9bab";
  --player-1-selection: "#695d69";
  --syntax-attribute-color: "#516aec";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#a65926";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#776977";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#776977";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#a65926";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ca402b";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ca402b";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ca402b";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#516aec";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#7b59c0";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#bb8a35";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ca402b";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ca402b";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#a65926";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#ab9bab";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#ab9bab";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#ab9bab";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ab9bab";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#ab9bab";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#918b3b";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#a65926";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#918b3b";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#918b3b";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#918b3b";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ca402b";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#918b3b";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#bb8a35";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#bb8a35";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ca402b";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ca402b";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
