:root {
  --background: "#0f0f0f";
  --border: "#262626";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#262626";
  --conflict: "#aca98a";
  --conflict_background: "#0f0f0f";
  --conflict_border: "#aca98a";
  --created: "#8aac8b";
  --created_background: "#0f0f0f";
  --created_border: "#8aac8b";
  --deleted: "#ac8a8c";
  --deleted_background: "#0f0f0f";
  --deleted_border: "#ac8a8c";
  --drop_target_background: "#262626";
  --editor_active_line_background: "#191919";
  --editor_active_line_number: "#e7e7e7";
  --editor_active_wrap_guide: "#4c4c4c";
  --editor_background: "#0f0f0f";
  --editor_document_highlight_read_background: "#191919";
  --editor_document_highlight_write_background: "#191919";
  --editor_foreground: "#cacaca";
  --editor_gutter_background: "#0f0f0f";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#4c4c4c";
  --editor_subheader_background: "#0f0f0f";
  --editor_wrap_guide: "#191919";
  --element_active: null;
  --element_background: "#191919";
  --element_disabled: null;
  --element_hover: "#262626";
  --element_selected: "#262626";
  --elevated_surface_background: "#0f0f0f";
  --error: "#ac8a8c";
  --error_background: "#0f0f0f";
  --error_border: "#ac8a8c";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#191919";
  --ghost_element_selected: "#262626";
  --hidden: "#4c4c4c";
  --hidden_background: "#0f0f0f";
  --hidden_border: "#4c4c4c";
  --hint: "#cacaca";
  --hint_background: "#0f0f0f";
  --hint_border: "#8aabac";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#4c4c4c";
  --ignored_background: "#0f0f0f";
  --ignored_border: "#4c4c4c";
  --info: "#8aabac";
  --info_background: "#0f0f0f";
  --info_border: "#8aabac";
  --link_text_hover: "#8aabac";
  --modified: "#8f8aac";
  --modified_background: "#0f0f0f";
  --modified_border: "#8f8aac";
  --pane_focused_border: null;
  --panel_background: "#0f0f0f";
  --panel_focused_border: "#262626";
  --predictive: "#4c4c4c";
  --predictive_background: "#191919";
  --predictive_border: "#262626";
  --renamed: "#aca98a";
  --renamed_background: "#0f0f0f";
  --renamed_border: "#aca98a";
  --scrollbar_thumb_background: "#262626";
  --scrollbar_thumb_border: "#2626266f";
  --scrollbar_thumb_hover_background: "#4c4c4c";
  --scrollbar_track_background: "#0f0f0f";
  --scrollbar_track_border: null;
  --search_match_background: "#262626";
  --status_bar_background: "#0f0f0f";
  --success: "#8aac8b";
  --success_background: "#0f0f0f";
  --success_border: "#8aac8b";
  --surface_background: "#0f0f0f";
  --tab_active_background: "#0f0f0f";
  --tab_inactive_background: "#191919";
  --tab_bar_background: "#0f0f0f";
  --terminal_ansi_black: "#0f0f0f";
  --terminal_ansi_blue: "#8f8aac";
  --terminal_ansi_bright_black: "#4c4c4c";
  --terminal_ansi_bright_blue: "#8f8aac";
  --terminal_ansi_bright_cyan: "#8aabac";
  --terminal_ansi_bright_green: "#8aac8b";
  --terminal_ansi_bright_magenta: "#ac8aac";
  --terminal_ansi_bright_red: "#ac8a8c";
  --terminal_ansi_bright_white: "#f0f0f0";
  --terminal_ansi_bright_yellow: "#aca98a";
  --terminal_ansi_cyan: "#8aabac";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#8aac8b";
  --terminal_ansi_magenta: "#ac8aac";
  --terminal_ansi_red: "#ac8a8c";
  --terminal_ansi_white: "#cacaca";
  --terminal_ansi_yellow: "#aca98a";
  --terminal_background: "#0f0f0f";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#cacaca";
  --text_accent: "#8aabac";
  --text_disabled: "#262626";
  --text_muted: "#ac8a8c";
  --text_placeholder: "#f0f0f0";
  --title_bar_background: "#0f0f0f";
  --toolbar_background: "#0f0f0f";
  --unreachable: "#aca98a";
  --unreachable_background: "#0f0f0f";
  --unreachable_border: "#aca98a";
  --warning: "#aca98a";
  --warning_background: "#0f0f0f";
  --warning_border: "#aca98a";
  --player_1_background: null;
  --player_1_cursor: "#cacaca";
  --player_1_selection: "#262626";
  --syntax_attribute_color: "#8f8aac";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#ceb188";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#4c4c4c";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#4c4c4c";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#ceb188";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#ac8a8c";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#ac8a8c";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#ac8a8c";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#8f8aac";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#ac8aac";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#aca98a";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#ac8a8c";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#ac8a8c";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#ceb188";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#cacaca";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#cacaca";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#cacaca";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#cacaca";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#cacaca";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#8aac8b";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#ceb188";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#8aac8b";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#8aac8b";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#8aac8b";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#ac8a8c";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#8aac8b";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#aca98a";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#aca98a";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#ac8a8c";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#ac8a8c";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
