:root {
  --background: "#171e1f";
  --border: "#373c3d";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#373c3d";
  --conflict: "#fdb11f";
  --conflict-background: "#171e1f";
  --conflict-border: "#fdb11f";
  --created: "#499180";
  --created-background: "#171e1f";
  --created-border: "#499180";
  --deleted: "#ff4658";
  --deleted-background: "#171e1f";
  --deleted-border: "#ff4658";
  --drop_target-background: "#373c3d";
  --editor-active_line-background: "#252c2d";
  --editor-active_line_number: "#e3e3c8";
  --editor-active_wrap_guide: "#555e5f";
  --editor-background: "#171e1f";
  --editor-document_highlight-read_background: "#252c2d";
  --editor-document_highlight-write_background: "#252c2d";
  --editor-foreground: "#c7c7a5";
  --editor-gutter-background: "#171e1f";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#555e5f";
  --editor-subheader-background: "#171e1f";
  --editor-wrap_guide: "#252c2d";
  --element-active: null;
  --element-background: "#252c2d";
  --element-disabled: null;
  --element-hover: "#373c3d";
  --element-selected: "#373c3d";
  --elevated_surface-background: "#171e1f";
  --error: "#ff4658";
  --error-background: "#171e1f";
  --error-border: "#ff4658";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#252c2d";
  --ghost_element-selected: "#373c3d";
  --hidden: "#555e5f";
  --hidden-background: "#171e1f";
  --hidden-border: "#555e5f";
  --hint: "#c7c7a5";
  --hint-background: "#171e1f";
  --hint-border: "#66d9ef";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#555e5f";
  --ignored-background: "#171e1f";
  --ignored-border: "#555e5f";
  --info: "#66d9ef";
  --info-background: "#171e1f";
  --info-border: "#66d9ef";
  --link_text-hover: "#66d9ef";
  --modified: "#498091";
  --modified-background: "#171e1f";
  --modified-border: "#498091";
  --pane-focused_border: null;
  --panel-background: "#171e1f";
  --panel-focused_border: "#373c3d";
  --predictive: "#555e5f";
  --predictive-background: "#252c2d";
  --predictive-border: "#373c3d";
  --renamed: "#fdb11f";
  --renamed-background: "#171e1f";
  --renamed-border: "#fdb11f";
  --scrollbar-thumb-background: "#373c3d";
  --scrollbar-thumb-border: "#373c3d6f";
  --scrollbar-thumb-hover_background: "#555e5f";
  --scrollbar-track-background: "#171e1f";
  --scrollbar-track-border: null;
  --search-match_background: "#373c3d";
  --status_bar-background: "#171e1f";
  --success: "#499180";
  --success-background: "#171e1f";
  --success-border: "#499180";
  --surface-background: "#171e1f";
  --tab-active_background: "#171e1f";
  --tab-inactive_background: "#252c2d";
  --tab_bar-background: "#171e1f";
  --terminal-ansi-black: "#171e1f";
  --terminal-ansi-blue: "#498091";
  --terminal-ansi-bright_black: "#555e5f";
  --terminal-ansi-bright_blue: "#498091";
  --terminal-ansi-bright_cyan: "#66d9ef";
  --terminal-ansi-bright_green: "#499180";
  --terminal-ansi-bright_magenta: "#9bc0c8";
  --terminal-ansi-bright_red: "#ff4658";
  --terminal-ansi-bright_white: "#e1eaef";
  --terminal-ansi-bright_yellow: "#fdb11f";
  --terminal-ansi-cyan: "#66d9ef";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#499180";
  --terminal-ansi-magenta: "#9bc0c8";
  --terminal-ansi-red: "#ff4658";
  --terminal-ansi-white: "#c7c7a5";
  --terminal-ansi-yellow: "#fdb11f";
  --terminal-background: "#171e1f";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#c7c7a5";
  --text-accent: "#66d9ef";
  --text-disabled: "#373c3d";
  --text-muted: "#818f80";
  --text-placeholder: "#e1eaef";
  --title_bar-background: "#171e1f";
  --toolbar-background: "#171e1f";
  --unreachable: "#fdb11f";
  --unreachable-background: "#171e1f";
  --unreachable-border: "#fdb11f";
  --warning: "#fdb11f";
  --warning-background: "#171e1f";
  --warning-border: "#fdb11f";
  --player-1-background: null;
  --player-1-cursor: "#c7c7a5";
  --player-1-selection: "#373c3d";
  --syntax-attribute-color: "#498091";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#e6db74";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#555e5f";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#555e5f";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#e6db74";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff4658";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff4658";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff4658";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#498091";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#9bc0c8";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#fdb11f";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ff4658";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ff4658";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#e6db74";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#c7c7a5";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c7c7a5";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c7c7a5";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#c7c7a5";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c7c7a5";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#499180";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#e6db74";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#499180";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#499180";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#499180";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ff4658";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#499180";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#fdb11f";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#fdb11f";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ff4658";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ff4658";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
