:root {
  --background: "#000000";
  --border: "#505050";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#505050";
  --conflict: "#fda331";
  --conflict-background: "#000000";
  --conflict-border: "#fda331";
  --created: "#a1c659";
  --created-background: "#000000";
  --created-border: "#a1c659";
  --deleted: "#fb0120";
  --deleted-background: "#000000";
  --deleted-border: "#fb0120";
  --drop_target-background: "#505050";
  --editor-active_line-background: "#303030";
  --editor-active_line_number: "#f5f5f5";
  --editor-active_wrap_guide: "#b0b0b0";
  --editor-background: "#000000";
  --editor-document_highlight-read_background: "#303030";
  --editor-document_highlight-write_background: "#303030";
  --editor-foreground: "#e0e0e0";
  --editor-gutter-background: "#000000";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#b0b0b0";
  --editor-subheader-background: "#000000";
  --editor-wrap_guide: "#303030";
  --element-active: null;
  --element-background: "#303030";
  --element-disabled: null;
  --element-hover: "#505050";
  --element-selected: "#505050";
  --elevated_surface-background: "#000000";
  --error: "#fb0120";
  --error-background: "#000000";
  --error-border: "#fb0120";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#303030";
  --ghost_element-selected: "#505050";
  --hidden: "#b0b0b0";
  --hidden-background: "#000000";
  --hidden-border: "#b0b0b0";
  --hint: "#e0e0e0";
  --hint-background: "#000000";
  --hint-border: "#76c7b7";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#b0b0b0";
  --ignored-background: "#000000";
  --ignored-border: "#b0b0b0";
  --info: "#76c7b7";
  --info-background: "#000000";
  --info-border: "#76c7b7";
  --link_text-hover: "#76c7b7";
  --modified: "#6fb3d2";
  --modified-background: "#000000";
  --modified-border: "#6fb3d2";
  --pane-focused_border: null;
  --panel-background: "#000000";
  --panel-focused_border: "#505050";
  --predictive: "#b0b0b0";
  --predictive-background: "#303030";
  --predictive-border: "#505050";
  --renamed: "#fda331";
  --renamed-background: "#000000";
  --renamed-border: "#fda331";
  --scrollbar-thumb-background: "#505050";
  --scrollbar-thumb-border: "#5050506f";
  --scrollbar-thumb-hover_background: "#b0b0b0";
  --scrollbar-track-background: "#000000";
  --scrollbar-track-border: null;
  --search-match_background: "#505050";
  --status_bar-background: "#000000";
  --success: "#a1c659";
  --success-background: "#000000";
  --success-border: "#a1c659";
  --surface-background: "#000000";
  --tab-active_background: "#000000";
  --tab-inactive_background: "#303030";
  --tab_bar-background: "#000000";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#6fb3d2";
  --terminal-ansi-bright_black: "#b0b0b0";
  --terminal-ansi-bright_blue: "#6fb3d2";
  --terminal-ansi-bright_cyan: "#76c7b7";
  --terminal-ansi-bright_green: "#a1c659";
  --terminal-ansi-bright_magenta: "#d381c3";
  --terminal-ansi-bright_red: "#fb0120";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#fda331";
  --terminal-ansi-cyan: "#76c7b7";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a1c659";
  --terminal-ansi-magenta: "#d381c3";
  --terminal-ansi-red: "#fb0120";
  --terminal-ansi-white: "#e0e0e0";
  --terminal-ansi-yellow: "#fda331";
  --terminal-background: "#000000";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#e0e0e0";
  --text-accent: "#76c7b7";
  --text-disabled: "#505050";
  --text-muted: "#d0d0d0";
  --text-placeholder: "#ffffff";
  --title_bar-background: "#000000";
  --toolbar-background: "#000000";
  --unreachable: "#fda331";
  --unreachable-background: "#000000";
  --unreachable-border: "#fda331";
  --warning: "#fda331";
  --warning-background: "#000000";
  --warning-border: "#fda331";
  --player-1-background: null;
  --player-1-cursor: "#e0e0e0";
  --player-1-selection: "#505050";
  --syntax-attribute-color: "#6fb3d2";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fc6d24";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#b0b0b0";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#b0b0b0";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fc6d24";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#fb0120";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#fb0120";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#fb0120";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#6fb3d2";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#d381c3";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#fda331";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#fb0120";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#fb0120";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fc6d24";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#e0e0e0";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#e0e0e0";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#e0e0e0";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#e0e0e0";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#e0e0e0";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#a1c659";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#fc6d24";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#a1c659";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#a1c659";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#a1c659";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#fb0120";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a1c659";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#fda331";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#fda331";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#fb0120";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#fb0120";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
