:root {
  --background: "#101010";
  --border: "#454545";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#454545";
  --conflict: "#e6a3dc";
  --conflict-background: "#101010";
  --conflict-border: "#e6a3dc";
  --created: "#80c990";
  --created-background: "#101010";
  --created-border: "#80c990";
  --deleted: "#efa6a2";
  --deleted-background: "#101010";
  --deleted-border: "#efa6a2";
  --drop_target-background: "#454545";
  --editor-active_line-background: "#454545";
  --editor-active_line_number: "#c0c0c0";
  --editor-active_wrap_guide: "#454545";
  --editor-background: "#101010";
  --editor-document_highlight-read_background: "#454545";
  --editor-document_highlight-write_background: "#454545";
  --editor-foreground: "#c0c0c0";
  --editor-gutter-background: "#101010";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#454545";
  --editor-subheader-background: "#101010";
  --editor-wrap_guide: "#454545";
  --element-active: null;
  --element-background: "#454545";
  --element-disabled: null;
  --element-hover: "#454545";
  --element-selected: "#454545";
  --elevated_surface-background: "#101010";
  --error: "#efa6a2";
  --error-background: "#101010";
  --error-border: "#efa6a2";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#454545";
  --ghost_element-selected: "#454545";
  --hidden: "#454545";
  --hidden-background: "#101010";
  --hidden-border: "#454545";
  --hint: "#c0c0c0";
  --hint-background: "#101010";
  --hint-border: "#c8c874";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#454545";
  --ignored-background: "#101010";
  --ignored-border: "#454545";
  --info: "#c8c874";
  --info-background: "#101010";
  --info-border: "#c8c874";
  --link_text-hover: "#c8c874";
  --modified: "#50cacd";
  --modified-background: "#101010";
  --modified-border: "#50cacd";
  --pane-focused_border: null;
  --panel-background: "#101010";
  --panel-focused_border: "#454545";
  --predictive: "#454545";
  --predictive-background: "#454545";
  --predictive-border: "#454545";
  --renamed: "#e6a3dc";
  --renamed-background: "#101010";
  --renamed-border: "#e6a3dc";
  --scrollbar-thumb-background: "#454545";
  --scrollbar-thumb-border: "#4545456f";
  --scrollbar-thumb-hover_background: "#454545";
  --scrollbar-track-background: "#101010";
  --scrollbar-track-border: null;
  --search-match_background: "#454545";
  --status_bar-background: "#101010";
  --success: "#80c990";
  --success-background: "#101010";
  --success-border: "#80c990";
  --surface-background: "#101010";
  --tab-active_background: "#101010";
  --tab-inactive_background: "#454545";
  --tab_bar-background: "#101010";
  --terminal-ansi-black: "#101010";
  --terminal-ansi-blue: "#50cacd";
  --terminal-ansi-bright_black: "#454545";
  --terminal-ansi-bright_blue: "#50cacd";
  --terminal-ansi-bright_cyan: "#c8c874";
  --terminal-ansi-bright_green: "#80c990";
  --terminal-ansi-bright_magenta: "#e0af85";
  --terminal-ansi-bright_red: "#efa6a2";
  --terminal-ansi-bright_white: "#454545";
  --terminal-ansi-bright_yellow: "#e6a3dc";
  --terminal-ansi-cyan: "#c8c874";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#80c990";
  --terminal-ansi-magenta: "#e0af85";
  --terminal-ansi-red: "#efa6a2";
  --terminal-ansi-white: "#c0c0c0";
  --terminal-ansi-yellow: "#e6a3dc";
  --terminal-background: "#101010";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#c0c0c0";
  --text-accent: "#c8c874";
  --text-disabled: "#454545";
  --text-muted: "#808080";
  --text-placeholder: "#454545";
  --title_bar-background: "#101010";
  --toolbar-background: "#101010";
  --unreachable: "#e6a3dc";
  --unreachable-background: "#101010";
  --unreachable-border: "#e6a3dc";
  --warning: "#e6a3dc";
  --warning-background: "#101010";
  --warning-border: "#e6a3dc";
  --player-1-background: null;
  --player-1-cursor: "#c0c0c0";
  --player-1-selection: "#454545";
  --syntax-attribute-color: "#50cacd";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#a3b8ef";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#454545";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#454545";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#a3b8ef";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#efa6a2";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#efa6a2";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#efa6a2";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#50cacd";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#e0af85";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#e6a3dc";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#efa6a2";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#efa6a2";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#a3b8ef";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#c0c0c0";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c0c0c0";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c0c0c0";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#c0c0c0";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c0c0c0";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#80c990";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#a3b8ef";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#80c990";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#80c990";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#80c990";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#efa6a2";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#80c990";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#e6a3dc";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#e6a3dc";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#efa6a2";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#efa6a2";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
