:root {
  --background: "#202126";
  --border: "#5a576e";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#5a576e";
  --conflict: "#ffdc2d";
  --conflict-background: "#202126";
  --conflict-border: "#ffdc2d";
  --created: "#f2e6a9";
  --created-background: "#202126";
  --created-border: "#f2e6a9";
  --deleted: "#ff661a";
  --deleted-background: "#202126";
  --deleted-border: "#ff661a";
  --drop_target-background: "#5a576e";
  --editor-active_line-background: "#2d303d";
  --editor-active_line_number: "#eff0f9";
  --editor-active_wrap_guide: "#a1d2e6";
  --editor-background: "#202126";
  --editor-document_highlight-read_background: "#2d303d";
  --editor-document_highlight-write_background: "#2d303d";
  --editor-foreground: "#e9e7e1";
  --editor-gutter-background: "#202126";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#a1d2e6";
  --editor-subheader-background: "#202126";
  --editor-wrap_guide: "#2d303d";
  --element-active: null;
  --element-background: "#2d303d";
  --element-disabled: null;
  --element-hover: "#5a576e";
  --element-selected: "#5a576e";
  --elevated_surface-background: "#202126";
  --error: "#ff661a";
  --error-background: "#202126";
  --error-border: "#ff661a";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#2d303d";
  --ghost_element-selected: "#5a576e";
  --hidden: "#a1d2e6";
  --hidden-background: "#202126";
  --hidden-border: "#a1d2e6";
  --hint: "#e9e7e1";
  --hint-background: "#202126";
  --hint-border: "#fb6acb";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#a1d2e6";
  --ignored-background: "#202126";
  --ignored-border: "#a1d2e6";
  --info: "#fb6acb";
  --info-background: "#202126";
  --info-border: "#fb6acb";
  --link_text-hover: "#fb6acb";
  --modified: "#40bfff";
  --modified-background: "#202126";
  --modified-border: "#40bfff";
  --pane-focused_border: null;
  --panel-background: "#202126";
  --panel-focused_border: "#5a576e";
  --predictive: "#a1d2e6";
  --predictive-background: "#2d303d";
  --predictive-border: "#5a576e";
  --renamed: "#ffdc2d";
  --renamed-background: "#202126";
  --renamed-border: "#ffdc2d";
  --scrollbar-thumb-background: "#5a576e";
  --scrollbar-thumb-border: "#5a576e6f";
  --scrollbar-thumb-hover_background: "#a1d2e6";
  --scrollbar-track-background: "#202126";
  --scrollbar-track-border: null;
  --search-match_background: "#5a576e";
  --status_bar-background: "#202126";
  --success: "#f2e6a9";
  --success-background: "#202126";
  --success-border: "#f2e6a9";
  --surface-background: "#202126";
  --tab-active_background: "#202126";
  --tab-inactive_background: "#2d303d";
  --tab_bar-background: "#202126";
  --terminal-ansi-black: "#202126";
  --terminal-ansi-blue: "#40bfff";
  --terminal-ansi-bright_black: "#a1d2e6";
  --terminal-ansi-bright_blue: "#40bfff";
  --terminal-ansi-bright_cyan: "#fb6acb";
  --terminal-ansi-bright_green: "#f2e6a9";
  --terminal-ansi-bright_magenta: "#ae94f9";
  --terminal-ansi-bright_red: "#ff661a";
  --terminal-ansi-bright_white: "#f2fbff";
  --terminal-ansi-bright_yellow: "#ffdc2d";
  --terminal-ansi-cyan: "#fb6acb";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#f2e6a9";
  --terminal-ansi-magenta: "#ae94f9";
  --terminal-ansi-red: "#ff661a";
  --terminal-ansi-white: "#e9e7e1";
  --terminal-ansi-yellow: "#ffdc2d";
  --terminal-background: "#202126";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#e9e7e1";
  --text-accent: "#fb6acb";
  --text-disabled: "#5a576e";
  --text-muted: "#cad3ff";
  --text-placeholder: "#f2fbff";
  --title_bar-background: "#202126";
  --toolbar-background: "#202126";
  --unreachable: "#ffdc2d";
  --unreachable-background: "#202126";
  --unreachable-border: "#ffdc2d";
  --warning: "#ffdc2d";
  --warning-background: "#202126";
  --warning-border: "#ffdc2d";
  --player-1-background: null;
  --player-1-cursor: "#e9e7e1";
  --player-1-selection: "#5a576e";
  --syntax-attribute-color: "#40bfff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#19f988";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#a1d2e6";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#a1d2e6";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#19f988";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff661a";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff661a";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff661a";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#40bfff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ae94f9";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ffdc2d";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ff661a";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ff661a";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#19f988";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#e9e7e1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#e9e7e1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#e9e7e1";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#e9e7e1";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#e9e7e1";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#f2e6a9";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#19f988";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#f2e6a9";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#f2e6a9";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#f2e6a9";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ff661a";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#f2e6a9";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ffdc2d";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ffdc2d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ff661a";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ff661a";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
