:root {
  --background: "#eeeeee";
  --border: "#008700";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#008700";
  --conflict: "#d70087";
  --conflict-background: "#eeeeee";
  --conflict-border: "#d70087";
  --created: "#8700af";
  --created-background: "#eeeeee";
  --created-border: "#8700af";
  --deleted: "#bcbcbc";
  --deleted-background: "#eeeeee";
  --deleted-border: "#bcbcbc";
  --drop_target-background: "#008700";
  --editor-active_line-background: "#af0000";
  --editor-active_line_number: "#005f87";
  --editor-active_wrap_guide: "#5f8700";
  --editor-background: "#eeeeee";
  --editor-document_highlight-read_background: "#af0000";
  --editor-document_highlight-write_background: "#af0000";
  --editor-foreground: "#444444";
  --editor-gutter-background: "#eeeeee";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#5f8700";
  --editor-subheader-background: "#eeeeee";
  --editor-wrap_guide: "#af0000";
  --element-active: null;
  --element-background: "#af0000";
  --element-disabled: null;
  --element-hover: "#008700";
  --element-selected: "#008700";
  --elevated_surface-background: "#eeeeee";
  --error: "#bcbcbc";
  --error-background: "#eeeeee";
  --error-border: "#bcbcbc";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#af0000";
  --ghost_element-selected: "#008700";
  --hidden: "#5f8700";
  --hidden-background: "#eeeeee";
  --hidden-border: "#5f8700";
  --hint: "#444444";
  --hint-background: "#eeeeee";
  --hint-border: "#d75f00";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#5f8700";
  --ignored-background: "#eeeeee";
  --ignored-border: "#5f8700";
  --info: "#d75f00";
  --info-background: "#eeeeee";
  --info-border: "#d75f00";
  --link_text-hover: "#d75f00";
  --modified: "#d75f00";
  --modified-background: "#eeeeee";
  --modified-border: "#d75f00";
  --pane-focused_border: null;
  --panel-background: "#eeeeee";
  --panel-focused_border: "#008700";
  --predictive: "#5f8700";
  --predictive-background: "#af0000";
  --predictive-border: "#008700";
  --renamed: "#d70087";
  --renamed-background: "#eeeeee";
  --renamed-border: "#d70087";
  --scrollbar-thumb-background: "#008700";
  --scrollbar-thumb-border: "#0087006f";
  --scrollbar-thumb-hover_background: "#5f8700";
  --scrollbar-track-background: "#eeeeee";
  --scrollbar-track-border: null;
  --search-match_background: "#008700";
  --status_bar-background: "#eeeeee";
  --success: "#8700af";
  --success-background: "#eeeeee";
  --success-border: "#8700af";
  --surface-background: "#eeeeee";
  --tab-active_background: "#eeeeee";
  --tab-inactive_background: "#af0000";
  --tab_bar-background: "#eeeeee";
  --terminal-ansi-black: "#eeeeee";
  --terminal-ansi-blue: "#d75f00";
  --terminal-ansi-bright_black: "#5f8700";
  --terminal-ansi-bright_blue: "#d75f00";
  --terminal-ansi-bright_cyan: "#d75f00";
  --terminal-ansi-bright_green: "#8700af";
  --terminal-ansi-bright_magenta: "#005faf";
  --terminal-ansi-bright_red: "#bcbcbc";
  --terminal-ansi-bright_white: "#878787";
  --terminal-ansi-bright_yellow: "#d70087";
  --terminal-ansi-cyan: "#d75f00";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#8700af";
  --terminal-ansi-magenta: "#005faf";
  --terminal-ansi-red: "#bcbcbc";
  --terminal-ansi-white: "#444444";
  --terminal-ansi-yellow: "#d70087";
  --terminal-background: "#eeeeee";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#444444";
  --text-accent: "#d75f00";
  --text-disabled: "#008700";
  --text-muted: "#0087af";
  --text-placeholder: "#878787";
  --title_bar-background: "#eeeeee";
  --toolbar-background: "#eeeeee";
  --unreachable: "#d70087";
  --unreachable-background: "#eeeeee";
  --unreachable-border: "#d70087";
  --warning: "#d70087";
  --warning-background: "#eeeeee";
  --warning-border: "#d70087";
  --player-1-background: null;
  --player-1-cursor: "#444444";
  --player-1-selection: "#008700";
  --syntax-attribute-color: "#d75f00";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d70000";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#5f8700";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#5f8700";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d70000";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#bcbcbc";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#bcbcbc";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#bcbcbc";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#d75f00";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#005faf";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#d70087";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#bcbcbc";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#bcbcbc";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d70000";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#444444";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#444444";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#444444";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#444444";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#444444";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#8700af";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d70000";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#8700af";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#8700af";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#8700af";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#bcbcbc";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#8700af";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#d70087";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#d70087";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#bcbcbc";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#bcbcbc";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
