:root {
  --background: "#292c36";
  --border: "#474160";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#474160";
  --conflict: "#efa16b";
  --conflict-background: "#292c36";
  --conflict-border: "#efa16b";
  --created: "#95c76f";
  --created-background: "#292c36";
  --created-border: "#95c76f";
  --deleted: "#f84547";
  --deleted-background: "#292c36";
  --deleted-border: "#f84547";
  --drop_target-background: "#474160";
  --editor-active_line-background: "#333344";
  --editor-active_line_number: "#e8e8e8";
  --editor-active_wrap_guide: "#65568a";
  --editor-background: "#292c36";
  --editor-document_highlight-read_background: "#333344";
  --editor-document_highlight-write_background: "#333344";
  --editor-foreground: "#d8d8d8";
  --editor-gutter-background: "#292c36";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#65568a";
  --editor-subheader-background: "#292c36";
  --editor-wrap_guide: "#333344";
  --element-active: null;
  --element-background: "#333344";
  --element-disabled: null;
  --element-hover: "#474160";
  --element-selected: "#474160";
  --elevated_surface-background: "#292c36";
  --error: "#f84547";
  --error-background: "#292c36";
  --error-border: "#f84547";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#333344";
  --ghost_element-selected: "#474160";
  --hidden: "#65568a";
  --hidden-background: "#292c36";
  --hidden-border: "#65568a";
  --hint: "#d8d8d8";
  --hint-background: "#292c36";
  --hint-border: "#64878f";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#65568a";
  --ignored-background: "#292c36";
  --ignored-border: "#65568a";
  --info: "#64878f";
  --info-background: "#292c36";
  --info-border: "#64878f";
  --link_text-hover: "#64878f";
  --modified: "#8485ce";
  --modified-background: "#292c36";
  --modified-border: "#8485ce";
  --pane-focused_border: null;
  --panel-background: "#292c36";
  --panel-focused_border: "#474160";
  --predictive: "#65568a";
  --predictive-background: "#333344";
  --predictive-border: "#474160";
  --renamed: "#efa16b";
  --renamed-background: "#292c36";
  --renamed-border: "#efa16b";
  --scrollbar-thumb-background: "#474160";
  --scrollbar-thumb-border: "#4741606f";
  --scrollbar-thumb-hover_background: "#65568a";
  --scrollbar-track-background: "#292c36";
  --scrollbar-track-border: null;
  --search-match_background: "#474160";
  --status_bar-background: "#292c36";
  --success: "#95c76f";
  --success-background: "#292c36";
  --success-border: "#95c76f";
  --surface-background: "#292c36";
  --tab-active_background: "#292c36";
  --tab-inactive_background: "#333344";
  --tab_bar-background: "#292c36";
  --terminal-ansi-black: "#292c36";
  --terminal-ansi-blue: "#8485ce";
  --terminal-ansi-bright_black: "#65568a";
  --terminal-ansi-bright_blue: "#8485ce";
  --terminal-ansi-bright_cyan: "#64878f";
  --terminal-ansi-bright_green: "#95c76f";
  --terminal-ansi-bright_magenta: "#b74989";
  --terminal-ansi-bright_red: "#f84547";
  --terminal-ansi-bright_white: "#f8f8f8";
  --terminal-ansi-bright_yellow: "#efa16b";
  --terminal-ansi-cyan: "#64878f";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#95c76f";
  --terminal-ansi-magenta: "#b74989";
  --terminal-ansi-red: "#f84547";
  --terminal-ansi-white: "#d8d8d8";
  --terminal-ansi-yellow: "#efa16b";
  --terminal-background: "#292c36";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d8d8d8";
  --text-accent: "#64878f";
  --text-disabled: "#474160";
  --text-muted: "#b8b8b8";
  --text-placeholder: "#f8f8f8";
  --title_bar-background: "#292c36";
  --toolbar-background: "#292c36";
  --unreachable: "#efa16b";
  --unreachable-background: "#292c36";
  --unreachable-border: "#efa16b";
  --warning: "#efa16b";
  --warning-background: "#292c36";
  --warning-border: "#efa16b";
  --player-1-background: null;
  --player-1-cursor: "#d8d8d8";
  --player-1-selection: "#474160";
  --syntax-attribute-color: "#8485ce";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d28e5d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#65568a";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#65568a";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d28e5d";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#f84547";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#f84547";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f84547";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#8485ce";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b74989";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#efa16b";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#f84547";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#f84547";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d28e5d";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#d8d8d8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d8d8d8";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d8d8d8";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d8d8d8";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d8d8d8";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#95c76f";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d28e5d";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#95c76f";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#95c76f";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#95c76f";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f84547";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#95c76f";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#efa16b";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#efa16b";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#f84547";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f84547";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
