:root {
  --background: "#f1efee";
  --border: "#a8a19f";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#a8a19f";
  --conflict: "#c38418";
  --conflict-background: "#f1efee";
  --conflict-border: "#c38418";
  --created: "#7b9726";
  --created-background: "#f1efee";
  --created-border: "#7b9726";
  --deleted: "#f22c40";
  --deleted-background: "#f1efee";
  --deleted-border: "#f22c40";
  --drop_target-background: "#a8a19f";
  --editor-active_line-background: "#e6e2e0";
  --editor-active_line_number: "#2c2421";
  --editor-active_wrap_guide: "#9c9491";
  --editor-background: "#f1efee";
  --editor-document_highlight-read_background: "#e6e2e0";
  --editor-document_highlight-write_background: "#e6e2e0";
  --editor-foreground: "#68615e";
  --editor-gutter-background: "#f1efee";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#9c9491";
  --editor-subheader-background: "#f1efee";
  --editor-wrap_guide: "#e6e2e0";
  --element-active: null;
  --element-background: "#e6e2e0";
  --element-disabled: null;
  --element-hover: "#a8a19f";
  --element-selected: "#a8a19f";
  --elevated_surface-background: "#f1efee";
  --error: "#f22c40";
  --error-background: "#f1efee";
  --error-border: "#f22c40";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e6e2e0";
  --ghost_element-selected: "#a8a19f";
  --hidden: "#9c9491";
  --hidden-background: "#f1efee";
  --hidden-border: "#9c9491";
  --hint: "#68615e";
  --hint-background: "#f1efee";
  --hint-border: "#3d97b8";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#9c9491";
  --ignored-background: "#f1efee";
  --ignored-border: "#9c9491";
  --info: "#3d97b8";
  --info-background: "#f1efee";
  --info-border: "#3d97b8";
  --link_text-hover: "#3d97b8";
  --modified: "#407ee7";
  --modified-background: "#f1efee";
  --modified-border: "#407ee7";
  --pane-focused_border: null;
  --panel-background: "#f1efee";
  --panel-focused_border: "#a8a19f";
  --predictive: "#9c9491";
  --predictive-background: "#e6e2e0";
  --predictive-border: "#a8a19f";
  --renamed: "#c38418";
  --renamed-background: "#f1efee";
  --renamed-border: "#c38418";
  --scrollbar-thumb-background: "#a8a19f";
  --scrollbar-thumb-border: "#a8a19f6f";
  --scrollbar-thumb-hover_background: "#9c9491";
  --scrollbar-track-background: "#f1efee";
  --scrollbar-track-border: null;
  --search-match_background: "#a8a19f";
  --status_bar-background: "#f1efee";
  --success: "#7b9726";
  --success-background: "#f1efee";
  --success-border: "#7b9726";
  --surface-background: "#f1efee";
  --tab-active_background: "#f1efee";
  --tab-inactive_background: "#e6e2e0";
  --tab_bar-background: "#f1efee";
  --terminal-ansi-black: "#f1efee";
  --terminal-ansi-blue: "#407ee7";
  --terminal-ansi-bright_black: "#9c9491";
  --terminal-ansi-bright_blue: "#407ee7";
  --terminal-ansi-bright_cyan: "#3d97b8";
  --terminal-ansi-bright_green: "#7b9726";
  --terminal-ansi-bright_magenta: "#6666ea";
  --terminal-ansi-bright_red: "#f22c40";
  --terminal-ansi-bright_white: "#1b1918";
  --terminal-ansi-bright_yellow: "#c38418";
  --terminal-ansi-cyan: "#3d97b8";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#7b9726";
  --terminal-ansi-magenta: "#6666ea";
  --terminal-ansi-red: "#f22c40";
  --terminal-ansi-white: "#68615e";
  --terminal-ansi-yellow: "#c38418";
  --terminal-background: "#f1efee";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#68615e";
  --text-accent: "#3d97b8";
  --text-disabled: "#a8a19f";
  --text-muted: "#766e6b";
  --text-placeholder: "#1b1918";
  --title_bar-background: "#f1efee";
  --toolbar-background: "#f1efee";
  --unreachable: "#c38418";
  --unreachable-background: "#f1efee";
  --unreachable-border: "#c38418";
  --warning: "#c38418";
  --warning-background: "#f1efee";
  --warning-border: "#c38418";
  --player-1-background: null;
  --player-1-cursor: "#68615e";
  --player-1-selection: "#a8a19f";
  --syntax-attribute-color: "#407ee7";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#df5320";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9c9491";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9c9491";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#df5320";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#f22c40";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#f22c40";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f22c40";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#407ee7";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#6666ea";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#c38418";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#f22c40";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#f22c40";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#df5320";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#68615e";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#68615e";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#68615e";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#68615e";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#68615e";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#7b9726";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#df5320";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#7b9726";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#7b9726";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#7b9726";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f22c40";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#7b9726";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#c38418";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#c38418";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#f22c40";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f22c40";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
