:root {
  --background: "#262626";
  --border: "#4e4e4e";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#4e4e4e";
  --conflict: "#ffaf00";
  --conflict-background: "#262626";
  --conflict-border: "#ffaf00";
  --created: "#afaf00";
  --created-background: "#262626";
  --created-border: "#afaf00";
  --deleted: "#d75f5f";
  --deleted-background: "#262626";
  --deleted-border: "#d75f5f";
  --drop_target-background: "#4e4e4e";
  --editor-active_line-background: "#3a3a3a";
  --editor-active_line_number: "#d5c4a1";
  --editor-active_wrap_guide: "#8a8a8a";
  --editor-background: "#262626";
  --editor-document_highlight-read_background: "#3a3a3a";
  --editor-document_highlight-write_background: "#3a3a3a";
  --editor-foreground: "#dab997";
  --editor-gutter-background: "#262626";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#8a8a8a";
  --editor-subheader-background: "#262626";
  --editor-wrap_guide: "#3a3a3a";
  --element-active: null;
  --element-background: "#3a3a3a";
  --element-disabled: null;
  --element-hover: "#4e4e4e";
  --element-selected: "#4e4e4e";
  --elevated_surface-background: "#262626";
  --error: "#d75f5f";
  --error-background: "#262626";
  --error-border: "#d75f5f";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#3a3a3a";
  --ghost_element-selected: "#4e4e4e";
  --hidden: "#8a8a8a";
  --hidden-background: "#262626";
  --hidden-border: "#8a8a8a";
  --hint: "#dab997";
  --hint-background: "#262626";
  --hint-border: "#85ad85";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#8a8a8a";
  --ignored-background: "#262626";
  --ignored-border: "#8a8a8a";
  --info: "#85ad85";
  --info-background: "#262626";
  --info-border: "#85ad85";
  --link_text-hover: "#85ad85";
  --modified: "#83adad";
  --modified-background: "#262626";
  --modified-border: "#83adad";
  --pane-focused_border: null;
  --panel-background: "#262626";
  --panel-focused_border: "#4e4e4e";
  --predictive: "#8a8a8a";
  --predictive-background: "#3a3a3a";
  --predictive-border: "#4e4e4e";
  --renamed: "#ffaf00";
  --renamed-background: "#262626";
  --renamed-border: "#ffaf00";
  --scrollbar-thumb-background: "#4e4e4e";
  --scrollbar-thumb-border: "#4e4e4e6f";
  --scrollbar-thumb-hover_background: "#8a8a8a";
  --scrollbar-track-background: "#262626";
  --scrollbar-track-border: null;
  --search-match_background: "#4e4e4e";
  --status_bar-background: "#262626";
  --success: "#afaf00";
  --success-background: "#262626";
  --success-border: "#afaf00";
  --surface-background: "#262626";
  --tab-active_background: "#262626";
  --tab-inactive_background: "#3a3a3a";
  --tab_bar-background: "#262626";
  --terminal-ansi-black: "#262626";
  --terminal-ansi-blue: "#83adad";
  --terminal-ansi-bright_black: "#8a8a8a";
  --terminal-ansi-bright_blue: "#83adad";
  --terminal-ansi-bright_cyan: "#85ad85";
  --terminal-ansi-bright_green: "#afaf00";
  --terminal-ansi-bright_magenta: "#d485ad";
  --terminal-ansi-bright_red: "#d75f5f";
  --terminal-ansi-bright_white: "#ebdbb2";
  --terminal-ansi-bright_yellow: "#ffaf00";
  --terminal-ansi-cyan: "#85ad85";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#afaf00";
  --terminal-ansi-magenta: "#d485ad";
  --terminal-ansi-red: "#d75f5f";
  --terminal-ansi-white: "#dab997";
  --terminal-ansi-yellow: "#ffaf00";
  --terminal-background: "#262626";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#dab997";
  --text-accent: "#85ad85";
  --text-disabled: "#4e4e4e";
  --text-muted: "#949494";
  --text-placeholder: "#ebdbb2";
  --title_bar-background: "#262626";
  --toolbar-background: "#262626";
  --unreachable: "#ffaf00";
  --unreachable-background: "#262626";
  --unreachable-border: "#ffaf00";
  --warning: "#ffaf00";
  --warning-background: "#262626";
  --warning-border: "#ffaf00";
  --player-1-background: null;
  --player-1-cursor: "#dab997";
  --player-1-selection: "#4e4e4e";
  --syntax-attribute-color: "#83adad";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ff8700";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#8a8a8a";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#8a8a8a";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ff8700";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d75f5f";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#d75f5f";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d75f5f";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#83adad";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#d485ad";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ffaf00";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#d75f5f";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d75f5f";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ff8700";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#dab997";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#dab997";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#dab997";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#dab997";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#dab997";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#afaf00";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ff8700";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#afaf00";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#afaf00";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#afaf00";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#d75f5f";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#afaf00";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ffaf00";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ffaf00";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d75f5f";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#d75f5f";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
