:root {
  --background: "#2d302f";
  --border: "#5a605d";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#5a605d";
  --conflict: "#f0c239";
  --conflict-background: "#2d302f";
  --conflict-border: "#f0c239";
  --created: "#8ab361";
  --created-background: "#2d302f";
  --created-border: "#8ab361";
  --deleted: "#f9906f";
  --deleted-background: "#2d302f";
  --deleted-border: "#f9906f";
  --drop_target-background: "#5a605d";
  --editor-active_line-background: "#434846";
  --editor-active_line_number: "#ecf6f2";
  --editor-active_wrap_guide: "#9da8a3";
  --editor-background: "#2d302f";
  --editor-document_highlight-read_background: "#434846";
  --editor-document_highlight-write_background: "#434846";
  --editor-foreground: "#e0f0ef";
  --editor-gutter-background: "#2d302f";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#9da8a3";
  --editor-subheader-background: "#2d302f";
  --editor-wrap_guide: "#434846";
  --element-active: null;
  --element-background: "#434846";
  --element-disabled: null;
  --element-hover: "#5a605d";
  --element-selected: "#5a605d";
  --elevated_surface-background: "#2d302f";
  --error: "#f9906f";
  --error-background: "#2d302f";
  --error-border: "#f9906f";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#434846";
  --ghost_element-selected: "#5a605d";
  --hidden: "#9da8a3";
  --hidden-background: "#2d302f";
  --hidden-border: "#9da8a3";
  --hint: "#e0f0ef";
  --hint-background: "#2d302f";
  --hint-border: "#30dff3";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#9da8a3";
  --ignored-background: "#2d302f";
  --ignored-border: "#9da8a3";
  --info: "#30dff3";
  --info-background: "#2d302f";
  --info-border: "#30dff3";
  --link_text-hover: "#30dff3";
  --modified: "#b0a4e3";
  --modified-background: "#2d302f";
  --modified-border: "#b0a4e3";
  --pane-focused_border: null;
  --panel-background: "#2d302f";
  --panel-focused_border: "#5a605d";
  --predictive: "#9da8a3";
  --predictive-background: "#434846";
  --predictive-border: "#5a605d";
  --renamed: "#f0c239";
  --renamed-background: "#2d302f";
  --renamed-border: "#f0c239";
  --scrollbar-thumb-background: "#5a605d";
  --scrollbar-thumb-border: "#5a605d6f";
  --scrollbar-thumb-hover_background: "#9da8a3";
  --scrollbar-track-background: "#2d302f";
  --scrollbar-track-border: null;
  --search-match_background: "#5a605d";
  --status_bar-background: "#2d302f";
  --success: "#8ab361";
  --success-background: "#2d302f";
  --success-border: "#8ab361";
  --surface-background: "#2d302f";
  --tab-active_background: "#2d302f";
  --tab-inactive_background: "#434846";
  --tab_bar-background: "#2d302f";
  --terminal-ansi-black: "#2d302f";
  --terminal-ansi-blue: "#b0a4e3";
  --terminal-ansi-bright_black: "#9da8a3";
  --terminal-ansi-bright_blue: "#b0a4e3";
  --terminal-ansi-bright_cyan: "#30dff3";
  --terminal-ansi-bright_green: "#8ab361";
  --terminal-ansi-bright_magenta: "#cca4e3";
  --terminal-ansi-bright_red: "#f9906f";
  --terminal-ansi-bright_white: "#fcfefd";
  --terminal-ansi-bright_yellow: "#f0c239";
  --terminal-ansi-cyan: "#30dff3";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#8ab361";
  --terminal-ansi-magenta: "#cca4e3";
  --terminal-ansi-red: "#f9906f";
  --terminal-ansi-white: "#e0f0ef";
  --terminal-ansi-yellow: "#f0c239";
  --terminal-background: "#2d302f";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#e0f0ef";
  --text-accent: "#30dff3";
  --text-disabled: "#5a605d";
  --text-muted: "#cad8d2";
  --text-placeholder: "#fcfefd";
  --title_bar-background: "#2d302f";
  --toolbar-background: "#2d302f";
  --unreachable: "#f0c239";
  --unreachable-background: "#2d302f";
  --unreachable-border: "#f0c239";
  --warning: "#f0c239";
  --warning-background: "#2d302f";
  --warning-border: "#f0c239";
  --player-1-background: null;
  --player-1-cursor: "#e0f0ef";
  --player-1-selection: "#5a605d";
  --syntax-attribute-color: "#b0a4e3";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#b38a61";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9da8a3";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9da8a3";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#b38a61";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#f9906f";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#f9906f";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f9906f";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#b0a4e3";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#cca4e3";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f0c239";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#f9906f";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#f9906f";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#b38a61";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#e0f0ef";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#e0f0ef";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#e0f0ef";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#e0f0ef";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#e0f0ef";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#8ab361";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#b38a61";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#8ab361";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#8ab361";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#8ab361";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f9906f";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#8ab361";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f0c239";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f0c239";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#f9906f";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f9906f";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
