:root {
  --background: "#1e0528";
  --border: "#331354";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#331354";
  --conflict: "#955ae7";
  --conflict-background: "#1e0528";
  --conflict-border: "#955ae7";
  --created: "#05cb0d";
  --created-background: "#1e0528";
  --created-border: "#05cb0d";
  --deleted: "#00d9e9";
  --deleted-background: "#1e0528";
  --deleted-border: "#00d9e9";
  --drop_target-background: "#331354";
  --editor-active_line-background: "#1a092d";
  --editor-active_line_number: "#ffeeff";
  --editor-active_wrap_guide: "#320f55";
  --editor-background: "#1e0528";
  --editor-document_highlight-read_background: "#1a092d";
  --editor-document_highlight-write_background: "#1a092d";
  --editor-foreground: "#ffeeff";
  --editor-gutter-background: "#1e0528";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#320f55";
  --editor-subheader-background: "#1e0528";
  --editor-wrap_guide: "#1a092d";
  --element-active: null;
  --element-background: "#1a092d";
  --element-disabled: null;
  --element-hover: "#331354";
  --element-selected: "#331354";
  --elevated_surface-background: "#1e0528";
  --error: "#00d9e9";
  --error-background: "#1e0528";
  --error-border: "#00d9e9";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#1a092d";
  --ghost_element-selected: "#331354";
  --hidden: "#320f55";
  --hidden-background: "#1e0528";
  --hidden-border: "#320f55";
  --hint: "#ffeeff";
  --hint-background: "#1e0528";
  --hint-border: "#b900b1";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#320f55";
  --ignored-background: "#1e0528";
  --ignored-border: "#320f55";
  --info: "#b900b1";
  --info-background: "#1e0528";
  --info-border: "#b900b1";
  --link_text-hover: "#b900b1";
  --modified: "#550068";
  --modified-background: "#1e0528";
  --modified-border: "#550068";
  --pane-focused_border: null;
  --panel-background: "#1e0528";
  --panel-focused_border: "#331354";
  --predictive: "#320f55";
  --predictive-background: "#1a092d";
  --predictive-border: "#331354";
  --renamed: "#955ae7";
  --renamed-background: "#1e0528";
  --renamed-border: "#955ae7";
  --scrollbar-thumb-background: "#331354";
  --scrollbar-thumb-border: "#3313546f";
  --scrollbar-thumb-hover_background: "#320f55";
  --scrollbar-track-background: "#1e0528";
  --scrollbar-track-border: null;
  --search-match_background: "#331354";
  --status_bar-background: "#1e0528";
  --success: "#05cb0d";
  --success-background: "#1e0528";
  --success-border: "#05cb0d";
  --surface-background: "#1e0528";
  --tab-active_background: "#1e0528";
  --tab-inactive_background: "#1a092d";
  --tab_bar-background: "#1e0528";
  --terminal-ansi-black: "#1e0528";
  --terminal-ansi-blue: "#550068";
  --terminal-ansi-bright_black: "#320f55";
  --terminal-ansi-bright_blue: "#550068";
  --terminal-ansi-bright_cyan: "#b900b1";
  --terminal-ansi-bright_green: "#05cb0d";
  --terminal-ansi-bright_magenta: "#8991bb";
  --terminal-ansi-bright_red: "#00d9e9";
  --terminal-ansi-bright_white: "#f8c0ff";
  --terminal-ansi-bright_yellow: "#955ae7";
  --terminal-ansi-cyan: "#b900b1";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#05cb0d";
  --terminal-ansi-magenta: "#8991bb";
  --terminal-ansi-red: "#00d9e9";
  --terminal-ansi-white: "#ffeeff";
  --terminal-ansi-yellow: "#955ae7";
  --terminal-background: "#1e0528";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#ffeeff";
  --text-accent: "#b900b1";
  --text-disabled: "#331354";
  --text-muted: "#873582";
  --text-placeholder: "#f8c0ff";
  --title_bar-background: "#1e0528";
  --toolbar-background: "#1e0528";
  --unreachable: "#955ae7";
  --unreachable-background: "#1e0528";
  --unreachable-border: "#955ae7";
  --warning: "#955ae7";
  --warning-background: "#1e0528";
  --warning-border: "#955ae7";
  --player-1-background: null;
  --player-1-cursor: "#ffeeff";
  --player-1-selection: "#331354";
  --syntax-attribute-color: "#550068";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#aa00a3";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#320f55";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#320f55";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#aa00a3";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#00d9e9";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#00d9e9";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#00d9e9";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#550068";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#8991bb";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#955ae7";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#00d9e9";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#00d9e9";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#aa00a3";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#ffeeff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#ffeeff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#ffeeff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ffeeff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#ffeeff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#05cb0d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#aa00a3";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#05cb0d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#05cb0d";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#05cb0d";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#00d9e9";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#05cb0d";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#955ae7";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#955ae7";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#00d9e9";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#00d9e9";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
