:root {
  --background: "#22221b";
  --border: "#5f5e4e";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#5f5e4e";
  --conflict: "#a5980d";
  --conflict-background: "#22221b";
  --conflict-border: "#a5980d";
  --created: "#7d9726";
  --created-background: "#22221b";
  --created-border: "#7d9726";
  --deleted: "#ba6236";
  --deleted-background: "#22221b";
  --deleted-border: "#ba6236";
  --drop_target-background: "#5f5e4e";
  --editor-active_line-background: "#302f27";
  --editor-active_line_number: "#e7e6df";
  --editor-active_wrap_guide: "#6c6b5a";
  --editor-background: "#22221b";
  --editor-document_highlight-read_background: "#302f27";
  --editor-document_highlight-write_background: "#302f27";
  --editor-foreground: "#929181";
  --editor-gutter-background: "#22221b";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#6c6b5a";
  --editor-subheader-background: "#22221b";
  --editor-wrap_guide: "#302f27";
  --element-active: null;
  --element-background: "#302f27";
  --element-disabled: null;
  --element-hover: "#5f5e4e";
  --element-selected: "#5f5e4e";
  --elevated_surface-background: "#22221b";
  --error: "#ba6236";
  --error-background: "#22221b";
  --error-border: "#ba6236";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#302f27";
  --ghost_element-selected: "#5f5e4e";
  --hidden: "#6c6b5a";
  --hidden-background: "#22221b";
  --hidden-border: "#6c6b5a";
  --hint: "#929181";
  --hint-background: "#22221b";
  --hint-border: "#5b9d48";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6c6b5a";
  --ignored-background: "#22221b";
  --ignored-border: "#6c6b5a";
  --info: "#5b9d48";
  --info-background: "#22221b";
  --info-border: "#5b9d48";
  --link_text-hover: "#5b9d48";
  --modified: "#36a166";
  --modified-background: "#22221b";
  --modified-border: "#36a166";
  --pane-focused_border: null;
  --panel-background: "#22221b";
  --panel-focused_border: "#5f5e4e";
  --predictive: "#6c6b5a";
  --predictive-background: "#302f27";
  --predictive-border: "#5f5e4e";
  --renamed: "#a5980d";
  --renamed-background: "#22221b";
  --renamed-border: "#a5980d";
  --scrollbar-thumb-background: "#5f5e4e";
  --scrollbar-thumb-border: "#5f5e4e6f";
  --scrollbar-thumb-hover_background: "#6c6b5a";
  --scrollbar-track-background: "#22221b";
  --scrollbar-track-border: null;
  --search-match_background: "#5f5e4e";
  --status_bar-background: "#22221b";
  --success: "#7d9726";
  --success-background: "#22221b";
  --success-border: "#7d9726";
  --surface-background: "#22221b";
  --tab-active_background: "#22221b";
  --tab-inactive_background: "#302f27";
  --tab_bar-background: "#22221b";
  --terminal-ansi-black: "#22221b";
  --terminal-ansi-blue: "#36a166";
  --terminal-ansi-bright_black: "#6c6b5a";
  --terminal-ansi-bright_blue: "#36a166";
  --terminal-ansi-bright_cyan: "#5b9d48";
  --terminal-ansi-bright_green: "#7d9726";
  --terminal-ansi-bright_magenta: "#5f9182";
  --terminal-ansi-bright_red: "#ba6236";
  --terminal-ansi-bright_white: "#f4f3ec";
  --terminal-ansi-bright_yellow: "#a5980d";
  --terminal-ansi-cyan: "#5b9d48";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#7d9726";
  --terminal-ansi-magenta: "#5f9182";
  --terminal-ansi-red: "#ba6236";
  --terminal-ansi-white: "#929181";
  --terminal-ansi-yellow: "#a5980d";
  --terminal-background: "#22221b";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#929181";
  --text-accent: "#5b9d48";
  --text-disabled: "#5f5e4e";
  --text-muted: "#878573";
  --text-placeholder: "#f4f3ec";
  --title_bar-background: "#22221b";
  --toolbar-background: "#22221b";
  --unreachable: "#a5980d";
  --unreachable-background: "#22221b";
  --unreachable-border: "#a5980d";
  --warning: "#a5980d";
  --warning-background: "#22221b";
  --warning-border: "#a5980d";
  --player-1-background: null;
  --player-1-cursor: "#929181";
  --player-1-selection: "#5f5e4e";
  --syntax-attribute-color: "#36a166";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ae7313";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6c6b5a";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6c6b5a";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ae7313";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ba6236";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ba6236";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ba6236";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#36a166";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#5f9182";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#a5980d";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ba6236";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ba6236";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ae7313";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#929181";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#929181";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#929181";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#929181";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#929181";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#7d9726";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ae7313";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#7d9726";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#7d9726";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#7d9726";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ba6236";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#7d9726";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#a5980d";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#a5980d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ba6236";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ba6236";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
