:root {
  --background: "#231e18";
  --border: "#48413a";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#48413a";
  --conflict: "#e0ac16";
  --conflict-background: "#231e18";
  --conflict-border: "#e0ac16";
  --created: "#b7ba53";
  --created-background: "#231e18";
  --created-border: "#b7ba53";
  --deleted: "#d35c5c";
  --deleted-background: "#231e18";
  --deleted-border: "#d35c5c";
  --drop_target-background: "#48413a";
  --editor-active_line-background: "#302b25";
  --editor-active_line_number: "#d7c8bc";
  --editor-active_wrap_guide: "#9d8b70";
  --editor-background: "#231e18";
  --editor-document_highlight-read_background: "#302b25";
  --editor-document_highlight-write_background: "#302b25";
  --editor-foreground: "#cabcb1";
  --editor-gutter-background: "#231e18";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#9d8b70";
  --editor-subheader-background: "#231e18";
  --editor-wrap_guide: "#302b25";
  --element-active: null;
  --element-background: "#302b25";
  --element-disabled: null;
  --element-hover: "#48413a";
  --element-selected: "#48413a";
  --elevated_surface-background: "#231e18";
  --error: "#d35c5c";
  --error-background: "#231e18";
  --error-border: "#d35c5c";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#302b25";
  --ghost_element-selected: "#48413a";
  --hidden: "#9d8b70";
  --hidden-background: "#231e18";
  --hidden-border: "#9d8b70";
  --hint: "#cabcb1";
  --hint-background: "#231e18";
  --hint-border: "#6eb958";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#9d8b70";
  --ignored-background: "#231e18";
  --ignored-border: "#9d8b70";
  --info: "#6eb958";
  --info-background: "#231e18";
  --info-border: "#6eb958";
  --link_text-hover: "#6eb958";
  --modified: "#88a4d3";
  --modified-background: "#231e18";
  --modified-border: "#88a4d3";
  --pane-focused_border: null;
  --panel-background: "#231e18";
  --panel-focused_border: "#48413a";
  --predictive: "#9d8b70";
  --predictive-background: "#302b25";
  --predictive-border: "#48413a";
  --renamed: "#e0ac16";
  --renamed-background: "#231e18";
  --renamed-border: "#e0ac16";
  --scrollbar-thumb-background: "#48413a";
  --scrollbar-thumb-border: "#48413a6f";
  --scrollbar-thumb-hover_background: "#9d8b70";
  --scrollbar-track-background: "#231e18";
  --scrollbar-track-border: null;
  --search-match_background: "#48413a";
  --status_bar-background: "#231e18";
  --success: "#b7ba53";
  --success-background: "#231e18";
  --success-border: "#b7ba53";
  --surface-background: "#231e18";
  --tab-active_background: "#231e18";
  --tab-inactive_background: "#302b25";
  --tab_bar-background: "#231e18";
  --terminal-ansi-black: "#231e18";
  --terminal-ansi-blue: "#88a4d3";
  --terminal-ansi-bright_black: "#9d8b70";
  --terminal-ansi-bright_blue: "#88a4d3";
  --terminal-ansi-bright_cyan: "#6eb958";
  --terminal-ansi-bright_green: "#b7ba53";
  --terminal-ansi-bright_magenta: "#bb90e2";
  --terminal-ansi-bright_red: "#d35c5c";
  --terminal-ansi-bright_white: "#e4d4c8";
  --terminal-ansi-bright_yellow: "#e0ac16";
  --terminal-ansi-cyan: "#6eb958";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#b7ba53";
  --terminal-ansi-magenta: "#bb90e2";
  --terminal-ansi-red: "#d35c5c";
  --terminal-ansi-white: "#cabcb1";
  --terminal-ansi-yellow: "#e0ac16";
  --terminal-background: "#231e18";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#cabcb1";
  --text-accent: "#6eb958";
  --text-disabled: "#48413a";
  --text-muted: "#b4a490";
  --text-placeholder: "#e4d4c8";
  --title_bar-background: "#231e18";
  --toolbar-background: "#231e18";
  --unreachable: "#e0ac16";
  --unreachable-background: "#231e18";
  --unreachable-border: "#e0ac16";
  --warning: "#e0ac16";
  --warning-background: "#231e18";
  --warning-border: "#e0ac16";
  --player-1-background: null;
  --player-1-cursor: "#cabcb1";
  --player-1-selection: "#48413a";
  --syntax-attribute-color: "#88a4d3";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ca7f32";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9d8b70";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9d8b70";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ca7f32";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d35c5c";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#d35c5c";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d35c5c";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#88a4d3";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#bb90e2";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#e0ac16";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#d35c5c";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d35c5c";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ca7f32";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#cabcb1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#cabcb1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#cabcb1";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#cabcb1";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#cabcb1";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#b7ba53";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ca7f32";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#b7ba53";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#b7ba53";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#b7ba53";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#d35c5c";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#b7ba53";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#e0ac16";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#e0ac16";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d35c5c";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#d35c5c";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
