:root {
  --background: "#2e3436";
  --border: "#fce94f";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#fce94f";
  --conflict: "#c4a000";
  --conflict-background: "#2e3436";
  --conflict-border: "#c4a000";
  --created: "#4e9a06";
  --created-background: "#2e3436";
  --created-border: "#4e9a06";
  --deleted: "#cc0000";
  --deleted-background: "#2e3436";
  --deleted-border: "#cc0000";
  --drop_target-background: "#fce94f";
  --editor-active_line-background: "#8ae234";
  --editor-active_line_number: "#ad7fa8";
  --editor-active_wrap_guide: "#555753";
  --editor-background: "#2e3436";
  --editor-document_highlight-read_background: "#8ae234";
  --editor-document_highlight-write_background: "#8ae234";
  --editor-foreground: "#d3d7cf";
  --editor-gutter-background: "#2e3436";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#555753";
  --editor-subheader-background: "#2e3436";
  --editor-wrap_guide: "#8ae234";
  --element-active: null;
  --element-background: "#8ae234";
  --element-disabled: null;
  --element-hover: "#fce94f";
  --element-selected: "#fce94f";
  --elevated_surface-background: "#2e3436";
  --error: "#cc0000";
  --error-background: "#2e3436";
  --error-border: "#cc0000";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#8ae234";
  --ghost_element-selected: "#fce94f";
  --hidden: "#555753";
  --hidden-background: "#2e3436";
  --hidden-border: "#555753";
  --hint: "#d3d7cf";
  --hint-background: "#2e3436";
  --hint-border: "#06989a";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#555753";
  --ignored-background: "#2e3436";
  --ignored-border: "#555753";
  --info: "#06989a";
  --info-background: "#2e3436";
  --info-border: "#06989a";
  --link_text-hover: "#06989a";
  --modified: "#3465a4";
  --modified-background: "#2e3436";
  --modified-border: "#3465a4";
  --pane-focused_border: null;
  --panel-background: "#2e3436";
  --panel-focused_border: "#fce94f";
  --predictive: "#555753";
  --predictive-background: "#8ae234";
  --predictive-border: "#fce94f";
  --renamed: "#c4a000";
  --renamed-background: "#2e3436";
  --renamed-border: "#c4a000";
  --scrollbar-thumb-background: "#fce94f";
  --scrollbar-thumb-border: "#fce94f6f";
  --scrollbar-thumb-hover_background: "#555753";
  --scrollbar-track-background: "#2e3436";
  --scrollbar-track-border: null;
  --search-match_background: "#fce94f";
  --status_bar-background: "#2e3436";
  --success: "#4e9a06";
  --success-background: "#2e3436";
  --success-border: "#4e9a06";
  --surface-background: "#2e3436";
  --tab-active_background: "#2e3436";
  --tab-inactive_background: "#8ae234";
  --tab_bar-background: "#2e3436";
  --terminal-ansi-black: "#2e3436";
  --terminal-ansi-blue: "#3465a4";
  --terminal-ansi-bright_black: "#555753";
  --terminal-ansi-bright_blue: "#3465a4";
  --terminal-ansi-bright_cyan: "#06989a";
  --terminal-ansi-bright_green: "#4e9a06";
  --terminal-ansi-bright_magenta: "#75507b";
  --terminal-ansi-bright_red: "#cc0000";
  --terminal-ansi-bright_white: "#eeeeec";
  --terminal-ansi-bright_yellow: "#c4a000";
  --terminal-ansi-cyan: "#06989a";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#4e9a06";
  --terminal-ansi-magenta: "#75507b";
  --terminal-ansi-red: "#cc0000";
  --terminal-ansi-white: "#d3d7cf";
  --terminal-ansi-yellow: "#c4a000";
  --terminal-background: "#2e3436";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d3d7cf";
  --text-accent: "#06989a";
  --text-disabled: "#fce94f";
  --text-muted: "#729fcf";
  --text-placeholder: "#eeeeec";
  --title_bar-background: "#2e3436";
  --toolbar-background: "#2e3436";
  --unreachable: "#c4a000";
  --unreachable-background: "#2e3436";
  --unreachable-border: "#c4a000";
  --warning: "#c4a000";
  --warning-background: "#2e3436";
  --warning-border: "#c4a000";
  --player-1-background: null;
  --player-1-cursor: "#d3d7cf";
  --player-1-selection: "#fce94f";
  --syntax-attribute-color: "#3465a4";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ef2929";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#555753";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#555753";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ef2929";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#cc0000";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#cc0000";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#cc0000";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#3465a4";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#75507b";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#c4a000";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#cc0000";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#cc0000";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ef2929";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#d3d7cf";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d3d7cf";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d3d7cf";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d3d7cf";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d3d7cf";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#4e9a06";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ef2929";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#4e9a06";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#4e9a06";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#4e9a06";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#cc0000";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#4e9a06";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#c4a000";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#c4a000";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#cc0000";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#cc0000";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
