:root {
  --background: "#f8f8f8";
  --border: "#d8d8d8";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#d8d8d8";
  --conflict: "#ffdc61";
  --conflict_background: "#f8f8f8";
  --conflict_border: "#ffdc61";
  --created: "#a0d2c8";
  --created_background: "#f8f8f8";
  --created_border: "#a0d2c8";
  --deleted: "#fa8480";
  --deleted_background: "#f8f8f8";
  --deleted_border: "#fa8480";
  --drop_target_background: "#d8d8d8";
  --editor_active_line_background: "#e8e8e8";
  --editor_active_line_number: "#282828";
  --editor_active_wrap_guide: "#b8b8b8";
  --editor_background: "#f8f8f8";
  --editor_document_highlight_read_background: "#e8e8e8";
  --editor_document_highlight_write_background: "#e8e8e8";
  --editor_foreground: "#383838";
  --editor_gutter_background: "#f8f8f8";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#b8b8b8";
  --editor_subheader_background: "#f8f8f8";
  --editor_wrap_guide: "#e8e8e8";
  --element_active: null;
  --element_background: "#e8e8e8";
  --element_disabled: null;
  --element_hover: "#d8d8d8";
  --element_selected: "#d8d8d8";
  --elevated_surface_background: "#f8f8f8";
  --error: "#fa8480";
  --error_background: "#f8f8f8";
  --error_border: "#fa8480";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#e8e8e8";
  --ghost_element_selected: "#d8d8d8";
  --hidden: "#b8b8b8";
  --hidden_background: "#f8f8f8";
  --hidden_border: "#b8b8b8";
  --hint: "#383838";
  --hint_background: "#f8f8f8";
  --hint_border: "#a2d6f5";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#b8b8b8";
  --ignored_background: "#f8f8f8";
  --ignored_border: "#b8b8b8";
  --info: "#a2d6f5";
  --info_background: "#f8f8f8";
  --info_border: "#a2d6f5";
  --link_text_hover: "#a2d6f5";
  --modified: "#a0a7d2";
  --modified_background: "#f8f8f8";
  --modified_border: "#a0a7d2";
  --pane_focused_border: null;
  --panel_background: "#f8f8f8";
  --panel_focused_border: "#d8d8d8";
  --predictive: "#b8b8b8";
  --predictive_background: "#e8e8e8";
  --predictive_border: "#d8d8d8";
  --renamed: "#ffdc61";
  --renamed_background: "#f8f8f8";
  --renamed_border: "#ffdc61";
  --scrollbar_thumb_background: "#d8d8d8";
  --scrollbar_thumb_border: "#d8d8d86f";
  --scrollbar_thumb_hover_background: "#b8b8b8";
  --scrollbar_track_background: "#f8f8f8";
  --scrollbar_track_border: null;
  --search_match_background: "#d8d8d8";
  --status_bar_background: "#f8f8f8";
  --success: "#a0d2c8";
  --success_background: "#f8f8f8";
  --success_border: "#a0d2c8";
  --surface_background: "#f8f8f8";
  --tab_active_background: "#f8f8f8";
  --tab_inactive_background: "#e8e8e8";
  --tab_bar_background: "#f8f8f8";
  --terminal_ansi_black: "#f8f8f8";
  --terminal_ansi_blue: "#a0a7d2";
  --terminal_ansi_bright_black: "#b8b8b8";
  --terminal_ansi_bright_blue: "#a0a7d2";
  --terminal_ansi_bright_cyan: "#a2d6f5";
  --terminal_ansi_bright_green: "#a0d2c8";
  --terminal_ansi_bright_magenta: "#c8a0d2";
  --terminal_ansi_bright_red: "#fa8480";
  --terminal_ansi_bright_white: "#181818";
  --terminal_ansi_bright_yellow: "#ffdc61";
  --terminal_ansi_cyan: "#a2d6f5";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#a0d2c8";
  --terminal_ansi_magenta: "#c8a0d2";
  --terminal_ansi_red: "#fa8480";
  --terminal_ansi_white: "#383838";
  --terminal_ansi_yellow: "#ffdc61";
  --terminal_background: "#f8f8f8";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#383838";
  --text_accent: "#a2d6f5";
  --text_disabled: "#d8d8d8";
  --text_muted: "#585858";
  --text_placeholder: "#181818";
  --title_bar_background: "#f8f8f8";
  --toolbar_background: "#f8f8f8";
  --unreachable: "#ffdc61";
  --unreachable_background: "#f8f8f8";
  --unreachable_border: "#ffdc61";
  --warning: "#ffdc61";
  --warning_background: "#f8f8f8";
  --warning_border: "#ffdc61";
  --player_1_background: null;
  --player_1_cursor: "#383838";
  --player_1_selection: "#d8d8d8";
  --syntax_attribute_color: "#a0a7d2";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#ffaa61";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#b8b8b8";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#b8b8b8";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#ffaa61";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#fa8480";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#fa8480";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#fa8480";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#a0a7d2";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#c8a0d2";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#ffdc61";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#fa8480";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#fa8480";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#ffaa61";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#383838";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#383838";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#383838";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#383838";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#383838";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#a0d2c8";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#ffaa61";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#a0d2c8";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#a0d2c8";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#a0d2c8";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#fa8480";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#a0d2c8";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#ffdc61";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#ffdc61";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#fa8480";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#fa8480";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
