:root {
  --background: "#101010";
  --border: "#454545";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#454545";
  --conflict: "#e6a3dc";
  --conflict_background: "#101010";
  --conflict_border: "#e6a3dc";
  --created: "#80c990";
  --created_background: "#101010";
  --created_border: "#80c990";
  --deleted: "#efa6a2";
  --deleted_background: "#101010";
  --deleted_border: "#efa6a2";
  --drop_target_background: "#454545";
  --editor_active_line_background: "#454545";
  --editor_active_line_number: "#c0c0c0";
  --editor_active_wrap_guide: "#454545";
  --editor_background: "#101010";
  --editor_document_highlight_read_background: "#454545";
  --editor_document_highlight_write_background: "#454545";
  --editor_foreground: "#c0c0c0";
  --editor_gutter_background: "#101010";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#454545";
  --editor_subheader_background: "#101010";
  --editor_wrap_guide: "#454545";
  --element_active: null;
  --element_background: "#454545";
  --element_disabled: null;
  --element_hover: "#454545";
  --element_selected: "#454545";
  --elevated_surface_background: "#101010";
  --error: "#efa6a2";
  --error_background: "#101010";
  --error_border: "#efa6a2";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#454545";
  --ghost_element_selected: "#454545";
  --hidden: "#454545";
  --hidden_background: "#101010";
  --hidden_border: "#454545";
  --hint: "#c0c0c0";
  --hint_background: "#101010";
  --hint_border: "#c8c874";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#454545";
  --ignored_background: "#101010";
  --ignored_border: "#454545";
  --info: "#c8c874";
  --info_background: "#101010";
  --info_border: "#c8c874";
  --link_text_hover: "#c8c874";
  --modified: "#50cacd";
  --modified_background: "#101010";
  --modified_border: "#50cacd";
  --pane_focused_border: null;
  --panel_background: "#101010";
  --panel_focused_border: "#454545";
  --predictive: "#454545";
  --predictive_background: "#454545";
  --predictive_border: "#454545";
  --renamed: "#e6a3dc";
  --renamed_background: "#101010";
  --renamed_border: "#e6a3dc";
  --scrollbar_thumb_background: "#454545";
  --scrollbar_thumb_border: "#4545456f";
  --scrollbar_thumb_hover_background: "#454545";
  --scrollbar_track_background: "#101010";
  --scrollbar_track_border: null;
  --search_match_background: "#454545";
  --status_bar_background: "#101010";
  --success: "#80c990";
  --success_background: "#101010";
  --success_border: "#80c990";
  --surface_background: "#101010";
  --tab_active_background: "#101010";
  --tab_inactive_background: "#454545";
  --tab_bar_background: "#101010";
  --terminal_ansi_black: "#101010";
  --terminal_ansi_blue: "#50cacd";
  --terminal_ansi_bright_black: "#454545";
  --terminal_ansi_bright_blue: "#50cacd";
  --terminal_ansi_bright_cyan: "#c8c874";
  --terminal_ansi_bright_green: "#80c990";
  --terminal_ansi_bright_magenta: "#e0af85";
  --terminal_ansi_bright_red: "#efa6a2";
  --terminal_ansi_bright_white: "#454545";
  --terminal_ansi_bright_yellow: "#e6a3dc";
  --terminal_ansi_cyan: "#c8c874";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#80c990";
  --terminal_ansi_magenta: "#e0af85";
  --terminal_ansi_red: "#efa6a2";
  --terminal_ansi_white: "#c0c0c0";
  --terminal_ansi_yellow: "#e6a3dc";
  --terminal_background: "#101010";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#c0c0c0";
  --text_accent: "#c8c874";
  --text_disabled: "#454545";
  --text_muted: "#808080";
  --text_placeholder: "#454545";
  --title_bar_background: "#101010";
  --toolbar_background: "#101010";
  --unreachable: "#e6a3dc";
  --unreachable_background: "#101010";
  --unreachable_border: "#e6a3dc";
  --warning: "#e6a3dc";
  --warning_background: "#101010";
  --warning_border: "#e6a3dc";
  --player_1_background: null;
  --player_1_cursor: "#c0c0c0";
  --player_1_selection: "#454545";
  --syntax_attribute_color: "#50cacd";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#a3b8ef";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#454545";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#454545";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#a3b8ef";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#efa6a2";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#efa6a2";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#efa6a2";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#50cacd";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#e0af85";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#e6a3dc";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#efa6a2";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#efa6a2";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#a3b8ef";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#c0c0c0";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#c0c0c0";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#c0c0c0";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#c0c0c0";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#c0c0c0";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#80c990";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#a3b8ef";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#80c990";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#80c990";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#80c990";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#efa6a2";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#80c990";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#e6a3dc";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#e6a3dc";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#efa6a2";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#efa6a2";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
