:root {
  --background: "#fefbec";
  --border: "#a6a28c";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#a6a28c";
  --conflict: "#ae9513";
  --conflict-background: "#fefbec";
  --conflict-border: "#ae9513";
  --created: "#60ac39";
  --created-background: "#fefbec";
  --created-border: "#60ac39";
  --deleted: "#d73737";
  --deleted-background: "#fefbec";
  --deleted-border: "#d73737";
  --drop_target-background: "#a6a28c";
  --editor-active_line-background: "#e8e4cf";
  --editor-active_line_number: "#292824";
  --editor-active_wrap_guide: "#999580";
  --editor-background: "#fefbec";
  --editor-document_highlight-read_background: "#e8e4cf";
  --editor-document_highlight-write_background: "#e8e4cf";
  --editor-foreground: "#6e6b5e";
  --editor-gutter-background: "#fefbec";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#999580";
  --editor-subheader-background: "#fefbec";
  --editor-wrap_guide: "#e8e4cf";
  --element-active: null;
  --element-background: "#e8e4cf";
  --element-disabled: null;
  --element-hover: "#a6a28c";
  --element-selected: "#a6a28c";
  --elevated_surface-background: "#fefbec";
  --error: "#d73737";
  --error-background: "#fefbec";
  --error-border: "#d73737";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e8e4cf";
  --ghost_element-selected: "#a6a28c";
  --hidden: "#999580";
  --hidden-background: "#fefbec";
  --hidden-border: "#999580";
  --hint: "#6e6b5e";
  --hint-background: "#fefbec";
  --hint-border: "#1fad83";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#999580";
  --ignored-background: "#fefbec";
  --ignored-border: "#999580";
  --info: "#1fad83";
  --info-background: "#fefbec";
  --info-border: "#1fad83";
  --link_text-hover: "#1fad83";
  --modified: "#6684e1";
  --modified-background: "#fefbec";
  --modified-border: "#6684e1";
  --pane-focused_border: null;
  --panel-background: "#fefbec";
  --panel-focused_border: "#a6a28c";
  --predictive: "#999580";
  --predictive-background: "#e8e4cf";
  --predictive-border: "#a6a28c";
  --renamed: "#ae9513";
  --renamed-background: "#fefbec";
  --renamed-border: "#ae9513";
  --scrollbar-thumb-background: "#a6a28c";
  --scrollbar-thumb-border: "#a6a28c6f";
  --scrollbar-thumb-hover_background: "#999580";
  --scrollbar-track-background: "#fefbec";
  --scrollbar-track-border: null;
  --search-match_background: "#a6a28c";
  --status_bar-background: "#fefbec";
  --success: "#60ac39";
  --success-background: "#fefbec";
  --success-border: "#60ac39";
  --surface-background: "#fefbec";
  --tab-active_background: "#fefbec";
  --tab-inactive_background: "#e8e4cf";
  --tab_bar-background: "#fefbec";
  --terminal-ansi-black: "#fefbec";
  --terminal-ansi-blue: "#6684e1";
  --terminal-ansi-bright_black: "#999580";
  --terminal-ansi-bright_blue: "#6684e1";
  --terminal-ansi-bright_cyan: "#1fad83";
  --terminal-ansi-bright_green: "#60ac39";
  --terminal-ansi-bright_magenta: "#b854d4";
  --terminal-ansi-bright_red: "#d73737";
  --terminal-ansi-bright_white: "#20201d";
  --terminal-ansi-bright_yellow: "#ae9513";
  --terminal-ansi-cyan: "#1fad83";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#60ac39";
  --terminal-ansi-magenta: "#b854d4";
  --terminal-ansi-red: "#d73737";
  --terminal-ansi-white: "#6e6b5e";
  --terminal-ansi-yellow: "#ae9513";
  --terminal-background: "#fefbec";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#6e6b5e";
  --text-accent: "#1fad83";
  --text-disabled: "#a6a28c";
  --text-muted: "#7d7a68";
  --text-placeholder: "#20201d";
  --title_bar-background: "#fefbec";
  --toolbar-background: "#fefbec";
  --unreachable: "#ae9513";
  --unreachable-background: "#fefbec";
  --unreachable-border: "#ae9513";
  --warning: "#ae9513";
  --warning-background: "#fefbec";
  --warning-border: "#ae9513";
  --player-1-background: null;
  --player-1-cursor: "#6e6b5e";
  --player-1-selection: "#a6a28c";
  --syntax-attribute-color: "#6684e1";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#b65611";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#999580";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#999580";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#b65611";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d73737";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#d73737";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d73737";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#6684e1";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b854d4";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ae9513";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#d73737";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d73737";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#b65611";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#6e6b5e";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#6e6b5e";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#6e6b5e";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#6e6b5e";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#6e6b5e";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#60ac39";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#b65611";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#60ac39";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#60ac39";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#60ac39";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#d73737";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#60ac39";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ae9513";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ae9513";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d73737";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#d73737";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
