:root {
  --background: "#000000";
  --border: "#432d59";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#432d59";
  --conflict: "#f29df2";
  --conflict_background: "#000000";
  --conflict_border: "#f29df2";
  --created: "#4595e6";
  --created_background: "#000000";
  --created_border: "#4595e6";
  --deleted: "#a82ee6";
  --deleted_background: "#000000";
  --deleted_border: "#a82ee6";
  --drop_target_background: "#432d59";
  --editor_active_line_background: "#231a40";
  --editor_active_line_number: "#9045e6";
  --editor_active_wrap_guide: "#593380";
  --editor_background: "#000000";
  --editor_document_highlight_read_background: "#231a40";
  --editor_document_highlight_write_background: "#231a40";
  --editor_foreground: "#b08ae6";
  --editor_gutter_background: "#000000";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#593380";
  --editor_subheader_background: "#000000";
  --editor_wrap_guide: "#231a40";
  --element_active: null;
  --element_background: "#231a40";
  --element_disabled: null;
  --element_hover: "#432d59";
  --element_selected: "#432d59";
  --elevated_surface_background: "#000000";
  --error: "#a82ee6";
  --error_background: "#000000";
  --error_border: "#a82ee6";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#231a40";
  --ghost_element_selected: "#432d59";
  --hidden: "#593380";
  --hidden_background: "#000000";
  --hidden_border: "#593380";
  --hint: "#b08ae6";
  --hint_background: "#000000";
  --hint_border: "#40dfff";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#593380";
  --ignored_background: "#000000";
  --ignored_border: "#593380";
  --info: "#40dfff";
  --info_background: "#000000";
  --info_border: "#40dfff";
  --link_text_hover: "#40dfff";
  --modified: "#4136d9";
  --modified_background: "#000000";
  --modified_border: "#4136d9";
  --pane_focused_border: null;
  --panel_background: "#000000";
  --panel_focused_border: "#432d59";
  --predictive: "#593380";
  --predictive_background: "#231a40";
  --predictive_border: "#432d59";
  --renamed: "#f29df2";
  --renamed_background: "#000000";
  --renamed_border: "#f29df2";
  --scrollbar_thumb_background: "#432d59";
  --scrollbar_thumb_border: "#432d596f";
  --scrollbar_thumb_hover_background: "#593380";
  --scrollbar_track_background: "#000000";
  --scrollbar_track_border: null;
  --search_match_background: "#432d59";
  --status_bar_background: "#000000";
  --success: "#4595e6";
  --success_background: "#000000";
  --success_border: "#4595e6";
  --surface_background: "#000000";
  --tab_active_background: "#000000";
  --tab_inactive_background: "#231a40";
  --tab_bar_background: "#000000";
  --terminal_ansi_black: "#000000";
  --terminal_ansi_blue: "#4136d9";
  --terminal_ansi_bright_black: "#593380";
  --terminal_ansi_bright_blue: "#4136d9";
  --terminal_ansi_bright_cyan: "#40dfff";
  --terminal_ansi_bright_green: "#4595e6";
  --terminal_ansi_bright_magenta: "#7e5ce6";
  --terminal_ansi_bright_red: "#a82ee6";
  --terminal_ansi_bright_white: "#a366ff";
  --terminal_ansi_bright_yellow: "#f29df2";
  --terminal_ansi_cyan: "#40dfff";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#4595e6";
  --terminal_ansi_magenta: "#7e5ce6";
  --terminal_ansi_red: "#a82ee6";
  --terminal_ansi_white: "#b08ae6";
  --terminal_ansi_yellow: "#f29df2";
  --terminal_background: "#000000";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#b08ae6";
  --text_accent: "#40dfff";
  --text_disabled: "#432d59";
  --text_muted: "#00ff00";
  --text_placeholder: "#a366ff";
  --title_bar_background: "#000000";
  --toolbar_background: "#000000";
  --unreachable: "#f29df2";
  --unreachable_background: "#000000";
  --unreachable_border: "#f29df2";
  --warning: "#f29df2";
  --warning_background: "#000000";
  --warning_border: "#f29df2";
  --player_1_background: null;
  --player_1_cursor: "#b08ae6";
  --player_1_selection: "#432d59";
  --syntax_attribute_color: "#4136d9";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#bb66cc";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#593380";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#593380";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#bb66cc";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#a82ee6";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#a82ee6";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#a82ee6";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#4136d9";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#7e5ce6";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#f29df2";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#a82ee6";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#a82ee6";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#bb66cc";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#b08ae6";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#b08ae6";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#b08ae6";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#b08ae6";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#b08ae6";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#4595e6";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#bb66cc";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#4595e6";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#4595e6";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#4595e6";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#a82ee6";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#4595e6";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#f29df2";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#f29df2";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#a82ee6";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#a82ee6";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
