:root {
  --background: "#f4fbf4";
  --border: "#8ca68c";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#8ca68c";
  --conflict: "#98981b";
  --conflict_background: "#f4fbf4";
  --conflict_border: "#98981b";
  --created: "#29a329";
  --created_background: "#f4fbf4";
  --created_border: "#29a329";
  --deleted: "#e6193c";
  --deleted_background: "#f4fbf4";
  --deleted_border: "#e6193c";
  --drop_target_background: "#8ca68c";
  --editor_active_line_background: "#cfe8cf";
  --editor_active_line_number: "#242924";
  --editor_active_wrap_guide: "#809980";
  --editor_background: "#f4fbf4";
  --editor_document_highlight_read_background: "#cfe8cf";
  --editor_document_highlight_write_background: "#cfe8cf";
  --editor_foreground: "#5e6e5e";
  --editor_gutter_background: "#f4fbf4";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#809980";
  --editor_subheader_background: "#f4fbf4";
  --editor_wrap_guide: "#cfe8cf";
  --element_active: null;
  --element_background: "#cfe8cf";
  --element_disabled: null;
  --element_hover: "#8ca68c";
  --element_selected: "#8ca68c";
  --elevated_surface_background: "#f4fbf4";
  --error: "#e6193c";
  --error_background: "#f4fbf4";
  --error_border: "#e6193c";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#cfe8cf";
  --ghost_element_selected: "#8ca68c";
  --hidden: "#809980";
  --hidden_background: "#f4fbf4";
  --hidden_border: "#809980";
  --hint: "#5e6e5e";
  --hint_background: "#f4fbf4";
  --hint_border: "#1999b3";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#809980";
  --ignored_background: "#f4fbf4";
  --ignored_border: "#809980";
  --info: "#1999b3";
  --info_background: "#f4fbf4";
  --info_border: "#1999b3";
  --link_text_hover: "#1999b3";
  --modified: "#3d62f5";
  --modified_background: "#f4fbf4";
  --modified_border: "#3d62f5";
  --pane_focused_border: null;
  --panel_background: "#f4fbf4";
  --panel_focused_border: "#8ca68c";
  --predictive: "#809980";
  --predictive_background: "#cfe8cf";
  --predictive_border: "#8ca68c";
  --renamed: "#98981b";
  --renamed_background: "#f4fbf4";
  --renamed_border: "#98981b";
  --scrollbar_thumb_background: "#8ca68c";
  --scrollbar_thumb_border: "#8ca68c6f";
  --scrollbar_thumb_hover_background: "#809980";
  --scrollbar_track_background: "#f4fbf4";
  --scrollbar_track_border: null;
  --search_match_background: "#8ca68c";
  --status_bar_background: "#f4fbf4";
  --success: "#29a329";
  --success_background: "#f4fbf4";
  --success_border: "#29a329";
  --surface_background: "#f4fbf4";
  --tab_active_background: "#f4fbf4";
  --tab_inactive_background: "#cfe8cf";
  --tab_bar_background: "#f4fbf4";
  --terminal_ansi_black: "#f4fbf4";
  --terminal_ansi_blue: "#3d62f5";
  --terminal_ansi_bright_black: "#809980";
  --terminal_ansi_bright_blue: "#3d62f5";
  --terminal_ansi_bright_cyan: "#1999b3";
  --terminal_ansi_bright_green: "#29a329";
  --terminal_ansi_bright_magenta: "#ad2bee";
  --terminal_ansi_bright_red: "#e6193c";
  --terminal_ansi_bright_white: "#131513";
  --terminal_ansi_bright_yellow: "#98981b";
  --terminal_ansi_cyan: "#1999b3";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#29a329";
  --terminal_ansi_magenta: "#ad2bee";
  --terminal_ansi_red: "#e6193c";
  --terminal_ansi_white: "#5e6e5e";
  --terminal_ansi_yellow: "#98981b";
  --terminal_background: "#f4fbf4";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#5e6e5e";
  --text_accent: "#1999b3";
  --text_disabled: "#8ca68c";
  --text_muted: "#687d68";
  --text_placeholder: "#131513";
  --title_bar_background: "#f4fbf4";
  --toolbar_background: "#f4fbf4";
  --unreachable: "#98981b";
  --unreachable_background: "#f4fbf4";
  --unreachable_border: "#98981b";
  --warning: "#98981b";
  --warning_background: "#f4fbf4";
  --warning_border: "#98981b";
  --player_1_background: null;
  --player_1_cursor: "#5e6e5e";
  --player_1_selection: "#8ca68c";
  --syntax_attribute_color: "#3d62f5";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#87711d";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#809980";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#809980";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#87711d";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#e6193c";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#e6193c";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#e6193c";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#3d62f5";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#ad2bee";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#98981b";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#e6193c";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#e6193c";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#87711d";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#5e6e5e";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#5e6e5e";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#5e6e5e";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#5e6e5e";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#5e6e5e";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#29a329";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#87711d";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#29a329";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#29a329";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#29a329";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#e6193c";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#29a329";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#98981b";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#98981b";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#e6193c";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#e6193c";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
