:root {
  --background: "#ffffff";
  --border: "#c8c8fa";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#c8c8fa";
  --conflict: "#795da3";
  --conflict-background: "#ffffff";
  --conflict-border: "#795da3";
  --created: "#183691";
  --created-background: "#ffffff";
  --created-border: "#183691";
  --deleted: "#ed6a43";
  --deleted-background: "#ffffff";
  --deleted-border: "#ed6a43";
  --drop_target-background: "#c8c8fa";
  --editor-active_line-background: "#f5f5f5";
  --editor-active_line_number: "#ffffff";
  --editor-active_wrap_guide: "#969896";
  --editor-background: "#ffffff";
  --editor-document_highlight-read_background: "#f5f5f5";
  --editor-document_highlight-write_background: "#f5f5f5";
  --editor-foreground: "#333333";
  --editor-gutter-background: "#ffffff";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#969896";
  --editor-subheader-background: "#ffffff";
  --editor-wrap_guide: "#f5f5f5";
  --element-active: null;
  --element-background: "#f5f5f5";
  --element-disabled: null;
  --element-hover: "#c8c8fa";
  --element-selected: "#c8c8fa";
  --elevated_surface-background: "#ffffff";
  --error: "#ed6a43";
  --error-background: "#ffffff";
  --error-border: "#ed6a43";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#f5f5f5";
  --ghost_element-selected: "#c8c8fa";
  --hidden: "#969896";
  --hidden-background: "#ffffff";
  --hidden-border: "#969896";
  --hint: "#333333";
  --hint-background: "#ffffff";
  --hint-border: "#183691";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#969896";
  --ignored-background: "#ffffff";
  --ignored-border: "#969896";
  --info: "#183691";
  --info-background: "#ffffff";
  --info-border: "#183691";
  --link_text-hover: "#183691";
  --modified: "#795da3";
  --modified-background: "#ffffff";
  --modified-border: "#795da3";
  --pane-focused_border: null;
  --panel-background: "#ffffff";
  --panel-focused_border: "#c8c8fa";
  --predictive: "#969896";
  --predictive-background: "#f5f5f5";
  --predictive-border: "#c8c8fa";
  --renamed: "#795da3";
  --renamed-background: "#ffffff";
  --renamed-border: "#795da3";
  --scrollbar-thumb-background: "#c8c8fa";
  --scrollbar-thumb-border: "#c8c8fa6f";
  --scrollbar-thumb-hover_background: "#969896";
  --scrollbar-track-background: "#ffffff";
  --scrollbar-track-border: null;
  --search-match_background: "#c8c8fa";
  --status_bar-background: "#ffffff";
  --success: "#183691";
  --success-background: "#ffffff";
  --success-border: "#183691";
  --surface-background: "#ffffff";
  --tab-active_background: "#ffffff";
  --tab-inactive_background: "#f5f5f5";
  --tab_bar-background: "#ffffff";
  --terminal-ansi-black: "#ffffff";
  --terminal-ansi-blue: "#795da3";
  --terminal-ansi-bright_black: "#969896";
  --terminal-ansi-bright_blue: "#795da3";
  --terminal-ansi-bright_cyan: "#183691";
  --terminal-ansi-bright_green: "#183691";
  --terminal-ansi-bright_magenta: "#a71d5d";
  --terminal-ansi-bright_red: "#ed6a43";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#795da3";
  --terminal-ansi-cyan: "#183691";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#183691";
  --terminal-ansi-magenta: "#a71d5d";
  --terminal-ansi-red: "#ed6a43";
  --terminal-ansi-white: "#333333";
  --terminal-ansi-yellow: "#795da3";
  --terminal-background: "#ffffff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#333333";
  --text-accent: "#183691";
  --text-disabled: "#c8c8fa";
  --text-muted: "#e8e8e8";
  --text-placeholder: "#ffffff";
  --title_bar-background: "#ffffff";
  --toolbar-background: "#ffffff";
  --unreachable: "#795da3";
  --unreachable-background: "#ffffff";
  --unreachable-border: "#795da3";
  --warning: "#795da3";
  --warning-background: "#ffffff";
  --warning-border: "#795da3";
  --player-1-background: null;
  --player-1-cursor: "#333333";
  --player-1-selection: "#c8c8fa";
  --syntax-attribute-color: "#795da3";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#0086b3";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#969896";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#969896";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#0086b3";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ed6a43";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ed6a43";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ed6a43";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#795da3";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#a71d5d";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#795da3";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ed6a43";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ed6a43";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#0086b3";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#333333";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#333333";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#333333";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#333333";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#333333";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#183691";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#0086b3";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#183691";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#183691";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#183691";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ed6a43";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#183691";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#795da3";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#795da3";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ed6a43";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ed6a43";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
