:root {
  --background: "#eff1f5";
  --border: "#ccd0da";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#ccd0da";
  --conflict: "#df8e1d";
  --conflict-background: "#eff1f5";
  --conflict-border: "#df8e1d";
  --created: "#40a02b";
  --created-background: "#eff1f5";
  --created-border: "#40a02b";
  --deleted: "#d20f39";
  --deleted-background: "#eff1f5";
  --deleted-border: "#d20f39";
  --drop_target-background: "#ccd0da";
  --editor-active_line-background: "#e6e9ef";
  --editor-active_line_number: "#dc8a78";
  --editor-active_wrap_guide: "#bcc0cc";
  --editor-background: "#eff1f5";
  --editor-document_highlight-read_background: "#e6e9ef";
  --editor-document_highlight-write_background: "#e6e9ef";
  --editor-foreground: "#4c4f69";
  --editor-gutter-background: "#eff1f5";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#bcc0cc";
  --editor-subheader-background: "#eff1f5";
  --editor-wrap_guide: "#e6e9ef";
  --element-active: null;
  --element-background: "#e6e9ef";
  --element-disabled: null;
  --element-hover: "#ccd0da";
  --element-selected: "#ccd0da";
  --elevated_surface-background: "#eff1f5";
  --error: "#d20f39";
  --error-background: "#eff1f5";
  --error-border: "#d20f39";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e6e9ef";
  --ghost_element-selected: "#ccd0da";
  --hidden: "#bcc0cc";
  --hidden-background: "#eff1f5";
  --hidden-border: "#bcc0cc";
  --hint: "#4c4f69";
  --hint-background: "#eff1f5";
  --hint-border: "#179299";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#bcc0cc";
  --ignored-background: "#eff1f5";
  --ignored-border: "#bcc0cc";
  --info: "#179299";
  --info-background: "#eff1f5";
  --info-border: "#179299";
  --link_text-hover: "#179299";
  --modified: "#1e66f5";
  --modified-background: "#eff1f5";
  --modified-border: "#1e66f5";
  --pane-focused_border: null;
  --panel-background: "#eff1f5";
  --panel-focused_border: "#ccd0da";
  --predictive: "#bcc0cc";
  --predictive-background: "#e6e9ef";
  --predictive-border: "#ccd0da";
  --renamed: "#df8e1d";
  --renamed-background: "#eff1f5";
  --renamed-border: "#df8e1d";
  --scrollbar-thumb-background: "#ccd0da";
  --scrollbar-thumb-border: "#ccd0da6f";
  --scrollbar-thumb-hover_background: "#bcc0cc";
  --scrollbar-track-background: "#eff1f5";
  --scrollbar-track-border: null;
  --search-match_background: "#ccd0da";
  --status_bar-background: "#eff1f5";
  --success: "#40a02b";
  --success-background: "#eff1f5";
  --success-border: "#40a02b";
  --surface-background: "#eff1f5";
  --tab-active_background: "#eff1f5";
  --tab-inactive_background: "#e6e9ef";
  --tab_bar-background: "#eff1f5";
  --terminal-ansi-black: "#eff1f5";
  --terminal-ansi-blue: "#1e66f5";
  --terminal-ansi-bright_black: "#bcc0cc";
  --terminal-ansi-bright_blue: "#1e66f5";
  --terminal-ansi-bright_cyan: "#179299";
  --terminal-ansi-bright_green: "#40a02b";
  --terminal-ansi-bright_magenta: "#8839ef";
  --terminal-ansi-bright_red: "#d20f39";
  --terminal-ansi-bright_white: "#7287fd";
  --terminal-ansi-bright_yellow: "#df8e1d";
  --terminal-ansi-cyan: "#179299";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#40a02b";
  --terminal-ansi-magenta: "#8839ef";
  --terminal-ansi-red: "#d20f39";
  --terminal-ansi-white: "#4c4f69";
  --terminal-ansi-yellow: "#df8e1d";
  --terminal-background: "#eff1f5";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#4c4f69";
  --text-accent: "#179299";
  --text-disabled: "#ccd0da";
  --text-muted: "#acb0be";
  --text-placeholder: "#7287fd";
  --title_bar-background: "#eff1f5";
  --toolbar-background: "#eff1f5";
  --unreachable: "#df8e1d";
  --unreachable-background: "#eff1f5";
  --unreachable-border: "#df8e1d";
  --warning: "#df8e1d";
  --warning-background: "#eff1f5";
  --warning-border: "#df8e1d";
  --player-1-background: null;
  --player-1-cursor: "#4c4f69";
  --player-1-selection: "#ccd0da";
  --syntax-attribute-color: "#1e66f5";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fe640b";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#bcc0cc";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#bcc0cc";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fe640b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d20f39";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#d20f39";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d20f39";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#1e66f5";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#8839ef";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#df8e1d";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#d20f39";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d20f39";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fe640b";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#4c4f69";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#4c4f69";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#4c4f69";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#4c4f69";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#4c4f69";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#40a02b";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#fe640b";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#40a02b";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#40a02b";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#40a02b";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#d20f39";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#40a02b";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#df8e1d";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#df8e1d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d20f39";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#d20f39";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
