:root {
  --background: "#f8f8f2";
  --border: "#deded8";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#deded8";
  --conflict: "#ffb627";
  --conflict-background: "#f8f8f2";
  --conflict-border: "#ffb627";
  --created: "#388e3c";
  --created-background: "#f8f8f2";
  --created-border: "#388e3c";
  --deleted: "#b0151a";
  --deleted-background: "#f8f8f2";
  --deleted-border: "#b0151a";
  --drop_target-background: "#deded8";
  --editor-active_line-background: "#efefe9";
  --editor-active_line_number: "#2f3337";
  --editor-active_wrap_guide: "#c0c0bd";
  --editor-background: "#f8f8f2";
  --editor-document_highlight-read_background: "#efefe9";
  --editor-document_highlight-write_background: "#efefe9";
  --editor-foreground: "#232629";
  --editor-gutter-background: "#f8f8f2";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#c0c0bd";
  --editor-subheader-background: "#f8f8f2";
  --editor-wrap_guide: "#efefe9";
  --element-active: null;
  --element-background: "#efefe9";
  --element-disabled: null;
  --element-hover: "#deded8";
  --element-selected: "#deded8";
  --elevated_surface-background: "#f8f8f2";
  --error: "#b0151a";
  --error-background: "#f8f8f2";
  --error-border: "#b0151a";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#efefe9";
  --ghost_element-selected: "#deded8";
  --hidden: "#c0c0bd";
  --hidden-background: "#f8f8f2";
  --hidden-border: "#c0c0bd";
  --hint: "#232629";
  --hint-background: "#f8f8f2";
  --hint-border: "#008e8e";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#c0c0bd";
  --ignored-background: "#f8f8f2";
  --ignored-border: "#c0c0bd";
  --info: "#008e8e";
  --info-background: "#f8f8f2";
  --info-border: "#008e8e";
  --link_text-hover: "#008e8e";
  --modified: "#0082c9";
  --modified-background: "#f8f8f2";
  --modified-border: "#0082c9";
  --pane-focused_border: null;
  --panel-background: "#f8f8f2";
  --panel-focused_border: "#deded8";
  --predictive: "#c0c0bd";
  --predictive-background: "#efefe9";
  --predictive-border: "#deded8";
  --renamed: "#ffb627";
  --renamed-background: "#f8f8f2";
  --renamed-border: "#ffb627";
  --scrollbar-thumb-background: "#deded8";
  --scrollbar-thumb-border: "#deded86f";
  --scrollbar-thumb-hover_background: "#c0c0bd";
  --scrollbar-track-background: "#f8f8f2";
  --scrollbar-track-border: null;
  --search-match_background: "#deded8";
  --status_bar-background: "#f8f8f2";
  --success: "#388e3c";
  --success-background: "#f8f8f2";
  --success-border: "#388e3c";
  --surface-background: "#f8f8f2";
  --tab-active_background: "#f8f8f2";
  --tab-inactive_background: "#efefe9";
  --tab_bar-background: "#f8f8f2";
  --terminal-ansi-black: "#f8f8f2";
  --terminal-ansi-blue: "#0082c9";
  --terminal-ansi-bright_black: "#c0c0bd";
  --terminal-ansi-bright_blue: "#0082c9";
  --terminal-ansi-bright_cyan: "#008e8e";
  --terminal-ansi-bright_green: "#388e3c";
  --terminal-ansi-bright_magenta: "#700f98";
  --terminal-ansi-bright_red: "#b0151a";
  --terminal-ansi-bright_white: "#070708";
  --terminal-ansi-bright_yellow: "#ffb627";
  --terminal-ansi-cyan: "#008e8e";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#388e3c";
  --terminal-ansi-magenta: "#700f98";
  --terminal-ansi-red: "#b0151a";
  --terminal-ansi-white: "#232629";
  --terminal-ansi-yellow: "#ffb627";
  --terminal-background: "#f8f8f2";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#232629";
  --text-accent: "#008e8e";
  --text-disabled: "#deded8";
  --text-muted: "#60615d";
  --text-placeholder: "#070708";
  --title_bar-background: "#f8f8f2";
  --toolbar-background: "#f8f8f2";
  --unreachable: "#ffb627";
  --unreachable-background: "#f8f8f2";
  --unreachable-border: "#ffb627";
  --warning: "#ffb627";
  --warning-background: "#f8f8f2";
  --warning-border: "#ffb627";
  --player-1-background: null;
  --player-1-cursor: "#232629";
  --player-1-selection: "#deded8";
  --syntax-attribute-color: "#0082c9";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ff3d00";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#c0c0bd";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#c0c0bd";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ff3d00";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#b0151a";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#b0151a";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#b0151a";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#0082c9";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#700f98";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ffb627";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#b0151a";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#b0151a";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ff3d00";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#232629";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#232629";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#232629";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#232629";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#232629";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#388e3c";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ff3d00";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#388e3c";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#388e3c";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#388e3c";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#b0151a";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#388e3c";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ffb627";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ffb627";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#b0151a";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#b0151a";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
