:root {
  --background: "#201602";
  --border: "#5f5b17";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#5f5b17";
  --conflict: "#a88339";
  --conflict-background: "#201602";
  --conflict-border: "#a88339";
  --created: "#18974e";
  --created-background: "#201602";
  --created-border: "#18974e";
  --deleted: "#c35359";
  --deleted-background: "#201602";
  --deleted-border: "#c35359";
  --drop_target-background: "#5f5b17";
  --editor-active_line-background: "#302e00";
  --editor-active_line_number: "#ccc37a";
  --editor-active_wrap_guide: "#6c6823";
  --editor-background: "#201602";
  --editor-document_highlight-read_background: "#302e00";
  --editor-document_highlight-write_background: "#302e00";
  --editor-foreground: "#948e48";
  --editor-gutter-background: "#201602";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#6c6823";
  --editor-subheader-background: "#201602";
  --editor-wrap_guide: "#302e00";
  --element-active: null;
  --element-background: "#302e00";
  --element-disabled: null;
  --element-hover: "#5f5b17";
  --element-selected: "#5f5b17";
  --elevated_surface-background: "#201602";
  --error: "#c35359";
  --error-background: "#201602";
  --error-border: "#c35359";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#302e00";
  --ghost_element-selected: "#5f5b17";
  --hidden: "#6c6823";
  --hidden-background: "#201602";
  --hidden-border: "#6c6823";
  --hint: "#948e48";
  --hint-background: "#201602";
  --hint-border: "#75a738";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6c6823";
  --ignored-background: "#201602";
  --ignored-border: "#6c6823";
  --info: "#75a738";
  --info-background: "#201602";
  --info-border: "#75a738";
  --link_text-hover: "#75a738";
  --modified: "#477ca1";
  --modified-background: "#201602";
  --modified-border: "#477ca1";
  --pane-focused_border: null;
  --panel-background: "#201602";
  --panel-focused_border: "#5f5b17";
  --predictive: "#6c6823";
  --predictive-background: "#302e00";
  --predictive-border: "#5f5b17";
  --renamed: "#a88339";
  --renamed-background: "#201602";
  --renamed-border: "#a88339";
  --scrollbar-thumb-background: "#5f5b17";
  --scrollbar-thumb-border: "#5f5b176f";
  --scrollbar-thumb-hover_background: "#6c6823";
  --scrollbar-track-background: "#201602";
  --scrollbar-track-border: null;
  --search-match_background: "#5f5b17";
  --status_bar-background: "#201602";
  --success: "#18974e";
  --success-background: "#201602";
  --success-border: "#18974e";
  --surface-background: "#201602";
  --tab-active_background: "#201602";
  --tab-inactive_background: "#302e00";
  --tab_bar-background: "#201602";
  --terminal-ansi-black: "#201602";
  --terminal-ansi-blue: "#477ca1";
  --terminal-ansi-bright_black: "#6c6823";
  --terminal-ansi-bright_blue: "#477ca1";
  --terminal-ansi-bright_cyan: "#75a738";
  --terminal-ansi-bright_green: "#18974e";
  --terminal-ansi-bright_magenta: "#8868b3";
  --terminal-ansi-bright_red: "#c35359";
  --terminal-ansi-bright_white: "#faf0a5";
  --terminal-ansi-bright_yellow: "#a88339";
  --terminal-ansi-cyan: "#75a738";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#18974e";
  --terminal-ansi-magenta: "#8868b3";
  --terminal-ansi-red: "#c35359";
  --terminal-ansi-white: "#948e48";
  --terminal-ansi-yellow: "#a88339";
  --terminal-background: "#201602";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#948e48";
  --text-accent: "#75a738";
  --text-disabled: "#5f5b17";
  --text-muted: "#86813b";
  --text-placeholder: "#faf0a5";
  --title_bar-background: "#201602";
  --toolbar-background: "#201602";
  --unreachable: "#a88339";
  --unreachable-background: "#201602";
  --unreachable-border: "#a88339";
  --warning: "#a88339";
  --warning-background: "#201602";
  --warning-border: "#a88339";
  --player-1-background: null;
  --player-1-cursor: "#948e48";
  --player-1-selection: "#5f5b17";
  --syntax-attribute-color: "#477ca1";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#b36144";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6c6823";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6c6823";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#b36144";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#c35359";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#c35359";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c35359";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#477ca1";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#8868b3";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#a88339";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#c35359";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#c35359";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#b36144";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#948e48";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#948e48";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#948e48";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#948e48";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#948e48";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#18974e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#b36144";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#18974e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#18974e";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#18974e";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#c35359";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#18974e";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#a88339";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#a88339";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c35359";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c35359";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
