:root {
  --background: "#00002a";
  --border: "#30305a";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#30305a";
  --conflict: "#f3e877";
  --conflict-background: "#00002a";
  --conflict-border: "#f3e877";
  --created: "#59f176";
  --created-background: "#00002a";
  --created-border: "#59f176";
  --deleted: "#ff4242";
  --deleted-background: "#00002a";
  --deleted-border: "#ff4242";
  --drop_target-background: "#30305a";
  --editor-active_line-background: "#20204a";
  --editor-active_line_number: "#e0e0ff";
  --editor-active_wrap_guide: "#50507a";
  --editor-background: "#00002a";
  --editor-document_highlight-read_background: "#20204a";
  --editor-document_highlight-write_background: "#20204a";
  --editor-foreground: "#d0d0fa";
  --editor-gutter-background: "#00002a";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#50507a";
  --editor-subheader-background: "#00002a";
  --editor-wrap_guide: "#20204a";
  --element-active: null;
  --element-background: "#20204a";
  --element-disabled: null;
  --element-hover: "#30305a";
  --element-selected: "#30305a";
  --elevated_surface-background: "#00002a";
  --error: "#ff4242";
  --error-background: "#00002a";
  --error-border: "#ff4242";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#20204a";
  --ghost_element-selected: "#30305a";
  --hidden: "#50507a";
  --hidden-background: "#00002a";
  --hidden-border: "#50507a";
  --hint: "#d0d0fa";
  --hint-background: "#00002a";
  --hint-border: "#0ef0f0";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#50507a";
  --ignored-background: "#00002a";
  --ignored-border: "#50507a";
  --info: "#0ef0f0";
  --info-background: "#00002a";
  --info-border: "#0ef0f0";
  --link_text-hover: "#0ef0f0";
  --modified: "#66b0ff";
  --modified-background: "#00002a";
  --modified-border: "#66b0ff";
  --pane-focused_border: null;
  --panel-background: "#00002a";
  --panel-focused_border: "#30305a";
  --predictive: "#50507a";
  --predictive-background: "#20204a";
  --predictive-border: "#30305a";
  --renamed: "#f3e877";
  --renamed-background: "#00002a";
  --renamed-border: "#f3e877";
  --scrollbar-thumb-background: "#30305a";
  --scrollbar-thumb-border: "#30305a6f";
  --scrollbar-thumb-hover_background: "#50507a";
  --scrollbar-track-background: "#00002a";
  --scrollbar-track-border: null;
  --search-match_background: "#30305a";
  --status_bar-background: "#00002a";
  --success: "#59f176";
  --success-background: "#00002a";
  --success-border: "#59f176";
  --surface-background: "#00002a";
  --tab-active_background: "#00002a";
  --tab-inactive_background: "#20204a";
  --tab_bar-background: "#00002a";
  --terminal-ansi-black: "#00002a";
  --terminal-ansi-blue: "#66b0ff";
  --terminal-ansi-bright_black: "#50507a";
  --terminal-ansi-bright_blue: "#66b0ff";
  --terminal-ansi-bright_cyan: "#0ef0f0";
  --terminal-ansi-bright_green: "#59f176";
  --terminal-ansi-bright_magenta: "#f10596";
  --terminal-ansi-bright_red: "#ff4242";
  --terminal-ansi-bright_white: "#f5f5ff";
  --terminal-ansi-bright_yellow: "#f3e877";
  --terminal-ansi-cyan: "#0ef0f0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#59f176";
  --terminal-ansi-magenta: "#f10596";
  --terminal-ansi-red: "#ff4242";
  --terminal-ansi-white: "#d0d0fa";
  --terminal-ansi-yellow: "#f3e877";
  --terminal-background: "#00002a";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d0d0fa";
  --text-accent: "#0ef0f0";
  --text-disabled: "#30305a";
  --text-muted: "#b0b0da";
  --text-placeholder: "#f5f5ff";
  --title_bar-background: "#00002a";
  --toolbar-background: "#00002a";
  --unreachable: "#f3e877";
  --unreachable-background: "#00002a";
  --unreachable-border: "#f3e877";
  --warning: "#f3e877";
  --warning-background: "#00002a";
  --warning-border: "#f3e877";
  --player-1-background: null;
  --player-1-cursor: "#d0d0fa";
  --player-1-selection: "#30305a";
  --syntax-attribute-color: "#66b0ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fc8d28";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#50507a";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#50507a";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fc8d28";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff4242";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff4242";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff4242";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#66b0ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#f10596";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f3e877";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ff4242";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ff4242";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fc8d28";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#d0d0fa";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d0d0fa";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d0d0fa";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d0d0fa";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d0d0fa";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#59f176";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#fc8d28";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#59f176";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#59f176";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#59f176";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ff4242";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#59f176";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f3e877";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f3e877";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ff4242";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ff4242";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
