:root {
  --background: "#2f1e2e";
  --border: "#4f424c";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#4f424c";
  --conflict: "#fec418";
  --conflict-background: "#2f1e2e";
  --conflict-border: "#fec418";
  --created: "#48b685";
  --created-background: "#2f1e2e";
  --created-border: "#48b685";
  --deleted: "#ef6155";
  --deleted-background: "#2f1e2e";
  --deleted-border: "#ef6155";
  --drop_target-background: "#4f424c";
  --editor-active_line-background: "#41323f";
  --editor-active_line_number: "#b9b6b0";
  --editor-active_wrap_guide: "#776e71";
  --editor-background: "#2f1e2e";
  --editor-document_highlight-read_background: "#41323f";
  --editor-document_highlight-write_background: "#41323f";
  --editor-foreground: "#a39e9b";
  --editor-gutter-background: "#2f1e2e";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#776e71";
  --editor-subheader-background: "#2f1e2e";
  --editor-wrap_guide: "#41323f";
  --element-active: null;
  --element-background: "#41323f";
  --element-disabled: null;
  --element-hover: "#4f424c";
  --element-selected: "#4f424c";
  --elevated_surface-background: "#2f1e2e";
  --error: "#ef6155";
  --error-background: "#2f1e2e";
  --error-border: "#ef6155";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#41323f";
  --ghost_element-selected: "#4f424c";
  --hidden: "#776e71";
  --hidden-background: "#2f1e2e";
  --hidden-border: "#776e71";
  --hint: "#a39e9b";
  --hint-background: "#2f1e2e";
  --hint-border: "#5bc4bf";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#776e71";
  --ignored-background: "#2f1e2e";
  --ignored-border: "#776e71";
  --info: "#5bc4bf";
  --info-background: "#2f1e2e";
  --info-border: "#5bc4bf";
  --link_text-hover: "#5bc4bf";
  --modified: "#06b6ef";
  --modified-background: "#2f1e2e";
  --modified-border: "#06b6ef";
  --pane-focused_border: null;
  --panel-background: "#2f1e2e";
  --panel-focused_border: "#4f424c";
  --predictive: "#776e71";
  --predictive-background: "#41323f";
  --predictive-border: "#4f424c";
  --renamed: "#fec418";
  --renamed-background: "#2f1e2e";
  --renamed-border: "#fec418";
  --scrollbar-thumb-background: "#4f424c";
  --scrollbar-thumb-border: "#4f424c6f";
  --scrollbar-thumb-hover_background: "#776e71";
  --scrollbar-track-background: "#2f1e2e";
  --scrollbar-track-border: null;
  --search-match_background: "#4f424c";
  --status_bar-background: "#2f1e2e";
  --success: "#48b685";
  --success-background: "#2f1e2e";
  --success-border: "#48b685";
  --surface-background: "#2f1e2e";
  --tab-active_background: "#2f1e2e";
  --tab-inactive_background: "#41323f";
  --tab_bar-background: "#2f1e2e";
  --terminal-ansi-black: "#2f1e2e";
  --terminal-ansi-blue: "#06b6ef";
  --terminal-ansi-bright_black: "#776e71";
  --terminal-ansi-bright_blue: "#06b6ef";
  --terminal-ansi-bright_cyan: "#5bc4bf";
  --terminal-ansi-bright_green: "#48b685";
  --terminal-ansi-bright_magenta: "#815ba4";
  --terminal-ansi-bright_red: "#ef6155";
  --terminal-ansi-bright_white: "#e7e9db";
  --terminal-ansi-bright_yellow: "#fec418";
  --terminal-ansi-cyan: "#5bc4bf";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#48b685";
  --terminal-ansi-magenta: "#815ba4";
  --terminal-ansi-red: "#ef6155";
  --terminal-ansi-white: "#a39e9b";
  --terminal-ansi-yellow: "#fec418";
  --terminal-background: "#2f1e2e";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a39e9b";
  --text-accent: "#5bc4bf";
  --text-disabled: "#4f424c";
  --text-muted: "#8d8687";
  --text-placeholder: "#e7e9db";
  --title_bar-background: "#2f1e2e";
  --toolbar-background: "#2f1e2e";
  --unreachable: "#fec418";
  --unreachable-background: "#2f1e2e";
  --unreachable-border: "#fec418";
  --warning: "#fec418";
  --warning-background: "#2f1e2e";
  --warning-border: "#fec418";
  --player-1-background: null;
  --player-1-cursor: "#a39e9b";
  --player-1-selection: "#4f424c";
  --syntax-attribute-color: "#06b6ef";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f99b15";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#776e71";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#776e71";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f99b15";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ef6155";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ef6155";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ef6155";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#06b6ef";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#815ba4";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#fec418";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ef6155";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ef6155";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f99b15";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#a39e9b";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a39e9b";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a39e9b";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#a39e9b";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a39e9b";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#48b685";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f99b15";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#48b685";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#48b685";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#48b685";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ef6155";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#48b685";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#fec418";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#fec418";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ef6155";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ef6155";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
