:root {
  --background: "#11121d";
  --border: "#212234";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#212234";
  --conflict: "#d7a65f";
  --conflict-background: "#11121d";
  --conflict-border: "#d7a65f";
  --created: "#95c561";
  --created-background: "#11121d";
  --created-border: "#95c561";
  --deleted: "#ee6d85";
  --deleted-background: "#11121d";
  --deleted-border: "#ee6d85";
  --drop_target-background: "#212234";
  --editor-active_line-background: "#1a1b2a";
  --editor-active_line_number: "#a0a8cd";
  --editor-active_wrap_guide: "#282c34";
  --editor-background: "#11121d";
  --editor-document_highlight-read_background: "#1a1b2a";
  --editor-document_highlight-write_background: "#1a1b2a";
  --editor-foreground: "#a0a8cd";
  --editor-gutter-background: "#11121d";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#282c34";
  --editor-subheader-background: "#11121d";
  --editor-wrap_guide: "#1a1b2a";
  --element-active: null;
  --element-background: "#1a1b2a";
  --element-disabled: null;
  --element-hover: "#212234";
  --element-selected: "#212234";
  --elevated_surface-background: "#11121d";
  --error: "#ee6d85";
  --error-background: "#11121d";
  --error-border: "#ee6d85";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#1a1b2a";
  --ghost_element-selected: "#212234";
  --hidden: "#282c34";
  --hidden-background: "#11121d";
  --hidden-border: "#282c34";
  --hint: "#a0a8cd";
  --hint-background: "#11121d";
  --hint-border: "#38a89d";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#282c34";
  --ignored-background: "#11121d";
  --ignored-border: "#282c34";
  --info: "#38a89d";
  --info-background: "#11121d";
  --info-border: "#38a89d";
  --link_text-hover: "#38a89d";
  --modified: "#7199ee";
  --modified-background: "#11121d";
  --modified-border: "#7199ee";
  --pane-focused_border: null;
  --panel-background: "#11121d";
  --panel-focused_border: "#212234";
  --predictive: "#282c34";
  --predictive-background: "#1a1b2a";
  --predictive-border: "#212234";
  --renamed: "#d7a65f";
  --renamed-background: "#11121d";
  --renamed-border: "#d7a65f";
  --scrollbar-thumb-background: "#212234";
  --scrollbar-thumb-border: "#2122346f";
  --scrollbar-thumb-hover_background: "#282c34";
  --scrollbar-track-background: "#11121d";
  --scrollbar-track-border: null;
  --search-match_background: "#212234";
  --status_bar-background: "#11121d";
  --success: "#95c561";
  --success-background: "#11121d";
  --success-border: "#95c561";
  --surface-background: "#11121d";
  --tab-active_background: "#11121d";
  --tab-inactive_background: "#1a1b2a";
  --tab_bar-background: "#11121d";
  --terminal-ansi-black: "#11121d";
  --terminal-ansi-blue: "#7199ee";
  --terminal-ansi-bright_black: "#282c34";
  --terminal-ansi-bright_blue: "#7199ee";
  --terminal-ansi-bright_cyan: "#38a89d";
  --terminal-ansi-bright_green: "#95c561";
  --terminal-ansi-bright_magenta: "#a485dd";
  --terminal-ansi-bright_red: "#ee6d85";
  --terminal-ansi-bright_white: "#a0a8cd";
  --terminal-ansi-bright_yellow: "#d7a65f";
  --terminal-ansi-cyan: "#38a89d";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#95c561";
  --terminal-ansi-magenta: "#a485dd";
  --terminal-ansi-red: "#ee6d85";
  --terminal-ansi-white: "#a0a8cd";
  --terminal-ansi-yellow: "#d7a65f";
  --terminal-background: "#11121d";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a0a8cd";
  --text-accent: "#38a89d";
  --text-disabled: "#212234";
  --text-muted: "#4a5057";
  --text-placeholder: "#a0a8cd";
  --title_bar-background: "#11121d";
  --toolbar-background: "#11121d";
  --unreachable: "#d7a65f";
  --unreachable-background: "#11121d";
  --unreachable-border: "#d7a65f";
  --warning: "#d7a65f";
  --warning-background: "#11121d";
  --warning-border: "#d7a65f";
  --player-1-background: null;
  --player-1-cursor: "#a0a8cd";
  --player-1-selection: "#212234";
  --syntax-attribute-color: "#7199ee";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f6955b";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#282c34";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#282c34";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f6955b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ee6d85";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ee6d85";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ee6d85";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#7199ee";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#a485dd";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#d7a65f";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ee6d85";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ee6d85";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f6955b";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#a0a8cd";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a0a8cd";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a0a8cd";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#a0a8cd";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a0a8cd";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#95c561";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f6955b";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#95c561";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#95c561";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#95c561";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ee6d85";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#95c561";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#d7a65f";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#d7a65f";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ee6d85";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ee6d85";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
