:root {
  --background: "#fafafa";
  --border: "#cceae7";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#cceae7";
  --conflict: "#ffb62c";
  --conflict-background: "#fafafa";
  --conflict-border: "#ffb62c";
  --created: "#91b859";
  --created-background: "#fafafa";
  --created-border: "#91b859";
  --deleted: "#ff5370";
  --deleted-background: "#fafafa";
  --deleted-border: "#ff5370";
  --drop_target-background: "#cceae7";
  --editor-active_line-background: "#e7eaec";
  --editor-active_line_number: "#80cbc4";
  --editor-active_wrap_guide: "#ccd7da";
  --editor-background: "#fafafa";
  --editor-document_highlight-read_background: "#e7eaec";
  --editor-document_highlight-write_background: "#e7eaec";
  --editor-foreground: "#80cbc4";
  --editor-gutter-background: "#fafafa";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#ccd7da";
  --editor-subheader-background: "#fafafa";
  --editor-wrap_guide: "#e7eaec";
  --element-active: null;
  --element-background: "#e7eaec";
  --element-disabled: null;
  --element-hover: "#cceae7";
  --element-selected: "#cceae7";
  --elevated_surface-background: "#fafafa";
  --error: "#ff5370";
  --error-background: "#fafafa";
  --error-border: "#ff5370";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e7eaec";
  --ghost_element-selected: "#cceae7";
  --hidden: "#ccd7da";
  --hidden-background: "#fafafa";
  --hidden-border: "#ccd7da";
  --hint: "#80cbc4";
  --hint-background: "#fafafa";
  --hint-border: "#39adb5";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#ccd7da";
  --ignored-background: "#fafafa";
  --ignored-border: "#ccd7da";
  --info: "#39adb5";
  --info-background: "#fafafa";
  --info-border: "#39adb5";
  --link_text-hover: "#39adb5";
  --modified: "#6182b8";
  --modified-background: "#fafafa";
  --modified-border: "#6182b8";
  --pane-focused_border: null;
  --panel-background: "#fafafa";
  --panel-focused_border: "#cceae7";
  --predictive: "#ccd7da";
  --predictive-background: "#e7eaec";
  --predictive-border: "#cceae7";
  --renamed: "#ffb62c";
  --renamed-background: "#fafafa";
  --renamed-border: "#ffb62c";
  --scrollbar-thumb-background: "#cceae7";
  --scrollbar-thumb-border: "#cceae76f";
  --scrollbar-thumb-hover_background: "#ccd7da";
  --scrollbar-track-background: "#fafafa";
  --scrollbar-track-border: null;
  --search-match_background: "#cceae7";
  --status_bar-background: "#fafafa";
  --success: "#91b859";
  --success-background: "#fafafa";
  --success-border: "#91b859";
  --surface-background: "#fafafa";
  --tab-active_background: "#fafafa";
  --tab-inactive_background: "#e7eaec";
  --tab_bar-background: "#fafafa";
  --terminal-ansi-black: "#fafafa";
  --terminal-ansi-blue: "#6182b8";
  --terminal-ansi-bright_black: "#ccd7da";
  --terminal-ansi-bright_blue: "#6182b8";
  --terminal-ansi-bright_cyan: "#39adb5";
  --terminal-ansi-bright_green: "#91b859";
  --terminal-ansi-bright_magenta: "#7c4dff";
  --terminal-ansi-bright_red: "#ff5370";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#ffb62c";
  --terminal-ansi-cyan: "#39adb5";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#91b859";
  --terminal-ansi-magenta: "#7c4dff";
  --terminal-ansi-red: "#ff5370";
  --terminal-ansi-white: "#80cbc4";
  --terminal-ansi-yellow: "#ffb62c";
  --terminal-background: "#fafafa";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#80cbc4";
  --text-accent: "#39adb5";
  --text-disabled: "#cceae7";
  --text-muted: "#8796b0";
  --text-placeholder: "#ffffff";
  --title_bar-background: "#fafafa";
  --toolbar-background: "#fafafa";
  --unreachable: "#ffb62c";
  --unreachable-background: "#fafafa";
  --unreachable-border: "#ffb62c";
  --warning: "#ffb62c";
  --warning-background: "#fafafa";
  --warning-border: "#ffb62c";
  --player-1-background: null;
  --player-1-cursor: "#80cbc4";
  --player-1-selection: "#cceae7";
  --syntax-attribute-color: "#6182b8";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f76d47";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#ccd7da";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#ccd7da";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f76d47";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff5370";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff5370";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff5370";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#6182b8";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#7c4dff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ffb62c";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ff5370";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ff5370";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f76d47";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#80cbc4";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#80cbc4";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#80cbc4";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#80cbc4";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#80cbc4";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#91b859";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f76d47";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#91b859";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#91b859";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#91b859";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ff5370";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#91b859";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ffb62c";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ffb62c";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ff5370";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ff5370";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
