:root {
  --background: "#131213";
  --border: "#472234";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#472234";
  --conflict: "#ffcc00";
  --conflict_background: "#131213";
  --conflict_border: "#ffcc00";
  --created: "#9ddf69";
  --created_background: "#131213";
  --created_border: "#9ddf69";
  --deleted: "#b00b69";
  --deleted_background: "#131213";
  --deleted_border: "#b00b69";
  --drop_target_background: "#472234";
  --editor_active_line_background: "#2f1823";
  --editor_active_line_number: "#81506a";
  --editor_active_wrap_guide: "#ffbee3";
  --editor_background: "#131213";
  --editor_document_highlight_read_background: "#2f1823";
  --editor_document_highlight_write_background: "#2f1823";
  --editor_foreground: "#f15c99";
  --editor_gutter_background: "#131213";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#ffbee3";
  --editor_subheader_background: "#131213";
  --editor_wrap_guide: "#2f1823";
  --element_active: null;
  --element_background: "#2f1823";
  --element_disabled: null;
  --element_hover: "#472234";
  --element_selected: "#472234";
  --elevated_surface_background: "#131213";
  --error: "#b00b69";
  --error_background: "#131213";
  --error_border: "#b00b69";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#2f1823";
  --ghost_element_selected: "#472234";
  --hidden: "#ffbee3";
  --hidden_background: "#131213";
  --hidden_border: "#ffbee3";
  --hint: "#f15c99";
  --hint_background: "#131213";
  --hint_border: "#714ca6";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#ffbee3";
  --ignored_background: "#131213";
  --ignored_border: "#ffbee3";
  --info: "#714ca6";
  --info_background: "#131213";
  --info_border: "#714ca6";
  --link_text_hover: "#714ca6";
  --modified: "#008080";
  --modified_background: "#131213";
  --modified_border: "#008080";
  --pane_focused_border: null;
  --panel_background: "#131213";
  --panel_focused_border: "#472234";
  --predictive: "#ffbee3";
  --predictive_background: "#2f1823";
  --predictive_border: "#472234";
  --renamed: "#ffcc00";
  --renamed_background: "#131213";
  --renamed_border: "#ffcc00";
  --scrollbar_thumb_background: "#472234";
  --scrollbar_thumb_border: "#4722346f";
  --scrollbar_thumb_hover_background: "#ffbee3";
  --scrollbar_track_background: "#131213";
  --scrollbar_track_border: null;
  --search_match_background: "#472234";
  --status_bar_background: "#131213";
  --success: "#9ddf69";
  --success_background: "#131213";
  --success_border: "#9ddf69";
  --surface_background: "#131213";
  --tab_active_background: "#131213";
  --tab_inactive_background: "#2f1823";
  --tab_bar_background: "#131213";
  --terminal_ansi_black: "#131213";
  --terminal_ansi_blue: "#008080";
  --terminal_ansi_bright_black: "#ffbee3";
  --terminal_ansi_bright_blue: "#008080";
  --terminal_ansi_bright_cyan: "#714ca6";
  --terminal_ansi_bright_green: "#9ddf69";
  --terminal_ansi_bright_magenta: "#a24030";
  --terminal_ansi_bright_red: "#b00b69";
  --terminal_ansi_bright_white: "#632227";
  --terminal_ansi_bright_yellow: "#ffcc00";
  --terminal_ansi_cyan: "#714ca6";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#9ddf69";
  --terminal_ansi_magenta: "#a24030";
  --terminal_ansi_red: "#b00b69";
  --terminal_ansi_white: "#f15c99";
  --terminal_ansi_yellow: "#ffcc00";
  --terminal_background: "#131213";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#f15c99";
  --text_accent: "#714ca6";
  --text_disabled: "#472234";
  --text_muted: "#9b2a46";
  --text_placeholder: "#632227";
  --title_bar_background: "#131213";
  --toolbar_background: "#131213";
  --unreachable: "#ffcc00";
  --unreachable_background: "#131213";
  --unreachable_border: "#ffcc00";
  --warning: "#ffcc00";
  --warning_background: "#131213";
  --warning_border: "#ffcc00";
  --player_1_background: null;
  --player_1_cursor: "#f15c99";
  --player_1_selection: "#472234";
  --syntax_attribute_color: "#008080";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#ff9153";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#ffbee3";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#ffbee3";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#ff9153";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#b00b69";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#b00b69";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#b00b69";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#008080";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#a24030";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#ffcc00";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#b00b69";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#b00b69";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#ff9153";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#f15c99";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#f15c99";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#f15c99";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#f15c99";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#f15c99";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#9ddf69";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#ff9153";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#9ddf69";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#9ddf69";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#9ddf69";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#b00b69";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#9ddf69";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#ffcc00";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#ffcc00";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#b00b69";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#b00b69";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
