:root {
  --background: "#181818";
  --border: "#3b3b3b";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#3b3b3b";
  --conflict: "#dbb32d";
  --conflict-background: "#181818";
  --conflict-border: "#dbb32d";
  --created: "#70b433";
  --created-background: "#181818";
  --created-border: "#70b433";
  --deleted: "#ed4a46";
  --deleted-background: "#181818";
  --deleted-border: "#ed4a46";
  --drop_target-background: "#3b3b3b";
  --editor-active_line-background: "#252525";
  --editor-active_line_number: "#dedede";
  --editor-active_wrap_guide: "#777777";
  --editor-background: "#181818";
  --editor-document_highlight-read_background: "#252525";
  --editor-document_highlight-write_background: "#252525";
  --editor-foreground: "#b9b9b9";
  --editor-gutter-background: "#181818";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#777777";
  --editor-subheader-background: "#181818";
  --editor-wrap_guide: "#252525";
  --element-active: null;
  --element-background: "#252525";
  --element-disabled: null;
  --element-hover: "#3b3b3b";
  --element-selected: "#3b3b3b";
  --elevated_surface-background: "#181818";
  --error: "#ed4a46";
  --error-background: "#181818";
  --error-border: "#ed4a46";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#252525";
  --ghost_element-selected: "#3b3b3b";
  --hidden: "#777777";
  --hidden-background: "#181818";
  --hidden-border: "#777777";
  --hint: "#b9b9b9";
  --hint-background: "#181818";
  --hint-border: "#3fc5b7";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#777777";
  --ignored-background: "#181818";
  --ignored-border: "#777777";
  --info: "#3fc5b7";
  --info-background: "#181818";
  --info-border: "#3fc5b7";
  --link_text-hover: "#3fc5b7";
  --modified: "#368aeb";
  --modified-background: "#181818";
  --modified-border: "#368aeb";
  --pane-focused_border: null;
  --panel-background: "#181818";
  --panel-focused_border: "#3b3b3b";
  --predictive: "#777777";
  --predictive-background: "#252525";
  --predictive-border: "#3b3b3b";
  --renamed: "#dbb32d";
  --renamed-background: "#181818";
  --renamed-border: "#dbb32d";
  --scrollbar-thumb-background: "#3b3b3b";
  --scrollbar-thumb-border: "#3b3b3b6f";
  --scrollbar-thumb-hover_background: "#777777";
  --scrollbar-track-background: "#181818";
  --scrollbar-track-border: null;
  --search-match_background: "#3b3b3b";
  --status_bar-background: "#181818";
  --success: "#70b433";
  --success-background: "#181818";
  --success-border: "#70b433";
  --surface-background: "#181818";
  --tab-active_background: "#181818";
  --tab-inactive_background: "#252525";
  --tab_bar-background: "#181818";
  --terminal-ansi-black: "#181818";
  --terminal-ansi-blue: "#368aeb";
  --terminal-ansi-bright_black: "#777777";
  --terminal-ansi-bright_blue: "#368aeb";
  --terminal-ansi-bright_cyan: "#3fc5b7";
  --terminal-ansi-bright_green: "#70b433";
  --terminal-ansi-bright_magenta: "#a580e2";
  --terminal-ansi-bright_red: "#ed4a46";
  --terminal-ansi-bright_white: "#dedede";
  --terminal-ansi-bright_yellow: "#dbb32d";
  --terminal-ansi-cyan: "#3fc5b7";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#70b433";
  --terminal-ansi-magenta: "#a580e2";
  --terminal-ansi-red: "#ed4a46";
  --terminal-ansi-white: "#b9b9b9";
  --terminal-ansi-yellow: "#dbb32d";
  --terminal-background: "#181818";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#b9b9b9";
  --text-accent: "#3fc5b7";
  --text-disabled: "#3b3b3b";
  --text-muted: "#777777";
  --text-placeholder: "#dedede";
  --title_bar-background: "#181818";
  --toolbar-background: "#181818";
  --unreachable: "#dbb32d";
  --unreachable-background: "#181818";
  --unreachable-border: "#dbb32d";
  --warning: "#dbb32d";
  --warning-background: "#181818";
  --warning-border: "#dbb32d";
  --player-1-background: null;
  --player-1-cursor: "#b9b9b9";
  --player-1-selection: "#3b3b3b";
  --syntax-attribute-color: "#368aeb";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#e67f43";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#777777";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#777777";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#e67f43";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ed4a46";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ed4a46";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ed4a46";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#368aeb";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#a580e2";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#dbb32d";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ed4a46";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ed4a46";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#e67f43";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#b9b9b9";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#b9b9b9";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#b9b9b9";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#b9b9b9";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#b9b9b9";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#70b433";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#e67f43";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#70b433";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#70b433";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#70b433";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ed4a46";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#70b433";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#dbb32d";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#dbb32d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ed4a46";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ed4a46";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
