:root {
  --background: "#f4fbf4";
  --border: "#8ca68c";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#8ca68c";
  --conflict: "#98981b";
  --conflict-background: "#f4fbf4";
  --conflict-border: "#98981b";
  --created: "#29a329";
  --created-background: "#f4fbf4";
  --created-border: "#29a329";
  --deleted: "#e6193c";
  --deleted-background: "#f4fbf4";
  --deleted-border: "#e6193c";
  --drop_target-background: "#8ca68c";
  --editor-active_line-background: "#cfe8cf";
  --editor-active_line_number: "#242924";
  --editor-active_wrap_guide: "#809980";
  --editor-background: "#f4fbf4";
  --editor-document_highlight-read_background: "#cfe8cf";
  --editor-document_highlight-write_background: "#cfe8cf";
  --editor-foreground: "#5e6e5e";
  --editor-gutter-background: "#f4fbf4";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#809980";
  --editor-subheader-background: "#f4fbf4";
  --editor-wrap_guide: "#cfe8cf";
  --element-active: null;
  --element-background: "#cfe8cf";
  --element-disabled: null;
  --element-hover: "#8ca68c";
  --element-selected: "#8ca68c";
  --elevated_surface-background: "#f4fbf4";
  --error: "#e6193c";
  --error-background: "#f4fbf4";
  --error-border: "#e6193c";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#cfe8cf";
  --ghost_element-selected: "#8ca68c";
  --hidden: "#809980";
  --hidden-background: "#f4fbf4";
  --hidden-border: "#809980";
  --hint: "#5e6e5e";
  --hint-background: "#f4fbf4";
  --hint-border: "#1999b3";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#809980";
  --ignored-background: "#f4fbf4";
  --ignored-border: "#809980";
  --info: "#1999b3";
  --info-background: "#f4fbf4";
  --info-border: "#1999b3";
  --link_text-hover: "#1999b3";
  --modified: "#3d62f5";
  --modified-background: "#f4fbf4";
  --modified-border: "#3d62f5";
  --pane-focused_border: null;
  --panel-background: "#f4fbf4";
  --panel-focused_border: "#8ca68c";
  --predictive: "#809980";
  --predictive-background: "#cfe8cf";
  --predictive-border: "#8ca68c";
  --renamed: "#98981b";
  --renamed-background: "#f4fbf4";
  --renamed-border: "#98981b";
  --scrollbar-thumb-background: "#8ca68c";
  --scrollbar-thumb-border: "#8ca68c6f";
  --scrollbar-thumb-hover_background: "#809980";
  --scrollbar-track-background: "#f4fbf4";
  --scrollbar-track-border: null;
  --search-match_background: "#8ca68c";
  --status_bar-background: "#f4fbf4";
  --success: "#29a329";
  --success-background: "#f4fbf4";
  --success-border: "#29a329";
  --surface-background: "#f4fbf4";
  --tab-active_background: "#f4fbf4";
  --tab-inactive_background: "#cfe8cf";
  --tab_bar-background: "#f4fbf4";
  --terminal-ansi-black: "#f4fbf4";
  --terminal-ansi-blue: "#3d62f5";
  --terminal-ansi-bright_black: "#809980";
  --terminal-ansi-bright_blue: "#3d62f5";
  --terminal-ansi-bright_cyan: "#1999b3";
  --terminal-ansi-bright_green: "#29a329";
  --terminal-ansi-bright_magenta: "#ad2bee";
  --terminal-ansi-bright_red: "#e6193c";
  --terminal-ansi-bright_white: "#131513";
  --terminal-ansi-bright_yellow: "#98981b";
  --terminal-ansi-cyan: "#1999b3";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#29a329";
  --terminal-ansi-magenta: "#ad2bee";
  --terminal-ansi-red: "#e6193c";
  --terminal-ansi-white: "#5e6e5e";
  --terminal-ansi-yellow: "#98981b";
  --terminal-background: "#f4fbf4";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#5e6e5e";
  --text-accent: "#1999b3";
  --text-disabled: "#8ca68c";
  --text-muted: "#687d68";
  --text-placeholder: "#131513";
  --title_bar-background: "#f4fbf4";
  --toolbar-background: "#f4fbf4";
  --unreachable: "#98981b";
  --unreachable-background: "#f4fbf4";
  --unreachable-border: "#98981b";
  --warning: "#98981b";
  --warning-background: "#f4fbf4";
  --warning-border: "#98981b";
  --player-1-background: null;
  --player-1-cursor: "#5e6e5e";
  --player-1-selection: "#8ca68c";
  --syntax-attribute-color: "#3d62f5";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#87711d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#809980";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#809980";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#87711d";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#e6193c";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#e6193c";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#e6193c";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#3d62f5";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ad2bee";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#98981b";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#e6193c";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#e6193c";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#87711d";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#5e6e5e";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#5e6e5e";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#5e6e5e";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#5e6e5e";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#5e6e5e";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#29a329";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#87711d";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#29a329";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#29a329";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#29a329";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#e6193c";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#29a329";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#98981b";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#98981b";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#e6193c";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#e6193c";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
