:root {
  --background: "#1b2b34";
  --border: "#4f5b66";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#4f5b66";
  --conflict: "#fac863";
  --conflict_background: "#1b2b34";
  --conflict_border: "#fac863";
  --created: "#99c794";
  --created_background: "#1b2b34";
  --created_border: "#99c794";
  --deleted: "#ec5f67";
  --deleted_background: "#1b2b34";
  --deleted_border: "#ec5f67";
  --drop_target_background: "#4f5b66";
  --editor_active_line_background: "#343d46";
  --editor_active_line_number: "#cdd3de";
  --editor_active_wrap_guide: "#65737e";
  --editor_background: "#1b2b34";
  --editor_document_highlight_read_background: "#343d46";
  --editor_document_highlight_write_background: "#343d46";
  --editor_foreground: "#c0c5ce";
  --editor_gutter_background: "#1b2b34";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#65737e";
  --editor_subheader_background: "#1b2b34";
  --editor_wrap_guide: "#343d46";
  --element_active: null;
  --element_background: "#343d46";
  --element_disabled: null;
  --element_hover: "#4f5b66";
  --element_selected: "#4f5b66";
  --elevated_surface_background: "#1b2b34";
  --error: "#ec5f67";
  --error_background: "#1b2b34";
  --error_border: "#ec5f67";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#343d46";
  --ghost_element_selected: "#4f5b66";
  --hidden: "#65737e";
  --hidden_background: "#1b2b34";
  --hidden_border: "#65737e";
  --hint: "#c0c5ce";
  --hint_background: "#1b2b34";
  --hint_border: "#5fb3b3";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#65737e";
  --ignored_background: "#1b2b34";
  --ignored_border: "#65737e";
  --info: "#5fb3b3";
  --info_background: "#1b2b34";
  --info_border: "#5fb3b3";
  --link_text_hover: "#5fb3b3";
  --modified: "#6699cc";
  --modified_background: "#1b2b34";
  --modified_border: "#6699cc";
  --pane_focused_border: null;
  --panel_background: "#1b2b34";
  --panel_focused_border: "#4f5b66";
  --predictive: "#65737e";
  --predictive_background: "#343d46";
  --predictive_border: "#4f5b66";
  --renamed: "#fac863";
  --renamed_background: "#1b2b34";
  --renamed_border: "#fac863";
  --scrollbar_thumb_background: "#4f5b66";
  --scrollbar_thumb_border: "#4f5b666f";
  --scrollbar_thumb_hover_background: "#65737e";
  --scrollbar_track_background: "#1b2b34";
  --scrollbar_track_border: null;
  --search_match_background: "#4f5b66";
  --status_bar_background: "#1b2b34";
  --success: "#99c794";
  --success_background: "#1b2b34";
  --success_border: "#99c794";
  --surface_background: "#1b2b34";
  --tab_active_background: "#1b2b34";
  --tab_inactive_background: "#343d46";
  --tab_bar_background: "#1b2b34";
  --terminal_ansi_black: "#1b2b34";
  --terminal_ansi_blue: "#6699cc";
  --terminal_ansi_bright_black: "#65737e";
  --terminal_ansi_bright_blue: "#6699cc";
  --terminal_ansi_bright_cyan: "#5fb3b3";
  --terminal_ansi_bright_green: "#99c794";
  --terminal_ansi_bright_magenta: "#c594c5";
  --terminal_ansi_bright_red: "#ec5f67";
  --terminal_ansi_bright_white: "#d8dee9";
  --terminal_ansi_bright_yellow: "#fac863";
  --terminal_ansi_cyan: "#5fb3b3";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#99c794";
  --terminal_ansi_magenta: "#c594c5";
  --terminal_ansi_red: "#ec5f67";
  --terminal_ansi_white: "#c0c5ce";
  --terminal_ansi_yellow: "#fac863";
  --terminal_background: "#1b2b34";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#c0c5ce";
  --text_accent: "#5fb3b3";
  --text_disabled: "#4f5b66";
  --text_muted: "#a7adba";
  --text_placeholder: "#d8dee9";
  --title_bar_background: "#1b2b34";
  --toolbar_background: "#1b2b34";
  --unreachable: "#fac863";
  --unreachable_background: "#1b2b34";
  --unreachable_border: "#fac863";
  --warning: "#fac863";
  --warning_background: "#1b2b34";
  --warning_border: "#fac863";
  --player_1_background: null;
  --player_1_cursor: "#c0c5ce";
  --player_1_selection: "#4f5b66";
  --syntax_attribute_color: "#6699cc";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#f99157";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#65737e";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#65737e";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#f99157";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#ec5f67";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#ec5f67";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#ec5f67";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#6699cc";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#c594c5";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#fac863";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#ec5f67";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#ec5f67";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#f99157";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#c0c5ce";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#c0c5ce";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#c0c5ce";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#c0c5ce";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#c0c5ce";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#99c794";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#f99157";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#99c794";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#99c794";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#99c794";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#ec5f67";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#99c794";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#fac863";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#fac863";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#ec5f67";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#ec5f67";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
