:root {
  --background: "#1e1e2e";
  --border: "#313244";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#313244";
  --conflict: "#f9e2af";
  --conflict-background: "#1e1e2e";
  --conflict-border: "#f9e2af";
  --created: "#a6e3a1";
  --created-background: "#1e1e2e";
  --created-border: "#a6e3a1";
  --deleted: "#f38ba8";
  --deleted-background: "#1e1e2e";
  --deleted-border: "#f38ba8";
  --drop_target-background: "#313244";
  --editor-active_line-background: "#181825";
  --editor-active_line_number: "#f5e0dc";
  --editor-active_wrap_guide: "#45475a";
  --editor-background: "#1e1e2e";
  --editor-document_highlight-read_background: "#181825";
  --editor-document_highlight-write_background: "#181825";
  --editor-foreground: "#cdd6f4";
  --editor-gutter-background: "#1e1e2e";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#45475a";
  --editor-subheader-background: "#1e1e2e";
  --editor-wrap_guide: "#181825";
  --element-active: null;
  --element-background: "#181825";
  --element-disabled: null;
  --element-hover: "#313244";
  --element-selected: "#313244";
  --elevated_surface-background: "#1e1e2e";
  --error: "#f38ba8";
  --error-background: "#1e1e2e";
  --error-border: "#f38ba8";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#181825";
  --ghost_element-selected: "#313244";
  --hidden: "#45475a";
  --hidden-background: "#1e1e2e";
  --hidden-border: "#45475a";
  --hint: "#cdd6f4";
  --hint-background: "#1e1e2e";
  --hint-border: "#94e2d5";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#45475a";
  --ignored-background: "#1e1e2e";
  --ignored-border: "#45475a";
  --info: "#94e2d5";
  --info-background: "#1e1e2e";
  --info-border: "#94e2d5";
  --link_text-hover: "#94e2d5";
  --modified: "#89b4fa";
  --modified-background: "#1e1e2e";
  --modified-border: "#89b4fa";
  --pane-focused_border: null;
  --panel-background: "#1e1e2e";
  --panel-focused_border: "#313244";
  --predictive: "#45475a";
  --predictive-background: "#181825";
  --predictive-border: "#313244";
  --renamed: "#f9e2af";
  --renamed-background: "#1e1e2e";
  --renamed-border: "#f9e2af";
  --scrollbar-thumb-background: "#313244";
  --scrollbar-thumb-border: "#3132446f";
  --scrollbar-thumb-hover_background: "#45475a";
  --scrollbar-track-background: "#1e1e2e";
  --scrollbar-track-border: null;
  --search-match_background: "#313244";
  --status_bar-background: "#1e1e2e";
  --success: "#a6e3a1";
  --success-background: "#1e1e2e";
  --success-border: "#a6e3a1";
  --surface-background: "#1e1e2e";
  --tab-active_background: "#1e1e2e";
  --tab-inactive_background: "#181825";
  --tab_bar-background: "#1e1e2e";
  --terminal-ansi-black: "#1e1e2e";
  --terminal-ansi-blue: "#89b4fa";
  --terminal-ansi-bright_black: "#45475a";
  --terminal-ansi-bright_blue: "#89b4fa";
  --terminal-ansi-bright_cyan: "#94e2d5";
  --terminal-ansi-bright_green: "#a6e3a1";
  --terminal-ansi-bright_magenta: "#cba6f7";
  --terminal-ansi-bright_red: "#f38ba8";
  --terminal-ansi-bright_white: "#b4befe";
  --terminal-ansi-bright_yellow: "#f9e2af";
  --terminal-ansi-cyan: "#94e2d5";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a6e3a1";
  --terminal-ansi-magenta: "#cba6f7";
  --terminal-ansi-red: "#f38ba8";
  --terminal-ansi-white: "#cdd6f4";
  --terminal-ansi-yellow: "#f9e2af";
  --terminal-background: "#1e1e2e";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#cdd6f4";
  --text-accent: "#94e2d5";
  --text-disabled: "#313244";
  --text-muted: "#585b70";
  --text-placeholder: "#b4befe";
  --title_bar-background: "#1e1e2e";
  --toolbar-background: "#1e1e2e";
  --unreachable: "#f9e2af";
  --unreachable-background: "#1e1e2e";
  --unreachable-border: "#f9e2af";
  --warning: "#f9e2af";
  --warning-background: "#1e1e2e";
  --warning-border: "#f9e2af";
  --player-1-background: null;
  --player-1-cursor: "#cdd6f4";
  --player-1-selection: "#313244";
  --syntax-attribute-color: "#89b4fa";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fab387";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#45475a";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#45475a";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fab387";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#f38ba8";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#f38ba8";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f38ba8";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#89b4fa";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#cba6f7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f9e2af";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#f38ba8";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#f38ba8";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fab387";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#cdd6f4";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#cdd6f4";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#cdd6f4";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#cdd6f4";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#cdd6f4";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#a6e3a1";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#fab387";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#a6e3a1";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#a6e3a1";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#a6e3a1";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f38ba8";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a6e3a1";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f9e2af";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f9e2af";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#f38ba8";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f38ba8";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
