:root {
  --background: "#feedf3";
  --border: "#e0ccd1";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#e0ccd1";
  --conflict: "#c29461";
  --conflict-background: "#feedf3";
  --conflict-border: "#c29461";
  --created: "#2e916d";
  --created-background: "#feedf3";
  --created-border: "#2e916d";
  --deleted: "#df2d52";
  --deleted-background: "#feedf3";
  --deleted-border: "#df2d52";
  --drop_target-background: "#e0ccd1";
  --editor-active_line-background: "#f8e2e7";
  --editor-active_line_number: "#42383a";
  --editor-active_wrap_guide: "#755f64";
  --editor-background: "#feedf3";
  --editor-document_highlight-read_background: "#f8e2e7";
  --editor-document_highlight-write_background: "#f8e2e7";
  --editor-foreground: "#564448";
  --editor-gutter-background: "#feedf3";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#755f64";
  --editor-subheader-background: "#feedf3";
  --editor-wrap_guide: "#f8e2e7";
  --element-active: null;
  --element-background: "#f8e2e7";
  --element-disabled: null;
  --element-hover: "#e0ccd1";
  --element-selected: "#e0ccd1";
  --elevated_surface-background: "#feedf3";
  --error: "#df2d52";
  --error-background: "#feedf3";
  --error-border: "#df2d52";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#f8e2e7";
  --ghost_element-selected: "#e0ccd1";
  --hidden: "#755f64";
  --hidden-background: "#feedf3";
  --hidden-border: "#755f64";
  --hint: "#564448";
  --hint-background: "#feedf3";
  --hint-border: "#1d8991";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#755f64";
  --ignored-background: "#feedf3";
  --ignored-border: "#755f64";
  --info: "#1d8991";
  --info-background: "#feedf3";
  --info-border: "#1d8991";
  --link_text-hover: "#1d8991";
  --modified: "#006e93";
  --modified-background: "#feedf3";
  --modified-border: "#006e93";
  --pane-focused_border: null;
  --panel-background: "#feedf3";
  --panel-focused_border: "#e0ccd1";
  --predictive: "#755f64";
  --predictive-background: "#f8e2e7";
  --predictive-border: "#e0ccd1";
  --renamed: "#c29461";
  --renamed-background: "#feedf3";
  --renamed-border: "#c29461";
  --scrollbar-thumb-background: "#e0ccd1";
  --scrollbar-thumb-border: "#e0ccd16f";
  --scrollbar-thumb-hover_background: "#755f64";
  --scrollbar-track-background: "#feedf3";
  --scrollbar-track-border: null;
  --search-match_background: "#e0ccd1";
  --status_bar-background: "#feedf3";
  --success: "#2e916d";
  --success-background: "#feedf3";
  --success-border: "#2e916d";
  --surface-background: "#feedf3";
  --tab-active_background: "#feedf3";
  --tab-inactive_background: "#f8e2e7";
  --tab_bar-background: "#feedf3";
  --terminal-ansi-black: "#feedf3";
  --terminal-ansi-blue: "#006e93";
  --terminal-ansi-bright_black: "#755f64";
  --terminal-ansi-bright_blue: "#006e93";
  --terminal-ansi-bright_cyan: "#1d8991";
  --terminal-ansi-bright_green: "#2e916d";
  --terminal-ansi-bright_magenta: "#5e2180";
  --terminal-ansi-bright_red: "#df2d52";
  --terminal-ansi-bright_white: "#33292b";
  --terminal-ansi-bright_yellow: "#c29461";
  --terminal-ansi-cyan: "#1d8991";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#2e916d";
  --terminal-ansi-magenta: "#5e2180";
  --terminal-ansi-red: "#df2d52";
  --terminal-ansi-white: "#564448";
  --terminal-ansi-yellow: "#c29461";
  --terminal-background: "#feedf3";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#564448";
  --text-accent: "#1d8991";
  --text-disabled: "#e0ccd1";
  --text-muted: "#665055";
  --text-placeholder: "#33292b";
  --title_bar-background: "#feedf3";
  --toolbar-background: "#feedf3";
  --unreachable: "#c29461";
  --unreachable-background: "#feedf3";
  --unreachable-border: "#c29461";
  --warning: "#c29461";
  --warning-background: "#feedf3";
  --warning-border: "#c29461";
  --player-1-background: null;
  --player-1-cursor: "#564448";
  --player-1-selection: "#e0ccd1";
  --syntax-attribute-color: "#006e93";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f6661e";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#755f64";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#755f64";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f6661e";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#df2d52";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#df2d52";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#df2d52";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#006e93";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#5e2180";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#c29461";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#df2d52";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#df2d52";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f6661e";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#564448";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#564448";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#564448";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#564448";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#564448";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#2e916d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f6661e";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#2e916d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#2e916d";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#2e916d";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#df2d52";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#2e916d";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#c29461";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#c29461";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#df2d52";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#df2d52";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
