:root {
  --background: "#282828";
  --border: "#504945";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#504945";
  --conflict: "#fabd2f";
  --conflict-background: "#282828";
  --conflict-border: "#fabd2f";
  --created: "#b8bb26";
  --created-background: "#282828";
  --created-border: "#b8bb26";
  --deleted: "#fb4934";
  --deleted-background: "#282828";
  --deleted-border: "#fb4934";
  --drop_target-background: "#504945";
  --editor-active_line-background: "#3c3836";
  --editor-active_line_number: "#ebdbb2";
  --editor-active_wrap_guide: "#665c54";
  --editor-background: "#282828";
  --editor-document_highlight-read_background: "#3c3836";
  --editor-document_highlight-write_background: "#3c3836";
  --editor-foreground: "#d5c4a1";
  --editor-gutter-background: "#282828";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#665c54";
  --editor-subheader-background: "#282828";
  --editor-wrap_guide: "#3c3836";
  --element-active: null;
  --element-background: "#3c3836";
  --element-disabled: null;
  --element-hover: "#504945";
  --element-selected: "#504945";
  --elevated_surface-background: "#282828";
  --error: "#fb4934";
  --error-background: "#282828";
  --error-border: "#fb4934";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#3c3836";
  --ghost_element-selected: "#504945";
  --hidden: "#665c54";
  --hidden-background: "#282828";
  --hidden-border: "#665c54";
  --hint: "#d5c4a1";
  --hint-background: "#282828";
  --hint-border: "#8ec07c";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#665c54";
  --ignored-background: "#282828";
  --ignored-border: "#665c54";
  --info: "#8ec07c";
  --info-background: "#282828";
  --info-border: "#8ec07c";
  --link_text-hover: "#8ec07c";
  --modified: "#83a598";
  --modified-background: "#282828";
  --modified-border: "#83a598";
  --pane-focused_border: null;
  --panel-background: "#282828";
  --panel-focused_border: "#504945";
  --predictive: "#665c54";
  --predictive-background: "#3c3836";
  --predictive-border: "#504945";
  --renamed: "#fabd2f";
  --renamed-background: "#282828";
  --renamed-border: "#fabd2f";
  --scrollbar-thumb-background: "#504945";
  --scrollbar-thumb-border: "#5049456f";
  --scrollbar-thumb-hover_background: "#665c54";
  --scrollbar-track-background: "#282828";
  --scrollbar-track-border: null;
  --search-match_background: "#504945";
  --status_bar-background: "#282828";
  --success: "#b8bb26";
  --success-background: "#282828";
  --success-border: "#b8bb26";
  --surface-background: "#282828";
  --tab-active_background: "#282828";
  --tab-inactive_background: "#3c3836";
  --tab_bar-background: "#282828";
  --terminal-ansi-black: "#282828";
  --terminal-ansi-blue: "#83a598";
  --terminal-ansi-bright_black: "#665c54";
  --terminal-ansi-bright_blue: "#83a598";
  --terminal-ansi-bright_cyan: "#8ec07c";
  --terminal-ansi-bright_green: "#b8bb26";
  --terminal-ansi-bright_magenta: "#d3869b";
  --terminal-ansi-bright_red: "#fb4934";
  --terminal-ansi-bright_white: "#fbf1c7";
  --terminal-ansi-bright_yellow: "#fabd2f";
  --terminal-ansi-cyan: "#8ec07c";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#b8bb26";
  --terminal-ansi-magenta: "#d3869b";
  --terminal-ansi-red: "#fb4934";
  --terminal-ansi-white: "#d5c4a1";
  --terminal-ansi-yellow: "#fabd2f";
  --terminal-background: "#282828";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d5c4a1";
  --text-accent: "#8ec07c";
  --text-disabled: "#504945";
  --text-muted: "#bdae93";
  --text-placeholder: "#fbf1c7";
  --title_bar-background: "#282828";
  --toolbar-background: "#282828";
  --unreachable: "#fabd2f";
  --unreachable-background: "#282828";
  --unreachable-border: "#fabd2f";
  --warning: "#fabd2f";
  --warning-background: "#282828";
  --warning-border: "#fabd2f";
  --player-1-background: null;
  --player-1-cursor: "#d5c4a1";
  --player-1-selection: "#504945";
  --syntax-attribute-color: "#83a598";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fe8019";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#665c54";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#665c54";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fe8019";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#fb4934";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#fb4934";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#fb4934";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#83a598";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#d3869b";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#fabd2f";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#fb4934";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#fb4934";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fe8019";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#d5c4a1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d5c4a1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d5c4a1";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d5c4a1";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d5c4a1";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#b8bb26";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#fe8019";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#b8bb26";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#b8bb26";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#b8bb26";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#fb4934";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#b8bb26";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#fabd2f";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#fabd2f";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#fb4934";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#fb4934";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
