:root {
  --background: "#262626";
  --border: "#5f875f";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#5f875f";
  --conflict: "#87af87";
  --conflict_background: "#262626";
  --conflict_border: "#87af87";
  --created: "#ffffaf";
  --created_background: "#262626";
  --created_border: "#ffffaf";
  --deleted: "#444444";
  --deleted_background: "#262626";
  --deleted_border: "#444444";
  --drop_target_background: "#5f875f";
  --editor_active_line_background: "#af5f5f";
  --editor_active_line_number: "#5f8787";
  --editor_active_wrap_guide: "#87875f";
  --editor_background: "#262626";
  --editor_document_highlight_read_background: "#af5f5f";
  --editor_document_highlight_write_background: "#af5f5f";
  --editor_foreground: "#5f5f87";
  --editor_gutter_background: "#262626";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#87875f";
  --editor_subheader_background: "#262626";
  --editor_wrap_guide: "#af5f5f";
  --element_active: null;
  --element_background: "#af5f5f";
  --element_disabled: null;
  --element_hover: "#5f875f";
  --element_selected: "#5f875f";
  --elevated_surface_background: "#262626";
  --error: "#444444";
  --error_background: "#262626";
  --error_border: "#444444";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#af5f5f";
  --ghost_element_selected: "#5f875f";
  --hidden: "#87875f";
  --hidden_background: "#262626";
  --hidden_border: "#87875f";
  --hint: "#5f5f87";
  --hint_background: "#262626";
  --hint_border: "#87afd7";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#87875f";
  --ignored_background: "#262626";
  --ignored_border: "#87875f";
  --info: "#87afd7";
  --info_background: "#262626";
  --info_border: "#87afd7";
  --link_text_hover: "#87afd7";
  --modified: "#8787af";
  --modified_background: "#262626";
  --modified_border: "#8787af";
  --pane_focused_border: null;
  --panel_background: "#262626";
  --panel_focused_border: "#5f875f";
  --predictive: "#87875f";
  --predictive_background: "#af5f5f";
  --predictive_border: "#5f875f";
  --renamed: "#87af87";
  --renamed_background: "#262626";
  --renamed_border: "#87af87";
  --scrollbar_thumb_background: "#5f875f";
  --scrollbar_thumb_border: "#5f875f6f";
  --scrollbar_thumb_hover_background: "#87875f";
  --scrollbar_track_background: "#262626";
  --scrollbar_track_border: null;
  --search_match_background: "#5f875f";
  --status_bar_background: "#262626";
  --success: "#ffffaf";
  --success_background: "#262626";
  --success_border: "#ffffaf";
  --surface_background: "#262626";
  --tab_active_background: "#262626";
  --tab_inactive_background: "#af5f5f";
  --tab_bar_background: "#262626";
  --terminal_ansi_black: "#262626";
  --terminal_ansi_blue: "#8787af";
  --terminal_ansi_bright_black: "#87875f";
  --terminal_ansi_bright_blue: "#8787af";
  --terminal_ansi_bright_cyan: "#87afd7";
  --terminal_ansi_bright_green: "#ffffaf";
  --terminal_ansi_bright_magenta: "#5fafaf";
  --terminal_ansi_bright_red: "#444444";
  --terminal_ansi_bright_white: "#6c6c6c";
  --terminal_ansi_bright_yellow: "#87af87";
  --terminal_ansi_cyan: "#87afd7";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#ffffaf";
  --terminal_ansi_magenta: "#5fafaf";
  --terminal_ansi_red: "#444444";
  --terminal_ansi_white: "#5f5f87";
  --terminal_ansi_yellow: "#87af87";
  --terminal_background: "#262626";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#5f5f87";
  --text_accent: "#87afd7";
  --text_disabled: "#5f875f";
  --text_muted: "#5f87af";
  --text_placeholder: "#6c6c6c";
  --title_bar_background: "#262626";
  --toolbar_background: "#262626";
  --unreachable: "#87af87";
  --unreachable_background: "#262626";
  --unreachable_border: "#87af87";
  --warning: "#87af87";
  --warning_background: "#262626";
  --warning_border: "#87af87";
  --player_1_background: null;
  --player_1_cursor: "#5f5f87";
  --player_1_selection: "#5f875f";
  --syntax_attribute_color: "#8787af";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#ff8700";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#87875f";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#87875f";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#ff8700";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#444444";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#444444";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#444444";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#8787af";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#5fafaf";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#87af87";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#444444";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#444444";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#ff8700";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#5f5f87";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#5f5f87";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#5f5f87";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#5f5f87";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#5f5f87";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#ffffaf";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#ff8700";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#ffffaf";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#ffffaf";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#ffffaf";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#444444";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#ffffaf";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#87af87";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#87af87";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#444444";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#444444";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
