:root {
  --background: "#1f1f1f";
  --border: "#2dc55e";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#2dc55e";
  --conflict: "#1dd361";
  --conflict-background: "#1f1f1f";
  --conflict-border: "#1dd361";
  --created: "#f3bd09";
  --created-background: "#1f1f1f";
  --created-border: "#f3bd09";
  --deleted: "#d6dbe5";
  --deleted-background: "#1f1f1f";
  --deleted-border: "#d6dbe5";
  --drop_target-background: "#2dc55e";
  --editor-active_line-background: "#f81118";
  --editor-active_line_number: "#1081d6";
  --editor-active_wrap_guide: "#ecba0f";
  --editor-background: "#1f1f1f";
  --editor-document_highlight-read_background: "#f81118";
  --editor-document_highlight-write_background: "#f81118";
  --editor-foreground: "#4e5ab7";
  --editor-gutter-background: "#1f1f1f";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#ecba0f";
  --editor-subheader-background: "#1f1f1f";
  --editor-wrap_guide: "#f81118";
  --element-active: null;
  --element-background: "#f81118";
  --element-disabled: null;
  --element-hover: "#2dc55e";
  --element-selected: "#2dc55e";
  --elevated_surface-background: "#1f1f1f";
  --error: "#d6dbe5";
  --error-background: "#1f1f1f";
  --error-border: "#d6dbe5";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#f81118";
  --ghost_element-selected: "#2dc55e";
  --hidden: "#ecba0f";
  --hidden-background: "#1f1f1f";
  --hidden-border: "#ecba0f";
  --hint: "#4e5ab7";
  --hint-background: "#1f1f1f";
  --hint-border: "#1081d6";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#ecba0f";
  --ignored-background: "#1f1f1f";
  --ignored-border: "#ecba0f";
  --info: "#1081d6";
  --info-background: "#1f1f1f";
  --info-border: "#1081d6";
  --link_text-hover: "#1081d6";
  --modified: "#5350b9";
  --modified-background: "#1f1f1f";
  --modified-border: "#5350b9";
  --pane-focused_border: null;
  --panel-background: "#1f1f1f";
  --panel-focused_border: "#2dc55e";
  --predictive: "#ecba0f";
  --predictive-background: "#f81118";
  --predictive-border: "#2dc55e";
  --renamed: "#1dd361";
  --renamed-background: "#1f1f1f";
  --renamed-border: "#1dd361";
  --scrollbar-thumb-background: "#2dc55e";
  --scrollbar-thumb-border: "#2dc55e6f";
  --scrollbar-thumb-hover_background: "#ecba0f";
  --scrollbar-track-background: "#1f1f1f";
  --scrollbar-track-border: null;
  --search-match_background: "#2dc55e";
  --status_bar-background: "#1f1f1f";
  --success: "#f3bd09";
  --success-background: "#1f1f1f";
  --success-border: "#f3bd09";
  --surface-background: "#1f1f1f";
  --tab-active_background: "#1f1f1f";
  --tab-inactive_background: "#f81118";
  --tab_bar-background: "#1f1f1f";
  --terminal-ansi-black: "#1f1f1f";
  --terminal-ansi-blue: "#5350b9";
  --terminal-ansi-bright_black: "#ecba0f";
  --terminal-ansi-bright_blue: "#5350b9";
  --terminal-ansi-bright_cyan: "#1081d6";
  --terminal-ansi-bright_green: "#f3bd09";
  --terminal-ansi-bright_magenta: "#0f7ddb";
  --terminal-ansi-bright_red: "#d6dbe5";
  --terminal-ansi-bright_white: "#d6dbe5";
  --terminal-ansi-bright_yellow: "#1dd361";
  --terminal-ansi-cyan: "#1081d6";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#f3bd09";
  --terminal-ansi-magenta: "#0f7ddb";
  --terminal-ansi-red: "#d6dbe5";
  --terminal-ansi-white: "#4e5ab7";
  --terminal-ansi-yellow: "#1dd361";
  --terminal-background: "#1f1f1f";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#4e5ab7";
  --text-accent: "#1081d6";
  --text-disabled: "#2dc55e";
  --text-muted: "#2a84d2";
  --text-placeholder: "#d6dbe5";
  --title_bar-background: "#1f1f1f";
  --toolbar-background: "#1f1f1f";
  --unreachable: "#1dd361";
  --unreachable-background: "#1f1f1f";
  --unreachable-border: "#1dd361";
  --warning: "#1dd361";
  --warning-background: "#1f1f1f";
  --warning-border: "#1dd361";
  --player-1-background: null;
  --player-1-cursor: "#4e5ab7";
  --player-1-selection: "#2dc55e";
  --syntax-attribute-color: "#5350b9";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#de352e";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#ecba0f";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#ecba0f";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#de352e";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d6dbe5";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#d6dbe5";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d6dbe5";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#5350b9";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#0f7ddb";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#1dd361";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#d6dbe5";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d6dbe5";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#de352e";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#4e5ab7";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#4e5ab7";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#4e5ab7";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#4e5ab7";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#4e5ab7";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#f3bd09";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#de352e";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#f3bd09";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#f3bd09";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#f3bd09";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#d6dbe5";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#f3bd09";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#1dd361";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#1dd361";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d6dbe5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#d6dbe5";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
