:root {
  --background: "#1c2023";
  --border: "#565e65";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#565e65";
  --conflict: "#aec795";
  --conflict-background: "#1c2023";
  --conflict-border: "#aec795";
  --created: "#95c7ae";
  --created-background: "#1c2023";
  --created-border: "#95c7ae";
  --deleted: "#c7ae95";
  --deleted-background: "#1c2023";
  --deleted-border: "#c7ae95";
  --drop_target-background: "#565e65";
  --editor-active_line-background: "#393f45";
  --editor-active_line_number: "#dfe2e5";
  --editor-active_wrap_guide: "#747c84";
  --editor-background: "#1c2023";
  --editor-document_highlight-read_background: "#393f45";
  --editor-document_highlight-write_background: "#393f45";
  --editor-foreground: "#c7ccd1";
  --editor-gutter-background: "#1c2023";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#747c84";
  --editor-subheader-background: "#1c2023";
  --editor-wrap_guide: "#393f45";
  --element-active: null;
  --element-background: "#393f45";
  --element-disabled: null;
  --element-hover: "#565e65";
  --element-selected: "#565e65";
  --elevated_surface-background: "#1c2023";
  --error: "#c7ae95";
  --error-background: "#1c2023";
  --error-border: "#c7ae95";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#393f45";
  --ghost_element-selected: "#565e65";
  --hidden: "#747c84";
  --hidden-background: "#1c2023";
  --hidden-border: "#747c84";
  --hint: "#c7ccd1";
  --hint-background: "#1c2023";
  --hint-border: "#95aec7";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#747c84";
  --ignored-background: "#1c2023";
  --ignored-border: "#747c84";
  --info: "#95aec7";
  --info-background: "#1c2023";
  --info-border: "#95aec7";
  --link_text-hover: "#95aec7";
  --modified: "#ae95c7";
  --modified-background: "#1c2023";
  --modified-border: "#ae95c7";
  --pane-focused_border: null;
  --panel-background: "#1c2023";
  --panel-focused_border: "#565e65";
  --predictive: "#747c84";
  --predictive-background: "#393f45";
  --predictive-border: "#565e65";
  --renamed: "#aec795";
  --renamed-background: "#1c2023";
  --renamed-border: "#aec795";
  --scrollbar-thumb-background: "#565e65";
  --scrollbar-thumb-border: "#565e656f";
  --scrollbar-thumb-hover_background: "#747c84";
  --scrollbar-track-background: "#1c2023";
  --scrollbar-track-border: null;
  --search-match_background: "#565e65";
  --status_bar-background: "#1c2023";
  --success: "#95c7ae";
  --success-background: "#1c2023";
  --success-border: "#95c7ae";
  --surface-background: "#1c2023";
  --tab-active_background: "#1c2023";
  --tab-inactive_background: "#393f45";
  --tab_bar-background: "#1c2023";
  --terminal-ansi-black: "#1c2023";
  --terminal-ansi-blue: "#ae95c7";
  --terminal-ansi-bright_black: "#747c84";
  --terminal-ansi-bright_blue: "#ae95c7";
  --terminal-ansi-bright_cyan: "#95aec7";
  --terminal-ansi-bright_green: "#95c7ae";
  --terminal-ansi-bright_magenta: "#c795ae";
  --terminal-ansi-bright_red: "#c7ae95";
  --terminal-ansi-bright_white: "#f3f4f5";
  --terminal-ansi-bright_yellow: "#aec795";
  --terminal-ansi-cyan: "#95aec7";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#95c7ae";
  --terminal-ansi-magenta: "#c795ae";
  --terminal-ansi-red: "#c7ae95";
  --terminal-ansi-white: "#c7ccd1";
  --terminal-ansi-yellow: "#aec795";
  --terminal-background: "#1c2023";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#c7ccd1";
  --text-accent: "#95aec7";
  --text-disabled: "#565e65";
  --text-muted: "#adb3ba";
  --text-placeholder: "#f3f4f5";
  --title_bar-background: "#1c2023";
  --toolbar-background: "#1c2023";
  --unreachable: "#aec795";
  --unreachable-background: "#1c2023";
  --unreachable-border: "#aec795";
  --warning: "#aec795";
  --warning-background: "#1c2023";
  --warning-border: "#aec795";
  --player-1-background: null;
  --player-1-cursor: "#c7ccd1";
  --player-1-selection: "#565e65";
  --syntax-attribute-color: "#ae95c7";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#c7c795";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#747c84";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#747c84";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#c7c795";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#c7ae95";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#c7ae95";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c7ae95";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#ae95c7";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#c795ae";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#aec795";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#c7ae95";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#c7ae95";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#c7c795";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#c7ccd1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c7ccd1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c7ccd1";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#c7ccd1";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c7ccd1";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#95c7ae";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#c7c795";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#95c7ae";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#95c7ae";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#95c7ae";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#c7ae95";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#95c7ae";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#aec795";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#aec795";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c7ae95";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c7ae95";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
