:root {
  --background: "#e9f1ef";
  --border: "#90b7b6";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#90b7b6";
  --conflict: "#cfad25";
  --conflict-background: "#e9f1ef";
  --conflict-border: "#cfad25";
  --created: "#6ca38c";
  --created-background: "#e9f1ef";
  --created-border: "#6ca38c";
  --deleted: "#cf432e";
  --deleted-background: "#e9f1ef";
  --deleted-border: "#cf432e";
  --drop_target-background: "#90b7b6";
  --editor-active_line-background: "#ccd4d3";
  --editor-active_line_number: "#0e3c46";
  --editor-active_wrap_guide: "#5c787b";
  --editor-background: "#e9f1ef";
  --editor-document_highlight-read_background: "#ccd4d3";
  --editor-document_highlight-write_background: "#ccd4d3";
  --editor-foreground: "#385156";
  --editor-gutter-background: "#e9f1ef";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#5c787b";
  --editor-subheader-background: "#e9f1ef";
  --editor-wrap_guide: "#ccd4d3";
  --element-active: null;
  --element-background: "#ccd4d3";
  --element-disabled: null;
  --element-hover: "#90b7b6";
  --element-selected: "#90b7b6";
  --elevated_surface-background: "#e9f1ef";
  --error: "#cf432e";
  --error-background: "#e9f1ef";
  --error-border: "#cf432e";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#ccd4d3";
  --ghost_element-selected: "#90b7b6";
  --hidden: "#5c787b";
  --hidden-background: "#e9f1ef";
  --hidden-border: "#5c787b";
  --hint: "#385156";
  --hint-background: "#e9f1ef";
  --hint-border: "#329ca2";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#5c787b";
  --ignored-background: "#e9f1ef";
  --ignored-border: "#5c787b";
  --info: "#329ca2";
  --info-background: "#e9f1ef";
  --info-border: "#329ca2";
  --link_text-hover: "#329ca2";
  --modified: "#39aac9";
  --modified-background: "#e9f1ef";
  --modified-border: "#39aac9";
  --pane-focused_border: null;
  --panel-background: "#e9f1ef";
  --panel-focused_border: "#90b7b6";
  --predictive: "#5c787b";
  --predictive-background: "#ccd4d3";
  --predictive-border: "#90b7b6";
  --renamed: "#cfad25";
  --renamed-background: "#e9f1ef";
  --renamed-border: "#cfad25";
  --scrollbar-thumb-background: "#90b7b6";
  --scrollbar-thumb-border: "#90b7b66f";
  --scrollbar-thumb-hover_background: "#5c787b";
  --scrollbar-track-background: "#e9f1ef";
  --scrollbar-track-border: null;
  --search-match_background: "#90b7b6";
  --status_bar-background: "#e9f1ef";
  --success: "#6ca38c";
  --success-background: "#e9f1ef";
  --success-border: "#6ca38c";
  --surface-background: "#e9f1ef";
  --tab-active_background: "#e9f1ef";
  --tab-inactive_background: "#ccd4d3";
  --tab_bar-background: "#e9f1ef";
  --terminal-ansi-black: "#e9f1ef";
  --terminal-ansi-blue: "#39aac9";
  --terminal-ansi-bright_black: "#5c787b";
  --terminal-ansi-bright_blue: "#39aac9";
  --terminal-ansi-bright_cyan: "#329ca2";
  --terminal-ansi-bright_green: "#6ca38c";
  --terminal-ansi-bright_magenta: "#6e6582";
  --terminal-ansi-bright_red: "#cf432e";
  --terminal-ansi-bright_white: "#d2faff";
  --terminal-ansi-bright_yellow: "#cfad25";
  --terminal-ansi-cyan: "#329ca2";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#6ca38c";
  --terminal-ansi-magenta: "#6e6582";
  --terminal-ansi-red: "#cf432e";
  --terminal-ansi-white: "#385156";
  --terminal-ansi-yellow: "#cfad25";
  --terminal-background: "#e9f1ef";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#385156";
  --text-accent: "#329ca2";
  --text-disabled: "#90b7b6";
  --text-muted: "#4b5b5f";
  --text-placeholder: "#d2faff";
  --title_bar-background: "#e9f1ef";
  --toolbar-background: "#e9f1ef";
  --unreachable: "#cfad25";
  --unreachable-background: "#e9f1ef";
  --unreachable-border: "#cfad25";
  --warning: "#cfad25";
  --warning-background: "#e9f1ef";
  --warning-border: "#cfad25";
  --player-1-background: null;
  --player-1-cursor: "#385156";
  --player-1-selection: "#90b7b6";
  --syntax-attribute-color: "#39aac9";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d27f46";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#5c787b";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#5c787b";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d27f46";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#cf432e";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#cf432e";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#cf432e";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#39aac9";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#6e6582";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#cfad25";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#cf432e";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#cf432e";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d27f46";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#385156";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#385156";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#385156";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#385156";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#385156";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#6ca38c";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d27f46";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#6ca38c";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#6ca38c";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#6ca38c";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#cf432e";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#6ca38c";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#cfad25";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#cfad25";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#cf432e";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#cf432e";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
