:root {
  --background: "#222222";
  --border: "#555d55";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#555d55";
  --conflict: "#d8b56d";
  --conflict-background: "#222222";
  --conflict-border: "#d8b56d";
  --created: "#99c899";
  --created-background: "#222222";
  --created-border: "#99c899";
  --deleted: "#c88c8c";
  --deleted-background: "#222222";
  --deleted-border: "#c88c8c";
  --drop_target-background: "#555d55";
  --editor-active_line-background: "#313131";
  --editor-active_line_number: "#c3c3b4";
  --editor-active_wrap_guide: "#644646";
  --editor-background: "#222222";
  --editor-document_highlight-read_background: "#313131";
  --editor-document_highlight-write_background: "#313131";
  --editor-foreground: "#dedee7";
  --editor-gutter-background: "#222222";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#644646";
  --editor-subheader-background: "#222222";
  --editor-wrap_guide: "#313131";
  --element-active: null;
  --element-background: "#313131";
  --element-disabled: null;
  --element-hover: "#555d55";
  --element-selected: "#555d55";
  --elevated_surface-background: "#222222";
  --error: "#c88c8c";
  --error-background: "#222222";
  --error-border: "#c88c8c";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#313131";
  --ghost_element-selected: "#555d55";
  --hidden: "#644646";
  --hidden-background: "#222222";
  --hidden-border: "#644646";
  --hint: "#dedee7";
  --hint-background: "#222222";
  --hint-border: "#78b4b4";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#644646";
  --ignored-background: "#222222";
  --ignored-border: "#644646";
  --info: "#78b4b4";
  --info-background: "#222222";
  --info-border: "#78b4b4";
  --link_text-hover: "#78b4b4";
  --modified: "#537c9c";
  --modified-background: "#222222";
  --modified-border: "#537c9c";
  --pane-focused_border: null;
  --panel-background: "#222222";
  --panel-focused_border: "#555d55";
  --predictive: "#644646";
  --predictive-background: "#313131";
  --predictive-border: "#555d55";
  --renamed: "#d8b56d";
  --renamed-background: "#222222";
  --renamed-border: "#d8b56d";
  --scrollbar-thumb-background: "#555d55";
  --scrollbar-thumb-border: "#555d556f";
  --scrollbar-thumb-hover_background: "#644646";
  --scrollbar-track-background: "#222222";
  --scrollbar-track-border: null;
  --search-match_background: "#555d55";
  --status_bar-background: "#222222";
  --success: "#99c899";
  --success-background: "#222222";
  --success-border: "#99c899";
  --surface-background: "#222222";
  --tab-active_background: "#222222";
  --tab-inactive_background: "#313131";
  --tab_bar-background: "#222222";
  --terminal-ansi-black: "#222222";
  --terminal-ansi-blue: "#537c9c";
  --terminal-ansi-bright_black: "#644646";
  --terminal-ansi-bright_blue: "#537c9c";
  --terminal-ansi-bright_cyan: "#78b4b4";
  --terminal-ansi-bright_green: "#99c899";
  --terminal-ansi-bright_magenta: "#86cacd";
  --terminal-ansi-bright_red: "#c88c8c";
  --terminal-ansi-bright_white: "#ffffe6";
  --terminal-ansi-bright_yellow: "#d8b56d";
  --terminal-ansi-cyan: "#78b4b4";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#99c899";
  --terminal-ansi-magenta: "#86cacd";
  --terminal-ansi-red: "#c88c8c";
  --terminal-ansi-white: "#dedee7";
  --terminal-ansi-yellow: "#d8b56d";
  --terminal-background: "#222222";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#dedee7";
  --text-accent: "#78b4b4";
  --text-disabled: "#555d55";
  --text-muted: "#5a5a5a";
  --text-placeholder: "#ffffe6";
  --title_bar-background: "#222222";
  --toolbar-background: "#222222";
  --unreachable: "#d8b56d";
  --unreachable-background: "#222222";
  --unreachable-border: "#d8b56d";
  --warning: "#d8b56d";
  --warning-background: "#222222";
  --warning-border: "#d8b56d";
  --player-1-background: null;
  --player-1-cursor: "#dedee7";
  --player-1-selection: "#555d55";
  --syntax-attribute-color: "#537c9c";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#476c88";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#644646";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#644646";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#476c88";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#c88c8c";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#c88c8c";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c88c8c";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#537c9c";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#86cacd";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#d8b56d";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#c88c8c";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#c88c8c";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#476c88";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#dedee7";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#dedee7";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#dedee7";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#dedee7";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#dedee7";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#99c899";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#476c88";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#99c899";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#99c899";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#99c899";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#c88c8c";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#99c899";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#d8b56d";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#d8b56d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c88c8c";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c88c8c";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
