:root {
  --background: "#292a44";
  --border: "#383a62";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#383a62";
  --conflict: "#ae81ff";
  --conflict_background: "#292a44";
  --conflict_border: "#ae81ff";
  --created: "#6dfedf";
  --created_background: "#292a44";
  --created_border: "#6dfedf";
  --deleted: "#a0a0c5";
  --deleted_background: "#292a44";
  --deleted_border: "#a0a0c5";
  --drop_target_background: "#383a62";
  --editor_active_line_background: "#663399";
  --editor_active_line_number: "#ccccff";
  --editor_active_wrap_guide: "#666699";
  --editor_background: "#292a44";
  --editor_document_highlight_read_background: "#663399";
  --editor_document_highlight_write_background: "#663399";
  --editor_foreground: "#f1eff8";
  --editor_gutter_background: "#292a44";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#666699";
  --editor_subheader_background: "#292a44";
  --editor_wrap_guide: "#663399";
  --element_active: null;
  --element_background: "#663399";
  --element_disabled: null;
  --element_hover: "#383a62";
  --element_selected: "#383a62";
  --elevated_surface_background: "#292a44";
  --error: "#a0a0c5";
  --error_background: "#292a44";
  --error_border: "#a0a0c5";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#663399";
  --ghost_element_selected: "#383a62";
  --hidden: "#666699";
  --hidden_background: "#292a44";
  --hidden_border: "#666699";
  --hint: "#f1eff8";
  --hint_background: "#292a44";
  --hint_border: "#8eaee0";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#666699";
  --ignored_background: "#292a44";
  --ignored_border: "#666699";
  --info: "#8eaee0";
  --info_background: "#292a44";
  --info_border: "#8eaee0";
  --link_text_hover: "#8eaee0";
  --modified: "#2de0a7";
  --modified_background: "#292a44";
  --modified_border: "#2de0a7";
  --pane_focused_border: null;
  --panel_background: "#292a44";
  --panel_focused_border: "#383a62";
  --predictive: "#666699";
  --predictive_background: "#663399";
  --predictive_border: "#383a62";
  --renamed: "#ae81ff";
  --renamed_background: "#292a44";
  --renamed_border: "#ae81ff";
  --scrollbar_thumb_background: "#383a62";
  --scrollbar_thumb_border: "#383a626f";
  --scrollbar_thumb_hover_background: "#666699";
  --scrollbar_track_background: "#292a44";
  --scrollbar_track_border: null;
  --search_match_background: "#383a62";
  --status_bar_background: "#292a44";
  --success: "#6dfedf";
  --success_background: "#292a44";
  --success_border: "#6dfedf";
  --surface_background: "#292a44";
  --tab_active_background: "#292a44";
  --tab_inactive_background: "#663399";
  --tab_bar_background: "#292a44";
  --terminal_ansi_black: "#292a44";
  --terminal_ansi_blue: "#2de0a7";
  --terminal_ansi_bright_black: "#666699";
  --terminal_ansi_bright_blue: "#2de0a7";
  --terminal_ansi_bright_cyan: "#8eaee0";
  --terminal_ansi_bright_green: "#6dfedf";
  --terminal_ansi_bright_magenta: "#7aa5ff";
  --terminal_ansi_bright_red: "#a0a0c5";
  --terminal_ansi_bright_white: "#53495d";
  --terminal_ansi_bright_yellow: "#ae81ff";
  --terminal_ansi_cyan: "#8eaee0";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#6dfedf";
  --terminal_ansi_magenta: "#7aa5ff";
  --terminal_ansi_red: "#a0a0c5";
  --terminal_ansi_white: "#f1eff8";
  --terminal_ansi_yellow: "#ae81ff";
  --terminal_background: "#292a44";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#f1eff8";
  --text_accent: "#8eaee0";
  --text_disabled: "#383a62";
  --text_muted: "#a0a0c5";
  --text_placeholder: "#53495d";
  --title_bar_background: "#292a44";
  --toolbar_background: "#292a44";
  --unreachable: "#ae81ff";
  --unreachable_background: "#292a44";
  --unreachable_border: "#ae81ff";
  --warning: "#ae81ff";
  --warning_background: "#292a44";
  --warning_border: "#ae81ff";
  --player_1_background: null;
  --player_1_cursor: "#f1eff8";
  --player_1_selection: "#383a62";
  --syntax_attribute_color: "#2de0a7";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#efe4a1";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#666699";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#666699";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#efe4a1";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#a0a0c5";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#a0a0c5";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#a0a0c5";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#2de0a7";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#7aa5ff";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#ae81ff";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#a0a0c5";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#a0a0c5";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#efe4a1";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#f1eff8";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#f1eff8";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#f1eff8";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#f1eff8";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#f1eff8";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#6dfedf";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#efe4a1";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#6dfedf";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#6dfedf";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#6dfedf";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#a0a0c5";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#6dfedf";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#ae81ff";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#ae81ff";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#a0a0c5";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#a0a0c5";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
