:root {
  --background: "#161616";
  --border: "#393939";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#393939";
  --conflict: "#ee5396";
  --conflict-background: "#161616";
  --conflict-border: "#ee5396";
  --created: "#33b1ff";
  --created-background: "#161616";
  --created-border: "#33b1ff";
  --deleted: "#3ddbd9";
  --deleted-background: "#161616";
  --deleted-border: "#3ddbd9";
  --drop_target-background: "#393939";
  --editor-active_line-background: "#262626";
  --editor-active_line_number: "#ffffff";
  --editor-active_wrap_guide: "#525252";
  --editor-background: "#161616";
  --editor-document_highlight-read_background: "#262626";
  --editor-document_highlight-write_background: "#262626";
  --editor-foreground: "#f2f4f8";
  --editor-gutter-background: "#161616";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#525252";
  --editor-subheader-background: "#161616";
  --editor-wrap_guide: "#262626";
  --element-active: null;
  --element-background: "#262626";
  --element-disabled: null;
  --element-hover: "#393939";
  --element-selected: "#393939";
  --elevated_surface-background: "#161616";
  --error: "#3ddbd9";
  --error-background: "#161616";
  --error-border: "#3ddbd9";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#262626";
  --ghost_element-selected: "#393939";
  --hidden: "#525252";
  --hidden-background: "#161616";
  --hidden-border: "#525252";
  --hint: "#f2f4f8";
  --hint-background: "#161616";
  --hint-border: "#ff7eb6";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#525252";
  --ignored-background: "#161616";
  --ignored-border: "#525252";
  --info: "#ff7eb6";
  --info-background: "#161616";
  --info-border: "#ff7eb6";
  --link_text-hover: "#ff7eb6";
  --modified: "#42be65";
  --modified-background: "#161616";
  --modified-border: "#42be65";
  --pane-focused_border: null;
  --panel-background: "#161616";
  --panel-focused_border: "#393939";
  --predictive: "#525252";
  --predictive-background: "#262626";
  --predictive-border: "#393939";
  --renamed: "#ee5396";
  --renamed-background: "#161616";
  --renamed-border: "#ee5396";
  --scrollbar-thumb-background: "#393939";
  --scrollbar-thumb-border: "#3939396f";
  --scrollbar-thumb-hover_background: "#525252";
  --scrollbar-track-background: "#161616";
  --scrollbar-track-border: null;
  --search-match_background: "#393939";
  --status_bar-background: "#161616";
  --success: "#33b1ff";
  --success-background: "#161616";
  --success-border: "#33b1ff";
  --surface-background: "#161616";
  --tab-active_background: "#161616";
  --tab-inactive_background: "#262626";
  --tab_bar-background: "#161616";
  --terminal-ansi-black: "#161616";
  --terminal-ansi-blue: "#42be65";
  --terminal-ansi-bright_black: "#525252";
  --terminal-ansi-bright_blue: "#42be65";
  --terminal-ansi-bright_cyan: "#ff7eb6";
  --terminal-ansi-bright_green: "#33b1ff";
  --terminal-ansi-bright_magenta: "#be95ff";
  --terminal-ansi-bright_red: "#3ddbd9";
  --terminal-ansi-bright_white: "#08bdba";
  --terminal-ansi-bright_yellow: "#ee5396";
  --terminal-ansi-cyan: "#ff7eb6";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#33b1ff";
  --terminal-ansi-magenta: "#be95ff";
  --terminal-ansi-red: "#3ddbd9";
  --terminal-ansi-white: "#f2f4f8";
  --terminal-ansi-yellow: "#ee5396";
  --terminal-background: "#161616";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#f2f4f8";
  --text-accent: "#ff7eb6";
  --text-disabled: "#393939";
  --text-muted: "#dde1e6";
  --text-placeholder: "#08bdba";
  --title_bar-background: "#161616";
  --toolbar-background: "#161616";
  --unreachable: "#ee5396";
  --unreachable-background: "#161616";
  --unreachable-border: "#ee5396";
  --warning: "#ee5396";
  --warning-background: "#161616";
  --warning-border: "#ee5396";
  --player-1-background: null;
  --player-1-cursor: "#f2f4f8";
  --player-1-selection: "#393939";
  --syntax-attribute-color: "#42be65";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#78a9ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#525252";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#525252";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#78a9ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#3ddbd9";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#3ddbd9";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#3ddbd9";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#42be65";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#be95ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ee5396";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#3ddbd9";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#3ddbd9";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#78a9ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#f2f4f8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#f2f4f8";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#f2f4f8";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#f2f4f8";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#f2f4f8";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#33b1ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#78a9ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#33b1ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#33b1ff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#33b1ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#3ddbd9";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#33b1ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ee5396";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ee5396";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#3ddbd9";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#3ddbd9";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
