:root {
  --background: "#282a36";
  --border: "#43454f";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#43454f";
  --conflict: "#f3f99d";
  --conflict-background: "#282a36";
  --conflict-border: "#f3f99d";
  --created: "#5af78e";
  --created-background: "#282a36";
  --created-border: "#5af78e";
  --deleted: "#ff5c57";
  --deleted-background: "#282a36";
  --deleted-border: "#ff5c57";
  --drop_target-background: "#43454f";
  --editor-active_line-background: "#34353e";
  --editor-active_line_number: "#eff0eb";
  --editor-active_wrap_guide: "#78787e";
  --editor-background: "#282a36";
  --editor-document_highlight-read_background: "#34353e";
  --editor-document_highlight-write_background: "#34353e";
  --editor-foreground: "#e2e4e5";
  --editor-gutter-background: "#282a36";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#78787e";
  --editor-subheader-background: "#282a36";
  --editor-wrap_guide: "#34353e";
  --element-active: null;
  --element-background: "#34353e";
  --element-disabled: null;
  --element-hover: "#43454f";
  --element-selected: "#43454f";
  --elevated_surface-background: "#282a36";
  --error: "#ff5c57";
  --error-background: "#282a36";
  --error-border: "#ff5c57";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#34353e";
  --ghost_element-selected: "#43454f";
  --hidden: "#78787e";
  --hidden-background: "#282a36";
  --hidden-border: "#78787e";
  --hint: "#e2e4e5";
  --hint-background: "#282a36";
  --hint-border: "#9aedfe";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#78787e";
  --ignored-background: "#282a36";
  --ignored-border: "#78787e";
  --info: "#9aedfe";
  --info-background: "#282a36";
  --info-border: "#9aedfe";
  --link_text-hover: "#9aedfe";
  --modified: "#57c7ff";
  --modified-background: "#282a36";
  --modified-border: "#57c7ff";
  --pane-focused_border: null;
  --panel-background: "#282a36";
  --panel-focused_border: "#43454f";
  --predictive: "#78787e";
  --predictive-background: "#34353e";
  --predictive-border: "#43454f";
  --renamed: "#f3f99d";
  --renamed-background: "#282a36";
  --renamed-border: "#f3f99d";
  --scrollbar-thumb-background: "#43454f";
  --scrollbar-thumb-border: "#43454f6f";
  --scrollbar-thumb-hover_background: "#78787e";
  --scrollbar-track-background: "#282a36";
  --scrollbar-track-border: null;
  --search-match_background: "#43454f";
  --status_bar-background: "#282a36";
  --success: "#5af78e";
  --success-background: "#282a36";
  --success-border: "#5af78e";
  --surface-background: "#282a36";
  --tab-active_background: "#282a36";
  --tab-inactive_background: "#34353e";
  --tab_bar-background: "#282a36";
  --terminal-ansi-black: "#282a36";
  --terminal-ansi-blue: "#57c7ff";
  --terminal-ansi-bright_black: "#78787e";
  --terminal-ansi-bright_blue: "#57c7ff";
  --terminal-ansi-bright_cyan: "#9aedfe";
  --terminal-ansi-bright_green: "#5af78e";
  --terminal-ansi-bright_magenta: "#ff6ac1";
  --terminal-ansi-bright_red: "#ff5c57";
  --terminal-ansi-bright_white: "#f1f1f0";
  --terminal-ansi-bright_yellow: "#f3f99d";
  --terminal-ansi-cyan: "#9aedfe";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#5af78e";
  --terminal-ansi-magenta: "#ff6ac1";
  --terminal-ansi-red: "#ff5c57";
  --terminal-ansi-white: "#e2e4e5";
  --terminal-ansi-yellow: "#f3f99d";
  --terminal-background: "#282a36";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#e2e4e5";
  --text-accent: "#9aedfe";
  --text-disabled: "#43454f";
  --text-muted: "#a5a5a9";
  --text-placeholder: "#f1f1f0";
  --title_bar-background: "#282a36";
  --toolbar-background: "#282a36";
  --unreachable: "#f3f99d";
  --unreachable-background: "#282a36";
  --unreachable-border: "#f3f99d";
  --warning: "#f3f99d";
  --warning-background: "#282a36";
  --warning-border: "#f3f99d";
  --player-1-background: null;
  --player-1-cursor: "#e2e4e5";
  --player-1-selection: "#43454f";
  --syntax-attribute-color: "#57c7ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ff9f43";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#78787e";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#78787e";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ff9f43";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff5c57";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff5c57";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff5c57";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#57c7ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ff6ac1";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f3f99d";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ff5c57";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ff5c57";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ff9f43";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#e2e4e5";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#e2e4e5";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#e2e4e5";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#e2e4e5";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#e2e4e5";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#5af78e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ff9f43";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#5af78e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#5af78e";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#5af78e";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ff5c57";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#5af78e";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f3f99d";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f3f99d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ff5c57";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ff5c57";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
