:root {
  --background: "#19171c";
  --border: "#585260";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#585260";
  --conflict: "#a06e3b";
  --conflict-background: "#19171c";
  --conflict-border: "#a06e3b";
  --created: "#2a9292";
  --created-background: "#19171c";
  --created-border: "#2a9292";
  --deleted: "#be4678";
  --deleted-background: "#19171c";
  --deleted-border: "#be4678";
  --drop_target-background: "#585260";
  --editor-active_line-background: "#26232a";
  --editor-active_line_number: "#e2dfe7";
  --editor-active_wrap_guide: "#655f6d";
  --editor-background: "#19171c";
  --editor-document_highlight-read_background: "#26232a";
  --editor-document_highlight-write_background: "#26232a";
  --editor-foreground: "#8b8792";
  --editor-gutter-background: "#19171c";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#655f6d";
  --editor-subheader-background: "#19171c";
  --editor-wrap_guide: "#26232a";
  --element-active: null;
  --element-background: "#26232a";
  --element-disabled: null;
  --element-hover: "#585260";
  --element-selected: "#585260";
  --elevated_surface-background: "#19171c";
  --error: "#be4678";
  --error-background: "#19171c";
  --error-border: "#be4678";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#26232a";
  --ghost_element-selected: "#585260";
  --hidden: "#655f6d";
  --hidden-background: "#19171c";
  --hidden-border: "#655f6d";
  --hint: "#8b8792";
  --hint-background: "#19171c";
  --hint-border: "#398bc6";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#655f6d";
  --ignored-background: "#19171c";
  --ignored-border: "#655f6d";
  --info: "#398bc6";
  --info-background: "#19171c";
  --info-border: "#398bc6";
  --link_text-hover: "#398bc6";
  --modified: "#576ddb";
  --modified-background: "#19171c";
  --modified-border: "#576ddb";
  --pane-focused_border: null;
  --panel-background: "#19171c";
  --panel-focused_border: "#585260";
  --predictive: "#655f6d";
  --predictive-background: "#26232a";
  --predictive-border: "#585260";
  --renamed: "#a06e3b";
  --renamed-background: "#19171c";
  --renamed-border: "#a06e3b";
  --scrollbar-thumb-background: "#585260";
  --scrollbar-thumb-border: "#5852606f";
  --scrollbar-thumb-hover_background: "#655f6d";
  --scrollbar-track-background: "#19171c";
  --scrollbar-track-border: null;
  --search-match_background: "#585260";
  --status_bar-background: "#19171c";
  --success: "#2a9292";
  --success-background: "#19171c";
  --success-border: "#2a9292";
  --surface-background: "#19171c";
  --tab-active_background: "#19171c";
  --tab-inactive_background: "#26232a";
  --tab_bar-background: "#19171c";
  --terminal-ansi-black: "#19171c";
  --terminal-ansi-blue: "#576ddb";
  --terminal-ansi-bright_black: "#655f6d";
  --terminal-ansi-bright_blue: "#576ddb";
  --terminal-ansi-bright_cyan: "#398bc6";
  --terminal-ansi-bright_green: "#2a9292";
  --terminal-ansi-bright_magenta: "#955ae7";
  --terminal-ansi-bright_red: "#be4678";
  --terminal-ansi-bright_white: "#efecf4";
  --terminal-ansi-bright_yellow: "#a06e3b";
  --terminal-ansi-cyan: "#398bc6";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#2a9292";
  --terminal-ansi-magenta: "#955ae7";
  --terminal-ansi-red: "#be4678";
  --terminal-ansi-white: "#8b8792";
  --terminal-ansi-yellow: "#a06e3b";
  --terminal-background: "#19171c";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#8b8792";
  --text-accent: "#398bc6";
  --text-disabled: "#585260";
  --text-muted: "#7e7887";
  --text-placeholder: "#efecf4";
  --title_bar-background: "#19171c";
  --toolbar-background: "#19171c";
  --unreachable: "#a06e3b";
  --unreachable-background: "#19171c";
  --unreachable-border: "#a06e3b";
  --warning: "#a06e3b";
  --warning-background: "#19171c";
  --warning-border: "#a06e3b";
  --player-1-background: null;
  --player-1-cursor: "#8b8792";
  --player-1-selection: "#585260";
  --syntax-attribute-color: "#576ddb";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#aa573c";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#655f6d";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#655f6d";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#aa573c";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#be4678";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#be4678";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#be4678";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#576ddb";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#955ae7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#a06e3b";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#be4678";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#be4678";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#aa573c";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#8b8792";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#8b8792";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#8b8792";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#8b8792";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#8b8792";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#2a9292";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#aa573c";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#2a9292";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#2a9292";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#2a9292";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#be4678";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#2a9292";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#a06e3b";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#a06e3b";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#be4678";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#be4678";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
