:root {
  --background: "#fbfbfd";
  --border: "#edeff6";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#edeff6";
  --conflict: "#4c505e";
  --conflict-background: "#fbfbfd";
  --conflict-border: "#4c505e";
  --created: "#485e30";
  --created-background: "#fbfbfd";
  --created-border: "#485e30";
  --deleted: "#8c4351";
  --deleted-background: "#fbfbfd";
  --deleted-border: "#8c4351";
  --drop_target-background: "#edeff6";
  --editor-active_line-background: "#f6f6f8";
  --editor-active_line_number: "#1d252c";
  --editor-active_wrap_guide: "#9699a3";
  --editor-background: "#fbfbfd";
  --editor-document_highlight-read_background: "#f6f6f8";
  --editor-document_highlight-write_background: "#f6f6f8";
  --editor-foreground: "#343b59";
  --editor-gutter-background: "#fbfbfd";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#9699a3";
  --editor-subheader-background: "#fbfbfd";
  --editor-wrap_guide: "#f6f6f8";
  --element-active: null;
  --element-background: "#f6f6f8";
  --element-disabled: null;
  --element-hover: "#edeff6";
  --element-selected: "#edeff6";
  --elevated_surface-background: "#fbfbfd";
  --error: "#8c4351";
  --error-background: "#fbfbfd";
  --error-border: "#8c4351";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#f6f6f8";
  --ghost_element-selected: "#edeff6";
  --hidden: "#9699a3";
  --hidden-background: "#fbfbfd";
  --hidden-border: "#9699a3";
  --hint: "#343b59";
  --hint-background: "#fbfbfd";
  --hint-border: "#4c505e";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#9699a3";
  --ignored-background: "#fbfbfd";
  --ignored-border: "#9699a3";
  --info: "#4c505e";
  --info-background: "#fbfbfd";
  --info-border: "#4c505e";
  --link_text-hover: "#4c505e";
  --modified: "#34548a";
  --modified-background: "#fbfbfd";
  --modified-border: "#34548a";
  --pane-focused_border: null;
  --panel-background: "#fbfbfd";
  --panel-focused_border: "#edeff6";
  --predictive: "#9699a3";
  --predictive-background: "#f6f6f8";
  --predictive-border: "#edeff6";
  --renamed: "#4c505e";
  --renamed-background: "#fbfbfd";
  --renamed-border: "#4c505e";
  --scrollbar-thumb-background: "#edeff6";
  --scrollbar-thumb-border: "#edeff66f";
  --scrollbar-thumb-hover_background: "#9699a3";
  --scrollbar-track-background: "#fbfbfd";
  --scrollbar-track-border: null;
  --search-match_background: "#edeff6";
  --status_bar-background: "#fbfbfd";
  --success: "#485e30";
  --success-background: "#fbfbfd";
  --success-border: "#485e30";
  --surface-background: "#fbfbfd";
  --tab-active_background: "#fbfbfd";
  --tab-inactive_background: "#f6f6f8";
  --tab_bar-background: "#fbfbfd";
  --terminal-ansi-black: "#fbfbfd";
  --terminal-ansi-blue: "#34548a";
  --terminal-ansi-bright_black: "#9699a3";
  --terminal-ansi-bright_blue: "#34548a";
  --terminal-ansi-bright_cyan: "#4c505e";
  --terminal-ansi-bright_green: "#485e30";
  --terminal-ansi-bright_magenta: "#5a4a78";
  --terminal-ansi-bright_red: "#8c4351";
  --terminal-ansi-bright_white: "#171d23";
  --terminal-ansi-bright_yellow: "#4c505e";
  --terminal-ansi-cyan: "#4c505e";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#485e30";
  --terminal-ansi-magenta: "#5a4a78";
  --terminal-ansi-red: "#8c4351";
  --terminal-ansi-white: "#343b59";
  --terminal-ansi-yellow: "#4c505e";
  --terminal-background: "#fbfbfd";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#343b59";
  --text-accent: "#4c505e";
  --text-disabled: "#edeff6";
  --text-muted: "#4c505e";
  --text-placeholder: "#171d23";
  --title_bar-background: "#fbfbfd";
  --toolbar-background: "#fbfbfd";
  --unreachable: "#4c505e";
  --unreachable-background: "#fbfbfd";
  --unreachable-border: "#4c505e";
  --warning: "#4c505e";
  --warning-background: "#fbfbfd";
  --warning-border: "#4c505e";
  --player-1-background: null;
  --player-1-cursor: "#343b59";
  --player-1-selection: "#edeff6";
  --syntax-attribute-color: "#34548a";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#965027";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9699a3";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9699a3";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#965027";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#8c4351";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#8c4351";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#8c4351";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#34548a";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#5a4a78";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#4c505e";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#8c4351";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#8c4351";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#965027";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#343b59";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#343b59";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#343b59";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#343b59";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#343b59";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#485e30";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#965027";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#485e30";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#485e30";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#485e30";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8c4351";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#485e30";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#4c505e";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#4c505e";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#8c4351";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#8c4351";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
