:root {
  --background: "#f2f2f2";
  --border: "#d9d9d9";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#d9d9d9";
  --conflict: "#c19c00";
  --conflict-background: "#f2f2f2";
  --conflict-border: "#c19c00";
  --created: "#13a10e";
  --created-background: "#f2f2f2";
  --created-border: "#13a10e";
  --deleted: "#c50f1f";
  --deleted-background: "#f2f2f2";
  --deleted-border: "#c50f1f";
  --drop_target-background: "#d9d9d9";
  --editor-active_line-background: "#e5e5e5";
  --editor-active_line_number: "#414141";
  --editor-active_wrap_guide: "#cccccc";
  --editor-background: "#f2f2f2";
  --editor-document_highlight-read_background: "#e5e5e5";
  --editor-document_highlight-write_background: "#e5e5e5";
  --editor-foreground: "#767676";
  --editor-gutter-background: "#f2f2f2";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#cccccc";
  --editor-subheader-background: "#f2f2f2";
  --editor-wrap_guide: "#e5e5e5";
  --element-active: null;
  --element-background: "#e5e5e5";
  --element-disabled: null;
  --element-hover: "#d9d9d9";
  --element-selected: "#d9d9d9";
  --elevated_surface-background: "#f2f2f2";
  --error: "#c50f1f";
  --error-background: "#f2f2f2";
  --error-border: "#c50f1f";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e5e5e5";
  --ghost_element-selected: "#d9d9d9";
  --hidden: "#cccccc";
  --hidden-background: "#f2f2f2";
  --hidden-border: "#cccccc";
  --hint: "#767676";
  --hint-background: "#f2f2f2";
  --hint-border: "#3a96dd";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#cccccc";
  --ignored-background: "#f2f2f2";
  --ignored-border: "#cccccc";
  --info: "#3a96dd";
  --info-background: "#f2f2f2";
  --info-border: "#3a96dd";
  --link_text-hover: "#3a96dd";
  --modified: "#0037da";
  --modified-background: "#f2f2f2";
  --modified-border: "#0037da";
  --pane-focused_border: null;
  --panel-background: "#f2f2f2";
  --panel-focused_border: "#d9d9d9";
  --predictive: "#cccccc";
  --predictive-background: "#e5e5e5";
  --predictive-border: "#d9d9d9";
  --renamed: "#c19c00";
  --renamed-background: "#f2f2f2";
  --renamed-border: "#c19c00";
  --scrollbar-thumb-background: "#d9d9d9";
  --scrollbar-thumb-border: "#d9d9d96f";
  --scrollbar-thumb-hover_background: "#cccccc";
  --scrollbar-track-background: "#f2f2f2";
  --scrollbar-track-border: null;
  --search-match_background: "#d9d9d9";
  --status_bar-background: "#f2f2f2";
  --success: "#13a10e";
  --success-background: "#f2f2f2";
  --success-border: "#13a10e";
  --surface-background: "#f2f2f2";
  --tab-active_background: "#f2f2f2";
  --tab-inactive_background: "#e5e5e5";
  --tab_bar-background: "#f2f2f2";
  --terminal-ansi-black: "#f2f2f2";
  --terminal-ansi-blue: "#0037da";
  --terminal-ansi-bright_black: "#cccccc";
  --terminal-ansi-bright_blue: "#0037da";
  --terminal-ansi-bright_cyan: "#3a96dd";
  --terminal-ansi-bright_green: "#13a10e";
  --terminal-ansi-bright_magenta: "#881798";
  --terminal-ansi-bright_red: "#c50f1f";
  --terminal-ansi-bright_white: "#0c0c0c";
  --terminal-ansi-bright_yellow: "#c19c00";
  --terminal-ansi-cyan: "#3a96dd";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#13a10e";
  --terminal-ansi-magenta: "#881798";
  --terminal-ansi-red: "#c50f1f";
  --terminal-ansi-white: "#767676";
  --terminal-ansi-yellow: "#c19c00";
  --terminal-background: "#f2f2f2";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#767676";
  --text-accent: "#3a96dd";
  --text-disabled: "#d9d9d9";
  --text-muted: "#ababab";
  --text-placeholder: "#0c0c0c";
  --title_bar-background: "#f2f2f2";
  --toolbar-background: "#f2f2f2";
  --unreachable: "#c19c00";
  --unreachable-background: "#f2f2f2";
  --unreachable-border: "#c19c00";
  --warning: "#c19c00";
  --warning-background: "#f2f2f2";
  --warning-border: "#c19c00";
  --player-1-background: null;
  --player-1-cursor: "#767676";
  --player-1-selection: "#d9d9d9";
  --syntax-attribute-color: "#0037da";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f9f1a5";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#cccccc";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#cccccc";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f9f1a5";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#c50f1f";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#c50f1f";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c50f1f";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#0037da";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#881798";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#c19c00";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#c50f1f";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#c50f1f";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f9f1a5";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#767676";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#767676";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#767676";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#767676";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#767676";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#13a10e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f9f1a5";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#13a10e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#13a10e";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#13a10e";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#c50f1f";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#13a10e";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#c19c00";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#c19c00";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c50f1f";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c50f1f";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
