:root {
  --background: "#292d3e";
  --border: "#5c598b";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#5c598b";
  --conflict: "#e0a557";
  --conflict-background: "#292d3e";
  --conflict-border: "#e0a557";
  --created: "#78c06e";
  --created-background: "#292d3e";
  --created-border: "#78c06e";
  --deleted: "#6e98e1";
  --deleted-background: "#292d3e";
  --deleted-border: "#6e98e1";
  --drop_target-background: "#5c598b";
  --editor-active_line-background: "#444267";
  --editor-active_line_number: "#959dcb";
  --editor-active_wrap_guide: "#676e95";
  --editor-background: "#292d3e";
  --editor-document_highlight-read_background: "#444267";
  --editor-document_highlight-write_background: "#444267";
  --editor-foreground: "#959dcb";
  --editor-gutter-background: "#292d3e";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#676e95";
  --editor-subheader-background: "#292d3e";
  --editor-wrap_guide: "#444267";
  --element-active: null;
  --element-background: "#444267";
  --element-disabled: null;
  --element-hover: "#5c598b";
  --element-selected: "#5c598b";
  --elevated_surface-background: "#292d3e";
  --error: "#6e98e1";
  --error-background: "#292d3e";
  --error-border: "#6e98e1";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#444267";
  --ghost_element-selected: "#5c598b";
  --hidden: "#676e95";
  --hidden-background: "#292d3e";
  --hidden-border: "#676e95";
  --hint: "#959dcb";
  --hint-background: "#292d3e";
  --hint-border: "#83b7e5";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#676e95";
  --ignored-background: "#292d3e";
  --ignored-border: "#676e95";
  --info: "#83b7e5";
  --info-background: "#292d3e";
  --info-border: "#83b7e5";
  --link_text-hover: "#83b7e5";
  --modified: "#82aaff";
  --modified-background: "#292d3e";
  --modified-border: "#82aaff";
  --pane-focused_border: null;
  --panel-background: "#292d3e";
  --panel-focused_border: "#5c598b";
  --predictive: "#676e95";
  --predictive-background: "#444267";
  --predictive-border: "#5c598b";
  --renamed: "#e0a557";
  --renamed-background: "#292d3e";
  --renamed-border: "#e0a557";
  --scrollbar-thumb-background: "#5c598b";
  --scrollbar-thumb-border: "#5c598b6f";
  --scrollbar-thumb-hover_background: "#676e95";
  --scrollbar-track-background: "#292d3e";
  --scrollbar-track-border: null;
  --search-match_background: "#5c598b";
  --status_bar-background: "#292d3e";
  --success: "#78c06e";
  --success-background: "#292d3e";
  --success-border: "#78c06e";
  --surface-background: "#292d3e";
  --tab-active_background: "#292d3e";
  --tab-inactive_background: "#444267";
  --tab_bar-background: "#292d3e";
  --terminal-ansi-black: "#292d3e";
  --terminal-ansi-blue: "#82aaff";
  --terminal-ansi-bright_black: "#676e95";
  --terminal-ansi-bright_blue: "#82aaff";
  --terminal-ansi-bright_cyan: "#83b7e5";
  --terminal-ansi-bright_green: "#78c06e";
  --terminal-ansi-bright_magenta: "#c792ea";
  --terminal-ansi-bright_red: "#6e98e1";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#e0a557";
  --terminal-ansi-cyan: "#83b7e5";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#78c06e";
  --terminal-ansi-magenta: "#c792ea";
  --terminal-ansi-red: "#6e98e1";
  --terminal-ansi-white: "#959dcb";
  --terminal-ansi-yellow: "#e0a557";
  --terminal-background: "#292d3e";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#959dcb";
  --text-accent: "#83b7e5";
  --text-disabled: "#5c598b";
  --text-muted: "#8796b0";
  --text-placeholder: "#ffffff";
  --title_bar-background: "#292d3e";
  --toolbar-background: "#292d3e";
  --unreachable: "#e0a557";
  --unreachable-background: "#292d3e";
  --unreachable-border: "#e0a557";
  --warning: "#e0a557";
  --warning-background: "#292d3e";
  --warning-border: "#e0a557";
  --player-1-background: null;
  --player-1-cursor: "#959dcb";
  --player-1-selection: "#5c598b";
  --syntax-attribute-color: "#82aaff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f78c6c";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#676e95";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#676e95";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f78c6c";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#6e98e1";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#6e98e1";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#6e98e1";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#82aaff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#c792ea";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#e0a557";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#6e98e1";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#6e98e1";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f78c6c";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#959dcb";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#959dcb";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#959dcb";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#959dcb";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#959dcb";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#78c06e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f78c6c";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#78c06e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#78c06e";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#78c06e";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#6e98e1";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#78c06e";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#e0a557";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#e0a557";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#6e98e1";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#6e98e1";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
