:root {
  --background: "#2f383e";
  --border: "#4a555b";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#4a555b";
  --conflict: "#dbbc7f";
  --conflict-background: "#2f383e";
  --conflict-border: "#dbbc7f";
  --created: "#83c092";
  --created-background: "#2f383e";
  --created-border: "#83c092";
  --deleted: "#7fbbb3";
  --deleted-background: "#2f383e";
  --deleted-border: "#7fbbb3";
  --drop_target-background: "#4a555b";
  --editor-active_line-background: "#374247";
  --editor-active_line_number: "#e4e1cd";
  --editor-active_wrap_guide: "#859289";
  --editor-background: "#2f383e";
  --editor-document_highlight-read_background: "#374247";
  --editor-document_highlight-write_background: "#374247";
  --editor-foreground: "#d3c6aa";
  --editor-gutter-background: "#2f383e";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#859289";
  --editor-subheader-background: "#2f383e";
  --editor-wrap_guide: "#374247";
  --element-active: null;
  --element-background: "#374247";
  --element-disabled: null;
  --element-hover: "#4a555b";
  --element-selected: "#4a555b";
  --elevated_surface-background: "#2f383e";
  --error: "#7fbbb3";
  --error-background: "#2f383e";
  --error-border: "#7fbbb3";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#374247";
  --ghost_element-selected: "#4a555b";
  --hidden: "#859289";
  --hidden-background: "#2f383e";
  --hidden-border: "#859289";
  --hint: "#d3c6aa";
  --hint-background: "#2f383e";
  --hint-border: "#e69875";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#859289";
  --ignored-background: "#2f383e";
  --ignored-border: "#859289";
  --info: "#e69875";
  --info-background: "#2f383e";
  --info-border: "#e69875";
  --link_text-hover: "#e69875";
  --modified: "#a7c080";
  --modified-background: "#2f383e";
  --modified-border: "#a7c080";
  --pane-focused_border: null;
  --panel-background: "#2f383e";
  --panel-focused_border: "#4a555b";
  --predictive: "#859289";
  --predictive-background: "#374247";
  --predictive-border: "#4a555b";
  --renamed: "#dbbc7f";
  --renamed-background: "#2f383e";
  --renamed-border: "#dbbc7f";
  --scrollbar-thumb-background: "#4a555b";
  --scrollbar-thumb-border: "#4a555b6f";
  --scrollbar-thumb-hover_background: "#859289";
  --scrollbar-track-background: "#2f383e";
  --scrollbar-track-border: null;
  --search-match_background: "#4a555b";
  --status_bar-background: "#2f383e";
  --success: "#83c092";
  --success-background: "#2f383e";
  --success-border: "#83c092";
  --surface-background: "#2f383e";
  --tab-active_background: "#2f383e";
  --tab-inactive_background: "#374247";
  --tab_bar-background: "#2f383e";
  --terminal-ansi-black: "#2f383e";
  --terminal-ansi-blue: "#a7c080";
  --terminal-ansi-bright_black: "#859289";
  --terminal-ansi-bright_blue: "#a7c080";
  --terminal-ansi-bright_cyan: "#e69875";
  --terminal-ansi-bright_green: "#83c092";
  --terminal-ansi-bright_magenta: "#e67e80";
  --terminal-ansi-bright_red: "#7fbbb3";
  --terminal-ansi-bright_white: "#fdf6e3";
  --terminal-ansi-bright_yellow: "#dbbc7f";
  --terminal-ansi-cyan: "#e69875";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#83c092";
  --terminal-ansi-magenta: "#e67e80";
  --terminal-ansi-red: "#7fbbb3";
  --terminal-ansi-white: "#d3c6aa";
  --terminal-ansi-yellow: "#dbbc7f";
  --terminal-background: "#2f383e";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d3c6aa";
  --text-accent: "#e69875";
  --text-disabled: "#4a555b";
  --text-muted: "#9da9a0";
  --text-placeholder: "#fdf6e3";
  --title_bar-background: "#2f383e";
  --toolbar-background: "#2f383e";
  --unreachable: "#dbbc7f";
  --unreachable-background: "#2f383e";
  --unreachable-border: "#dbbc7f";
  --warning: "#dbbc7f";
  --warning-background: "#2f383e";
  --warning-border: "#dbbc7f";
  --player-1-background: null;
  --player-1-cursor: "#d3c6aa";
  --player-1-selection: "#4a555b";
  --syntax-attribute-color: "#a7c080";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d699b6";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#859289";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#859289";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d699b6";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#7fbbb3";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#7fbbb3";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#7fbbb3";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#a7c080";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#e67e80";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#dbbc7f";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#7fbbb3";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#7fbbb3";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d699b6";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#d3c6aa";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d3c6aa";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d3c6aa";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d3c6aa";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d3c6aa";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#83c092";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d699b6";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#83c092";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#83c092";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#83c092";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#7fbbb3";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#83c092";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#dbbc7f";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#dbbc7f";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#7fbbb3";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#7fbbb3";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
