:root {
  --background: "#000000";
  --border: "#7e2553";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#7e2553";
  --conflict: "#fff024";
  --conflict_background: "#000000";
  --conflict_border: "#fff024";
  --created: "#00e756";
  --created_background: "#000000";
  --created_border: "#00e756";
  --deleted: "#ff004d";
  --deleted_background: "#000000";
  --deleted_border: "#ff004d";
  --drop_target_background: "#7e2553";
  --editor_active_line_background: "#1d2b53";
  --editor_active_line_number: "#c2c3c7";
  --editor_active_wrap_guide: "#008751";
  --editor_background: "#000000";
  --editor_document_highlight_read_background: "#1d2b53";
  --editor_document_highlight_write_background: "#1d2b53";
  --editor_foreground: "#5f574f";
  --editor_gutter_background: "#000000";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#008751";
  --editor_subheader_background: "#000000";
  --editor_wrap_guide: "#1d2b53";
  --element_active: null;
  --element_background: "#1d2b53";
  --element_disabled: null;
  --element_hover: "#7e2553";
  --element_selected: "#7e2553";
  --elevated_surface_background: "#000000";
  --error: "#ff004d";
  --error_background: "#000000";
  --error_border: "#ff004d";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#1d2b53";
  --ghost_element_selected: "#7e2553";
  --hidden: "#008751";
  --hidden_background: "#000000";
  --hidden_border: "#008751";
  --hint: "#5f574f";
  --hint_background: "#000000";
  --hint_border: "#29adff";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#008751";
  --ignored_background: "#000000";
  --ignored_border: "#008751";
  --info: "#29adff";
  --info_background: "#000000";
  --info_border: "#29adff";
  --link_text_hover: "#29adff";
  --modified: "#83769c";
  --modified_background: "#000000";
  --modified_border: "#83769c";
  --pane_focused_border: null;
  --panel_background: "#000000";
  --panel_focused_border: "#7e2553";
  --predictive: "#008751";
  --predictive_background: "#1d2b53";
  --predictive_border: "#7e2553";
  --renamed: "#fff024";
  --renamed_background: "#000000";
  --renamed_border: "#fff024";
  --scrollbar_thumb_background: "#7e2553";
  --scrollbar_thumb_border: "#7e25536f";
  --scrollbar_thumb_hover_background: "#008751";
  --scrollbar_track_background: "#000000";
  --scrollbar_track_border: null;
  --search_match_background: "#7e2553";
  --status_bar_background: "#000000";
  --success: "#00e756";
  --success_background: "#000000";
  --success_border: "#00e756";
  --surface_background: "#000000";
  --tab_active_background: "#000000";
  --tab_inactive_background: "#1d2b53";
  --tab_bar_background: "#000000";
  --terminal_ansi_black: "#000000";
  --terminal_ansi_blue: "#83769c";
  --terminal_ansi_bright_black: "#008751";
  --terminal_ansi_bright_blue: "#83769c";
  --terminal_ansi_bright_cyan: "#29adff";
  --terminal_ansi_bright_green: "#00e756";
  --terminal_ansi_bright_magenta: "#ff77a8";
  --terminal_ansi_bright_red: "#ff004d";
  --terminal_ansi_bright_white: "#fff1e8";
  --terminal_ansi_bright_yellow: "#fff024";
  --terminal_ansi_cyan: "#29adff";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#00e756";
  --terminal_ansi_magenta: "#ff77a8";
  --terminal_ansi_red: "#ff004d";
  --terminal_ansi_white: "#5f574f";
  --terminal_ansi_yellow: "#fff024";
  --terminal_background: "#000000";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#5f574f";
  --text_accent: "#29adff";
  --text_disabled: "#7e2553";
  --text_muted: "#ab5236";
  --text_placeholder: "#fff1e8";
  --title_bar_background: "#000000";
  --toolbar_background: "#000000";
  --unreachable: "#fff024";
  --unreachable_background: "#000000";
  --unreachable_border: "#fff024";
  --warning: "#fff024";
  --warning_background: "#000000";
  --warning_border: "#fff024";
  --player_1_background: null;
  --player_1_cursor: "#5f574f";
  --player_1_selection: "#7e2553";
  --syntax_attribute_color: "#83769c";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#ffa300";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#008751";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#008751";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#ffa300";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#ff004d";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#ff004d";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#ff004d";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#83769c";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#ff77a8";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#fff024";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#ff004d";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#ff004d";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#ffa300";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#5f574f";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#5f574f";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#5f574f";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#5f574f";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#5f574f";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#00e756";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#ffa300";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#00e756";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#00e756";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#00e756";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#ff004d";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#00e756";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#fff024";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#fff024";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#ff004d";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#ff004d";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
