:root {
  --background: "#282b35";
  --border: "#53555d";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#53555d";
  --conflict: "#438288";
  --conflict-background: "#282b35";
  --conflict-border: "#438288";
  --created: "#df0002";
  --created-background: "#282b35";
  --created-border: "#df0002";
  --deleted: "#b21889";
  --deleted-background: "#282b35";
  --deleted-border: "#b21889";
  --drop_target-background: "#53555d";
  --editor-active_line-background: "#3d4048";
  --editor-active_line_number: "#a9aaae";
  --editor-active_wrap_guide: "#686a71";
  --editor-background: "#282b35";
  --editor-document_highlight-read_background: "#3d4048";
  --editor-document_highlight-write_background: "#3d4048";
  --editor-foreground: "#939599";
  --editor-gutter-background: "#282b35";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#686a71";
  --editor-subheader-background: "#282b35";
  --editor-wrap_guide: "#3d4048";
  --element-active: null;
  --element-background: "#3d4048";
  --element-disabled: null;
  --element-hover: "#53555d";
  --element-selected: "#53555d";
  --elevated_surface-background: "#282b35";
  --error: "#b21889";
  --error-background: "#282b35";
  --error-border: "#b21889";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#3d4048";
  --ghost_element-selected: "#53555d";
  --hidden: "#686a71";
  --hidden-background: "#282b35";
  --hidden-border: "#686a71";
  --hint: "#939599";
  --hint-background: "#282b35";
  --hint-border: "#00a0be";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#686a71";
  --ignored-background: "#282b35";
  --ignored-border: "#686a71";
  --info: "#00a0be";
  --info-background: "#282b35";
  --info-border: "#00a0be";
  --link_text-hover: "#00a0be";
  --modified: "#790ead";
  --modified-background: "#282b35";
  --modified-border: "#790ead";
  --pane-focused_border: null;
  --panel-background: "#282b35";
  --panel-focused_border: "#53555d";
  --predictive: "#686a71";
  --predictive-background: "#3d4048";
  --predictive-border: "#53555d";
  --renamed: "#438288";
  --renamed-background: "#282b35";
  --renamed-border: "#438288";
  --scrollbar-thumb-background: "#53555d";
  --scrollbar-thumb-border: "#53555d6f";
  --scrollbar-thumb-hover_background: "#686a71";
  --scrollbar-track-background: "#282b35";
  --scrollbar-track-border: null;
  --search-match_background: "#53555d";
  --status_bar-background: "#282b35";
  --success: "#df0002";
  --success-background: "#282b35";
  --success-border: "#df0002";
  --surface-background: "#282b35";
  --tab-active_background: "#282b35";
  --tab-inactive_background: "#3d4048";
  --tab_bar-background: "#282b35";
  --terminal-ansi-black: "#282b35";
  --terminal-ansi-blue: "#790ead";
  --terminal-ansi-bright_black: "#686a71";
  --terminal-ansi-bright_blue: "#790ead";
  --terminal-ansi-bright_cyan: "#00a0be";
  --terminal-ansi-bright_green: "#df0002";
  --terminal-ansi-bright_magenta: "#b21889";
  --terminal-ansi-bright_red: "#b21889";
  --terminal-ansi-bright_white: "#bebfc2";
  --terminal-ansi-bright_yellow: "#438288";
  --terminal-ansi-cyan: "#00a0be";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#df0002";
  --terminal-ansi-magenta: "#b21889";
  --terminal-ansi-red: "#b21889";
  --terminal-ansi-white: "#939599";
  --terminal-ansi-yellow: "#438288";
  --terminal-background: "#282b35";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#939599";
  --text-accent: "#00a0be";
  --text-disabled: "#53555d";
  --text-muted: "#7e8086";
  --text-placeholder: "#bebfc2";
  --title_bar-background: "#282b35";
  --toolbar-background: "#282b35";
  --unreachable: "#438288";
  --unreachable-background: "#282b35";
  --unreachable-border: "#438288";
  --warning: "#438288";
  --warning-background: "#282b35";
  --warning-border: "#438288";
  --player-1-background: null;
  --player-1-cursor: "#939599";
  --player-1-selection: "#53555d";
  --syntax-attribute-color: "#790ead";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#786dc5";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#686a71";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#686a71";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#786dc5";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#b21889";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#b21889";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#b21889";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#790ead";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b21889";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#438288";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#b21889";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#b21889";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#786dc5";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#939599";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#939599";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#939599";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#939599";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#939599";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#df0002";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#786dc5";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#df0002";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#df0002";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#df0002";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#b21889";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#df0002";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#438288";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#438288";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#b21889";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#b21889";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
