:root {
  --background: "#2b2b2b";
  --border: "#323232";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#323232";
  --conflict: "#bbb529";
  --conflict-background: "#2b2b2b";
  --conflict-border: "#bbb529";
  --created: "#6a8759";
  --created-background: "#2b2b2b";
  --created-border: "#6a8759";
  --deleted: "#4eade5";
  --deleted-background: "#2b2b2b";
  --deleted-border: "#4eade5";
  --drop_target-background: "#323232";
  --editor-active_line-background: "#323232";
  --editor-active_line_number: "#ffc66d";
  --editor-active_wrap_guide: "#606366";
  --editor-background: "#2b2b2b";
  --editor-document_highlight-read_background: "#323232";
  --editor-document_highlight-write_background: "#323232";
  --editor-foreground: "#a9b7c6";
  --editor-gutter-background: "#2b2b2b";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#606366";
  --editor-subheader-background: "#2b2b2b";
  --editor-wrap_guide: "#323232";
  --element-active: null;
  --element-background: "#323232";
  --element-disabled: null;
  --element-hover: "#323232";
  --element-selected: "#323232";
  --elevated_surface-background: "#2b2b2b";
  --error: "#4eade5";
  --error-background: "#2b2b2b";
  --error-border: "#4eade5";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#323232";
  --ghost_element-selected: "#323232";
  --hidden: "#606366";
  --hidden-background: "#2b2b2b";
  --hidden-border: "#606366";
  --hint: "#a9b7c6";
  --hint-background: "#2b2b2b";
  --hint-border: "#629755";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#606366";
  --ignored-background: "#2b2b2b";
  --ignored-border: "#606366";
  --info: "#629755";
  --info-background: "#2b2b2b";
  --info-border: "#629755";
  --link_text-hover: "#629755";
  --modified: "#9876aa";
  --modified-background: "#2b2b2b";
  --modified-border: "#9876aa";
  --pane-focused_border: null;
  --panel-background: "#2b2b2b";
  --panel-focused_border: "#323232";
  --predictive: "#606366";
  --predictive-background: "#323232";
  --predictive-border: "#323232";
  --renamed: "#bbb529";
  --renamed-background: "#2b2b2b";
  --renamed-border: "#bbb529";
  --scrollbar-thumb-background: "#323232";
  --scrollbar-thumb-border: "#3232326f";
  --scrollbar-thumb-hover_background: "#606366";
  --scrollbar-track-background: "#2b2b2b";
  --scrollbar-track-border: null;
  --search-match_background: "#323232";
  --status_bar-background: "#2b2b2b";
  --success: "#6a8759";
  --success-background: "#2b2b2b";
  --success-border: "#6a8759";
  --surface-background: "#2b2b2b";
  --tab-active_background: "#2b2b2b";
  --tab-inactive_background: "#323232";
  --tab_bar-background: "#2b2b2b";
  --terminal-ansi-black: "#2b2b2b";
  --terminal-ansi-blue: "#9876aa";
  --terminal-ansi-bright_black: "#606366";
  --terminal-ansi-bright_blue: "#9876aa";
  --terminal-ansi-bright_cyan: "#629755";
  --terminal-ansi-bright_green: "#6a8759";
  --terminal-ansi-bright_magenta: "#cc7832";
  --terminal-ansi-bright_red: "#4eade5";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#bbb529";
  --terminal-ansi-cyan: "#629755";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#6a8759";
  --terminal-ansi-magenta: "#cc7832";
  --terminal-ansi-red: "#4eade5";
  --terminal-ansi-white: "#a9b7c6";
  --terminal-ansi-yellow: "#bbb529";
  --terminal-background: "#2b2b2b";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a9b7c6";
  --text-accent: "#629755";
  --text-disabled: "#323232";
  --text-muted: "#a4a3a3";
  --text-placeholder: "#ffffff";
  --title_bar-background: "#2b2b2b";
  --toolbar-background: "#2b2b2b";
  --unreachable: "#bbb529";
  --unreachable-background: "#2b2b2b";
  --unreachable-border: "#bbb529";
  --warning: "#bbb529";
  --warning-background: "#2b2b2b";
  --warning-border: "#bbb529";
  --player-1-background: null;
  --player-1-cursor: "#a9b7c6";
  --player-1-selection: "#323232";
  --syntax-attribute-color: "#9876aa";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#689757";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#606366";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#606366";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#689757";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#4eade5";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#4eade5";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#4eade5";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#9876aa";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#cc7832";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#bbb529";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#4eade5";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#4eade5";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#689757";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#a9b7c6";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a9b7c6";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a9b7c6";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#a9b7c6";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a9b7c6";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#6a8759";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#689757";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#6a8759";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#6a8759";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#6a8759";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#4eade5";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#6a8759";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#bbb529";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#bbb529";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#4eade5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#4eade5";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
