:root {
  --background: "#1c1e26";
  --border: "#2e303e";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#2e303e";
  --conflict: "#efb993";
  --conflict-background: "#1c1e26";
  --conflict-border: "#efb993";
  --created: "#efaf8e";
  --created-background: "#1c1e26";
  --created-border: "#efaf8e";
  --deleted: "#e93c58";
  --deleted-background: "#1c1e26";
  --deleted-border: "#e93c58";
  --drop_target-background: "#2e303e";
  --editor-active_line-background: "#232530";
  --editor-active_line_number: "#dcdfe4";
  --editor-active_wrap_guide: "#6f6f70";
  --editor-background: "#1c1e26";
  --editor-document_highlight-read_background: "#232530";
  --editor-document_highlight-write_background: "#232530";
  --editor-foreground: "#cbced0";
  --editor-gutter-background: "#1c1e26";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#6f6f70";
  --editor-subheader-background: "#1c1e26";
  --editor-wrap_guide: "#232530";
  --element-active: null;
  --element-background: "#232530";
  --element-disabled: null;
  --element-hover: "#2e303e";
  --element-selected: "#2e303e";
  --elevated_surface-background: "#1c1e26";
  --error: "#e93c58";
  --error-background: "#1c1e26";
  --error-border: "#e93c58";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#232530";
  --ghost_element-selected: "#2e303e";
  --hidden: "#6f6f70";
  --hidden-background: "#1c1e26";
  --hidden-border: "#6f6f70";
  --hint: "#cbced0";
  --hint-background: "#1c1e26";
  --hint-border: "#24a8b4";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6f6f70";
  --ignored-background: "#1c1e26";
  --ignored-border: "#6f6f70";
  --info: "#24a8b4";
  --info-background: "#1c1e26";
  --info-border: "#24a8b4";
  --link_text-hover: "#24a8b4";
  --modified: "#df5273";
  --modified-background: "#1c1e26";
  --modified-border: "#df5273";
  --pane-focused_border: null;
  --panel-background: "#1c1e26";
  --panel-focused_border: "#2e303e";
  --predictive: "#6f6f70";
  --predictive-background: "#232530";
  --predictive-border: "#2e303e";
  --renamed: "#efb993";
  --renamed-background: "#1c1e26";
  --renamed-border: "#efb993";
  --scrollbar-thumb-background: "#2e303e";
  --scrollbar-thumb-border: "#2e303e6f";
  --scrollbar-thumb-hover_background: "#6f6f70";
  --scrollbar-track-background: "#1c1e26";
  --scrollbar-track-border: null;
  --search-match_background: "#2e303e";
  --status_bar-background: "#1c1e26";
  --success: "#efaf8e";
  --success-background: "#1c1e26";
  --success-border: "#efaf8e";
  --surface-background: "#1c1e26";
  --tab-active_background: "#1c1e26";
  --tab-inactive_background: "#232530";
  --tab_bar-background: "#1c1e26";
  --terminal-ansi-black: "#1c1e26";
  --terminal-ansi-blue: "#df5273";
  --terminal-ansi-bright_black: "#6f6f70";
  --terminal-ansi-bright_blue: "#df5273";
  --terminal-ansi-bright_cyan: "#24a8b4";
  --terminal-ansi-bright_green: "#efaf8e";
  --terminal-ansi-bright_magenta: "#b072d1";
  --terminal-ansi-bright_red: "#e93c58";
  --terminal-ansi-bright_white: "#e3e6ee";
  --terminal-ansi-bright_yellow: "#efb993";
  --terminal-ansi-cyan: "#24a8b4";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#efaf8e";
  --terminal-ansi-magenta: "#b072d1";
  --terminal-ansi-red: "#e93c58";
  --terminal-ansi-white: "#cbced0";
  --terminal-ansi-yellow: "#efb993";
  --terminal-background: "#1c1e26";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#cbced0";
  --text-accent: "#24a8b4";
  --text-disabled: "#2e303e";
  --text-muted: "#9da0a2";
  --text-placeholder: "#e3e6ee";
  --title_bar-background: "#1c1e26";
  --toolbar-background: "#1c1e26";
  --unreachable: "#efb993";
  --unreachable-background: "#1c1e26";
  --unreachable-border: "#efb993";
  --warning: "#efb993";
  --warning-background: "#1c1e26";
  --warning-border: "#efb993";
  --player-1-background: null;
  --player-1-cursor: "#cbced0";
  --player-1-selection: "#2e303e";
  --syntax-attribute-color: "#df5273";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#e58d7d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6f6f70";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6f6f70";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#e58d7d";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#e93c58";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#e93c58";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#e93c58";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#df5273";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b072d1";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#efb993";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#e93c58";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#e93c58";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#e58d7d";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#cbced0";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#cbced0";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#cbced0";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#cbced0";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#cbced0";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#efaf8e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#e58d7d";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#efaf8e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#efaf8e";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#efaf8e";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#e93c58";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#efaf8e";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#efb993";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#efb993";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#e93c58";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#e93c58";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
