:root {
  --background: "#16130f";
  --border: "#433b32";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#433b32";
  --conflict: "#6d8257";
  --conflict-background: "#16130f";
  --conflict-border: "#6d8257";
  --created: "#57826d";
  --created-background: "#16130f";
  --created-border: "#57826d";
  --deleted: "#826d57";
  --deleted-background: "#16130f";
  --deleted-border: "#826d57";
  --drop_target-background: "#433b32";
  --editor-active_line-background: "#2c2620";
  --editor-active_line_number: "#beb6ae";
  --editor-active_wrap_guide: "#5a5047";
  --editor-background: "#16130f";
  --editor-document_highlight-read_background: "#2c2620";
  --editor-document_highlight-write_background: "#2c2620";
  --editor-foreground: "#a39a90";
  --editor-gutter-background: "#16130f";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#5a5047";
  --editor-subheader-background: "#16130f";
  --editor-wrap_guide: "#2c2620";
  --element-active: null;
  --element-background: "#2c2620";
  --element-disabled: null;
  --element-hover: "#433b32";
  --element-selected: "#433b32";
  --elevated_surface-background: "#16130f";
  --error: "#826d57";
  --error-background: "#16130f";
  --error-border: "#826d57";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#2c2620";
  --ghost_element-selected: "#433b32";
  --hidden: "#5a5047";
  --hidden-background: "#16130f";
  --hidden-border: "#5a5047";
  --hint: "#a39a90";
  --hint-background: "#16130f";
  --hint-border: "#576d82";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#5a5047";
  --ignored-background: "#16130f";
  --ignored-border: "#5a5047";
  --info: "#576d82";
  --info-background: "#16130f";
  --info-border: "#576d82";
  --link_text-hover: "#576d82";
  --modified: "#6d5782";
  --modified-background: "#16130f";
  --modified-border: "#6d5782";
  --pane-focused_border: null;
  --panel-background: "#16130f";
  --panel-focused_border: "#433b32";
  --predictive: "#5a5047";
  --predictive-background: "#2c2620";
  --predictive-border: "#433b32";
  --renamed: "#6d8257";
  --renamed-background: "#16130f";
  --renamed-border: "#6d8257";
  --scrollbar-thumb-background: "#433b32";
  --scrollbar-thumb-border: "#433b326f";
  --scrollbar-thumb-hover_background: "#5a5047";
  --scrollbar-track-background: "#16130f";
  --scrollbar-track-border: null;
  --search-match_background: "#433b32";
  --status_bar-background: "#16130f";
  --success: "#57826d";
  --success-background: "#16130f";
  --success-border: "#57826d";
  --surface-background: "#16130f";
  --tab-active_background: "#16130f";
  --tab-inactive_background: "#2c2620";
  --tab_bar-background: "#16130f";
  --terminal-ansi-black: "#16130f";
  --terminal-ansi-blue: "#6d5782";
  --terminal-ansi-bright_black: "#5a5047";
  --terminal-ansi-bright_blue: "#6d5782";
  --terminal-ansi-bright_cyan: "#576d82";
  --terminal-ansi-bright_green: "#57826d";
  --terminal-ansi-bright_magenta: "#82576d";
  --terminal-ansi-bright_red: "#826d57";
  --terminal-ansi-bright_white: "#dbd6d1";
  --terminal-ansi-bright_yellow: "#6d8257";
  --terminal-ansi-cyan: "#576d82";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#57826d";
  --terminal-ansi-magenta: "#82576d";
  --terminal-ansi-red: "#826d57";
  --terminal-ansi-white: "#a39a90";
  --terminal-ansi-yellow: "#6d8257";
  --terminal-background: "#16130f";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a39a90";
  --text-accent: "#576d82";
  --text-disabled: "#433b32";
  --text-muted: "#8a8075";
  --text-placeholder: "#dbd6d1";
  --title_bar-background: "#16130f";
  --toolbar-background: "#16130f";
  --unreachable: "#6d8257";
  --unreachable-background: "#16130f";
  --unreachable-border: "#6d8257";
  --warning: "#6d8257";
  --warning-background: "#16130f";
  --warning-border: "#6d8257";
  --player-1-background: null;
  --player-1-cursor: "#a39a90";
  --player-1-selection: "#433b32";
  --syntax-attribute-color: "#6d5782";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#828257";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#5a5047";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#5a5047";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#828257";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#826d57";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#826d57";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#826d57";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#6d5782";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#82576d";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#6d8257";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#826d57";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#826d57";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#828257";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#a39a90";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a39a90";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a39a90";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#a39a90";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a39a90";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#57826d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#828257";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#57826d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#57826d";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#57826d";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#826d57";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#57826d";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#6d8257";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#6d8257";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#826d57";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#826d57";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
