:root {
  --background: "#1c1810";
  --border: "#3a3527";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#3a3527";
  --conflict: "#f2ff27";
  --conflict-background: "#1c1810";
  --conflict-border: "#f2ff27";
  --created: "#5ceb5a";
  --created-background: "#1c1810";
  --created-border: "#5ceb5a";
  --deleted: "#e35142";
  --deleted-background: "#1c1810";
  --deleted-border: "#e35142";
  --drop_target-background: "#3a3527";
  --editor-active_line-background: "#2a261c";
  --editor-active_line_number: "#bab696";
  --editor-active_wrap_guide: "#504b38";
  --editor-background: "#1c1810";
  --editor-document_highlight-read_background: "#2a261c";
  --editor-document_highlight-write_background: "#2a261c";
  --editor-foreground: "#736e55";
  --editor-gutter-background: "#1c1810";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#504b38";
  --editor-subheader-background: "#1c1810";
  --editor-wrap_guide: "#2a261c";
  --element-active: null;
  --element-background: "#2a261c";
  --element-disabled: null;
  --element-hover: "#3a3527";
  --element-selected: "#3a3527";
  --elevated_surface-background: "#1c1810";
  --error: "#e35142";
  --error-background: "#1c1810";
  --error-border: "#e35142";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#2a261c";
  --ghost_element-selected: "#3a3527";
  --hidden: "#504b38";
  --hidden-background: "#1c1810";
  --hidden-border: "#504b38";
  --hint: "#736e55";
  --hint-background: "#1c1810";
  --hint-border: "#5aebbc";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#504b38";
  --ignored-background: "#1c1810";
  --ignored-border: "#504b38";
  --info: "#5aebbc";
  --info-background: "#1c1810";
  --info-border: "#5aebbc";
  --link_text-hover: "#5aebbc";
  --modified: "#489bf0";
  --modified-background: "#1c1810";
  --modified-border: "#489bf0";
  --pane-focused_border: null;
  --panel-background: "#1c1810";
  --panel-focused_border: "#3a3527";
  --predictive: "#504b38";
  --predictive-background: "#2a261c";
  --predictive-border: "#3a3527";
  --renamed: "#f2ff27";
  --renamed-background: "#1c1810";
  --renamed-border: "#f2ff27";
  --scrollbar-thumb-background: "#3a3527";
  --scrollbar-thumb-border: "#3a35276f";
  --scrollbar-thumb-hover_background: "#504b38";
  --scrollbar-track-background: "#1c1810";
  --scrollbar-track-border: null;
  --search-match_background: "#3a3527";
  --status_bar-background: "#1c1810";
  --success: "#5ceb5a";
  --success-background: "#1c1810";
  --success-border: "#5ceb5a";
  --surface-background: "#1c1810";
  --tab-active_background: "#1c1810";
  --tab-inactive_background: "#2a261c";
  --tab_bar-background: "#1c1810";
  --terminal-ansi-black: "#1c1810";
  --terminal-ansi-blue: "#489bf0";
  --terminal-ansi-bright_black: "#504b38";
  --terminal-ansi-bright_blue: "#489bf0";
  --terminal-ansi-bright_cyan: "#5aebbc";
  --terminal-ansi-bright_green: "#5ceb5a";
  --terminal-ansi-bright_magenta: "#ff8080";
  --terminal-ansi-bright_red: "#e35142";
  --terminal-ansi-bright_white: "#f8f5de";
  --terminal-ansi-bright_yellow: "#f2ff27";
  --terminal-ansi-cyan: "#5aebbc";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#5ceb5a";
  --terminal-ansi-magenta: "#ff8080";
  --terminal-ansi-red: "#e35142";
  --terminal-ansi-white: "#736e55";
  --terminal-ansi-yellow: "#f2ff27";
  --terminal-background: "#1c1810";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#736e55";
  --text-accent: "#5aebbc";
  --text-disabled: "#3a3527";
  --text-muted: "#5f5b45";
  --text-placeholder: "#f8f5de";
  --title_bar-background: "#1c1810";
  --toolbar-background: "#1c1810";
  --unreachable: "#f2ff27";
  --unreachable-background: "#1c1810";
  --unreachable-border: "#f2ff27";
  --warning: "#f2ff27";
  --warning-background: "#1c1810";
  --warning-border: "#f2ff27";
  --player-1-background: null;
  --player-1-cursor: "#736e55";
  --player-1-selection: "#3a3527";
  --syntax-attribute-color: "#489bf0";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fba11b";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#504b38";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#504b38";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fba11b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#e35142";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#e35142";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#e35142";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#489bf0";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ff8080";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f2ff27";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#e35142";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#e35142";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fba11b";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#736e55";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#736e55";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#736e55";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#736e55";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#736e55";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#5ceb5a";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#fba11b";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#5ceb5a";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#5ceb5a";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#5ceb5a";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#e35142";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#5ceb5a";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f2ff27";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f2ff27";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#e35142";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#e35142";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
