:root {
  --background: "#efefef";
  --border: "#9e9eaf";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#9e9eaf";
  --conflict: "#ff669b";
  --conflict-background: "#efefef";
  --conflict-border: "#ff669b";
  --created: "#0073a8";
  --created-background: "#efefef";
  --created-border: "#0073a8";
  --deleted: "#f43979";
  --deleted-background: "#efefef";
  --deleted-border: "#f43979";
  --drop_target-background: "#9e9eaf";
  --editor-active_line-background: "#bebed2";
  --editor-active_line_number: "#22223a";
  --editor-active_wrap_guide: "#7c7c98";
  --editor-background: "#efefef";
  --editor-document_highlight-read_background: "#bebed2";
  --editor-document_highlight-write_background: "#bebed2";
  --editor-foreground: "#313145";
  --editor-gutter-background: "#efefef";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#7c7c98";
  --editor-subheader-background: "#efefef";
  --editor-wrap_guide: "#bebed2";
  --element-active: null;
  --element-background: "#bebed2";
  --element-disabled: null;
  --element-hover: "#9e9eaf";
  --element-selected: "#9e9eaf";
  --elevated_surface-background: "#efefef";
  --error: "#f43979";
  --error-background: "#efefef";
  --error-border: "#f43979";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#bebed2";
  --ghost_element-selected: "#9e9eaf";
  --hidden: "#7c7c98";
  --hidden-background: "#efefef";
  --hidden-border: "#7c7c98";
  --hint: "#313145";
  --hint-background: "#efefef";
  --hint-border: "#2155d6";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#7c7c98";
  --ignored-background: "#efefef";
  --ignored-border: "#7c7c98";
  --info: "#2155d6";
  --info-background: "#efefef";
  --info-border: "#2155d6";
  --link_text-hover: "#2155d6";
  --modified: "#471397";
  --modified-background: "#efefef";
  --modified-border: "#471397";
  --pane-focused_border: null;
  --panel-background: "#efefef";
  --panel-focused_border: "#9e9eaf";
  --predictive: "#7c7c98";
  --predictive-background: "#bebed2";
  --predictive-border: "#9e9eaf";
  --renamed: "#ff669b";
  --renamed-background: "#efefef";
  --renamed-border: "#ff669b";
  --scrollbar-thumb-background: "#9e9eaf";
  --scrollbar-thumb-border: "#9e9eaf6f";
  --scrollbar-thumb-hover_background: "#7c7c98";
  --scrollbar-track-background: "#efefef";
  --scrollbar-track-border: null;
  --search-match_background: "#9e9eaf";
  --status_bar-background: "#efefef";
  --success: "#0073a8";
  --success-background: "#efefef";
  --success-border: "#0073a8";
  --surface-background: "#efefef";
  --tab-active_background: "#efefef";
  --tab-inactive_background: "#bebed2";
  --tab_bar-background: "#efefef";
  --terminal-ansi-black: "#efefef";
  --terminal-ansi-blue: "#471397";
  --terminal-ansi-bright_black: "#7c7c98";
  --terminal-ansi-bright_blue: "#471397";
  --terminal-ansi-bright_cyan: "#2155d6";
  --terminal-ansi-bright_green: "#0073a8";
  --terminal-ansi-bright_magenta: "#6916b6";
  --terminal-ansi-bright_red: "#f43979";
  --terminal-ansi-bright_white: "#1a1a2f";
  --terminal-ansi-bright_yellow: "#ff669b";
  --terminal-ansi-cyan: "#2155d6";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#0073a8";
  --terminal-ansi-magenta: "#6916b6";
  --terminal-ansi-red: "#f43979";
  --terminal-ansi-white: "#313145";
  --terminal-ansi-yellow: "#ff669b";
  --terminal-background: "#efefef";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#313145";
  --text-accent: "#2155d6";
  --text-disabled: "#9e9eaf";
  --text-muted: "#505063";
  --text-placeholder: "#1a1a2f";
  --title_bar-background: "#efefef";
  --toolbar-background: "#efefef";
  --unreachable: "#ff669b";
  --unreachable-background: "#efefef";
  --unreachable-border: "#ff669b";
  --warning: "#ff669b";
  --warning-background: "#efefef";
  --warning-border: "#ff669b";
  --player-1-background: null;
  --player-1-cursor: "#313145";
  --player-1-selection: "#9e9eaf";
  --syntax-attribute-color: "#471397";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d22a8b";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7c7c98";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#7c7c98";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d22a8b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#f43979";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#f43979";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f43979";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#471397";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#6916b6";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ff669b";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#f43979";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#f43979";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d22a8b";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#313145";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#313145";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#313145";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#313145";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#313145";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#0073a8";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d22a8b";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#0073a8";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#0073a8";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#0073a8";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f43979";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#0073a8";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ff669b";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ff669b";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#f43979";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#f43979";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
