:root {
  --background: "#feffff";
  --border: "#7b6d8b";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#7b6d8b";
  --conflict: "#5ba2b6";
  --conflict-background: "#feffff";
  --conflict-border: "#5ba2b6";
  --created: "#f80059";
  --created-background: "#feffff";
  --created-border: "#f80059";
  --deleted: "#27d9d5";
  --deleted-background: "#feffff";
  --deleted-border: "#27d9d5";
  --drop_target-background: "#7b6d8b";
  --editor-active_line-background: "#392551";
  --editor-active_line_number: "#470546";
  --editor-active_wrap_guide: "#9c92a8";
  --editor-background: "#feffff";
  --editor-document_highlight-read_background: "#392551";
  --editor-document_highlight-write_background: "#392551";
  --editor-foreground: "#5a496e";
  --editor-gutter-background: "#feffff";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#9c92a8";
  --editor-subheader-background: "#feffff";
  --editor-wrap_guide: "#392551";
  --element-active: null;
  --element-background: "#392551";
  --element-disabled: null;
  --element-hover: "#7b6d8b";
  --element-selected: "#7b6d8b";
  --elevated_surface-background: "#feffff";
  --error: "#27d9d5";
  --error-background: "#feffff";
  --error-border: "#27d9d5";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#392551";
  --ghost_element-selected: "#7b6d8b";
  --hidden: "#9c92a8";
  --hidden-background: "#feffff";
  --hidden-border: "#9c92a8";
  --hint: "#5a496e";
  --hint-background: "#feffff";
  --hint-border: "#c33678";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#9c92a8";
  --ignored-background: "#feffff";
  --ignored-border: "#9c92a8";
  --info: "#c33678";
  --info-background: "#feffff";
  --info-border: "#c33678";
  --link_text-hover: "#c33678";
  --modified: "#47f9f5";
  --modified-background: "#feffff";
  --modified-border: "#47f9f5";
  --pane-focused_border: null;
  --panel-background: "#feffff";
  --panel-focused_border: "#7b6d8b";
  --predictive: "#9c92a8";
  --predictive-background: "#392551";
  --predictive-border: "#7b6d8b";
  --renamed: "#5ba2b6";
  --renamed-background: "#feffff";
  --renamed-border: "#5ba2b6";
  --scrollbar-thumb-background: "#7b6d8b";
  --scrollbar-thumb-border: "#7b6d8b6f";
  --scrollbar-thumb-hover_background: "#9c92a8";
  --scrollbar-track-background: "#feffff";
  --scrollbar-track-border: null;
  --search-match_background: "#7b6d8b";
  --status_bar-background: "#feffff";
  --success: "#f80059";
  --success-background: "#feffff";
  --success-border: "#f80059";
  --surface-background: "#feffff";
  --tab-active_background: "#feffff";
  --tab-inactive_background: "#392551";
  --tab_bar-background: "#feffff";
  --terminal-ansi-black: "#feffff";
  --terminal-ansi-blue: "#47f9f5";
  --terminal-ansi-bright_black: "#9c92a8";
  --terminal-ansi-bright_blue: "#47f9f5";
  --terminal-ansi-bright_cyan: "#c33678";
  --terminal-ansi-bright_green: "#f80059";
  --terminal-ansi-bright_magenta: "#bd0152";
  --terminal-ansi-bright_red: "#27d9d5";
  --terminal-ansi-bright_white: "#190134";
  --terminal-ansi-bright_yellow: "#5ba2b6";
  --terminal-ansi-cyan: "#c33678";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#f80059";
  --terminal-ansi-magenta: "#bd0152";
  --terminal-ansi-red: "#27d9d5";
  --terminal-ansi-white: "#5a496e";
  --terminal-ansi-yellow: "#5ba2b6";
  --terminal-background: "#feffff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#5a496e";
  --text-accent: "#c33678";
  --text-disabled: "#7b6d8b";
  --text-muted: "#ddd6e5";
  --text-placeholder: "#190134";
  --title_bar-background: "#feffff";
  --toolbar-background: "#feffff";
  --unreachable: "#5ba2b6";
  --unreachable-background: "#feffff";
  --unreachable-border: "#5ba2b6";
  --warning: "#5ba2b6";
  --warning-background: "#feffff";
  --warning-border: "#5ba2b6";
  --player-1-background: null;
  --player-1-cursor: "#5a496e";
  --player-1-selection: "#7b6d8b";
  --syntax-attribute-color: "#47f9f5";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#bdb6c5";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9c92a8";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9c92a8";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#bdb6c5";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#27d9d5";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#27d9d5";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#27d9d5";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#47f9f5";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#bd0152";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#5ba2b6";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#27d9d5";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#27d9d5";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#bdb6c5";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#5a496e";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#5a496e";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#5a496e";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#5a496e";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#5a496e";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#f80059";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#bdb6c5";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#f80059";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#f80059";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#f80059";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#27d9d5";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#f80059";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#5ba2b6";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#5ba2b6";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#27d9d5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#27d9d5";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
