:root {
  --background: "#161b1d";
  --border: "#516d7b";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#516d7b";
  --conflict: "#8a8a0f";
  --conflict-background: "#161b1d";
  --conflict-border: "#8a8a0f";
  --created: "#568c3b";
  --created-background: "#161b1d";
  --created-border: "#568c3b";
  --deleted: "#d22d72";
  --deleted-background: "#161b1d";
  --deleted-border: "#d22d72";
  --drop_target-background: "#516d7b";
  --editor-active_line-background: "#1f292e";
  --editor-active_line_number: "#c1e4f6";
  --editor-active_wrap_guide: "#5a7b8c";
  --editor-background: "#161b1d";
  --editor-document_highlight-read_background: "#1f292e";
  --editor-document_highlight-write_background: "#1f292e";
  --editor-foreground: "#7ea2b4";
  --editor-gutter-background: "#161b1d";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#5a7b8c";
  --editor-subheader-background: "#161b1d";
  --editor-wrap_guide: "#1f292e";
  --element-active: null;
  --element-background: "#1f292e";
  --element-disabled: null;
  --element-hover: "#516d7b";
  --element-selected: "#516d7b";
  --elevated_surface-background: "#161b1d";
  --error: "#d22d72";
  --error-background: "#161b1d";
  --error-border: "#d22d72";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#1f292e";
  --ghost_element-selected: "#516d7b";
  --hidden: "#5a7b8c";
  --hidden-background: "#161b1d";
  --hidden-border: "#5a7b8c";
  --hint: "#7ea2b4";
  --hint-background: "#161b1d";
  --hint-border: "#2d8f6f";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#5a7b8c";
  --ignored-background: "#161b1d";
  --ignored-border: "#5a7b8c";
  --info: "#2d8f6f";
  --info-background: "#161b1d";
  --info-border: "#2d8f6f";
  --link_text-hover: "#2d8f6f";
  --modified: "#257fad";
  --modified-background: "#161b1d";
  --modified-border: "#257fad";
  --pane-focused_border: null;
  --panel-background: "#161b1d";
  --panel-focused_border: "#516d7b";
  --predictive: "#5a7b8c";
  --predictive-background: "#1f292e";
  --predictive-border: "#516d7b";
  --renamed: "#8a8a0f";
  --renamed-background: "#161b1d";
  --renamed-border: "#8a8a0f";
  --scrollbar-thumb-background: "#516d7b";
  --scrollbar-thumb-border: "#516d7b6f";
  --scrollbar-thumb-hover_background: "#5a7b8c";
  --scrollbar-track-background: "#161b1d";
  --scrollbar-track-border: null;
  --search-match_background: "#516d7b";
  --status_bar-background: "#161b1d";
  --success: "#568c3b";
  --success-background: "#161b1d";
  --success-border: "#568c3b";
  --surface-background: "#161b1d";
  --tab-active_background: "#161b1d";
  --tab-inactive_background: "#1f292e";
  --tab_bar-background: "#161b1d";
  --terminal-ansi-black: "#161b1d";
  --terminal-ansi-blue: "#257fad";
  --terminal-ansi-bright_black: "#5a7b8c";
  --terminal-ansi-bright_blue: "#257fad";
  --terminal-ansi-bright_cyan: "#2d8f6f";
  --terminal-ansi-bright_green: "#568c3b";
  --terminal-ansi-bright_magenta: "#6b6bb8";
  --terminal-ansi-bright_red: "#d22d72";
  --terminal-ansi-bright_white: "#ebf8ff";
  --terminal-ansi-bright_yellow: "#8a8a0f";
  --terminal-ansi-cyan: "#2d8f6f";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#568c3b";
  --terminal-ansi-magenta: "#6b6bb8";
  --terminal-ansi-red: "#d22d72";
  --terminal-ansi-white: "#7ea2b4";
  --terminal-ansi-yellow: "#8a8a0f";
  --terminal-background: "#161b1d";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#7ea2b4";
  --text-accent: "#2d8f6f";
  --text-disabled: "#516d7b";
  --text-muted: "#7195a8";
  --text-placeholder: "#ebf8ff";
  --title_bar-background: "#161b1d";
  --toolbar-background: "#161b1d";
  --unreachable: "#8a8a0f";
  --unreachable-background: "#161b1d";
  --unreachable-border: "#8a8a0f";
  --warning: "#8a8a0f";
  --warning-background: "#161b1d";
  --warning-border: "#8a8a0f";
  --player-1-background: null;
  --player-1-cursor: "#7ea2b4";
  --player-1-selection: "#516d7b";
  --syntax-attribute-color: "#257fad";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#935c25";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#5a7b8c";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#5a7b8c";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#935c25";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d22d72";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#d22d72";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d22d72";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#257fad";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#6b6bb8";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#8a8a0f";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#d22d72";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d22d72";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#935c25";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#7ea2b4";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#7ea2b4";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#7ea2b4";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#7ea2b4";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#7ea2b4";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#568c3b";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#935c25";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#568c3b";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#568c3b";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#568c3b";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#d22d72";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#568c3b";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#8a8a0f";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#8a8a0f";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d22d72";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#d22d72";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
