:root {
  --background: "#fefbec";
  --border: "#a6a28c";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#a6a28c";
  --conflict: "#ae9513";
  --conflict_background: "#fefbec";
  --conflict_border: "#ae9513";
  --created: "#60ac39";
  --created_background: "#fefbec";
  --created_border: "#60ac39";
  --deleted: "#d73737";
  --deleted_background: "#fefbec";
  --deleted_border: "#d73737";
  --drop_target_background: "#a6a28c";
  --editor_active_line_background: "#e8e4cf";
  --editor_active_line_number: "#292824";
  --editor_active_wrap_guide: "#999580";
  --editor_background: "#fefbec";
  --editor_document_highlight_read_background: "#e8e4cf";
  --editor_document_highlight_write_background: "#e8e4cf";
  --editor_foreground: "#6e6b5e";
  --editor_gutter_background: "#fefbec";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#999580";
  --editor_subheader_background: "#fefbec";
  --editor_wrap_guide: "#e8e4cf";
  --element_active: null;
  --element_background: "#e8e4cf";
  --element_disabled: null;
  --element_hover: "#a6a28c";
  --element_selected: "#a6a28c";
  --elevated_surface_background: "#fefbec";
  --error: "#d73737";
  --error_background: "#fefbec";
  --error_border: "#d73737";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#e8e4cf";
  --ghost_element_selected: "#a6a28c";
  --hidden: "#999580";
  --hidden_background: "#fefbec";
  --hidden_border: "#999580";
  --hint: "#6e6b5e";
  --hint_background: "#fefbec";
  --hint_border: "#1fad83";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#999580";
  --ignored_background: "#fefbec";
  --ignored_border: "#999580";
  --info: "#1fad83";
  --info_background: "#fefbec";
  --info_border: "#1fad83";
  --link_text_hover: "#1fad83";
  --modified: "#6684e1";
  --modified_background: "#fefbec";
  --modified_border: "#6684e1";
  --pane_focused_border: null;
  --panel_background: "#fefbec";
  --panel_focused_border: "#a6a28c";
  --predictive: "#999580";
  --predictive_background: "#e8e4cf";
  --predictive_border: "#a6a28c";
  --renamed: "#ae9513";
  --renamed_background: "#fefbec";
  --renamed_border: "#ae9513";
  --scrollbar_thumb_background: "#a6a28c";
  --scrollbar_thumb_border: "#a6a28c6f";
  --scrollbar_thumb_hover_background: "#999580";
  --scrollbar_track_background: "#fefbec";
  --scrollbar_track_border: null;
  --search_match_background: "#a6a28c";
  --status_bar_background: "#fefbec";
  --success: "#60ac39";
  --success_background: "#fefbec";
  --success_border: "#60ac39";
  --surface_background: "#fefbec";
  --tab_active_background: "#fefbec";
  --tab_inactive_background: "#e8e4cf";
  --tab_bar_background: "#fefbec";
  --terminal_ansi_black: "#fefbec";
  --terminal_ansi_blue: "#6684e1";
  --terminal_ansi_bright_black: "#999580";
  --terminal_ansi_bright_blue: "#6684e1";
  --terminal_ansi_bright_cyan: "#1fad83";
  --terminal_ansi_bright_green: "#60ac39";
  --terminal_ansi_bright_magenta: "#b854d4";
  --terminal_ansi_bright_red: "#d73737";
  --terminal_ansi_bright_white: "#20201d";
  --terminal_ansi_bright_yellow: "#ae9513";
  --terminal_ansi_cyan: "#1fad83";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#60ac39";
  --terminal_ansi_magenta: "#b854d4";
  --terminal_ansi_red: "#d73737";
  --terminal_ansi_white: "#6e6b5e";
  --terminal_ansi_yellow: "#ae9513";
  --terminal_background: "#fefbec";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#6e6b5e";
  --text_accent: "#1fad83";
  --text_disabled: "#a6a28c";
  --text_muted: "#7d7a68";
  --text_placeholder: "#20201d";
  --title_bar_background: "#fefbec";
  --toolbar_background: "#fefbec";
  --unreachable: "#ae9513";
  --unreachable_background: "#fefbec";
  --unreachable_border: "#ae9513";
  --warning: "#ae9513";
  --warning_background: "#fefbec";
  --warning_border: "#ae9513";
  --player_1_background: null;
  --player_1_cursor: "#6e6b5e";
  --player_1_selection: "#a6a28c";
  --syntax_attribute_color: "#6684e1";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#b65611";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#999580";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#999580";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#b65611";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#d73737";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#d73737";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#d73737";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#6684e1";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#b854d4";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#ae9513";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#d73737";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#d73737";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#b65611";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#6e6b5e";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#6e6b5e";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#6e6b5e";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#6e6b5e";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#6e6b5e";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#60ac39";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#b65611";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#60ac39";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#60ac39";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#60ac39";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#d73737";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#60ac39";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#ae9513";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#ae9513";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#d73737";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#d73737";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
