:root {
  --background: "#fbf3db";
  --border: "#d5cdb6";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#d5cdb6";
  --conflict: "#a78300";
  --conflict_background: "#fbf3db";
  --conflict_border: "#a78300";
  --created: "#428b00";
  --created_background: "#fbf3db";
  --created_border: "#428b00";
  --deleted: "#cc1729";
  --deleted_background: "#fbf3db";
  --deleted_border: "#cc1729";
  --drop_target_background: "#d5cdb6";
  --editor_active_line_background: "#ece3cc";
  --editor_active_line_number: "#3a4d53";
  --editor_active_wrap_guide: "#909995";
  --editor_background: "#fbf3db";
  --editor_document_highlight_read_background: "#ece3cc";
  --editor_document_highlight_write_background: "#ece3cc";
  --editor_foreground: "#53676d";
  --editor_gutter_background: "#fbf3db";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#909995";
  --editor_subheader_background: "#fbf3db";
  --editor_wrap_guide: "#ece3cc";
  --element_active: null;
  --element_background: "#ece3cc";
  --element_disabled: null;
  --element_hover: "#d5cdb6";
  --element_selected: "#d5cdb6";
  --elevated_surface_background: "#fbf3db";
  --error: "#cc1729";
  --error_background: "#fbf3db";
  --error_border: "#cc1729";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#ece3cc";
  --ghost_element_selected: "#d5cdb6";
  --hidden: "#909995";
  --hidden_background: "#fbf3db";
  --hidden_border: "#909995";
  --hint: "#53676d";
  --hint_background: "#fbf3db";
  --hint_border: "#00978a";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#909995";
  --ignored_background: "#fbf3db";
  --ignored_border: "#909995";
  --info: "#00978a";
  --info_background: "#fbf3db";
  --info_border: "#00978a";
  --link_text_hover: "#00978a";
  --modified: "#006dce";
  --modified_background: "#fbf3db";
  --modified_border: "#006dce";
  --pane_focused_border: null;
  --panel_background: "#fbf3db";
  --panel_focused_border: "#d5cdb6";
  --predictive: "#909995";
  --predictive_background: "#ece3cc";
  --predictive_border: "#d5cdb6";
  --renamed: "#a78300";
  --renamed_background: "#fbf3db";
  --renamed_border: "#a78300";
  --scrollbar_thumb_background: "#d5cdb6";
  --scrollbar_thumb_border: "#d5cdb66f";
  --scrollbar_thumb_hover_background: "#909995";
  --scrollbar_track_background: "#fbf3db";
  --scrollbar_track_border: null;
  --search_match_background: "#d5cdb6";
  --status_bar_background: "#fbf3db";
  --success: "#428b00";
  --success_background: "#fbf3db";
  --success_border: "#428b00";
  --surface_background: "#fbf3db";
  --tab_active_background: "#fbf3db";
  --tab_inactive_background: "#ece3cc";
  --tab_bar_background: "#fbf3db";
  --terminal_ansi_black: "#fbf3db";
  --terminal_ansi_blue: "#006dce";
  --terminal_ansi_bright_black: "#909995";
  --terminal_ansi_bright_blue: "#006dce";
  --terminal_ansi_bright_cyan: "#00978a";
  --terminal_ansi_bright_green: "#428b00";
  --terminal_ansi_bright_magenta: "#825dc0";
  --terminal_ansi_bright_red: "#cc1729";
  --terminal_ansi_bright_white: "#3a4d53";
  --terminal_ansi_bright_yellow: "#a78300";
  --terminal_ansi_cyan: "#00978a";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#428b00";
  --terminal_ansi_magenta: "#825dc0";
  --terminal_ansi_red: "#cc1729";
  --terminal_ansi_white: "#53676d";
  --terminal_ansi_yellow: "#a78300";
  --terminal_background: "#fbf3db";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#53676d";
  --text_accent: "#00978a";
  --text_disabled: "#d5cdb6";
  --text_muted: "#909995";
  --text_placeholder: "#3a4d53";
  --title_bar_background: "#fbf3db";
  --toolbar_background: "#fbf3db";
  --unreachable: "#a78300";
  --unreachable_background: "#fbf3db";
  --unreachable_border: "#a78300";
  --warning: "#a78300";
  --warning_background: "#fbf3db";
  --warning_border: "#a78300";
  --player_1_background: null;
  --player_1_cursor: "#53676d";
  --player_1_selection: "#d5cdb6";
  --syntax_attribute_color: "#006dce";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#bc5819";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#909995";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#909995";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#bc5819";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#cc1729";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#cc1729";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#cc1729";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#006dce";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#825dc0";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#a78300";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#cc1729";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#cc1729";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#bc5819";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#53676d";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#53676d";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#53676d";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#53676d";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#53676d";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#428b00";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#bc5819";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#428b00";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#428b00";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#428b00";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#cc1729";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#428b00";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#a78300";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#a78300";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#cc1729";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#cc1729";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
