:root {
  --background: "#103c48";
  --border: "#2d5b69";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#2d5b69";
  --conflict: "#dbb32d";
  --conflict-background: "#103c48";
  --conflict-border: "#dbb32d";
  --created: "#75b938";
  --created-background: "#103c48";
  --created-border: "#75b938";
  --deleted: "#fa5750";
  --deleted-background: "#103c48";
  --deleted-border: "#fa5750";
  --drop_target-background: "#2d5b69";
  --editor-active_line-background: "#184956";
  --editor-active_line_number: "#cad8d9";
  --editor-active_wrap_guide: "#72898f";
  --editor-background: "#103c48";
  --editor-document_highlight-read_background: "#184956";
  --editor-document_highlight-write_background: "#184956";
  --editor-foreground: "#adbcbc";
  --editor-gutter-background: "#103c48";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#72898f";
  --editor-subheader-background: "#103c48";
  --editor-wrap_guide: "#184956";
  --element-active: null;
  --element-background: "#184956";
  --element-disabled: null;
  --element-hover: "#2d5b69";
  --element-selected: "#2d5b69";
  --elevated_surface-background: "#103c48";
  --error: "#fa5750";
  --error-background: "#103c48";
  --error-border: "#fa5750";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#184956";
  --ghost_element-selected: "#2d5b69";
  --hidden: "#72898f";
  --hidden-background: "#103c48";
  --hidden-border: "#72898f";
  --hint: "#adbcbc";
  --hint-background: "#103c48";
  --hint-border: "#41c7b9";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#72898f";
  --ignored-background: "#103c48";
  --ignored-border: "#72898f";
  --info: "#41c7b9";
  --info-background: "#103c48";
  --info-border: "#41c7b9";
  --link_text-hover: "#41c7b9";
  --modified: "#4695f7";
  --modified-background: "#103c48";
  --modified-border: "#4695f7";
  --pane-focused_border: null;
  --panel-background: "#103c48";
  --panel-focused_border: "#2d5b69";
  --predictive: "#72898f";
  --predictive-background: "#184956";
  --predictive-border: "#2d5b69";
  --renamed: "#dbb32d";
  --renamed-background: "#103c48";
  --renamed-border: "#dbb32d";
  --scrollbar-thumb-background: "#2d5b69";
  --scrollbar-thumb-border: "#2d5b696f";
  --scrollbar-thumb-hover_background: "#72898f";
  --scrollbar-track-background: "#103c48";
  --scrollbar-track-border: null;
  --search-match_background: "#2d5b69";
  --status_bar-background: "#103c48";
  --success: "#75b938";
  --success-background: "#103c48";
  --success-border: "#75b938";
  --surface-background: "#103c48";
  --tab-active_background: "#103c48";
  --tab-inactive_background: "#184956";
  --tab_bar-background: "#103c48";
  --terminal-ansi-black: "#103c48";
  --terminal-ansi-blue: "#4695f7";
  --terminal-ansi-bright_black: "#72898f";
  --terminal-ansi-bright_blue: "#4695f7";
  --terminal-ansi-bright_cyan: "#41c7b9";
  --terminal-ansi-bright_green: "#75b938";
  --terminal-ansi-bright_magenta: "#af88eb";
  --terminal-ansi-bright_red: "#fa5750";
  --terminal-ansi-bright_white: "#cad8d9";
  --terminal-ansi-bright_yellow: "#dbb32d";
  --terminal-ansi-cyan: "#41c7b9";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#75b938";
  --terminal-ansi-magenta: "#af88eb";
  --terminal-ansi-red: "#fa5750";
  --terminal-ansi-white: "#adbcbc";
  --terminal-ansi-yellow: "#dbb32d";
  --terminal-background: "#103c48";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#adbcbc";
  --text-accent: "#41c7b9";
  --text-disabled: "#2d5b69";
  --text-muted: "#72898f";
  --text-placeholder: "#cad8d9";
  --title_bar-background: "#103c48";
  --toolbar-background: "#103c48";
  --unreachable: "#dbb32d";
  --unreachable-background: "#103c48";
  --unreachable-border: "#dbb32d";
  --warning: "#dbb32d";
  --warning-background: "#103c48";
  --warning-border: "#dbb32d";
  --player-1-background: null;
  --player-1-cursor: "#adbcbc";
  --player-1-selection: "#2d5b69";
  --syntax-attribute-color: "#4695f7";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ed8649";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#72898f";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#72898f";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ed8649";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#fa5750";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#fa5750";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#fa5750";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#4695f7";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#af88eb";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#dbb32d";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#fa5750";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#fa5750";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ed8649";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#adbcbc";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#adbcbc";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#adbcbc";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#adbcbc";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#adbcbc";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#75b938";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ed8649";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#75b938";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#75b938";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#75b938";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#fa5750";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#75b938";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#dbb32d";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#dbb32d";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#fa5750";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#fa5750";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
