:root {
  --background: "#100510";
  --border: "#403040";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#403040";
  --conflict: "#f000a0";
  --conflict-background: "#100510";
  --conflict-border: "#f000a0";
  --created: "#14cc64";
  --created-background: "#100510";
  --created-border: "#14cc64";
  --deleted: "#ff1d0d";
  --deleted-background: "#100510";
  --deleted-border: "#ff1d0d";
  --drop_target-background: "#403040";
  --editor-active_line-background: "#302030";
  --editor-active_line_number: "#eee0ee";
  --editor-active_wrap_guide: "#605060";
  --editor-background: "#100510";
  --editor-document_highlight-read_background: "#302030";
  --editor-document_highlight-write_background: "#302030";
  --editor-foreground: "#ddd0dd";
  --editor-gutter-background: "#100510";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#605060";
  --editor-subheader-background: "#100510";
  --editor-wrap_guide: "#302030";
  --element-active: null;
  --element-background: "#302030";
  --element-disabled: null;
  --element-hover: "#403040";
  --element-selected: "#403040";
  --elevated_surface-background: "#100510";
  --error: "#ff1d0d";
  --error-background: "#100510";
  --error-border: "#ff1d0d";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#302030";
  --ghost_element-selected: "#403040";
  --hidden: "#605060";
  --hidden-background: "#100510";
  --hidden-border: "#605060";
  --hint: "#ddd0dd";
  --hint-background: "#100510";
  --hint-border: "#0075b0";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#605060";
  --ignored-background: "#100510";
  --ignored-border: "#605060";
  --info: "#0075b0";
  --info-background: "#100510";
  --info-border: "#0075b0";
  --link_text-hover: "#0075b0";
  --modified: "#00a0f0";
  --modified-background: "#100510";
  --modified-border: "#00a0f0";
  --pane-focused_border: null;
  --panel-background: "#100510";
  --panel-focused_border: "#403040";
  --predictive: "#605060";
  --predictive-background: "#302030";
  --predictive-border: "#403040";
  --renamed: "#f000a0";
  --renamed-background: "#100510";
  --renamed-border: "#f000a0";
  --scrollbar-thumb-background: "#403040";
  --scrollbar-thumb-border: "#4030406f";
  --scrollbar-thumb-hover_background: "#605060";
  --scrollbar-track-background: "#100510";
  --scrollbar-track-border: null;
  --search-match_background: "#403040";
  --status_bar-background: "#100510";
  --success: "#14cc64";
  --success-background: "#100510";
  --success-border: "#14cc64";
  --surface-background: "#100510";
  --tab-active_background: "#100510";
  --tab-inactive_background: "#302030";
  --tab_bar-background: "#100510";
  --terminal-ansi-black: "#100510";
  --terminal-ansi-blue: "#00a0f0";
  --terminal-ansi-bright_black: "#605060";
  --terminal-ansi-bright_blue: "#00a0f0";
  --terminal-ansi-bright_cyan: "#0075b0";
  --terminal-ansi-bright_green: "#14cc64";
  --terminal-ansi-bright_magenta: "#b000d0";
  --terminal-ansi-bright_red: "#ff1d0d";
  --terminal-ansi-bright_white: "#fff0ff";
  --terminal-ansi-bright_yellow: "#f000a0";
  --terminal-ansi-cyan: "#0075b0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#14cc64";
  --terminal-ansi-magenta: "#b000d0";
  --terminal-ansi-red: "#ff1d0d";
  --terminal-ansi-white: "#ddd0dd";
  --terminal-ansi-yellow: "#f000a0";
  --terminal-background: "#100510";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#ddd0dd";
  --text-accent: "#0075b0";
  --text-disabled: "#403040";
  --text-muted: "#bbb0bb";
  --text-placeholder: "#fff0ff";
  --title_bar-background: "#100510";
  --toolbar-background: "#100510";
  --unreachable: "#f000a0";
  --unreachable-background: "#100510";
  --unreachable-border: "#f000a0";
  --warning: "#f000a0";
  --warning-background: "#100510";
  --warning-border: "#f000a0";
  --player-1-background: null;
  --player-1-cursor: "#ddd0dd";
  --player-1-selection: "#403040";
  --syntax-attribute-color: "#00a0f0";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ccae14";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#605060";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#605060";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ccae14";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff1d0d";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ff1d0d";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff1d0d";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#00a0f0";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b000d0";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f000a0";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ff1d0d";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ff1d0d";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ccae14";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#ddd0dd";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#ddd0dd";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#ddd0dd";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ddd0dd";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#ddd0dd";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#14cc64";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ccae14";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#14cc64";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#14cc64";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#14cc64";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ff1d0d";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#14cc64";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f000a0";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f000a0";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ff1d0d";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ff1d0d";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
