:root {
  --background: "#18262f";
  --border: "#586875";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#586875";
  --conflict: "#e4b51c";
  --conflict-background: "#18262f";
  --conflict-border: "#e4b51c";
  --created: "#7cc844";
  --created-background: "#18262f";
  --created-border: "#7cc844";
  --deleted: "#ef5253";
  --deleted-background: "#18262f";
  --deleted-border: "#ef5253";
  --drop_target-background: "#586875";
  --editor-active_line-background: "#222e38";
  --editor-active_line_number: "#e8e9ed";
  --editor-active_wrap_guide: "#667581";
  --editor-background: "#18262f";
  --editor-document_highlight-read_background: "#222e38";
  --editor-document_highlight-write_background: "#222e38";
  --editor-foreground: "#a6afb8";
  --editor-gutter-background: "#18262f";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#667581";
  --editor-subheader-background: "#18262f";
  --editor-wrap_guide: "#222e38";
  --element-active: null;
  --element-background: "#222e38";
  --element-disabled: null;
  --element-hover: "#586875";
  --element-selected: "#586875";
  --elevated_surface-background: "#18262f";
  --error: "#ef5253";
  --error-background: "#18262f";
  --error-border: "#ef5253";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#222e38";
  --ghost_element-selected: "#586875";
  --hidden: "#667581";
  --hidden-background: "#18262f";
  --hidden-border: "#667581";
  --hint: "#a6afb8";
  --hint-background: "#18262f";
  --hint-border: "#52cbb0";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#667581";
  --ignored-background: "#18262f";
  --ignored-border: "#667581";
  --info: "#52cbb0";
  --info-background: "#18262f";
  --info-border: "#52cbb0";
  --link_text-hover: "#52cbb0";
  --modified: "#33b5e1";
  --modified-background: "#18262f";
  --modified-border: "#33b5e1";
  --pane-focused_border: null;
  --panel-background: "#18262f";
  --panel-focused_border: "#586875";
  --predictive: "#667581";
  --predictive-background: "#222e38";
  --predictive-border: "#586875";
  --renamed: "#e4b51c";
  --renamed-background: "#18262f";
  --renamed-border: "#e4b51c";
  --scrollbar-thumb-background: "#586875";
  --scrollbar-thumb-border: "#5868756f";
  --scrollbar-thumb-hover_background: "#667581";
  --scrollbar-track-background: "#18262f";
  --scrollbar-track-border: null;
  --search-match_background: "#586875";
  --status_bar-background: "#18262f";
  --success: "#7cc844";
  --success-background: "#18262f";
  --success-border: "#7cc844";
  --surface-background: "#18262f";
  --tab-active_background: "#18262f";
  --tab-inactive_background: "#222e38";
  --tab_bar-background: "#18262f";
  --terminal-ansi-black: "#18262f";
  --terminal-ansi-blue: "#33b5e1";
  --terminal-ansi-bright_black: "#667581";
  --terminal-ansi-bright_blue: "#33b5e1";
  --terminal-ansi-bright_cyan: "#52cbb0";
  --terminal-ansi-bright_green: "#7cc844";
  --terminal-ansi-bright_magenta: "#a363d5";
  --terminal-ansi-bright_red: "#ef5253";
  --terminal-ansi-bright_white: "#f5f7fa";
  --terminal-ansi-bright_yellow: "#e4b51c";
  --terminal-ansi-cyan: "#52cbb0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#7cc844";
  --terminal-ansi-magenta: "#a363d5";
  --terminal-ansi-red: "#ef5253";
  --terminal-ansi-white: "#a6afb8";
  --terminal-ansi-yellow: "#e4b51c";
  --terminal-background: "#18262f";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a6afb8";
  --text-accent: "#52cbb0";
  --text-disabled: "#586875";
  --text-muted: "#85939e";
  --text-placeholder: "#f5f7fa";
  --title_bar-background: "#18262f";
  --toolbar-background: "#18262f";
  --unreachable: "#e4b51c";
  --unreachable-background: "#18262f";
  --unreachable-border: "#e4b51c";
  --warning: "#e4b51c";
  --warning-background: "#18262f";
  --warning-border: "#e4b51c";
  --player-1-background: null;
  --player-1-cursor: "#a6afb8";
  --player-1-selection: "#586875";
  --syntax-attribute-color: "#33b5e1";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#e66b2b";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#667581";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#667581";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#e66b2b";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ef5253";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ef5253";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ef5253";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#33b5e1";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#a363d5";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#e4b51c";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ef5253";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ef5253";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#e66b2b";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#a6afb8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a6afb8";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a6afb8";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#a6afb8";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a6afb8";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#7cc844";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#e66b2b";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#7cc844";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#7cc844";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#7cc844";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ef5253";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#7cc844";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#e4b51c";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#e4b51c";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ef5253";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ef5253";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
