:root {
  --background: "#182430";
  --border: "#46290a";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#46290a";
  --conflict: "#82aaff";
  --conflict-background: "#182430";
  --conflict-border: "#82aaff";
  --created: "#c3e88d";
  --created-background: "#182430";
  --created-border: "#c3e88d";
  --deleted: "#4ce587";
  --deleted-background: "#182430";
  --deleted-border: "#4ce587";
  --drop_target-background: "#46290a";
  --editor-active_line-background: "#243c54";
  --editor-active_line_number: "#ddeaf6";
  --editor-active_wrap_guide: "#616d78";
  --editor-background: "#182430";
  --editor-document_highlight-read_background: "#243c54";
  --editor-document_highlight-write_background: "#243c54";
  --editor-foreground: "#c8e1f8";
  --editor-gutter-background: "#182430";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#616d78";
  --editor-subheader-background: "#182430";
  --editor-wrap_guide: "#243c54";
  --element-active: null;
  --element-background: "#243c54";
  --element-disabled: null;
  --element-hover: "#46290a";
  --element-selected: "#46290a";
  --elevated_surface-background: "#182430";
  --error: "#4ce587";
  --error-background: "#182430";
  --error-border: "#4ce587";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#243c54";
  --ghost_element-selected: "#46290a";
  --hidden: "#616d78";
  --hidden-background: "#182430";
  --hidden-border: "#616d78";
  --hint: "#c8e1f8";
  --hint-background: "#182430";
  --hint-border: "#5fd1ff";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#616d78";
  --ignored-background: "#182430";
  --ignored-border: "#616d78";
  --info: "#5fd1ff";
  --info-background: "#182430";
  --info-border: "#5fd1ff";
  --link_text-hover: "#5fd1ff";
  --modified: "#82aaff";
  --modified-background: "#182430";
  --modified-border: "#82aaff";
  --pane-focused_border: null;
  --panel-background: "#182430";
  --panel-focused_border: "#46290a";
  --predictive: "#616d78";
  --predictive-background: "#243c54";
  --predictive-border: "#46290a";
  --renamed: "#82aaff";
  --renamed-background: "#182430";
  --renamed-border: "#82aaff";
  --scrollbar-thumb-background: "#46290a";
  --scrollbar-thumb-border: "#46290a6f";
  --scrollbar-thumb-hover_background: "#616d78";
  --scrollbar-track-background: "#182430";
  --scrollbar-track-border: null;
  --search-match_background: "#46290a";
  --status_bar-background: "#182430";
  --success: "#c3e88d";
  --success-background: "#182430";
  --success-border: "#c3e88d";
  --surface-background: "#182430";
  --tab-active_background: "#182430";
  --tab-inactive_background: "#243c54";
  --tab_bar-background: "#182430";
  --terminal-ansi-black: "#182430";
  --terminal-ansi-blue: "#82aaff";
  --terminal-ansi-bright_black: "#616d78";
  --terminal-ansi-bright_blue: "#82aaff";
  --terminal-ansi-bright_cyan: "#5fd1ff";
  --terminal-ansi-bright_green: "#c3e88d";
  --terminal-ansi-bright_magenta: "#ff84dd";
  --terminal-ansi-bright_red: "#4ce587";
  --terminal-ansi-bright_white: "#8f98a0";
  --terminal-ansi-bright_yellow: "#82aaff";
  --terminal-ansi-cyan: "#5fd1ff";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#c3e88d";
  --terminal-ansi-magenta: "#ff84dd";
  --terminal-ansi-red: "#4ce587";
  --terminal-ansi-white: "#c8e1f8";
  --terminal-ansi-yellow: "#82aaff";
  --terminal-background: "#182430";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#c8e1f8";
  --text-accent: "#5fd1ff";
  --text-disabled: "#46290a";
  --text-muted: "#74afe7";
  --text-placeholder: "#8f98a0";
  --title_bar-background: "#182430";
  --toolbar-background: "#182430";
  --unreachable: "#82aaff";
  --unreachable-background: "#182430";
  --unreachable-border: "#82aaff";
  --warning: "#82aaff";
  --warning-background: "#182430";
  --warning-border: "#82aaff";
  --player-1-background: null;
  --player-1-cursor: "#c8e1f8";
  --player-1-selection: "#46290a";
  --syntax-attribute-color: "#82aaff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f6a85c";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#616d78";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#616d78";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f6a85c";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#4ce587";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#4ce587";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#4ce587";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#82aaff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ff84dd";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#82aaff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#4ce587";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#4ce587";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f6a85c";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#c8e1f8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c8e1f8";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c8e1f8";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#c8e1f8";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c8e1f8";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#c3e88d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f6a85c";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#c3e88d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#c3e88d";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#c3e88d";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#4ce587";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#c3e88d";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#82aaff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#82aaff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#4ce587";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#4ce587";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
