:root {
  --background: "#231f20";
  --border: "#5a5758";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#5a5758";
  --conflict: "#ffd204";
  --conflict-background: "#231f20";
  --conflict-border: "#ffd204";
  --created: "#00853e";
  --created-background: "#231f20";
  --created-border: "#00853e";
  --deleted: "#ee2e24";
  --deleted-background: "#231f20";
  --deleted-border: "#ee2e24";
  --drop_target-background: "#5a5758";
  --editor-active_line-background: "#1c3f95";
  --editor-active_line_number: "#e7e7e8";
  --editor-active_wrap_guide: "#737171";
  --editor-background: "#231f20";
  --editor-document_highlight-read_background: "#1c3f95";
  --editor-document_highlight-write_background: "#1c3f95";
  --editor-foreground: "#d9d8d8";
  --editor-gutter-background: "#231f20";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#737171";
  --editor-subheader-background: "#231f20";
  --editor-wrap_guide: "#1c3f95";
  --element-active: null;
  --element-background: "#1c3f95";
  --element-disabled: null;
  --element-hover: "#5a5758";
  --element-selected: "#5a5758";
  --elevated_surface-background: "#231f20";
  --error: "#ee2e24";
  --error-background: "#231f20";
  --error-border: "#ee2e24";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#1c3f95";
  --ghost_element-selected: "#5a5758";
  --hidden: "#737171";
  --hidden-background: "#231f20";
  --hidden-border: "#737171";
  --hint: "#d9d8d8";
  --hint-background: "#231f20";
  --hint-border: "#85cebc";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#737171";
  --ignored-background: "#231f20";
  --ignored-border: "#737171";
  --info: "#85cebc";
  --info-background: "#231f20";
  --info-border: "#85cebc";
  --link_text-hover: "#85cebc";
  --modified: "#009ddc";
  --modified-background: "#231f20";
  --modified-border: "#009ddc";
  --pane-focused_border: null;
  --panel-background: "#231f20";
  --panel-focused_border: "#5a5758";
  --predictive: "#737171";
  --predictive-background: "#1c3f95";
  --predictive-border: "#5a5758";
  --renamed: "#ffd204";
  --renamed-background: "#231f20";
  --renamed-border: "#ffd204";
  --scrollbar-thumb-background: "#5a5758";
  --scrollbar-thumb-border: "#5a57586f";
  --scrollbar-thumb-hover_background: "#737171";
  --scrollbar-track-background: "#231f20";
  --scrollbar-track-border: null;
  --search-match_background: "#5a5758";
  --status_bar-background: "#231f20";
  --success: "#00853e";
  --success-background: "#231f20";
  --success-border: "#00853e";
  --surface-background: "#231f20";
  --tab-active_background: "#231f20";
  --tab-inactive_background: "#1c3f95";
  --tab_bar-background: "#231f20";
  --terminal-ansi-black: "#231f20";
  --terminal-ansi-blue: "#009ddc";
  --terminal-ansi-bright_black: "#737171";
  --terminal-ansi-bright_blue: "#009ddc";
  --terminal-ansi-bright_cyan: "#85cebc";
  --terminal-ansi-bright_green: "#00853e";
  --terminal-ansi-bright_magenta: "#98005d";
  --terminal-ansi-bright_red: "#ee2e24";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#ffd204";
  --terminal-ansi-cyan: "#85cebc";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#00853e";
  --terminal-ansi-magenta: "#98005d";
  --terminal-ansi-red: "#ee2e24";
  --terminal-ansi-white: "#d9d8d8";
  --terminal-ansi-yellow: "#ffd204";
  --terminal-background: "#231f20";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#d9d8d8";
  --text-accent: "#85cebc";
  --text-disabled: "#5a5758";
  --text-muted: "#959ca1";
  --text-placeholder: "#ffffff";
  --title_bar-background: "#231f20";
  --toolbar-background: "#231f20";
  --unreachable: "#ffd204";
  --unreachable-background: "#231f20";
  --unreachable-border: "#ffd204";
  --warning: "#ffd204";
  --warning-background: "#231f20";
  --warning-border: "#ffd204";
  --player-1-background: null;
  --player-1-cursor: "#d9d8d8";
  --player-1-selection: "#5a5758";
  --syntax-attribute-color: "#009ddc";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f386a1";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#737171";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#737171";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f386a1";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ee2e24";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ee2e24";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ee2e24";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#009ddc";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#98005d";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#ffd204";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ee2e24";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ee2e24";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f386a1";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#d9d8d8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d9d8d8";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d9d8d8";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d9d8d8";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d9d8d8";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#00853e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f386a1";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#00853e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#00853e";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#00853e";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ee2e24";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#00853e";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ffd204";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#ffd204";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ee2e24";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ee2e24";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
