:root {
  --background: "#28211c";
  --border: "#5e5d5c";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#5e5d5c";
  --conflict: "#f9ee98";
  --conflict-background: "#28211c";
  --conflict-border: "#f9ee98";
  --created: "#54be0d";
  --created-background: "#28211c";
  --created-border: "#54be0d";
  --deleted: "#cf6a4c";
  --deleted-background: "#28211c";
  --deleted-border: "#cf6a4c";
  --drop_target-background: "#5e5d5c";
  --editor-active_line-background: "#36312e";
  --editor-active_line_number: "#9d9b97";
  --editor-active_wrap_guide: "#666666";
  --editor-background: "#28211c";
  --editor-document_highlight-read_background: "#36312e";
  --editor-document_highlight-write_background: "#36312e";
  --editor-foreground: "#8a8986";
  --editor-gutter-background: "#28211c";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#666666";
  --editor-subheader-background: "#28211c";
  --editor-wrap_guide: "#36312e";
  --element-active: null;
  --element-background: "#36312e";
  --element-disabled: null;
  --element-hover: "#5e5d5c";
  --element-selected: "#5e5d5c";
  --elevated_surface-background: "#28211c";
  --error: "#cf6a4c";
  --error-background: "#28211c";
  --error-border: "#cf6a4c";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#36312e";
  --ghost_element-selected: "#5e5d5c";
  --hidden: "#666666";
  --hidden-background: "#28211c";
  --hidden-border: "#666666";
  --hint: "#8a8986";
  --hint-background: "#28211c";
  --hint-border: "#afc4db";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#666666";
  --ignored-background: "#28211c";
  --ignored-border: "#666666";
  --info: "#afc4db";
  --info-background: "#28211c";
  --info-border: "#afc4db";
  --link_text-hover: "#afc4db";
  --modified: "#5ea6ea";
  --modified-background: "#28211c";
  --modified-border: "#5ea6ea";
  --pane-focused_border: null;
  --panel-background: "#28211c";
  --panel-focused_border: "#5e5d5c";
  --predictive: "#666666";
  --predictive-background: "#36312e";
  --predictive-border: "#5e5d5c";
  --renamed: "#f9ee98";
  --renamed-background: "#28211c";
  --renamed-border: "#f9ee98";
  --scrollbar-thumb-background: "#5e5d5c";
  --scrollbar-thumb-border: "#5e5d5c6f";
  --scrollbar-thumb-hover_background: "#666666";
  --scrollbar-track-background: "#28211c";
  --scrollbar-track-border: null;
  --search-match_background: "#5e5d5c";
  --status_bar-background: "#28211c";
  --success: "#54be0d";
  --success-background: "#28211c";
  --success-border: "#54be0d";
  --surface-background: "#28211c";
  --tab-active_background: "#28211c";
  --tab-inactive_background: "#36312e";
  --tab_bar-background: "#28211c";
  --terminal-ansi-black: "#28211c";
  --terminal-ansi-blue: "#5ea6ea";
  --terminal-ansi-bright_black: "#666666";
  --terminal-ansi-bright_blue: "#5ea6ea";
  --terminal-ansi-bright_cyan: "#afc4db";
  --terminal-ansi-bright_green: "#54be0d";
  --terminal-ansi-bright_magenta: "#9b859d";
  --terminal-ansi-bright_red: "#cf6a4c";
  --terminal-ansi-bright_white: "#baae9e";
  --terminal-ansi-bright_yellow: "#f9ee98";
  --terminal-ansi-cyan: "#afc4db";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#54be0d";
  --terminal-ansi-magenta: "#9b859d";
  --terminal-ansi-red: "#cf6a4c";
  --terminal-ansi-white: "#8a8986";
  --terminal-ansi-yellow: "#f9ee98";
  --terminal-background: "#28211c";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#8a8986";
  --text-accent: "#afc4db";
  --text-disabled: "#5e5d5c";
  --text-muted: "#797977";
  --text-placeholder: "#baae9e";
  --title_bar-background: "#28211c";
  --toolbar-background: "#28211c";
  --unreachable: "#f9ee98";
  --unreachable-background: "#28211c";
  --unreachable-border: "#f9ee98";
  --warning: "#f9ee98";
  --warning-background: "#28211c";
  --warning-border: "#f9ee98";
  --player-1-background: null;
  --player-1-cursor: "#8a8986";
  --player-1-selection: "#5e5d5c";
  --syntax-attribute-color: "#5ea6ea";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#cf7d34";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#666666";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#666666";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#cf7d34";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#cf6a4c";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#cf6a4c";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#cf6a4c";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#5ea6ea";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#9b859d";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f9ee98";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#cf6a4c";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#cf6a4c";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#cf7d34";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#8a8986";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#8a8986";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#8a8986";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#8a8986";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#8a8986";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#54be0d";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#cf7d34";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#54be0d";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#54be0d";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#54be0d";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#cf6a4c";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#54be0d";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f9ee98";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f9ee98";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#cf6a4c";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#cf6a4c";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
