:root {
  --background: "#271c3a";
  --border: "#3e2d5c";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#3e2d5c";
  --conflict: "#804ead";
  --conflict-background: "#271c3a";
  --conflict-border: "#804ead";
  --created: "#c6914b";
  --created-background: "#271c3a";
  --created-border: "#c6914b";
  --deleted: "#a92258";
  --deleted-background: "#271c3a";
  --deleted-border: "#a92258";
  --drop_target-background: "#3e2d5c";
  --editor-active_line-background: "#100323";
  --editor-active_line_number: "#edeaef";
  --editor-active_wrap_guide: "#5d5766";
  --editor-background: "#271c3a";
  --editor-document_highlight-read_background: "#100323";
  --editor-document_highlight-write_background: "#100323";
  --editor-foreground: "#dedcdf";
  --editor-gutter-background: "#271c3a";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#5d5766";
  --editor-subheader-background: "#271c3a";
  --editor-wrap_guide: "#100323";
  --element-active: null;
  --element-background: "#100323";
  --element-disabled: null;
  --element-hover: "#3e2d5c";
  --element-selected: "#3e2d5c";
  --elevated_surface-background: "#271c3a";
  --error: "#a92258";
  --error-background: "#271c3a";
  --error-border: "#a92258";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#100323";
  --ghost_element-selected: "#3e2d5c";
  --hidden: "#5d5766";
  --hidden-background: "#271c3a";
  --hidden-border: "#5d5766";
  --hint: "#dedcdf";
  --hint-background: "#271c3a";
  --hint-border: "#7263aa";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#5d5766";
  --ignored-background: "#271c3a";
  --ignored-border: "#5d5766";
  --info: "#7263aa";
  --info-background: "#271c3a";
  --info-border: "#7263aa";
  --link_text-hover: "#7263aa";
  --modified: "#8e7dc6";
  --modified-background: "#271c3a";
  --modified-border: "#8e7dc6";
  --pane-focused_border: null;
  --panel-background: "#271c3a";
  --panel-focused_border: "#3e2d5c";
  --predictive: "#5d5766";
  --predictive-background: "#100323";
  --predictive-border: "#3e2d5c";
  --renamed: "#804ead";
  --renamed-background: "#271c3a";
  --renamed-border: "#804ead";
  --scrollbar-thumb-background: "#3e2d5c";
  --scrollbar-thumb-border: "#3e2d5c6f";
  --scrollbar-thumb-hover_background: "#5d5766";
  --scrollbar-track-background: "#271c3a";
  --scrollbar-track-border: null;
  --search-match_background: "#3e2d5c";
  --status_bar-background: "#271c3a";
  --success: "#c6914b";
  --success-background: "#271c3a";
  --success-border: "#c6914b";
  --surface-background: "#271c3a";
  --tab-active_background: "#271c3a";
  --tab-inactive_background: "#100323";
  --tab_bar-background: "#271c3a";
  --terminal-ansi-black: "#271c3a";
  --terminal-ansi-blue: "#8e7dc6";
  --terminal-ansi-bright_black: "#5d5766";
  --terminal-ansi-bright_blue: "#8e7dc6";
  --terminal-ansi-bright_cyan: "#7263aa";
  --terminal-ansi-bright_green: "#c6914b";
  --terminal-ansi-bright_magenta: "#953b9d";
  --terminal-ansi-bright_red: "#a92258";
  --terminal-ansi-bright_white: "#bbaadd";
  --terminal-ansi-bright_yellow: "#804ead";
  --terminal-ansi-cyan: "#7263aa";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#c6914b";
  --terminal-ansi-magenta: "#953b9d";
  --terminal-ansi-red: "#a92258";
  --terminal-ansi-white: "#dedcdf";
  --terminal-ansi-yellow: "#804ead";
  --terminal-background: "#271c3a";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#dedcdf";
  --text-accent: "#7263aa";
  --text-disabled: "#3e2d5c";
  --text-muted: "#bebcbf";
  --text-placeholder: "#bbaadd";
  --title_bar-background: "#271c3a";
  --toolbar-background: "#271c3a";
  --unreachable: "#804ead";
  --unreachable-background: "#271c3a";
  --unreachable-border: "#804ead";
  --warning: "#804ead";
  --warning-background: "#271c3a";
  --warning-border: "#804ead";
  --player-1-background: null;
  --player-1-cursor: "#dedcdf";
  --player-1-selection: "#3e2d5c";
  --syntax-attribute-color: "#8e7dc6";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#918889";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#5d5766";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#5d5766";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#918889";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#a92258";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#a92258";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#a92258";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#8e7dc6";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#953b9d";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#804ead";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#a92258";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#a92258";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#918889";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#dedcdf";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#dedcdf";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#dedcdf";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#dedcdf";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#dedcdf";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#c6914b";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#918889";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#c6914b";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#c6914b";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#c6914b";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#a92258";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#c6914b";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#804ead";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#804ead";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#a92258";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#a92258";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
