:root {
  --background: "#f5f5f5";
  --border: "#d0d0d0";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#d0d0d0";
  --conflict: "#f4bf75";
  --conflict-background: "#f5f5f5";
  --conflict-border: "#f4bf75";
  --created: "#90a959";
  --created-background: "#f5f5f5";
  --created-border: "#90a959";
  --deleted: "#ac4142";
  --deleted-background: "#f5f5f5";
  --deleted-border: "#ac4142";
  --drop_target-background: "#d0d0d0";
  --editor-active_line-background: "#e0e0e0";
  --editor-active_line_number: "#202020";
  --editor-active_wrap_guide: "#b0b0b0";
  --editor-background: "#f5f5f5";
  --editor-document_highlight-read_background: "#e0e0e0";
  --editor-document_highlight-write_background: "#e0e0e0";
  --editor-foreground: "#303030";
  --editor-gutter-background: "#f5f5f5";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#b0b0b0";
  --editor-subheader-background: "#f5f5f5";
  --editor-wrap_guide: "#e0e0e0";
  --element-active: null;
  --element-background: "#e0e0e0";
  --element-disabled: null;
  --element-hover: "#d0d0d0";
  --element-selected: "#d0d0d0";
  --elevated_surface-background: "#f5f5f5";
  --error: "#ac4142";
  --error-background: "#f5f5f5";
  --error-border: "#ac4142";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e0e0e0";
  --ghost_element-selected: "#d0d0d0";
  --hidden: "#b0b0b0";
  --hidden-background: "#f5f5f5";
  --hidden-border: "#b0b0b0";
  --hint: "#303030";
  --hint-background: "#f5f5f5";
  --hint-border: "#75b5aa";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#b0b0b0";
  --ignored-background: "#f5f5f5";
  --ignored-border: "#b0b0b0";
  --info: "#75b5aa";
  --info-background: "#f5f5f5";
  --info-border: "#75b5aa";
  --link_text-hover: "#75b5aa";
  --modified: "#6a9fb5";
  --modified-background: "#f5f5f5";
  --modified-border: "#6a9fb5";
  --pane-focused_border: null;
  --panel-background: "#f5f5f5";
  --panel-focused_border: "#d0d0d0";
  --predictive: "#b0b0b0";
  --predictive-background: "#e0e0e0";
  --predictive-border: "#d0d0d0";
  --renamed: "#f4bf75";
  --renamed-background: "#f5f5f5";
  --renamed-border: "#f4bf75";
  --scrollbar-thumb-background: "#d0d0d0";
  --scrollbar-thumb-border: "#d0d0d06f";
  --scrollbar-thumb-hover_background: "#b0b0b0";
  --scrollbar-track-background: "#f5f5f5";
  --scrollbar-track-border: null;
  --search-match_background: "#d0d0d0";
  --status_bar-background: "#f5f5f5";
  --success: "#90a959";
  --success-background: "#f5f5f5";
  --success-border: "#90a959";
  --surface-background: "#f5f5f5";
  --tab-active_background: "#f5f5f5";
  --tab-inactive_background: "#e0e0e0";
  --tab_bar-background: "#f5f5f5";
  --terminal-ansi-black: "#f5f5f5";
  --terminal-ansi-blue: "#6a9fb5";
  --terminal-ansi-bright_black: "#b0b0b0";
  --terminal-ansi-bright_blue: "#6a9fb5";
  --terminal-ansi-bright_cyan: "#75b5aa";
  --terminal-ansi-bright_green: "#90a959";
  --terminal-ansi-bright_magenta: "#aa759f";
  --terminal-ansi-bright_red: "#ac4142";
  --terminal-ansi-bright_white: "#151515";
  --terminal-ansi-bright_yellow: "#f4bf75";
  --terminal-ansi-cyan: "#75b5aa";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#90a959";
  --terminal-ansi-magenta: "#aa759f";
  --terminal-ansi-red: "#ac4142";
  --terminal-ansi-white: "#303030";
  --terminal-ansi-yellow: "#f4bf75";
  --terminal-background: "#f5f5f5";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#303030";
  --text-accent: "#75b5aa";
  --text-disabled: "#d0d0d0";
  --text-muted: "#505050";
  --text-placeholder: "#151515";
  --title_bar-background: "#f5f5f5";
  --toolbar-background: "#f5f5f5";
  --unreachable: "#f4bf75";
  --unreachable-background: "#f5f5f5";
  --unreachable-border: "#f4bf75";
  --warning: "#f4bf75";
  --warning-background: "#f5f5f5";
  --warning-border: "#f4bf75";
  --player-1-background: null;
  --player-1-cursor: "#303030";
  --player-1-selection: "#d0d0d0";
  --syntax-attribute-color: "#6a9fb5";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d28445";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#b0b0b0";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#b0b0b0";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d28445";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ac4142";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ac4142";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ac4142";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#6a9fb5";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#aa759f";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f4bf75";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ac4142";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ac4142";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d28445";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#303030";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#303030";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#303030";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#303030";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#303030";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#90a959";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d28445";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#90a959";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#90a959";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#90a959";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ac4142";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#90a959";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f4bf75";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f4bf75";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ac4142";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ac4142";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
