:root {
  --background: "#fbf3db";
  --border: "#d5cdb6";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#d5cdb6";
  --conflict: "#a78300";
  --conflict-background: "#fbf3db";
  --conflict-border: "#a78300";
  --created: "#428b00";
  --created-background: "#fbf3db";
  --created-border: "#428b00";
  --deleted: "#cc1729";
  --deleted-background: "#fbf3db";
  --deleted-border: "#cc1729";
  --drop_target-background: "#d5cdb6";
  --editor-active_line-background: "#ece3cc";
  --editor-active_line_number: "#3a4d53";
  --editor-active_wrap_guide: "#909995";
  --editor-background: "#fbf3db";
  --editor-document_highlight-read_background: "#ece3cc";
  --editor-document_highlight-write_background: "#ece3cc";
  --editor-foreground: "#53676d";
  --editor-gutter-background: "#fbf3db";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#909995";
  --editor-subheader-background: "#fbf3db";
  --editor-wrap_guide: "#ece3cc";
  --element-active: null;
  --element-background: "#ece3cc";
  --element-disabled: null;
  --element-hover: "#d5cdb6";
  --element-selected: "#d5cdb6";
  --elevated_surface-background: "#fbf3db";
  --error: "#cc1729";
  --error-background: "#fbf3db";
  --error-border: "#cc1729";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#ece3cc";
  --ghost_element-selected: "#d5cdb6";
  --hidden: "#909995";
  --hidden-background: "#fbf3db";
  --hidden-border: "#909995";
  --hint: "#53676d";
  --hint-background: "#fbf3db";
  --hint-border: "#00978a";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#909995";
  --ignored-background: "#fbf3db";
  --ignored-border: "#909995";
  --info: "#00978a";
  --info-background: "#fbf3db";
  --info-border: "#00978a";
  --link_text-hover: "#00978a";
  --modified: "#006dce";
  --modified-background: "#fbf3db";
  --modified-border: "#006dce";
  --pane-focused_border: null;
  --panel-background: "#fbf3db";
  --panel-focused_border: "#d5cdb6";
  --predictive: "#909995";
  --predictive-background: "#ece3cc";
  --predictive-border: "#d5cdb6";
  --renamed: "#a78300";
  --renamed-background: "#fbf3db";
  --renamed-border: "#a78300";
  --scrollbar-thumb-background: "#d5cdb6";
  --scrollbar-thumb-border: "#d5cdb66f";
  --scrollbar-thumb-hover_background: "#909995";
  --scrollbar-track-background: "#fbf3db";
  --scrollbar-track-border: null;
  --search-match_background: "#d5cdb6";
  --status_bar-background: "#fbf3db";
  --success: "#428b00";
  --success-background: "#fbf3db";
  --success-border: "#428b00";
  --surface-background: "#fbf3db";
  --tab-active_background: "#fbf3db";
  --tab-inactive_background: "#ece3cc";
  --tab_bar-background: "#fbf3db";
  --terminal-ansi-black: "#fbf3db";
  --terminal-ansi-blue: "#006dce";
  --terminal-ansi-bright_black: "#909995";
  --terminal-ansi-bright_blue: "#006dce";
  --terminal-ansi-bright_cyan: "#00978a";
  --terminal-ansi-bright_green: "#428b00";
  --terminal-ansi-bright_magenta: "#825dc0";
  --terminal-ansi-bright_red: "#cc1729";
  --terminal-ansi-bright_white: "#3a4d53";
  --terminal-ansi-bright_yellow: "#a78300";
  --terminal-ansi-cyan: "#00978a";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#428b00";
  --terminal-ansi-magenta: "#825dc0";
  --terminal-ansi-red: "#cc1729";
  --terminal-ansi-white: "#53676d";
  --terminal-ansi-yellow: "#a78300";
  --terminal-background: "#fbf3db";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#53676d";
  --text-accent: "#00978a";
  --text-disabled: "#d5cdb6";
  --text-muted: "#909995";
  --text-placeholder: "#3a4d53";
  --title_bar-background: "#fbf3db";
  --toolbar-background: "#fbf3db";
  --unreachable: "#a78300";
  --unreachable-background: "#fbf3db";
  --unreachable-border: "#a78300";
  --warning: "#a78300";
  --warning-background: "#fbf3db";
  --warning-border: "#a78300";
  --player-1-background: null;
  --player-1-cursor: "#53676d";
  --player-1-selection: "#d5cdb6";
  --syntax-attribute-color: "#006dce";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#bc5819";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#909995";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#909995";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#bc5819";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#cc1729";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#cc1729";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#cc1729";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#006dce";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#825dc0";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#a78300";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#cc1729";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#cc1729";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#bc5819";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#53676d";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#53676d";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#53676d";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#53676d";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#53676d";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#428b00";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#bc5819";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#428b00";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#428b00";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#428b00";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#cc1729";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#428b00";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#a78300";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#a78300";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#cc1729";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#cc1729";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
