:root {
  --background: "#f7f9fb";
  --border: "#cbd6e2";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#cbd6e2";
  --conflict: "#8bbf56";
  --conflict-background: "#f7f9fb";
  --conflict-border: "#8bbf56";
  --created: "#56bf8b";
  --created-background: "#f7f9fb";
  --created-border: "#56bf8b";
  --deleted: "#bf8b56";
  --deleted-background: "#f7f9fb";
  --deleted-border: "#bf8b56";
  --drop_target-background: "#cbd6e2";
  --editor-active_line-background: "#e5ebf1";
  --editor-active_line_number: "#223b54";
  --editor-active_wrap_guide: "#aabcce";
  --editor-background: "#f7f9fb";
  --editor-document_highlight-read_background: "#e5ebf1";
  --editor-document_highlight-write_background: "#e5ebf1";
  --editor-foreground: "#405c79";
  --editor-gutter-background: "#f7f9fb";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#aabcce";
  --editor-subheader-background: "#f7f9fb";
  --editor-wrap_guide: "#e5ebf1";
  --element-active: null;
  --element-background: "#e5ebf1";
  --element-disabled: null;
  --element-hover: "#cbd6e2";
  --element-selected: "#cbd6e2";
  --elevated_surface-background: "#f7f9fb";
  --error: "#bf8b56";
  --error-background: "#f7f9fb";
  --error-border: "#bf8b56";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e5ebf1";
  --ghost_element-selected: "#cbd6e2";
  --hidden: "#aabcce";
  --hidden-background: "#f7f9fb";
  --hidden-border: "#aabcce";
  --hint: "#405c79";
  --hint-background: "#f7f9fb";
  --hint-border: "#568bbf";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#aabcce";
  --ignored-background: "#f7f9fb";
  --ignored-border: "#aabcce";
  --info: "#568bbf";
  --info-background: "#f7f9fb";
  --info-border: "#568bbf";
  --link_text-hover: "#568bbf";
  --modified: "#8b56bf";
  --modified-background: "#f7f9fb";
  --modified-border: "#8b56bf";
  --pane-focused_border: null;
  --panel-background: "#f7f9fb";
  --panel-focused_border: "#cbd6e2";
  --predictive: "#aabcce";
  --predictive-background: "#e5ebf1";
  --predictive-border: "#cbd6e2";
  --renamed: "#8bbf56";
  --renamed-background: "#f7f9fb";
  --renamed-border: "#8bbf56";
  --scrollbar-thumb-background: "#cbd6e2";
  --scrollbar-thumb-border: "#cbd6e26f";
  --scrollbar-thumb-hover_background: "#aabcce";
  --scrollbar-track-background: "#f7f9fb";
  --scrollbar-track-border: null;
  --search-match_background: "#cbd6e2";
  --status_bar-background: "#f7f9fb";
  --success: "#56bf8b";
  --success-background: "#f7f9fb";
  --success-border: "#56bf8b";
  --surface-background: "#f7f9fb";
  --tab-active_background: "#f7f9fb";
  --tab-inactive_background: "#e5ebf1";
  --tab_bar-background: "#f7f9fb";
  --terminal-ansi-black: "#f7f9fb";
  --terminal-ansi-blue: "#8b56bf";
  --terminal-ansi-bright_black: "#aabcce";
  --terminal-ansi-bright_blue: "#8b56bf";
  --terminal-ansi-bright_cyan: "#568bbf";
  --terminal-ansi-bright_green: "#56bf8b";
  --terminal-ansi-bright_magenta: "#bf568b";
  --terminal-ansi-bright_red: "#bf8b56";
  --terminal-ansi-bright_white: "#0b1c2c";
  --terminal-ansi-bright_yellow: "#8bbf56";
  --terminal-ansi-cyan: "#568bbf";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#56bf8b";
  --terminal-ansi-magenta: "#bf568b";
  --terminal-ansi-red: "#bf8b56";
  --terminal-ansi-white: "#405c79";
  --terminal-ansi-yellow: "#8bbf56";
  --terminal-background: "#f7f9fb";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#405c79";
  --text-accent: "#568bbf";
  --text-disabled: "#cbd6e2";
  --text-muted: "#627e99";
  --text-placeholder: "#0b1c2c";
  --title_bar-background: "#f7f9fb";
  --toolbar-background: "#f7f9fb";
  --unreachable: "#8bbf56";
  --unreachable-background: "#f7f9fb";
  --unreachable-border: "#8bbf56";
  --warning: "#8bbf56";
  --warning-background: "#f7f9fb";
  --warning-border: "#8bbf56";
  --player-1-background: null;
  --player-1-cursor: "#405c79";
  --player-1-selection: "#cbd6e2";
  --syntax-attribute-color: "#8b56bf";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#bfbf56";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#aabcce";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#aabcce";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#bfbf56";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#bf8b56";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#bf8b56";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#bf8b56";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#8b56bf";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#bf568b";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#8bbf56";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#bf8b56";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#bf8b56";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#bfbf56";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#405c79";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#405c79";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#405c79";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#405c79";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#405c79";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#56bf8b";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#bfbf56";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#56bf8b";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#56bf8b";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#56bf8b";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#bf8b56";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#56bf8b";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#8bbf56";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#8bbf56";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#bf8b56";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#bf8b56";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
