:root {
  --background: "#232c31";
  --border: "#2a343a";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#2a343a";
  --conflict: "#a03b1e";
  --conflict-background: "#232c31";
  --conflict-border: "#a03b1e";
  --created: "#237986";
  --created-background: "#232c31";
  --created-border: "#237986";
  --deleted: "#2a5491";
  --deleted-background: "#232c31";
  --deleted-border: "#2a5491";
  --drop_target-background: "#2a343a";
  --editor-active_line-background: "#1c3657";
  --editor-active_line_number: "#a7cfa3";
  --editor-active_wrap_guide: "#3f4944";
  --editor-background: "#232c31";
  --editor-document_highlight-read_background: "#1c3657";
  --editor-document_highlight-write_background: "#1c3657";
  --editor-foreground: "#9ea7a6";
  --editor-gutter-background: "#232c31";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#3f4944";
  --editor-subheader-background: "#232c31";
  --editor-wrap_guide: "#1c3657";
  --element-active: null;
  --element-background: "#1c3657";
  --element-disabled: null;
  --element-hover: "#2a343a";
  --element-selected: "#2a343a";
  --elevated_surface-background: "#232c31";
  --error: "#2a5491";
  --error-background: "#232c31";
  --error-border: "#2a5491";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#1c3657";
  --ghost_element-selected: "#2a343a";
  --hidden: "#3f4944";
  --hidden-background: "#232c31";
  --hidden-border: "#3f4944";
  --hint: "#9ea7a6";
  --hint-background: "#232c31";
  --hint-border: "#b02f30";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#3f4944";
  --ignored-background: "#232c31";
  --ignored-border: "#3f4944";
  --info: "#b02f30";
  --info-background: "#232c31";
  --info-border: "#b02f30";
  --link_text-hover: "#b02f30";
  --modified: "#484d79";
  --modified-background: "#232c31";
  --modified-border: "#484d79";
  --pane-focused_border: null;
  --panel-background: "#232c31";
  --panel-focused_border: "#2a343a";
  --predictive: "#3f4944";
  --predictive-background: "#1c3657";
  --predictive-border: "#2a343a";
  --renamed: "#a03b1e";
  --renamed-background: "#232c31";
  --renamed-border: "#a03b1e";
  --scrollbar-thumb-background: "#2a343a";
  --scrollbar-thumb-border: "#2a343a6f";
  --scrollbar-thumb-hover_background: "#3f4944";
  --scrollbar-track-background: "#232c31";
  --scrollbar-track-border: null;
  --search-match_background: "#2a343a";
  --status_bar-background: "#232c31";
  --success: "#237986";
  --success-background: "#232c31";
  --success-border: "#237986";
  --surface-background: "#232c31";
  --tab-active_background: "#232c31";
  --tab-inactive_background: "#1c3657";
  --tab_bar-background: "#232c31";
  --terminal-ansi-black: "#232c31";
  --terminal-ansi-blue: "#484d79";
  --terminal-ansi-bright_black: "#3f4944";
  --terminal-ansi-bright_blue: "#484d79";
  --terminal-ansi-bright_cyan: "#b02f30";
  --terminal-ansi-bright_green: "#237986";
  --terminal-ansi-bright_magenta: "#c59820";
  --terminal-ansi-bright_red: "#2a5491";
  --terminal-ansi-bright_white: "#b5d8f6";
  --terminal-ansi-bright_yellow: "#a03b1e";
  --terminal-ansi-cyan: "#b02f30";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#237986";
  --terminal-ansi-magenta: "#c59820";
  --terminal-ansi-red: "#2a5491";
  --terminal-ansi-white: "#9ea7a6";
  --terminal-ansi-yellow: "#a03b1e";
  --terminal-background: "#232c31";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#9ea7a6";
  --text-accent: "#b02f30";
  --text-disabled: "#2a343a";
  --text-muted: "#84898c";
  --text-placeholder: "#b5d8f6";
  --title_bar-background: "#232c31";
  --toolbar-background: "#232c31";
  --unreachable: "#a03b1e";
  --unreachable-background: "#232c31";
  --unreachable-border: "#a03b1e";
  --warning: "#a03b1e";
  --warning-background: "#232c31";
  --warning-border: "#a03b1e";
  --player-1-background: null;
  --player-1-cursor: "#9ea7a6";
  --player-1-selection: "#2a343a";
  --syntax-attribute-color: "#484d79";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#43820d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#3f4944";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#3f4944";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#43820d";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#2a5491";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#2a5491";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#2a5491";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#484d79";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#c59820";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#a03b1e";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#2a5491";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#2a5491";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#43820d";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#9ea7a6";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#9ea7a6";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#9ea7a6";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#9ea7a6";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#9ea7a6";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#237986";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#43820d";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#237986";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#237986";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#237986";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#2a5491";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#237986";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#a03b1e";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#a03b1e";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#2a5491";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#2a5491";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
