:root {
  --background: "#2e2a31";
  --border: "#666369";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#666369";
  --conflict: "#dc8a0e";
  --conflict-background: "#2e2a31";
  --conflict-border: "#dc8a0e";
  --created: "#17ad98";
  --created-background: "#2e2a31";
  --created-border: "#17ad98";
  --deleted: "#d8137f";
  --deleted-background: "#2e2a31";
  --deleted-border: "#d8137f";
  --drop_target-background: "#666369";
  --editor-active_line-background: "#4a464d";
  --editor-active_line_number: "#d8d7da";
  --editor-active_wrap_guide: "#838085";
  --editor-background: "#2e2a31";
  --editor-document_highlight-read_background: "#4a464d";
  --editor-document_highlight-write_background: "#4a464d";
  --editor-foreground: "#bcbabe";
  --editor-gutter-background: "#2e2a31";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#838085";
  --editor-subheader-background: "#2e2a31";
  --editor-wrap_guide: "#4a464d";
  --element-active: null;
  --element-background: "#4a464d";
  --element-disabled: null;
  --element-hover: "#666369";
  --element-selected: "#666369";
  --elevated_surface-background: "#2e2a31";
  --error: "#d8137f";
  --error-background: "#2e2a31";
  --error-border: "#d8137f";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#4a464d";
  --ghost_element-selected: "#666369";
  --hidden: "#838085";
  --hidden-background: "#2e2a31";
  --hidden-border: "#838085";
  --hint: "#bcbabe";
  --hint-background: "#2e2a31";
  --hint-border: "#149bda";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#838085";
  --ignored-background: "#2e2a31";
  --ignored-border: "#838085";
  --info: "#149bda";
  --info-background: "#2e2a31";
  --info-border: "#149bda";
  --link_text-hover: "#149bda";
  --modified: "#796af5";
  --modified-background: "#2e2a31";
  --modified-border: "#796af5";
  --pane-focused_border: null;
  --panel-background: "#2e2a31";
  --panel-focused_border: "#666369";
  --predictive: "#838085";
  --predictive-background: "#4a464d";
  --predictive-border: "#666369";
  --renamed: "#dc8a0e";
  --renamed-background: "#2e2a31";
  --renamed-border: "#dc8a0e";
  --scrollbar-thumb-background: "#666369";
  --scrollbar-thumb-border: "#6663696f";
  --scrollbar-thumb-hover_background: "#838085";
  --scrollbar-track-background: "#2e2a31";
  --scrollbar-track-border: null;
  --search-match_background: "#666369";
  --status_bar-background: "#2e2a31";
  --success: "#17ad98";
  --success-background: "#2e2a31";
  --success-border: "#17ad98";
  --surface-background: "#2e2a31";
  --tab-active_background: "#2e2a31";
  --tab-inactive_background: "#4a464d";
  --tab_bar-background: "#2e2a31";
  --terminal-ansi-black: "#2e2a31";
  --terminal-ansi-blue: "#796af5";
  --terminal-ansi-bright_black: "#838085";
  --terminal-ansi-bright_blue: "#796af5";
  --terminal-ansi-bright_cyan: "#149bda";
  --terminal-ansi-bright_green: "#17ad98";
  --terminal-ansi-bright_magenta: "#bb60ea";
  --terminal-ansi-bright_red: "#d8137f";
  --terminal-ansi-bright_white: "#f5f4f7";
  --terminal-ansi-bright_yellow: "#dc8a0e";
  --terminal-ansi-cyan: "#149bda";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#17ad98";
  --terminal-ansi-magenta: "#bb60ea";
  --terminal-ansi-red: "#d8137f";
  --terminal-ansi-white: "#bcbabe";
  --terminal-ansi-yellow: "#dc8a0e";
  --terminal-background: "#2e2a31";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#bcbabe";
  --text-accent: "#149bda";
  --text-disabled: "#666369";
  --text-muted: "#9f9da2";
  --text-placeholder: "#f5f4f7";
  --title_bar-background: "#2e2a31";
  --toolbar-background: "#2e2a31";
  --unreachable: "#dc8a0e";
  --unreachable-background: "#2e2a31";
  --unreachable-border: "#dc8a0e";
  --warning: "#dc8a0e";
  --warning-background: "#2e2a31";
  --warning-border: "#dc8a0e";
  --player-1-background: null;
  --player-1-cursor: "#bcbabe";
  --player-1-selection: "#666369";
  --syntax-attribute-color: "#796af5";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#d65407";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#838085";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#838085";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d65407";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d8137f";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#d8137f";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#d8137f";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#796af5";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#bb60ea";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#dc8a0e";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#d8137f";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#d8137f";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d65407";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#bcbabe";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#bcbabe";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#bcbabe";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#bcbabe";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#bcbabe";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#17ad98";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#d65407";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#17ad98";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#17ad98";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#17ad98";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#d8137f";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#17ad98";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#dc8a0e";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#dc8a0e";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d8137f";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#d8137f";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
