:root {
  --background: "#1a1b26";
  --border: "#2f3549";
  --border_disabled: null;
  --border_focused: null;
  --border_selected: null;
  --border_transparent: null;
  --border_variant: "#2f3549";
  --conflict: "#0db9d7";
  --conflict_background: "#1a1b26";
  --conflict_border: "#0db9d7";
  --created: "#9ece6a";
  --created_background: "#1a1b26";
  --created_border: "#9ece6a";
  --deleted: "#c0caf5";
  --deleted_background: "#1a1b26";
  --deleted_border: "#c0caf5";
  --drop_target_background: "#2f3549";
  --editor_active_line_background: "#16161e";
  --editor_active_line_number: "#cbccd1";
  --editor_active_wrap_guide: "#444b6a";
  --editor_background: "#1a1b26";
  --editor_document_highlight_read_background: "#16161e";
  --editor_document_highlight_write_background: "#16161e";
  --editor_foreground: "#a9b1d6";
  --editor_gutter_background: "#1a1b26";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#444b6a";
  --editor_subheader_background: "#1a1b26";
  --editor_wrap_guide: "#16161e";
  --element_active: null;
  --element_background: "#16161e";
  --element_disabled: null;
  --element_hover: "#2f3549";
  --element_selected: "#2f3549";
  --elevated_surface_background: "#1a1b26";
  --error: "#c0caf5";
  --error_background: "#1a1b26";
  --error_border: "#c0caf5";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#16161e";
  --ghost_element_selected: "#2f3549";
  --hidden: "#444b6a";
  --hidden_background: "#1a1b26";
  --hidden_border: "#444b6a";
  --hint: "#a9b1d6";
  --hint_background: "#1a1b26";
  --hint_border: "#b4f9f8";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#444b6a";
  --ignored_background: "#1a1b26";
  --ignored_border: "#444b6a";
  --info: "#b4f9f8";
  --info_background: "#1a1b26";
  --info_border: "#b4f9f8";
  --link_text_hover: "#b4f9f8";
  --modified: "#2ac3de";
  --modified_background: "#1a1b26";
  --modified_border: "#2ac3de";
  --pane_focused_border: null;
  --panel_background: "#1a1b26";
  --panel_focused_border: "#2f3549";
  --predictive: "#444b6a";
  --predictive_background: "#16161e";
  --predictive_border: "#2f3549";
  --renamed: "#0db9d7";
  --renamed_background: "#1a1b26";
  --renamed_border: "#0db9d7";
  --scrollbar_thumb_background: "#2f3549";
  --scrollbar_thumb_border: "#2f35496f";
  --scrollbar_thumb_hover_background: "#444b6a";
  --scrollbar_track_background: "#1a1b26";
  --scrollbar_track_border: null;
  --search_match_background: "#2f3549";
  --status_bar_background: "#1a1b26";
  --success: "#9ece6a";
  --success_background: "#1a1b26";
  --success_border: "#9ece6a";
  --surface_background: "#1a1b26";
  --tab_active_background: "#1a1b26";
  --tab_inactive_background: "#16161e";
  --tab_bar_background: "#1a1b26";
  --terminal_ansi_black: "#1a1b26";
  --terminal_ansi_blue: "#2ac3de";
  --terminal_ansi_bright_black: "#444b6a";
  --terminal_ansi_bright_blue: "#2ac3de";
  --terminal_ansi_bright_cyan: "#b4f9f8";
  --terminal_ansi_bright_green: "#9ece6a";
  --terminal_ansi_bright_magenta: "#bb9af7";
  --terminal_ansi_bright_red: "#c0caf5";
  --terminal_ansi_bright_white: "#d5d6db";
  --terminal_ansi_bright_yellow: "#0db9d7";
  --terminal_ansi_cyan: "#b4f9f8";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#9ece6a";
  --terminal_ansi_magenta: "#bb9af7";
  --terminal_ansi_red: "#c0caf5";
  --terminal_ansi_white: "#a9b1d6";
  --terminal_ansi_yellow: "#0db9d7";
  --terminal_background: "#1a1b26";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#a9b1d6";
  --text_accent: "#b4f9f8";
  --text_disabled: "#2f3549";
  --text_muted: "#787c99";
  --text_placeholder: "#d5d6db";
  --title_bar_background: "#1a1b26";
  --toolbar_background: "#1a1b26";
  --unreachable: "#0db9d7";
  --unreachable_background: "#1a1b26";
  --unreachable_border: "#0db9d7";
  --warning: "#0db9d7";
  --warning_background: "#1a1b26";
  --warning_border: "#0db9d7";
  --player_1_background: null;
  --player_1_cursor: "#a9b1d6";
  --player_1_selection: "#2f3549";
  --syntax_attribute_color: "#2ac3de";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#a9b1d6";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#444b6a";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#444b6a";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#a9b1d6";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#c0caf5";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#c0caf5";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#c0caf5";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#2ac3de";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#bb9af7";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#0db9d7";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#c0caf5";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#c0caf5";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#a9b1d6";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_punctuation_color: "#a9b1d6";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#a9b1d6";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#a9b1d6";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#a9b1d6";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#a9b1d6";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#9ece6a";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#a9b1d6";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#9ece6a";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#9ece6a";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#9ece6a";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#c0caf5";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#9ece6a";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#0db9d7";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#0db9d7";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#c0caf5";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#c0caf5";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
}
