:root {
  --background: "#ffffff";
  --border: "#c0c0c0";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#c0c0c0";
  --conflict: "#826b28";
  --conflict-background: "#ffffff";
  --conflict-border: "#826b28";
  --created: "#007400";
  --created-background: "#ffffff";
  --created-border: "#007400";
  --deleted: "#c41a15";
  --deleted-background: "#ffffff";
  --deleted-border: "#c41a15";
  --drop_target-background: "#c0c0c0";
  --editor-active_line-background: "#c0c0c0";
  --editor-active_line_number: "#404040";
  --editor-active_wrap_guide: "#808080";
  --editor-background: "#ffffff";
  --editor-document_highlight-read_background: "#c0c0c0";
  --editor-document_highlight-write_background: "#c0c0c0";
  --editor-foreground: "#404040";
  --editor-gutter-background: "#ffffff";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#808080";
  --editor-subheader-background: "#ffffff";
  --editor-wrap_guide: "#c0c0c0";
  --element-active: null;
  --element-background: "#c0c0c0";
  --element-disabled: null;
  --element-hover: "#c0c0c0";
  --element-selected: "#c0c0c0";
  --elevated_surface-background: "#ffffff";
  --error: "#c41a15";
  --error-background: "#ffffff";
  --error-border: "#c41a15";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#c0c0c0";
  --ghost_element-selected: "#c0c0c0";
  --hidden: "#808080";
  --hidden-background: "#ffffff";
  --hidden-border: "#808080";
  --hint: "#404040";
  --hint-background: "#ffffff";
  --hint-border: "#318495";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#808080";
  --ignored-background: "#ffffff";
  --ignored-border: "#808080";
  --info: "#318495";
  --info-background: "#ffffff";
  --info-border: "#318495";
  --link_text-hover: "#318495";
  --modified: "#0000ff";
  --modified-background: "#ffffff";
  --modified-border: "#0000ff";
  --pane-focused_border: null;
  --panel-background: "#ffffff";
  --panel-focused_border: "#c0c0c0";
  --predictive: "#808080";
  --predictive-background: "#c0c0c0";
  --predictive-border: "#c0c0c0";
  --renamed: "#826b28";
  --renamed-background: "#ffffff";
  --renamed-border: "#826b28";
  --scrollbar-thumb-background: "#c0c0c0";
  --scrollbar-thumb-border: "#c0c0c06f";
  --scrollbar-thumb-hover_background: "#808080";
  --scrollbar-track-background: "#ffffff";
  --scrollbar-track-border: null;
  --search-match_background: "#c0c0c0";
  --status_bar-background: "#ffffff";
  --success: "#007400";
  --success-background: "#ffffff";
  --success-border: "#007400";
  --surface-background: "#ffffff";
  --tab-active_background: "#ffffff";
  --tab-inactive_background: "#c0c0c0";
  --tab_bar-background: "#ffffff";
  --terminal-ansi-black: "#ffffff";
  --terminal-ansi-blue: "#0000ff";
  --terminal-ansi-bright_black: "#808080";
  --terminal-ansi-bright_blue: "#0000ff";
  --terminal-ansi-bright_cyan: "#318495";
  --terminal-ansi-bright_green: "#007400";
  --terminal-ansi-bright_magenta: "#a90d91";
  --terminal-ansi-bright_red: "#c41a15";
  --terminal-ansi-bright_white: "#5e5e5e";
  --terminal-ansi-bright_yellow: "#826b28";
  --terminal-ansi-cyan: "#318495";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#007400";
  --terminal-ansi-magenta: "#a90d91";
  --terminal-ansi-red: "#c41a15";
  --terminal-ansi-white: "#404040";
  --terminal-ansi-yellow: "#826b28";
  --terminal-background: "#ffffff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#404040";
  --text-accent: "#318495";
  --text-disabled: "#c0c0c0";
  --text-muted: "#808080";
  --text-placeholder: "#5e5e5e";
  --title_bar-background: "#ffffff";
  --toolbar-background: "#ffffff";
  --unreachable: "#826b28";
  --unreachable-background: "#ffffff";
  --unreachable-border: "#826b28";
  --warning: "#826b28";
  --warning-background: "#ffffff";
  --warning-border: "#826b28";
  --player-1-background: null;
  --player-1-cursor: "#404040";
  --player-1-selection: "#c0c0c0";
  --syntax-attribute-color: "#0000ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#eb8500";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#808080";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#808080";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#eb8500";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#c41a15";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#c41a15";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#c41a15";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#0000ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#a90d91";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#826b28";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#c41a15";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#c41a15";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#eb8500";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#404040";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#404040";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#404040";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#404040";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#404040";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#007400";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#eb8500";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#007400";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#007400";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#007400";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#c41a15";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#007400";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#826b28";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#826b28";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c41a15";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#c41a15";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
