:root {
  --background: "#ffffff";
  --border: "#c5c8c6";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#c5c8c6";
  --conflict: "#fba922";
  --conflict-background: "#ffffff";
  --conflict-border: "#fba922";
  --created: "#198844";
  --created-background: "#ffffff";
  --created-border: "#198844";
  --deleted: "#cc342b";
  --deleted-background: "#ffffff";
  --deleted-border: "#cc342b";
  --drop_target-background: "#c5c8c6";
  --editor-active_line-background: "#e0e0e0";
  --editor-active_line_number: "#282a2e";
  --editor-active_wrap_guide: "#b4b7b4";
  --editor-background: "#ffffff";
  --editor-document_highlight-read_background: "#e0e0e0";
  --editor-document_highlight-write_background: "#e0e0e0";
  --editor-foreground: "#373b41";
  --editor-gutter-background: "#ffffff";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#b4b7b4";
  --editor-subheader-background: "#ffffff";
  --editor-wrap_guide: "#e0e0e0";
  --element-active: null;
  --element-background: "#e0e0e0";
  --element-disabled: null;
  --element-hover: "#c5c8c6";
  --element-selected: "#c5c8c6";
  --elevated_surface-background: "#ffffff";
  --error: "#cc342b";
  --error-background: "#ffffff";
  --error-border: "#cc342b";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e0e0e0";
  --ghost_element-selected: "#c5c8c6";
  --hidden: "#b4b7b4";
  --hidden-background: "#ffffff";
  --hidden-border: "#b4b7b4";
  --hint: "#373b41";
  --hint-background: "#ffffff";
  --hint-border: "#3971ed";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#b4b7b4";
  --ignored-background: "#ffffff";
  --ignored-border: "#b4b7b4";
  --info: "#3971ed";
  --info-background: "#ffffff";
  --info-border: "#3971ed";
  --link_text-hover: "#3971ed";
  --modified: "#3971ed";
  --modified-background: "#ffffff";
  --modified-border: "#3971ed";
  --pane-focused_border: null;
  --panel-background: "#ffffff";
  --panel-focused_border: "#c5c8c6";
  --predictive: "#b4b7b4";
  --predictive-background: "#e0e0e0";
  --predictive-border: "#c5c8c6";
  --renamed: "#fba922";
  --renamed-background: "#ffffff";
  --renamed-border: "#fba922";
  --scrollbar-thumb-background: "#c5c8c6";
  --scrollbar-thumb-border: "#c5c8c66f";
  --scrollbar-thumb-hover_background: "#b4b7b4";
  --scrollbar-track-background: "#ffffff";
  --scrollbar-track-border: null;
  --search-match_background: "#c5c8c6";
  --status_bar-background: "#ffffff";
  --success: "#198844";
  --success-background: "#ffffff";
  --success-border: "#198844";
  --surface-background: "#ffffff";
  --tab-active_background: "#ffffff";
  --tab-inactive_background: "#e0e0e0";
  --tab_bar-background: "#ffffff";
  --terminal-ansi-black: "#ffffff";
  --terminal-ansi-blue: "#3971ed";
  --terminal-ansi-bright_black: "#b4b7b4";
  --terminal-ansi-bright_blue: "#3971ed";
  --terminal-ansi-bright_cyan: "#3971ed";
  --terminal-ansi-bright_green: "#198844";
  --terminal-ansi-bright_magenta: "#a36ac7";
  --terminal-ansi-bright_red: "#cc342b";
  --terminal-ansi-bright_white: "#1d1f21";
  --terminal-ansi-bright_yellow: "#fba922";
  --terminal-ansi-cyan: "#3971ed";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#198844";
  --terminal-ansi-magenta: "#a36ac7";
  --terminal-ansi-red: "#cc342b";
  --terminal-ansi-white: "#373b41";
  --terminal-ansi-yellow: "#fba922";
  --terminal-background: "#ffffff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#373b41";
  --text-accent: "#3971ed";
  --text-disabled: "#c5c8c6";
  --text-muted: "#969896";
  --text-placeholder: "#1d1f21";
  --title_bar-background: "#ffffff";
  --toolbar-background: "#ffffff";
  --unreachable: "#fba922";
  --unreachable-background: "#ffffff";
  --unreachable-border: "#fba922";
  --warning: "#fba922";
  --warning-background: "#ffffff";
  --warning-border: "#fba922";
  --player-1-background: null;
  --player-1-cursor: "#373b41";
  --player-1-selection: "#c5c8c6";
  --syntax-attribute-color: "#3971ed";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#f96a38";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#b4b7b4";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#b4b7b4";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#f96a38";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#cc342b";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#cc342b";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#cc342b";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#3971ed";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#a36ac7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#fba922";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#cc342b";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#cc342b";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#f96a38";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#373b41";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#373b41";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#373b41";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#373b41";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#373b41";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#198844";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f96a38";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#198844";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#198844";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#198844";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#cc342b";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#198844";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#fba922";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#fba922";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#cc342b";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#cc342b";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
