:root {
  --background: "#f8f8f8";
  --border: "#d8d8d8";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#d8d8d8";
  --conflict: "#f7ca88";
  --conflict-background: "#f8f8f8";
  --conflict-border: "#f7ca88";
  --created: "#a1b56c";
  --created-background: "#f8f8f8";
  --created-border: "#a1b56c";
  --deleted: "#ab4642";
  --deleted-background: "#f8f8f8";
  --deleted-border: "#ab4642";
  --drop_target-background: "#d8d8d8";
  --editor-active_line-background: "#e8e8e8";
  --editor-active_line_number: "#282828";
  --editor-active_wrap_guide: "#b8b8b8";
  --editor-background: "#f8f8f8";
  --editor-document_highlight-read_background: "#e8e8e8";
  --editor-document_highlight-write_background: "#e8e8e8";
  --editor-foreground: "#383838";
  --editor-gutter-background: "#f8f8f8";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#b8b8b8";
  --editor-subheader-background: "#f8f8f8";
  --editor-wrap_guide: "#e8e8e8";
  --element-active: null;
  --element-background: "#e8e8e8";
  --element-disabled: null;
  --element-hover: "#d8d8d8";
  --element-selected: "#d8d8d8";
  --elevated_surface-background: "#f8f8f8";
  --error: "#ab4642";
  --error-background: "#f8f8f8";
  --error-border: "#ab4642";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#e8e8e8";
  --ghost_element-selected: "#d8d8d8";
  --hidden: "#b8b8b8";
  --hidden-background: "#f8f8f8";
  --hidden-border: "#b8b8b8";
  --hint: "#383838";
  --hint-background: "#f8f8f8";
  --hint-border: "#86c1b9";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#b8b8b8";
  --ignored-background: "#f8f8f8";
  --ignored-border: "#b8b8b8";
  --info: "#86c1b9";
  --info-background: "#f8f8f8";
  --info-border: "#86c1b9";
  --link_text-hover: "#86c1b9";
  --modified: "#7cafc2";
  --modified-background: "#f8f8f8";
  --modified-border: "#7cafc2";
  --pane-focused_border: null;
  --panel-background: "#f8f8f8";
  --panel-focused_border: "#d8d8d8";
  --predictive: "#b8b8b8";
  --predictive-background: "#e8e8e8";
  --predictive-border: "#d8d8d8";
  --renamed: "#f7ca88";
  --renamed-background: "#f8f8f8";
  --renamed-border: "#f7ca88";
  --scrollbar-thumb-background: "#d8d8d8";
  --scrollbar-thumb-border: "#d8d8d86f";
  --scrollbar-thumb-hover_background: "#b8b8b8";
  --scrollbar-track-background: "#f8f8f8";
  --scrollbar-track-border: null;
  --search-match_background: "#d8d8d8";
  --status_bar-background: "#f8f8f8";
  --success: "#a1b56c";
  --success-background: "#f8f8f8";
  --success-border: "#a1b56c";
  --surface-background: "#f8f8f8";
  --tab-active_background: "#f8f8f8";
  --tab-inactive_background: "#e8e8e8";
  --tab_bar-background: "#f8f8f8";
  --terminal-ansi-black: "#f8f8f8";
  --terminal-ansi-blue: "#7cafc2";
  --terminal-ansi-bright_black: "#b8b8b8";
  --terminal-ansi-bright_blue: "#7cafc2";
  --terminal-ansi-bright_cyan: "#86c1b9";
  --terminal-ansi-bright_green: "#a1b56c";
  --terminal-ansi-bright_magenta: "#ba8baf";
  --terminal-ansi-bright_red: "#ab4642";
  --terminal-ansi-bright_white: "#181818";
  --terminal-ansi-bright_yellow: "#f7ca88";
  --terminal-ansi-cyan: "#86c1b9";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a1b56c";
  --terminal-ansi-magenta: "#ba8baf";
  --terminal-ansi-red: "#ab4642";
  --terminal-ansi-white: "#383838";
  --terminal-ansi-yellow: "#f7ca88";
  --terminal-background: "#f8f8f8";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#383838";
  --text-accent: "#86c1b9";
  --text-disabled: "#d8d8d8";
  --text-muted: "#585858";
  --text-placeholder: "#181818";
  --title_bar-background: "#f8f8f8";
  --toolbar-background: "#f8f8f8";
  --unreachable: "#f7ca88";
  --unreachable-background: "#f8f8f8";
  --unreachable-border: "#f7ca88";
  --warning: "#f7ca88";
  --warning-background: "#f8f8f8";
  --warning-border: "#f7ca88";
  --player-1-background: null;
  --player-1-cursor: "#383838";
  --player-1-selection: "#d8d8d8";
  --syntax-attribute-color: "#7cafc2";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#dc9656";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#b8b8b8";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#b8b8b8";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#dc9656";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ab4642";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#ab4642";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ab4642";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#7cafc2";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ba8baf";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f7ca88";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ab4642";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#ab4642";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#dc9656";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#383838";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#383838";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#383838";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#383838";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#383838";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#a1b56c";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#dc9656";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#a1b56c";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#a1b56c";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#a1b56c";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ab4642";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a1b56c";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f7ca88";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#f7ca88";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ab4642";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ab4642";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
