:root {
  --background: "#14161e";
  --border: "#14161e";
  --border-focused: "#af98e6";
  --border-selected: "#af98e6";
  --border-transparent: "#ff0022";
  --border-variant: "#af98e60f";
  --created: "#62E6CAFF";
  --drop_target-background: "#161821bf";
  --editor-active_line-background: "#292c38";
  --editor-active_line_number: "#88898f";
  --editor-active_wrap_guide: "#413b4f";
  --editor-background: "#1a1d27";
  --editor-document_highlight-read_background: "#413b4f40";
  --editor-document_highlight-write_background: "#292c38";
  --editor-foreground: "#d7d7d7";
  --editor-gutter-background: "#1a1d27";
  --editor-highlighted_line-background: "#292c38";
  --editor-invisible: "#d7d7d730";
  --editor-line_number: "#494c59";
  --editor-subheader-background: "#14161e";
  --editor-wrap_guide: "#292c38";
  --element-active: "#413b4f";
  --element-background: "#1a1d27";
  --element-disabled: "#494c59";
  --element-hover: "#292c38";
  --element-selected: "#413b4f";
  --elevated_surface-background: "#14161e";
  --error-background: "#14161e";
  --ghost_element-active: "#1a1d27";
  --ghost_element-background: null;
  --ghost_element-disabled: "#494c59";
  --ghost_element-hover: "#1a1d27";
  --ghost_element-selected: "#1a1d27";
  --hint-background: "#14161e";
  --info-background: "#14161e";
  --link_text-hover: "#51c7da";
  --modified: "#FFDD89FF";
  --pane-focused_border: "#5e6173";
  --panel-background: "#14161e";
  --panel-focused_border: "#5e6173";
  --scrollbar-thumb-border: "#14161e00";
  --scrollbar-thumb-hover_background: "#88898f";
  --scrollbar-track-background: "#14161e00";
  --scrollbar-track-border: "#14161e00";
  --scrollbar_thumb-background: "#14161e";
  --search-match_background: "#413b4f50";
  --status_bar-background: "#14161e";
  --surface-background: "#1a1d2700";
  --tab-active_background: "#1a1d27";
  --tab-inactive_background: "#14161e";
  --tab_bar-background: "#14161e";
  --terminal-ansi-black: "#292c38";
  --terminal-ansi-blue: "#51c7da";
  --terminal-ansi-bright_black: "#5e6173";
  --terminal-ansi-bright_blue: "#69e1f5";
  --terminal-ansi-bright_cyan: "#69e1f5";
  --terminal-ansi-bright_green: "#8fdfc0";
  --terminal-ansi-bright_magenta: "#c8b2ff";
  --terminal-ansi-bright_red: "#ff9ac1";
  --terminal-ansi-bright_white: "#dfdfdf";
  --terminal-ansi-bright_yellow: "#ffe97e";
  --terminal-ansi-cyan: "#51c7da";
  --terminal-ansi-dim_black: "#14161e";
  --terminal-ansi-dim_blue: "#419fae";
  --terminal-ansi-dim_cyan: "#419fae";
  --terminal-ansi-dim_green: "#5e9d83";
  --terminal-ansi-dim_magenta: "#8c7ab8";
  --terminal-ansi-dim_red: "#c76485";
  --terminal-ansi-dim_white: "#88898f";
  --terminal-ansi-dim_yellow: "#b6a451";
  --terminal-ansi-green: "#76c5a4";
  --terminal-ansi-magenta: "#af98e6";
  --terminal-ansi-red: "#fb7da7";
  --terminal-ansi-white: "#d7d7d7";
  --terminal-ansi-yellow: "#e3cf65";
  --terminal-background: "#1a1d27";
  --terminal-bright_foreground: "#dfdfdf";
  --terminal-dim_foreground: "#88898f";
  --terminal-foreground: "#d7d7d7";
  --text: "#d7d7d7";
  --text-accent: "#fb7da7";
  --text-disabled: "#494c59";
  --text-muted: "#5e6173";
  --text-placeholder: "#5e6173";
  --title_bar-background: "#14161e";
  --title_bar-inactive_background: "#14161e";
  --toolbar-background: "#1a1d27";
  --warning-background: "#14161e";
  --syntax-attribute-color: "#51c7da";
  --syntax-boolean-color: "#af98e6";
  --syntax-comment-color: "#5e6173";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#88898f";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#af98e6";
  --syntax-constructor-color: "#76c5a4";
  --syntax-embedded-color: "#d7d7d7";
  --syntax-emphasis-color: "#e3cf65";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#fdad5d";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#af98e6";
  --syntax-function-color: "#76c5a4";
  --syntax-keyword-color: "#fb7da7";
  --syntax-label-color: "#d7d7d7";
  --syntax-namespace-color: "#51c7da";
  --syntax-number-color: "#af98e6";
  --syntax-object-key-color: "#d87898";
  --syntax-operator-color: "#fb7da7";
  --syntax-property-color: "#d7d7d7";
  --syntax-property-font_style: "italic";
  --syntax-punctuation-color: "#88898f";
  --syntax-punctuation-bracket-color: "#88898f";
  --syntax-punctuation-delimiter-color: "#88898f";
  --syntax-string-color: "#e3cf65";
  --syntax-string-escape-color: "#af98e6";
  --syntax-string-regex-color: "#76c5a4";
  --syntax-string-special-color: "#fdad5d";
  --syntax-tag-color: "#fb7da7";
  --syntax-type-color: "#51c7da";
  --syntax-type-font_style: "italic";
  --syntax-variable-color: "#d7d7d7";
  --syntax-variable-member-color: "#af98e6";
  --syntax-variable-parameter-color: "#fdad5d";
  --syntax-variable-parameter-font_style: "italic";
}
