:root {
  --background: "#000000";
  --border: "#f1f1f175";
  --border-disabled: "#f1f1f175";
  --border-focused: "#f1f1f175";
  --border-selected: "#f1f1f175";
  --border-transparent: "#f1f1f175";
  --border-variant: "#f1f1f175";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: null;
  --created-background: null;
  --created-border: null;
  --deleted: null;
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: null;
  --editor-active_line_number: "#FFFFFF";
  --editor-active_wrap_guide: "#f1f1f175";
  --editor-background: "#000000";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#FFFFFF";
  --editor-gutter-background: "#000000";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#f1f1f1";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#f1f1f175";
  --element-active: null;
  --element-background: "#000000";
  --element-disabled: null;
  --element-hover: "#f1f1f175";
  --element-selected: "#f1f1f175";
  --elevated_surface-background: "#000000";
  --error: null;
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#f1f1f175";
  --ghost_element-selected: "#f1f1f175";
  --hidden: "#FFFFFF";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: null;
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: null;
  --modified: null;
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#000000";
  --panel-focused_border: null;
  --predictive: "#FD971F";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#000000";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: null;
  --search-match_background: null;
  --status_bar-background: "#000000";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#000000";
  --tab-active_background: "#000000";
  --tab-inactive_background: "#000000";
  --tab_bar-background: "#000000";
  --terminal-ansi-black: "#8f8f8f";
  --terminal-ansi-blue: "#5ccaef";
  --terminal-ansi-bright_black: "#8f8f8f";
  --terminal-ansi-bright_blue: "#5ccaef";
  --terminal-ansi-bright_cyan: "#a57fff";
  --terminal-ansi-bright_green: "#98d800";
  --terminal-ansi-bright_magenta: "#f57f00";
  --terminal-ansi-bright_red: "#f82a5d";
  --terminal-ansi-bright_white: "#f1f1f1";
  --terminal-ansi-bright_yellow: "#e7dc60";
  --terminal-ansi-cyan: "#a57fff";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#98d800";
  --terminal-ansi-magenta: "#f57f00";
  --terminal-ansi-red: "#f82a5d";
  --terminal-ansi-white: "#f1f1f1";
  --terminal-ansi-yellow: "#e7dc60";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#FFFFFF";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#FFFFFF";
  --text-placeholder: null;
  --title_bar-background: "#000000";
  --toolbar-background: "#000000";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: null;
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-color: "#A6E22E";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#AE81FF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#FD971F";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#FD971F";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#AE81FF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#F92672";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: 700;
  --syntax-function-color: "#A6E22E";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#F92672";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 700;
  --syntax-number-color: "#AE81FF";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#FFFFFF";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#FFFFFF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#FFFFFF";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#FFFFFF";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#FFFFFF";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#E6DB74";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#AE81FF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#E6DB74";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#E6DB74";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#E6DB74";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#F92672";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: 700;
  --syntax-text-literal-color: "#E6DB74";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#66D9EF";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#A6E22E";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#A6E22E";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
