:root {
  --background: "#292522";
  --background-appearance: "opaque";
  --border: "#86746266";
  --border-disabled: "#86746266";
  --border-focused: "#e49b5dcc";
  --border-selected: "#86746266";
  --border-transparent: "#86746266";
  --border-variant: "#86746266";
  --conflict: "#d47766";
  --created: "#7b9695";
  --deleted: "#d47766";
  --deleted-background: "#3e2626";
  --drop_target-background: "#34302c99";
  --editor-active_line-background: "#34302c";
  --editor-active_line_number: "#ece1d7";
  --editor-active_wrap_guide: "#86746233";
  --editor-background: "#292522";
  --editor-document_highlight-read_background: "#8b744926";
  --editor-document_highlight-write_background: "#8b744926";
  --editor-foreground: "#ece1d7";
  --editor-gutter-background: "#292522";
  --editor-indent_guide: "#86746233";
  --editor-indent_guide_active: "#86746266";
  --editor-line_number: "#867462";
  --editor-wrap_guide: "#86746233";
  --element-background: "#292522";
  --element-hover: "#86746226";
  --element-selected: "#86746233";
  --elevated_surface-background: "#2e2a27";
  --error: "#d47766";
  --error-background: "#3b1710";
  --error-border: "#bd818366";
  --ghost_element-hover: "#86746226";
  --ghost_element-selected: "#86746233";
  --hidden: "#c1a78e";
  --hint: "#c1a78e";
  --hint-background: "#2e2a27";
  --hint-border: "#86746266";
  --ignored: "#86746299";
  --info: "#7892bd";
  --info-background: "#282b31";
  --info-border: "#86746266";
  --link_text-hover: "#89b3b6";
  --modified: "#efab36";
  --pane_group-border: "#86746266";
  --panel-background: "#34302c";
  --predictive: "#837464";
  --scrollbar-thumb-background: "#86746233";
  --scrollbar-thumb-border: "#86746233";
  --scrollbar-thumb-hover_background: "#aa8a7653";
  --scrollbar-track-background: "#29252200";
  --scrollbar-track-border: "#29252200";
  --search-match_background: "#8b744966";
  --status_bar-background: "#34302c";
  --surface-background: "#34302c";
  --tab-active_background: "#292522";
  --tab-inactive_background: "#34302c";
  --tab_bar-background: "#34302c";
  --terminal-ansi-black: "#c1a78e";
  --terminal-ansi-blue: "#a3a9ce";
  --terminal-ansi-bright_black: "#837464";
  --terminal-ansi-bright_blue: "#a3a9ce";
  --terminal-ansi-bright_cyan: "#89b3b6";
  --terminal-ansi-bright_green: "#85b695";
  --terminal-ansi-bright_magenta: "#b380b0";
  --terminal-ansi-bright_red: "#d47766";
  --terminal-ansi-bright_white: "#34302c";
  --terminal-ansi-bright_yellow: "#ebc06d";
  --terminal-ansi-cyan: "#89b3b6";
  --terminal-ansi-green: "#85b695";
  --terminal-ansi-magenta: "#b380b0";
  --terminal-ansi-red: "#d47766";
  --terminal-ansi-white: "#292522";
  --terminal-ansi-yellow: "#ebc06d";
  --terminal-background: "#292522";
  --text: "#ece1d7";
  --text-accent: "#7892bd";
  --text-muted: "#c1a78e";
  --title_bar-background: "#423d38";
  --toolbar-background: "#292522";
  --warning: "#ebc06d";
  --warning-background: "#422f09";
  --warning-border: "#e49b5d4d";
  --player-1-background: "#eae1d8";
  --player-1-cursor: "#eae1d8";
  --player-1-selection: "#eae1d81a";
  --player-2-background: "#d47766";
  --player-2-cursor: "#d47766";
  --player-2-selection: "#d477661a";
  --player-3-background: "#85b695";
  --player-3-cursor: "#85b695";
  --player-3-selection: "#85b6951a";
  --player-4-background: "#a3a9ce";
  --player-4-cursor: "#a3a9ce";
  --player-4-selection: "#a3a9ce1a";
  --player-5-background: "#ebc06d";
  --player-5-cursor: "#ebc06d";
  --player-5-selection: "#ebc06d1a";
  --player-6-background: "#b380b0";
  --player-6-cursor: "#b380b0";
  --player-6-selection: "#b380b01a";
  --player-7-background: "#89b3b6";
  --player-7-cursor: "#89b3b6";
  --player-7-selection: "#89b3b61a";
  --syntax-attribute-color: "#7b9695";
  --syntax-boolean-color: "#78997a";
  --syntax-comment-color: "#867462";
  --syntax-comment-doc-color: "#867462";
  --syntax-constant-color: "#b380b0";
  --syntax-constructor-color: "#ebc06d";
  --syntax-embedded-color: "#bd8183";
  --syntax-emphasis-color: "#ece1d7";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#ece1d7";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#ebc06d";
  --syntax-keyword-color: "#85b695";
  --syntax-link_text-color: "#a3a9ce";
  --syntax-link_uri-color: "#a3a9ce";
  --syntax-number-color: "#cf9bc2";
  --syntax-operator-color: "#d47766";
  --syntax-preproc-color: "#85b695";
  --syntax-property-color: "#ece1d7";
  --syntax-punctuation-color: "#8b7449";
  --syntax-punctuation-bracket-color: "#8b7449";
  --syntax-punctuation-delimiter-color: "#bd8183";
  --syntax-punctuation-list_marker-color: "#8b7449";
  --syntax-punctuation-special-color: "#8b7449";
  --syntax-string-color: "#a3a9ce";
  --syntax-string-escape-color: "#7f91b2";
  --syntax-string-regex-color: "#a3a9ce";
  --syntax-string-special-color: "#89b3b6";
  --syntax-string-special-symbol-color: "#89b3b6";
  --syntax-tag-color: "#e49b5d";
  --syntax-text-literal-color: "#a3a9ce";
  --syntax-type-color: "#7b9695";
  --syntax-variable-color: "#ece1d7";
  --syntax-variable-special-color: "#ebc06d";
}
