:root {
  --background: "#2A324B";
  --border: "#00000000";
  --border-disabled: "#00000000";
  --border-focused: "#FFCC00";
  --border-selected: "#00000000";
  --border-transparent: "#00000000";
  --border-variant: "#00000000";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#B3FF63";
  --created-background: null;
  --created-border: null;
  --deleted: "#FF5C57";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#303956";
  --editor-active_line_number: "#F3F4F5";
  --editor-active_wrap_guide: "#00000000";
  --editor-background: "#2A324B";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#F3F4F5";
  --editor-gutter-background: "#2A324B";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#9194A2aa";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#00000000";
  --element-active: null;
  --element-background: "#FFCC00";
  --element-disabled: null;
  --element-hover: "#303956";
  --element-selected: "#FFCC0033";
  --elevated_surface-background: "#303956";
  --error: "#FF5C56";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#303956";
  --ghost_element-selected: "#FFCC0033";
  --hidden: "#f3f4f560";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: null;
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#FFCC00";
  --modified: "#00A39FAA";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#242b40";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#47506B80";
  --scrollbar-thumb-border: "#47506B80";
  --scrollbar-thumb-hover_background: "#47506B80";
  --scrollbar-track-background: "#2A324B";
  --scrollbar-track-border: null;
  --search-match_background: null;
  --status_bar-background: "#242B40";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#242b40";
  --tab-active_background: "#242B40";
  --tab-inactive_background: "#242B40";
  --tab_bar-background: "#242B40";
  --terminal-ansi-black: "#565869";
  --terminal-ansi-blue: "#5DD9FF";
  --terminal-ansi-bright_black: "#75798F";
  --terminal-ansi-bright_blue: "#14B1FF";
  --terminal-ansi-bright_cyan: "#04d1bc";
  --terminal-ansi-bright_green: "#B3FF63";
  --terminal-ansi-bright_magenta: "#FF94D2";
  --terminal-ansi-bright_red: "#FFAEAC";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#F5B900";
  --terminal-ansi-cyan: "#04d1bc";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#2DAE58";
  --terminal-ansi-magenta: "#FF577F";
  --terminal-ansi-red: "#FF577F";
  --terminal-ansi-white: "#FAFBF9";
  --terminal-ansi-yellow: "#FFCC00";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#bebebe";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#f3f4f560";
  --text-placeholder: null;
  --title_bar-background: "#242b40";
  --toolbar-background: "#2A324B";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#FFCC00";
  --warning-background: null;
  --warning-border: null;
  --syntax-boolean-color: "#5DD9FF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7D808C";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#7D808C";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#B3FF63";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#FFCC00";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#FFCC00";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#FFCC00";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-function-color: "#FFCC00";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 700;
  --syntax-keyword-color: "#FF577F";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: 700;
  --syntax-number-color: "#FF5C57";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#ADB1C2";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#B3FF63";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#ADB1C2";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#ADB1C2";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#ADB1C2";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ADB1C2";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#ADB1C2";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#ffd000";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#B3FF63";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ffd000";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ffd000";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#ffd000";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#FFCC00";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#ffd000";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#B3FF63";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 700;
  --syntax-variable-color: "#f3f4f5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#5DD9FF";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
