:root {
  --accents: ["#4D7299","#A66C9B","#78995C","#D9B46D","#B3505A","#69ADBF","#6C717D","#4D7299","#A66C9B","#78995C","#D9B46D","#CC7078"];
  --background: "#FFFFFF";
  --border: "#ECEFF4";
  --border-disabled: null;
  --border-focused: "#ECEFF4";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#ECEFF4";
  --conflict: "#B3505A";
  --conflict-background: "#CC7078";
  --conflict-border: "#CC7078";
  --created: "#78995C";
  --created-background: "#78995C";
  --created-border: "#78995C";
  --deleted: "#B3505A";
  --deleted-background: "#CC707860";
  --deleted-border: "#CC7078";
  --drop_target-background: null;
  --editor-active_line-background: "#EDEDF3c0";
  --editor-active_line_number: "#283140";
  --editor-active_wrap_guide: null;
  --editor-background: "#FFFFFF";
  --editor-document_highlight-read_background: "#CFE6F3a0";
  --editor-document_highlight-write_background: "#CFE6F3a0";
  --editor-foreground: "#283140";
  --editor-gutter-background: "#FFFFFF";
  --editor-highlighted_line-background: "#edeff3a0";
  --editor-invisible: "#dfe2eb";
  --editor-line_number: "#ADB9CC";
  --editor-subheader-background: "#FFFFFF";
  --editor-wrap_guide: null;
  --element-active: "#ADB9CC90";
  --element-background: "#ECEFF4";
  --element-disabled: "#3C3C3C";
  --element-hover: "#ECEFF4";
  --element-selected: "#EDEDF3";
  --elevated_surface-background: "#FFFFFF";
  --error: "#B3505A";
  --error-background: "#CC707810";
  --error-border: "#CC7078";
  --ghost_element-active: "#7CADBF";
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#7CADBF40";
  --ghost_element-selected: "#e6e9ef";
  --hidden: "#4D729990";
  --hidden-border: null;
  --hint: "#4D729990";
  --hint-background: "#4D7299";
  --hint-border: "#4D7299";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#28314043";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#4D7299";
  --info-background: "#4D729910";
  --info-border: "#4D7299";
  --link_text-hover: "#7CADBF";
  --modified: "#D9B46D";
  --modified-background: "#D9B46D";
  --modified-border: "#D9B46D";
  --pane-focused_border: null;
  --panel-background: "#ECEFF420";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#ECEFF499";
  --scrollbar-thumb-border: "#FFFFFF50";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#FFFFFF";
  --scrollbar-track-border: "#FFFFFF50";
  --scrollbar_thumb-background: "#ECEFF499";
  --search-match_background: "#69ADBF66";
  --status_bar-background: "#ECEFF4";
  --success: "#78995C";
  --success-background: "#78995C";
  --success-border: "#78995C";
  --surface-background: null;
  --tab-active_background: "#FFFFFF";
  --tab-inactive_background: "#F7F7FA";
  --tab_bar-background: "#ECEFF4";
  --terminal-ansi-black: "#ECEFF4";
  --terminal-ansi-blue: "#4D7299";
  --terminal-ansi-bright_black: "#ADB9CC";
  --terminal-ansi-bright_blue: "#4D7299";
  --terminal-ansi-bright_cyan: "#6BB3B1";
  --terminal-ansi-bright_green: "#78995C";
  --terminal-ansi-bright_magenta: "#A66C9B";
  --terminal-ansi-bright_red: "#CC7078";
  --terminal-ansi-bright_white: "#2e3440";
  --terminal-ansi-bright_yellow: "#D9B46D";
  --terminal-ansi-cyan: "#69ADBF";
  --terminal-ansi-dim_black: "#ADB9CC";
  --terminal-ansi-dim_blue: "#4D7299";
  --terminal-ansi-dim_cyan: "#6BB3B1";
  --terminal-ansi-dim_green: "#78995C";
  --terminal-ansi-dim_magenta: "#A66C9B";
  --terminal-ansi-dim_red: "#CC7078";
  --terminal-ansi-dim_white: "#2e3440";
  --terminal-ansi-dim_yellow: "#D9B46D";
  --terminal-ansi-green: "#78995C";
  --terminal-ansi-magenta: "#A66C9B";
  --terminal-ansi-red: "#B3505A";
  --terminal-ansi-white: "#6C717D";
  --terminal-ansi-yellow: "#D9B46D";
  --terminal-background: "#FFFFFF";
  --terminal-bright_foreground: "#283140";
  --terminal-dim_foreground: "#283140";
  --terminal-foreground: "#283140";
  --text: "#283140";
  --text-accent: "#7CADBF";
  --text-disabled: "#ADB9CC";
  --text-muted: "#283140b0";
  --text-placeholder: "#ADB9CCb3";
  --title_bar-background: "#ECEFF4";
  --title_bar-inactive_background: "#ECEFF4";
  --toolbar-background: "#FFFFFF";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#D9B46D";
  --warning-background: "#D9B46D10";
  --warning-border: "#D9B46D";
  --player-1-background: "#eaecf1";
  --player-1-cursor: "#283140";
  --player-1-selection: "#EDEDF3";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#6BB3B1";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#4D7299";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#aeb9ce";
  --syntax-comment-font_style: "normal";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#aeb9ce";
  --syntax-comment-doc-font_style: "normal";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: null;
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: null;
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-constant-character-color: "#6BB3B1";
  --syntax-constant-character-font_style: "normal";
  --syntax-constant-character-font_weight: null;
  --syntax-constructor-color: "#4D7299";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: null;
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#D9B46D";
  --syntax-enum-font_style: "normal";
  --syntax-enum-font_weight: null;
  --syntax-escape-color: "#78995C";
  --syntax-escape-font_style: "normal";
  --syntax-escape-font_weight: null;
  --syntax-function-color: "#69ADBF";
  --syntax-function-font_style: "normal";
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#69ADBF";
  --syntax-function-builtin-font_style: "normal";
  --syntax-function-builtin-font_weight: null;
  --syntax-function-definition-color: "#69ADBF";
  --syntax-function-definition-font_style: "normal";
  --syntax-function-definition-font_weight: null;
  --syntax-function-method-color: "#69ADBF";
  --syntax-function-method-font_style: "normal";
  --syntax-function-method-font_weight: null;
  --syntax-function-special-color: "#6BB3B1";
  --syntax-function-special-font_style: "normal";
  --syntax-function-special-font_weight: null;
  --syntax-function-special-definition-color: "#6BB3B1";
  --syntax-function-special-definition-font_style: "normal";
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-color: "#4D729990";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#4D7299";
  --syntax-keyword-font_style: "normal";
  --syntax-keyword-font_weight: null;
  --syntax-label-color: null;
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-lifetime-color: "#6BB3B1";
  --syntax-lifetime-font_style: "normal";
  --syntax-lifetime-font_weight: null;
  --syntax-link_text-color: "#7CADBF";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#7CADBF";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#A66C9B";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#4D7299";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: null;
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#7CADBF";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#283140";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: null;
  --syntax-property-json_key-color: "#283140";
  --syntax-property-json_key-font_style: "normal";
  --syntax-property-json_key-font_weight: null;
  --syntax-punctuation-color: "#283140";
  --syntax-punctuation-font_style: "normal";
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#283140";
  --syntax-punctuation-bracket-font_style: "normal";
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#4D7299";
  --syntax-punctuation-delimiter-font_style: "normal";
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#A66C9B";
  --syntax-punctuation-list_marker-font_style: "normal";
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#4D7299";
  --syntax-punctuation-special-font_style: "normal";
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#4D7299";
  --syntax-punctuation-special-symbol-font_style: "normal";
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#78995C";
  --syntax-string-font_style: "normal";
  --syntax-string-font_weight: null;
  --syntax-string-doc-color: "#78995C";
  --syntax-string-doc-font_style: "normal";
  --syntax-string-doc-font_weight: null;
  --syntax-string-escape-color: "#78995C";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#78995C";
  --syntax-string-regex-font_style: "normal";
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#78995C";
  --syntax-string-special-font_style: "normal";
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#78995C";
  --syntax-string-special-symbol-font_style: "normal";
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#4D7299";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: null;
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: null;
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#6BB3B1";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: null;
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-color: "#6BB3B1";
  --syntax-type-interface-font_style: "normal";
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#6BB3B1";
  --syntax-type-super-font_style: "normal";
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: null;
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: null;
  --syntax-variable-member-font_style: "normal";
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: null;
  --syntax-variable-parameter-font_style: "normal";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#D9B46D";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
