:root {
  --background: "#303446d7";
  --background-appearance: "blurred";
  --border: "#41455900";
  --border-disabled: "#626880";
  --border-focused: "#babbf1";
  --border-selected: "#cba6f7";
  --border-transparent: "#a6e3a1";
  --border-variant: "#00000000";
  --conflict: "#ca9ee6";
  --conflict-background: "#292c3c";
  --conflict-border: "#ca9ee6";
  --created: "#a6d189";
  --created-background: "#292c3c";
  --created-border: "#a6d189";
  --deleted: "#e78284";
  --deleted-background: "#292c3c";
  --deleted-border: "#e78284";
  --drop_target-background: "#cba6f718";
  --editor-active_line-background: "#00000000";
  --editor-active_line_number: "#cba6f790";
  --editor-active_wrap_guide: "#626880";
  --editor-background: "#00000000";
  --editor-document_highlight-read_background: "#a5adce29";
  --editor-document_highlight-write_background: "#a5adce29";
  --editor-foreground: "#c6d0f5";
  --editor-gutter-background: "#00000000";
  --editor-highlighted_line-background: "#cba6f712";
  --editor-invisible: "#949cbb66";
  --editor-line_number: "#ffffff20";
  --editor-subheader-background: "#292c3c";
  --editor-wrap_guide: "#626880";
  --element-active: "#00000000";
  --element-background: "#232634";
  --element-disabled: "#737994";
  --element-hover: "#7379944d";
  --element-selected: "#41455999";
  --elevated_surface-background: "#292c3c";
  --error: "#e78284";
  --error-background: "#292c3c";
  --error-border: "#e78284";
  --ghost_element-active: "#cba6f712";
  --ghost_element-background: null;
  --ghost_element-disabled: "#737994";
  --ghost_element-hover: "#cba6f708";
  --ghost_element-selected: "#cba6f712";
  --hidden: "#737994";
  --hidden-background: "#292c3c";
  --hidden-border: "#737994";
  --hint: "#626880";
  --hint-background: "#292c3cc0";
  --hint-border: "#626880";
  --icon: "#c6d0f5";
  --icon-accent: "#ca9ee6";
  --icon-disabled: "#737994";
  --icon-muted: "#838ba7";
  --icon-placeholder: "#626880";
  --ignored: "#737994";
  --ignored-background: "#292c3c";
  --ignored-border: "#737994";
  --info: "#81c8be";
  --info-background: "#ca9ee666";
  --info-border: "#81c8be";
  --link_text-hover: "#99d1db";
  --modified: "#e5c890";
  --modified-background: "#292c3c";
  --modified-border: "#e5c890";
  --pane-focused_border: "#c6d0f5";
  --panel-background: "#00000000";
  --panel-focused_border: "#00000000";
  --predictive: "#626880";
  --predictive-background: "#292c3c";
  --predictive-border: "#626880";
  --renamed: "#85c1dc";
  --renamed-background: "#292c3c";
  --renamed-border: "#85c1dc";
  --scrollbar-thumb-background: "#cba6f712";
  --scrollbar-thumb-border: "#62688080";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#81c8be33";
  --status_bar-background: "#303446d7";
  --success: "#a6d189";
  --success-background: "#292c3c";
  --success-border: "#a6d189";
  --surface-background: "#303446d0";
  --tab-active_background: "#cba6f712";
  --tab-inactive_background: "#00000000";
  --tab_bar-background: "#00000000";
  --terminal-ansi-black: "#51576d";
  --terminal-ansi-blue: "#8caaee";
  --terminal-ansi-bright_black: "#626880";
  --terminal-ansi-bright_blue: "#8caaee";
  --terminal-ansi-bright_cyan: "#81c8be";
  --terminal-ansi-bright_green: "#a6d189";
  --terminal-ansi-bright_magenta: "#f4b8e4";
  --terminal-ansi-bright_red: "#e78284";
  --terminal-ansi-bright_white: "#a5adce";
  --terminal-ansi-bright_yellow: "#e5c890";
  --terminal-ansi-cyan: "#81c8be";
  --terminal-ansi-dim_black: "#51576d";
  --terminal-ansi-dim_blue: "#8caaee";
  --terminal-ansi-dim_cyan: "#81c8be";
  --terminal-ansi-dim_green: "#a6d189";
  --terminal-ansi-dim_magenta: "#f4b8e4";
  --terminal-ansi-dim_red: "#e78284";
  --terminal-ansi-dim_white: "#b5bfe2";
  --terminal-ansi-dim_yellow: "#e5c890";
  --terminal-ansi-green: "#a6d189";
  --terminal-ansi-magenta: "#f4b8e4";
  --terminal-ansi-red: "#e78284";
  --terminal-ansi-white: "#c6d0f5";
  --terminal-ansi-yellow: "#e5c890";
  --terminal-background: "#00000000";
  --terminal-bright_foreground: "#c6d0f5";
  --terminal-dim_foreground: "#838ba7";
  --terminal-foreground: "#c6d0f5";
  --text: "#c6d0f5";
  --text-accent: "#ca9ee6";
  --text-disabled: "#737994";
  --text-muted: "#b5bfe2";
  --text-placeholder: "#626880";
  --title_bar-background: "#303446d7";
  --toolbar-background: "#00000000";
  --unreachable: "#e78284";
  --unreachable-background: "#292c3c";
  --unreachable-border: "#e78284";
  --warning: "#ef9f76";
  --warning-background: "#292c3c";
  --warning-border: "#ef9f76";
  --player-1-background: "#f2d5cf";
  --player-1-cursor: "#f2d5cf";
  --player-1-selection: "#62688080";
  --player-2-background: "#99d1db";
  --player-2-cursor: "#99d1db";
  --player-2-selection: "#99d1db33";
  --player-3-background: "#f4b8e4";
  --player-3-cursor: "#f4b8e4";
  --player-3-selection: "#f4b8e433";
  --player-4-background: "#85c1dc";
  --player-4-cursor: "#85c1dc";
  --player-4-selection: "#85c1dc33";
  --player-5-background: "#eebebe";
  --player-5-cursor: "#eebebe";
  --player-5-selection: "#eebebe33";
  --player-6-background: "#e5c890";
  --player-6-cursor: "#e5c890";
  --player-6-selection: "#e5c89033";
  --player-7-background: "#8caaee";
  --player-7-cursor: "#8caaee";
  --player-7-selection: "#8caaee33";
  --player-8-background: "#81c8be";
  --player-8-cursor: "#81c8be";
  --player-8-selection: "#81c8be33";
  --syntax-attribute-color: "#e5c890";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ef9f76";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#838ba7";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#838ba7";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ef9f76";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#8caaee";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#ea999c";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#e78284";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#e78284";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#81c8be";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#8caaee";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#81c8be";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#ca9ee6";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#8caaee";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#8caaee";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#ef9f76";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#99d1db";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#626880";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-predoc-color: "#e78284";
  --syntax-predoc-font_style: null;
  --syntax-predoc-font_weight: null;
  --syntax-primary-color: "#ea999c";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#8caaee";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#81c8be";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#81c8be";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#949cbb";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#81c8be";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#81c8be";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#e78284";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#a6d189";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f4b8e4";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#f4b8e4";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#f4b8e4";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#eebebe";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8caaee";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a6d189";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#c6d0f5";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#e5c890";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#e5c890";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#e5c890";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#c6d0f5";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#c6d0f5";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#fab387";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#f4b8e4";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#e78284";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
