:root {
  --background: "#1e1e2ed7";
  --background-appearance: "blurred";
  --border: "#31324400";
  --border-disabled: "#585b70";
  --border-focused: "#b4befe";
  --border-selected: "#cba6f7";
  --border-transparent: "#a6e3a1";
  --border-variant: "#00000000";
  --conflict: "#cba6f7";
  --conflict-background: "#181825";
  --conflict-border: "#cba6f7";
  --created: "#a6e3a1";
  --created-background: "#181825";
  --created-border: "#a6e3a1";
  --deleted: "#f38ba8";
  --deleted-background: "#181825";
  --deleted-border: "#f38ba8";
  --drop_target-background: "#cba6f718";
  --editor-active_line-background: "#00000000";
  --editor-active_line_number: "#cba6f790";
  --editor-active_wrap_guide: "#585b70";
  --editor-background: "#00000000";
  --editor-document_highlight-read_background: "#a6adc829";
  --editor-document_highlight-write_background: "#a6adc829";
  --editor-foreground: "#cdd6f4";
  --editor-gutter-background: "#00000000";
  --editor-highlighted_line-background: "#cba6f712";
  --editor-invisible: "#9399b266";
  --editor-line_number: "#ffffff20";
  --editor-subheader-background: "#181825";
  --editor-wrap_guide: "#585b70";
  --element-active: "#00000000";
  --element-background: "#11111b";
  --element-disabled: "#6c7086";
  --element-hover: "#6c70864d";
  --element-selected: "#31324499";
  --elevated_surface-background: "#181825";
  --error: "#f38ba8";
  --error-background: "#181825";
  --error-border: "#f38ba8";
  --ghost_element-active: "#cba6f712";
  --ghost_element-background: null;
  --ghost_element-disabled: "#6c7086";
  --ghost_element-hover: "#cba6f708";
  --ghost_element-selected: "#cba6f712";
  --hidden: "#6c7086";
  --hidden-background: "#181825";
  --hidden-border: "#6c7086";
  --hint: "#585b70";
  --hint-background: "#181825c0";
  --hint-border: "#585b70";
  --icon: "#cdd6f4";
  --icon-accent: "#cba6f7";
  --icon-disabled: "#6c7086";
  --icon-muted: "#7f849c";
  --icon-placeholder: "#585b70";
  --ignored: "#6c7086";
  --ignored-background: "#181825";
  --ignored-border: "#6c7086";
  --info: "#94e2d5";
  --info-background: "#cba6f766";
  --info-border: "#94e2d5";
  --link_text-hover: "#89dceb";
  --modified: "#f9e2af";
  --modified-background: "#181825";
  --modified-border: "#f9e2af";
  --pane-focused_border: "#cdd6f4";
  --panel-background: "#00000000";
  --panel-focused_border: "#00000000";
  --predictive: "#585b70";
  --predictive-background: "#181825";
  --predictive-border: "#585b70";
  --renamed: "#74c7ec";
  --renamed-background: "#181825";
  --renamed-border: "#74c7ec";
  --scrollbar-thumb-background: "#cba6f712";
  --scrollbar-thumb-border: "#585b7080";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#94e2d533";
  --status_bar-background: "#1e1e2ed7";
  --success: "#a6e3a1";
  --success-background: "#181825";
  --success-border: "#a6e3a1";
  --surface-background: "#1e1e2ed0";
  --tab-active_background: "#cba6f712";
  --tab-inactive_background: "#00000000";
  --tab_bar-background: "#00000000";
  --terminal-ansi-black: "#45475a";
  --terminal-ansi-blue: "#89b4fa";
  --terminal-ansi-bright_black: "#585b70";
  --terminal-ansi-bright_blue: "#89b4fa";
  --terminal-ansi-bright_cyan: "#94e2d5";
  --terminal-ansi-bright_green: "#a6e3a1";
  --terminal-ansi-bright_magenta: "#f5c2e7";
  --terminal-ansi-bright_red: "#f38ba8";
  --terminal-ansi-bright_white: "#a6adc8";
  --terminal-ansi-bright_yellow: "#f9e2af";
  --terminal-ansi-cyan: "#94e2d5";
  --terminal-ansi-dim_black: "#45475a";
  --terminal-ansi-dim_blue: "#89b4fa";
  --terminal-ansi-dim_cyan: "#94e2d5";
  --terminal-ansi-dim_green: "#a6e3a1";
  --terminal-ansi-dim_magenta: "#f5c2e7";
  --terminal-ansi-dim_red: "#f38ba8";
  --terminal-ansi-dim_white: "#bac2de";
  --terminal-ansi-dim_yellow: "#f9e2af";
  --terminal-ansi-green: "#a6e3a1";
  --terminal-ansi-magenta: "#f5c2e7";
  --terminal-ansi-red: "#f38ba8";
  --terminal-ansi-white: "#cdd6f4";
  --terminal-ansi-yellow: "#f9e2af";
  --terminal-background: "#00000000";
  --terminal-bright_foreground: "#cdd6f4";
  --terminal-dim_foreground: "#7f849c";
  --terminal-foreground: "#cdd6f4";
  --text: "#cdd6f4";
  --text-accent: "#cba6f7";
  --text-disabled: "#6c7086";
  --text-muted: "#bac2de";
  --text-placeholder: "#585b70";
  --title_bar-background: "#1e1e2ed7";
  --toolbar-background: "#00000000";
  --unreachable: "#f38ba8";
  --unreachable-background: "#181825";
  --unreachable-border: "#f38ba8";
  --warning: "#fab387";
  --warning-background: "#181825";
  --warning-border: "#fab387";
  --player-1-background: "#f5e0dc";
  --player-1-cursor: "#f5e0dc";
  --player-1-selection: "#585b7080";
  --player-2-background: "#a9d0f0";
  --player-2-cursor: "#a9d0f0";
  --player-2-selection: "#a9d0f033";
  --player-3-background: "#dcb8d5";
  --player-3-cursor: "#dcb8d5";
  --player-3-selection: "#dcb8d533";
  --player-4-background: "#b6dae7";
  --player-4-cursor: "#b6dae7";
  --player-4-selection: "#b6dae733";
  --player-5-background: "#dfc8c8";
  --player-5-cursor: "#dfc8c8";
  --player-5-selection: "#dfc8c833";
  --player-6-background: "#dfdad8";
  --player-6-cursor: "#dfdad8";
  --player-6-selection: "#dfdad833";
  --player-7-background: "#b2c8f6";
  --player-7-cursor: "#b2c8f6";
  --player-7-selection: "#b2c8f633";
  --player-8-background: "#bddbd2";
  --player-8-cursor: "#bddbd2";
  --player-8-selection: "#bddbd233";
  --syntax-attribute-color: "#f9e2af";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fab387";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7f849c";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#7f849c";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fab387";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#89b4fa";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#eba0ac";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#f38ba8";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#f38ba8";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#94e2d5";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#89b4fa";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#94e2d5";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#cba6f7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#89b4fa";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#89b4fa";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#fab387";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#89dceb";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#585b70";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-predoc-color: "#f38ba8";
  --syntax-predoc-font_style: null;
  --syntax-predoc-font_weight: null;
  --syntax-primary-color: "#eba0ac";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#89b4fa";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#94e2d5";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#94e2d5";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#9399b2";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#94e2d5";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#94e2d5";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#f38ba8";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#a6e3a1";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#f5c2e7";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#f5c2e7";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#f5c2e7";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#f2cdcd";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#89b4fa";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a6e3a1";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#cdd6f4";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#f9e2af";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#f9e2af";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#f9e2af";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#cdd6f4";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#cdd6f4";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#fab387";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#dcb8d5";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#f38ba8";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
