:root {
  --background: "#050505d7";
  --background-appearance: "blurred";
  --border: "#26233a00";
  --border-disabled: "#6e6a86";
  --border-focused: "#908caa";
  --border-selected: "#c4a7e7";
  --border-transparent: "#9ccfd8";
  --border-variant: "#00000000";
  --conflict: "#c4a7e7";
  --conflict-background: "#080808";
  --conflict-border: "#c4a7e7";
  --created: "#9ccfd8";
  --created-background: "#080808";
  --created-border: "#9ccfd8";
  --deleted: "#eb6f92";
  --deleted-background: "#080808";
  --deleted-border: "#eb6f92";
  --drop_target-background: "#c4a7e718";
  --editor-active_line-background: "#00000000";
  --editor-active_line_number: "#c4a7e790";
  --editor-active_wrap_guide: "#6e6a86";
  --editor-background: "#00000000";
  --editor-document_highlight-read_background: "#908caa29";
  --editor-document_highlight-write_background: "#908caa29";
  --editor-foreground: "#e0def4";
  --editor-gutter-background: "#00000000";
  --editor-highlighted_line-background: "#c4a7e712";
  --editor-invisible: "#908caa66";
  --editor-line_number: "#ffffff20";
  --editor-subheader-background: "#080808";
  --editor-wrap_guide: "#6e6a86";
  --element-active: "#00000000";
  --element-background: "#080808";
  --element-disabled: "#6e6a86";
  --element-hover: "#6e6a864d";
  --element-selected: "#26233a99";
  --elevated_surface-background: "#080808";
  --error: "#eb6f92";
  --error-background: "#080808";
  --error-border: "#eb6f92";
  --ghost_element-active: "#c4a7e712";
  --ghost_element-background: null;
  --ghost_element-disabled: "#6e6a86";
  --ghost_element-hover: "#c4a7e708";
  --ghost_element-selected: "#c4a7e712";
  --hidden: "#6e6a86";
  --hidden-background: "#080808";
  --hidden-border: "#6e6a86";
  --hint: "#6e6a86";
  --hint-background: "#080808c0";
  --hint-border: "#6e6a86";
  --icon: "#e0def4";
  --icon-accent: "#c4a7e7";
  --icon-disabled: "#6e6a86";
  --icon-muted: "#908caa";
  --icon-placeholder: "#6e6a86";
  --ignored: "#6e6a86";
  --ignored-background: "#080808";
  --ignored-border: "#6e6a86";
  --info: "#9ccfd8";
  --info-background: "#c4a7e766";
  --info-border: "#9ccfd8";
  --link_text-hover: "#9ccfd8";
  --modified: "#f6c177";
  --modified-background: "#080808";
  --modified-border: "#f6c177";
  --pane-focused_border: "#e0def4";
  --panel-background: "#00000000";
  --panel-focused_border: "#00000000";
  --predictive: "#6e6a86";
  --predictive-background: "#080808";
  --predictive-border: "#6e6a86";
  --renamed: "#31748f";
  --renamed-background: "#080808";
  --renamed-border: "#31748f";
  --scrollbar-thumb-background: "#c4a7e712";
  --scrollbar-thumb-border: "#6e6a8680";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#9ccfd833";
  --status_bar-background: "#050505d7";
  --success: "#9ccfd8";
  --success-background: "#080808";
  --success-border: "#9ccfd8";
  --surface-background: "#050505d0";
  --tab-active_background: "#c4a7e712";
  --tab-inactive_background: "#00000000";
  --tab_bar-background: "#00000000";
  --terminal-ansi-black: "#26233a";
  --terminal-ansi-blue: "#31748f";
  --terminal-ansi-bright_black: "#6e6a86";
  --terminal-ansi-bright_blue: "#31748f";
  --terminal-ansi-bright_cyan: "#9ccfd8";
  --terminal-ansi-bright_green: "#9ccfd8";
  --terminal-ansi-bright_magenta: "#c4a7e7";
  --terminal-ansi-bright_red: "#eb6f92";
  --terminal-ansi-bright_white: "#908caa";
  --terminal-ansi-bright_yellow: "#f6c177";
  --terminal-ansi-cyan: "#9ccfd8";
  --terminal-ansi-dim_black: "#26233a";
  --terminal-ansi-dim_blue: "#31748f";
  --terminal-ansi-dim_cyan: "#9ccfd8";
  --terminal-ansi-dim_green: "#9ccfd8";
  --terminal-ansi-dim_magenta: "#c4a7e7";
  --terminal-ansi-dim_red: "#eb6f92";
  --terminal-ansi-dim_white: "#908caa";
  --terminal-ansi-dim_yellow: "#f6c177";
  --terminal-ansi-green: "#9ccfd8";
  --terminal-ansi-magenta: "#c4a7e7";
  --terminal-ansi-red: "#eb6f92";
  --terminal-ansi-white: "#e0def4";
  --terminal-ansi-yellow: "#f6c177";
  --terminal-background: "#00000000";
  --terminal-bright_foreground: "#e0def4";
  --terminal-dim_foreground: "#908caa";
  --terminal-foreground: "#e0def4";
  --text: "#e0def4";
  --text-accent: "#c4a7e7";
  --text-disabled: "#6e6a86";
  --text-muted: "#908caa";
  --text-placeholder: "#6e6a86";
  --title_bar-background: "#050505d7";
  --toolbar-background: "#00000000";
  --unreachable: "#eb6f92";
  --unreachable-background: "#080808";
  --unreachable-border: "#eb6f92";
  --warning: "#f6c177";
  --warning-background: "#080808";
  --warning-border: "#f6c177";
  --player-1-background: "#ebbcba";
  --player-1-cursor: "#ebbcba";
  --player-1-selection: "#6e6a8680";
  --player-2-background: "#9ccfd8";
  --player-2-cursor: "#9ccfd8";
  --player-2-selection: "#9ccfd833";
  --player-3-background: "#c4a7e7";
  --player-3-cursor: "#c4a7e7";
  --player-3-selection: "#c4a7e733";
  --player-4-background: "#31748f";
  --player-4-cursor: "#31748f";
  --player-4-selection: "#31748f33";
  --player-5-background: "#eb6f92";
  --player-5-cursor: "#eb6f92";
  --player-5-selection: "#eb6f9233";
  --player-6-background: "#f6c177";
  --player-6-cursor: "#f6c177";
  --player-6-selection: "#f6c17733";
  --player-7-background: "#31748f";
  --player-7-cursor: "#31748f";
  --player-7-selection: "#31748f33";
  --player-8-background: "#9ccfd8";
  --player-8-cursor: "#9ccfd8";
  --player-8-selection: "#9ccfd833";
  --syntax-attribute-color: "#f6c177";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#eb6f92";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#908caa";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#908caa";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#eb6f92";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#31748f";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#eb6f92";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#eb6f92";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#eb6f92";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#9ccfd8";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#31748f";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#9ccfd8";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#c4a7e7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#31748f";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#31748f";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#eb6f92";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#9ccfd8";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#6e6a86";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-predoc-color: "#eb6f92";
  --syntax-predoc-font_style: null;
  --syntax-predoc-font_weight: null;
  --syntax-primary-color: "#eb6f92";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#31748f";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#9ccfd8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#9ccfd8";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#908caa";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#9ccfd8";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#9ccfd8";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#eb6f92";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#ebbcba";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#c4a7e7";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#c4a7e7";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#c4a7e7";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#eb6f92";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#31748f";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#ebbcba";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#e0def4";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#f6c177";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#f6c177";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#f6c177";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#e0def4";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#e0def4";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#f6c177";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#c4a7e7";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#eb6f92";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
