:root {
  --background: "#000000";
  --border: "#222222";
  --border-variant: "#000022";
  --editor-background: "#000000";
  --elevated_surface-background: "#111111";
  --hint: "#C8C8C8";
  --hint-background: "#000000";
  --info-background: "#000000";
  --panel-background: "#000000";
  --scrollbar-thumb-background: "#C792EA77";
  --scrollbar-thumb-border: "#C792EA33";
  --scrollbar-track-background: "#00002200";
  --scrollbar-track-border: "#222222";
  --status_bar-background: "#000000";
  --tab_bar-background: "#00000A";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#0000b2";
  --terminal-ansi-bright_black: "#515151";
  --terminal-ansi-bright_blue: "#0000ff";
  --terminal-ansi-bright_cyan: "#00e5e5";
  --terminal-ansi-bright_green: "#00d900";
  --terminal-ansi-bright_magenta: "#e500e5";
  --terminal-ansi-bright_red: "#e50000";
  --terminal-ansi-bright_white: "#e5e5e5";
  --terminal-ansi-bright_yellow: "#e5e500";
  --terminal-ansi-cyan: "#00a6b2";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#00a600";
  --terminal-ansi-magenta: "#b200b2";
  --terminal-ansi-red: "#990000";
  --terminal-ansi-white: "#b1b1b1";
  --terminal-ansi-yellow: "#999900";
  --terminal-background: "#000000";
  --terminal-bright_foreground: "#ffffff";
  --terminal-dim_foreground: null;
  --terminal-foreground: "#bfbfbf";
  --title_bar-background: "#000000";
  --toolbar-background: "#00000A";
  --warning-background: "#0C0000";
  --syntax-attribute-color: "#FFDC96";
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#FF7878";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#637777";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#637A8A";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#82AAFF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#05DCDC";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#05DCDC";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#01B0FF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#FFB482";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#FF7878";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#C8C8C8";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#C8C8C8";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#169FFF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#C8C8C8";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#C792EA";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#C7B3FA";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#ABE682";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#82AAFF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ABE682";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ABE699";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#ECFFFF";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#CAECE6";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#ECC48D";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#C792EA";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#FFDC96";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#FFDCAA";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
