:root {
  --accents: ["#5286BC","#9c71b7","#849b00","null","#ff9da4","#f0c674","#4ba9af","#505050","#ff7882","#5286BC","#9c71b7","#849b00","null","#f0c674"];
  --background: "#ffffff";
  --border-disabled: null;
  --border-focused: "#F2F2F2";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#F2F2F2";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#849b00";
  --created-background: null;
  --created-border: null;
  --deleted: "#D43E36";
  --deleted-background: "#ff788260";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#F2F2F2";
  --editor-active_line_number: null;
  --editor-active_wrap_guide: null;
  --editor-background: "#ffffff";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#60605F";
  --editor-gutter-background: "#ffffff";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: "#00000051";
  --editor-indent_guide_active: "#5286BC80";
  --editor-invisible: null;
  --editor-line_number: null;
  --editor-subheader-background: "#F2F2F2";
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: "#ffffff";
  --element-selected: "#dededec0";
  --elevated_surface-background: "#F2F2F2";
  --error: "#d43e36";
  --error-background: "#eac5c3";
  --error-border: "#d43e36";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#60605f20";
  --ghost_element-selected: "#5286BC20";
  --hidden: "#63666E";
  --hidden-border: null;
  --hint: "#63666E";
  --hint-background: "#5286BC50";
  --hint-border: "#5286BC";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#8C8C8C";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#5286BC";
  --info-background: null;
  --info-border: null;
  --link_text-hover: null;
  --modified: "#5286BC";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#F2F2F2";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: null;
  --scrollbar-track-border: "#F2F2F2";
  --scrollbar_thumb-background: null;
  --search-match_background: "#f0c67430";
  --status_bar-background: "#fafafa";
  --success: "#849b00";
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#fafafa";
  --tab-inactive_background: "#F2F2F2";
  --tab_bar-background: "#F2F2F2";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#5286BC";
  --terminal-ansi-bright_black: "#00000080";
  --terminal-ansi-bright_blue: "#5286BC";
  --terminal-ansi-bright_cyan: "#4ba9af";
  --terminal-ansi-bright_green: "#849b00";
  --terminal-ansi-bright_magenta: "#9c71b7";
  --terminal-ansi-bright_red: "#ff7882";
  --terminal-ansi-bright_white: "#505050";
  --terminal-ansi-bright_yellow: "#f0c674";
  --terminal-ansi-cyan: "#4ba9af";
  --terminal-ansi-dim_black: "#000000";
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: "#505050";
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#849b00";
  --terminal-ansi-magenta: "#9c71b7";
  --terminal-ansi-red: "#ff9da4";
  --terminal-ansi-white: "#505050";
  --terminal-ansi-yellow: "#f0c674";
  --terminal-background: "#ffffff";
  --terminal-bright_foreground: "#000000";
  --terminal-dim_foreground: "#000000";
  --terminal-foreground: "#000000";
  --text: "#60605F";
  --text-accent: "#5286BC";
  --text-disabled: "#00000051";
  --text-muted: "#00000071";
  --text-placeholder: "#00000071";
  --title_bar-background: "#F2F2F2";
  --toolbar-background: "#F2F2F2a0";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#f0c674";
  --warning-background: "#FCD890";
  --warning-border: "#f0c674";
  --player-1-background: "#dedede";
  --player-1-cursor: "#5286BC";
  --player-1-selection: "#dededec0";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-boolean-color: "#f39929";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9fa19e";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#f39929";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#f39929";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: 600;
  --syntax-function-color: "#4ba9af";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 600;
  --syntax-keyword-color: "#9c71b7";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 600;
  --syntax-lifetime-color: "#5286BC";
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-number-color: "#f39929";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-list_marker-color: "#f39929";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-string-color: "#849b00";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-tag-color: "#5286BC";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-title-color: "#9c71b7";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 600;
  --syntax-type-color: "#f39929";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 600;
}
