:root {
  --accents: ["#8CB6E2","#B294BB","#C5D15C","null","#FF9DA4","#ECCE59","#8ABEB7","#CCC","#FF7882","#8CB6E2","#B294BB","#C5D15C","null","#ECCE59"];
  --background: "#000";
  --border: "#303446";
  --border-disabled: null;
  --border-focused: "#000";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#303446";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#C5D15C";
  --created-background: null;
  --created-border: null;
  --deleted: "#DF6565";
  --deleted-background: "#FF78825F";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#3034465F";
  --editor-active_line_number: "#FFF";
  --editor-active_wrap_guide: null;
  --editor-background: "#000";
  --editor-document_highlight-read_background: "#3034469F";
  --editor-document_highlight-write_background: "#303446F0";
  --editor-foreground: "#EEE";
  --editor-gutter-background: "#000";
  --editor-highlighted_line-background: "#3034468F";
  --editor-indent_guide: "none";
  --editor-indent_guide_active: "#ED9E566E";
  --editor-invisible: null;
  --editor-line_number: "#282A2E";
  --editor-subheader-background: "#30344680";
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: "#30344650";
  --element-disabled: null;
  --element-hover: "#303446";
  --element-selected: "#3034468F";
  --elevated_surface-background: "#000";
  --error: "#DF6565";
  --error-background: "#000";
  --error-border: "#DF6565";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#3034468F";
  --ghost_element-selected: "#3034469F";
  --hidden: "#63666E";
  --hidden-border: null;
  --hint: "#3034469F";
  --hint-background: "#000";
  --hint-border: "#8CB6E2";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#4D5057";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#8CB6E2";
  --info-background: "#000";
  --info-border: "#8CB6E2";
  --link_text-hover: null;
  --modified: "#ECCE59";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: "#000";
  --panel-background: "#000";
  --panel-focused_border: "#000";
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#8CB6E203";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#8CB6E215";
  --scrollbar-track-border: "#8CB6E215";
  --scrollbar_thumb-background: "#30344650";
  --search-match_background: "#ECCE592E";
  --status_bar-background: "#000";
  --success: "#C5D15C";
  --success-background: "#000";
  --success-border: null;
  --surface-background: "#000";
  --tab-active_background: "#000";
  --tab-inactive_background: "#000";
  --tab_bar-background: "#000";
  --terminal-ansi-black: "#000";
  --terminal-ansi-blue: "#8CB6E2";
  --terminal-ansi-bright_black: "#FFFFFF40";
  --terminal-ansi-bright_blue: "#8CB6E2";
  --terminal-ansi-bright_cyan: "#8ABEB7";
  --terminal-ansi-bright_green: "#C5D15C";
  --terminal-ansi-bright_magenta: "#B294BB";
  --terminal-ansi-bright_red: "#FF7882";
  --terminal-ansi-bright_white: "#FFF";
  --terminal-ansi-bright_yellow: "#ECCE59";
  --terminal-ansi-cyan: "#8ABEB7";
  --terminal-ansi-dim_black: "#000";
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: "#FFF";
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#C5D15C";
  --terminal-ansi-magenta: "#B294BB";
  --terminal-ansi-red: "#FF9DA4";
  --terminal-ansi-white: "#CCC";
  --terminal-ansi-yellow: "#ECCE59";
  --terminal-background: "#000";
  --terminal-bright_foreground: "#FFF";
  --terminal-dim_foreground: "#FFF";
  --terminal-foreground: "#FFF";
  --text: "#EEE";
  --text-accent: "#ED9E56";
  --text-disabled: "#282A2E";
  --text-muted: "#FFFFFF8F";
  --text-placeholder: "#FFFFFF50";
  --title_bar-background: "#000";
  --toolbar-background: "#000";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#ECCE59";
  --warning-background: "#000";
  --warning-border: "#ECCE59";
  --player-1-background: "#373B41";
  --player-1-cursor: "#ED9E56";
  --player-1-selection: "#3034468F";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --player-3-background: null;
  --player-3-cursor: null;
  --player-3-selection: null;
  --player-4-background: null;
  --player-4-cursor: null;
  --player-4-selection: null;
  --player-5-background: null;
  --player-5-cursor: null;
  --player-5-selection: null;
  --syntax-boolean-color: "#ED9E56";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#A7A8A7";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#ED9E56";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#ED9E56";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-function-color: "#ED9E56";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 600;
  --syntax-keyword-color: "#B294BB";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-lifetime-color: "#8CB6E2";
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-method-color: "#ED9E56";
  --syntax-method-font_weight: 400;
  --syntax-number-color: "#ED9E56";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ED9E56";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-string-color: "#C5D15C";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-tag-color: "#ED9E56";
  --syntax-tag-font_style: "italic";
  --syntax-tag-font_weight: null;
  --syntax-title-color: "#B294BB";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 600;
  --syntax-type-color: null;
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 600;
}
