:root {
  --accents: ["#80baff","#ebbbff","#d1f1a9","null","#ff9da4","#ffeead","#99ffff","#cccccc","#ff7882","#80baff","#d778ff","#b8f171","null","#ffe580"];
  --background: "#002451";
  --border: "#001733";
  --border-disabled: null;
  --border-focused: "#bbdaff";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#001c40";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#74c991";
  --created-background: null;
  --created-border: null;
  --deleted: "#ff9da4";
  --deleted-background: "#ff788260";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#00346e";
  --editor-active_line_number: "#FFFFFF";
  --editor-active_wrap_guide: null;
  --editor-background: "#002451";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#FFFFFF";
  --editor-gutter-background: "#002451";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: "none";
  --editor-indent_guide_active: "#FFC58F80";
  --editor-invisible: null;
  --editor-line_number: null;
  --editor-subheader-background: "#001733";
  --editor-wrap_guide: "#001733";
  --element-active: null;
  --element-background: "#00346e";
  --element-disabled: null;
  --element-hover: "#FFFFFF30";
  --element-selected: "#004595a0";
  --elevated_surface-background: "#001733";
  --error: "#ff7882";
  --error-background: "#001c40";
  --error-border: "#ff9da4";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#324764";
  --ghost_element-selected: "#415570";
  --hidden: "#818da1";
  --hidden-border: null;
  --hint: "#7285B7a0";
  --hint-background: null;
  --hint-border: "#80baff";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#818da1a0";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#80baff";
  --info-background: null;
  --info-border: null;
  --link_text-hover: null;
  --modified: "#e2c08d";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#001c40";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#001c40";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#002451c0";
  --scrollbar-track-border: "#001c40";
  --scrollbar_thumb-background: "#bbdaff30";
  --search-match_background: "#533741f0";
  --status_bar-background: "#001126";
  --success: "#d1f1a9";
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#002451";
  --tab-inactive_background: "#001c40";
  --tab_bar-background: "#001733";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#80baff";
  --terminal-ansi-bright_black: "#FFFFFF40";
  --terminal-ansi-bright_blue: "#80baff";
  --terminal-ansi-bright_cyan: "#78ffff";
  --terminal-ansi-bright_green: "#b8f171";
  --terminal-ansi-bright_magenta: "#d778ff";
  --terminal-ansi-bright_red: "#ff7882";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#ffe580";
  --terminal-ansi-cyan: "#99ffff";
  --terminal-ansi-dim_black: "#000000";
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: "#FFFFFF";
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#d1f1a9";
  --terminal-ansi-magenta: "#ebbbff";
  --terminal-ansi-red: "#ff9da4";
  --terminal-ansi-white: "#cccccc";
  --terminal-ansi-yellow: "#ffeead";
  --terminal-background: "#002451";
  --terminal-bright_foreground: "#FFFFFF";
  --terminal-dim_foreground: "#FFFFFF";
  --terminal-foreground: "#FFFFFF";
  --text: "#FFFFFF";
  --text-accent: "#FFC58F";
  --text-disabled: "#818da1";
  --text-muted: "#FFFFFFa1";
  --text-placeholder: "#818da1";
  --title_bar-background: "#001126";
  --toolbar-background: "#002451";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#ffeead";
  --warning-background: "#001c40";
  --warning-border: "#ffeead";
  --player-1-background: "#00346e";
  --player-1-cursor: "#FFFFFF";
  --player-1-selection: "#004595a0";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-boolean-color: "#FFC58F";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7285B7";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#FFC58F";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#FFEEAD";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-function-color: "#FFC58F";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-invalid-color: "#a92049";
  --syntax-keyword-color: "#EBBBFF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#FFC58F";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-parameter-color: "#FFC58F";
  --syntax-punctuation-list_marker-color: "#FFC58F";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-storage-color: "#EBBBFF";
  --syntax-string-color: "#D1F1A9";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-tag-color: "#FFC58F";
  --syntax-tag-font_style: "italic";
  --syntax-tag-font_weight: null;
  --syntax-title-color: "#EBBBFF";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: null;
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
}
