:root {
  --accents: ["#8CB6E2","#b294bb","#c5d15c","null","#ff9da4","#ecce59","#8abeb7","#cccccc","#ff7882","#8CB6E2","#b294bb","#c5d15c","null","#ecce59"];
  --background: "#000000";
  --border-disabled: null;
  --border-focused: "#000000";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#303446";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#c5d15c";
  --created-background: null;
  --created-border: null;
  --deleted: "#DF6565";
  --deleted-background: "#ff788260";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#30344660";
  --editor-active_line_number: "#FFFFFF";
  --editor-active_wrap_guide: null;
  --editor-background: "#000000";
  --editor-document_highlight-read_background: "#303446a0";
  --editor-document_highlight-write_background: "#303446f0";
  --editor-foreground: "#EEEEEE";
  --editor-gutter-background: "#000000";
  --editor-highlighted_line-background: "#30344690";
  --editor-indent_guide: "none";
  --editor-indent_guide_active: "#ed9e5670";
  --editor-invisible: null;
  --editor-line_number: null;
  --editor-subheader-background: "#30344680";
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: "#30344650";
  --element-disabled: null;
  --element-hover: "#303446";
  --element-selected: "#30344690";
  --elevated_surface-background: "#000000";
  --error: "#df6565";
  --error-background: "#000000";
  --error-border: "#df6565";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#30344690";
  --ghost_element-selected: "#303446a0";
  --hidden: "#63666E";
  --hidden-border: null;
  --hint: "#303446a0";
  --hint-background: "#000000";
  --hint-border: "#8CB6E2";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#4d5057";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#8CB6E2";
  --info-background: "#000000";
  --info-border: "#8CB6E2";
  --link_text-hover: null;
  --modified: "#ecce59";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#000000";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#8CB6E205";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: null;
  --scrollbar-track-border: "#8CB6E215";
  --scrollbar_thumb-background: "#30344650";
  --search-match_background: "#ecce5930";
  --status_bar-background: "#000000";
  --success: "#c5d15c";
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#000000";
  --tab-inactive_background: "#000000";
  --tab_bar-background: "#000000";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#8CB6E2";
  --terminal-ansi-bright_black: "#FFFFFF40";
  --terminal-ansi-bright_blue: "#8CB6E2";
  --terminal-ansi-bright_cyan: "#8abeb7";
  --terminal-ansi-bright_green: "#c5d15c";
  --terminal-ansi-bright_magenta: "#b294bb";
  --terminal-ansi-bright_red: "#ff7882";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#ecce59";
  --terminal-ansi-cyan: "#8abeb7";
  --terminal-ansi-dim_black: "#000000";
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: "#FFFFFF";
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#c5d15c";
  --terminal-ansi-magenta: "#b294bb";
  --terminal-ansi-red: "#ff9da4";
  --terminal-ansi-white: "#cccccc";
  --terminal-ansi-yellow: "#ecce59";
  --terminal-background: "#000000";
  --terminal-bright_foreground: "#FFFFFF";
  --terminal-dim_foreground: "#FFFFFF";
  --terminal-foreground: "#FFFFFF";
  --text: "#EEEEEE";
  --text-accent: "#ed9e56";
  --text-disabled: "#282a2e";
  --text-muted: "#FFFFFF91";
  --text-placeholder: "#FFFFFF51";
  --title_bar-background: "#000000";
  --toolbar-background: "#000000";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#ecce59";
  --warning-background: "#000000";
  --warning-border: "#ecce59";
  --player-1-background: "#373b41";
  --player-1-cursor: "#ed9e56";
  --player-1-selection: "#30344690";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-boolean-color: "#ed9e56";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#a7a8a7";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#ed9e56";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#ed9e56";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: 600;
  --syntax-function-color: "#80cabf";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 600;
  --syntax-keyword-color: "#b294bb";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 600;
  --syntax-method-color: "#80cabf";
  --syntax-method-font_weight: 400;
  --syntax-number-color: "#ed9e56";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ed9e56";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-string-color: "#c5d15c";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-tag-color: "#8cb6e1";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-title-color: "#b294bb";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 600;
  --syntax-type-color: "#ed9e56";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 600;
}
