:root {
  --accents: ["#81a2be","#b294bb","#b5bd68","null","#ff9da4","#f0c674","#8abeb7","#cccccc","#ff7882","#81a2be","#b294bb","#b5bd68","null","#f0c674"];
  --background: "#1E1F21";
  --border-disabled: null;
  --border-focused: "#1c1d1f";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#1c1d1f";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#b5bd68";
  --created-background: null;
  --created-border: null;
  --deleted: "#CC6666";
  --deleted-background: "#ff788260";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#373b4180";
  --editor-active_line_number: "#FFFFFF";
  --editor-active_wrap_guide: null;
  --editor-background: "#1E1F21";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#C5C8C6";
  --editor-gutter-background: "#1E1F21";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: "none";
  --editor-indent_guide_active: "#f0c67480";
  --editor-invisible: null;
  --editor-line_number: null;
  --editor-subheader-background: "#17181A50";
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: "#4d505740";
  --element-selected: "#373b41c0";
  --elevated_surface-background: "#17181A";
  --error: "#cc6666";
  --error-background: "#1E1F21";
  --error-border: "#cc6666";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#282a2e50";
  --ghost_element-selected: "#282a2e";
  --hidden: "#63666E";
  --hidden-border: null;
  --hint: "#63666E";
  --hint-background: "#1E1F21";
  --hint-border: "#81a2be";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#4d5057";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#81a2be";
  --info-background: "#1E1F21";
  --info-border: "#81a2be";
  --link_text-hover: null;
  --modified: "#f0c674";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#17181A";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#1d1f21c0";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#1d1f21c0";
  --scrollbar-track-border: "#1d1f2100";
  --scrollbar_thumb-background: "#27292cc0";
  --search-match_background: "#f0c67430";
  --status_bar-background: "#17181A";
  --success: "#b5bd68";
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#1c1d1f";
  --tab-inactive_background: "#17181A";
  --tab_bar-background: "#17181A";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#81a2be";
  --terminal-ansi-bright_black: "#FFFFFF40";
  --terminal-ansi-bright_blue: "#81a2be";
  --terminal-ansi-bright_cyan: "#8abeb7";
  --terminal-ansi-bright_green: "#b5bd68";
  --terminal-ansi-bright_magenta: "#b294bb";
  --terminal-ansi-bright_red: "#ff7882";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#f0c674";
  --terminal-ansi-cyan: "#8abeb7";
  --terminal-ansi-dim_black: "#000000";
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: "#FFFFFF";
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#b5bd68";
  --terminal-ansi-magenta: "#b294bb";
  --terminal-ansi-red: "#ff9da4";
  --terminal-ansi-white: "#cccccc";
  --terminal-ansi-yellow: "#f0c674";
  --terminal-background: "#1E1F21";
  --terminal-bright_foreground: "#FFFFFF";
  --terminal-dim_foreground: "#FFFFFF";
  --terminal-foreground: "#FFFFFF";
  --text: "#C5C8C6";
  --text-accent: "#f0c674";
  --text-disabled: "#282a2e";
  --text-muted: "#FFFFFF91";
  --text-placeholder: "#FFFFFF51";
  --title_bar-background: "#17181A";
  --toolbar-background: "#1c1d1f";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#f0c674";
  --warning-background: "#1E1F21";
  --warning-border: "#f0c674";
  --player-1-background: "#373b41";
  --player-1-cursor: "#8abeb7";
  --player-1-selection: "#373b41c0";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-boolean-color: "#de935f";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#969896";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#de935f";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#de935f";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-function-color: "#85b7b1";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b294bb";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-lifetime-color: "#81a2be";
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-method-color: "#85b7b1";
  --syntax-number-color: "#de935f";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-property-color: null;
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-list_marker-color: "#de935f";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-string-color: "#b5bd68";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-tag-color: "#92b2ca";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-title-color: "#b294bb";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#de935f";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
}
