:root {
  --background: "#181818";
  --border: "#303030";
  --border-disabled: "#181818";
  --border-focused: "#181818";
  --border-selected: "#181818";
  --border-transparent: "#181818";
  --border-variant: "#303030";
  --conflict: "#f43841";
  --conflict-background: "#52494e";
  --conflict-border: "#52494e";
  --created: "#73c936";
  --created-background: "#52494e";
  --created-border: "#52494e";
  --deleted: "#f43841";
  --deleted-background: "#52494e";
  --deleted-border: "#52494e";
  --drop_target-background: "#383b3d";
  --editor-active_line-background: "#181818";
  --editor-active_line_number: "#ffdd33";
  --editor-active_wrap_guide: null;
  --editor-background: "#181818";
  --editor-document_highlight-read_background: "#282828";
  --editor-document_highlight-write_background: "#282828";
  --editor-foreground: "#d1c7c5";
  --editor-gutter-background: "#181818";
  --editor-highlighted_line-background: "#282828";
  --editor-invisible: "#52494e";
  --editor-line_number: "#52494e";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#52494e";
  --element-active: "#181818";
  --element-background: "#202020";
  --element-disabled: "#181818";
  --element-hover: "#181818";
  --element-selected: "#181818";
  --elevated_surface-background: "#202020";
  --error: "#f43841";
  --error-background: "#1a1a1a";
  --error-border: "#1a1a1a";
  --ghost_element-active: "#181818";
  --ghost_element-background: "#202020";
  --ghost_element-disabled: "#181818";
  --ghost_element-hover: "#303030";
  --ghost_element-selected: "#181818";
  --hidden: "#52494e";
  --hidden-background: "#52494e";
  --hidden-border: "#52494e";
  --hint: "#707070";
  --hint-background: "#0e0e0e";
  --hint-border: "#1a1a1a";
  --icon: "#e4e4ef";
  --icon-accent: "#ffdd33";
  --icon-disabled: "#e4e4ef";
  --icon-muted: "#95a99f";
  --icon-placeholder: "#95a99f";
  --ignored: "#95a99f";
  --ignored-background: "#52494e";
  --ignored-border: "#52494e";
  --info: "#96a6c8";
  --info-background: "#0e0e0e";
  --info-border: "#1a1a1a";
  --link_text-hover: "#96a6c8";
  --modified: "#cc8c3c";
  --modified-background: "#52494e";
  --modified-border: "#52494e";
  --pane-focused_border: "#181818";
  --panel-background: "#181818";
  --panel-focused_border: "#181818";
  --predictive: "#52494e";
  --predictive-background: "#52494e";
  --predictive-border: "#52494e";
  --renamed: "#52494e";
  --renamed-background: "#52494e";
  --renamed-border: "#52494e";
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: "#453d41";
  --scrollbar-track-background: "#181818";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: "#52494e";
  --search-match_background: "#52494e";
  --status_bar-background: "#202020";
  --success: "#73c936";
  --success-background: "#52494e";
  --success-border: "#52494e";
  --surface-background: "#181818";
  --tab-active_background: "#181818";
  --tab-inactive_background: "#202020";
  --tab_bar-background: "#202020";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#96a6c8";
  --terminal-ansi-bright_black: "#282828";
  --terminal-ansi-bright_blue: "#96a6c8";
  --terminal-ansi-bright_cyan: "#4ec9b0";
  --terminal-ansi-bright_green: "#73c936";
  --terminal-ansi-bright_magenta: "#9e95c7";
  --terminal-ansi-bright_red: "#ff4f58";
  --terminal-ansi-bright_white: "#f4f4ff";
  --terminal-ansi-bright_yellow: "#ffdd33";
  --terminal-ansi-cyan: "#4ec9b0";
  --terminal-ansi-dim-blue: "#7892b1";
  --terminal-ansi-dim-cyan: "#409f8c";
  --terminal-ansi-dim-magenta: "#8573a3";
  --terminal-ansi-dim-yellow: "#e3bf33";
  --terminal-ansi-dim_black: "#282828";
  --terminal-ansi-dim_green: "#60984e";
  --terminal-ansi-dim_red: "#c73c3f";
  --terminal-ansi-dim_white: "#d1d1d1";
  --terminal-ansi-green: "#73c936";
  --terminal-ansi-magenta: "#9e95c7";
  --terminal-ansi-red: "#f43841";
  --terminal-ansi-white: "#e4e4ef";
  --terminal-ansi-yellow: "#ffdd33";
  --terminal-background: "#181818";
  --terminal-bright_foreground: "#f4f4ff";
  --terminal-dim_foreground: "#95a99f";
  --terminal-foreground: "#e4e4ef";
  --text: "#e4e4ef";
  --text-accent: "#95a99f";
  --text-disabled: "#808080";
  --text-muted: "#95a99f";
  --text-placeholder: "#606060";
  --title_bar-background: "#202020";
  --toolbar-background: "#181818";
  --unreachable: "#52494e";
  --unreachable-background: "#52494e";
  --unreachable-border: "#52494e";
  --warning: "#ffdd33";
  --warning-background: "#0e0e0e";
  --warning-border: "#1a1a1a";
  --syntax-attribute-color: "#95a99f";
  --syntax-attribute-font_style: "italic";
  --syntax-attribute-font_weight: 400;
  --syntax-background_color-color: "#181818";
  --syntax-background_color-font_style: "normal";
  --syntax-background_color-font_weight: 400;
  --syntax-boolean-color: "#ffdd33";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: 400;
  --syntax-comment-color: "#cc8c3c";
  --syntax-comment-font_style: "normal";
  --syntax-comment-font_weight: 400;
  --syntax-comment-doc-color: "#cc8c3c";
  --syntax-comment-doc-font_style: "normal";
  --syntax-comment-doc-font_weight: 400;
  --syntax-constant-color: "#95a99f";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: 600;
  --syntax-constructor-color: "#ffdd33";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: 600;
  --syntax-function-color: "#96a6c8";
  --syntax-function-font_style: "normal";
  --syntax-function-font_weight: 400;
  --syntax-keyword-color: "#ffdd33";
  --syntax-keyword-font_style: "normal";
  --syntax-keyword-font_weight: 600;
  --syntax-number-color: "#D1C7C5";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: 400;
  --syntax-operator-color: "#D1C7C5";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: 400;
  --syntax-preproc-color: "#95a99f";
  --syntax-preproc-font_style: "normal";
  --syntax-preproc-font_weight: 400;
  --syntax-property-color: "#95a99f";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: 400;
  --syntax-punctuation-color: "#D1C7C5";
  --syntax-punctuation-font_style: "normal";
  --syntax-punctuation-font_weight: 400;
  --syntax-punctuation-bracket-color: "#D1C7C5";
  --syntax-punctuation-bracket-font_style: "normal";
  --syntax-punctuation-bracket-font_weight: 400;
  --syntax-punctuation-delimiter-color: "#D1C7C5";
  --syntax-punctuation-delimiter-font_style: "normal";
  --syntax-punctuation-delimiter-font_weight: 400;
  --syntax-punctuation-list_marker-color: "#D1C7C5";
  --syntax-punctuation-list_marker-font_style: "normal";
  --syntax-punctuation-list_marker-font_weight: 400;
  --syntax-punctuation-special-color: "#D1C7C5";
  --syntax-punctuation-special-font_style: "normal";
  --syntax-punctuation-special-font_weight: 400;
  --syntax-string-color: "#7CC138";
  --syntax-string-font_style: "italic";
  --syntax-string-font_weight: 400;
  --syntax-string-escape-color: "#7CC138";
  --syntax-string-escape-font_style: "italic";
  --syntax-string-escape-font_weight: 400;
  --syntax-string-regex-color: "#7CC138";
  --syntax-string-regex-font_style: "italic";
  --syntax-string-regex-font_weight: 400;
  --syntax-string-special-color: "#7CC138";
  --syntax-string-special-font_style: "italic";
  --syntax-string-special-font_weight: 400;
  --syntax-string-special-symbol-color: "#7CC138";
  --syntax-string-special-symbol-font_style: "italic";
  --syntax-string-special-symbol-font_weight: 400;
  --syntax-tag-color: "#D1C7C5";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: 400;
  --syntax-text-literal-color: "#68685B";
  --syntax-text-literal-font_style: "normal";
  --syntax-text-literal-font_weight: 400;
  --syntax-type-color: "#D1C7C5";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: 400;
  --syntax-variable-color: "#D1C7C5";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: 400;
  --syntax-variable-special-color: "#D1C7C5";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: 400;
}
