:root {
  --background: "#F7F7F7";
  --border: null;
  --border-disabled: null;
  --border-focused: "#CCCCCC";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: null;
  --created-background: null;
  --created-border: null;
  --deleted: null;
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#F0F0F0";
  --editor-active_line_number: "#000";
  --editor-active_wrap_guide: null;
  --editor-background: "#F7F7F7";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#000";
  --editor-gutter-background: "#F7F7F7";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#9DA39A";
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: null;
  --element-selected: "#DDDDDD";
  --elevated_surface-background: null;
  --error: "#AA3731";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: null;
  --ghost_element-selected: "#DDDDDD";
  --hidden: null;
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: null;
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: null;
  --modified: "#325CC0";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#F0F0F0";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#F7F7F7";
  --scrollbar-track-border: null;
  --search-match_background: null;
  --status_bar-background: "#DDDDDD";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#F0F0F0";
  --tab-active_background: null;
  --tab-inactive_background: null;
  --tab_bar-background: "#F0F0F0";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#325CC0";
  --terminal-ansi-bright_black: "#777777";
  --terminal-ansi-bright_blue: "#007ACC";
  --terminal-ansi-bright_cyan: "#00AACB";
  --terminal-ansi-bright_green: "#60CB00";
  --terminal-ansi-bright_magenta: "#E64CE6";
  --terminal-ansi-bright_red: "#F05050";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#FFBC5D";
  --terminal-ansi-cyan: "#0083B2";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#448C27";
  --terminal-ansi-magenta: "#7A3E9D";
  --terminal-ansi-red: "#AA3731";
  --terminal-ansi-white: "#BBBBBB";
  --terminal-ansi-yellow: "#CB9000";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: null;
  --text-accent: null;
  --text-disabled: null;
  --text-muted: null;
  --text-placeholder: null;
  --title_bar-background: null;
  --toolbar-background: "#F7F7F7";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#CB9000";
  --warning-background: null;
  --warning-border: null;
  --player-1-selection: "#BFDBFE";
  --syntax-comment-color: "#AA3731";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#AA3731";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#7A3E9D";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-function-color: "#325CC0";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#000000";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-function-method-color: "#000000";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-label-color: "#325CC0";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-number-color: "#7A3E9D";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-color: "#777777";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#777777";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#777777";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#777777";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#777777";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#448C27";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-doc-color: "#AA3731";
  --syntax-string-doc-font_style: null;
  --syntax-string-doc-font_weight: null;
  --syntax-string-escape-color: "#7A3E9D";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#448C27";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#448C27";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#448C27";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-text-literal-color: "#448C27";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#325CC0";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
}
