:root {
  --background: "#191724";
  --border: "#191724";
  --border_disabled: "#191724";
  --border_focused: "#191724";
  --border_selected: "#191724";
  --border_transparent: "#191724";
  --border_variant: "#191724";
  --created: "#9ccfd8";
  --deleted: "#eb6f92";
  --editor_active_line_background: "#191724";
  --editor_active_line_number: "#e0def4";
  --editor_active_wrap_guide: "#403d52";
  --editor_background: "#191724";
  --editor_foreground: "#e0def4";
  --editor_gutter_background: "#191724";
  --editor_invisible: "#403d52";
  --editor_line_number: "#403d52";
  --editor_wrap_guide: "#403d52";
  --element_active: "#26233a";
  --element_background: "#191724";
  --element_disabled: "#26233a";
  --element_hover: "#26233a";
  --element_selected: "#26233a";
  --elevated_surface_background: "#191724";
  --error: "#eb6f92";
  --error_background: "#493042";
  --error_border: "#eb6f92";
  --hint: "#908caa";
  --hint_background: "#243141";
  --ignored: "#6e6a86";
  --info: "#31748f";
  --modified: "#e1b170";
  --panel_background: "#191724";
  --panel_focused_border: null;
  --predictive: "#908caa";
  --scrollbar_thumb_background: "#e0def444";
  --scrollbar_thumb_border: "transparent";
  --scrollbar_track_background: "transparent";
  --status_bar_background: "#191724";
  --surface_background: "#191724";
  --tab_active_background: "#191724";
  --tab_inactive_background: "#191724";
  --tab_bar_background: "#191724";
  --terminal_ansi_black: "#403d52";
  --terminal_ansi_blue: "#9ccfd8";
  --terminal_ansi_cyan: "#ebbcba";
  --terminal_ansi_green: "#31748f";
  --terminal_ansi_magenta: "#c4a7e7";
  --terminal_ansi_red: "#eb6f92";
  --terminal_ansi_white: "#e0def4";
  --terminal_ansi_yellow: "#f6c177";
  --terminal_background: "#191724";
  --text: "#6e6a86";
  --text_accent: "#ebbcba";
  --text_disabled: "#403d52";
  --text_muted: "#403d52";
  --text_placeholder: "#403d52";
  --title_bar_background: "#191724";
  --toolbar_background: "#191724";
  --warning: "#f6c177";
  --player_1_background: "#e0def4";
  --player_1_cursor: "#e0def4";
  --player_1_selection: "#e0def422";
  --player_2_background: "#9ccfd8";
  --player_2_cursor: "#9ccfd8";
  --player_2_selection: "#9ccfd844";
  --player_3_background: "#c4a7e7";
  --player_3_cursor: "#c4a7e7";
  --player_3_selection: "#c4a7e744";
  --player_4_background: "#31748f";
  --player_4_cursor: "#31748f";
  --player_4_selection: "#31748f44";
  --player_5_background: "#eb6f92";
  --player_5_cursor: "#eb6f92";
  --player_5_selection: "#eb6f9244";
  --syntax_attribute_color: "#908caa";
  --syntax_boolean_color: "#ebbcba";
  --syntax_comment_color: "#524f67";
  --syntax_comment_font_style: "italic";
  --syntax_comment_doc_color: "#908caa";
  --syntax_constant_color: "#e0def4";
  --syntax_constructor_color: "#eb6f92";
  --syntax_embedded_color: "#e0def4";
  --syntax_emphasis_color: "#c4a7e7";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_strong_color: "#9ccfd8";
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#31748f";
  --syntax_function_color: "#ebbcba";
  --syntax_hint_color: "#c4a7e7";
  --syntax_keyword_color: "#31748f";
  --syntax_label_color: "#ebbcba";
  --syntax_link_text_color: "#c4a7e7";
  --syntax_link_uri_color: "#31748f";
  --syntax_number_color: "#9ccfd8";
  --syntax_operator_color: "#908caa";
  --syntax_predictive_color: "#908caa";
  --syntax_preproc_color: "#f6c177";
  --syntax_primary_color: "#c4a7e7";
  --syntax_property_color: "#eb6f92";
  --syntax_punctuation_color: "#9ccfd8";
  --syntax_punctuation_bracket_color: "#908caa";
  --syntax_punctuation_delimiter_color: "#9ccfd8";
  --syntax_punctuation_list_marker_color: "#9ccfd8";
  --syntax_punctuation_list_marker_font_weight: 700;
  --syntax_punctuation_special_color: "#c4a7e7";
  --syntax_string_color: "#f6c177";
  --syntax_string_escape_color: "#f6c177";
  --syntax_string_regex_color: "#f6c177";
  --syntax_string_special_color: "#31748f";
  --syntax_string_special_symbol_color: "#31748f";
  --syntax_tag_color: "#c4a7e7";
  --syntax_text_literal_color: "#f6c177";
  --syntax_title_color: "#eb6f92";
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#9ccfd8";
  --syntax_variable_color: "#e0def4";
  --syntax_variable_special_color: "#9ccfd8";
  --syntax_variant_color: "#ebbcba";
}
