:root {
  --background: "#0B152D";
  --border: "#0B152D";
  --border-disabled: "#FFF";
  --border-focused: "#FFF";
  --border-selected: "#FFF";
  --border-transparent: "#FFF";
  --border-variant: "#0B152D";
  --conflict: "#DEC184";
  --conflict-background: "#DEC184";
  --conflict-border: "#5D4C2F";
  --created: "#80ED99";
  --created-background: "#EEEEFF";
  --created-border: "#EEEEFF";
  --deleted: "#FF5555";
  --deleted-background: "#5D4C2F";
  --deleted-border: "#4C2B2C";
  --drop_target-background: "#333370";
  --editor-active_line-background: "#333370";
  --editor-active_line_number: "#C7F9CC";
  --editor-active_wrap_guide: "#FFF";
  --editor-background: "#162137";
  --editor-document_highlight-read_background: "#7373B7";
  --editor-document_highlight-write_background: "#7373B7";
  --editor-foreground: "#EEEEFF";
  --editor-gutter-background: "#162137";
  --editor-highlighted_line-background: "#FFF";
  --editor-invisible: "#162137";
  --editor-line_number: "#B2D0FF";
  --editor-subheader-background: "#0B152D";
  --editor-wrap_guide: "#FFF";
  --element-active: "#0B152D";
  --element-background: "#0B152D";
  --element-disabled: "#FFF";
  --element-hover: "#0B152D";
  --element-selected: "#0B152D";
  --elevated_surface-background: "#0B152D";
  --elevated_surface-border: "#FFF";
  --error: "#FF9998";
  --error-background: "#0B152D";
  --error-border: "#0B152D";
  --ghost_element-active: "#333370";
  --ghost_element-disabled: "#FFF";
  --ghost_element-hover: "#333370";
  --ghost_element-selected: "#333370";
  --hidden: "#555A63";
  --hidden-background: "#555A63";
  --hidden-border: "#414754";
  --hint: "#5A6F89";
  --hint-background: "#0B152D";
  --hint-border: "#EEEEFF";
  --icon: "#B2D0FF";
  --icon-accent: "#EEEEFF";
  --icon-disabled: "#FFF";
  --icon-muted: "#EEEEFF";
  --icon-placeholder: "#FFF";
  --ignored: "#838994";
  --ignored-background: "#42444F";
  --ignored-border: "#464B57";
  --info: "#0B152D";
  --info-background: "#0B152D";
  --info-border: "#293B5B";
  --link_text-hover: "#74ADE8";
  --modified: "#FFE482";
  --modified-background: "#41321D";
  --modified-border: "#5d4C2F";
  --pane-focused_border: "#FFF";
  --panel-background: "#0B152D";
  --panel-focused: "#FFF";
  --panel-focused_border: "#FFF";
  --panel-foreground: "#FFF";
  --predictive: "#5A6A87";
  --predictive-background: "#222E1D";
  --predictive-border: "#38482F";
  --renamed: "#74ADE8";
  --renamed-background: "#0B152D";
  --renamed-border: "#293B5B";
  --scrollbar-thumb-background: "#33336F";
  --scrollbar-thumb-hover_background: "#FFF";
  --scrollbar-track-background: "#0B152D";
  --scrollbar-track-border: "#0B152D";
  --scrollbar_thumb-background: "#333370";
  --search-match_background: "#333370";
  --status_bar-background: "#0B152D";
  --status_bar-foreground: "#FFF";
  --success: "#F1FA8C";
  --success-background: "#222E1D";
  --success-border: "#38482F";
  --surface-background: "#0B152D";
  --tab-active_background: "#162137";
  --tab-active_foreground: "#FFF";
  --tab-inactive_background: "#0B152D";
  --tab_bar-background: "#0B152D";
  --tab_bar-foreground: "#FFF";
  --terminal-ansi-black: "#050505";
  --terminal-ansi-blue: "#74ADE8";
  --terminal-ansi-bright_black: "#050505";
  --terminal-ansi-bright_blue: "#74ADE8";
  --terminal-ansi-bright_cyan: "#00E8C6";
  --terminal-ansi-bright_green: "#80ED99";
  --terminal-ansi-bright_magenta: "#FF99C8";
  --terminal-ansi-bright_red: "#FF99C8";
  --terminal-ansi-bright_white: "#EEEEFF";
  --terminal-ansi-bright_yellow: "#FFE482";
  --terminal-ansi-cyan: "#00E8C6";
  --terminal-ansi-green: "#80ED99";
  --terminal-ansi-magenta: "#FF99C8";
  --terminal-ansi-red: "#FF99C8";
  --terminal-ansi-white: "#EEEEFF";
  --terminal-ansi-yellow: "#FFE482";
  --terminal-background: "#162137";
  --terminal-bright_foreground: "#FFF";
  --terminal-foreground: "#B2D0FF";
  --text: "#B2D0FF";
  --text-accent: "#B2D0FF";
  --text-disabled: "#EEEEFF";
  --text-muted: "#B2D0FF";
  --text-placeholder: "#B2D0FF";
  --title_bar-background: "#0B152D";
  --title_bar-foreground: "#FFF";
  --title_bar-inactive_background: "#0B152D";
  --toolbar-background: "#162137";
  --unreachable: "#838994";
  --unreachable-background: "#42444f";
  --unreachable-border: "#464B57";
  --warning: "#DEC184";
  --warning-background: "#41321D";
  --warning-border: "#5D4C2F";
  --player-1-cursor: "#EEEEFF";
  --player-1-selection: "#444499";
  --syntax-attribute-color: "#A594F9";
  --syntax-boolean-color: "#57CC99";
  --syntax-comment-color: "#6B758D";
  --syntax-comment-doc-color: "#FFF";
  --syntax-constant-color: "#80ED99";
  --syntax-constructor-color: "#FFF";
  --syntax-embedded-color: "#FFF";
  --syntax-emphasis-color: "#95DFFF";
  --syntax-emphasis-strong-color: "#5FA8D3";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#FFF";
  --syntax-function-color: "#CDC1FF";
  --syntax-hint-color: "#FFF";
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#A594F9";
  --syntax-label-color: "#FFF";
  --syntax-link_text-color: "#FFF";
  --syntax-link_text-font_style: "italic";
  --syntax-link_uri-color: "#B2D0FF";
  --syntax-number-color: "#CDC1FF";
  --syntax-operator-color: "#C4E9F4";
  --syntax-predictive-color: "#FFF";
  --syntax-predictive-font_style: "italic";
  --syntax-preproc-color: "#FFF";
  --syntax-primary-color: "#FFF";
  --syntax-property-color: "#96B9FF";
  --syntax-punctuation-color: "#C4E9F4";
  --syntax-punctuation-bracket-color: "#C4E9F4";
  --syntax-punctuation-delimiter-color: "#C4E9F4";
  --syntax-punctuation-list_marker-color: "#C4E9F4";
  --syntax-punctuation-special-color: "#C4E9F4";
  --syntax-string-color: "#C7F9CC";
  --syntax-string-escape-color: "#5FA8D3";
  --syntax-string-regex-color: "#C4E9F4";
  --syntax-string-special-color: "#CDC1FF";
  --syntax-string-special-symbol-color: "#FFF";
  --syntax-tag-color: "#67DCA9";
  --syntax-text-literal-color: "#CDC1FF";
  --syntax-title-color: "#C4E9F4";
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#5FA8D3";
  --syntax-variable-color: "#CDC1FF";
  --syntax-variable-parameter-color: "#FFF";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-special-color: "#A594F9";
  --syntax-variant-color: "#FFF";
}
