:root {
  --accents: ["#6699cc","#c594c5","#a3ce9e","null","#ee6a6f","#fab763","#5FB4B4","#ffffffdd","#ee6a6f","#6699cc","#c594c5","#a3ce9e","null","#fab763"];
  --background: "#2E3842";
  --border: "#1c2228";
  --border-disabled: "#2E3842";
  --border-focused: "#2E3842";
  --border-selected: "#2E3842";
  --border-transparent: "#2E3842";
  --border-variant: "#2E3842";
  --conflict: "#C695C6";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#99C794";
  --created-background: null;
  --created-border: null;
  --deleted: "#EC5F66";
  --deleted-background: "#ee6a6f60";
  --deleted-border: null;
  --drop_target-background: "#cfebfd21";
  --editor-active_line-background: "#4a586500";
  --editor-active_line_number: "#C9D2DF";
  --editor-active_wrap_guide: "#cfebfd21";
  --editor-background: "#2E3842";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#D8DEE9";
  --editor-gutter-background: "#2E3842";
  --editor-highlighted_line-background: "#59667353";
  --editor-indent_guide: "#59687850";
  --editor-indent_guide_active: "#596879";
  --editor-invisible: null;
  --editor-line_number: "#848b95";
  --editor-subheader-background: "#293239";
  --editor-wrap_guide: "#CFEBFD21";
  --element-active: null;
  --element-background: "#27323B";
  --element-disabled: null;
  --element-hover: "#1c2228";
  --element-selected: "#596673B3";
  --elevated_surface-background: "#1c2228";
  --error: "#EC5F66";
  --error-background: "#48434b";
  --error-border: "#EC5F66";
  --ghost_element-active: "#3e4347";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: null;
  --ghost_element-hover: "#292f35";
  --ghost_element-selected: "#3e4347";
  --hidden: "#CBCDCF";
  --hidden-border: null;
  --hint: "#A6ACB9a0";
  --hint-background: "#3F4355";
  --hint-border: "#5C99D6";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: null;
  --ignored-background: null;
  --ignored-border: null;
  --info: "#A3CE9E";
  --info-background: "#3F4355";
  --info-border: "#5C99D6";
  --link_text-hover: "#6699cc";
  --modified: "#F9AE58";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#1c2228";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#09667300";
  --scrollbar-thumb-hover_background: "#596673B3";
  --scrollbar-track-background: "#2E3842";
  --scrollbar-track-border: "#2E384200";
  --scrollbar_thumb-background: "#59667363";
  --search-match_background: "#ffc44a80";
  --status_bar-background: "#171c22";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#38424c";
  --tab-active_background: "#2E3842";
  --tab-inactive_background: "#1c2228";
  --tab_bar-background: "#1c2228";
  --terminal-ansi-black: "#e6e6e6";
  --terminal-ansi-blue: "#6699cc";
  --terminal-ansi-bright_black: "#e6e6e6";
  --terminal-ansi-bright_blue: "#6699cc";
  --terminal-ansi-bright_cyan: "#5FB4B4";
  --terminal-ansi-bright_green: "#a3ce9e";
  --terminal-ansi-bright_magenta: "#c594c5";
  --terminal-ansi-bright_red: "#ee6a6f";
  --terminal-ansi-bright_white: null;
  --terminal-ansi-bright_yellow: "#fab763";
  --terminal-ansi-cyan: "#5FB4B4";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a3ce9e";
  --terminal-ansi-magenta: "#c594c5";
  --terminal-ansi-red: "#ee6a6f";
  --terminal-ansi-white: "#ffffffdd";
  --terminal-ansi-yellow: "#fab763";
  --terminal-background: "#2E3842";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#F7F7F7";
  --text-accent: "#5C99D6";
  --text-disabled: "#596878";
  --text-muted: "#CBCDCF";
  --text-placeholder: "#CBCDCF";
  --title_bar-background: "#1c2228";
  --toolbar-background: "#2E3842";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#5C99D6";
  --warning-background: "#37404A";
  --warning-border: "#5C99D6";
  --player-1-background: "#647382";
  --player-1-cursor: "#F9AE58";
  --player-1-selection: "#596673B3";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#C695C6";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#EC5F66";
  --syntax-boolean-font_style: "italic";
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#A6ACB9";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#A6ACB9";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#F9AE58";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#EC5F66";
  --syntax-constant-builtin-font_style: "italic";
  --syntax-constant-builtin-font_weight: null;
  --syntax-constructor-color: "#EC5F66";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#5FB4B4";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#5C99D6";
  --syntax-function-builtin-font_style: "italic";
  --syntax-function-builtin-font_weight: null;
  --syntax-function-method-color: "#5C99D6";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-keyword-color: "#C695C6";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#F9AE58";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#F97B58";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#F9AE58";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#FFFFFF";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#FFFFFF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#A5ACBA";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#F9AE58";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#5FB4B4";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#99C794";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#C695C6";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#C695C6";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#C695C6";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#C695C6";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#EC5F66";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#8CC98F";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#C695C6";
  --syntax-title-font_style: "italic";
  --syntax-title-font_weight: null;
  --syntax-type-color: "#fab763";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#C695C6";
  --syntax-type-builtin-font_style: "italic";
  --syntax-type-builtin-font_weight: null;
  --syntax-variable-member-color: "#5C99D6";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#FAB763";
  --syntax-variable-parameter-font_style: null;
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#FAB763";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
