:root {
  --background: "#f7f7f7";
  --border: "#e4e4e4";
  --border-disabled: "#80808590";
  --border-focused: "#666666";
  --border-selected: "#80808059";
  --border-transparent: "#80808059";
  --border-variant: "#80808059";
  --conflict: "#af5f00";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#5f875f";
  --created-background: null;
  --created-border: null;
  --deleted: "#870000";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#e4e4e4";
  --editor-active_line-background: "#f7f7f7";
  --editor-active_line_number: "#262626";
  --editor-active_wrap_guide: "#80808059";
  --editor-background: "#e4e4e4";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#262626";
  --editor-gutter-background: "#e4e4e4";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#8a8a8a";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#80808059";
  --element-active: null;
  --element-background: "#e4e4e4";
  --element-disabled: null;
  --element-hover: "#e4e4e4";
  --element-selected: "#e4e4e4";
  --elevated_surface-background: "#e4e4e4";
  --error: "#870000";
  --error-background: "#e4e4e4";
  --error-border: "#870000";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#d4d4d4";
  --ghost_element-selected: "#d1d1d1";
  --hidden: "#8a8a8a";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#9e9e9e";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#bcbcbc";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#e4e4e4";
  --info-background: "#e4e4e4";
  --info-border: null;
  --link_text-hover: null;
  --modified: "#005fff";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#e4e4e4";
  --panel-focused_border: null;
  --predictive: "#a8a8a8";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#bcbcbc";
  --scrollbar-thumb-hover_background: "#bcbcbc";
  --scrollbar-track-background: "#e4e4e4";
  --scrollbar-track-border: "#7f7f7f4d";
  --scrollbar_thumb-background: "#bcbcbca0";
  --search-match_background: "#ffffff";
  --status_bar-background: "#e4e4e4";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#e4e4e4";
  --tab-active_background: "#e4e4e4";
  --tab-inactive_background: "#bcbcbc";
  --tab_bar-background: "#bcbcbc";
  --terminal-ansi-black: "#262626";
  --terminal-ansi-blue: "#444444";
  --terminal-ansi-bright_black: "#4e4e4e";
  --terminal-ansi-bright_blue: "#606060";
  --terminal-ansi-bright_cyan: "#bcbcbc";
  --terminal-ansi-bright_green: "#767676";
  --terminal-ansi-bright_magenta: "#a8a8a8";
  --terminal-ansi-bright_red: "#949494";
  --terminal-ansi-bright_white: "#f7f7f7";
  --terminal-ansi-bright_yellow: "#b2b2b2";
  --terminal-ansi-cyan: "#8a8a8a";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#4e4e4e";
  --terminal-ansi-magenta: "#808080";
  --terminal-ansi-red: "#666666";
  --terminal-ansi-white: "#b2b2b2";
  --terminal-ansi-yellow: "#9e9e9e";
  --terminal-background: "#e4e4e4";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#606060";
  --text: "#121212";
  --text-accent: "#262626";
  --text-disabled: "#bcbcbc";
  --text-muted: "#606060";
  --text-placeholder: null;
  --title_bar-background: "#e4e4e4";
  --toolbar-background: "#e4e4e4";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#af5f00";
  --warning-background: "#e4e4e4";
  --warning-border: "#af5f00";
  --player-1-cursor: "#808080";
  --player-1-selection: "#bcbcbc";
  --syntax-attribute-color: "#000000";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-color: "#767676";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#444444";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: 800;
  --syntax-constant-color: "#262626";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: 800;
  --syntax-constructor-color: "#585858";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#121212";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#000000";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#444444";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#444444";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#000000";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#000000";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#000000";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#444444";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#444444";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#7e7e7e";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#444444";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#808080";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#444444";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#bcbcbc";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#000000";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#7e7e7e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#666666";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#7e7e7e";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#666666";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#666666";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8a8a8a";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: 800;
  --syntax-text-literal-color: "#121212";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#121212";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#666666";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: 800;
  --syntax-variable-special-color: "#666666";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
