:root {
  --background: "#080808";
  --border: "#1c1c1c";
  --border-disabled: "#80808059";
  --border-focused: "#66666";
  --border-selected: "#80808059";
  --border-transparent: "#80808059";
  --border-variant: "#80808059";
  --conflict: "#6c6cc4";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#e4e4e4";
  --created-background: null;
  --created-border: null;
  --deleted: "#94151b";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#1c1c1c";
  --editor-active_line-background: "#ffffff0A";
  --editor-active_line_number: "#d4d4d4";
  --editor-active_wrap_guide: "#80808059";
  --editor-background: "#1c1c1c";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#66666";
  --editor-gutter-background: "#1c1c1c";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#858585";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#80808059";
  --element-active: null;
  --element-background: "#1c1c1c";
  --element-disabled: null;
  --element-hover: "#1c1c1c";
  --element-selected: "#1c1c1c";
  --elevated_surface-background: "#1c1c1c";
  --error: "#870000";
  --error-background: "#1c1c1c";
  --error-border: "#ffffff00";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#080808";
  --ghost_element-selected: "#ffffff0A";
  --hidden: "#8a8a8a";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#9e9e9e";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#8a8a8a";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#1c1c1c";
  --info-background: "#1c1c1c";
  --info-border: null;
  --link_text-hover: null;
  --modified: "#1c1c1cr";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#1c1c1c";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#79797966";
  --scrollbar-thumb-hover_background: "#646464b3";
  --scrollbar-track-background: "#1c1c1c";
  --scrollbar-track-border: "#7f7f7f4d";
  --scrollbar_thumb-background: "#666666";
  --search-match_background: "#080808";
  --status_bar-background: "#1c1c1c";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#1c1c1c";
  --tab-active_background: "#1c1c1c";
  --tab-inactive_background: "#262626";
  --tab_bar-background: "#262626";
  --terminal-ansi-black: "#1c1c1c";
  --terminal-ansi-blue: "#7f7f7f4d";
  --terminal-ansi-bright_black: "#bcbcbc";
  --terminal-ansi-bright_blue: "#7f7f7f4d";
  --terminal-ansi-bright_cyan: "#7f7f7f4d";
  --terminal-ansi-bright_green: "#666666";
  --terminal-ansi-bright_magenta: "#7f7f7f4d";
  --terminal-ansi-bright_red: "#7f7f7f4d";
  --terminal-ansi-bright_white: "#bcbcbc";
  --terminal-ansi-bright_yellow: "#7f7f7f4d";
  --terminal-ansi-cyan: "#7f7f7f4d";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#7f7f7f4d";
  --terminal-ansi-magenta: "#7f7f7f4d";
  --terminal-ansi-red: "#7f7f7f4d";
  --terminal-ansi-white: "#fff";
  --terminal-ansi-yellow: "#666666";
  --terminal-background: "#1c1c1c";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#bcbcbc";
  --text: "#e4e4e4";
  --text-accent: "#e4e4e4";
  --text-disabled: "#f6c1774c";
  --text-muted: "#808080";
  --text-placeholder: null;
  --title_bar-background: "#1c1c1c";
  --toolbar-background: "#1c1c1c";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#875f00";
  --warning-background: "#1c1c1c";
  --warning-border: "#ffffff00";
  --player-1-cursor: "#8a8a8a";
  --player-1-selection: "#8a8a8a4c";
  --syntax-attribute-color: "#FFF";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-color: "#7f848e";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#7f848e";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: 800;
  --syntax-constant-color: "#666666";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: 800;
  --syntax-constructor-color: "#666666";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#FFF";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#8a8a8a";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#8a8a8a";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#8a8a8a";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#666666";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#FFF";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#FFF";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#767676";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#666666";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#d4d4d4";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#d4d4d4";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#d4d4d4";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#d4d4d4";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d4d4d4";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#d4d4d4";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#9e9e9e";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#00d894";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#00d894";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#666666";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#56b6c2";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8a8a8a";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: 800;
  --syntax-text-literal-color: "#00d894";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#808080";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#666666";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: 800;
  --syntax-variable-special-color: "#666666";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
