:root {
  --background: "#fff7ed";
  --border: "#BEBEBE";
  --border-disabled: "#BEBEBE";
  --border-focused: "#BEBEBE";
  --border-selected: "#636363";
  --border-transparent: "#BEBEBE";
  --border-variant: "#BEBEBE";
  --conflict: "#6e8dd5";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#3ea57b";
  --created-background: null;
  --created-border: null;
  --deleted: "#ca7081";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#fffdfb";
  --editor-active_line-background: "#FFFDFB";
  --editor-active_line_number: "#8f8f8f";
  --editor-active_wrap_guide: "#BEBEBE";
  --editor-background: "#fff7ed";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#8f8f8f";
  --editor-gutter-background: "#fff7ed";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#bebebe";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#BEBEBE";
  --element-active: null;
  --element-background: "#F2E6D4";
  --element-disabled: null;
  --element-hover: "#fffdfb";
  --element-selected: "#303338";
  --elevated_surface-background: "#fff7ed";
  --error: "#ca7081";
  --error-background: "#fffdfb";
  --error-border: "#ca7081";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#fffdfb";
  --ghost_element-selected: "#303338";
  --hidden: "#8f8f8f";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: "#8F8F8F";
  --icon-accent: "#636363";
  --icon-disabled: null;
  --icon-muted: "#BEBEBE";
  --icon-placeholder: null;
  --ignored: "#8f8f8f";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#00A0BA";
  --info-background: "#fffdfb";
  --info-border: "#00A0BA";
  --link_text-hover: null;
  --modified: "#a38f2d";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#f2e6d4";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#f2e6d4";
  --scrollbar-thumb-border: "#f2e6d4";
  --scrollbar-thumb-hover_background: "#bebebe";
  --scrollbar-track-background: "#fff7ed";
  --scrollbar-track-border: "#7f7f7f4d";
  --search-match_background: null;
  --status_bar-background: "#f2e6d4";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#F2E6D4";
  --tab-active_background: "#fff7ed";
  --tab-inactive_background: "#f2e6d4";
  --tab_bar-background: "#f2e6d4";
  --terminal-ansi-black: "#fffdfb";
  --terminal-ansi-blue: "#7e87d6";
  --terminal-ansi-bright_black: "#bebebe";
  --terminal-ansi-bright_blue: "#7e87d6";
  --terminal-ansi-bright_cyan: "#00a0be";
  --terminal-ansi-bright_green: "#46a473";
  --terminal-ansi-bright_magenta: "#bd72a8";
  --terminal-ansi-bright_red: "#cb7459";
  --terminal-ansi-bright_white: "#24272b";
  --terminal-ansi-bright_yellow: "#a38f2d";
  --terminal-ansi-cyan: "#00a0be";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#46a473";
  --terminal-ansi-magenta: "#bd72a8";
  --terminal-ansi-red: "#cb7459";
  --terminal-ansi-white: "#3e4044";
  --terminal-ansi-yellow: "#a38f2d";
  --terminal-background: "#FFF7ED";
  --terminal-bright_foreground: "#FFFDFB";
  --terminal-dim_foreground: "#F2E6D4";
  --terminal-foreground: "#8f8f8f";
  --text: "#8f8f8f";
  --text-accent: "#636363";
  --text-disabled: "#BEBEBE";
  --text-muted: "#8f8f8f";
  --text-placeholder: null;
  --title_bar-background: "#fff7ed";
  --toolbar-background: "#fff7ed";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#6E8DD5";
  --warning-background: "#fffdfb";
  --warning-border: "#6E8DD5";
  --player-1-cursor: "#303338";
  --player-1-selection: "#BEBEBE";
  --syntax-attribute-color: "#92963a";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#a38f2d";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#BEBEBE";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#46a473";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#92963a";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ca7081";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#cb7459";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#8f8f8f";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#3E4044";
  --syntax-emphasis-strong-font_style: "italic";
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#a38f2d";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#6e8dd5";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-call-color: "#00A0BA";
  --syntax-function-call-font_style: null;
  --syntax-function-call-font_weight: null;
  --syntax-keyword-color: "#ac78bd";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#7e87d6";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#7e87d6";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#cb7459";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#92963a";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#8f8f8f";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#636363";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-property-color: "#8f8f8f";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-bracket-color: "#cb7459";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#8f8f8f";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-special-color: "#cb7459";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#3ea57b";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#cb7459";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#3ea57b";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#00a0ba";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#00a0ba";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ca7081";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#3ea57b";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#00a0ba";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 600;
  --syntax-type-color: "#c27d40";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#8f8f8f";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#CA7081";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-special-color: "#c27d40";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
