:root {
  --background: "#303338";
  --border: "#636363";
  --border_disabled: "#636363";
  --border_focused: "#00a0ba";
  --border_selected: "#636363";
  --border_transparent: "#636363";
  --border_variant: "#636363";
  --conflict: "#6e8dd5";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#3ea57b";
  --created_background: null;
  --created_border: null;
  --deleted: "#ca7081";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: "#3e4044";
  --editor_active_line_background: "#fff7ed10";
  --editor_active_line_number: "#8f8f8f";
  --editor_active_wrap_guide: "#636363";
  --editor_background: "#303338";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#8f8f8f";
  --editor_gutter_background: "#303338";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#636363";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#636363";
  --element_active: "#636363";
  --element_background: "#24272B";
  --element_disabled: null;
  --element_hover: "#3e4044";
  --element_selected: "#fff7ed";
  --elevated_surface_background: "#24272B";
  --error: "#cb7459";
  --error_background: "#24272B";
  --error_border: "#cb7459";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#3e4044";
  --ghost_element_selected: "#fff7ed";
  --hidden: "#8f8f8f";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#969696ff";
  --hint_background: null;
  --hint_border: null;
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#8f8f8f";
  --ignored_background: null;
  --ignored_border: null;
  --info: "#00A0BA";
  --info_background: "#24272B";
  --info_border: "#00A0BA";
  --link_text_hover: null;
  --modified: "#a38f2d";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --panel_background: "#24272B";
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#3e4044";
  --scrollbar_thumb_border: "#3e4044";
  --scrollbar_thumb_hover_background: "#636363";
  --scrollbar_track_background: "#303338";
  --scrollbar_track_border: "#7f7f7f4d";
  --search_match_background: null;
  --status_bar_background: "#24272b";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: "#3E4044";
  --tab_active_background: "#303338";
  --tab_inactive_background: "#24272b";
  --tab_bar_background: "#24272b";
  --terminal_ansi_black: "#24272b";
  --terminal_ansi_blue: "#7e87d6";
  --terminal_ansi_bright_black: "#636363";
  --terminal_ansi_bright_blue: "#7e87d6";
  --terminal_ansi_bright_cyan: "#00a0be";
  --terminal_ansi_bright_green: "#46a473";
  --terminal_ansi_bright_magenta: "#bd72a8";
  --terminal_ansi_bright_red: "#cb7459";
  --terminal_ansi_bright_white: "#fffdfb";
  --terminal_ansi_bright_yellow: "#a38f2d";
  --terminal_ansi_cyan: "#00a0be";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#46a473";
  --terminal_ansi_magenta: "#bd72a8";
  --terminal_ansi_red: "#cb7459";
  --terminal_ansi_white: "#fff7ed";
  --terminal_ansi_yellow: "#a38f2d";
  --terminal_background: "#303338";
  --terminal_bright_foreground: "FFF7ED";
  --terminal_dim_foreground: null;
  --terminal_foreground: "FFF7ED";
  --text: "#8f8f8f";
  --text_accent: "#BEBEBE";
  --text_disabled: null;
  --text_muted: "#8f8f8f";
  --text_placeholder: null;
  --title_bar_background: "#303338";
  --toolbar_background: "#303338";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "7#E87D6";
  --warning_background: "#24272B";
  --warning_border: "#7E87D6";
  --player_1_cursor: "#FFFDFB";
  --player_1_selection: "#636363";
  --syntax_attribute_color: "#92963a";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#a38f2d";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#636363";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#46a473";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#92963a";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#ca7081";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#ca7081";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#8f8f8f";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#BEBEBE";
  --syntax_emphasis_strong_font_style: "italic";
  --syntax_emphasis_strong_font_weight: null;
  --syntax_enum_color: "#a38f2d";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#6e8dd5";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_call_color: "#00a0ba";
  --syntax_function_call_font_style: null;
  --syntax_function_call_font_weight: null;
  --syntax_keyword_color: "#ac78bd";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#7e87d6";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#7e87d6";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#cb7459";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#92963a";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#8f8f8f";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#636363";
  --syntax_predictive_font_style: null;
  --syntax_predictive_font_weight: null;
  --syntax_property_color: "#8f8f8f";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_bracket_color: "#cb7459";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#8f8f8f";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_special_color: "#cb7459";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#3ea57b";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#cb7459";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#3ea57b";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#00a0ba";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#00a0ba";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#ca7081";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#3ea57b";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#00a0ba";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 600;
  --syntax_type_color: "#c27d40";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#8f8f8f";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_member_color: "#CA7081";
  --syntax_variable_member_font_style: null;
  --syntax_variable_member_font_weight: null;
  --syntax_variable_special_color: "#c27d40";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
