:root {
  --accents: ["#ee8679","#5ba2d0","#a78bfa","#94b8ff","#F8D2C9","#9ccfd8"];
  --background: "#151726";
  --border: "#151726";
  --border-disabled: "#151726";
  --border-focused: "#6B6D7C66";
  --border-selected: "#151726";
  --border-transparent: null;
  --border-variant: "#6B6D7C66";
  --conflict: "#ee8679";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#94b8ff";
  --created-background: null;
  --created-border: null;
  --deleted: "#8D8F9E";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#1C1E2D";
  --editor-active_line-background: "#6B6D7C1a";
  --editor-active_line_number: "#DEE0EF";
  --editor-active_wrap_guide: "#0000";
  --editor-background: "#151726";
  --editor-document_highlight-read_background: "#6B6D7C1a";
  --editor-document_highlight-write_background: "#6B6D7C1a";
  --editor-foreground: "#DEE0EF";
  --editor-gutter-background: "#151726";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#8D8F9E";
  --editor-subheader-background: "#1C1E2D";
  --editor-wrap_guide: "#0000";
  --element-active: null;
  --element-background: "#6B6D7C33";
  --element-disabled: null;
  --element-hover: "#6B6D7C1a";
  --element-selected: "#6B6D7C33";
  --elevated_surface-background: "#1C1E2D";
  --error: "#ee8679";
  --error-background: "#1C1E2D";
  --error-border: "#6B6D7C66";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#6B6D7C1a";
  --ghost_element-selected: "#6B6D7C33";
  --hidden: "#8D8F9E";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#9ccfd8e6";
  --hint-background: "#1C1E2D";
  --hint-border: "#6B6D7C66";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6B6D7C";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#94b8ff";
  --info-background: "#1C1E2D";
  --info-border: "#6B6D7C66";
  --link_text-hover: "#9ccfd8e6";
  --modified: "#F8D2C9";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#0000";
  --panel-background: "#0000";
  --panel-focused_border: null;
  --predictive: "#8D8F9E";
  --predictive-background: "#1C1E2D";
  --predictive-border: "#0000";
  --renamed: "#5ba2d0";
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#6B6D7C1a";
  --scrollbar-thumb-border: "#6B6D7C1a";
  --scrollbar-thumb-hover_background: "#6B6D7C33";
  --scrollbar-track-background: "#151726";
  --scrollbar-track-border: "#6B6D7C66";
  --search-match_background: "#6B6D7C1a";
  --status_bar-background: "#151726";
  --success: "#9ccfd8";
  --success-background: null;
  --success-border: null;
  --surface-background: "#1C1E2D";
  --tab-active_background: "#6B6D7C1a";
  --tab-inactive_background: "#0000";
  --tab_bar-background: "#0000";
  --terminal-ansi-black: "#232534";
  --terminal-ansi-blue: "#94b8ff";
  --terminal-ansi-bright_black: "#8D8F9E";
  --terminal-ansi-bright_blue: "#94b8ff";
  --terminal-ansi-bright_cyan: "#F8D2C9";
  --terminal-ansi-bright_green: "#5ba2d0";
  --terminal-ansi-bright_magenta: "#9ccfd8";
  --terminal-ansi-bright_red: "#ee8679";
  --terminal-ansi-bright_white: "#DEE0EF";
  --terminal-ansi-bright_yellow: "#a78bfa";
  --terminal-ansi-cyan: "#F8D2C9";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#5ba2d0";
  --terminal-ansi-magenta: "#9ccfd8";
  --terminal-ansi-red: "#ee8679";
  --terminal-ansi-white: "#DEE0EF";
  --terminal-ansi-yellow: "#a78bfa";
  --terminal-background: "#1C1E2D";
  --terminal-bright_foreground: "#cdd6f4";
  --terminal-dim_foreground: "#7f849c";
  --terminal-foreground: "#cdd6f4";
  --text: "#DEE0EF";
  --text-accent: "#a78bfa";
  --text-disabled: null;
  --text-muted: "#8D8F9E";
  --text-placeholder: "#8D8F9E";
  --title_bar-background: "#151726";
  --toolbar-background: "#151726";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#a78bfa";
  --warning-background: "#1C1E2D";
  --warning-border: "#6B6D7C66";
  --player-1-background: "#f5e0dc";
  --player-1-cursor: "#D1918F";
  --player-1-selection: "#6B6D7C1a";
  --player-2-background: "#ccc2f5";
  --player-2-cursor: "#ccc2f5";
  --player-2-selection: "#ccc2f566";
  --player-3-background: "#bddbd2";
  --player-3-cursor: "#bddbd2";
  --player-3-selection: "#bddbd266";
  --player-4-background: "#dcb8d5";
  --player-4-cursor: "#dcb8d5";
  --player-4-selection: "#dcb8d566";
  --player-5-background: "#b6dae7";
  --player-5-cursor: "#b6dae7";
  --player-5-selection: "#b6dae766";
  --player-6-background: "#dfc8c8";
  --player-6-cursor: "#dfc8c8";
  --player-6-selection: "#dfc8c866";
  --player-7-background: "#dfdad8";
  --player-7-cursor: "#dfdad8";
  --player-7-selection: "#dfdad866";
  --player-8-background: "#b2c8f6";
  --player-8-cursor: "#b2c8f6";
  --player-8-selection: "#b2c8f666";
  --syntax-attribute-color: "#9ccfd8";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#F8D2C9";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6B6D7C";
  --syntax-comment-font_style: "normal";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6B6D7C";
  --syntax-comment-doc-font_style: "normal";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#5ba2d0";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#94b8ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#DEE0EF";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-enum-color: "#5ba2d0";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#F8D2C9";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#9ccfd8e6";
  --syntax-hint-font_style: "normal";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#5ba2d0";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#F8D2C9";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#9ccfd8";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#9ccfd8";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#F8D2C9";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#5ba2d0";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-background_color: "#1C1E2D";
  --syntax-predictive-color: "#8D8F9E";
  --syntax-predictive-font_style: "normal";
  --syntax-predictive-font_weight: null;
  --syntax-property-color: "#DEE0EF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#8D8F9E";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#8D8F9E";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#94b8ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#8D8F9E";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#8D8F9E";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#a78bfa";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#a78bfa";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#a78bfa";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#a78bfa";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#a78bfa";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#94b8ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a78bfa";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#F8D2C9";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#94b8ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#94b8ff";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-variable-color: "#DEE0EF";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#DEE0EF";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#9ccfd8";
  --syntax-variable-parameter-font_style: "normal";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#F8D2C9";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
