:root {
  --accents: ["#D1918F","#709BBD","#A392DC","#A0B6E8","#D6B4B4","#AAC9D4"];
  --background: "#202231";
  --border: "#202231";
  --border_disabled: "#202231";
  --border_focused: "#6B6D7C4d";
  --border_selected: "#202231";
  --border_transparent: null;
  --border_variant: "#6B6D7C4d";
  --conflict: "#D1918F";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#A0B6E8";
  --created_background: null;
  --created_border: null;
  --deleted: "#6B6D7C";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: "#272938";
  --editor_active_line_background: "#6B6D7C14";
  --editor_active_line_number: "#DEE0EF";
  --editor_active_wrap_guide: "#0000";
  --editor_background: "#202231";
  --editor_document_highlight_read_background: "#6B6D7C14";
  --editor_document_highlight_write_background: "#6B6D7C14";
  --editor_foreground: "#DEE0EF";
  --editor_gutter_background: "#202231";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#6B6D7C";
  --editor_subheader_background: "#202231";
  --editor_wrap_guide: "#0000";
  --element_active: null;
  --element_background: "#6B6D7C14";
  --element_disabled: null;
  --element_hover: "#6B6D7C26";
  --element_selected: "#6B6D7C26";
  --elevated_surface_background: "#272938";
  --error: "#D1918F";
  --error_background: "#272938";
  --error_border: "#6B6D7C4d";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#6B6D7C18";
  --ghost_element_selected: "#6B6D7C26";
  --hidden: "#6B6D7C";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#AAC9D4e6";
  --hint_background: "#272938";
  --hint_border: "#6B6D7C4d";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#8D8F9E";
  --ignored_background: null;
  --ignored_border: null;
  --info: "#A0B6E8";
  --info_background: "#272938";
  --info_border: "#6B6D7C4d";
  --link_text_hover: "#AAC9D4e6";
  --modified: "#D6B4B4";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --pane_group_border: "#0000";
  --panel_background: "#0000";
  --panel_focused_border: null;
  --predictive: "#6B6D7C";
  --predictive_background: "#272938";
  --predictive_border: "#0000";
  --renamed: "#709BBD";
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_background: "#6B6D7C18";
  --scrollbar_thumb_border: "#6B6D7C14";
  --scrollbar_thumb_hover_background: "#6B6D7C26";
  --scrollbar_track_background: "#202231";
  --scrollbar_track_border: "#6B6D7C4d";
  --search_match_background: "#6B6D7C14";
  --status_bar_background: "#202231";
  --success: "#AAC9D4";
  --success_background: null;
  --success_border: null;
  --surface_background: "#272938";
  --tab_active_background: "#6B6D7C14";
  --tab_inactive_background: "#0000";
  --tab_bar_background: "#0000";
  --terminal_ansi_black: "#363847";
  --terminal_ansi_blue: "#A0B6E8";
  --terminal_ansi_bright_black: "#6B6D7C";
  --terminal_ansi_bright_blue: "#A0B6E8";
  --terminal_ansi_bright_cyan: "#D6B4B4";
  --terminal_ansi_bright_green: "#709BBD";
  --terminal_ansi_bright_magenta: "#AAC9D4";
  --terminal_ansi_bright_red: "#D1918F";
  --terminal_ansi_bright_white: "#DEE0EF";
  --terminal_ansi_bright_yellow: "#A392DC";
  --terminal_ansi_cyan: "#D6B4B4";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#709BBD";
  --terminal_ansi_magenta: "#AAC9D4";
  --terminal_ansi_red: "#D1918F";
  --terminal_ansi_white: "#DEE0EF";
  --terminal_ansi_yellow: "#A392DC";
  --terminal_background: "#272938";
  --terminal_bright_foreground: "#cdd6f4";
  --terminal_dim_foreground: "#7f849c";
  --terminal_foreground: "#cdd6f4";
  --text: "#DEE0EF";
  --text_accent: "#A392DC";
  --text_disabled: null;
  --text_muted: "#6B6D7C";
  --text_placeholder: "#6B6D7C";
  --title_bar_background: "#202231";
  --toolbar_background: "#202231";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#A392DC";
  --warning_background: "#272938";
  --warning_border: "#6B6D7C4d";
  --player_1_background: "#f5e0dc";
  --player_1_cursor: "#D1918F";
  --player_1_selection: "#6B6D7C26";
  --player_2_background: "#ccc2f5";
  --player_2_cursor: "#ccc2f5";
  --player_2_selection: "#ccc2f566";
  --player_3_background: "#bddbd2";
  --player_3_cursor: "#bddbd2";
  --player_3_selection: "#bddbd266";
  --player_4_background: "#dcb8d5";
  --player_4_cursor: "#dcb8d5";
  --player_4_selection: "#dcb8d566";
  --player_5_background: "#b6dae7";
  --player_5_cursor: "#b6dae7";
  --player_5_selection: "#b6dae766";
  --player_6_background: "#dfc8c8";
  --player_6_cursor: "#dfc8c8";
  --player_6_selection: "#dfc8c866";
  --player_7_background: "#dfdad8";
  --player_7_cursor: "#dfdad8";
  --player_7_selection: "#dfdad866";
  --player_8_background: "#b2c8f6";
  --player_8_cursor: "#b2c8f6";
  --player_8_selection: "#b2c8f666";
  --syntax_attribute_color: "#AAC9D4";
  --syntax_attribute_font_style: "normal";
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#D6B4B4";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#8D8F9E";
  --syntax_comment_font_style: "normal";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#8D8F9E";
  --syntax_comment_doc_font_style: "normal";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#709BBD";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#A0B6E8";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#DEE0EF";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_enum_color: "#709BBD";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: 700;
  --syntax_function_color: "#D6B4B4";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#AAC9D4e6";
  --syntax_hint_font_style: "normal";
  --syntax_hint_font_weight: null;
  --syntax_keyword_color: "#709BBD";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#D6B4B4";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#AAC9D4";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#AAC9D4";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#D6B4B4";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#709BBD";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_background_color: "#272938";
  --syntax_predictive_color: "#6B6D7C";
  --syntax_predictive_font_style: "normal";
  --syntax_predictive_font_weight: null;
  --syntax_property_color: "#DEE0EF";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#6B6D7C";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#6B6D7C";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#A0B6E8";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#6B6D7C";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#6B6D7C";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#A392DC";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#A392DC";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#A392DC";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#A392DC";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#A392DC";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#A0B6E8";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#A392DC";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#D6B4B4";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#A0B6E8";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_type_interface_color: "#A0B6E8";
  --syntax_type_interface_font_style: null;
  --syntax_type_interface_font_weight: null;
  --syntax_variable_color: "#DEE0EF";
  --syntax_variable_font_style: "normal";
  --syntax_variable_font_weight: null;
  --syntax_variable_member_color: "#DEE0EF";
  --syntax_variable_member_font_style: null;
  --syntax_variable_member_font_weight: null;
  --syntax_variable_parameter_color: "#AAC9D4";
  --syntax_variable_parameter_font_style: "normal";
  --syntax_variable_parameter_font_weight: null;
  --syntax_variable_special_color: "#D6B4B4";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
