:root {
  --accents: [];
  --background: "#292b36ff";
  --background-appearance: "opaque";
  --border: "#545661ff";
  --border-disabled: "#41424dff";
  --border-focused: "#41424dff";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#484a55ff";
  --conflict: "#ffda30ff";
  --conflict-background: "#454136ff";
  --conflict-border: "#5e5535ff";
  --created: "#32da6cff";
  --created-background: "#2b423cff";
  --created-border: "#2c5642ff";
  --deleted: null;
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#353748ff";
  --editor-active_line_number: "#e7e8ebff";
  --editor-active_wrap_guide: "#e7e8eb1a";
  --editor-background: "#292b36ff";
  --editor-document_highlight-read_background: "#e7e8eb13";
  --editor-document_highlight-write_background: "#e7e8eb26";
  --editor-foreground: "#e7e8ebff";
  --editor-gutter-background: "#292b36ff";
  --editor-highlighted_line-background: "#e7e8eb13";
  --editor-indent_guide: "#e7e8eb1a";
  --editor-indent_guide_active: "#e7e8eb33";
  --editor-invisible: "#5f5f5fff";
  --editor-line_number: "#e7e8eb6b";
  --editor-subheader-background: "#393b46ff";
  --editor-wrap_guide: "#e7e8eb1a";
  --element-active: "#4c4d58ff";
  --element-background: "#393b46ff";
  --element-disabled: "#41424dff";
  --element-hover: "#444651ff";
  --element-selected: "#444651ff";
  --elevated_surface-background: "#393b46ff";
  --error: "#ff5e4aff";
  --error-background: "#463038ff";
  --error-border: "#5f363aff";
  --ghost_element-active: "#484a55ff";
  --ghost_element-background: null;
  --ghost_element-disabled: "#4f515cff";
  --ghost_element-hover: "#444651ff";
  --ghost_element-selected: "#4f515cff";
  --hidden: null;
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#9495a8ff";
  --hint-background: "#263850ff";
  --hint-border: "#234567ff";
  --icon: "#e7e8ebff";
  --icon-accent: "#009affff";
  --icon-disabled: "#e7e8eb4d";
  --icon-muted: "#e7e8eb99";
  --icon-placeholder: "#e7e8eb99";
  --ignored: "#e7e8eb66";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#009affff";
  --info-background: "#263850ff";
  --info-border: "#234567ff";
  --link_text-hover: null;
  --modified: "#ffdb1cff";
  --modified-background: "#454136ff";
  --modified-border: "#5e5535ff";
  --pane-focused_border: null;
  --pane_group-border: null;
  --panel-background: "#393b46ff";
  --panel-focused_border: null;
  --predictive: "#62636bff";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#e7e8eb1a";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#e7e8eb1a";
  --search-match_background: "#e7e8eb26";
  --status_bar-background: "#484a55ff";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#393b46ff";
  --tab-active_background: "#292b36ff";
  --tab-inactive_background: "#393b46ff";
  --tab_bar-background: "#393b46ff";
  --terminal-ansi-black: "#292b36ff";
  --terminal-ansi-blue: "#4eaeffff";
  --terminal-ansi-bright_black: "#92939aff";
  --terminal-ansi-bright_blue: "#2c94e6ff";
  --terminal-ansi-bright_cyan: "#59bddeff";
  --terminal-ansi-bright_green: "#00c04aff";
  --terminal-ansi-bright_magenta: "#c688e3ff";
  --terminal-ansi-bright_red: "#e96658ff";
  --terminal-ansi-bright_white: "#c1c2c6ff";
  --terminal-ansi-bright_yellow: "#ddb900ff";
  --terminal-ansi-cyan: "#80deffff";
  --terminal-ansi-dim_black: "#6c6e75ff";
  --terminal-ansi-dim_blue: "#0068b4ff";
  --terminal-ansi-dim_cyan: "#1f85a4ff";
  --terminal-ansi-dim_green: "#008c16ff";
  --terminal-ansi-dim_magenta: "#9258adff";
  --terminal-ansi-dim_red: "#b83d2eff";
  --terminal-ansi-dim_white: "#838488ff";
  --terminal-ansi-dim_yellow: "#a17f00ff";
  --terminal-ansi-green: "#31de6eff";
  --terminal-ansi-magenta: "#e3a6ffff";
  --terminal-ansi-red: "#ff8074ff";
  --terminal-ansi-white: "#e7e8ebff";
  --terminal-ansi-yellow: "#ffdc01ff";
  --terminal-background: "#292b36ff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#e7e8ebff";
  --text: "#e7e8ebff";
  --text-accent: "#009affff";
  --text-disabled: "#e7e8eb4d";
  --text-muted: "#e7e8eb99";
  --text-placeholder: "#e7e8eb66";
  --title_bar-background: "#484a55ff";
  --title_bar-inactive_background: null;
  --toolbar-background: "#292b36ff";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#ffdc01ff";
  --warning-background: "#454132ff";
  --warning-border: "#5e552eff";
  --player-1-background: "#292b36ff";
  --player-1-cursor: "#ffffffff";
  --player-1-selection: "#445161ff";
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#67878fff";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: 500;
  --syntax-boolean-background_color: null;
  --syntax-boolean-color: "#e12da0ff";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: 500;
  --syntax-charset-background_color: null;
  --syntax-charset-color: "#e7e8ebff";
  --syntax-charset-font_style: "normal";
  --syntax-charset-font_weight: 500;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#51c34fff";
  --syntax-comment-font_style: "normal";
  --syntax-comment-font_weight: 500;
  --syntax-constant-background_color: null;
  --syntax-constant-color: "#18b5b1ff";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: 500;
  --syntax-constant-builtin-background_color: null;
  --syntax-constant-builtin-color: "#e7e8ebff";
  --syntax-constant-builtin-font_style: "normal";
  --syntax-constant-builtin-font_weight: 500;
  --syntax-constant-character-background_color: null;
  --syntax-constant-character-color: "#e7e8ebff";
  --syntax-constant-character-font_style: "normal";
  --syntax-constant-character-font_weight: 500;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#e7e8ebff";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: 500;
  --syntax-embedded-background_color: null;
  --syntax-embedded-color: "#e7e8ebff";
  --syntax-embedded-font_style: "normal";
  --syntax-embedded-font_weight: 500;
  --syntax-emphasis-background_color: null;
  --syntax-emphasis-color: "#fc7c6fff";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: 500;
  --syntax-emphasis-strong-background_color: null;
  --syntax-emphasis-strong-color: "#fc7c6fff";
  --syntax-emphasis-strong-font_style: "normal";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-escape-background_color: null;
  --syntax-escape-color: "#e7e8ebff";
  --syntax-escape-font_style: "normal";
  --syntax-escape-font_weight: 500;
  --syntax-function-background_color: null;
  --syntax-function-color: "#18b5b1ff";
  --syntax-function-font_style: "normal";
  --syntax-function-font_weight: 500;
  --syntax-function-builtin-background_color: null;
  --syntax-function-builtin-color: "#e7e8ebff";
  --syntax-function-builtin-font_style: "normal";
  --syntax-function-builtin-font_weight: 500;
  --syntax-function-definition-background_color: null;
  --syntax-function-definition-color: "#4eb0ccff";
  --syntax-function-definition-font_style: "normal";
  --syntax-function-definition-font_weight: 500;
  --syntax-function-method-background_color: null;
  --syntax-function-method-color: "#29a09fff";
  --syntax-function-method-font_style: "normal";
  --syntax-function-method-font_weight: 500;
  --syntax-function-method-builtin-background_color: null;
  --syntax-function-method-builtin-color: "#e7e8ebff";
  --syntax-function-method-builtin-font_style: "normal";
  --syntax-function-method-builtin-font_weight: 500;
  --syntax-function-special-background_color: null;
  --syntax-function-special-color: "#29a09fff";
  --syntax-function-special-font_style: "normal";
  --syntax-function-special-font_weight: 500;
  --syntax-function-special-definition-background_color: null;
  --syntax-function-special-definition-color: "#e7e8ebff";
  --syntax-function-special-definition-font_style: "normal";
  --syntax-function-special-definition-font_weight: 500;
  --syntax-import-background_color: null;
  --syntax-import-color: "#e7e8ebff";
  --syntax-import-font_style: "normal";
  --syntax-import-font_weight: 500;
  --syntax-keyframes-background_color: null;
  --syntax-keyframes-color: "#e7e8ebff";
  --syntax-keyframes-font_style: "normal";
  --syntax-keyframes-font_weight: 500;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#e12da0ff";
  --syntax-keyword-font_style: "normal";
  --syntax-keyword-font_weight: 500;
  --syntax-label-background_color: null;
  --syntax-label-color: "#e7e8ebff";
  --syntax-label-font_style: "normal";
  --syntax-label-font_weight: 500;
  --syntax-lifetime-background_color: null;
  --syntax-lifetime-color: "#e7e8ebff";
  --syntax-lifetime-font_style: "normal";
  --syntax-lifetime-font_weight: 500;
  --syntax-link_text-background_color: null;
  --syntax-link_text-color: "#e7e8ebff";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: 500;
  --syntax-link_uri-background_color: null;
  --syntax-link_uri-color: "#60b4fdff";
  --syntax-link_uri-font_style: "normal";
  --syntax-link_uri-font_weight: 500;
  --syntax-media-background_color: null;
  --syntax-media-color: "#e7e8ebff";
  --syntax-media-font_style: "normal";
  --syntax-media-font_weight: 500;
  --syntax-namespace-background_color: null;
  --syntax-namespace-color: "#e7e8ebff";
  --syntax-namespace-font_style: "normal";
  --syntax-namespace-font_weight: 500;
  --syntax-number-background_color: null;
  --syntax-number-color: "#00aaa3ff";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: 500;
  --syntax-operator-background_color: null;
  --syntax-operator-color: "#e7e8ebff";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: 500;
  --syntax-property-background_color: null;
  --syntax-property-color: "#e7e8ebff";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: 500;
  --syntax-property-json_key-background_color: null;
  --syntax-property-json_key-color: "#e7e8ebff";
  --syntax-property-json_key-font_style: "normal";
  --syntax-property-json_key-font_weight: 500;
  --syntax-punctuation-bracket-background_color: null;
  --syntax-punctuation-bracket-color: "#e7e8ebff";
  --syntax-punctuation-bracket-font_style: "normal";
  --syntax-punctuation-bracket-font_weight: 500;
  --syntax-punctuation-delimiter-background_color: null;
  --syntax-punctuation-delimiter-color: "#e7e8ebff";
  --syntax-punctuation-delimiter-font_style: "normal";
  --syntax-punctuation-delimiter-font_weight: 500;
  --syntax-punctuation-list_marker-background_color: null;
  --syntax-punctuation-list_marker-color: "#e7e8ebff";
  --syntax-punctuation-list_marker-font_style: "normal";
  --syntax-punctuation-list_marker-font_weight: 500;
  --syntax-punctuation-special-background_color: null;
  --syntax-punctuation-special-color: "#e7e8ebff";
  --syntax-punctuation-special-font_style: "normal";
  --syntax-punctuation-special-font_weight: 500;
  --syntax-string-background_color: null;
  --syntax-string-color: "#de3a3cff";
  --syntax-string-font_style: "normal";
  --syntax-string-font_weight: 500;
  --syntax-string-doc-background_color: null;
  --syntax-string-doc-color: "#e7e8ebff";
  --syntax-string-doc-font_style: "normal";
  --syntax-string-doc-font_weight: 500;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#e7e8ebff";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: 500;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#e7e8ebff";
  --syntax-string-regex-font_style: "normal";
  --syntax-string-regex-font_weight: 500;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#e7e8ebff";
  --syntax-string-special-font_style: "normal";
  --syntax-string-special-font_weight: 500;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#e7e8ebff";
  --syntax-string-special-symbol-font_style: "normal";
  --syntax-string-special-symbol-font_weight: 500;
  --syntax-supports-background_color: null;
  --syntax-supports-color: "#e7e8ebff";
  --syntax-supports-font_style: "normal";
  --syntax-supports-font_weight: 500;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#e12da0ff";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: 500;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#60b4fdff";
  --syntax-text-literal-font_style: "normal";
  --syntax-text-literal-font_weight: 500;
  --syntax-title-background_color: null;
  --syntax-title-color: "#e7e8ebff";
  --syntax-title-font_style: "normal";
  --syntax-title-font_weight: 500;
  --syntax-type-background_color: null;
  --syntax-type-color: "#29a09fff";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: 500;
  --syntax-type-builtin-background_color: null;
  --syntax-type-builtin-color: "#29a09fff";
  --syntax-type-builtin-font_style: "normal";
  --syntax-type-builtin-font_weight: 500;
  --syntax-type-interface-background_color: null;
  --syntax-type-interface-color: "#e7e8ebff";
  --syntax-type-interface-font_style: "normal";
  --syntax-type-interface-font_weight: 500;
  --syntax-type-super-background_color: null;
  --syntax-type-super-color: "#e7e8ebff";
  --syntax-type-super-font_style: "normal";
  --syntax-type-super-font_weight: 500;
  --syntax-variable-background_color: null;
  --syntax-variable-color: "#e7e8ebff";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: 500;
  --syntax-variable-member-background_color: null;
  --syntax-variable-member-color: "#e7e8ebff";
  --syntax-variable-member-font_style: "normal";
  --syntax-variable-member-font_weight: 500;
  --syntax-variable-parameter-background_color: null;
  --syntax-variable-parameter-color: "#e7e8ebff";
  --syntax-variable-parameter-font_style: "normal";
  --syntax-variable-parameter-font_weight: 500;
  --syntax-variable-special-background_color: null;
  --syntax-variable-special-color: "#e12da0ff";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: 500;
}
