:root {
  --background: "#000000";
  --border: "#0f0f11";
  --border_disabled: "#353740";
  --border_focused: "#10a37f";
  --border_selected: "#00a67d";
  --border_transparent: "#353740";
  --border_variant: "#2d2f35";
  --conflict: "#f4ac36";
  --conflict_background: "#353740";
  --conflict_border: "#f4ac36bf";
  --created: "#f7f7f8";
  --created_background: "#353740";
  --created_border: "#f7f7f8bf";
  --deleted: "#ef4146";
  --deleted_background: "#353740";
  --deleted_border: "#ef4146bf";
  --drop_target_background: "#000000bf";
  --editor_active_line_background: "#1a1a1cbf";
  --editor_active_line_number: "#ffffffbf";
  --editor_active_wrap_guide: "#202123";
  --editor_background: "#0000000c";
  --editor_document_highlight_read_background: "#202123";
  --editor_document_highlight_write_background: "#000000bf";
  --editor_foreground: "#d9d9e3";
  --editor_gutter_background: "#0000000c";
  --editor_highlighted_line_background: "#00a67d";
  --editor_invisible: "#000000";
  --editor_line_number: "#6e6e80";
  --editor_subheader_background: "#00a67d";
  --editor_wrap_guide: "#00a67d";
  --element_active: "#00a67d00";
  --element_background: "#5f5f75";
  --element_disabled: "#5f5f75";
  --element_hover: "#202123bf";
  --element_selected: "#00a67d";
  --elevated_surface_background: "#2b2c32";
  --error: "#ef4146";
  --error_background: "#ef4146bf";
  --error_border: "#ef4146";
  --ghost_element_active: "#5f5f75";
  --ghost_element_background: "#3537400c";
  --ghost_element_disabled: "#5f5f75";
  --ghost_element_hover: "#5f5f75";
  --ghost_element_selected: "#353740";
  --hidden: "#353740";
  --hidden_background: "#353740";
  --hidden_border: "#353740";
  --hint: "#ffe8c4bf";
  --hint_background: "#e9950cbf";
  --hint_border: "#e9950c";
  --icon: "#d9d9e3";
  --icon_accent: "#00a67d";
  --icon_disabled: "#353740";
  --icon_muted: "#353740";
  --icon_placeholder: "#353740";
  --ignored: "#353740";
  --ignored_background: "#353740";
  --ignored_border: "#353740";
  --info: "#945e0c";
  --info_background: "#ffe8c4";
  --info_border: "#353740";
  --link_text_hover: "#00a67d";
  --modified: "#00a67d";
  --modified_background: "#00a67d";
  --modified_border: "#353740";
  --pane_focused_border: "#10a37f";
  --panel_background: "#1a1a1c";
  --panel_focused_border: "#10a37f";
  --predictive: "#00a67d";
  --predictive_background: "#00a67d";
  --predictive_border: "#353740";
  --renamed: "#00a67d";
  --renamed_background: "#00a67d";
  --renamed_border: "#353740";
  --scrollbar_thumb_border: "#464646";
  --scrollbar_thumb_hover_background: "#8f8f8f";
  --scrollbar_track_background: "#1e1e1e";
  --scrollbar_track_border: "#464646";
  --scrollbar_thumb_background: "#808080";
  --search_match_background: "#383838";
  --status_bar_background: "#000000";
  --success: "#10a37f";
  --success_background: "#10a37fbf";
  --success_border: "#353740";
  --surface_background: "#00a67d";
  --tab_active_background: "#202123";
  --tab_inactive_background: "#2021230c";
  --tab_bar_background: "#0000000c";
  --terminal_ansi_black: "#363537";
  --terminal_ansi_blue: "#2e95d3";
  --terminal_ansi_bright_black: "#69676c";
  --terminal_ansi_bright_blue: "#2e95d3";
  --terminal_ansi_bright_cyan: "#5ad4e6";
  --terminal_ansi_bright_green: "#00a67d";
  --terminal_ansi_bright_magenta: "#df3079";
  --terminal_ansi_bright_red: "#ef4146";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#e9950c";
  --terminal_ansi_cyan: "#5ad4e6";
  --terminal_ansi_dim_black: "#69676cbf";
  --terminal_ansi_dim_blue: "#2e95d3bf";
  --terminal_ansi_dim_cyan: "#5ad4e6bf";
  --terminal_ansi_dim_green: "#00a67dbf";
  --terminal_ansi_dim_magenta: "#df3079bf";
  --terminal_ansi_dim_red: "#ef4146bf";
  --terminal_ansi_dim_white: "#ffffffbf";
  --terminal_ansi_dim_yellow: "#e9950cbf";
  --terminal_ansi_green: "#00a67d";
  --terminal_ansi_magenta: "#df3079";
  --terminal_ansi_red: "#ef4146";
  --terminal_ansi_white: "#ffffff";
  --terminal_ansi_yellow: "#e9950c";
  --terminal_background: "#222222";
  --terminal_bright_foreground: "#ffffff";
  --terminal_dim_foreground: "#8e8ea0";
  --terminal_foreground: "#f7f7f8";
  --text: "#f7f7f8";
  --text_accent: "#10a37f";
  --text_disabled: "#8e8ea0";
  --text_muted: "#c5c5d2";
  --text_placeholder: "#8e8ea0";
  --title_bar_background: "#000000";
  --toolbar_background: "#202123";
  --unreachable: "#00a67d";
  --unreachable_background: "#00a67d";
  --unreachable_border: "#353740";
  --warning: "#ef4146";
  --warning_background: "#ef4146bf";
  --warning_border: "#353740";
  --player_1_background: "#1a1a1c";
  --player_1_cursor: "#d9d9e3";
  --player_1_selection: "#00a67d40";
  --player_2_background: "#1a1a1c";
  --player_2_cursor: "#d9d9e3";
  --player_2_selection: "#00a67d40";
  --player_3_background: "#1a1a1c";
  --player_3_cursor: "#d9d9e3";
  --player_3_selection: "#00a67d40";
  --player_4_background: "#1a1a1c";
  --player_4_cursor: "#d9d9e3";
  --player_4_selection: "#00a67d40";
  --player_5_background: "#1a1a1c";
  --player_5_cursor: "#d9d9e3";
  --player_5_selection: "#00a67d40";
  --player_6_background: "#1a1a1c";
  --player_6_cursor: "#d9d9e3";
  --player_6_selection: "#00a67d40";
  --player_7_background: "#1a1a1c";
  --player_7_cursor: "#d9d9e3";
  --player_7_selection: "#00a67d40";
  --syntax_attribute_color: "#5ad4e6";
  --syntax_attribute_font_style: "italic";
  --syntax_attribute_font_weight: 400;
  --syntax_boolean_color: "#df3079";
  --syntax_boolean_font_style: "normal";
  --syntax_boolean_font_weight: 400;
  --syntax_built_in_color: "#e9950c";
  --syntax_built_in_font_style: "normal";
  --syntax_built_in_font_weight: 400;
  --syntax_builtin_color: "#e9950c";
  --syntax_builtin_font_style: "normal";
  --syntax_builtin_font_weight: 400;
  --syntax_builtin_type_color: "#e9950c";
  --syntax_builtin_type_font_style: "normal";
  --syntax_builtin_type_font_weight: 400;
  --syntax_class_color: "#e9950c";
  --syntax_class_font_style: "normal";
  --syntax_class_font_weight: 400;
  --syntax_comment_color: "#868686";
  --syntax_comment_font_style: "normal";
  --syntax_comment_font_weight: 400;
  --syntax_comment_doc_color: "#868686";
  --syntax_comment_doc_font_style: "normal";
  --syntax_comment_doc_font_weight: 400;
  --syntax_constant_color: "#2e95d3";
  --syntax_constant_font_style: "normal";
  --syntax_constant_font_weight: 400;
  --syntax_constructor_color: "#ef4146";
  --syntax_constructor_font_style: "normal";
  --syntax_constructor_font_weight: 400;
  --syntax_embedded_color: "#00a67d";
  --syntax_embedded_font_style: "normal";
  --syntax_embedded_font_weight: 400;
  --syntax_emphasis_color: "#e9950c";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: 400;
  --syntax_emphasis_strong_color: "#e9950c";
  --syntax_emphasis_strong_font_style: "italic";
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#e9950c";
  --syntax_enum_font_style: "normal";
  --syntax_enum_font_weight: 400;
  --syntax_function_color: "#f22c3d";
  --syntax_function_font_style: "normal";
  --syntax_function_font_weight: 400;
  --syntax_function_builtin_color: "#e9950c";
  --syntax_function_builtin_font_style: "normal";
  --syntax_function_builtin_font_weight: 400;
  --syntax_hint_color: "#ffffff";
  --syntax_hint_font_style: "normal";
  --syntax_hint_font_weight: 400;
  --syntax_keyword_color: "#2e95d3";
  --syntax_keyword_font_style: "normal";
  --syntax_keyword_font_weight: 400;
  --syntax_keyword_type_color: "#e9950c";
  --syntax_keyword_type_font_style: "normal";
  --syntax_keyword_type_font_weight: 400;
  --syntax_label_color: "#00a67d";
  --syntax_label_font_style: "normal";
  --syntax_label_font_weight: 400;
  --syntax_link_text_color: "#ef4146";
  --syntax_link_text_font_style: "normal";
  --syntax_link_text_font_weight: 400;
  --syntax_link_uri_color: "#00a67d";
  --syntax_link_uri_font_style: "normal";
  --syntax_link_uri_font_weight: 400;
  --syntax_literal_color: "#2e95d3";
  --syntax_literal_font_style: "normal";
  --syntax_literal_font_weight: 400;
  --syntax_number_color: "#df3079";
  --syntax_number_font_style: "normal";
  --syntax_number_font_weight: 400;
  --syntax_operator_color: "#ffffff";
  --syntax_operator_font_style: "normal";
  --syntax_operator_font_weight: 400;
  --syntax_parameter_color: "#e9950c";
  --syntax_parameter_font_style: "normal";
  --syntax_parameter_font_weight: 400;
  --syntax_preproc_color: "#df3079";
  --syntax_preproc_font_style: "normal";
  --syntax_preproc_font_weight: 400;
  --syntax_primitive_color: "#e9950c";
  --syntax_primitive_font_style: "normal";
  --syntax_primitive_font_weight: 400;
  --syntax_primitive_type_color: "#e9950c";
  --syntax_primitive_type_font_style: "normal";
  --syntax_primitive_type_font_weight: 400;
  --syntax_property_color: "#ffffff";
  --syntax_property_font_style: "normal";
  --syntax_property_font_weight: 400;
  --syntax_punctuation_color: "#00a67d";
  --syntax_punctuation_font_style: "normal";
  --syntax_punctuation_font_weight: 400;
  --syntax_punctuation_bracket_color: "#ffffff";
  --syntax_punctuation_bracket_font_style: "normal";
  --syntax_punctuation_bracket_font_weight: 400;
  --syntax_punctuation_delimiter_color: "#00a67d";
  --syntax_punctuation_delimiter_font_style: "normal";
  --syntax_punctuation_delimiter_font_weight: 400;
  --syntax_punctuation_list_marker_color: "#00a67d";
  --syntax_punctuation_list_marker_font_style: "normal";
  --syntax_punctuation_list_marker_font_weight: 400;
  --syntax_punctuation_special_color: "#00a67d";
  --syntax_punctuation_special_font_style: "normal";
  --syntax_punctuation_special_font_weight: 400;
  --syntax_string_color: "#00a67d";
  --syntax_string_font_style: "normal";
  --syntax_string_font_weight: 400;
  --syntax_string_escape_color: "#ffffff";
  --syntax_string_escape_font_style: "normal";
  --syntax_string_escape_font_weight: 400;
  --syntax_string_regex_color: "#e9950c";
  --syntax_string_regex_font_style: "normal";
  --syntax_string_regex_font_weight: 400;
  --syntax_string_special_color: "#2e95d3";
  --syntax_string_special_font_style: "normal";
  --syntax_string_special_font_weight: 400;
  --syntax_string_special_symbol_color: "#2e95d3";
  --syntax_string_special_symbol_font_style: "normal";
  --syntax_string_special_symbol_font_weight: 400;
  --syntax_tag_color: "#ef4146";
  --syntax_tag_font_style: "normal";
  --syntax_tag_font_weight: 400;
  --syntax_text_literal_color: "#e9950c";
  --syntax_text_literal_font_style: "normal";
  --syntax_text_literal_font_weight: 400;
  --syntax_title_color: "#e9950c";
  --syntax_title_font_style: "normal";
  --syntax_title_font_weight: 400;
  --syntax_type_color: "#ffffff";
  --syntax_type_font_style: "normal";
  --syntax_type_font_weight: 400;
  --syntax_type_builtin_color: "#e9950c";
  --syntax_type_builtin_font_style: "normal";
  --syntax_type_builtin_font_weight: 400;
  --syntax_type_super_color: "#ffffff";
  --syntax_type_super_font_style: "normal";
  --syntax_type_super_font_weight: 400;
  --syntax_type_builtin_color: "#e9950c";
  --syntax_type_builtin_font_style: "normal";
  --syntax_type_builtin_font_weight: 400;
  --syntax_variable_color: "#ffffff";
  --syntax_variable_font_style: "normal";
  --syntax_variable_font_weight: 400;
  --syntax_variable_parameter_color: "#e9950c";
  --syntax_variable_parameter_font_style: "normal";
  --syntax_variable_parameter_font_weight: 400;
  --syntax_variable_special_color: "#e9950c";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: 400;
  --syntax_variant_color: "#e9950c";
  --syntax_variant_font_style: "normal";
  --syntax_variant_font_weight: 400;
}
