:root {
  --background: "#000000ff";
  --border: "#141414ff";
  --border-disabled: "#414754ff";
  --border-focused: "#293b5bff";
  --border-selected: "#293b5bff";
  --border-transparent: "#03030300";
  --border-variant: "#141414ff";
  --conflict: "#dec184ff";
  --conflict-background: "#dec1841a";
  --conflict-border: "#5d4c2fff";
  --created: "#98c16eff";
  --created-background: "#a1c1811a";
  --created-border: "#38482fff";
  --deleted: "#d0484fff";
  --deleted-background: "#d072771a";
  --deleted-border: "#4c2b2cff";
  --drop_target-background: "#57575780";
  --editor-active_line-background: "#ffffff0F";
  --editor-active_line_number: "#c8ccd4ff";
  --editor-active_wrap_guide: "#c8ccd41a";
  --editor-background: "#030303ff";
  --editor-document_highlight-read_background: "#292929ff";
  --editor-foreground: "#acb2beff";
  --editor-gutter-background: "#030303ff";
  --editor-highlighted_line-background: "#ffffff1E";
  --editor-invisible: "#3b3b3bff";
  --editor-line_number: "#ffffff59";
  --editor-subheader-background: "#0c0c0cff";
  --editor-wrap_guide: "#c8ccd40d";
  --element-active: "#262626ff";
  --element-background: "#262626ff";
  --element-disabled: "#2e343eff";
  --element-hover: "#262626ff";
  --element-selected: "#262626ff";
  --elevated_surface-background: "#000000ff";
  --error: "#d07277ff";
  --error-background: "#2f0d0dff";
  --error-border: "#520d0dff";
  --ghost_element-active: "#262626ff";
  --ghost_element-background: "#03030300";
  --ghost_element-disabled: "#2e343eff";
  --ghost_element-hover: "#1a1a1aff";
  --ghost_element-selected: "#262626ff";
  --hidden: "#696B77ff";
  --hidden-background: "#696B771a";
  --hidden-border: "#414754ff";
  --hint: "#4c4c4cff";
  --hint-background: "#5a6f891a";
  --hint-border: "#293b5bff";
  --icon: "#c8ccd4ff";
  --icon-accent: "#74ade8ff";
  --icon-disabled: "#696B77ff";
  --icon-muted: "#757575ff";
  --icon-placeholder: "#575757ff";
  --ignored: "#4c4c4c";
  --ignored-background: "#696B771a";
  --ignored-border: "#464b57ff";
  --info: "#74ade8ff";
  --info-background: "#74ade81a";
  --info-border: "#293b5bff";
  --link_text-hover: "#74ade8ff";
  --modified: "#deba6dff";
  --modified-background: "#dec1841a";
  --modified-border: "#5d4c2fff";
  --pane-focused_border: null;
  --panel-background: "#000000ff";
  --panel-focused_border: null;
  --predictive: "#5a6a87ff";
  --predictive-background: "#5a6a871a";
  --predictive-border: "#38482fff";
  --renamed: "#74ade8ff";
  --renamed-background: "#74ade81a";
  --renamed-border: "#293b5bff";
  --scrollbar-thumb-background: "#4c4c4c4c";
  --scrollbar-thumb-border: "#4c4c4c4c";
  --scrollbar-thumb-hover_background: "#4c4c4c4c";
  --scrollbar-track-background: "#03030300";
  --scrollbar-track-border: "#141414ff";
  --search-match_background: "#303030FF";
  --status_bar-background: "#000000ff";
  --success: "#a1c181ff";
  --success-background: "#a1c1811a";
  --success-border: "#38482fff";
  --surface-background: "#2f343eff";
  --tab-active_background: "#030303ff";
  --tab-inactive_background: "#0c0c0cff";
  --tab_bar-background: "#0c0c0cff";
  --terminal-ansi-black: "#030303ff";
  --terminal-ansi-blue: "#74ade8ff";
  --terminal-ansi-bright_black: "#525561ff";
  --terminal-ansi-bright_blue: "#385378ff";
  --terminal-ansi-bright_cyan: "#3a565bff";
  --terminal-ansi-bright_green: "#4d6140ff";
  --terminal-ansi-bright_magenta: "#5e2b26ff";
  --terminal-ansi-bright_red: "#673a3cff";
  --terminal-ansi-bright_white: "#c8ccd4ff";
  --terminal-ansi-bright_yellow: "#786441ff";
  --terminal-ansi-cyan: "#6cabc8ff";
  --terminal-ansi-dim_black: "#c8ccd4ff";
  --terminal-ansi-dim_blue: "#bed5f4ff";
  --terminal-ansi-dim_cyan: "#b9d9dfff";
  --terminal-ansi-dim_green: "#d1e0bfff";
  --terminal-ansi-dim_magenta: "#e6a79eff";
  --terminal-ansi-dim_red: "#eab7b9ff";
  --terminal-ansi-dim_white: "#575d65ff";
  --terminal-ansi-dim_yellow: "#f1dfc1ff";
  --terminal-ansi-green: "#a1c181ff";
  --terminal-ansi-magenta: "#be5046ff";
  --terminal-ansi-red: "#d07277ff";
  --terminal-ansi-white: "#c8ccd4ff";
  --terminal-ansi-yellow: "#dec184ff";
  --terminal-background: "#030303ff";
  --terminal-bright_foreground: "#c8ccd4ff";
  --terminal-dim_foreground: "#030303ff";
  --terminal-foreground: "#c8ccd4ff";
  --text: "#737373ff";
  --text-accent: "#a7a7a7ff";
  --text-disabled: "#4c4c4c";
  --text-muted: "#757575ff";
  --text-placeholder: "#4c4c4c";
  --title_bar-background: "#000000ff";
  --title_bar-inactive_background: "#2e343eff";
  --toolbar-background: "#030303ff";
  --unreachable: "#575757ff";
  --unreachable-background: "#5757571a";
  --unreachable-border: "#464b57ff";
  --warning: "#dec184ff";
  --warning-background: "#dec1841a";
  --warning-border: "#5d4c2fff";
  --player-1-background: "#ffffff5A";
  --player-1-cursor: "#ffffff5A";
  --player-1-selection: "#ffffff14";
  --player-2-background: "#be5046ff";
  --player-2-cursor: "#be5046ff";
  --player-2-selection: "#be50463d";
  --player-3-background: "#bf956aff";
  --player-3-cursor: "#bf956aff";
  --player-3-selection: "#bf956a3d";
  --player-4-background: "#b477cfff";
  --player-4-cursor: "#b477cfff";
  --player-4-selection: "#b477cf3d";
  --player-5-background: "#6eb4bfff";
  --player-5-cursor: "#6eb4bfff";
  --player-5-selection: "#6eb4bf3d";
  --player-6-background: "#d07277ff";
  --player-6-cursor: "#d07277ff";
  --player-6-selection: "#d072773d";
  --player-7-background: "#dec184ff";
  --player-7-cursor: "#dec184ff";
  --player-7-selection: "#dec1843d";
  --player-8-background: "#a1c181ff";
  --player-8-cursor: "#a1c181ff";
  --player-8-selection: "#a1c1813d";
  --syntax-attribute-color: "#74ade8ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#bf956aff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#4C4C4CFF";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#878e98ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#dfc184ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#5e96e9ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#c8ccd4ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#74ade8ff";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#bf956aff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#d07277ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#5e96e9ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#5a6f89ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#c07fdcff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#74ade8ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#5e96e9ff";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#6cabc8ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#bf956aff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#6cabc8ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#5a6a87ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#c8ccd4ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#acb2beff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#d07277ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#acb2beff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#b2b9c6ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#b2b9c6ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d07277ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#b1574bff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#a1c181ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#878e98ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#bf956aff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#bf956aff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#bf956aff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#74ade8ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a1c181ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#d07277ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#6cabc8ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#c8ccd4ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#bf956aff";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#5e96e9ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
