:root {
  --accents: ["#FF797B","#7983FF","#FFEB79","#E679FF","#68E891","#67E5CD","#CA4F51","#4F58CA","#FFD279","#FF79C0","#4FCA82","#0f806a"];
  --background: "#1E1F22";
  --border: "#191a1c";
  --border-disabled: null;
  --border-focused: "#404249";
  --border-selected: "#404249";
  --border-transparent: null;
  --border-variant: "#404249";
  --conflict: "#FF797B";
  --conflict-background: "#CA4F51";
  --conflict-border: "#CA4F51";
  --created: "#68E891";
  --created-background: "#4FCA82";
  --created-border: "#4FCA82";
  --deleted: "#FF797B";
  --deleted-background: "#CA4F5160";
  --deleted-border: "#CA4F51";
  --drop_target-background: "#00000040";
  --editor-active_line-background: "#2e3035";
  --editor-active_line_number: "#FF797B";
  --editor-active_wrap_guide: null;
  --editor-background: "#1E1F22";
  --editor-document_highlight-read_background: "#80848E39";
  --editor-document_highlight-write_background: "#80848E39";
  --editor-foreground: "#DCDEE1";
  --editor-gutter-background: "#1E1F22";
  --editor-highlighted_line-background: "#0000fF";
  --editor-indent_guide: "#80848E30";
  --editor-indent_guide_active: "#FF797B60";
  --editor-invisible: "#FF797B25";
  --editor-line_number: "#80848E";
  --editor-subheader-background: "#1E1F22";
  --editor-wrap_guide: "#191a1c";
  --element-active: "#35373d";
  --element-background: "#FF797B";
  --element-disabled: "#0000fF";
  --element-hover: null;
  --element-selected: "#FF797B45";
  --elevated_surface-background: "#1E1F22";
  --error: "#CA4F51";
  --error-background: "#CA4F5110";
  --error-border: "#CA4F51";
  --ghost_element-active: "#3c3d45";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#0000fF";
  --ghost_element-hover: "#313338";
  --ghost_element-selected: "#404249";
  --hidden: null;
  --hidden-border: null;
  --hint: "#585fa7";
  --hint-background: "#4F58CA10";
  --hint-border: "#7983FF";
  --icon: null;
  --icon-accent: "#FF797B";
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#80848E";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#7983FF";
  --info-background: "#4F58CA10";
  --info-border: "#7983FF";
  --link_text-hover: "#FF797B";
  --modified: "#FFEB79";
  --modified-background: "#FFD279";
  --modified-border: "#FFD279";
  --pane-focused_border: "#404249";
  --panel-background: "#141517";
  --panel-focused_border: "#404249";
  --predictive: null;
  --predictive-border: null;
  --renamed: "#E679FF";
  --renamed-background: "#FF79C0";
  --renamed-border: "#FF79C0";
  --scrollbar-thumb-background: "#0E0F1180";
  --scrollbar-thumb-border: "#1E1F22";
  --scrollbar-thumb-hover_background: "#2b2d31";
  --scrollbar-track-background: "#2b2d31";
  --scrollbar-track-border: "#1E1F22";
  --scrollbar_thumb-background: "#0E0F1180";
  --search-match_background: "#FFEB7945";
  --status_bar-background: "#141517";
  --success: "#E679FF";
  --success-background: "#4FCA82";
  --success-border: "#4FCA82";
  --surface-background: "#141517";
  --tab-active_background: "#1E1F22";
  --tab-inactive_background: "#191A1C";
  --tab_bar-background: "#141517";
  --terminal-ansi-black: "#DCDEE1";
  --terminal-ansi-blue: "#7983FF";
  --terminal-ansi-bright_black: "#b5bac1";
  --terminal-ansi-bright_blue: "#4F58CA";
  --terminal-ansi-bright_cyan: "#0f806a";
  --terminal-ansi-bright_green: "#4FCA82";
  --terminal-ansi-bright_magenta: "#FF79C0";
  --terminal-ansi-bright_red: "#CA4F51";
  --terminal-ansi-bright_white: null;
  --terminal-ansi-bright_yellow: "#FFD279";
  --terminal-ansi-cyan: "#67E5CD";
  --terminal-ansi-dim_black: "#b5bac1";
  --terminal-ansi-dim_blue: "#4F58CA";
  --terminal-ansi-dim_cyan: "#0f806a";
  --terminal-ansi-dim_green: "#4FCA82";
  --terminal-ansi-dim_magenta: "#FF79C0";
  --terminal-ansi-dim_red: "#CA4F51";
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: "#FFD279";
  --terminal-ansi-green: "#68E891";
  --terminal-ansi-magenta: "#E679FF";
  --terminal-ansi-red: "#FF797B";
  --terminal-ansi-white: "#DCDEE1";
  --terminal-ansi-yellow: "#FFEB79";
  --terminal-background: "#1E1F22";
  --terminal-bright_foreground: "#DCDEE1";
  --terminal-dim_foreground: "#DCDEE1";
  --terminal-foreground: "#DCDEE1";
  --text: "#DCDEE1";
  --text-accent: "#FF797B";
  --text-disabled: "#80848E";
  --text-muted: "#b5bac1";
  --text-placeholder: "#80848E";
  --title_bar-background: "#141517";
  --title_bar-inactive_background: "#141517";
  --toolbar-background: "#1E1F22";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#FFEB79";
  --warning-background: "#FFEB7910";
  --warning-border: "#FFEB79";
  --player-1-background: "#FF797B45";
  --player-1-cursor: "#FF797B";
  --player-1-selection: "#FF797B45";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#83E36380";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: null;
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#80848E";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#80848E";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#17DBB7";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#68E891";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-constant-character-color: "#FFD279";
  --syntax-constant-character-font_style: null;
  --syntax-constant-character-font_weight: null;
  --syntax-constructor-color: "#A579FF";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: null;
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#FFD279";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 600;
  --syntax-escape-color: null;
  --syntax-escape-font_style: null;
  --syntax-escape-font_weight: null;
  --syntax-function-color: "#FF79C0";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 600;
  --syntax-function-builtin-color: "#68E891";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: 600;
  --syntax-function-definition-color: "#FF79C0";
  --syntax-function-definition-font_style: null;
  --syntax-function-definition-font_weight: 600;
  --syntax-function-method-color: "#FF79C0";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: 600;
  --syntax-function-special-color: "#FFD279";
  --syntax-function-special-font_style: null;
  --syntax-function-special-font_weight: 600;
  --syntax-function-special-definition-color: "#FFD279";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: 600;
  --syntax-hint-color: null;
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#FF797B";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: 600;
  --syntax-label-color: null;
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-lifetime-color: "#FFD279";
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-link_text-color: "#FF797B";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#FF797B";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#FFEB79";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#FFCBAB";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: null;
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#FF797B";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#E679FF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-property-json_key-color: "#E679FF";
  --syntax-property-json_key-font_style: null;
  --syntax-property-json_key-font_weight: null;
  --syntax-punctuation-color: "#DCDEE1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#A579FF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#1E1F22a0";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#FFEB79";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#83E363";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#FFD279";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#68E891";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-doc-color: "#68E891";
  --syntax-string-doc-font_style: null;
  --syntax-string-doc-font_weight: null;
  --syntax-string-escape-color: "#83E363";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#68E891";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#68E891";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#68E891";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#FFAC79";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: null;
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#FF797B";
  --syntax-title-font_style: "italic";
  --syntax-title-font_weight: 600;
  --syntax-type-color: "#FFAC79";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#67E5CD";
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-color: "#FFAC79";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#0F806A";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#DCDEE1";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#DCDEE1";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#DCDEE1";
  --syntax-variable-parameter-font_style: null;
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#FFD279";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
