:root {
  --background: "#FFFFFF";
  --border: "#E8E9EC";
  --border-disabled: "#ACB0BE";
  --border-focused: "#D8DADC";
  --border-selected: "#E4E6E8";
  --border-transparent: "#E4E6E8";
  --border-variant: "#E4E6E8";
  --created: "#40A02B";
  --created-background: "#FFFFFF";
  --created-border: "#40A02B";
  --deleted: "#D20F39";
  --deleted-background: "#FFFFFF";
  --deleted-border: "#D20F39";
  --drop_target-background: "#8839EF40";
  --editor-active_line-background: "#4C4F690A";
  --editor-active_line_number: "#4C4F69";
  --editor-active_wrap_guide: "#E8E9EC";
  --editor-background: "#FFFFFF";
  --editor-document_highlight-read_background: "#4C4F6915";
  --editor-document_highlight-write_background: "#4C4F6915";
  --editor-foreground: "#4C4F69";
  --editor-gutter-background: "#FFFFFF";
  --editor-highlighted_line-background: null;
  --editor-invisible: "#7C7F9366";
  --editor-line_number: "#8C8FA1";
  --editor-subheader-background: "#FFFFFF";
  --editor-wrap_guide: "#E8E9EC";
  --element-active: "#30334020";
  --element-background: "#FFFFFF08";
  --element-disabled: "#ACB0BE";
  --element-hover: "#30334020";
  --element-selected: "#30334020";
  --elevated_surface-background: "#FFFFFF";
  --error: "#D20F39";
  --error-background: "#FFFFFF";
  --error-border: "#D20F39";
  --ghost_element-active: "#30334015";
  --ghost_element-background: null;
  --ghost_element-disabled: "#ACB0BE";
  --ghost_element-hover: "#30334015";
  --ghost_element-selected: "#30334015";
  --hidden: "#ACB0BE";
  --hidden-background: "#FFFFFF";
  --hidden-border: "#ACB0BE";
  --hint: "#209FB5";
  --hint-background: "#FFFFFF";
  --hint-border: "#ACB0BE";
  --icon: "#4C4F69";
  --icon-accent: "#2D74E4";
  --icon-disabled: "#ACB0BE";
  --icon-muted: "#8C8FA1";
  --icon-placeholder: "#ACB0BE";
  --ignored: "#ACB0BE";
  --ignored-background: "#FFFFFF";
  --ignored-border: "#ACB0BE";
  --info: "#209FB5";
  --info-background: "#D20F3915";
  --info-border: "#209FB5";
  --link_text-hover: "#2D74E4";
  --modified: "#2D74E4";
  --modified-background: "#FFFFFF";
  --modified-border: "#2D74E4";
  --pane-focused_border: "#4C4F69";
  --panel-background: "#FFFFFF";
  --panel-focused_border: "#4C4F69";
  --predictive: "#2D74E4";
  --predictive-background: "#FFFFFF";
  --predictive-border: "#2D74E4";
  --renamed: "#2D74E4";
  --renamed-background: "#FFFFFF";
  --renamed-border: "#2D74E4";
  --scrollbar-thumb-background: "#D20F3920";
  --scrollbar-thumb-border: "#8839EF10";
  --scrollbar-thumb-hover_background: "#D20F3940";
  --scrollbar-track-background: "#FFFFFF";
  --scrollbar-track-border: "#D20F3910";
  --search-match_background: "#4C4F6920";
  --status_bar-background: "#FFFFFF";
  --success: "#40A02B";
  --success-background: "#FFFFFF";
  --success-border: "#40A02B";
  --surface-background: "#FFFFFF";
  --tab-active_background: "#FFFFFF";
  --tab-inactive_background: "#F8F9FB";
  --tab_bar-background: "#FFFFFF";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#2D74E4";
  --terminal-ansi-bright_black: "#767C9D";
  --terminal-ansi-bright_blue: "#2D74E4";
  --terminal-ansi-bright_cyan: "#209FB5";
  --terminal-ansi-bright_green: "#2AAA8A";
  --terminal-ansi-bright_magenta: "#D0679D";
  --terminal-ansi-bright_red: "#D0679D";
  --terminal-ansi-bright_white: "#4C4F69";
  --terminal-ansi-bright_yellow: "#DF8E1D";
  --terminal-ansi-cyan: "#209FB5";
  --terminal-ansi-dim_black: "#767C9D";
  --terminal-ansi-dim_blue: "#2D74E4";
  --terminal-ansi-dim_cyan: "#209FB5";
  --terminal-ansi-dim_green: "#1F9B79";
  --terminal-ansi-dim_magenta: "#D0679D";
  --terminal-ansi-dim_red: "#D0679D";
  --terminal-ansi-dim_white: "#5C5F77";
  --terminal-ansi-dim_yellow: "#DF8E1D";
  --terminal-ansi-green: "#1F9B79";
  --terminal-ansi-magenta: "#D0679D";
  --terminal-ansi-red: "#D0679D";
  --terminal-ansi-white: "#4C4F69";
  --terminal-ansi-yellow: "#DF8E1D";
  --terminal-background: "#FFFFFF";
  --terminal-bright_foreground: "#4C4F69";
  --terminal-dim_foreground: "#8C8FA1";
  --terminal-foreground: "#4C4F69";
  --text: "#4C4F69";
  --text-accent: "#2D74E4";
  --text-disabled: "#ACB0BE";
  --text-muted: "#5C5F77";
  --text-placeholder: "#ACB0BE";
  --title_bar-background: "#FFFFFF";
  --title_bar-inactive_background: "#FFFFFFD9";
  --toolbar-background: "#FFFFFF";
  --unreachable: "#D20F39";
  --unreachable-background: "#FFFFFF";
  --unreachable-border: "#D20F39";
  --warning: "#DF8E1D";
  --warning-background: "#FFFFFF";
  --warning-border: "#DF8E1D";
  --player-1-background: "#4C4F69";
  --player-1-cursor: "#4C4F69";
  --player-1-selection: "#4C4F6915";
  --player-2-background: "#2D74E4";
  --player-2-cursor: "#2D74E4";
  --player-2-selection: "#2D74E433";
  --player-3-background: "#D20F39";
  --player-3-cursor: "#D20F39";
  --player-3-selection: "#D20F3933";
  --player-4-background: "#209FB5";
  --player-4-cursor: "#209FB5";
  --player-4-selection: "#209FB533";
  --player-5-background: "#DF8E1D";
  --player-5-cursor: "#DF8E1D";
  --player-5-selection: "#DF8E1D33";
  --player-6-background: "#40A02B";
  --player-6-cursor: "#40A02B";
  --player-6-selection: "#40A02B33";
  --syntax-attribute-color: "#DF8E1D";
  --syntax-boolean-color: "#D20F39";
  --syntax-comment-color: "#8C8FA1";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#8C8FA1";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#D20F39";
  --syntax-embedded-color: "#D20F39";
  --syntax-emphasis-color: "#D20F39";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#D20F39";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#209FB5";
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#2D74E4";
  --syntax-function-font_style: "italic";
  --syntax-keyword-color: "#D20F39";
  --syntax-link_text-color: "#2D74E4";
  --syntax-link_uri-color: "#2D74E4";
  --syntax-number-color: "#D20F39";
  --syntax-operator-color: "#209FB5";
  --syntax-predoc-color: "#D20F39";
  --syntax-primary-color: "#D20F39";
  --syntax-property-color: "#2D74E4";
  --syntax-punctuation-color: "#209FB5";
  --syntax-punctuation-bracket-color: "#209FB5";
  --syntax-punctuation-delimiter-color: "#8C8FA1";
  --syntax-punctuation-list_marker-color: "#209FB5";
  --syntax-punctuation-special-color: "#209FB5";
  --syntax-punctuation-special-symbol-color: "#D20F39";
  --syntax-string-color: "#40A02B";
  --syntax-string-escape-color: "#D20F39";
  --syntax-string-regex-color: "#D20F39";
  --syntax-string-special-color: "#D20F39";
  --syntax-string-special-symbol-color: "#D20F39";
  --syntax-tag-color: "#2D74E4";
  --syntax-text-literal-color: "#40A02B";
  --syntax-title-color: "#4C4F69";
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#DF8E1D";
  --syntax-type-interface-color: "#DF8E1D";
  --syntax-type-super-color: "#DF8E1D";
  --syntax-variable-color: "#4C4F69";
  --syntax-variable-member-color: "#4C4F69";
  --syntax-variable-parameter-color: "#D20F39";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-special-color: "#D20F39";
  --syntax-variable-special-font_style: "italic";
  --syntax-variant-color: "#D20F39";
}
