:root {
  --background: "#202028FF";
  --border: "#e7f2fe09";
  --border-disabled: null;
  --border-focused: "#aaaabf77";
  --border-selected: "#aaaabfbb";
  --border-transparent: "#00000000";
  --border-variant: "#aaaabf33";
  --conflict: "#9685e7ff";
  --conflict-background: "#9685e733";
  --conflict-border: "#9685e720";
  --created: "#64d3b6ff";
  --created-background: "#64d3b633";
  --created-border: "#64d3b620";
  --deleted: "#ff2e18ff";
  --deleted-background: "#ff2e1833";
  --deleted-border: "#ff2e1820";
  --drop_target-background: "#202028FF";
  --editor-active_line-background: "#aaaabf33";
  --editor-active_line_number: "#e7f2feff";
  --editor-active_wrap_guide: "#e7f2fe35";
  --editor-background: "#191920ff";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#e7f2feff";
  --editor-gutter-background: "#191920ff";
  --editor-highlighted_line-background: "#aaaabfff";
  --editor-invisible: "#e7f2fe30";
  --editor-line_number: "#aaaabf80";
  --editor-subheader-background: "#202028ff";
  --editor-wrap_guide: "#e7f2fe15";
  --element-active: "#202028FF";
  --element-background: "#202028ff";
  --element-disabled: "#aaaabfFF";
  --element-hover: "#202028FF";
  --element-selected: "#202028FF";
  --elevated_surface-background: "#202028ff";
  --error-background: "#191920FF";
  --error-border: "#ff2e18ff";
  --ghost_element-active: "#aaaabf50";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#ff2e18ff";
  --ghost_element-hover: "#aaaabf35";
  --ghost_element-selected: "#aaaabf25";
  --hidden: "#aaaabf80";
  --hidden-background: "#191920FF";
  --hidden-border: "#aaaabf80";
  --hint: "#aaaabfff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#aaaabf50";
  --ignored-background: "#202028ff";
  --ignored-border: null;
  --info: null;
  --info-background: "#191920FF";
  --info-border: null;
  --link_text-hover: "#4fe1c5ff";
  --modified: "#6bd6fbff";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#191920ff";
  --panel-focused_border: null;
  --predictive: "#B2B2B2FF";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: "#191920FF";
  --renamed-border: null;
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#aaaabfFF";
  --scrollbar-track-background: "#191920ff";
  --scrollbar-track-border: "#aaaabf44";
  --scrollbar_thumb-background: "#aaaabf77";
  --search-match_background: "#aaaabfff";
  --status_bar-background: "#191920bb";
  --success: null;
  --success-background: "#191920FF";
  --success-border: null;
  --surface-background: "#191920FF";
  --tab-active_background: "#191920ff";
  --tab-inactive_background: "#202028ff";
  --tab_bar-background: "#191920bb";
  --terminal-ansi-black: "#21222cff";
  --terminal-ansi-blue: "#9580ffff";
  --terminal-ansi-bright_black: "#21222cff";
  --terminal-ansi-bright_blue: "#9580ffff";
  --terminal-ansi-bright_cyan: "#4fe1c5ff";
  --terminal-ansi-bright_green: "#64d3b6ff";
  --terminal-ansi-bright_magenta: "#6bd6fbff";
  --terminal-ansi-bright_red: "#ff2e18ff";
  --terminal-ansi-bright_white: "ffffffff";
  --terminal-ansi-bright_yellow: "#9685e7ff";
  --terminal-ansi-cyan: "#4fe1c5ff";
  --terminal-ansi-dim_black: "#21222cff";
  --terminal-ansi-dim_blue: "#9580ffff";
  --terminal-ansi-dim_cyan: "#4fe1c5ff";
  --terminal-ansi-dim_green: "#64d3b6ff";
  --terminal-ansi-dim_magenta: "#6bd6fbff";
  --terminal-ansi-dim_red: "#ff2e18ff";
  --terminal-ansi-dim_white: "#B2B2B2FF";
  --terminal-ansi-dim_yellow: "#9685e7ff";
  --terminal-ansi-green: "#64d3b6ff";
  --terminal-ansi-magenta: "#6bd6fbff";
  --terminal-ansi-red: "#ff2e18ff";
  --terminal-ansi-white: "#e7f2feff";
  --terminal-ansi-yellow: "#9685e7ff";
  --terminal-background: "#191920ff";
  --terminal-bright_foreground: "#e7f2feff";
  --terminal-dim_foreground: "#B2B2B2FF";
  --terminal-foreground: "#e7f2feff";
  --text: "#e7f2feff";
  --text-accent: "#4fe1c5ff";
  --text-disabled: "#aaaabf50";
  --text-muted: "#aaaabfFF";
  --text-placeholder: "#aaaabf80";
  --title_bar-background: "#191920bb";
  --toolbar-background: "#191920ff";
  --unreachable: null;
  --unreachable-border: null;
  --warning: null;
  --warning-background: "#191920FF";
  --warning-border: null;
  --player-1-background: "#3c89b3ff";
  --player-1-cursor: "#3c89b3ff";
  --player-1-selection: "#3c89b333";
  --player-2-background: "#64d3b6ff";
  --player-2-cursor: "#64d3b6ff";
  --player-2-selection: "#64d3b633";
  --player-3-background: "#6bd6fbff";
  --player-3-cursor: "#6bd6fbff";
  --player-3-selection: "#6bd6fb33";
  --player-4-background: "#9685e7ff";
  --player-4-cursor: "#9685e7ff";
  --player-4-selection: "#9685e733";
  --player-5-background: "#4fe1c5ff";
  --player-5-cursor: "#4fe1c5ff";
  --player-5-selection: "#4fe1c533";
  --player-6-background: "#a9d6e8ff";
  --player-6-cursor: "#a9d6e8ff";
  --player-6-selection: "#a9d6e833";
  --player-7-background: "#ff2e18ff";
  --player-7-cursor: "#ff2e18ff";
  --player-7-selection: "#ff2e1833";
  --syntax-attribute-color: null;
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#6bd6fbff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#aaaabfff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6bd6fbff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#6bd6fbff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#6bd6fbff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#e7f2feff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#9685e7ff";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#a9d6e8ff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#3c89b3ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#64d3b6ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#3c89b3ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#aaaabfFF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: null;
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#6bd6fbff";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#4fe1c5ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#3c89b3ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#6bd6fbff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: null;
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: null;
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#a9d6e8ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#6bd6fbff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#B2B2B2FF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#6bd6fbff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#4fe1c5ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#6bd6fbff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#9685e7ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#6bd6fbff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ff2e18ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#6bd6fbff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#3c89b3ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#3c89b3ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#64d3b6ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#aaaabfFF";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#4fe1c5ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#aaaabfff";
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-type-super-color: "#4fe1c5ff";
  --syntax-type-super-font_style: "italic";
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#e7f2feff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-parameter-color: "#a9d6e8ff";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#3c89b3ff";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
