:root {
  --background: "#00234a";
  --border: "#00234a";
  --border_disabled: "#00234a";
  --border_focused: "#2dbde044";
  --border_selected: "#2dbde044";
  --border_transparent: "#00000000";
  --border_variant: "#00234a";
  --conflict: "#2dbde0";
  --conflict_background: "#5c5014";
  --conflict_border: "#796b26";
  --created: "#72ffc6";
  --created_background: "#184618";
  --created_border: "#306129";
  --deleted: "#e180b8";
  --deleted_background: "#54051b";
  --deleted_border: "#72092a";
  --drop_target_background: "#2dbde055";
  --editor_active_line_background: "#2dbde022";
  --editor_active_line_number: "#e7f7ff";
  --editor_active_wrap_guide: "#748da5";
  --editor_background: "#00234a";
  --editor_document_highlight_read_background: "#2dbde029";
  --editor_document_highlight_write_background: "#2dbde029";
  --editor_foreground: "#e7f7ff";
  --editor_gutter_background: "#00234a";
  --editor_highlighted_line_background: "#2dbde022";
  --editor_invisible: "#456380";
  --editor_line_number: "#748da5";
  --editor_subheader_background: "#113358";
  --editor_wrap_guide: "#456380";
  --element_active: "#2e4d6e";
  --element_background: "#113358";
  --element_disabled: "#113358";
  --element_hover: "#1d3e61";
  --element_selected: "#2e4d6e";
  --elevated_surface_background: "#113358";
  --error: "#e180b8";
  --error_background: "#54051b";
  --error_border: "#72092a";
  --ghost_element_active: "#2e4d6e";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#113358";
  --ghost_element_hover: "#1d3e61";
  --ghost_element_selected: "#2e4d6e";
  --hidden: "#748da5";
  --hidden_background: "#00234a";
  --hidden_border: "#00234a";
  --hint: "#9cd3f1";
  --hint_background: "#12231f";
  --hint_border: "#183934";
  --icon: "#e7f7ff";
  --icon_accent: "#2dbde0";
  --icon_disabled: "#748da5";
  --icon_muted: "#748da5";
  --icon_placeholder: "#748da5";
  --ignored: "#748da5";
  --ignored_background: "#00234a";
  --ignored_border: "#00234a";
  --info: "#9cd3f1";
  --info_background: "#12231f";
  --info_border: "#183934";
  --link_text_hover: "#2dbde0";
  --modified: "#2dbde0";
  --modified_background: "#5c5014";
  --modified_border: "#796b26";
  --pane_focused_border: null;
  --panel_background: "#113358";
  --panel_focused_border: null;
  --predictive: "#0db39d";
  --predictive_background: "#184618";
  --predictive_border: "#306129";
  --renamed: "#9cd3f1";
  --renamed_background: "#12231f";
  --renamed_border: "#183934";
  --scrollbar_thumb_background: "#2e4d6e";
  --scrollbar_thumb_border: "#1d3e61";
  --scrollbar_thumb_hover_background: "#1d3e61";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#00234a";
  --search_match_background: "#174f63";
  --status_bar_background: "#00234a";
  --success: "#72ffc6";
  --success_background: "#184618";
  --success_border: "#306129";
  --surface_background: "#113358";
  --tab_active_background: "#1d3e61";
  --tab_inactive_background: "#113358";
  --tab_bar_background: "#113358";
  --terminal_ansi_black: "#a2b7c9";
  --terminal_ansi_blue: "#0db39d";
  --terminal_ansi_bright_black: "#a2b7c9";
  --terminal_ansi_bright_blue: "#9cd3f1";
  --terminal_ansi_bright_cyan: "#9cd3f1";
  --terminal_ansi_bright_green: "#72ffc6";
  --terminal_ansi_bright_magenta: "#72ffc6";
  --terminal_ansi_bright_red: "#e180b8";
  --terminal_ansi_bright_white: "#e7f7ff";
  --terminal_ansi_bright_yellow: "#2dbde0";
  --terminal_ansi_cyan: "#9cd3f1";
  --terminal_ansi_dim_black: "#748da5";
  --terminal_ansi_dim_blue: "#174f63";
  --terminal_ansi_dim_cyan: "#0db39d";
  --terminal_ansi_dim_green: "#174f63";
  --terminal_ansi_dim_magenta: "#875b8c";
  --terminal_ansi_dim_red: "#875b8c";
  --terminal_ansi_dim_white: "#748da5";
  --terminal_ansi_dim_yellow: "#0db39d";
  --terminal_ansi_green: "#72ffc6";
  --terminal_ansi_magenta: "#e180b8";
  --terminal_ansi_red: "#e180b8";
  --terminal_ansi_white: "#e7f7ff";
  --terminal_ansi_yellow: "#2dbde0";
  --terminal_background: "#00234a";
  --terminal_bright_foreground: "#e7f7ff";
  --terminal_dim_foreground: "#748da5";
  --terminal_foreground: "#e7f7ff";
  --text: "#e7f7ff";
  --text_accent: "#2dbde0";
  --text_disabled: "#748da5";
  --text_muted: "#748da5";
  --text_placeholder: "#748da5";
  --title_bar_background: "#00234a";
  --title_bar_inactive_background: "#113358";
  --toolbar_background: "#00234a";
  --unreachable: "#748da5";
  --unreachable_background: "#00234a";
  --unreachable_border: "#00234a";
  --warning: "#2dbde0";
  --warning_background: "#5c5014";
  --warning_border: "#796b26";
  --player_1_background: "#2dbde0";
  --player_1_cursor: "#2dbde0";
  --player_1_selection: "#2dbde033";
  --player_2_background: "#e180b8";
  --player_2_cursor: "#e180b8";
  --player_2_selection: "#e180b833";
  --player_3_background: "#72ffc6";
  --player_3_cursor: "#72ffc6";
  --player_3_selection: "#72ffc633";
  --player_4_background: "#9cd3f1";
  --player_4_cursor: "#9cd3f1";
  --player_4_selection: "#9cd3f133";
  --player_5_background: "#0db39d";
  --player_5_cursor: "#0db39d";
  --player_5_selection: "#0db39d33";
  --player_6_background: "#2dbde0";
  --player_6_cursor: "#2dbde0";
  --player_6_selection: "#2dbde033";
  --player_7_background: "#e180b8";
  --player_7_cursor: "#e180b8";
  --player_7_selection: "#e180b833";
  --player_8_background: "#72ffc6";
  --player_8_cursor: "#72ffc6";
  --player_8_selection: "#72ffc633";
  --syntax_attribute_color: "#2dbde0";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#72ffc6";
  --syntax_boolean_font_style: "bold";
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#5c7892";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#8ba2b7";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#0db39d";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#2dbde0";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#e7f7ff";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#72ffc6";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#2dbde0";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: "bold";
  --syntax_enum_color: "#2dbde0";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#2dbde0";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#9cd3f1";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: "bold";
  --syntax_keyword_color: "#72ffc6";
  --syntax_keyword_font_style: "italic";
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#2dbde0";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#2dbde0";
  --syntax_link_text_font_style: "italic";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#0db39d";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#2dbde0";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#72ffc6";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#0db39d";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#e7f7ff";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#e7f7ff";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#9cd3f1";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#e7f7ff";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#e7f7ff";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#a2b7c9";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#e7f7ff";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#72ffc6";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#9cd3f1";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#0db39d";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#9cd3f1";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#9cd3f1";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#9cd3f1";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#e7f7ff";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#9cd3f1";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#2dbde0";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: "bold";
  --syntax_type_color: "#2dbde0";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#e7f7ff";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variant_color: "#2dbde0";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
