:root {
  --background: "#000000";
  --border: "#6FC3DF";
  --border-disabled: "#000000";
  --border-focused: "#6FC3DF";
  --border-selected: "#6FC3DF";
  --border-transparent: "#6FC3DF";
  --border-variant: "#6FC3DF";
  --conflict: "#FFB86C";
  --conflict-background: "#3A3F41";
  --conflict-border: "#FFB86C";
  --created: "#50FA7B";
  --created-background: "#2D9C49";
  --created-border: "#50FA7B";
  --deleted: "#A62911";
  --deleted-background: "#50FA7B";
  --deleted-border: "#A62911";
  --drop_target-background: "#202020";
  --editor-active_line-background: "#FFFFFF02";
  --editor-active_line_number: "#F38518";
  --editor-active_wrap_guide: "#FFFFFF";
  --editor-background: "#000000";
  --editor-document_highlight-read_background: "#6FC3DF";
  --editor-document_highlight-write_background: "#000000";
  --editor-foreground: "#FFFFFF";
  --editor-gutter-background: "#000000";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#FFFFFF";
  --editor-subheader-background: "#000000";
  --editor-wrap_guide: "#FFFFFF";
  --element-active: "#000000";
  --element-background: "#000000";
  --element-disabled: "#000000";
  --element-hover: "#000000";
  --element-selected: "#000000";
  --elevated_surface-background: "#000000";
  --error: "#FF5555";
  --error-background: "#A63D3D";
  --error-border: "#FF5555";
  --ghost_element-active: "#F3851880";
  --ghost_element-background: "#000000";
  --ghost_element-disabled: "#000000";
  --ghost_element-hover: "#F3851880";
  --ghost_element-selected: "#F3851860";
  --hidden: "#6272A4";
  --hidden-background: "#3A3F41";
  --hidden-border: "#6272A4";
  --hint: "#8BE9FD";
  --hint-background: "#44475A";
  --hint-border: "#8BE9FD";
  --icon: "#FFFFFF";
  --icon-accent: "#FFFFFF";
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6272A4";
  --ignored-background: "#3A3F41";
  --ignored-border: "#6272A4";
  --info: "#8BE9FD";
  --info-background: "#44475A";
  --info-border: "#8BE9FD";
  --modified: "#FFB86C";
  --modified-background: "#C28610";
  --modified-border: "#FFB86C";
  --pane-focused_border: "#6FC3DF";
  --panel-background: "#000000";
  --panel-focused_border: "#6FC3DF";
  --predictive: "#BD93F9";
  --predictive-background: "#44475A";
  --predictive-border: "#BD93F9";
  --renamed: "#FF9C40";
  --renamed-background: "#B36822";
  --renamed-border: "#FF9C40";
  --scrollbar-thumb-background: "#6FC3DF30";
  --scrollbar-thumb-border: "#6FC3DF";
  --scrollbar-thumb-hover_background: "#FFFFFF";
  --scrollbar-track-background: "FFFFFF";
  --scrollbar-track-border: "#6FC3DF";
  --search-match_background: "#000000";
  --status_bar-background: "#000000";
  --success: "#50FA7B";
  --success-background: "#1DA840";
  --success-border: "#50FA7B";
  --surface-background: "#000000";
  --tab-active_background: "#000000";
  --tab-inactive_background: "#000000";
  --tab_bar-background: "#000000";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#0000EE";
  --terminal-ansi-bright_black: "#7F7F7F";
  --terminal-ansi-bright_blue: "#5C5CFF";
  --terminal-ansi-bright_cyan: "#00FFFF";
  --terminal-ansi-bright_green: "#00FF00";
  --terminal-ansi-bright_magenta: "#FF00FF";
  --terminal-ansi-bright_red: "#FF0000";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#FFFF00";
  --terminal-ansi-cyan: "#00CDCD";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#00CD00";
  --terminal-ansi-magenta: "#CD00CD";
  --terminal-ansi-red: "#CD0000";
  --terminal-ansi-white: "#E5E5E5";
  --terminal-ansi-yellow: "#CDCD00";
  --terminal-background: "#000000";
  --terminal-foreground: "#FFFFFF";
  --text: "#FFFFFF";
  --text-accent: "#FFFFFF";
  --text-disabled: "#FFFFFF";
  --text-muted: "#FFFFFF";
  --text-placeholder: "#FFFFFF";
  --title_bar-background: "#000000";
  --toolbar-background: "#000000";
  --unreachable: "#6272A4";
  --unreachable-background: "#3A3F41";
  --unreachable-border: "#6272A4";
  --warning: "#DEC184FF";
  --warning-background: "#9E7328";
  --warning-border: "#DEC184";
  --player-1-background: "#000000";
  --player-1-cursor: "#FFFFFF";
  --player-1-selection: "#FFFFFF";
  --player-2-background: "#39BAE5FF";
  --player-2-cursor: "#39BAE5FF";
  --player-2-selection: "#39BASE53D";
  --player-3-background: "#FE8F40FF";
  --player-3-cursor: "#FE8F40FF";
  --player-3-selection: "#FE8f403D";
  --player-4-background: "#D2A6FEFF";
  --player-4-cursor: "#D2A6FEFF";
  --player-4-selection: "#D2A6FE3D";
  --player-5-background: "#95E5CBFF";
  --player-5-cursor: "#95E5CBFF";
  --player-5-selection: "#95E5CB3D";
  --player-6-background: "#EF7177FF";
  --player-6-cursor: "#EF7177FF";
  --player-6-selection: "#EF71773D";
  --player-7-background: "#FEB454FF";
  --player-7-cursor: "#FEB454FF";
  --player-7-selection: "#FEB4543D";
  --player-8-background: "#AAD84CFF";
  --player-8-cursor: "#AAD84CFF";
  --player-8-selection: "#AAD84C3D";
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#9CDCFE";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-background_color: null;
  --syntax-boolean-color: "#569CD6";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#6A9955";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-background_color: null;
  --syntax-comment-doc-color: "#6A9955";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-background_color: null;
  --syntax-constant-color: "#569CD6";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#569CD6";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-background_color: null;
  --syntax-embedded-color: "#D4D4D4";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-strong-background_color: null;
  --syntax-emphasis-strong-color: "#569CD6";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-background_color: null;
  --syntax-function-color: "#DCDCAA";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#569CD6";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-background_color: null;
  --syntax-number-color: "#B5CEA8";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-background_color: null;
  --syntax-operator-color: "#D4D4D4";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-preproc-background_color: null;
  --syntax-preproc-color: "#569CD6";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-property-background_color: null;
  --syntax-property-color: "#9CDCFE";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-background_color: null;
  --syntax-punctuation-color: "#808080";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-background_color: null;
  --syntax-punctuation-bracket-color: "#808080";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-background_color: null;
  --syntax-punctuation-delimiter-color: "#808080";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-background_color: null;
  --syntax-punctuation-list_marker-color: "#808080";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-background_color: null;
  --syntax-punctuation-special-color: "#808080";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-background_color: null;
  --syntax-string-color: "#CE9178";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#569CD6";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#CE9178";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#CE9178";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#CE9178";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#569CD6";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#CE9178";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-background_color: null;
  --syntax-type-color: "#4EC9B0";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-background_color: null;
  --syntax-variable-color: "#FFFFFF";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-background_color: null;
  --syntax-variable-special-color: "#569CD6";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
