:root {
  --background: "#202020";
  --border: null;
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --conflict: "#d16969";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#608b4e";
  --created-background: null;
  --created-border: null;
  --deleted: "#d16969";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#383b3d";
  --editor-active_line-background: null;
  --editor-active_line_number: "#d4d4d4";
  --editor-active_wrap_guide: null;
  --editor-background: "#202020";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#BDB76B";
  --editor-gutter-background: "#202020";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: null;
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: null;
  --element-selected: null;
  --elevated_surface-background: null;
  --error: "#d16969";
  --error-background: "#202020";
  --error-border: "#202020";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: null;
  --ghost_element-selected: null;
  --hidden: null;
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: "#0e0e0e";
  --hint-border: "#202020";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#808080";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#9cdcfe";
  --info-background: "#0e0e0e";
  --info-border: "#202020";
  --link_text-hover: null;
  --modified: "#d7ba7d";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#202020";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#202020";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: null;
  --search-match_background: null;
  --status_bar-background: "#303030";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: null;
  --tab-inactive_background: null;
  --tab_bar-background: null;
  --terminal-ansi-black: "#808080";
  --terminal-ansi-blue: "#569cd6";
  --terminal-ansi-bright_black: "#808080";
  --terminal-ansi-bright_blue: "#9cdcfe";
  --terminal-ansi-bright_cyan: "#4ec9b0";
  --terminal-ansi-bright_green: "#b5cea8";
  --terminal-ansi-bright_magenta: "#c586c0";
  --terminal-ansi-bright_red: "#d16969";
  --terminal-ansi-bright_white: "#d4d4d4";
  --terminal-ansi-bright_yellow: "#ce9178";
  --terminal-ansi-cyan: "#4ec9b0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#608b4e";
  --terminal-ansi-magenta: "#c586c0";
  --terminal-ansi-red: "#d16969";
  --terminal-ansi-white: "#d4d4d4";
  --terminal-ansi-yellow: "#d7ba7d";
  --terminal-background: "#202020";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: null;
  --text-accent: null;
  --text-disabled: null;
  --text-muted: null;
  --text-placeholder: null;
  --title_bar-background: null;
  --toolbar-background: "#202020";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#d7ba7d";
  --warning-background: "#0e0e0e";
  --warning-border: "#202020";
  --player-1-background: "#202020";
  --player-1-cursor: "#569CD6";
  --player-1-selection: "#606060";
  --player-2-background: "#202020";
  --player-2-cursor: "#ff8000";
  --player-2-selection: "#808080";
  --syntax-attribute-color: "#C8C8C8";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#569CD6";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#57a64a";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#608B4E";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#569CD6";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: 600;
  --syntax-constructor-color: "#ff8000";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: 600;
  --syntax-function-color: "#ff8000";
  --syntax-function-font_style: "normal";
  --syntax-function-font_weight: 600;
  --syntax-keyword-color: "#D8A0DF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#B5CEA8";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#DCDCDC";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-preproc-color: "#bd63c5";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-property-color: "#C8C8C8";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#DCDCDC";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#DCDCDC";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#DCDCDC";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#DCDCDC";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#DCDCDC";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#d69d85";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#D69D85";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#D69D85";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#D69D85";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#D69D85";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#68685B";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#68685B";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#ffd700";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#BDB76B";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#BDB76B";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
