:root {
  --background: "#101010";
  --border: "#101010";
  --border_disabled: "#101010";
  --border_focused: "#FFC799";
  --border_selected: "#FFC799";
  --border_transparent: null;
  --border_variant: "#101010";
  --conflict: "#FF8080ff";
  --conflict_background: "#FF80803d";
  --conflict_border: null;
  --created: "#99FFE4ff";
  --created_background: "#99FFE43d";
  --created_border: null;
  --deleted: "#FF8080ff";
  --deleted_background: "#FF80803d";
  --deleted_border: null;
  --drop_target_background: null;
  --editor_active_line_background: "#101010";
  --editor_active_line_number: "#FFF";
  --editor_active_wrap_guide: null;
  --editor_background: "#101010";
  --editor_document_highlight_read_background: "#282828";
  --editor_document_highlight_write_background: "#282828";
  --editor_foreground: "#FFFFFF";
  --editor_gutter_background: "#101010";
  --editor_highlighted_line_background: "#101010";
  --editor_invisible: null;
  --editor_line_number: "#505050";
  --editor_subheader_background: "#101010";
  --editor_wrap_guide: null;
  --element_active: "#282828";
  --element_background: "#101010";
  --element_disabled: "#101010";
  --element_hover: "#282828";
  --element_selected: "#232323";
  --elevated_surface_background: "#1A1A1A";
  --error: "#FF8080ff";
  --error_background: "#FF80803d";
  --error_border: null;
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#282828";
  --ghost_element_selected: "#232323";
  --hidden: null;
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#A0A0A0";
  --hint_background: "#1C1C1C";
  --hint_border: null;
  --icon: "#FFFFFF";
  --icon_accent: "#FFC799";
  --icon_disabled: "#7E7E7E";
  --icon_muted: "#A0A0A0";
  --icon_placeholder: "#7E7E7E";
  --ignored: null;
  --ignored_background: null;
  --ignored_border: null;
  --info: "#7E7E7Eff";
  --info_background: "#7E7E7E3d";
  --info_border: "#7E7E7E3d";
  --link_text_hover: "#FFCFA8";
  --modified: "#FFC799";
  --modified_background: null;
  --modified_border: null;
  --panel_background: "#101010";
  --panel_focused_border: "#FFC799";
  --predictive: "#585858";
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_border: "#34343480";
  --scrollbar_thumb_hover_background: "#343434";
  --scrollbar_track_background: "#101010";
  --scrollbar_track_border: "#101010";
  --scrollbar_thumb_background: "#34343480";
  --search_match_background: "#575757";
  --status_bar_background: "#101010";
  --success: "#99FFE4ff";
  --success_background: "#99FFE43d";
  --success_border: null;
  --surface_background: "#101010";
  --tab_active_background: "#161616";
  --tab_inactive_background: "#101010";
  --tab_bar_background: "#101010";
  --terminal_ansi_black: "#101010";
  --terminal_ansi_blue: "#aca1cf";
  --terminal_ansi_bright_black: "#7E7E7E";
  --terminal_ansi_bright_blue: "#b9aeda";
  --terminal_ansi_bright_cyan: "#f591b2";
  --terminal_ansi_bright_green: "#99FFE4";
  --terminal_ansi_bright_magenta: "#ecaad6";
  --terminal_ansi_bright_red: "#ff8080";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#FFC799";
  --terminal_ansi_cyan: "#ea83a5";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#90b99f";
  --terminal_ansi_magenta: "#e29eca";
  --terminal_ansi_red: "#f5a191";
  --terminal_ansi_white: "#A0A0A0";
  --terminal_ansi_yellow: "#e6b99d";
  --terminal_background: "#101010";
  --terminal_bright_foreground: "#FFFFFF";
  --terminal_dim_foreground: "#7E7E7E";
  --terminal_foreground: "#A0A0A0";
  --text: "#FFFFFF";
  --text_accent: "#FFC799";
  --text_disabled: "#7E7E7E";
  --text_muted: "#A0A0A0";
  --text_placeholder: "#7E7E7E";
  --title_bar_background: "#101010";
  --toolbar_background: "#101010";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#FFC799ff";
  --warning_background: "#FFC7993d";
  --warning_border: null;
  --player_1_background: "#FFC799ff";
  --player_1_cursor: "#FFC799ff";
  --player_1_selection: "#FFC7993d";
  --player_2_background: "#99FFE4ff";
  --player_2_cursor: "#99FFE4ff";
  --player_2_selection: "#99FFE43d";
  --syntax_attribute_color: "#A0A0A0";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_comment_color: "#8b8b8b94";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#8b8b8b94";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#FFC799";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#FFC799";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_emphasis_color: "#FFF";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#FFF";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#FFC799";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#A0A0A0";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#FFC799";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#FFF";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#FFF";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#FFC799";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#A0A0A0";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_punctuation_color: "#A0A0A0";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#A0A0A0";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#A0A0A0";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#A0A0A0";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#A0A0A0";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#99FFE4";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#FFC799";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#99FFE4";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#99FFE4";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#99FFE4";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#FFC799";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#99FFE4";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#FFC799";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: null;
  --syntax_type_color: "#FFC799";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#FFF";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#A0A0A0";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
