:root {
  --background: "#101010";
  --border: "#101010";
  --border-disabled: "#101010";
  --border-focused: "#FFC799";
  --border-selected: "#FFC799";
  --border-transparent: null;
  --border-variant: "#101010";
  --conflict: "#FF8080ff";
  --conflict-background: "#FF80803d";
  --conflict-border: null;
  --created: "#99FFE4ff";
  --created-background: "#99FFE43d";
  --created-border: null;
  --deleted: "#FF8080ff";
  --deleted-background: "#FF80803d";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#101010";
  --editor-active_line_number: "#FFF";
  --editor-active_wrap_guide: null;
  --editor-background: "#101010";
  --editor-document_highlight-read_background: "#282828";
  --editor-document_highlight-write_background: "#282828";
  --editor-foreground: "#FFFFFF";
  --editor-gutter-background: "#101010";
  --editor-highlighted_line-background: "#101010";
  --editor-invisible: null;
  --editor-line_number: "#505050";
  --editor-subheader-background: "#101010";
  --editor-wrap_guide: null;
  --element-active: "#282828";
  --element-background: "#101010";
  --element-disabled: "#101010";
  --element-hover: "#282828";
  --element-selected: "#232323";
  --elevated_surface-background: "#1A1A1A";
  --error: "#FF8080ff";
  --error-background: "#FF80803d";
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#282828";
  --ghost_element-selected: "#232323";
  --hidden: null;
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#A0A0A0";
  --hint-background: "#1C1C1C";
  --hint-border: null;
  --icon: "#FFFFFF";
  --icon-accent: "#FFC799";
  --icon-disabled: "#7E7E7E";
  --icon-muted: "#A0A0A0";
  --icon-placeholder: "#7E7E7E";
  --ignored: null;
  --ignored-background: null;
  --ignored-border: null;
  --info: "#7E7E7Eff";
  --info-background: "#7E7E7E3d";
  --info-border: "#7E7E7E3d";
  --link_text-hover: "#FFCFA8";
  --modified: "#FFC799";
  --modified-background: null;
  --modified-border: null;
  --panel-background: "#101010";
  --panel-focused_border: "#FFC799";
  --predictive: "#585858";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#34343480";
  --scrollbar-thumb-hover_background: "#343434";
  --scrollbar-track-background: "#101010";
  --scrollbar-track-border: "#101010";
  --scrollbar_thumb-background: "#34343480";
  --search-match_background: "#575757";
  --status_bar-background: "#101010";
  --success: "#99FFE4ff";
  --success-background: "#99FFE43d";
  --success-border: null;
  --surface-background: "#101010";
  --tab-active_background: "#161616";
  --tab-inactive_background: "#101010";
  --tab_bar-background: "#101010";
  --terminal-ansi-black: "#101010";
  --terminal-ansi-blue: "#aca1cf";
  --terminal-ansi-bright_black: "#7E7E7E";
  --terminal-ansi-bright_blue: "#b9aeda";
  --terminal-ansi-bright_cyan: "#f591b2";
  --terminal-ansi-bright_green: "#99FFE4";
  --terminal-ansi-bright_magenta: "#ecaad6";
  --terminal-ansi-bright_red: "#ff8080";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#FFC799";
  --terminal-ansi-cyan: "#ea83a5";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#90b99f";
  --terminal-ansi-magenta: "#e29eca";
  --terminal-ansi-red: "#f5a191";
  --terminal-ansi-white: "#A0A0A0";
  --terminal-ansi-yellow: "#e6b99d";
  --terminal-background: "#101010";
  --terminal-bright_foreground: "#FFFFFF";
  --terminal-dim_foreground: "#7E7E7E";
  --terminal-foreground: "#A0A0A0";
  --text: "#FFFFFF";
  --text-accent: "#FFC799";
  --text-disabled: "#7E7E7E";
  --text-muted: "#A0A0A0";
  --text-placeholder: "#7E7E7E";
  --title_bar-background: "#101010";
  --toolbar-background: "#101010";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#FFC799ff";
  --warning-background: "#FFC7993d";
  --warning-border: null;
  --player-1-background: "#FFC799ff";
  --player-1-cursor: "#FFC799ff";
  --player-1-selection: "#FFC7993d";
  --player-2-background: "#99FFE4ff";
  --player-2-cursor: "#99FFE4ff";
  --player-2-selection: "#99FFE43d";
  --syntax-attribute-color: "#A0A0A0";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-color: "#8b8b8b94";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#8b8b8b94";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#FFC799";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#FFC799";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#FFF";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#FFF";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#FFC799";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#A0A0A0";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#FFC799";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#FFF";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#FFF";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#FFC799";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#A0A0A0";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-punctuation-color: "#A0A0A0";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#A0A0A0";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#A0A0A0";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#A0A0A0";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#A0A0A0";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#99FFE4";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#FFC799";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#99FFE4";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#99FFE4";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#99FFE4";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#FFC799";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#99FFE4";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#FFC799";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#FFC799";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#FFF";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#A0A0A0";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
