:root {
  --background: "#151922";
  --border: "#92A9FF15";
  --border-disabled: "#92A9FF0E";
  --border-focused: "#92A9FF25";
  --border-selected: "#92A9FF25";
  --border-transparent: null;
  --border-variant: "#92A9FF45";
  --conflict: "#FF96C0";
  --conflict-background: "#151A23";
  --conflict-border: "#FF96C0";
  --created: "#67C593";
  --created-background: "#151A23";
  --created-border: null;
  --deleted: "#FF96C0";
  --deleted-background: "#151A23";
  --deleted-border: "#FF96C0";
  --drop_target-background: "#92A9EF20";
  --editor-active_line-background: "#1F2939";
  --editor-active_line_number: "#A5B8CF";
  --editor-active_wrap_guide: "#40455F";
  --editor-background: "#151922";
  --editor-document_highlight-read_background: "#92A9FF1A";
  --editor-document_highlight-write_background: "#92A9FF1A";
  --editor-foreground: "#C5D8DF";
  --editor-gutter-background: "#151922";
  --editor-highlighted_line-background: null;
  --editor-invisible: "#92A9FF40";
  --editor-line_number: "#536275";
  --editor-subheader-background: "#10151D";
  --editor-wrap_guide: "#20252F";
  --element-active: "#92A9FF0D";
  --element-background: "#10151D";
  --element-disabled: "#00000000";
  --element-hover: "#92A9FF09";
  --element-selected: "#92A9FF0A";
  --elevated_surface-background: "#151A23";
  --error: "#FF96C0";
  --error-background: "#151A23";
  --error-border: "#FF96C0";
  --ghost_element-active: "#92A9FF0D";
  --ghost_element-background: "#10151D";
  --ghost_element-disabled: "#00000000";
  --ghost_element-hover: "#92A9FF09";
  --ghost_element-selected: "#92A9FF0A";
  --hidden: "#93A2B5";
  --hidden-background: "#151A23";
  --hidden-border: "#93A2B5";
  --hint: "#536275";
  --hint-background: "#151A23";
  --hint-border: "#85CDF1";
  --icon: "#92A9FF";
  --icon-accent: "#92A9FF";
  --icon-disabled: "#5269AF";
  --icon-muted: "#7299EF";
  --icon-placeholder: "#92A9FF";
  --ignored: "#637285";
  --ignored-background: "#151A23";
  --ignored-border: null;
  --info: "#85CDF1";
  --info-background: "#151A23";
  --info-border: "#85CDF1";
  --link_text-hover: "#92A9FF";
  --modified: "#92A9FF";
  --modified-background: "#151A23";
  --modified-border: "#92A9FF";
  --pane-focused_border: "#92A9FF20";
  --panel-background: "#10151D";
  --panel-focused_border: "#92A9FF20";
  --predictive: "#738295";
  --predictive-background: "#151A23";
  --predictive-border: "#738295";
  --renamed: "#92A9FF";
  --renamed-background: "#151A23";
  --renamed-border: "#92A9FF";
  --scrollbar-thumb-background: "#50658D75";
  --scrollbar-thumb-border: "#92A9FF";
  --scrollbar-thumb-hover_background: "#92A9FF1F";
  --scrollbar-track-background: "#10151D";
  --scrollbar-track-border: "#92A9FF05";
  --search-match_background: "#83431499";
  --status_bar-background: "#10151D";
  --success: "#77D5A3";
  --success-background: "#151A23";
  --success-border: "#77D5A3";
  --surface-background: "#151A23";
  --tab-active_background: "#10151D";
  --tab-inactive_background: "#151922";
  --tab_bar-background: "#10151D";
  --terminal-ansi-blue: "#3b82f6";
  --terminal-ansi-bright_black: "#B0B0CA";
  --terminal-ansi-bright_white: "#EDF1F4";
  --terminal-background: "#10151D";
  --text: "#D5D8DF";
  --text-accent: "#92A9FF";
  --text-disabled: "#536275";
  --text-muted: "#A3B2C5";
  --text-placeholder: "#536275";
  --title_bar-background: "#10151D";
  --toolbar-background: "#10151D";
  --unreachable: "#738295";
  --unreachable-background: "#151A23";
  --unreachable-border: "#00000000";
  --warning: "#F7A562";
  --warning-background: "#151A23";
  --warning-border: "#F7A562";
  --player-1-background: null;
  --player-1-cursor: "#92A9FF";
  --player-1-selection: "#92A9FF18";
  --syntax-attribute-color: "#BD9CFE";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#92A9FF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#738295";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#738295";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#92A9FF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#FD8DA3";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#77D5A3";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#FD8DA3";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#FD8DA3";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#77D5A3";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#BD9CFE";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#77D5A3";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#FD8DA3";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#85CDF1";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#85CDF1";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#92A9FF";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#FD8DA3";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#585B70";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-predoc-color: "#92A9FF";
  --syntax-predoc-font_style: null;
  --syntax-predoc-font_weight: null;
  --syntax-primary-color: "#92A9FF";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#85CDF1";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#85CDF1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#85CDF1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#D9DFE7";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#D9DFE7";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#77D5A3";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#FD8DA3";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#77D5A3";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#92A9FF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#77D5A3";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#92A9FF";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#F2CDDE";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#77D5A3";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#77D5A3";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#CDD6F4";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#92A9FF";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#BD9CFE";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#D9DFE7";
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#D9DFE7";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#FFD395";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#92A9FF";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#FFD395";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#FD8DA3";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
