:root {
  --background: "#fafafa";
  --border: "#00000026";
  --border-variant: "#00000026";
  --created: "#26a269";
  --deleted: "#ed333b";
  --drop_target-background: "#3584e480";
  --editor-active_line-background: "#f6f5f4";
  --editor-active_line_number: "#9a9996";
  --editor-background: "#fcfcfc";
  --editor-document_highlight-read_background: "#00000012";
  --editor-document_highlight-write_background: "#00000012";
  --editor-foreground: "#504e55";
  --editor-gutter-background: "#fcfcfc";
  --editor-line_number: "#b0afac";
  --editor-subheader-background: "#ffffff";
  --element-active: "#00000029";
  --element-background: "#e6e6e6";
  --element-hover: "#00000012";
  --elevated_surface-background: "#ffffff";
  --error: "#c01c28";
  --error-background: "#f66151";
  --error-border: "#00000026";
  --ghost_element-active: "#00000029";
  --ghost_element-background: "#00000000";
  --ghost_element-hover: "#00000012";
  --ghost_element-selected: "#0000001a";
  --ignored: "#00000040";
  --modified: "#3584e4";
  --panel-background: "#ebebeb";
  --scrollbar-thumb-background: "#00000026";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#f6d32d80";
  --status_bar-background: "#ffffff";
  --surface-background: "#ffffff";
  --tab-active_background: "#ffffff";
  --tab-inactive_background: "#fafafa";
  --tab_bar-background: "#fafafa";
  --terminal-ansi-black: "#241f31";
  --terminal-ansi-blue: "#1e78e4";
  --terminal-ansi-bright_black: "#5e5c64";
  --terminal-ansi-bright_blue: "#51a1ff";
  --terminal-ansi-bright_cyan: "#4fd2fd";
  --terminal-ansi-bright_green: "#57e389";
  --terminal-ansi-bright_magenta: "#c061cb";
  --terminal-ansi-bright_red: "#ed333b";
  --terminal-ansi-bright_white: "#f6f5f4";
  --terminal-ansi-bright_yellow: "#f8e45c";
  --terminal-ansi-cyan: "#0ab9dc";
  --terminal-ansi-green: "#2ec27e";
  --terminal-ansi-magenta: "#9841bb";
  --terminal-ansi-red: "#c01c28";
  --terminal-ansi-white: "#c0bfbc";
  --terminal-ansi-yellow: "#f5c211";
  --terminal-background: "#ffffff";
  --text: "#000000";
  --text-accent: "#1c71d8";
  --text-disabled: "#0000004d";
  --text-muted: "#00000080";
  --text-placeholder: "#00000080";
  --title_bar-background: "#ffffff";
  --title_bar-inactive_background: "#fafafa";
  --toolbar-background: "#ffffff";
  --warning: "#e5a50a";
  --warning-background: "#e5a50a";
  --warning-border: "#00000026";
  --player-1-cursor: "#000000";
  --player-1-selection: "#3584e460";
  --syntax-boolean-color: "#1a5fb4";
  --syntax-comment-color: "#9a9996";
  --syntax-comment-doc-color: "#9a9996";
  --syntax-constant-color: "#1a5fb4";
  --syntax-constructor-color: "#504e55";
  --syntax-embedded-color: "#c061cb";
  --syntax-emphasis-color: "#504e55";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#000000";
  --syntax-emphasis-strong-font_weight: 600;
  --syntax-enum-color: "#26a269";
  --syntax-function-color: "#c64600";
  --syntax-hint-color: "#504e55";
  --syntax-keyword-color: "#c061cb";
  --syntax-label-color: "#504e55";
  --syntax-link_text-color: "#504e55";
  --syntax-link_uri-color: "#1a5fb4";
  --syntax-link_uri-font_style: "italic";
  --syntax-number-color: "#26a269";
  --syntax-operator-color: "#1a5fb4";
  --syntax-property-color: "#3584e4";
  --syntax-punctuation-color: "#504e55";
  --syntax-punctuation-bracket-color: "#504e55";
  --syntax-punctuation-delimiter-color: "#504e55";
  --syntax-punctuation-list_marker-color: "#000000";
  --syntax-punctuation-list_marker-font_weight: 800;
  --syntax-punctuation-special-color: "#c061cb";
  --syntax-string-color: "#ed333b";
  --syntax-string-escape-color: "#e66100";
  --syntax-string-regex-color: "#ed333b";
  --syntax-string-special-color: "#ed333b";
  --syntax-string-special-symbol-color: "#ed333b";
  --syntax-tag-color: "#26a269";
  --syntax-text-literal-color: "#26a269";
  --syntax-title-color: "#1c71d8";
  --syntax-type-color: "#26a269";
  --syntax-type-super-color: "#26a269";
  --syntax-variable-color: "#3584e4";
  --syntax-variable-parameter-color: "#3584e4";
  --syntax-variable-special-color: "#1a5fb4";
}
