:root {
  --background: "#242424";
  --border: "#ffffff26";
  --border-variant: "#ffffff26";
  --created: "#33d17a";
  --deleted: "#ed333b";
  --drop_target-background: "#3584e480";
  --editor-active_line-background: "#303030";
  --editor-active_line_number: "#9a9996";
  --editor-background: "#262626";
  --editor-document_highlight-read_background: "#ffffff12";
  --editor-document_highlight-write_background: "#ffffff12";
  --editor-foreground: "#deddda";
  --editor-gutter-background: "#262626";
  --editor-line_number: "#5E5c64";
  --editor-subheader-background: "#303030";
  --element-active: "#ffffff29";
  --element-background: "#393939";
  --element-hover: "#ffffff12";
  --elevated_surface-background: "#303030";
  --error: "#ff7b63";
  --error-background: "#c01c28";
  --error-border: "#ffffff26";
  --ghost_element-active: "#ffffff29";
  --ghost_element-background: "#00000000";
  --ghost_element-hover: "#ffffff12";
  --ghost_element-selected: "#ffffff1a";
  --ignored: "#ffffff40";
  --modified: "#62a0ea";
  --panel-background: "#303030";
  --scrollbar-thumb-background: "#ffffff26";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#f6d32d80";
  --status_bar-background: "#303030";
  --surface-background: "#303030";
  --tab-active_background: "#303030";
  --tab-inactive_background: "#242424";
  --tab_bar-background: "#242424";
  --terminal-ansi-black: "#181818";
  --terminal-ansi-blue: "#0876e8";
  --terminal-ansi-bright_black: "#5a575f";
  --terminal-ansi-bright_blue: "#4ba0ff";
  --terminal-ansi-bright_cyan: "#45d3ff";
  --terminal-ansi-bright_green: "#4ee486";
  --terminal-ansi-bright_magenta: "#c35cce";
  --terminal-ansi-bright_red: "#ea2931";
  --terminal-ansi-bright_white: "#f6f5f4";
  --terminal-ansi-bright_yellow: "#f9e64f";
  --terminal-ansi-cyan: "#00badf";
  --terminal-ansi-green: "#4fe687";
  --terminal-ansi-magenta: "#9b38bf";
  --terminal-ansi-red: "#c40e1d";
  --terminal-ansi-white: "#c1c0bd";
  --terminal-ansi-yellow: "#f7c500";
  --terminal-background: "#242424";
  --text: "#ffffff";
  --text-accent: "#78aeed";
  --text-disabled: "#ffffff4d";
  --text-muted: "#ffffff80";
  --text-placeholder: "#ffffff80";
  --title_bar-background: "#303030";
  --title_bar-inactive_background: "#242424";
  --toolbar-background: "#303030";
  --warning: "#f8e45c";
  --warning-background: "#9c6e03";
  --warning-border: "#ffffff26";
  --player-1-cursor: "#ffffff";
  --player-1-selection: "#3584e460";
  --syntax-boolean-color: "#62a0ea";
  --syntax-comment-color: "#77767b";
  --syntax-comment-doc-color: "#77767b";
  --syntax-constant-color: "#62a0ea";
  --syntax-constructor-color: "#deddda";
  --syntax-embedded-color: "#dc8add";
  --syntax-emphasis-color: "#deddda";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-color: "#ffffff";
  --syntax-emphasis-strong-font_weight: 600;
  --syntax-enum-color: "#8ff0a4";
  --syntax-function-color: "#ffbe6f";
  --syntax-hint-color: "#deddda";
  --syntax-keyword-color: "#c061cb";
  --syntax-label-color: "#deddda";
  --syntax-link_text-color: "#deddda";
  --syntax-link_uri-color: "#62a0ea";
  --syntax-link_uri-font_style: "italic";
  --syntax-number-color: "#8ff0a4";
  --syntax-operator-color: "#62a0ea";
  --syntax-property-color: "#99c1f1";
  --syntax-punctuation-color: "#deddda";
  --syntax-punctuation-bracket-color: "#deddda";
  --syntax-punctuation-delimiter-color: "#deddda";
  --syntax-punctuation-list_marker-color: "#ffffff";
  --syntax-punctuation-list_marker-font_weight: 800;
  --syntax-punctuation-special-color: "#c061cb";
  --syntax-string-color: "#f99186";
  --syntax-string-escape-color: "#ffbe6f";
  --syntax-string-regex-color: "#f99186";
  --syntax-string-special-color: "#f99186";
  --syntax-string-special-symbol-color: "#f99186";
  --syntax-tag-color: "#8ff0a4";
  --syntax-text-literal-color: "#8ff0a4";
  --syntax-title-color: "#78aeed";
  --syntax-type-color: "#8ff0a4";
  --syntax-type-super-color: "#8ff0a4";
  --syntax-variable-color: "#99c1f1";
  --syntax-variable-parameter-color: "#99c1f1";
  --syntax-variable-special-color: "#62a0ea";
}
