:root {
  --background: "#fafafa";
  --border: "#00000026";
  --border_variant: "#00000026";
  --created: "#26a269";
  --deleted: "#ed333b";
  --drop_target_background: "#3584e480";
  --editor_active_line_background: "#f6f5f4";
  --editor_active_line_number: "#9a9996";
  --editor_background: "#fcfcfc";
  --editor_document_highlight_read_background: "#00000012";
  --editor_document_highlight_write_background: "#00000012";
  --editor_foreground: "#504e55";
  --editor_gutter_background: "#fcfcfc";
  --editor_line_number: "#b0afac";
  --editor_subheader_background: "#ffffff";
  --element_active: "#00000029";
  --element_background: "#e6e6e6";
  --element_hover: "#00000012";
  --elevated_surface_background: "#ffffff";
  --error: "#c01c28";
  --error_background: "#f66151";
  --error_border: "#00000026";
  --ghost_element_active: "#00000029";
  --ghost_element_background: "#00000000";
  --ghost_element_hover: "#00000012";
  --ghost_element_selected: "#0000001a";
  --ignored: "#00000040";
  --modified: "#3584e4";
  --panel_background: "#ebebeb";
  --scrollbar_thumb_background: "#00000026";
  --scrollbar_thumb_border: "#00000000";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#00000000";
  --search_match_background: "#f6d32d80";
  --status_bar_background: "#ffffff";
  --surface_background: "#ffffff";
  --tab_active_background: "#ffffff";
  --tab_inactive_background: "#fafafa";
  --tab_bar_background: "#fafafa";
  --terminal_ansi_black: "#241f31";
  --terminal_ansi_blue: "#1e78e4";
  --terminal_ansi_bright_black: "#5e5c64";
  --terminal_ansi_bright_blue: "#51a1ff";
  --terminal_ansi_bright_cyan: "#4fd2fd";
  --terminal_ansi_bright_green: "#57e389";
  --terminal_ansi_bright_magenta: "#c061cb";
  --terminal_ansi_bright_red: "#ed333b";
  --terminal_ansi_bright_white: "#f6f5f4";
  --terminal_ansi_bright_yellow: "#f8e45c";
  --terminal_ansi_cyan: "#0ab9dc";
  --terminal_ansi_green: "#2ec27e";
  --terminal_ansi_magenta: "#9841bb";
  --terminal_ansi_red: "#c01c28";
  --terminal_ansi_white: "#c0bfbc";
  --terminal_ansi_yellow: "#f5c211";
  --terminal_background: "#ffffff";
  --text: "#000000";
  --text_accent: "#1c71d8";
  --text_disabled: "#0000004d";
  --text_muted: "#00000080";
  --text_placeholder: "#00000080";
  --title_bar_background: "#ffffff";
  --title_bar_inactive_background: "#fafafa";
  --toolbar_background: "#ffffff";
  --warning: "#e5a50a";
  --warning_background: "#e5a50a";
  --warning_border: "#00000026";
  --player_1_cursor: "#000000";
  --player_1_selection: "#3584e460";
  --syntax_boolean_color: "#1a5fb4";
  --syntax_comment_color: "#9a9996";
  --syntax_comment_doc_color: "#9a9996";
  --syntax_constant_color: "#1a5fb4";
  --syntax_constructor_color: "#504e55";
  --syntax_embedded_color: "#c061cb";
  --syntax_emphasis_color: "#504e55";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_strong_color: "#000000";
  --syntax_emphasis_strong_font_weight: 600;
  --syntax_enum_color: "#26a269";
  --syntax_function_color: "#c64600";
  --syntax_hint_color: "#504e55";
  --syntax_keyword_color: "#c061cb";
  --syntax_label_color: "#504e55";
  --syntax_link_text_color: "#504e55";
  --syntax_link_uri_color: "#1a5fb4";
  --syntax_link_uri_font_style: "italic";
  --syntax_number_color: "#26a269";
  --syntax_operator_color: "#1a5fb4";
  --syntax_property_color: "#3584e4";
  --syntax_punctuation_color: "#504e55";
  --syntax_punctuation_bracket_color: "#504e55";
  --syntax_punctuation_delimiter_color: "#504e55";
  --syntax_punctuation_list_marker_color: "#000000";
  --syntax_punctuation_list_marker_font_weight: 800;
  --syntax_punctuation_special_color: "#c061cb";
  --syntax_string_color: "#ed333b";
  --syntax_string_escape_color: "#e66100";
  --syntax_string_regex_color: "#ed333b";
  --syntax_string_special_color: "#ed333b";
  --syntax_string_special_symbol_color: "#ed333b";
  --syntax_tag_color: "#26a269";
  --syntax_text_literal_color: "#26a269";
  --syntax_title_color: "#1c71d8";
  --syntax_type_color: "#26a269";
  --syntax_type_super_color: "#26a269";
  --syntax_variable_color: "#3584e4";
  --syntax_variable_parameter_color: "#3584e4";
  --syntax_variable_special_color: "#1a5fb4";
}
