:root {
  --background: "#191920FF";
  --border: "#fafafa09";
  --border_disabled: null;
  --border_focused: "#7282A177";
  --border_selected: "#7282A1bb";
  --border_transparent: "#00000000";
  --border_variant: "#7282A133";
  --conflict: "#0dffaeff";
  --conflict_background: "#0dffae33";
  --conflict_border: "#0dffae20";
  --created: "#0cf566ff";
  --created_background: "#0cf56633";
  --created_border: "#0cf56620";
  --deleted: "#ff2e18ff";
  --deleted_background: "#ff2e1833";
  --deleted_border: "#ff2e1820";
  --drop_target_background: "#191920FF";
  --editor_active_line_background: "#7282A133";
  --editor_active_line_number: "#fafafaff";
  --editor_active_wrap_guide: "#fafafa35";
  --editor_background: "#101012ff";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#fafafaff";
  --editor_gutter_background: "#101012ff";
  --editor_highlighted_line_background: "#7282A1ff";
  --editor_invisible: "#fafafa30";
  --editor_line_number: "#7282A180";
  --editor_subheader_background: "#191920ff";
  --editor_wrap_guide: "#fafafa15";
  --element_active: "#191920FF";
  --element_background: "#191920ff";
  --element_disabled: "#7282A1FF";
  --element_hover: "#191920FF";
  --element_selected: "#191920FF";
  --elevated_surface_background: "#191920ff";
  --error_background: "#101012FF";
  --error_border: "#ff2e18ff";
  --ghost_element_active: "#7282A150";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#ff2e18ff";
  --ghost_element_hover: "#7282A135";
  --ghost_element_selected: "#7282A125";
  --hidden: "#7282A180";
  --hidden_background: "#101012FF";
  --hidden_border: "#7282A180";
  --hint: "#7282A1ff";
  --hint_background: null;
  --hint_border: null;
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#7282A150";
  --ignored_background: "#191920ff";
  --ignored_border: null;
  --info: null;
  --info_background: "#101012FF";
  --info_border: null;
  --link_text_hover: "#4fe1c5ff";
  --modified: "#00e8dcff";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --panel_background: "#101012ff";
  --panel_focused_border: null;
  --predictive: "#B2B2B2FF";
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: "#101012FF";
  --renamed_border: null;
  --scrollbar_thumb_border: "#00000000";
  --scrollbar_thumb_hover_background: "#7282A1FF";
  --scrollbar_track_background: "#101012ff";
  --scrollbar_track_border: "#7282A144";
  --scrollbar_thumb_background: "#7282A177";
  --search_match_background: "#7282A1ff";
  --status_bar_background: "#101012bb";
  --success: null;
  --success_background: "#101012FF";
  --success_border: null;
  --surface_background: "#101012FF";
  --tab_active_background: "#101012ff";
  --tab_inactive_background: "#191920ff";
  --tab_bar_background: "#101012bb";
  --terminal_ansi_black: "#21222cff";
  --terminal_ansi_blue: "#9580ffff";
  --terminal_ansi_bright_black: "#21222cff";
  --terminal_ansi_bright_blue: "#9580ffff";
  --terminal_ansi_bright_cyan: "#4fe1c5ff";
  --terminal_ansi_bright_green: "#0cf566ff";
  --terminal_ansi_bright_magenta: "#00e8dcff";
  --terminal_ansi_bright_red: "#ff2e18ff";
  --terminal_ansi_bright_white: "ffffffff";
  --terminal_ansi_bright_yellow: "#0dffaeff";
  --terminal_ansi_cyan: "#4fe1c5ff";
  --terminal_ansi_dim_black: "#21222cff";
  --terminal_ansi_dim_blue: "#9580ffff";
  --terminal_ansi_dim_cyan: "#4fe1c5ff";
  --terminal_ansi_dim_green: "#0cf566ff";
  --terminal_ansi_dim_magenta: "#00e8dcff";
  --terminal_ansi_dim_red: "#ff2e18ff";
  --terminal_ansi_dim_white: "#B2B2B2FF";
  --terminal_ansi_dim_yellow: "#0dffaeff";
  --terminal_ansi_green: "#0cf566ff";
  --terminal_ansi_magenta: "#00e8dcff";
  --terminal_ansi_red: "#ff2e18ff";
  --terminal_ansi_white: "#fafafaff";
  --terminal_ansi_yellow: "#0dffaeff";
  --terminal_background: "#101012ff";
  --terminal_bright_foreground: "#fafafaff";
  --terminal_dim_foreground: "#B2B2B2FF";
  --terminal_foreground: "#fafafaff";
  --text: "#fafafaff";
  --text_accent: "#4fe1c5ff";
  --text_disabled: "#7282A150";
  --text_muted: "#7282A1FF";
  --text_placeholder: "#7282A180";
  --title_bar_background: "#101012bb";
  --toolbar_background: "#101012ff";
  --unreachable: null;
  --unreachable_border: null;
  --warning: null;
  --warning_background: "#101012FF";
  --warning_border: null;
  --player_1_background: "#93B6C8ff";
  --player_1_cursor: "#93B6C8ff";
  --player_1_selection: "#93B6C833";
  --player_2_background: "#0cf566ff";
  --player_2_cursor: "#0cf566ff";
  --player_2_selection: "#0cf56633";
  --player_3_background: "#00e8dcff";
  --player_3_cursor: "#00e8dcff";
  --player_3_selection: "#00e8dc33";
  --player_4_background: "#0dffaeff";
  --player_4_cursor: "#0dffaeff";
  --player_4_selection: "#0dffae33";
  --player_5_background: "#4fe1c5ff";
  --player_5_cursor: "#4fe1c5ff";
  --player_5_selection: "#4fe1c533";
  --player_6_background: "#0dcbffff";
  --player_6_cursor: "#0dcbffff";
  --player_6_selection: "#0dcbff33";
  --player_7_background: "#ff2e18ff";
  --player_7_cursor: "#ff2e18ff";
  --player_7_selection: "#ff2e1833";
  --syntax_attribute_color: null;
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#00e8dcff";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#7282A1ff";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#00e8dcff";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#00e8dcff";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#00e8dcff";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#fafafaff";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#0dffaeff";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#0dcbffff";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#93B6C8ff";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#0cf566ff";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#93B6C8ff";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#7282A1FF";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: null;
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#00e8dcff";
  --syntax_link_text_font_style: "normal";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#4fe1c5ff";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#93B6C8ff";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#00e8dcff";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: null;
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: null;
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: null;
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#0dcbffff";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#00e8dcff";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#B2B2B2FF";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#00e8dcff";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#4fe1c5ff";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#00e8dcff";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#0dffaeff";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#00e8dcff";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#ff2e18ff";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#00e8dcff";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#93B6C8ff";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#93B6C8ff";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#0cf566ff";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#7282A1FF";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 400;
  --syntax_type_color: "#4fe1c5ff";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_type_builtin_color: "#7282A1ff";
  --syntax_type_builtin_font_style: null;
  --syntax_type_builtin_font_weight: null;
  --syntax_type_super_color: "#4fe1c5ff";
  --syntax_type_super_font_style: "italic";
  --syntax_type_super_font_weight: null;
  --syntax_variable_color: "#fafafaff";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_parameter_color: "#0dcbffff";
  --syntax_variable_parameter_font_style: "italic";
  --syntax_variable_parameter_font_weight: null;
  --syntax_variable_special_color: "#93B6C8ff";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
  --syntax_variant_color: null;
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
