:root {
  --background: "#191920FF";
  --border: "#fafafa09";
  --border-disabled: null;
  --border-focused: "#7282A177";
  --border-selected: "#7282A1bb";
  --border-transparent: "#00000000";
  --border-variant: "#7282A133";
  --conflict: "#0dffaeff";
  --conflict-background: "#0dffae33";
  --conflict-border: "#0dffae20";
  --created: "#0cf566ff";
  --created-background: "#0cf56633";
  --created-border: "#0cf56620";
  --deleted: "#ff2e18ff";
  --deleted-background: "#ff2e1833";
  --deleted-border: "#ff2e1820";
  --drop_target-background: "#191920FF";
  --editor-active_line-background: "#7282A133";
  --editor-active_line_number: "#fafafaff";
  --editor-active_wrap_guide: "#fafafa35";
  --editor-background: "#101012ff";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#fafafaff";
  --editor-gutter-background: "#101012ff";
  --editor-highlighted_line-background: "#7282A1ff";
  --editor-invisible: "#fafafa30";
  --editor-line_number: "#7282A180";
  --editor-subheader-background: "#191920ff";
  --editor-wrap_guide: "#fafafa15";
  --element-active: "#191920FF";
  --element-background: "#191920ff";
  --element-disabled: "#7282A1FF";
  --element-hover: "#191920FF";
  --element-selected: "#191920FF";
  --elevated_surface-background: "#191920ff";
  --error-background: "#101012FF";
  --error-border: "#ff2e18ff";
  --ghost_element-active: "#7282A150";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#ff2e18ff";
  --ghost_element-hover: "#7282A135";
  --ghost_element-selected: "#7282A125";
  --hidden: "#7282A180";
  --hidden-background: "#101012FF";
  --hidden-border: "#7282A180";
  --hint: "#7282A1ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#7282A150";
  --ignored-background: "#191920ff";
  --ignored-border: null;
  --info: null;
  --info-background: "#101012FF";
  --info-border: null;
  --link_text-hover: "#4fe1c5ff";
  --modified: "#00e8dcff";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#101012ff";
  --panel-focused_border: null;
  --predictive: "#B2B2B2FF";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: "#101012FF";
  --renamed-border: null;
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#7282A1FF";
  --scrollbar-track-background: "#101012ff";
  --scrollbar-track-border: "#7282A144";
  --scrollbar_thumb-background: "#7282A177";
  --search-match_background: "#7282A1ff";
  --status_bar-background: "#101012bb";
  --success: null;
  --success-background: "#101012FF";
  --success-border: null;
  --surface-background: "#101012FF";
  --tab-active_background: "#101012ff";
  --tab-inactive_background: "#191920ff";
  --tab_bar-background: "#101012bb";
  --terminal-ansi-black: "#21222cff";
  --terminal-ansi-blue: "#9580ffff";
  --terminal-ansi-bright_black: "#21222cff";
  --terminal-ansi-bright_blue: "#9580ffff";
  --terminal-ansi-bright_cyan: "#4fe1c5ff";
  --terminal-ansi-bright_green: "#0cf566ff";
  --terminal-ansi-bright_magenta: "#00e8dcff";
  --terminal-ansi-bright_red: "#ff2e18ff";
  --terminal-ansi-bright_white: "ffffffff";
  --terminal-ansi-bright_yellow: "#0dffaeff";
  --terminal-ansi-cyan: "#4fe1c5ff";
  --terminal-ansi-dim_black: "#21222cff";
  --terminal-ansi-dim_blue: "#9580ffff";
  --terminal-ansi-dim_cyan: "#4fe1c5ff";
  --terminal-ansi-dim_green: "#0cf566ff";
  --terminal-ansi-dim_magenta: "#00e8dcff";
  --terminal-ansi-dim_red: "#ff2e18ff";
  --terminal-ansi-dim_white: "#B2B2B2FF";
  --terminal-ansi-dim_yellow: "#0dffaeff";
  --terminal-ansi-green: "#0cf566ff";
  --terminal-ansi-magenta: "#00e8dcff";
  --terminal-ansi-red: "#ff2e18ff";
  --terminal-ansi-white: "#fafafaff";
  --terminal-ansi-yellow: "#0dffaeff";
  --terminal-background: "#101012ff";
  --terminal-bright_foreground: "#fafafaff";
  --terminal-dim_foreground: "#B2B2B2FF";
  --terminal-foreground: "#fafafaff";
  --text: "#fafafaff";
  --text-accent: "#4fe1c5ff";
  --text-disabled: "#7282A150";
  --text-muted: "#7282A1FF";
  --text-placeholder: "#7282A180";
  --title_bar-background: "#101012bb";
  --toolbar-background: "#101012ff";
  --unreachable: null;
  --unreachable-border: null;
  --warning: null;
  --warning-background: "#101012FF";
  --warning-border: null;
  --player-1-background: "#93B6C8ff";
  --player-1-cursor: "#93B6C8ff";
  --player-1-selection: "#93B6C833";
  --player-2-background: "#0cf566ff";
  --player-2-cursor: "#0cf566ff";
  --player-2-selection: "#0cf56633";
  --player-3-background: "#00e8dcff";
  --player-3-cursor: "#00e8dcff";
  --player-3-selection: "#00e8dc33";
  --player-4-background: "#0dffaeff";
  --player-4-cursor: "#0dffaeff";
  --player-4-selection: "#0dffae33";
  --player-5-background: "#4fe1c5ff";
  --player-5-cursor: "#4fe1c5ff";
  --player-5-selection: "#4fe1c533";
  --player-6-background: "#0dcbffff";
  --player-6-cursor: "#0dcbffff";
  --player-6-selection: "#0dcbff33";
  --player-7-background: "#ff2e18ff";
  --player-7-cursor: "#ff2e18ff";
  --player-7-selection: "#ff2e1833";
  --syntax-attribute-color: null;
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#00e8dcff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7282A1ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#00e8dcff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#00e8dcff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#00e8dcff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#fafafaff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#0dffaeff";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#0dcbffff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#93B6C8ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#0cf566ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#93B6C8ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#7282A1FF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: null;
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#00e8dcff";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#4fe1c5ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#93B6C8ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#00e8dcff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: null;
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: null;
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#0dcbffff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#00e8dcff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#B2B2B2FF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#00e8dcff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#4fe1c5ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#00e8dcff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#0dffaeff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#00e8dcff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ff2e18ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#00e8dcff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#93B6C8ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#93B6C8ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#0cf566ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#7282A1FF";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#4fe1c5ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#7282A1ff";
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-type-super-color: "#4fe1c5ff";
  --syntax-type-super-font_style: "italic";
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#fafafaff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-parameter-color: "#0dcbffff";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#93B6C8ff";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
