:root {
  --background: "#0c0a20ff";
  --border: "#090819";
  --border-disabled: "#090819";
  --border-focused: null;
  --border-selected: "#090819";
  --border-transparent: "#090819";
  --border-variant: "#090819";
  --conflict: "#f5c1c7ff";
  --conflict-background: "#50331aff";
  --conflict-border: "#6d4d2bff";
  --created: "#5cc1a3ff";
  --created-background: "#182d23ff";
  --created-border: "#254839ff";
  --deleted: "#ea6e92ff";
  --deleted-background: "#431720ff";
  --deleted-border: "#612834ff";
  --drop_target-background: "#85819e80";
  --editor-active_line-background: "#090819";
  --editor-active_line_number: "#e0def4ff";
  --editor-active_wrap_guide: "#e0def41a";
  --editor-background: "#090819";
  --editor-document_highlight-read_background: "#9bced61a";
  --editor-document_highlight-write_background: "#59557166";
  --editor-foreground: "#e0def4ff";
  --editor-gutter-background: "#090819";
  --editor-highlighted_line-background: "#090819";
  --editor-invisible: "#595571ff";
  --editor-line_number: "#e0def459";
  --editor-subheader-background: "#090819";
  --editor-wrap_guide: "#e0def40d";
  --element-active: "#4f4b66ff";
  --element-background: "#090819";
  --element-disabled: null;
  --element-hover: "#322f48ff";
  --element-selected: "#4f4b66ff";
  --elevated_surface-background: null;
  --error: "#ea6e92ff";
  --error-background: "#431720ff";
  --error-border: "#612834ff";
  --ghost_element-active: "#4f4b66ff";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#090819";
  --ghost_element-hover: "#322f48ff";
  --ghost_element-selected: "#4f4b66ff";
  --hidden: "#605d7aff";
  --hidden-background: "#38354eff";
  --hidden-border: "#44415bff";
  --hint: "#728aa2ff";
  --hint-background: "#2f3639ff";
  --hint-border: "#435255ff";
  --icon: "#e0def4ff";
  --icon-accent: "#9bced6ff";
  --icon-disabled: "#605d7aff";
  --icon-muted: "#cc55ccff";
  --icon-placeholder: "#cc55ccff";
  --ignored: "#cc55ccff";
  --ignored-background: "#38354eff";
  --ignored-border: "#504c68ff";
  --info: "#9bced6ff";
  --info-background: "#2f3639ff";
  --info-border: "#435255ff";
  --link_text-hover: "#9bced6ff";
  --modified: "#f5c1c7ff";
  --modified-background: "#50331aff";
  --modified-border: "#6d4d2bff";
  --pane-focused_border: null;
  --panel-background: "#090819";
  --panel-focused_border: null;
  --predictive: "#516b83ff";
  --predictive-background: "#182d23ff";
  --predictive-border: "#254839ff";
  --renamed: "#9bced6ff";
  --renamed-background: "#2f3639ff";
  --renamed-border: "#435255ff";
  --scrollbar-thumb-border: "#322f48ff";
  --scrollbar-thumb-hover_background: "#322f48ff";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#27243bff";
  --scrollbar_thumb-background: "#e0def44c";
  --search-match_background: "#9cced766";
  --status_bar-background: "#090819";
  --success: "#5cc1a3ff";
  --success-background: "#182d23ff";
  --success-border: "#254839ff";
  --surface-background: "#090819";
  --tab-active_background: "#090819";
  --tab-inactive_background: "#090819";
  --tab_bar-background: "#090819";
  --terminal-ansi-black: "#090819";
  --terminal-ansi-blue: "#9bced6ff";
  --terminal-ansi-bright_black: "#3f3b58ff";
  --terminal-ansi-bright_blue: "#566b70ff";
  --terminal-ansi-bright_cyan: "#264654ff";
  --terminal-ansi-bright_green: "#31614fff";
  --terminal-ansi-bright_magenta: "#51414eff";
  --terminal-ansi-bright_red: "#7e3647ff";
  --terminal-ansi-bright_white: "#e0def4ff";
  --terminal-ansi-bright_yellow: "#8a643aff";
  --terminal-ansi-cyan: "#3e8fb0ff";
  --terminal-ansi-dim_black: "#e0def4ff";
  --terminal-ansi-dim_blue: "#cfe7ebff";
  --terminal-ansi-dim_cyan: "#a5c5d7ff";
  --terminal-ansi-dim_green: "#b3e1d1ff";
  --terminal-ansi-dim_magenta: "#d2bfceff";
  --terminal-ansi-dim_red: "#fab9c6ff";
  --terminal-ansi-dim_white: "#74708dff";
  --terminal-ansi-dim_yellow: "#fedfbbff";
  --terminal-ansi-green: "#5cc1a3ff";
  --terminal-ansi-magenta: "#a683a0ff";
  --terminal-ansi-red: "#ea6e92ff";
  --terminal-ansi-white: "#e0def4ff";
  --terminal-ansi-yellow: "#f5c177ff";
  --terminal-background: "#090819";
  --terminal-bright_foreground: "#e0def4ff";
  --terminal-dim_foreground: "#090819";
  --terminal-foreground: "#e0def4ff";
  --text: "#e0def4ff";
  --text-accent: "#9bced6ff";
  --text-disabled: "#605d7aff";
  --text-muted: "#cc55ccff";
  --text-placeholder: "#605d7aff";
  --title_bar-background: "#090819";
  --toolbar-background: "#090819";
  --unreachable: "#cc55ccff";
  --unreachable-background: "#38354eff";
  --unreachable-border: "#504c68ff";
  --warning: "#f5c177ff";
  --warning-background: "#50331aff";
  --warning-border: "#6d4d2bff";
  --player-1-background: "#9bced6ff";
  --player-1-cursor: "#9bced6ff";
  --player-1-selection: "#9bced63d";
  --player-2-background: "#a683a0ff";
  --player-2-cursor: "#a683a0ff";
  --player-2-selection: "#a683a03d";
  --player-3-background: "#c4a7e6ff";
  --player-3-cursor: "#c4a7e6ff";
  --player-3-selection: "#c4a7e63d";
  --player-4-background: "#c4a7e6ff";
  --player-4-cursor: "#c4a7e6ff";
  --player-4-selection: "#c4a7e63d";
  --player-5-background: "#3e8fb0ff";
  --player-5-cursor: "#3e8fb0ff";
  --player-5-selection: "#3e8fb03d";
  --player-6-background: "#ea6e92ff";
  --player-6-cursor: "#ea6e92ff";
  --player-6-selection: "#ea6e923d";
  --player-7-background: "#f5c177ff";
  --player-7-cursor: "#f5c177ff";
  --player-7-selection: "#f5c1773d";
  --player-8-background: "#5cc1a3ff";
  --player-8-cursor: "#5cc1a3ff";
  --player-8-selection: "#5cc1a33d";
  --syntax-attribute-color: "#6494A9";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#CCA0EB";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#546A90";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: 200;
  --syntax-comment-doc-color: "#546A90";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: 200;
  --syntax-constant-color: "#42C6FF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#6494A9";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#e0def4ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#6494A9";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#6494A9";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#c4a7e6ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#CCA0EB";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-method-color: "#CCA0EB";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-hint-color: "#728aa2ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#FF2AFC";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: 200;
  --syntax-label-color: "#6494A9";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#42C6FF";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#CCA0EB";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#42C6FF";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#3d8fb0ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#516b83ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#e0def4ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#e0def4ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#FF2AFC";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#908caaff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#aeabc6ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#aeabc6ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#aeabc6ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#A3D6E0";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#DF85FF";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#8682a0ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#DF85FF";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#DF85FF";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#DF85FF";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#42C6FF";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#DF85FF";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#f5c177ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#42C6FF";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#42C6FF";
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-variable-color: "#e0def4ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variant-color: "#6494A9";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
