:root {
  --background: "#0c0a20ff";
  --border: "#090819";
  --border_disabled: "#090819";
  --border_focused: null;
  --border_selected: "#090819";
  --border_transparent: "#090819";
  --border_variant: "#090819";
  --conflict: "#f5c1c7ff";
  --conflict_background: "#50331aff";
  --conflict_border: "#6d4d2bff";
  --created: "#5cc1a3ff";
  --created_background: "#182d23ff";
  --created_border: "#254839ff";
  --deleted: "#ea6e92ff";
  --deleted_background: "#431720ff";
  --deleted_border: "#612834ff";
  --drop_target_background: "#85819e80";
  --editor_active_line_background: "#090819";
  --editor_active_line_number: "#e0def4ff";
  --editor_active_wrap_guide: "#e0def41a";
  --editor_background: "#090819";
  --editor_document_highlight_read_background: "#9bced61a";
  --editor_document_highlight_write_background: "#59557166";
  --editor_foreground: "#e0def4ff";
  --editor_gutter_background: "#090819";
  --editor_highlighted_line_background: "#090819";
  --editor_invisible: "#595571ff";
  --editor_line_number: "#e0def459";
  --editor_subheader_background: "#090819";
  --editor_wrap_guide: "#e0def40d";
  --element_active: "#4f4b66ff";
  --element_background: "#090819";
  --element_disabled: null;
  --element_hover: "#322f48ff";
  --element_selected: "#4f4b66ff";
  --elevated_surface_background: null;
  --error: "#ea6e92ff";
  --error_background: "#431720ff";
  --error_border: "#612834ff";
  --ghost_element_active: "#4f4b66ff";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#090819";
  --ghost_element_hover: "#322f48ff";
  --ghost_element_selected: "#4f4b66ff";
  --hidden: "#605d7aff";
  --hidden_background: "#38354eff";
  --hidden_border: "#44415bff";
  --hint: "#728aa2ff";
  --hint_background: "#2f3639ff";
  --hint_border: "#435255ff";
  --icon: "#e0def4ff";
  --icon_accent: "#9bced6ff";
  --icon_disabled: "#605d7aff";
  --icon_muted: "#cc55ccff";
  --icon_placeholder: "#cc55ccff";
  --ignored: "#cc55ccff";
  --ignored_background: "#38354eff";
  --ignored_border: "#504c68ff";
  --info: "#9bced6ff";
  --info_background: "#2f3639ff";
  --info_border: "#435255ff";
  --link_text_hover: "#9bced6ff";
  --modified: "#f5c1c7ff";
  --modified_background: "#50331aff";
  --modified_border: "#6d4d2bff";
  --pane_focused_border: null;
  --panel_background: "#090819";
  --panel_focused_border: null;
  --predictive: "#516b83ff";
  --predictive_background: "#182d23ff";
  --predictive_border: "#254839ff";
  --renamed: "#9bced6ff";
  --renamed_background: "#2f3639ff";
  --renamed_border: "#435255ff";
  --scrollbar_thumb_border: "#322f48ff";
  --scrollbar_thumb_hover_background: "#322f48ff";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#27243bff";
  --scrollbar_thumb_background: "#e0def44c";
  --search_match_background: "#9cced766";
  --status_bar_background: "#090819";
  --success: "#5cc1a3ff";
  --success_background: "#182d23ff";
  --success_border: "#254839ff";
  --surface_background: "#090819";
  --tab_active_background: "#090819";
  --tab_inactive_background: "#090819";
  --tab_bar_background: "#090819";
  --terminal_ansi_black: "#090819";
  --terminal_ansi_blue: "#9bced6ff";
  --terminal_ansi_bright_black: "#3f3b58ff";
  --terminal_ansi_bright_blue: "#566b70ff";
  --terminal_ansi_bright_cyan: "#264654ff";
  --terminal_ansi_bright_green: "#31614fff";
  --terminal_ansi_bright_magenta: "#51414eff";
  --terminal_ansi_bright_red: "#7e3647ff";
  --terminal_ansi_bright_white: "#e0def4ff";
  --terminal_ansi_bright_yellow: "#8a643aff";
  --terminal_ansi_cyan: "#3e8fb0ff";
  --terminal_ansi_dim_black: "#e0def4ff";
  --terminal_ansi_dim_blue: "#cfe7ebff";
  --terminal_ansi_dim_cyan: "#a5c5d7ff";
  --terminal_ansi_dim_green: "#b3e1d1ff";
  --terminal_ansi_dim_magenta: "#d2bfceff";
  --terminal_ansi_dim_red: "#fab9c6ff";
  --terminal_ansi_dim_white: "#74708dff";
  --terminal_ansi_dim_yellow: "#fedfbbff";
  --terminal_ansi_green: "#5cc1a3ff";
  --terminal_ansi_magenta: "#a683a0ff";
  --terminal_ansi_red: "#ea6e92ff";
  --terminal_ansi_white: "#e0def4ff";
  --terminal_ansi_yellow: "#f5c177ff";
  --terminal_background: "#090819";
  --terminal_bright_foreground: "#e0def4ff";
  --terminal_dim_foreground: "#090819";
  --terminal_foreground: "#e0def4ff";
  --text: "#e0def4ff";
  --text_accent: "#9bced6ff";
  --text_disabled: "#605d7aff";
  --text_muted: "#cc55ccff";
  --text_placeholder: "#605d7aff";
  --title_bar_background: "#090819";
  --toolbar_background: "#090819";
  --unreachable: "#cc55ccff";
  --unreachable_background: "#38354eff";
  --unreachable_border: "#504c68ff";
  --warning: "#f5c177ff";
  --warning_background: "#50331aff";
  --warning_border: "#6d4d2bff";
  --player_1_background: "#9bced6ff";
  --player_1_cursor: "#9bced6ff";
  --player_1_selection: "#9bced63d";
  --player_2_background: "#a683a0ff";
  --player_2_cursor: "#a683a0ff";
  --player_2_selection: "#a683a03d";
  --player_3_background: "#c4a7e6ff";
  --player_3_cursor: "#c4a7e6ff";
  --player_3_selection: "#c4a7e63d";
  --player_4_background: "#c4a7e6ff";
  --player_4_cursor: "#c4a7e6ff";
  --player_4_selection: "#c4a7e63d";
  --player_5_background: "#3e8fb0ff";
  --player_5_cursor: "#3e8fb0ff";
  --player_5_selection: "#3e8fb03d";
  --player_6_background: "#ea6e92ff";
  --player_6_cursor: "#ea6e92ff";
  --player_6_selection: "#ea6e923d";
  --player_7_background: "#f5c177ff";
  --player_7_cursor: "#f5c177ff";
  --player_7_selection: "#f5c1773d";
  --player_8_background: "#5cc1a3ff";
  --player_8_cursor: "#5cc1a3ff";
  --player_8_selection: "#5cc1a33d";
  --syntax_attribute_color: "#6494A9";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#CCA0EB";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#546A90";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: 200;
  --syntax_comment_doc_color: "#546A90";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: 200;
  --syntax_constant_color: "#42C6FF";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#6494A9";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#e0def4ff";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#6494A9";
  --syntax_emphasis_font_style: null;
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#6494A9";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#c4a7e6ff";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#CCA0EB";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_method_color: "#CCA0EB";
  --syntax_function_method_font_style: null;
  --syntax_function_method_font_weight: null;
  --syntax_hint_color: "#728aa2ff";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#FF2AFC";
  --syntax_keyword_font_style: "italic";
  --syntax_keyword_font_weight: 200;
  --syntax_label_color: "#6494A9";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#42C6FF";
  --syntax_link_text_font_style: "normal";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#CCA0EB";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#42C6FF";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#3d8fb0ff";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#516b83ff";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#e0def4ff";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#e0def4ff";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#FF2AFC";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#908caaff";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#aeabc6ff";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#aeabc6ff";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#aeabc6ff";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#A3D6E0";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#DF85FF";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#8682a0ff";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#DF85FF";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#DF85FF";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#DF85FF";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#42C6FF";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#DF85FF";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#f5c177ff";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#42C6FF";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_type_builtin_color: "#42C6FF";
  --syntax_type_builtin_font_style: null;
  --syntax_type_builtin_font_weight: null;
  --syntax_variable_color: "#e0def4ff";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variant_color: "#6494A9";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
