:root {
  --accents: [];
  --background: "#0a0a0a";
  --background-appearance: "opaque";
  --border: "#242424";
  --border-disabled: "#242424";
  --border-focused: "#00000000";
  --border-selected: "#242424";
  --border-transparent: "#242424";
  --border-variant: "#242424";
  --conflict: "#ff9907";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#62c073";
  --created-background: null;
  --created-border: null;
  --deleted: "#f75f8f";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: "#ffffff1a";
  --editor-active_line_number: "#ededed";
  --editor-active_wrap_guide: "#242424";
  --editor-background: "#0a0a0a";
  --editor-document_highlight-bracket_background: null;
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#ededed";
  --editor-gutter-background: "#0a0a0a";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: null;
  --editor-invisible: null;
  --editor-line_number: "#878787";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#242424";
  --element-active: null;
  --element-background: "#ededed";
  --element-disabled: null;
  --element-hover: "#ffffff1a";
  --element-selected: "#ffffff1a";
  --elevated_surface-background: "#000000";
  --error: null;
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#ffffff1a";
  --ghost_element-selected: "#ffffff1a";
  --hidden: "#a1a1a1";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#a1a1a1";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#777777";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#52a8ff";
  --modified: "#ff9907";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#242424";
  --panel-background: "#000000";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#333333";
  --scrollbar-thumb-border: "#333333";
  --scrollbar-thumb-hover_background: "#333333";
  --scrollbar-track-background: "#0a0a0a";
  --scrollbar-track-border: "#000000";
  --search-match_background: null;
  --status_bar-background: "#000000";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#000000";
  --tab-active_background: "#0a0a0a";
  --tab-inactive_background: "#000000";
  --tab_bar-background: "#000000";
  --terminal-ansi-background: null;
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#52a8ff";
  --terminal-ansi-bright_black: "#676767";
  --terminal-ansi-bright_blue: "#52a8ff";
  --terminal-ansi-bright_cyan: "#1da9b0";
  --terminal-ansi-bright_green: "#62c073";
  --terminal-ansi-bright_magenta: "#c472fb";
  --terminal-ansi-bright_red: "#f75f8f";
  --terminal-ansi-bright_white: "#ededed";
  --terminal-ansi-bright_yellow: "#ff9907";
  --terminal-ansi-cyan: "#1da9b0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#62c073";
  --terminal-ansi-magenta: "#c472fb";
  --terminal-ansi-red: "#f75f8f";
  --terminal-ansi-white: "#a1a1a1";
  --terminal-ansi-yellow: "#ff9907";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#a1a1a1";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#a1a1a1";
  --text-placeholder: null;
  --title_bar-background: "#000000";
  --title_bar-inactive_background: null;
  --toolbar-background: "#0a0a0a";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: null;
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#c472fb";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-background_color: null;
  --syntax-boolean-color: "#52a8ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#a1a1a1";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-background_color: null;
  --syntax-comment-doc-color: "#a1a1a1";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-background_color: null;
  --syntax-constant-color: "#52a8ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#62c073";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-background_color: null;
  --syntax-emphasis-color: "#ededed";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-background_color: null;
  --syntax-emphasis-strong-color: "#ededed";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-background_color: null;
  --syntax-function-color: "#c472fb";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#f75f8f";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-background_color: null;
  --syntax-label-color: "#52a8ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-background_color: null;
  --syntax-link_text-color: "#52a8ff";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-background_color: null;
  --syntax-link_uri-color: "#52a8ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-background_color: null;
  --syntax-number-color: "#52a8ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-background_color: null;
  --syntax-operator-color: "#f75f8f";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-background_color: null;
  --syntax-property-color: "#52a8ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-string-background_color: null;
  --syntax-string-color: "#62c073";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#62c073";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#62c073";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#62c073";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#62c073";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#62c073";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#62c073";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-background_color: null;
  --syntax-title-color: "#52a8ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-background_color: null;
  --syntax-type-color: "#c472fb";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-background_color: null;
  --syntax-variable-color: "#ededed";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-background_color: null;
  --syntax-variable-special-color: "#52a8ff";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
