:root {
  --background: "#201D1DFF";
  --border: "#514543FF";
  --border_disabled: "#19424dff";
  --border_focused: "#";
  --border_selected: "#";
  --border_transparent: "#00000000";
  --border_variant: "#4B3C3AFF";
  --conflict: "#b58902ff";
  --conflict_background: "#2e1d0cff";
  --conflict_border: "#47300fff";
  --created: "#849903ff";
  --created_background: "#1e210cff";
  --created_border: "#313510ff";
  --deleted: "#dc3330ff";
  --deleted_background: "#4a080eff";
  --deleted_border: "#641015ff";
  --drop_target_background: "#93a1a180";
  --editor_active_line_background: "#4B3C3A70";
  --editor_active_line_number: "#BAB3BCFF";
  --editor_active_wrap_guide: "#fdf6e31a";
  --editor_background: "#181616FF";
  --editor_document_highlight_read_background: "#BAB3BC1A";
  --editor_document_highlight_write_background: "#BAB3BC1A";
  --editor_foreground: "#BAB3BCFF";
  --editor_gutter_background: "#181616FF";
  --editor_highlighted_line_background: "#201D1DFF";
  --editor_invisible: "#7F717DFF";
  --editor_line_number: "#514543FF";
  --editor_subheader_background: "#201D1DFF";
  --editor_wrap_guide: "#fdf6e30d";
  --element_active: "#4B3C3AFF";
  --element_background: "#201D1DFF";
  --element_disabled: "#201D1DFF";
  --element_hover: "#4B3C3AFF";
  --element_selected: "#4B3C3AFF";
  --elevated_surface_background: "#201D1DFF";
  --error: "#dc3330ff";
  --error_background: "#4a080eff";
  --error_border: "#641015ff";
  --ghost_element_active: "#4B3C3AFF";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#201D1DFF";
  --ghost_element_hover: "#4B3C3AFF";
  --ghost_element_selected: "#4B3C3AFF";
  --hidden: "#5C515BFF";
  --hidden_background: "#201D1DFF";
  --hidden_border: "#19424dff";
  --hint: "#4f8297ff";
  --hint_background: "#141f2cff";
  --hint_border: "#";
  --icon: "#BAB3BCFF";
  --icon_accent: "#DDE9EEFF";
  --icon_disabled: "#5C515BFF";
  --icon_muted: "#7F717DFF";
  --icon_placeholder: "#7F717DFF";
  --ignored: "#5C515BFF";
  --ignored_background: "#201D1DFF";
  --ignored_border: "#514543FF";
  --info: "#DDE9EEFF";
  --info_background: "#141f2cff";
  --info_border: "#";
  --link_text_hover: "#DDE9EEFF";
  --modified: "#b58902ff";
  --modified_background: "#2e1d0cff";
  --modified_border: "#47300fff";
  --pane_focused_border: null;
  --panel_background: "#201D1DFF";
  --panel_focused_border: null;
  --predictive: "#3f718bff";
  --predictive_background: "#1e210cff";
  --predictive_border: "#313510ff";
  --renamed: "#DDE9EEFF";
  --renamed_background: "#141f2cff";
  --renamed_border: "#";
  --scrollbar_thumb_background: "#BAB3BC4c";
  --scrollbar_thumb_border: "#4B3C3AFF";
  --scrollbar_thumb_hover_background: "#4B3C3AFF";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#00000000";
  --search_match_background: "#DDE9EE22";
  --status_bar_background: "#201D1DFF";
  --success: "#849903ff";
  --success_background: "#1e210cff";
  --success_border: "#313510ff";
  --surface_background: "#201D1DFF";
  --tab_active_background: "#181616FF";
  --tab_inactive_background: "#201D1DFF";
  --tab_bar_background: "#201D1DFF";
  --terminal_ansi_black: "#181616FF";
  --terminal_ansi_blue: "#DDE9EEFF";
  --terminal_ansi_bright_black: "#5c7279ff";
  --terminal_ansi_bright_blue: "#214365ff";
  --terminal_ansi_bright_cyan: "#204e4aff";
  --terminal_ansi_bright_green: "#434a10ff";
  --terminal_ansi_bright_magenta: "#6f1f3fff";
  --terminal_ansi_bright_red: "#7d181cff";
  --terminal_ansi_bright_white: "#BAB3BCFF";
  --terminal_ansi_bright_yellow: "#5d430fff";
  --terminal_ansi_cyan: "#2ba198ff";
  --terminal_ansi_dim_black: "#BAB3BCFF";
  --terminal_ansi_dim_blue: "#a5c3e9ff";
  --terminal_ansi_dim_cyan: "#9fd0cbff";
  --terminal_ansi_dim_green: "#c6cb8bff";
  --terminal_ansi_dim_magenta: "#f0a2beff";
  --terminal_ansi_dim_red: "#faa091ff";
  --terminal_ansi_dim_white: "#7b8e91ff";
  --terminal_ansi_dim_yellow: "#e0c189ff";
  --terminal_ansi_green: "#849903ff";
  --terminal_ansi_magenta: "#d33781ff";
  --terminal_ansi_red: "#dc3330ff";
  --terminal_ansi_white: "#BAB3BCFF";
  --terminal_ansi_yellow: "#b58902ff";
  --terminal_background: "#181616FF";
  --terminal_bright_foreground: "#BAB3BCFF";
  --terminal_dim_foreground: "#181616FF";
  --terminal_foreground: "#BAB3BCFF";
  --text: "#BAB3BCFF";
  --text_accent: "#DDE9EEFF";
  --text_disabled: "#5C515BFF";
  --text_muted: "#7F717DFF";
  --text_placeholder: "#5C515BFF";
  --title_bar_background: "#201D1DFF";
  --title_bar_inactive_background: "#201D1DFF";
  --toolbar_background: "#181616FF";
  --unreachable: "#7F717DFF";
  --unreachable_background: "#201D1DFF";
  --unreachable_border: "#514543FF";
  --warning: "#b58902ff";
  --warning_background: "#2e1d0cff";
  --warning_border: "#47300fff";
  --player_1_background: "#BAB3BCFF";
  --player_1_cursor: "#BAB3BCFF";
  --player_1_selection: "#BAB3BC1D";
  --player_2_background: "#d33781ff";
  --player_2_cursor: "#d33781ff";
  --player_2_selection: "#d337813d";
  --player_3_background: "#cb4b16ff";
  --player_3_cursor: "#cb4b16ff";
  --player_3_selection: "#cb4b163d";
  --player_4_background: "#6c71c4ff";
  --player_4_cursor: "#6c71c4ff";
  --player_4_selection: "#6c71c43d";
  --player_5_background: "#2ba198ff";
  --player_5_cursor: "#2ba198ff";
  --player_5_selection: "#2ba1983d";
  --player_6_background: "#dc3330ff";
  --player_6_cursor: "#dc3330ff";
  --player_6_selection: "#dc33303d";
  --player_7_background: "#b58902ff";
  --player_7_cursor: "#b58902ff";
  --player_7_selection: "#b589023d";
  --player_8_background: "#849903ff";
  --player_8_cursor: "#849903ff";
  --player_8_selection: "#8499033d";
  --syntax_attribute_color: "#DDE9EEFF";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#99DE4AFF";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#5C515BFF";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#5C515BFF";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#99DE4AFF";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#DDE9EEFF";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#BAB3BCFF";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#DDE9EEFF";
  --syntax_emphasis_font_style: null;
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#DDE9EEFF";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#cb4b16ff";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#6B7CEBFF";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#4f8297ff";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#AE360AFF";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#DDE9EEFF";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#cb4b16ff";
  --syntax_link_text_font_style: "italic";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#849903ff";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#98DDDAFF";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#FFA51FFF";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#3f718bff";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#BAB3BCFF";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#BAB3BCFF";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#DDE9EEFF";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#efe9d6ff";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#7F717DFF";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#7F717DFF";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#7F717DFF";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#7F717DFF";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#E17F99FF";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#E17F99FF";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#E17F99FF";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#E17F99FF";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#E17F99FF";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#DDE9EEFF";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#DDE9EEFF";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#BAB3BCFF";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#FF7A33FF";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#BAB3BCFF";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variant_color: "#DDE9EEFF";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
