:root {
  --background: "#201D1DFF";
  --border: "#514543FF";
  --border-disabled: "#19424dff";
  --border-focused: "#";
  --border-selected: "#";
  --border-transparent: "#00000000";
  --border-variant: "#4B3C3AFF";
  --conflict: "#b58902ff";
  --conflict-background: "#2e1d0cff";
  --conflict-border: "#47300fff";
  --created: "#849903ff";
  --created-background: "#1e210cff";
  --created-border: "#313510ff";
  --deleted: "#dc3330ff";
  --deleted-background: "#4a080eff";
  --deleted-border: "#641015ff";
  --drop_target-background: "#93a1a180";
  --editor-active_line-background: "#4B3C3A70";
  --editor-active_line_number: "#BAB3BCFF";
  --editor-active_wrap_guide: "#fdf6e31a";
  --editor-background: "#181616FF";
  --editor-document_highlight-read_background: "#BAB3BC1A";
  --editor-document_highlight-write_background: "#BAB3BC1A";
  --editor-foreground: "#BAB3BCFF";
  --editor-gutter-background: "#181616FF";
  --editor-highlighted_line-background: "#201D1DFF";
  --editor-invisible: "#7F717DFF";
  --editor-line_number: "#514543FF";
  --editor-subheader-background: "#201D1DFF";
  --editor-wrap_guide: "#fdf6e30d";
  --element-active: "#4B3C3AFF";
  --element-background: "#201D1DFF";
  --element-disabled: "#201D1DFF";
  --element-hover: "#4B3C3AFF";
  --element-selected: "#4B3C3AFF";
  --elevated_surface-background: "#201D1DFF";
  --error: "#dc3330ff";
  --error-background: "#4a080eff";
  --error-border: "#641015ff";
  --ghost_element-active: "#4B3C3AFF";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#201D1DFF";
  --ghost_element-hover: "#4B3C3AFF";
  --ghost_element-selected: "#4B3C3AFF";
  --hidden: "#5C515BFF";
  --hidden-background: "#201D1DFF";
  --hidden-border: "#19424dff";
  --hint: "#4f8297ff";
  --hint-background: "#141f2cff";
  --hint-border: "#";
  --icon: "#BAB3BCFF";
  --icon-accent: "#DDE9EEFF";
  --icon-disabled: "#5C515BFF";
  --icon-muted: "#7F717DFF";
  --icon-placeholder: "#7F717DFF";
  --ignored: "#5C515BFF";
  --ignored-background: "#201D1DFF";
  --ignored-border: "#514543FF";
  --info: "#DDE9EEFF";
  --info-background: "#141f2cff";
  --info-border: "#";
  --link_text-hover: "#DDE9EEFF";
  --modified: "#b58902ff";
  --modified-background: "#2e1d0cff";
  --modified-border: "#47300fff";
  --pane-focused_border: null;
  --panel-background: "#201D1DFF";
  --panel-focused_border: null;
  --predictive: "#3f718bff";
  --predictive-background: "#1e210cff";
  --predictive-border: "#313510ff";
  --renamed: "#DDE9EEFF";
  --renamed-background: "#141f2cff";
  --renamed-border: "#";
  --scrollbar-thumb-background: "#BAB3BC4c";
  --scrollbar-thumb-border: "#4B3C3AFF";
  --scrollbar-thumb-hover_background: "#4B3C3AFF";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#DDE9EE22";
  --status_bar-background: "#201D1DFF";
  --success: "#849903ff";
  --success-background: "#1e210cff";
  --success-border: "#313510ff";
  --surface-background: "#201D1DFF";
  --tab-active_background: "#181616FF";
  --tab-inactive_background: "#201D1DFF";
  --tab_bar-background: "#201D1DFF";
  --terminal-ansi-black: "#181616FF";
  --terminal-ansi-blue: "#DDE9EEFF";
  --terminal-ansi-bright_black: "#5c7279ff";
  --terminal-ansi-bright_blue: "#214365ff";
  --terminal-ansi-bright_cyan: "#204e4aff";
  --terminal-ansi-bright_green: "#434a10ff";
  --terminal-ansi-bright_magenta: "#6f1f3fff";
  --terminal-ansi-bright_red: "#7d181cff";
  --terminal-ansi-bright_white: "#BAB3BCFF";
  --terminal-ansi-bright_yellow: "#5d430fff";
  --terminal-ansi-cyan: "#2ba198ff";
  --terminal-ansi-dim_black: "#BAB3BCFF";
  --terminal-ansi-dim_blue: "#a5c3e9ff";
  --terminal-ansi-dim_cyan: "#9fd0cbff";
  --terminal-ansi-dim_green: "#c6cb8bff";
  --terminal-ansi-dim_magenta: "#f0a2beff";
  --terminal-ansi-dim_red: "#faa091ff";
  --terminal-ansi-dim_white: "#7b8e91ff";
  --terminal-ansi-dim_yellow: "#e0c189ff";
  --terminal-ansi-green: "#849903ff";
  --terminal-ansi-magenta: "#d33781ff";
  --terminal-ansi-red: "#dc3330ff";
  --terminal-ansi-white: "#BAB3BCFF";
  --terminal-ansi-yellow: "#b58902ff";
  --terminal-background: "#181616FF";
  --terminal-bright_foreground: "#BAB3BCFF";
  --terminal-dim_foreground: "#181616FF";
  --terminal-foreground: "#BAB3BCFF";
  --text: "#BAB3BCFF";
  --text-accent: "#DDE9EEFF";
  --text-disabled: "#5C515BFF";
  --text-muted: "#7F717DFF";
  --text-placeholder: "#5C515BFF";
  --title_bar-background: "#201D1DFF";
  --title_bar-inactive_background: "#201D1DFF";
  --toolbar-background: "#181616FF";
  --unreachable: "#7F717DFF";
  --unreachable-background: "#201D1DFF";
  --unreachable-border: "#514543FF";
  --warning: "#b58902ff";
  --warning-background: "#2e1d0cff";
  --warning-border: "#47300fff";
  --player-1-background: "#BAB3BCFF";
  --player-1-cursor: "#BAB3BCFF";
  --player-1-selection: "#BAB3BC1D";
  --player-2-background: "#d33781ff";
  --player-2-cursor: "#d33781ff";
  --player-2-selection: "#d337813d";
  --player-3-background: "#cb4b16ff";
  --player-3-cursor: "#cb4b16ff";
  --player-3-selection: "#cb4b163d";
  --player-4-background: "#6c71c4ff";
  --player-4-cursor: "#6c71c4ff";
  --player-4-selection: "#6c71c43d";
  --player-5-background: "#2ba198ff";
  --player-5-cursor: "#2ba198ff";
  --player-5-selection: "#2ba1983d";
  --player-6-background: "#dc3330ff";
  --player-6-cursor: "#dc3330ff";
  --player-6-selection: "#dc33303d";
  --player-7-background: "#b58902ff";
  --player-7-cursor: "#b58902ff";
  --player-7-selection: "#b589023d";
  --player-8-background: "#849903ff";
  --player-8-cursor: "#849903ff";
  --player-8-selection: "#8499033d";
  --syntax-attribute-color: "#DDE9EEFF";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#99DE4AFF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#5C515BFF";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#5C515BFF";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#99DE4AFF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#DDE9EEFF";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#BAB3BCFF";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#DDE9EEFF";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#DDE9EEFF";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#cb4b16ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#6B7CEBFF";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#4f8297ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#AE360AFF";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#DDE9EEFF";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#cb4b16ff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#849903ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#98DDDAFF";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#FFA51FFF";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#3f718bff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#BAB3BCFF";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#BAB3BCFF";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#DDE9EEFF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#efe9d6ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#7F717DFF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#7F717DFF";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#7F717DFF";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#7F717DFF";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#E17F99FF";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#E17F99FF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#E17F99FF";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#E17F99FF";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#E17F99FF";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#DDE9EEFF";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#DDE9EEFF";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#BAB3BCFF";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#FF7A33FF";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#BAB3BCFF";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variant-color: "#DDE9EEFF";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
