:root {
  --background: "#3B224C";
  --border: null;
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --editor-active_line-background: "#281733";
  --editor-active_line_number: "#C9A8F9FF";
  --editor-active_wrap_guide: null;
  --editor-background: "#3B224C";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#f8f8f2ff";
  --editor-gutter-background: "#3B224C";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#777777";
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --elevated_surface-background: "#281733";
  --panel-background: "#281733";
  --predictive: "#565043";
  --status_bar-background: "#281733";
  --tab-active_background: "#281733";
  --tab_bar-background: "#281733";
  --terminal-ansi-black: "#333333";
  --terminal-ansi-blue: "#6A7EC8";
  --terminal-ansi-bright_black: "#666666";
  --terminal-ansi-bright_blue: "#819aff";
  --terminal-ansi-bright_cyan: "#66D9EF";
  --terminal-ansi-bright_green: "#9FF28F";
  --terminal-ansi-bright_magenta: "#AE81FF";
  --terminal-ansi-bright_red: "#f92672";
  --terminal-ansi-bright_white: "#f8f8f2";
  --terminal-ansi-bright_yellow: "#e2e22e";
  --terminal-ansi-cyan: "#56ADBC";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#86B42B";
  --terminal-ansi-magenta: "#8C6BC8";
  --terminal-ansi-red: "#C4265E";
  --terminal-ansi-white: "#e3e3dd";
  --terminal-ansi-yellow: "#B3B42B";
  --terminal-background: "#281733";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#f8f8f2ff";
  --text-accent: "#C9A8F9FF";
  --text-disabled: "#C9A8F950";
  --text-muted: "#a186c7ff";
  --text-placeholder: "#C9A8F980";
  --title_bar-background: "#281733";
  --toolbar-background: "#281733";
  --warning: "#e6e373ff";
  --warning-background: "#281733";
  --warning-border: "#e6e373ff";
  --syntax-attribute-color: "#f8f8f2ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#FFFFFF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#697C81";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#697C81";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#DBBFEF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ECCDBA";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#FFFFFF";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#ECCDBA";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#E8DCA0";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#ECCDBA";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#FFFFFF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#CCCCCC";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#CCCCCC";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#CCCCCC";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#CCCCCC";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#CCCCCC";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#7FB998";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#FFFFFF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#CCCCCC";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#CCCCCC";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#CCCCCC";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ECCDBA";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#CCCCCC";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#D9BDED";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#A4A0E8";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#A4A0E8";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
