:root {
  --background: "#191622";
  --border: null;
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --editor-active_line-background: "#281733";
  --editor-active_line_number: null;
  --editor-active_wrap_guide: null;
  --editor-background: "##191622";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: null;
  --editor-gutter-background: "#191622";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --elevated_surface-background: "#281733";
  --panel-background: "#281733";
  --predictive: "#5D5945";
  --status_bar-background: "#281733";
  --tab-active_background: "#281733";
  --tab_bar-background: "#281733";
  --terminal-ansi-black: "#333333";
  --terminal-ansi-blue: "#6A7EC8";
  --terminal-ansi-bright_black: "#666666";
  --terminal-ansi-bright_blue: "#819aff";
  --terminal-ansi-bright_cyan: "#66D9EF";
  --terminal-ansi-bright_green: "#9FF28F";
  --terminal-ansi-bright_magenta: "#AE81FF";
  --terminal-ansi-bright_red: "#f92672";
  --terminal-ansi-bright_white: "#f8f8f2";
  --terminal-ansi-bright_yellow: "#e2e22e";
  --terminal-ansi-cyan: "#56ADBC";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#86B42B";
  --terminal-ansi-magenta: "#8C6BC8";
  --terminal-ansi-red: "#C4265E";
  --terminal-ansi-white: "#e3e3dd";
  --terminal-ansi-yellow: "#B3B42B";
  --terminal-background: "#281733";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --title_bar-background: "#281733";
  --toolbar-background: "#281733";
  --syntax-attribute-color: "#9FF28F";
  --syntax-boolean-color: "#9FF28F";
  --syntax-comment-color: "#697C81";
  --syntax-comment-doc-color: "#697C81";
  --syntax-constant-color: "#77D1E1";
  --syntax-constructor-color: "#FA79C3";
  --syntax-embedded-color: "#CACCCA";
  --syntax-function-color: "#68E480";
  --syntax-keyword-color: "#FA79C3";
  --syntax-number-color: "#77CFE0";
  --syntax-operator-color: "#FA79C3";
  --syntax-property-color: "#FFFFFF";
  --syntax-punctuation-color: "#E6DD79";
  --syntax-punctuation-bracket-color: "#E6DD79";
  --syntax-punctuation-delimiter-color: "#E6DD79";
  --syntax-punctuation-list_marker-color: "#E6DD79";
  --syntax-punctuation-special-color: "#E6DD79";
  --syntax-string-color: "#E6DD79";
  --syntax-string-escape-color: "#FFFFFF";
  --syntax-string-regex-color: "#E6DD79";
  --syntax-string-special-color: "#E6DD79";
  --syntax-string-special-symbol-color: "#E6DD79";
  --syntax-tag-color: "#FA79C3";
  --syntax-text-literal-color: "#E6DD79";
  --syntax-type-color: "#D9BDED";
  --syntax-variable-color: "#FFFFFF";
  --syntax-variable-special-color: "#E29B63";
}
