:root {
  --background: "#FDF0ED";
  --border: null;
  --border-disabled: null;
  --border-focused: "#1A1C231A";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#07DA8CB3";
  --created-background: null;
  --created-border: null;
  --deleted: "#F43E5CB3";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#F9CEC380";
  --editor-active_line-background: "#F9CBBE4D";
  --editor-active_line_number: null;
  --editor-active_wrap_guide: null;
  --editor-background: "#FDF0ED";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: null;
  --editor-gutter-background: "#FDF0ED";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#06060C1A";
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: "#F9CBBE";
  --element-disabled: null;
  --element-hover: "#F9CBBE80";
  --element-selected: "#F9CBBE80";
  --elevated_surface-background: "#FADAD1";
  --error: "#F43E5C";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#F9CBBE80";
  --ghost_element-selected: "#F9CBBE80";
  --hidden: null;
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#06060C4D";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#E73665";
  --modified: "#1EAEAEB3";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: null;
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#F9CEC380";
  --scrollbar-thumb-border: "#F9CEC380";
  --scrollbar-thumb-hover_background: "#F9CEC3B3";
  --scrollbar-track-background: "#FDF0ED";
  --scrollbar-track-border: "#F9CBBE1A";
  --search-match_background: null;
  --status_bar-background: "#FDF0ED";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#FDF0ED";
  --tab-inactive_background: "#FDF0ED";
  --tab_bar-background: "#FDF0ED";
  --terminal-ansi-black: null;
  --terminal-ansi-blue: "#26BBD9";
  --terminal-ansi-bright_black: null;
  --terminal-ansi-bright_blue: "#3FC4DE";
  --terminal-ansi-bright_cyan: "#6BE4E6";
  --terminal-ansi-bright_green: "#3FDAA4";
  --terminal-ansi-bright_magenta: "#F075B5";
  --terminal-ansi-bright_red: "#EC6A88";
  --terminal-ansi-bright_white: null;
  --terminal-ansi-bright_yellow: "#FBC3A7";
  --terminal-ansi-cyan: "#59E1E3";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#29D398";
  --terminal-ansi-magenta: "#EE64AC";
  --terminal-ansi-red: "#E95678";
  --terminal-ansi-white: null;
  --terminal-ansi-yellow: "#FAB795";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#06060C";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: null;
  --text-placeholder: null;
  --title_bar-background: "#FDF0ED";
  --toolbar-background: "#FDF0ED";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#1EB980B3";
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-color: "#DC3318";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-color: "#33333380";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#33333380";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#DC3318";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#DA103F";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#1D8991";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#8A31B9";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#1D8991";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#8A31B9";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#F77D26";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#F6661E";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#F6661E";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#DC3318";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#333333";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#DA103F";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#333333";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#333333";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#333333";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#333333";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#333333";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-tag-color: "#DA103F";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-title-color: "#F77D26";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#F77D26";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#DA103F";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#F77D26";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
