:root {
  --background: "#292d3e";
  --border: "#1e1e1e";
  --border-variant: "#1e1e1e";
  --created: "#c8ffa7";
  --deleted: "#ff6262";
  --editor-background: "#292d3e";
  --editor-foreground: "#fefefc";
  --editor-gutter-background: "#292d3e";
  --element-selected: "#ff0000";
  --error: "#ff6262";
  --error-background: "#292d3e";
  --error-border: "#ff6262";
  --hint: "#b2b2b2";
  --modified: "#ffd596";
  --panel-background: "#292d3e";
  --status_bar-background: "#292d3e";
  --tab-active_background: "#292d3e";
  --tab-inactive_background: "#292d3e";
  --tab_bar-background: "#292d3e";
  --text: "#fefefc";
  --text-muted: "#b2b2b2";
  --title_bar-background: "#292d3e";
  --toolbar-background: "#292d3e";
  --warning: "#ffd596";
  --warning-background: "#292d3e";
  --warning-border: "#ffd596";
  --player-1-cursor: "#ffeffd";
  --player-1-selection: "#545765";
  --syntax-attribute-color: "#ffd596";
  --syntax-comment-color: "#b2b2b2";
  --syntax-comment-unused-color: "#b2b2b2";
  --syntax-constructor-color: "#9ce7ff";
  --syntax-field-color: "#ff0000";
  --syntax-function-color: "#9ce7ff";
  --syntax-keyword-color: "#ffd596";
  --syntax-module-color: "#ffddfa";
  --syntax-number-color: "#fdffab";
  --syntax-operator-color: "#ffaff3";
  --syntax-parameter-color: "#ff0000";
  --syntax-property-color: "#9ce7ff";
  --syntax-string-color: "#c8ffa7";
  --syntax-type-color: "#ffddfa";
  --syntax-variable-color: "#fefefc";
}
