:root {
  --accents: ["#022FB8","#C8099D","#007A01","null","#EC076F","#FFCC00","#7441C1","#515151","#EC076F","#022FB8","#C8099D","#007A01","null","#FFCC00"];
  --background: "#FEFEFE";
  --border: "#E5E9F1";
  --border-disabled: null;
  --border-focused: "#bf8cbc";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#E5E9F1";
  --conflict: "#FFCC00";
  --conflict-background: "#FFEEDAbf";
  --conflict-border: "#FFE1BEff";
  --created: "#62A35C";
  --created-background: "#e9efd2bf";
  --created-border: "#d7e3aeff";
  --deleted: "#EC076F";
  --deleted-background: "#EC076F50";
  --deleted-border: "#EC076F";
  --drop_target-background: null;
  --editor-active_line-background: "#f5f5f5";
  --editor-active_line_number: "#000000";
  --editor-active_wrap_guide: null;
  --editor-background: "#F5FAFF5f";
  --editor-document_highlight-read_background: "#e4e4e4";
  --editor-document_highlight-write_background: "#e4e4e4";
  --editor-foreground: "#000000";
  --editor-gutter-background: "#F5FAFF5f";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: "#22222220";
  --editor-indent_guide_active: "#22222250";
  --editor-invisible: "#007A01c0";
  --editor-line_number: "#AAA";
  --editor-subheader-background: "#F7F8FA";
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: "#DDE2EE";
  --element-disabled: null;
  --element-hover: "#EDEEF0";
  --element-selected: null;
  --elevated_surface-background: "#E5E9F1";
  --error: "#B52A1D";
  --error-background: "#FFE3E17f";
  --error-border: "#FFCDCAff";
  --ghost_element-active: "#DDE2EE";
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#DDE2EE";
  --ghost_element-selected: "#D0D8EB";
  --hidden: "#a9acaeff";
  --hidden-background: "#DCDDDE7f";
  --hidden-border: "#D5D6D8ff";
  --hint: "#8ca7c2ff";
  --hint-background: "#DEEBFA7f";
  --hint-border: "#C4DAF6ff";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#828A99";
  --ignored-background: "#DCDDDE7f";
  --ignored-border: "#cfd1d2ff";
  --info: "#3B9EE5ff";
  --info-background: "#DEEBFAbf";
  --info-border: "#C4DAF6ff";
  --link_text-hover: null;
  --modified: "#022FB8";
  --modified-background: "#022FB8";
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#F7F8FA";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#E5E9F100";
  --scrollbar-track-border: "#E5E9F1";
  --scrollbar_thumb-background: "#E5E9F1A0";
  --search-match_background: "#ffff54";
  --status_bar-background: "#FAFAFA";
  --success: "#62A35C";
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#fff";
  --tab-inactive_background: "#F7F8FA";
  --tab_bar-background: "#F7F8FA";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#022FB8";
  --terminal-ansi-bright_black: "#00000050";
  --terminal-ansi-bright_blue: "#022FB850";
  --terminal-ansi-bright_cyan: "#7441C150";
  --terminal-ansi-bright_green: "#007A0150";
  --terminal-ansi-bright_magenta: "#C8099D50";
  --terminal-ansi-bright_red: "#EC076F50";
  --terminal-ansi-bright_white: "#51515150";
  --terminal-ansi-bright_yellow: "#FFCC0050";
  --terminal-ansi-cyan: "#7441C1";
  --terminal-ansi-dim_black: "#00000050";
  --terminal-ansi-dim_blue: "#022FB8";
  --terminal-ansi-dim_cyan: "#7441C1";
  --terminal-ansi-dim_green: "#007A01";
  --terminal-ansi-dim_magenta: "#C8099D";
  --terminal-ansi-dim_red: "#EC076F";
  --terminal-ansi-dim_white: "#515151";
  --terminal-ansi-dim_yellow: "#FFCC00";
  --terminal-ansi-green: "#007A01";
  --terminal-ansi-magenta: "#C8099D";
  --terminal-ansi-red: "#EC076F";
  --terminal-ansi-white: "#515151";
  --terminal-ansi-yellow: "#FFCC00";
  --terminal-background: "#00000000";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#000000";
  --text: null;
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#222222";
  --text-placeholder: null;
  --title_bar-background: "#F7F8FA";
  --toolbar-background: "#FEFEFE";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#E9A329";
  --warning-background: "#FFEEDAbf";
  --warning-border: "#E9A329";
  --player-1-background: "#333333";
  --player-1-cursor: "#000000F0";
  --player-1-selection: "#dbffd3";
  --player-2-background: "#114D777f";
  --player-2-cursor: "#114D77ff";
  --player-2-selection: "#55B4D33d";
  --player-3-background: "#114D777f";
  --player-3-cursor: "#C1408A3d";
  --player-3-selection: "#55B4D33d";
  --player-4-background: "#114D777f";
  --player-4-cursor: "#ECB1543d";
  --player-4-selection: "#55B4D33d";
  --player-5-background: "#114D777f";
  --player-5-cursor: "#00671C3d";
  --player-5-selection: "#55B4D33d";
  --player-6-background: "#114D777f";
  --player-6-cursor: "#ef72713d";
  --player-6-selection: "#DCDDDE3d";
  --syntax-attribute-color: "#7441C1";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#EC076F";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: 700;
  --syntax-comment-color: "#f94a30";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: 700;
  --syntax-comment-doc-color: "#2F9080";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#000000";
  --syntax-constant-font_style: "italic";
  --syntax-constant-font_weight: 400;
  --syntax-constructor-color: "#A71D5D";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#EC076F";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#EC076F";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-function-color: "#a900ab";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-method-color: "#7441C1";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: 700;
  --syntax-keyword-color: "#EC076F";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 700;
  --syntax-number-color: "#007A01";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#A71D5D";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: 700;
  --syntax-property-color: "#000000";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#A71D5D";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#111";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#333333";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#007A01";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#000000";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#007EE4";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: 400;
  --syntax-string-escape-color: "#007A01";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#007EE4";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#0086B3";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#0086B3";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#022FB8";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: 700;
  --syntax-text-literal-color: "#007EE4";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#EC076F";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#022FB8";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 500;
  --syntax-variable-color: "#333333";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#333333";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
