:root {
  --accents: ["#022FB8","#C8099D","#007A01","null","#EC076F","#FFCC00","#7441C1","#3F5382","#EC076F","#022FB8","#C8099D","#007A01","null","#FFCC00"];
  --background: "#D9E9FFd7";
  --background-appearance: "blurred";
  --border: "#E7F1FF07";
  --border-disabled: null;
  --border-focused: "#bf8cbc";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#E7F1FF07";
  --conflict: "#FFCC00";
  --conflict-background: "#FFEEDAbf";
  --conflict-border: "#FFE1BEff";
  --created: "#1C7160";
  --created-background: "#e9efd2bf";
  --created-border: "#d7e3aeff";
  --deleted: "#EC076F";
  --deleted-background: "#EC076F";
  --deleted-border: "#EC076F";
  --drop_target-background: null;
  --editor-active_line-background: "#78AFFF10";
  --editor-active_line_number: "#000000";
  --editor-active_wrap_guide: null;
  --editor-background: "#00000000";
  --editor-document_highlight-read_background: "#78AFFF40";
  --editor-document_highlight-write_background: "#78AFFF40";
  --editor-foreground: "#000000";
  --editor-gutter-background: "#00000000";
  --editor-highlighted_line-background: "#0D4DB432";
  --editor-indent_guide: "#10258030";
  --editor-indent_guide_active: "#10258090";
  --editor-invisible: null;
  --editor-line_number: "#0A2A8B4f";
  --editor-subheader-background: "#CCE1FFed";
  --editor-wrap_guide: null;
  --element-active: "#B3D2FF74";
  --element-background: "#B3D2FFAF";
  --element-disabled: null;
  --element-hover: "#B3D2FF";
  --element-selected: null;
  --elevated_surface-background: "#CCE1FFf0";
  --error: "#B52A1D";
  --error-background: "#FFE3E1ef";
  --error-border: "#B52A1D";
  --ghost_element-active: "#99C4FF7F";
  --ghost_element-background: "#FFFFFF05";
  --ghost_element-disabled: null;
  --ghost_element-hover: "#E0ECFE80";
  --ghost_element-selected: "#0F49992a";
  --hidden: "#a9acaeff";
  --hidden-background: "#dcdddedf";
  --hidden-border: "#D5D6D8ff";
  --hint: "#00000040";
  --hint-background: "#DEEBFAdf";
  --hint-border: "#C4DAF6ff";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#435764";
  --ignored-background: "#5A6871";
  --ignored-border: "#5A6871";
  --info: "#3B9EE5ff";
  --info-background: "#DEEBFAdf";
  --info-border: "#C4DAF6ff";
  --link_text-hover: null;
  --modified: "#EC076F";
  --modified-background: "#022FB8";
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#00000000";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --scrollbar_thumb-background: null;
  --search-match_background: "#FFCC00";
  --status_bar-background: "#D9E9FFd7";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#D9E9FF";
  --tab-active_background: "#00000000";
  --tab-inactive_background: "#00000000";
  --tab_bar-background: "#00000000";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#022FB8";
  --terminal-ansi-bright_black: "#00000080";
  --terminal-ansi-bright_blue: "#022FB8";
  --terminal-ansi-bright_cyan: "#7441C1";
  --terminal-ansi-bright_green: "#007A01";
  --terminal-ansi-bright_magenta: "#C8099D";
  --terminal-ansi-bright_red: "#EC076F";
  --terminal-ansi-bright_white: "#3F5382a0";
  --terminal-ansi-bright_yellow: "#FFCC00";
  --terminal-ansi-cyan: "#7441C1";
  --terminal-ansi-dim_black: "#00000080";
  --terminal-ansi-dim_blue: "#022FB8";
  --terminal-ansi-dim_cyan: "#7441C1";
  --terminal-ansi-dim_green: "#007A01";
  --terminal-ansi-dim_magenta: "#C8099D";
  --terminal-ansi-dim_red: "#EC076F";
  --terminal-ansi-dim_white: "#3F5382e0";
  --terminal-ansi-dim_yellow: "#FFCC00";
  --terminal-ansi-green: "#007A01";
  --terminal-ansi-magenta: "#C8099D";
  --terminal-ansi-red: "#EC076F";
  --terminal-ansi-white: "#3F5382";
  --terminal-ansi-yellow: "#FFCC00";
  --terminal-background: "#00000000";
  --terminal-bright_foreground: "#000000a0";
  --terminal-dim_foreground: "#000000a0";
  --terminal-foreground: "#06204B";
  --text: "#06204B";
  --text-accent: "#EC076F";
  --text-disabled: "#06204BA0";
  --text-muted: "#06204BA0";
  --text-placeholder: "#06204BA0";
  --title_bar-background: "#D9E9FFd7";
  --toolbar-background: "#00000000";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#FFD52C";
  --warning-background: "#FFD52Cdf";
  --warning-border: "#BC9D1E";
  --player-1-background: "#00000000";
  --player-1-cursor: "#285193a2";
  --player-1-selection: "#78AFFF70";
  --player-2-background: "#114D777f";
  --player-2-cursor: "#114D77ff";
  --player-2-selection: "#55B4D33d";
  --player-3-background: "#114D777f";
  --player-3-cursor: "#C1408A3d";
  --player-3-selection: "#55B4D33d";
  --player-4-background: "#114D777f";
  --player-4-cursor: "#ECB1543d";
  --player-4-selection: "#55B4D33d";
  --player-5-background: "#114D777f";
  --player-5-cursor: "#00671C3d";
  --player-5-selection: "#55B4D33d";
  --player-6-background: "#114D777f";
  --player-6-cursor: "#ef72713d";
  --player-6-selection: "#55B4D33d";
  --syntax-attribute-color: "#7441C1";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#EC076F";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: 700;
  --syntax-comment-color: "#D02200";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: 700;
  --syntax-comment-doc-color: "#2F9080";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#000000";
  --syntax-constant-font_style: "italic";
  --syntax-constant-font_weight: 400;
  --syntax-constructor-color: "#EC076F";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#EC076F";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#EC076F";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-function-color: "#C8099D";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: 500;
  --syntax-function-method-color: "#7441C1";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: 700;
  --syntax-keyword-color: "#EC076F";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 700;
  --syntax-number-color: "#007453";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#A71D5D";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: 700;
  --syntax-property-color: "#000000";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#a71d5d";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#111";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#000000";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#007453";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#000000";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#102580";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: 300;
  --syntax-string-escape-color: "#a73728";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: 500;
  --syntax-string-regex-color: "#20358C";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#20358C";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#20358C";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#022FB8";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: 700;
  --syntax-text-literal-color: "#007EE4";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#EC076F";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#092579";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 700;
  --syntax-variable-color: "#000000";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#007A01";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
