:root {
  --background: "#eee8d5ff";
  --border: "#9faaa8ff";
  --border-disabled: "#b6bcb5ff";
  --border-focused: "#bfd3efff";
  --border-selected: "#bfd3efff";
  --border-transparent: "#00000000";
  --border-variant: "#dcdacbff";
  --conflict: "#b58900ff";
  --conflict-background: "#f5e6d0ff";
  --conflict-border: "#ebd3aaff";
  --created: "#859900ff";
  --created-background: "#e9ead0ff";
  --created-border: "#d6d9abff";
  --deleted: "#dc322fff";
  --deleted-background: "#ffd9d2ff";
  --deleted-border: "#ffbbafff";
  --drop_target-background: "#93a1a180";
  --editor-active_line-background: "#eee8d5bf";
  --editor-active_line_number: "#93a1a1ff";
  --editor-active_wrap_guide: "#657b831a";
  --editor-background: "#fdf6e3ff";
  --editor-document_highlight-read_background: "#268bd21a";
  --editor-document_highlight-write_background: "#6c828766";
  --editor-foreground: "#657b83ff";
  --editor-gutter-background: "#fdf6e3ff";
  --editor-highlighted_line-background: "#eee8d5ff";
  --editor-invisible: "#6c8287ff";
  --editor-line_number: "#93a1a159";
  --editor-subheader-background: "#eee8d5ff";
  --editor-wrap_guide: "#657b830d";
  --element-active: "#a2aca9ff";
  --element-background: "#eee8d5ff";
  --element-disabled: "#eee8d5ff";
  --element-hover: "#dcdacbff";
  --element-selected: "#a2aca9ff";
  --elevated_surface-background: "#eee8d5ff";
  --error: "#dc322fff";
  --error-background: "#ffd9d2ff";
  --error-border: "#ffbbafff";
  --ghost_element-active: "#a2aca9ff";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#eee8d5ff";
  --ghost_element-hover: "#a2aca9ff";
  --ghost_element-selected: "#a2aca9ff";
  --hidden: "#6a7f86ff";
  --hidden-background: "#cfd0c4ff";
  --hidden-border: "#b6bcb5ff";
  --hint: "#5789a3ff";
  --hint-background: "#dbe6f6ff";
  --hint-border: "#bfd3efff";
  --icon: "#586e75ff";
  --icon-accent: "#268bd2ff";
  --icon-disabled: "#93a1a1ff";
  --icon-muted: "#93a1a1ff";
  --icon-placeholder: "#93a1a1ff";
  --ignored: "#93a1a1ff";
  --ignored-background: "#cfd0c4ff";
  --ignored-border: "#9faaa8ff";
  --info: "#268bd2ff";
  --info-background: "#dbe6f6ff";
  --info-border: "#bfd3efff";
  --link_text-hover: "#268bd2ff";
  --modified: "#b58900ff";
  --modified-background: "#f5e6d0ff";
  --modified-border: "#ebd3aaff";
  --pane-focused_border: null;
  --panel-background: "#eee8d5ff";
  --panel-focused_border: null;
  --predictive: "#679aafff";
  --predictive-background: "#e9ead0ff";
  --predictive-border: "#d6d9abff";
  --renamed: "#268bd2ff";
  --renamed-background: "#dbe6f6ff";
  --renamed-border: "#bfd3efff";
  --scrollbar-thumb-border: "#dcdacbff";
  --scrollbar-thumb-hover_background: "#dcdacbff";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#dcdacbff";
  --scrollbar_thumb-background: "#657b834c";
  --search-match_background: "#298bd166";
  --status_bar-background: "#eee8d5ff";
  --success: "#859900ff";
  --success-background: "#e9ead0ff";
  --success-border: "#d6d9abff";
  --surface-background: "#eee8d5ff";
  --tab-active_background: "#fdf6e3ff";
  --tab-inactive_background: "#eee8d5ff";
  --tab_bar-background: "#eee8d5ff";
  --terminal-ansi-black: "#fdf6e3ff";
  --terminal-ansi-blue: "#268bd2ff";
  --terminal-ansi-bright_black: "#7b8e91ff";
  --terminal-ansi-bright_blue: "#a5c3e9ff";
  --terminal-ansi-bright_cyan: "#9fd0cbff";
  --terminal-ansi-bright_green: "#c6cb8bff";
  --terminal-ansi-bright_magenta: "#f0a2beff";
  --terminal-ansi-bright_red: "#faa091ff";
  --terminal-ansi-bright_white: "#657b83ff";
  --terminal-ansi-bright_yellow: "#e0c189ff";
  --terminal-ansi-cyan: "#2aa198ff";
  --terminal-ansi-dim_black: "#657b83ff";
  --terminal-ansi-dim_blue: "#214365ff";
  --terminal-ansi-dim_cyan: "#204e4aff";
  --terminal-ansi-dim_green: "#434a10ff";
  --terminal-ansi-dim_magenta: "#6f1f3fff";
  --terminal-ansi-dim_red: "#7d181cff";
  --terminal-ansi-dim_white: "#5c7279ff";
  --terminal-ansi-dim_yellow: "#5d430fff";
  --terminal-ansi-green: "#859900ff";
  --terminal-ansi-magenta: "#d33682ff";
  --terminal-ansi-red: "#dc322fff";
  --terminal-ansi-white: "#657b83ff";
  --terminal-ansi-yellow: "#b58900ff";
  --terminal-background: "#fdf6e3ff";
  --terminal-bright_foreground: "#657b83ff";
  --terminal-dim_foreground: "#fdf6e3ff";
  --terminal-foreground: "#657b83ff";
  --text: "#586e75ff";
  --text-accent: "#268bd2ff";
  --text-disabled: "#93a1a1ff";
  --text-muted: "#93a1a1ff";
  --text-placeholder: "#93a1a1ff";
  --title_bar-background: "#eee8d5ff";
  --toolbar-background: "#fdf6e3ff";
  --unreachable: "#93a1a1ff";
  --unreachable-background: "#cfd0c4ff";
  --unreachable-border: "#9faaa8ff";
  --warning: "#b58900ff";
  --warning-background: "#f5e6d0ff";
  --warning-border: "#ebd3aaff";
  --player-1-background: "#268bd2ff";
  --player-1-cursor: "#268bd2ff";
  --player-1-selection: "#268bd23d";
  --player-2-background: "#d33682ff";
  --player-2-cursor: "#d33682ff";
  --player-2-selection: "#d336823d";
  --player-3-background: "#cb4b16ff";
  --player-3-cursor: "#cb4b16ff";
  --player-3-selection: "#cb4b163d";
  --player-4-background: "#6c71c4ff";
  --player-4-cursor: "#6c71c4ff";
  --player-4-selection: "#6c71c43d";
  --player-5-background: "#2aa198ff";
  --player-5-cursor: "#2aa198ff";
  --player-5-selection: "#2aa1983d";
  --player-6-background: "#dc322fff";
  --player-6-cursor: "#dc322fff";
  --player-6-selection: "#dc322f3d";
  --player-7-background: "#b58900ff";
  --player-7-cursor: "#b58900ff";
  --player-7-selection: "#b589003d";
  --player-8-background: "#859900ff";
  --player-8-cursor: "#859900ff";
  --player-8-selection: "#8599003d";
  --syntax-attribute-color: "#268bd2ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#859900ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#93a1a1ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#93a1a1ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#859900ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#268bd2ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#657b83ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#268bd2ff";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#268bd2ff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#cb4b16ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#b58900ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#5789a3ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#dc322fff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#268bd2ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#cb4b16ff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#859900ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#859900ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#cb4b16ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#679aafff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#657b83ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#657b83ff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#268bd2ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#657b83ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#657b83ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#657b83ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#657b83ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#657b83ff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#cb4b16ff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#93a1a1ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#cb4b16ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#cb4b16ff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#cb4b16ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#268bd2ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#cb4b16ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#657b83ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#2aa198ff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#d33682ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variant-color: "#268bd2ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
