:root {
  --background: "#faf4ed";
  --border: "#f2e9e1";
  --border_disabled: "#f2e9e1";
  --border_focused: "#f2e9e1";
  --border_selected: "#f2e9e1";
  --border_transparent: "#f2e9e1";
  --border_variant: "#f2e9e1";
  --conflict: "#e7a26e";
  --conflict_background: "#faf4ed";
  --conflict_border: "#e7a26e";
  --created: "#c8342a";
  --created_background: "#faf4ed";
  --created_border: "#c8342a";
  --deleted: "#e7a26e";
  --deleted_background: "#faf4ed";
  --deleted_border: "#e7a26e";
  --drop_target_background: "#78aa9a";
  --editor_active_line_background: "#6e6a860d";
  --editor_active_line_number: "#526479";
  --editor_active_wrap_guide: "#758C93";
  --editor_background: "#faf4ed";
  --editor_document_highlight_read_background: "#6e6a8614";
  --editor_document_highlight_write_background: "#6e6a8614";
  --editor_foreground: "#526479";
  --editor_gutter_background: "#faf4ed";
  --editor_highlighted_line_background: null;
  --editor_invisible: "#93A0A5";
  --editor_line_number: "#758C93";
  --editor_subheader_background: "#fffaf3";
  --editor_wrap_guide: "#758C93";
  --element_active: "#78aa9a";
  --element_background: "#fffaf3";
  --element_disabled: "#93A0A5";
  --element_hover: "#f2e9e1";
  --element_selected: "#faf4ed";
  --elevated_surface_background: "#f2e9e1";
  --error: "#e7a26e";
  --error_background: "#faf4ed";
  --error_border: "#e7a26e";
  --ghost_element_active: "#78aa9a";
  --ghost_element_background: null;
  --ghost_element_disabled: "#93A0A5";
  --ghost_element_hover: "#f2e9e1";
  --ghost_element_selected: "#faf4ed";
  --hidden: "#758C93";
  --hidden_background: "#faf4ed";
  --hidden_border: "#758C93";
  --hint: "#78aa9a";
  --hint_background: "#faf4ed";
  --hint_border: "#78aa9a";
  --icon: "#758C93";
  --icon_accent: "#78aa9a";
  --icon_disabled: "#93A0A5";
  --icon_muted: "#93A0A5";
  --icon_placeholder: "#93A0A5";
  --ignored: "#758C93";
  --ignored_background: "#faf4ed";
  --ignored_border: "#758C93";
  --info: "#da5d3c";
  --info_background: "#faf4ed";
  --info_border: "#da5d3c";
  --link_text_hover: "#78aa9a";
  --modified: "#78aa9a";
  --modified_background: "#faf4ed";
  --modified_border: "#78aa9a";
  --pane_focused_border: "#faf4ed";
  --panel_background: "#faf4ed";
  --panel_focused_border: "#faf4ed";
  --predictive: "#78aa9a";
  --predictive_background: "#faf4ed";
  --predictive_border: "#78aa9a";
  --renamed: "#418b8d";
  --renamed_background: "#faf4ed";
  --renamed_border: "#418b8d";
  --scrollbar_thumb_border: "#f2e9e1";
  --scrollbar_thumb_hover_background: "#f2e9e1e6";
  --scrollbar_track_background: "#fffaf3";
  --scrollbar_track_border: "#6e6a8614";
  --scrollbar_thumb_background: "#f2e9e1";
  --search_match_background: "#6e6a8626";
  --status_bar_background: "#faf4ed";
  --success: "#c8342a";
  --success_background: "#faf4ed";
  --success_border: "#c8342a";
  --surface_background: "#faf4ed";
  --tab_active_background: "#faf4ed";
  --tab_inactive_background: "#f2e9e1";
  --tab_bar_background: "#faf4ed";
  --terminal_ansi_black: "#f2e9e1";
  --terminal_ansi_blue: "#418b8d";
  --terminal_ansi_bright_black: "#758C93";
  --terminal_ansi_bright_blue: "#418b8d";
  --terminal_ansi_bright_cyan: "#78aa9a";
  --terminal_ansi_bright_green: "#c8342a";
  --terminal_ansi_bright_magenta: "#3c63a6";
  --terminal_ansi_bright_red: "#e7a26e";
  --terminal_ansi_bright_white: "#526479";
  --terminal_ansi_bright_yellow: "#78aa9a";
  --terminal_ansi_cyan: "#78aa9a";
  --terminal_ansi_dim_black: "#f2e9e1";
  --terminal_ansi_dim_blue: "#418b8d";
  --terminal_ansi_dim_cyan: "#78aa9a";
  --terminal_ansi_dim_green: "#c8342a";
  --terminal_ansi_dim_magenta: "#3c63a6";
  --terminal_ansi_dim_red: "#e7a26e";
  --terminal_ansi_dim_white: "#526479";
  --terminal_ansi_dim_yellow: "#78aa9a";
  --terminal_ansi_green: "#c8342a";
  --terminal_ansi_magenta: "#3c63a6";
  --terminal_ansi_red: "#e7a26e";
  --terminal_ansi_white: "#526479";
  --terminal_ansi_yellow: "#78aa9a";
  --terminal_background: "#faf4ed";
  --terminal_bright_foreground: "#526479";
  --terminal_dim_foreground: "#758C93";
  --terminal_foreground: "#526479";
  --text: "#526479";
  --text_accent: "#78aa9a";
  --text_disabled: "#93A0A5";
  --text_muted: "#758C93";
  --text_placeholder: "#93A0A5";
  --title_bar_background: "#faf4ed";
  --toolbar_background: "#faf4ed";
  --unreachable: "#e7a26e";
  --unreachable_background: "#faf4ed";
  --unreachable_border: "#e7a26e";
  --warning: "#418b8d";
  --warning_background: "#faf4ed";
  --warning_border: "#418b8d";
  --player_1_background: "#526479";
  --player_1_cursor: "#526479";
  --player_1_selection: "#6e6a8614";
  --player_2_background: "#758C93";
  --player_2_cursor: "#758C93";
  --player_2_selection: "#6e6a8614";
  --player_3_background: "#93A0A5";
  --player_3_cursor: "#93A0A5";
  --player_3_selection: "#6e6a8614";
  --player_4_background: "#78aa9a";
  --player_4_cursor: "#78aa9a";
  --player_4_selection: "#6e6a8614";
  --player_5_background: "#faf4ed";
  --player_5_cursor: "#faf4ed";
  --player_5_selection: "#6e6a8614";
  --player_6_background: "#c8342a";
  --player_6_cursor: "#c8342a";
  --player_6_selection: "#6e6a8614";
  --player_7_background: "#da5d3c";
  --player_7_cursor: "#da5d3c";
  --player_7_selection: "#6e6a8614";
  --player_8_background: "#e7a26e";
  --player_8_cursor: "#e7a26e";
  --player_8_selection: "#6e6a8614";
  --syntax_attribute_color: "#78aa9a";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#c8342a";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#93A0A5";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_constant_color: "#c8342a";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#da5d3c";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#e7a26e";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#78aa9a";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#78aa9a";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#3c63a6";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: 700;
  --syntax_function_color: "#da5d3c";
  --syntax_function_font_style: "italic";
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#78aa9a";
  --syntax_hint_font_style: "italic";
  --syntax_hint_font_weight: null;
  --syntax_keyword_color: "#c8342a";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_link_text_color: "#78aa9a";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#78aa9a";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#c8342a";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#da5d3c";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#78aa9a";
  --syntax_predictive_font_style: null;
  --syntax_predictive_font_weight: null;
  --syntax_predoc_color: "#78aa9a";
  --syntax_predoc_font_style: null;
  --syntax_predoc_font_weight: null;
  --syntax_primary_color: "#e7a26e";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#da5d3c";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#758C93";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#758C93";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#758C93";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#758C93";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#758C93";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_punctuation_special_symbol_color: "#758C93";
  --syntax_punctuation_special_symbol_font_style: null;
  --syntax_punctuation_special_symbol_font_weight: null;
  --syntax_string_color: "#418b8d";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#3c63a6";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#3c63a6";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#3c63a6";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#3c63a6";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#da5d3c";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#418b8d";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#526479";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 800;
  --syntax_type_color: "#da5d3c";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_type_interface_color: "#da5d3c";
  --syntax_type_interface_font_style: null;
  --syntax_type_interface_font_weight: null;
  --syntax_type_super_color: "#da5d3c";
  --syntax_type_super_font_style: null;
  --syntax_type_super_font_weight: null;
  --syntax_variable_color: "#78aa9a";
  --syntax_variable_font_style: "italic";
  --syntax_variable_font_weight: null;
  --syntax_variable_member_color: "#526479";
  --syntax_variable_member_font_style: null;
  --syntax_variable_member_font_weight: null;
  --syntax_variable_parameter_color: "#3c63a6";
  --syntax_variable_parameter_font_style: null;
  --syntax_variable_parameter_font_weight: null;
  --syntax_variable_special_color: "#78aa9a";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
  --syntax_variant_color: "#e7a26e";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
