:root {
  --background: "#1F1D32";
  --border: "#29273b";
  --border-disabled: "#1F1D32";
  --border-focused: "#1F1D32";
  --border-selected: "#1F1D32";
  --border-transparent: "#1F1D32";
  --border-variant: "#1F1D32";
  --conflict: "#EFC3A1";
  --conflict-background: "#1F1D32";
  --conflict-border: "#EFC3A1";
  --created: "#DB7B75";
  --created-background: "#1F1D32";
  --created-border: "#DB7B75";
  --deleted: "#EFC3A1";
  --deleted-background: "#1F1D32";
  --deleted-border: "#EFC3A1";
  --drop_target-background: "";
  --editor-active_line-background: "#817c9c14";
  --editor-active_line_number: "#DB7B75";
  --editor-active_wrap_guide: "#6e6a86";
  --editor-background: "#1F1D32";
  --editor-document_highlight-read_background: "#817c9c26";
  --editor-document_highlight-write_background: "#817c9c26";
  --editor-foreground: "#F2E9E1";
  --editor-gutter-background: "#1F1D32";
  --editor-highlighted_line-background: "#1F1D32";
  --editor-invisible: "#6e6a86";
  --editor-line_number: "#908caa";
  --editor-subheader-background: "#1F1D32";
  --editor-wrap_guide: "#6e6a86";
  --element-active: "#2a273f";
  --element-background: "#1F1D32";
  --element-disabled: "#1F1D32";
  --element-hover: "#2a273f";
  --element-selected: "#817c9c14";
  --elevated_surface-background: "#242334";
  --error: "#EFC3A1";
  --error-background: "#1F1D32";
  --error-border: "#EFC3A1";
  --ghost_element-active: "#817c9c14";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#1F1D32";
  --ghost_element-hover: "#F2E9E110";
  --ghost_element-selected: "#817c9c14";
  --hidden: "#908caa";
  --hidden-background: "#1F1D32";
  --hidden-border: "#908caa";
  --hint: "#6e6a86";
  --hint-background: "#1F1D32";
  --hint-border: "#6e6a86";
  --icon: "#908caa";
  --icon-accent: "#A7C8BD";
  --icon-disabled: "#6e6a86";
  --icon-muted: "#908caa";
  --icon-placeholder: "#908caa";
  --ignored: "#908caa";
  --ignored-background: "#1F1D32";
  --ignored-border: "#908caa";
  --info: "#DB7B75";
  --info-background: "#1F1D32";
  --info-border: "#DB7B75";
  --link_text-hover: "#8B95BB";
  --modified: "#A7C8BD";
  --modified-background: "#1F1D32";
  --modified-border: "#A7C8BD";
  --panel-background: "#1F1D32";
  --panel-focused_border: "#1F1D32";
  --predictive: "#83B4B5";
  --predictive-background: "#1F1D32";
  --predictive-border: "#83B4B5";
  --renamed: "#8B95BB";
  --renamed-background: "#1F1D32";
  --renamed-border: "#8B95BB";
  --scrollbar-thumb-background: "#817c9c4d";
  --scrollbar-thumb-border: "#817c9c26";
  --scrollbar-thumb-hover_background: "#817c9c26";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#2a273f";
  --search-match_background: "#817c9c26";
  --status_bar-background: "#1F1D32";
  --success: "#A7C8BD";
  --success-background: "#1F1D32";
  --success-border: "#A7C8BD";
  --surface-background: "#1F1D32";
  --tab-active_background: "#F2E9E110";
  --tab-inactive_background: "#1F1D32";
  --tab_bar-background: "#1F1D32";
  --terminal-ansi-black: "#393552";
  --terminal-ansi-blue: "#E79680";
  --terminal-ansi-bright_black: "#908caa";
  --terminal-ansi-bright_blue: "#E79680";
  --terminal-ansi-bright_green: "#DB7B75";
  --terminal-ansi-bright_magenta: "#8B95BB";
  --terminal-ansi-bright_red: "#EFC3A1";
  --terminal-ansi-bright_white: "#F2E9E1";
  --terminal-ansi-bright_yellow: "#83B4B5";
  --terminal-ansi-dim_black: "#6e6a86";
  --terminal-ansi-dim_blue: "#E79680";
  --terminal-ansi-dim_green: "#DB7B75";
  --terminal-ansi-dim_magenta: "#8B95BB";
  --terminal-ansi-dim_red: "#EFC3A1";
  --terminal-ansi-dim_white: "#F2E9E1";
  --terminal-ansi-dim_yellow: "#83B4B5";
  --terminal-ansi-green: "#DB7B75";
  --terminal-ansi-magenta: "#8B95BB";
  --terminal-ansi-red: "#EFC3A1";
  --terminal-ansi-white: "#F2E9E1";
  --terminal-ansi-yellow: "#83B4B5";
  --terminal-background: "#1F1D32";
  --terminal-bright_foreground: "#F2E9E1";
  --terminal-dim_foreground: "#908caa";
  --terminal-foreground: "#F2E9E1";
  --text: "#F2E9E1";
  --text-accent: "#F2E9E1";
  --text-disabled: "#6e6a86";
  --text-muted: "#908caa";
  --text-placeholder: "#6e6a86";
  --title_bar-background: "#1F1D32";
  --toolbar-background: "#1F1D32";
  --unreachable: "#908caa";
  --unreachable-background: "#1F1D32";
  --unreachable-border: "#908caa";
  --warning: "#83B4B5";
  --warning-background: "#1F1D32";
  --warning-border: "#83B4B5";
  --player-1-background: "#6e6a86";
  --player-1-cursor: "#6e6a86";
  --player-1-selection: "#817c9c26";
  --player-2-background: "#908caa";
  --player-2-cursor: "#908caa";
  --player-2-selection: "#817c9c26";
  --player-3-background: "#6e6a86";
  --player-3-cursor: "#6e6a86";
  --player-3-selection: "#817c9c26";
  --player-4-background: "#EFC3A1";
  --player-4-cursor: "#EFC3A1";
  --player-4-selection: "#817c9c26";
  --player-5-background: "#DB7B75";
  --player-5-cursor: "#DB7B75";
  --player-5-selection: "#817c9c26";
  --player-6-background: "#A7C8BD";
  --player-6-cursor: "#A7C8BD";
  --player-6-selection: "#817c9c26";
  --player-7-background: "#83B4B5";
  --player-7-cursor: "#83B4B5";
  --player-7-selection: "#817c9c26";
  --player-8-background: "#8B95BB";
  --player-8-cursor: "#8B95BB";
  --player-8-selection: "#817c9c26";
  --syntax-attribute-color: "#A7C8BD";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#DB7B75";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6e6a86";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#DB7B75";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#A7C8BD";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#A7C8BD";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#A7C8BD";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#8B95BB";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#A7C8BD";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#A7C8BD";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-hint-color: "#6e6a86";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#DB7B75";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#A7C8BD";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#8B95BB";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#DB7B75";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#A7C8BD";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#DB7B75";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#83B4B5";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#6e6a86";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#6e6a86";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#6e6a86";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#908caa";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#908caa";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#908caa";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#6e6a86";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#908caa";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#83B4B5";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#8B95BB";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#DB7B75";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#A7C8BD";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#8B95BB";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#DB7B75";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#A7C8BD";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#A7C8BD";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#DB7B75";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#A7C8BD";
  --syntax-variable-font_style: "italic";
  --syntax-variable-font_weight: null;
  --syntax-variant-color: "#A7C8BD";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
