:root {
  --background: "#272822";
  --background_appearance: "opaque";
  --border: "#41423c";
  --border_disabled: "#272822";
  --border_focused: "#6e7066";
  --border_selected: "#272822";
  --border_transparent: "#272822";
  --border_variant: "#41423c";
  --conflict: "#fd971f";
  --created: "#a6e22e";
  --deleted: "#f92672";
  --drop_target_background: "#1d1e19bf";
  --editor_active_line_background: "#fdfff10c";
  --editor_active_line_number: "#fdfff1";
  --editor_active_wrap_guide: "#272822";
  --editor_background: "#272822";
  --editor_foreground: "#fdfff1";
  --editor_gutter_background: "#272822";
  --editor_line_number: "#57584f";
  --editor_subheader_background: "#2d2e28";
  --editor_wrap_guide: "#41423c";
  --element_background: "#3b3c35";
  --element_selected: "#fdfff10c";
  --elevated_surface_background: "#2d2e28";
  --error: "#f92672";
  --error_background: "#2d2e28";
  --error_border: "#41423c";
  --ghost_element_hover: "#fdfff10c";
  --ghost_element_selected: "#fdfff10c";
  --hidden: "#919288";
  --hint: "#919288";
  --hint_background: "#2d2e28";
  --hint_border: "#41423c";
  --ignored: "#57584f";
  --info: "#e6db74";
  --info_background: "#2d2e28";
  --info_border: "#41423c";
  --link_text_hover: "#fdfff1";
  --modified: "#fd971f";
  --pane_group_border: "#41423c";
  --panel_background: "#2d2e28";
  --predictive: "#919288";
  --scrollbar_thumb_background: "#c0c1b526";
  --scrollbar_thumb_border: "#c0c1b526";
  --scrollbar_thumb_hover_background: "#fdfff126";
  --scrollbar_track_background: "#272822";
  --scrollbar_track_border: "#272822";
  --search_match_background: "#3d3e38";
  --status_bar_background: "#2d2e28";
  --surface_background: "#3b3c35";
  --tab_active_background: "#272822";
  --tab_inactive_background: "#2d2e28";
  --tab_bar_background: "#2d2e28";
  --terminal_ansi_black: "#3b3c35";
  --terminal_ansi_blue: "#fd971f";
  --terminal_ansi_bright_black: "#6e7066";
  --terminal_ansi_bright_blue: "#fd971f";
  --terminal_ansi_bright_cyan: "#66d9ef";
  --terminal_ansi_bright_green: "#a6e22e";
  --terminal_ansi_bright_magenta: "#ae81ff";
  --terminal_ansi_bright_red: "#f92672";
  --terminal_ansi_bright_white: "#fdfff1";
  --terminal_ansi_bright_yellow: "#e6db74";
  --terminal_ansi_cyan: "#66d9ef";
  --terminal_ansi_green: "#a6e22e";
  --terminal_ansi_magenta: "#ae81ff";
  --terminal_ansi_red: "#f92672";
  --terminal_ansi_white: "#fdfff1";
  --terminal_ansi_yellow: "#e6db74";
  --terminal_background: "#272822";
  --text: "#fdfff1";
  --text_accent: "#e6db74";
  --text_muted: "#919288";
  --title_bar_background: "#373832";
  --toolbar_background: "#272822";
  --warning: "#fd971f";
  --warning_background: "#2d2e28";
  --warning_border: "#41423c";
  --player_1_background: "#fdfff1";
  --player_1_cursor: "#fdfff1";
  --player_1_selection: "#fdfff11a";
  --player_2_background: "#f92672";
  --player_2_cursor: "#f92672";
  --player_2_selection: "#f926721a";
  --player_3_background: "#a6e22e";
  --player_3_cursor: "#a6e22e";
  --player_3_selection: "#a6e22e1a";
  --player_4_background: "#fd971f";
  --player_4_cursor: "#fd971f";
  --player_4_selection: "#fd971f1a";
  --player_5_background: "#e6db74";
  --player_5_cursor: "#e6db74";
  --player_5_selection: "#e6db741a";
  --player_6_background: "#ae81ff";
  --player_6_cursor: "#ae81ff";
  --player_6_selection: "#ae81ff1a";
  --player_7_background: "#66d9ef";
  --player_7_cursor: "#66d9ef";
  --player_7_selection: "#66d9ef1a";
  --syntax_attribute_color: "#66d9ef";
  --syntax_attribute_font_style: "italic";
  --syntax_boolean_color: "#ae81ff";
  --syntax_comment_color: "#6e7066";
  --syntax_comment_font_style: "italic";
  --syntax_comment_doc_color: "#6e7066";
  --syntax_comment_doc_font_style: "italic";
  --syntax_constant_color: "#ae81ff";
  --syntax_constructor_color: "#f92672";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#a6e22e";
  --syntax_keyword_color: "#f92672";
  --syntax_label_color: "#a6e22e";
  --syntax_link_text_color: "#f92672";
  --syntax_link_uri_color: "#a6e22e";
  --syntax_number_color: "#ae81ff";
  --syntax_operator_color: "#f92672";
  --syntax_preproc_color: "#ae81ff";
  --syntax_property_color: "#fdfff1";
  --syntax_punctuation_color: "#919288";
  --syntax_punctuation_bracket_color: "#919288";
  --syntax_punctuation_delimiter_color: "#919288";
  --syntax_punctuation_list_marker_color: "#919288";
  --syntax_punctuation_special_color: "#919288";
  --syntax_string_color: "#e6db74";
  --syntax_string_escape_color: "#fdfff1";
  --syntax_string_regex_color: "#e6db74";
  --syntax_string_special_color: "#fd971f";
  --syntax_string_special_symbol_color: "#fd971f";
  --syntax_tag_color: "#f92672";
  --syntax_text_literal_color: "#e6db74";
  --syntax_title_color: "#e6db74";
  --syntax_type_color: "#66d9ef";
  --syntax_variable_color: "#fdfff1";
  --syntax_variable_special_color: "#c0c1b5";
  --syntax_variable_special_font_style: "italic";
}
