:root {
  --background: "#273136";
  --background-appearance: "opaque";
  --border: "#414b50";
  --border-disabled: "#273136";
  --border-focused: "#6b7678";
  --border-selected: "#273136";
  --border-transparent: "#273136";
  --border-variant: "#414b50";
  --conflict: "#ffb270";
  --created: "#a2e57b";
  --deleted: "#ff6d7e";
  --drop_target-background: "#1d2528bf";
  --editor-active_line-background: "#f2fffc0c";
  --editor-active_line_number: "#f2fffc";
  --editor-active_wrap_guide: "#273136";
  --editor-background: "#273136";
  --editor-foreground: "#f2fffc";
  --editor-gutter-background: "#273136";
  --editor-line_number: "#545f62";
  --editor-subheader-background: "#2d373c";
  --editor-wrap_guide: "#414b50";
  --element-background: "#3a4449";
  --element-selected: "#f2fffc0c";
  --elevated_surface-background: "#2d373c";
  --error: "#ff6d7e";
  --error-background: "#2d373c";
  --error-border: "#414b50";
  --ghost_element-hover: "#f2fffc0c";
  --ghost_element-selected: "#f2fffc0c";
  --hidden: "#8b9798";
  --hint: "#8b9798";
  --hint-background: "#2d373c";
  --hint-border: "#414b50";
  --ignored: "#545f62";
  --info: "#ffed72";
  --info-background: "#2d373c";
  --info-border: "#414b50";
  --link_text-hover: "#f2fffc";
  --modified: "#ffb270";
  --pane_group-border: "#414b50";
  --panel-background: "#2d373c";
  --predictive: "#8b9798";
  --scrollbar-thumb-background: "#b8c4c326";
  --scrollbar-thumb-border: "#b8c4c326";
  --scrollbar-thumb-hover_background: "#f2fffc26";
  --scrollbar-track-background: "#273136";
  --scrollbar-track-border: "#273136";
  --search-match_background: "#3d474c";
  --status_bar-background: "#2d373c";
  --surface-background: "#3a4449";
  --tab-active_background: "#273136";
  --tab-inactive_background: "#2d373c";
  --tab_bar-background: "#2d373c";
  --terminal-ansi-black: "#3a4449";
  --terminal-ansi-blue: "#ffb270";
  --terminal-ansi-bright_black: "#6b7678";
  --terminal-ansi-bright_blue: "#ffb270";
  --terminal-ansi-bright_cyan: "#7cd5f1";
  --terminal-ansi-bright_green: "#a2e57b";
  --terminal-ansi-bright_magenta: "#baa0f8";
  --terminal-ansi-bright_red: "#ff6d7e";
  --terminal-ansi-bright_white: "#f2fffc";
  --terminal-ansi-bright_yellow: "#ffed72";
  --terminal-ansi-cyan: "#7cd5f1";
  --terminal-ansi-green: "#a2e57b";
  --terminal-ansi-magenta: "#baa0f8";
  --terminal-ansi-red: "#ff6d7e";
  --terminal-ansi-white: "#f2fffc";
  --terminal-ansi-yellow: "#ffed72";
  --terminal-background: "#273136";
  --text: "#f2fffc";
  --text-accent: "#ffed72";
  --text-muted: "#8b9798";
  --title_bar-background: "#374146";
  --toolbar-background: "#273136";
  --warning: "#ffb270";
  --warning-background: "#2d373c";
  --warning-border: "#414b50";
  --player-1-background: "#f2fffc";
  --player-1-cursor: "#f2fffc";
  --player-1-selection: "#f2fffc1a";
  --player-2-background: "#ff6d7e";
  --player-2-cursor: "#ff6d7e";
  --player-2-selection: "#ff6d7e1a";
  --player-3-background: "#a2e57b";
  --player-3-cursor: "#a2e57b";
  --player-3-selection: "#a2e57b1a";
  --player-4-background: "#ffb270";
  --player-4-cursor: "#ffb270";
  --player-4-selection: "#ffb2701a";
  --player-5-background: "#ffed72";
  --player-5-cursor: "#ffed72";
  --player-5-selection: "#ffed721a";
  --player-6-background: "#baa0f8";
  --player-6-cursor: "#baa0f8";
  --player-6-selection: "#baa0f81a";
  --player-7-background: "#7cd5f1";
  --player-7-cursor: "#7cd5f1";
  --player-7-selection: "#7cd5f11a";
  --syntax-attribute-color: "#7cd5f1";
  --syntax-attribute-font_style: "italic";
  --syntax-boolean-color: "#baa0f8";
  --syntax-comment-color: "#6b7678";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#6b7678";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#baa0f8";
  --syntax-constructor-color: "#ff6d7e";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#a2e57b";
  --syntax-keyword-color: "#ff6d7e";
  --syntax-label-color: "#a2e57b";
  --syntax-link_text-color: "#ff6d7e";
  --syntax-link_uri-color: "#a2e57b";
  --syntax-number-color: "#baa0f8";
  --syntax-operator-color: "#ff6d7e";
  --syntax-preproc-color: "#baa0f8";
  --syntax-property-color: "#f2fffc";
  --syntax-punctuation-color: "#8b9798";
  --syntax-punctuation-bracket-color: "#8b9798";
  --syntax-punctuation-delimiter-color: "#8b9798";
  --syntax-punctuation-list_marker-color: "#8b9798";
  --syntax-punctuation-special-color: "#8b9798";
  --syntax-string-color: "#ffed72";
  --syntax-string-escape-color: "#f2fffc";
  --syntax-string-regex-color: "#ffed72";
  --syntax-string-special-color: "#ffb270";
  --syntax-string-special-symbol-color: "#ffb270";
  --syntax-tag-color: "#ff6d7e";
  --syntax-text-literal-color: "#ffed72";
  --syntax-title-color: "#ffed72";
  --syntax-type-color: "#7cd5f1";
  --syntax-variable-color: "#f2fffc";
  --syntax-variable-special-color: "#b8c4c3";
  --syntax-variable-special-font_style: "italic";
}
