:root {
  --background: "#282a3a";
  --background-appearance: "opaque";
  --border: "#181a23";
  --border-disabled: "#282a3a";
  --border-focused: "#696d77";
  --border-selected: "#282a3a";
  --border-transparent: "#282a3a";
  --border-variant: "#181a23";
  --conflict: "#ff9b5e";
  --created: "#bad761";
  --deleted: "#ff657a";
  --drop_target-background: "#1e1f2bbf";
  --editor-active_line-background: "#eaf2f10c";
  --editor-active_line_number: "#eaf2f1";
  --editor-active_wrap_guide: "#282a3a";
  --editor-background: "#282a3a";
  --editor-foreground: "#eaf2f1";
  --editor-gutter-background: "#282a3a";
  --editor-line_number: "#535763";
  --editor-subheader-background: "#232532";
  --editor-wrap_guide: "#181a23";
  --element-background: "#3a3d4b";
  --element-selected: "#eaf2f10c";
  --elevated_surface-background: "#232532";
  --error: "#ff657a";
  --error-background: "#232532";
  --error-border: "#181a23";
  --ghost_element-hover: "#eaf2f10c";
  --ghost_element-selected: "#eaf2f10c";
  --hidden: "#888d94";
  --hint: "#888d94";
  --hint-background: "#232532";
  --hint-border: "#181a23";
  --ignored: "#535763";
  --info: "#ffd76d";
  --info-background: "#232532";
  --info-border: "#181a23";
  --link_text-hover: "#eaf2f1";
  --modified: "#ff9b5e";
  --pane_group-border: "#181a23";
  --panel-background: "#232532";
  --predictive: "#888d94";
  --scrollbar-thumb-background: "#b2b9bd26";
  --scrollbar-thumb-border: "#b2b9bd26";
  --scrollbar-thumb-hover_background: "#eaf2f126";
  --scrollbar-track-background: "#282a3a";
  --scrollbar-track-border: "#282a3a";
  --search-match_background: "#3e4050";
  --status_bar-background: "#232532";
  --surface-background: "#3a3d4b";
  --tab-active_background: "#282a3a";
  --tab-inactive_background: "#232532";
  --tab_bar-background: "#232532";
  --terminal-ansi-black: "#3a3d4b";
  --terminal-ansi-blue: "#ff9b5e";
  --terminal-ansi-bright_black: "#696d77";
  --terminal-ansi-bright_blue: "#ff9b5e";
  --terminal-ansi-bright_cyan: "#9cd1bb";
  --terminal-ansi-bright_green: "#bad761";
  --terminal-ansi-bright_magenta: "#c39ac9";
  --terminal-ansi-bright_red: "#ff657a";
  --terminal-ansi-bright_white: "#eaf2f1";
  --terminal-ansi-bright_yellow: "#ffd76d";
  --terminal-ansi-cyan: "#9cd1bb";
  --terminal-ansi-green: "#bad761";
  --terminal-ansi-magenta: "#c39ac9";
  --terminal-ansi-red: "#ff657a";
  --terminal-ansi-white: "#eaf2f1";
  --terminal-ansi-yellow: "#ffd76d";
  --terminal-background: "#282a3a";
  --text: "#eaf2f1";
  --text-accent: "#ffd76d";
  --text-muted: "#888d94";
  --title_bar-background: "#1b1c27";
  --toolbar-background: "#282a3a";
  --warning: "#ff9b5e";
  --warning-background: "#232532";
  --warning-border: "#181a23";
  --player-1-background: "#eaf2f1";
  --player-1-cursor: "#eaf2f1";
  --player-1-selection: "#eaf2f11a";
  --player-2-background: "#ff657a";
  --player-2-cursor: "#ff657a";
  --player-2-selection: "#ff657a1a";
  --player-3-background: "#bad761";
  --player-3-cursor: "#bad761";
  --player-3-selection: "#bad7611a";
  --player-4-background: "#ff9b5e";
  --player-4-cursor: "#ff9b5e";
  --player-4-selection: "#ff9b5e1a";
  --player-5-background: "#ffd76d";
  --player-5-cursor: "#ffd76d";
  --player-5-selection: "#ffd76d1a";
  --player-6-background: "#c39ac9";
  --player-6-cursor: "#c39ac9";
  --player-6-selection: "#c39ac91a";
  --player-7-background: "#9cd1bb";
  --player-7-cursor: "#9cd1bb";
  --player-7-selection: "#9cd1bb1a";
  --syntax-attribute-color: "#9cd1bb";
  --syntax-attribute-font_style: "italic";
  --syntax-boolean-color: "#c39ac9";
  --syntax-comment-color: "#696d77";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#696d77";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#c39ac9";
  --syntax-constructor-color: "#ff657a";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#bad761";
  --syntax-keyword-color: "#ff657a";
  --syntax-label-color: "#bad761";
  --syntax-link_text-color: "#ff657a";
  --syntax-link_uri-color: "#bad761";
  --syntax-number-color: "#c39ac9";
  --syntax-operator-color: "#ff657a";
  --syntax-preproc-color: "#c39ac9";
  --syntax-property-color: "#eaf2f1";
  --syntax-punctuation-color: "#888d94";
  --syntax-punctuation-bracket-color: "#888d94";
  --syntax-punctuation-delimiter-color: "#888d94";
  --syntax-punctuation-list_marker-color: "#888d94";
  --syntax-punctuation-special-color: "#888d94";
  --syntax-string-color: "#ffd76d";
  --syntax-string-escape-color: "#eaf2f1";
  --syntax-string-regex-color: "#ffd76d";
  --syntax-string-special-color: "#ff9b5e";
  --syntax-string-special-symbol-color: "#ff9b5e";
  --syntax-tag-color: "#ff657a";
  --syntax-text-literal-color: "#ffd76d";
  --syntax-title-color: "#ffd76d";
  --syntax-type-color: "#9cd1bb";
  --syntax-variable-color: "#eaf2f1";
  --syntax-variable-special-color: "#b2b9bd";
  --syntax-variable-special-font_style: "italic";
}
