:root {
  --background: "#222222";
  --background-appearance: "opaque";
  --border: "#3c3c3c";
  --border-disabled: "#222222";
  --border-focused: "#69676c";
  --border-selected: "#222222";
  --border-transparent: "#222222";
  --border-variant: "#3c3c3c";
  --conflict: "#fd9353";
  --created: "#7bd88f";
  --deleted: "#fc618d";
  --drop_target-background: "#191919bf";
  --editor-active_line-background: "#f7f1ff0c";
  --editor-active_line_number: "#f7f1ff";
  --editor-active_wrap_guide: "#222222";
  --editor-background: "#222222";
  --editor-foreground: "#f7f1ff";
  --editor-gutter-background: "#222222";
  --editor-line_number: "#525053";
  --editor-subheader-background: "#282828";
  --editor-wrap_guide: "#3c3c3c";
  --element-background: "#363537";
  --element-selected: "#f7f1ff0c";
  --elevated_surface-background: "#282828";
  --error: "#fc618d";
  --error-background: "#282828";
  --error-border: "#3c3c3c";
  --ghost_element-hover: "#f7f1ff0c";
  --ghost_element-selected: "#f7f1ff0c";
  --hidden: "#8b888f";
  --hint: "#8b888f";
  --hint-background: "#282828";
  --hint-border: "#3c3c3c";
  --ignored: "#525053";
  --info: "#fce566";
  --info-background: "#282828";
  --info-border: "#3c3c3c";
  --link_text-hover: "#f7f1ff";
  --modified: "#fd9353";
  --pane_group-border: "#3c3c3c";
  --panel-background: "#282828";
  --predictive: "#8b888f";
  --scrollbar-thumb-background: "#bab6c026";
  --scrollbar-thumb-border: "#bab6c026";
  --scrollbar-thumb-hover_background: "#f7f1ff26";
  --scrollbar-track-background: "#222222";
  --scrollbar-track-border: "#222222";
  --search-match_background: "#383838";
  --status_bar-background: "#282828";
  --surface-background: "#363537";
  --tab-active_background: "#222222";
  --tab-inactive_background: "#282828";
  --tab_bar-background: "#282828";
  --terminal-ansi-black: "#363537";
  --terminal-ansi-blue: "#fd9353";
  --terminal-ansi-bright_black: "#69676c";
  --terminal-ansi-bright_blue: "#fd9353";
  --terminal-ansi-bright_cyan: "#5ad4e6";
  --terminal-ansi-bright_green: "#7bd88f";
  --terminal-ansi-bright_magenta: "#948ae3";
  --terminal-ansi-bright_red: "#fc618d";
  --terminal-ansi-bright_white: "#f7f1ff";
  --terminal-ansi-bright_yellow: "#fce566";
  --terminal-ansi-cyan: "#5ad4e6";
  --terminal-ansi-green: "#7bd88f";
  --terminal-ansi-magenta: "#948ae3";
  --terminal-ansi-red: "#fc618d";
  --terminal-ansi-white: "#f7f1ff";
  --terminal-ansi-yellow: "#fce566";
  --terminal-background: "#222222";
  --text: "#f7f1ff";
  --text-accent: "#fce566";
  --text-muted: "#8b888f";
  --title_bar-background: "#323232";
  --toolbar-background: "#222222";
  --warning: "#fd9353";
  --warning-background: "#282828";
  --warning-border: "#3c3c3c";
  --player-1-background: "#f7f1ff";
  --player-1-cursor: "#f7f1ff";
  --player-1-selection: "#f7f1ff1a";
  --player-2-background: "#fc618d";
  --player-2-cursor: "#fc618d";
  --player-2-selection: "#fc618d1a";
  --player-3-background: "#7bd88f";
  --player-3-cursor: "#7bd88f";
  --player-3-selection: "#7bd88f1a";
  --player-4-background: "#fd9353";
  --player-4-cursor: "#fd9353";
  --player-4-selection: "#fd93531a";
  --player-5-background: "#fce566";
  --player-5-cursor: "#fce566";
  --player-5-selection: "#fce5661a";
  --player-6-background: "#948ae3";
  --player-6-cursor: "#948ae3";
  --player-6-selection: "#948ae31a";
  --player-7-background: "#5ad4e6";
  --player-7-cursor: "#5ad4e6";
  --player-7-selection: "#5ad4e61a";
  --syntax-attribute-color: "#5ad4e6";
  --syntax-attribute-font_style: "italic";
  --syntax-boolean-color: "#948ae3";
  --syntax-comment-color: "#69676c";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#69676c";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#948ae3";
  --syntax-constructor-color: "#fc618d";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#7bd88f";
  --syntax-keyword-color: "#fc618d";
  --syntax-label-color: "#7bd88f";
  --syntax-link_text-color: "#fc618d";
  --syntax-link_uri-color: "#7bd88f";
  --syntax-number-color: "#948ae3";
  --syntax-operator-color: "#fc618d";
  --syntax-preproc-color: "#948ae3";
  --syntax-property-color: "#f7f1ff";
  --syntax-punctuation-color: "#8b888f";
  --syntax-punctuation-bracket-color: "#8b888f";
  --syntax-punctuation-delimiter-color: "#8b888f";
  --syntax-punctuation-list_marker-color: "#8b888f";
  --syntax-punctuation-special-color: "#8b888f";
  --syntax-string-color: "#fce566";
  --syntax-string-escape-color: "#f7f1ff";
  --syntax-string-regex-color: "#fce566";
  --syntax-string-special-color: "#fd9353";
  --syntax-string-special-symbol-color: "#fd9353";
  --syntax-tag-color: "#fc618d";
  --syntax-text-literal-color: "#fce566";
  --syntax-title-color: "#fce566";
  --syntax-type-color: "#5ad4e6";
  --syntax-variable-color: "#f7f1ff";
  --syntax-variable-special-color: "#bab6c0";
  --syntax-variable-special-font_style: "italic";
}
