:root {
  --background: "#2c2525";
  --background-appearance: "opaque";
  --border: "#171414";
  --border-disabled: "#2c2525";
  --border-focused: "#72696a";
  --border-selected: "#2c2525";
  --border-transparent: "#2c2525";
  --border-variant: "#171414";
  --conflict: "#f38d70";
  --created: "#adda78";
  --deleted: "#fd6883";
  --drop_target-background: "#211c1cbf";
  --editor-active_line-background: "#fff1f30c";
  --editor-active_line_number: "#fff1f3";
  --editor-active_wrap_guide: "#2c2525";
  --editor-background: "#2c2525";
  --editor-foreground: "#fff1f3";
  --editor-gutter-background: "#2c2525";
  --editor-line_number: "#5b5353";
  --editor-subheader-background: "#251f1f";
  --editor-wrap_guide: "#171414";
  --element-background: "#403838";
  --element-selected: "#fff1f30c";
  --elevated_surface-background: "#251f1f";
  --error: "#fd6883";
  --error-background: "#251f1f";
  --error-border: "#171414";
  --ghost_element-hover: "#fff1f30c";
  --ghost_element-selected: "#fff1f30c";
  --hidden: "#948a8b";
  --hint: "#948a8b";
  --hint-background: "#251f1f";
  --hint-border: "#171414";
  --ignored: "#5b5353";
  --info: "#f9cc6c";
  --info-background: "#251f1f";
  --info-border: "#171414";
  --link_text-hover: "#fff1f3";
  --modified: "#f38d70";
  --pane_group-border: "#171414";
  --panel-background: "#251f1f";
  --predictive: "#948a8b";
  --scrollbar-thumb-background: "#c3b7b826";
  --scrollbar-thumb-border: "#c3b7b826";
  --scrollbar-thumb-hover_background: "#fff1f326";
  --scrollbar-track-background: "#2c2525";
  --scrollbar-track-border: "#2c2525";
  --search-match_background: "#423b3b";
  --status_bar-background: "#251f1f";
  --surface-background: "#403838";
  --tab-active_background: "#2c2525";
  --tab-inactive_background: "#251f1f";
  --tab_bar-background: "#251f1f";
  --terminal-ansi-black: "#403838";
  --terminal-ansi-blue: "#f38d70";
  --terminal-ansi-bright_black: "#72696a";
  --terminal-ansi-bright_blue: "#f38d70";
  --terminal-ansi-bright_cyan: "#85dacc";
  --terminal-ansi-bright_green: "#adda78";
  --terminal-ansi-bright_magenta: "#a8a9eb";
  --terminal-ansi-bright_red: "#fd6883";
  --terminal-ansi-bright_white: "#fff1f3";
  --terminal-ansi-bright_yellow: "#f9cc6c";
  --terminal-ansi-cyan: "#85dacc";
  --terminal-ansi-green: "#adda78";
  --terminal-ansi-magenta: "#a8a9eb";
  --terminal-ansi-red: "#fd6883";
  --terminal-ansi-white: "#fff1f3";
  --terminal-ansi-yellow: "#f9cc6c";
  --terminal-background: "#2c2525";
  --text: "#fff1f3";
  --text-accent: "#f9cc6c";
  --text-muted: "#948a8b";
  --title_bar-background: "#1b1616";
  --toolbar-background: "#2c2525";
  --warning: "#f38d70";
  --warning-background: "#251f1f";
  --warning-border: "#171414";
  --player-1-background: "#fff1f3";
  --player-1-cursor: "#fff1f3";
  --player-1-selection: "#fff1f31a";
  --player-2-background: "#fd6883";
  --player-2-cursor: "#fd6883";
  --player-2-selection: "#fd68831a";
  --player-3-background: "#adda78";
  --player-3-cursor: "#adda78";
  --player-3-selection: "#adda781a";
  --player-4-background: "#f38d70";
  --player-4-cursor: "#f38d70";
  --player-4-selection: "#f38d701a";
  --player-5-background: "#f9cc6c";
  --player-5-cursor: "#f9cc6c";
  --player-5-selection: "#f9cc6c1a";
  --player-6-background: "#a8a9eb";
  --player-6-cursor: "#a8a9eb";
  --player-6-selection: "#a8a9eb1a";
  --player-7-background: "#85dacc";
  --player-7-cursor: "#85dacc";
  --player-7-selection: "#85dacc1a";
  --syntax-attribute-color: "#85dacc";
  --syntax-attribute-font_style: "italic";
  --syntax-boolean-color: "#a8a9eb";
  --syntax-comment-color: "#72696a";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#72696a";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#a8a9eb";
  --syntax-constructor-color: "#fd6883";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#adda78";
  --syntax-keyword-color: "#fd6883";
  --syntax-label-color: "#adda78";
  --syntax-link_text-color: "#fd6883";
  --syntax-link_uri-color: "#adda78";
  --syntax-number-color: "#a8a9eb";
  --syntax-operator-color: "#fd6883";
  --syntax-preproc-color: "#a8a9eb";
  --syntax-property-color: "#fff1f3";
  --syntax-punctuation-color: "#948a8b";
  --syntax-punctuation-bracket-color: "#948a8b";
  --syntax-punctuation-delimiter-color: "#948a8b";
  --syntax-punctuation-list_marker-color: "#948a8b";
  --syntax-punctuation-special-color: "#948a8b";
  --syntax-string-color: "#f9cc6c";
  --syntax-string-escape-color: "#fff1f3";
  --syntax-string-regex-color: "#f9cc6c";
  --syntax-string-special-color: "#f38d70";
  --syntax-string-special-symbol-color: "#f38d70";
  --syntax-tag-color: "#fd6883";
  --syntax-text-literal-color: "#f9cc6c";
  --syntax-title-color: "#f9cc6c";
  --syntax-type-color: "#85dacc";
  --syntax-variable-color: "#fff1f3";
  --syntax-variable-special-color: "#c3b7b8";
  --syntax-variable-special-font_style: "italic";
}
