:root {
  --background: "#2d2a2e";
  --background-appearance: "opaque";
  --border: "#19181a";
  --border-disabled: "#2d2a2e";
  --border-focused: "#727072";
  --border-selected: "#2d2a2e";
  --border-transparent: "#2d2a2e";
  --border-variant: "#19181a";
  --conflict: "#fc9867";
  --created: "#a9dc76";
  --deleted: "#ff6188";
  --drop_target-background: "#221f22bf";
  --editor-active_line-background: "#fcfcfa0c";
  --editor-active_line_number: "#fcfcfa";
  --editor-active_wrap_guide: "#2d2a2e";
  --editor-background: "#2d2a2e";
  --editor-foreground: "#fcfcfa";
  --editor-gutter-background: "#2d2a2e";
  --editor-line_number: "#5b595c";
  --editor-subheader-background: "#262427";
  --editor-wrap_guide: "#19181a";
  --element-background: "#403e41";
  --element-selected: "#fcfcfa0c";
  --elevated_surface-background: "#262427";
  --error: "#ff6188";
  --error-background: "#262427";
  --error-border: "#19181a";
  --ghost_element-hover: "#fcfcfa0c";
  --ghost_element-selected: "#fcfcfa0c";
  --hidden: "#939293";
  --hint: "#939293";
  --hint-background: "#262427";
  --hint-border: "#19181a";
  --ignored: "#5b595c";
  --info: "#ffd866";
  --info-background: "#262427";
  --info-border: "#19181a";
  --link_text-hover: "#fcfcfa";
  --modified: "#fc9867";
  --pane_group-border: "#19181a";
  --panel-background: "#262427";
  --predictive: "#939293";
  --scrollbar-thumb-background: "#c1c0c026";
  --scrollbar-thumb-border: "#c1c0c026";
  --scrollbar-thumb-hover_background: "#fcfcfa26";
  --scrollbar-track-background: "#2d2a2e";
  --scrollbar-track-border: "#2d2a2e";
  --search-match_background: "#434044";
  --status_bar-background: "#262427";
  --surface-background: "#403e41";
  --tab-active_background: "#2d2a2e";
  --tab-inactive_background: "#262427";
  --tab_bar-background: "#262427";
  --terminal-ansi-black: "#403e41";
  --terminal-ansi-blue: "#fc9867";
  --terminal-ansi-bright_black: "#727072";
  --terminal-ansi-bright_blue: "#fc9867";
  --terminal-ansi-bright_cyan: "#78dce8";
  --terminal-ansi-bright_green: "#a9dc76";
  --terminal-ansi-bright_magenta: "#ab9df2";
  --terminal-ansi-bright_red: "#ff6188";
  --terminal-ansi-bright_white: "#fcfcfa";
  --terminal-ansi-bright_yellow: "#ffd866";
  --terminal-ansi-cyan: "#78dce8";
  --terminal-ansi-green: "#a9dc76";
  --terminal-ansi-magenta: "#ab9df2";
  --terminal-ansi-red: "#ff6188";
  --terminal-ansi-white: "#fcfcfa";
  --terminal-ansi-yellow: "#ffd866";
  --terminal-background: "#2d2a2e";
  --text: "#fcfcfa";
  --text-accent: "#ffd866";
  --text-muted: "#939293";
  --title_bar-background: "#1d1b1d";
  --toolbar-background: "#2d2a2e";
  --warning: "#fc9867";
  --warning-background: "#262427";
  --warning-border: "#19181a";
  --player-1-background: "#fcfcfa";
  --player-1-cursor: "#fcfcfa";
  --player-1-selection: "#fcfcfa1a";
  --player-2-background: "#ff6188";
  --player-2-cursor: "#ff6188";
  --player-2-selection: "#ff61881a";
  --player-3-background: "#a9dc76";
  --player-3-cursor: "#a9dc76";
  --player-3-selection: "#a9dc761a";
  --player-4-background: "#fc9867";
  --player-4-cursor: "#fc9867";
  --player-4-selection: "#fc98671a";
  --player-5-background: "#ffd866";
  --player-5-cursor: "#ffd866";
  --player-5-selection: "#ffd8661a";
  --player-6-background: "#ab9df2";
  --player-6-cursor: "#ab9df2";
  --player-6-selection: "#ab9df21a";
  --player-7-background: "#78dce8";
  --player-7-cursor: "#78dce8";
  --player-7-selection: "#78dce81a";
  --syntax-attribute-color: "#78dce8";
  --syntax-attribute-font_style: "italic";
  --syntax-boolean-color: "#ab9df2";
  --syntax-comment-color: "#727072";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#727072";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#ab9df2";
  --syntax-constructor-color: "#ff6188";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#a9dc76";
  --syntax-keyword-color: "#ff6188";
  --syntax-label-color: "#a9dc76";
  --syntax-link_text-color: "#ff6188";
  --syntax-link_uri-color: "#a9dc76";
  --syntax-number-color: "#ab9df2";
  --syntax-operator-color: "#ff6188";
  --syntax-preproc-color: "#ab9df2";
  --syntax-property-color: "#fcfcfa";
  --syntax-punctuation-color: "#939293";
  --syntax-punctuation-bracket-color: "#939293";
  --syntax-punctuation-delimiter-color: "#939293";
  --syntax-punctuation-list_marker-color: "#939293";
  --syntax-punctuation-special-color: "#939293";
  --syntax-string-color: "#ffd866";
  --syntax-string-escape-color: "#fcfcfa";
  --syntax-string-regex-color: "#ffd866";
  --syntax-string-special-color: "#fc9867";
  --syntax-string-special-symbol-color: "#fc9867";
  --syntax-tag-color: "#ff6188";
  --syntax-text-literal-color: "#ffd866";
  --syntax-title-color: "#ffd866";
  --syntax-type-color: "#78dce8";
  --syntax-variable-color: "#fcfcfa";
  --syntax-variable-special-color: "#c1c0c0";
  --syntax-variable-special-font_style: "italic";
}
