:root {
  --background: "#2c2525";
  --background_appearance: "opaque";
  --border: "#463f3f";
  --border_disabled: "#2c2525";
  --border_focused: "#72696a";
  --border_selected: "#2c2525";
  --border_transparent: "#2c2525";
  --border_variant: "#463f3f";
  --conflict: "#f38d70";
  --created: "#adda78";
  --deleted: "#fd6883";
  --drop_target_background: "#211c1cbf";
  --editor_active_line_background: "#fff1f30c";
  --editor_active_line_number: "#fff1f3";
  --editor_active_wrap_guide: "#2c2525";
  --editor_background: "#2c2525";
  --editor_foreground: "#fff1f3";
  --editor_gutter_background: "#2c2525";
  --editor_line_number: "#5b5353";
  --editor_subheader_background: "#322b2b";
  --editor_wrap_guide: "#463f3f";
  --element_background: "#403838";
  --element_selected: "#fff1f30c";
  --elevated_surface_background: "#322b2b";
  --error: "#fd6883";
  --error_background: "#322b2b";
  --error_border: "#463f3f";
  --ghost_element_hover: "#fff1f30c";
  --ghost_element_selected: "#fff1f30c";
  --hidden: "#948a8b";
  --hint: "#948a8b";
  --hint_background: "#322b2b";
  --hint_border: "#463f3f";
  --ignored: "#5b5353";
  --info: "#f9cc6c";
  --info_background: "#322b2b";
  --info_border: "#463f3f";
  --link_text_hover: "#fff1f3";
  --modified: "#f38d70";
  --pane_group_border: "#463f3f";
  --panel_background: "#322b2b";
  --predictive: "#948a8b";
  --scrollbar_thumb_background: "#c3b7b826";
  --scrollbar_thumb_border: "#c3b7b826";
  --scrollbar_thumb_hover_background: "#fff1f326";
  --scrollbar_track_background: "#2c2525";
  --scrollbar_track_border: "#2c2525";
  --search_match_background: "#423b3b";
  --status_bar_background: "#322b2b";
  --surface_background: "#403838";
  --tab_active_background: "#2c2525";
  --tab_inactive_background: "#322b2b";
  --tab_bar_background: "#322b2b";
  --terminal_ansi_black: "#403838";
  --terminal_ansi_blue: "#f38d70";
  --terminal_ansi_bright_black: "#72696a";
  --terminal_ansi_bright_blue: "#f38d70";
  --terminal_ansi_bright_cyan: "#85dacc";
  --terminal_ansi_bright_green: "#adda78";
  --terminal_ansi_bright_magenta: "#a8a9eb";
  --terminal_ansi_bright_red: "#fd6883";
  --terminal_ansi_bright_white: "#fff1f3";
  --terminal_ansi_bright_yellow: "#f9cc6c";
  --terminal_ansi_cyan: "#85dacc";
  --terminal_ansi_green: "#adda78";
  --terminal_ansi_magenta: "#a8a9eb";
  --terminal_ansi_red: "#fd6883";
  --terminal_ansi_white: "#fff1f3";
  --terminal_ansi_yellow: "#f9cc6c";
  --terminal_background: "#2c2525";
  --text: "#fff1f3";
  --text_accent: "#f9cc6c";
  --text_muted: "#948a8b";
  --title_bar_background: "#3c3535";
  --toolbar_background: "#2c2525";
  --warning: "#f38d70";
  --warning_background: "#322b2b";
  --warning_border: "#463f3f";
  --player_1_background: "#fff1f3";
  --player_1_cursor: "#fff1f3";
  --player_1_selection: "#fff1f31a";
  --player_2_background: "#fd6883";
  --player_2_cursor: "#fd6883";
  --player_2_selection: "#fd68831a";
  --player_3_background: "#adda78";
  --player_3_cursor: "#adda78";
  --player_3_selection: "#adda781a";
  --player_4_background: "#f38d70";
  --player_4_cursor: "#f38d70";
  --player_4_selection: "#f38d701a";
  --player_5_background: "#f9cc6c";
  --player_5_cursor: "#f9cc6c";
  --player_5_selection: "#f9cc6c1a";
  --player_6_background: "#a8a9eb";
  --player_6_cursor: "#a8a9eb";
  --player_6_selection: "#a8a9eb1a";
  --player_7_background: "#85dacc";
  --player_7_cursor: "#85dacc";
  --player_7_selection: "#85dacc1a";
  --syntax_attribute_color: "#85dacc";
  --syntax_attribute_font_style: "italic";
  --syntax_boolean_color: "#a8a9eb";
  --syntax_comment_color: "#72696a";
  --syntax_comment_font_style: "italic";
  --syntax_comment_doc_color: "#72696a";
  --syntax_comment_doc_font_style: "italic";
  --syntax_constant_color: "#a8a9eb";
  --syntax_constructor_color: "#fd6883";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_function_color: "#adda78";
  --syntax_keyword_color: "#fd6883";
  --syntax_label_color: "#adda78";
  --syntax_link_text_color: "#fd6883";
  --syntax_link_uri_color: "#adda78";
  --syntax_number_color: "#a8a9eb";
  --syntax_operator_color: "#fd6883";
  --syntax_preproc_color: "#a8a9eb";
  --syntax_property_color: "#fff1f3";
  --syntax_punctuation_color: "#948a8b";
  --syntax_punctuation_bracket_color: "#948a8b";
  --syntax_punctuation_delimiter_color: "#948a8b";
  --syntax_punctuation_list_marker_color: "#948a8b";
  --syntax_punctuation_special_color: "#948a8b";
  --syntax_string_color: "#f9cc6c";
  --syntax_string_escape_color: "#fff1f3";
  --syntax_string_regex_color: "#f9cc6c";
  --syntax_string_special_color: "#f38d70";
  --syntax_string_special_symbol_color: "#f38d70";
  --syntax_tag_color: "#fd6883";
  --syntax_text_literal_color: "#f9cc6c";
  --syntax_title_color: "#f9cc6c";
  --syntax_type_color: "#85dacc";
  --syntax_variable_color: "#fff1f3";
  --syntax_variable_special_color: "#c3b7b8";
  --syntax_variable_special_font_style: "italic";
}
