:root {
  --border: "#36424C";
  --border-variant: "#36424C";
  --created: "#4BA495";
  --created-background: null;
  --created-border: null;
  --deleted: "#AA464C";
  --deleted-background: null;
  --deleted-border: null;
  --editor-active_line-background: "#1C364A";
  --editor-active_line_number: "#B5B3AD";
  --editor-background: "#152837";
  --editor-foreground: "#B5B3AD";
  --editor-gutter-background: "#122330";
  --editor-highlighted_line-background: null;
  --editor-line_number: "#62717D";
  --editor-subheader-background: null;
  --element-background: "#122330";
  --elevated_surface-background: "#122330";
  --error: "#AA464C";
  --error-background: "#152837";
  --ghost_element-active: null;
  --ghost_element-background: "#122330";
  --ghost_element-disabled: null;
  --ghost_element-hover: null;
  --ghost_element-selected: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#62717D";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#6D8FB7";
  --info-background: "#5a93a220";
  --info-border: null;
  --link_text-hover: "#62717D";
  --modified: "#D59E7B";
  --modified-background: null;
  --modified-border: null;
  --panel-background: "#122330";
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: null;
  --scrollbar-track-border: "#36424C";
  --scrollbar_thumb-background: null;
  --status_bar-background: "#122330";
  --success: "#489D8F";
  --success-background: null;
  --success-border: null;
  --tab-active_background: "#122330";
  --tab-inactive_background: "#152837";
  --tab_bar-background: "#152837";
  --terminal-background: "#152837";
  --text: "#B5B3AD";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: null;
  --text-placeholder: null;
  --title_bar-background: "#122330";
  --toolbar-background: "#152837";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#D59E7B";
  --warning-background: "#152837";
  --warning-border: "#D59E7B";
  --player-1-background: "#1C364A";
  --player-1-cursor: "#B5B3AD";
  --player-1-selection: "#1C364A";
  --syntax-attribute-color: "#C072AD";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-color: "#62717D";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#A296C0";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#A296C0";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#6D8FB7";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#D47D7D";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#A6D0D9";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#A296C0";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#C072AD";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-string-color: "#489D8F";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-type-color: "#D59E7B";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: null;
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
}
