:root {
  --accents: ["#8EAAF9","#F277A1","#B0D89C","null","#FF5370","#F1BF8E","#99CBCA","#FFFFFF","#FF5370","#8EAAF9","null","null","null","null"];
  --background: "#2B2B2B";
  --border: "#1F1F1F";
  --border-disabled: "#3C3C3C7F";
  --border-focused: null;
  --border-selected: "#3C3C3C7F";
  --border-transparent: "#3C3C3C7F";
  --border-variant: "#E6CFB820";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#B0D89C";
  --created-background: null;
  --created-border: null;
  --deleted: "#FF5370";
  --deleted-background: "#FF537060";
  --deleted-border: "#FF5370";
  --drop_target-background: null;
  --editor-active_line-background: "#3C3C3C7F";
  --editor-active_line_number: "#B7F5EB";
  --editor-active_wrap_guide: "#3C3C3C7F";
  --editor-background: "#2B2B2B";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#FFEDD9";
  --editor-gutter-background: "#2B2B2B";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: "false";
  --editor-indent_guide_active: "#B3EFE580";
  --editor-invisible: null;
  --editor-line_number: "#A89D8F";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#3C3C3C7F";
  --element-active: "#3C3C3C7F";
  --element-background: "#252525";
  --element-disabled: null;
  --element-hover: "#252525";
  --element-selected: "#B3EFE52F";
  --elevated_surface-background: "#252525";
  --error: "#FF5370";
  --error-background: "#FF5370";
  --error-border: "#FF5370";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#E6CFB820";
  --ghost_element-selected: "#E6CFB810";
  --hidden: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: "#8EAAF9";
  --hint-border: "#8EAAF9";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: null;
  --ignored-background: null;
  --ignored-border: null;
  --info: "#8EAAF9";
  --info-background: "#8EAAF9";
  --info-border: "#8EAAF9";
  --link_text-hover: null;
  --modified: "#F1BF8E";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#252525";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#45433f";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#2B2B2B";
  --scrollbar-track-border: "#E6CFB820";
  --scrollbar_thumb-background: "#E6CFB825";
  --search-match_background: "#F277A1c0";
  --status_bar-background: "#1F1F1F";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#252525";
  --tab-active_background: "#2B2B2B";
  --tab-inactive_background: "#252525";
  --tab_bar-background: "#1F1F1F";
  --terminal-ansi-black: "#141414";
  --terminal-ansi-blue: "#8EAAF9";
  --terminal-ansi-bright_black: "#929292";
  --terminal-ansi-bright_blue: null;
  --terminal-ansi-bright_cyan: null;
  --terminal-ansi-bright_green: null;
  --terminal-ansi-bright_magenta: null;
  --terminal-ansi-bright_red: null;
  --terminal-ansi-bright_white: null;
  --terminal-ansi-bright_yellow: null;
  --terminal-ansi-cyan: "#99CBCA";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#B0D89C";
  --terminal-ansi-magenta: "#F277A1";
  --terminal-ansi-red: "#FF5370";
  --terminal-ansi-white: "#FFFFFF";
  --terminal-ansi-yellow: "#F1BF8E";
  --terminal-background: "#2B2B2B";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#FFFFFF";
  --text: "#FFEDD9";
  --text-accent: "#B3EFE5";
  --text-disabled: "#E6CFB875";
  --text-muted: "#A89D8F";
  --text-placeholder: null;
  --title_bar-background: "#1F1F1F";
  --toolbar-background: "#2B2B2B";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#F1BF8E";
  --warning-background: "#F1BF8E";
  --warning-border: "#F1BF8E";
  --player-1-background: "#00000000";
  --player-1-cursor: "#B3EFE5";
  --player-1-selection: "#B3EFE52F";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-boolean-color: "#B3EFE5";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#929292";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#929292";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#B3EFE5";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#99CBCA";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#B0D89C";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#BB84B4";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#9D8FF2";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#F69385";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-punctuation-color: "#F277A1";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#F277A1";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#F277A1";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#9D8FF2";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#F277A1";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#F1BF8E";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#B3EFE5";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#F1BF8E";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#F1BF8E";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#F1BF8E";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#99CBCA";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#F1BF8E";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#BB84B4";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#99CBCA";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#FFFFFF";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#99CBCA";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
