:root {
  --accents: ["#55818F","#915d8b","#699058","null","#cc7158","#d6893c","#518C7B","#6B6B69","null","#6BBBCF","null","null","null","null"];
  --background: "#FAF4EB";
  --border: "#DCD6CF";
  --border-disabled: "#DCD7CF";
  --border-focused: null;
  --border-selected: "#DCD7CF";
  --border-transparent: "#DCD7CF";
  --border-variant: "#CCC6BF";
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#699058";
  --created-background: null;
  --created-border: null;
  --deleted: null;
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#DCD7CF";
  --editor-active_line-background: "#BCA88F19";
  --editor-active_line_number: "#668074";
  --editor-active_wrap_guide: "#BCA88F19";
  --editor-background: "#FCF6ED";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#403E3C";
  --editor-gutter-background: "#FCF6ED";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: "#518C7B80";
  --editor-invisible: null;
  --editor-line_number: "#80797490";
  --editor-subheader-background: "#F0EADF";
  --editor-wrap_guide: "#BCA88F19";
  --element-active: null;
  --element-background: "#e5dfd6";
  --element-disabled: null;
  --element-hover: "#e5dfd6";
  --element-selected: "#BCA88F50";
  --elevated_surface-background: "#ebe4dc";
  --error: "#cf1f4c";
  --error-background: "#ff657f";
  --error-border: "#ff657f";
  --ghost_element-active: "#BDB8B279";
  --ghost_element-background: null;
  --ghost_element-disabled: "#BCA88F19";
  --ghost_element-hover: "#CCC6BF";
  --ghost_element-selected: "#CCC7C070";
  --hidden: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: "#6BBBCF";
  --hint-border: "#6BBBCF";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#82827d80";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#55818F";
  --info-background: "#6BBBCF";
  --info-border: "#6BBBCF";
  --link_text-hover: null;
  --modified: "#d6893c";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#EBE4DC";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#CCC6BF";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#F2ECE300";
  --scrollbar-track-border: "#CCC6BF";
  --scrollbar_thumb-background: "#dcd3c690";
  --search-match_background: "#518C7B90";
  --status_bar-background: "#DCD6CF";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#ebe4dc";
  --tab-active_background: "#FCF6ED";
  --tab-inactive_background: "#EBE4DC";
  --tab_bar-background: "#DCD6CF";
  --terminal-ansi-black: "#3C3C3C";
  --terminal-ansi-blue: "#55818F";
  --terminal-ansi-bright_black: null;
  --terminal-ansi-bright_blue: null;
  --terminal-ansi-bright_cyan: null;
  --terminal-ansi-bright_green: null;
  --terminal-ansi-bright_magenta: null;
  --terminal-ansi-bright_red: null;
  --terminal-ansi-bright_white: "#6B6B69";
  --terminal-ansi-bright_yellow: null;
  --terminal-ansi-cyan: "#518C7B";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: "#6B6B69";
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#699058";
  --terminal-ansi-magenta: "#915d8b";
  --terminal-ansi-red: "#cc7158";
  --terminal-ansi-white: "#6B6B69";
  --terminal-ansi-yellow: "#d6893c";
  --terminal-background: "#FCF6ED";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#3C3C3C";
  --text: "#403E3C";
  --text-accent: "#518C7B";
  --text-disabled: null;
  --text-muted: "#736F6C";
  --text-placeholder: "#807974";
  --title_bar-background: "#DCD6CF";
  --toolbar-background: "#FCF6ED";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#d6893c";
  --warning-background: "#ffd5a3";
  --warning-border: "#ffd5a3";
  --player-1-background: "#BCA88Fa0";
  --player-1-cursor: "#518C7B";
  --player-1-selection: "#BCA88F50";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-boolean-color: "#518C7B";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#616161";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#616161";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#518C7B";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#55818F";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#699058";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#915d8b";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#635ab7";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#cc7158";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-punctuation-color: "#c14b77";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#c14b77";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#c14b77";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#635ab7";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#c14b77";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#d6893c";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#518C7B";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#d6893c";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#d6893c";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#d6893c";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#55818F";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#d6893c";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#915d8b";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#55818F";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#3C3C3C";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#55818F";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
