:root {
  --accents: ["#afa0ff","#cc94c5","#c7efb2","null","#FF89B2","#ffd5a3","#aee1e0","#dfe0f2","#ff657f","#afa0ffa0","null","null","null","null"];
  --background: "#282d3b";
  --border: "#181C26";
  --border-disabled: "#4149637F";
  --border-focused: null;
  --border-selected: "#4149637F";
  --border-transparent: "#4149637F";
  --border-variant: "#A1B1E625";
  --conflict: "#CCFFFF";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#c7efb2";
  --created-background: null;
  --created-border: null;
  --deleted: "#FF657F";
  --deleted-background: "#ff657f60";
  --deleted-border: "#ff657f";
  --drop_target-background: null;
  --editor-active_line-background: "#4149637F";
  --editor-active_line_number: "#FF89B2";
  --editor-active_wrap_guide: "#4149637F";
  --editor-background: "#282d3b";
  --editor-document_highlight-read_background: "#414963";
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#D9E1FF";
  --editor-gutter-background: "#282d3b";
  --editor-highlighted_line-background: "#414963";
  --editor-indent_guide: "null";
  --editor-indent_guide_active: "#FF89B270";
  --editor-invisible: null;
  --editor-line_number: "#7a7b91";
  --editor-subheader-background: "#1d212e";
  --editor-wrap_guide: "#4149637F";
  --element-active: null;
  --element-background: "#1d212e";
  --element-disabled: null;
  --element-hover: "#1d212e";
  --element-selected: "#FF89B23f";
  --elevated_surface-background: "#1d212e";
  --error: "#ff657f";
  --error-background: "#FF5370a0";
  --error-border: "#ff657f";
  --ghost_element-active: "#A1B1E615";
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#414860";
  --ghost_element-selected: "#A1B1E625";
  --hidden: null;
  --hidden-border: null;
  --hint: "#6D7694ff";
  --hint-background: "#afa0ffa0";
  --hint-border: "#afa0ff";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6D7694";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#afa0ff";
  --info-background: "#afa0ffa0";
  --info-border: "#afa0ff";
  --link_text-hover: null;
  --modified: "#ffd5a3";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#1d212e";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: "#3a4054";
  --scrollbar-track-background: "#282D3B";
  --scrollbar-track-border: "#A1B1E625";
  --scrollbar_thumb-background: "#A1B1E625";
  --search-match_background: "#afa0ff90";
  --status_bar-background: "#181C26";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#1d212e";
  --tab-active_background: "#282d3b";
  --tab-inactive_background: "#1d212e";
  --tab_bar-background: "#181C26";
  --terminal-ansi-black: "#414963";
  --terminal-ansi-blue: "#afa0ff";
  --terminal-ansi-bright_black: "#dfe0f290";
  --terminal-ansi-bright_blue: null;
  --terminal-ansi-bright_cyan: null;
  --terminal-ansi-bright_green: null;
  --terminal-ansi-bright_magenta: null;
  --terminal-ansi-bright_red: null;
  --terminal-ansi-bright_white: null;
  --terminal-ansi-bright_yellow: null;
  --terminal-ansi-cyan: "#aee1e0";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#c7efb2";
  --terminal-ansi-magenta: "#cc94c5";
  --terminal-ansi-red: "#FF89B2";
  --terminal-ansi-white: "#dfe0f2";
  --terminal-ansi-yellow: "#ffd5a3";
  --terminal-background: "#282d3b";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#DFE0F2";
  --text: "#D9E1FF";
  --text-accent: "#FF89B2df";
  --text-disabled: "#717B99";
  --text-muted: "#8F95A8";
  --text-placeholder: "#717B99";
  --title_bar-background: "#181C26";
  --toolbar-background: "#282d3b";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#ffd5a3";
  --warning-background: "#ffd39cb0";
  --warning-border: "#CFA879";
  --player-1-background: "#00000000";
  --player-1-cursor: "#FF89B2df";
  --player-1-selection: "#FF89B23f";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-boolean-color: "#ccffff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#7a7b91";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#7a7b91";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#ccffff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#aee1e0";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#c7efb2";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#cc94c5";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#afa0ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#ffa697";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-punctuation-color: "#FF89B2";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#FF89B2";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#FF89B2";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#afa0ff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#FF89B2";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#ffd5a3";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ccffff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ffd5a3";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ffd5a3";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#ffd5a3";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#aee1e0";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#ffd5a3";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#cc94c5";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#aee1e0";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#dfe0f2";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#aee1e0";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
