:root {
  --accents: [];
  --background: "#FAFAFA";
  --background-appearance: "opaque";
  --border: "#FAFAFA60";
  --border-disabled: "#FAFAFA60";
  --border-focused: "#FFFFFF00";
  --border-selected: "#FAFAFA60";
  --border-transparent: "#FAFAFA60";
  --border-variant: "#FAFAFA60";
  --conflict: "#E2931D90";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#91B85960";
  --created-background: null;
  --created-border: null;
  --deleted: "#E5393560";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#E5393580";
  --editor-active_line-background: "#CCD7DA50";
  --editor-active_line_number: "#90A4AE";
  --editor-active_wrap_guide: "#FAFAFA60";
  --editor-background: "#FAFAFA";
  --editor-document_highlight-bracket_background: null;
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#90A4AE";
  --editor-gutter-background: "#FAFAFA";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: null;
  --editor-invisible: null;
  --editor-line_number: "#CFD8DC";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#FAFAFA60";
  --element-active: null;
  --element-background: "#80CBC440";
  --element-disabled: null;
  --element-hover: "#FAFAFA";
  --element-selected: "#FAFAFA";
  --elevated_surface-background: "#FAFAFA";
  --error: "#E5393570";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#FAFAFA";
  --ghost_element-selected: "#FAFAFA";
  --hidden: "#758a95";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#758a9590";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#6182B870";
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#90A4AE";
  --modified: "#6182B860";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#00000020";
  --panel-background: "#FAFAFA";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#90A4AE20";
  --scrollbar-thumb-border: "#90A4AE20";
  --scrollbar-thumb-hover_background: "#90A4AE10";
  --scrollbar-track-background: "#FAFAFA";
  --scrollbar-track-border: "#FAFAFA";
  --search-match_background: null;
  --status_bar-background: "#FAFAFA";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#FAFAFA";
  --tab-active_background: "#FAFAFA";
  --tab-inactive_background: "#FAFAFA";
  --tab_bar-background: "#FAFAFA";
  --terminal-ansi-background: null;
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#6182B8";
  --terminal-ansi-bright_black: "#90A4AE";
  --terminal-ansi-bright_blue: "#6182B8";
  --terminal-ansi-bright_cyan: "#39ADB5";
  --terminal-ansi-bright_green: "#91B859";
  --terminal-ansi-bright_magenta: "#9C3EDA";
  --terminal-ansi-bright_red: "#E53935";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#E2931D";
  --terminal-ansi-cyan: "#39ADB5";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#91B859";
  --terminal-ansi-magenta: "#9C3EDA";
  --terminal-ansi-red: "#E53935";
  --terminal-ansi-white: "#FFFFFF";
  --terminal-ansi-yellow: "#E2931D";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#90A4AE";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#758a95";
  --text-placeholder: null;
  --title_bar-background: "#FAFAFA";
  --title_bar-inactive_background: null;
  --toolbar-background: "#FAFAFA";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#E2931D70";
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#9C3EDA";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#90A4AE";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-background_color: null;
  --syntax-comment-doc-color: "#90A4AE";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#E53935";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-background_color: null;
  --syntax-emphasis-color: "#E53935";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-background_color: null;
  --syntax-emphasis-strong-color: "#E53935";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-background_color: null;
  --syntax-function-color: "#6182B8";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#39ADB5";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-number-background_color: null;
  --syntax-number-color: "#F76D47";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-background_color: null;
  --syntax-punctuation-color: "#39ADB5";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-background_color: null;
  --syntax-punctuation-bracket-color: "#39ADB5";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-background_color: null;
  --syntax-punctuation-delimiter-color: "#39ADB5";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-background_color: null;
  --syntax-punctuation-list_marker-color: "#39ADB5";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-background_color: null;
  --syntax-punctuation-special-color: "#39ADB5";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-background_color: null;
  --syntax-string-color: "#91B859";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#91B859";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#91B859";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#91B859";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#91B859";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#E53935";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#91B859";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
}
