:root {
  --accents: [];
  --background: "#263238";
  --background-appearance: "opaque";
  --border: "#26323860";
  --border-disabled: "#26323860";
  --border-focused: "#FFFFFF00";
  --border-selected: "#26323860";
  --border-transparent: "#26323860";
  --border-variant: "#26323860";
  --conflict: "#FFCB6B90";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#C3E88D60";
  --created-background: null;
  --created-border: null;
  --deleted: "#f0717860";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#f0717880";
  --editor-active_line-background: "#00000050";
  --editor-active_line_number: "#EEFFFF";
  --editor-active_wrap_guide: "#26323860";
  --editor-background: "#263238";
  --editor-document_highlight-bracket_background: null;
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#EEFFFF";
  --editor-gutter-background: "#263238";
  --editor-highlighted_line-background: null;
  --editor-indent_guide: null;
  --editor-indent_guide_active: null;
  --editor-invisible: null;
  --editor-line_number: "#465A64";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#26323860";
  --element-active: null;
  --element-background: "#80CBC420";
  --element-disabled: null;
  --element-hover: "#263238";
  --element-selected: "#263238";
  --elevated_surface-background: "#263238";
  --error: "#f0717870";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#263238";
  --ghost_element-selected: "#263238";
  --hidden: "#6c8692";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#6c869290";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#82AAFF70";
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#EEFFFF";
  --modified: "#82AAFF60";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --pane_group-border: "#00000030";
  --panel-background: "#263238";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#EEFFFF20";
  --scrollbar-thumb-border: "#EEFFFF20";
  --scrollbar-thumb-hover_background: "#EEFFFF10";
  --scrollbar-track-background: "#263238";
  --scrollbar-track-border: "#263238";
  --search-match_background: null;
  --status_bar-background: "#263238";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#263238";
  --tab-active_background: "#263238";
  --tab-inactive_background: "#263238";
  --tab_bar-background: "#263238";
  --terminal-ansi-background: null;
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#82AAFF";
  --terminal-ansi-bright_black: "#546E7A";
  --terminal-ansi-bright_blue: "#82AAFF";
  --terminal-ansi-bright_cyan: "#89DDFF";
  --terminal-ansi-bright_green: "#C3E88D";
  --terminal-ansi-bright_magenta: "#C792EA";
  --terminal-ansi-bright_red: "#f07178";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#FFCB6B";
  --terminal-ansi-cyan: "#89DDFF";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#C3E88D";
  --terminal-ansi-magenta: "#C792EA";
  --terminal-ansi-red: "#f07178";
  --terminal-ansi-white: "#ffffff";
  --terminal-ansi-yellow: "#FFCB6B";
  --terminal-background: null;
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#EEFFFF";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#6c8692";
  --text-placeholder: null;
  --title_bar-background: "#263238";
  --title_bar-inactive_background: null;
  --toolbar-background: "#263238";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#FFCB6B70";
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-background_color: null;
  --syntax-attribute-color: "#C792EA";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-background_color: null;
  --syntax-comment-color: "#546E7A";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-background_color: null;
  --syntax-comment-doc-color: "#546E7A";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constructor-background_color: null;
  --syntax-constructor-color: "#f07178";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-background_color: null;
  --syntax-emphasis-color: "#f07178";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-background_color: null;
  --syntax-emphasis-strong-color: "#f07178";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-background_color: null;
  --syntax-function-color: "#82AAFF";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-background_color: null;
  --syntax-keyword-color: "#89DDFF";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-number-background_color: null;
  --syntax-number-color: "#F78C6C";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-punctuation-background_color: null;
  --syntax-punctuation-color: "#89DDFF";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-background_color: null;
  --syntax-punctuation-bracket-color: "#89DDFF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-background_color: null;
  --syntax-punctuation-delimiter-color: "#89DDFF";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-background_color: null;
  --syntax-punctuation-list_marker-color: "#89DDFF";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-background_color: null;
  --syntax-punctuation-special-color: "#89DDFF";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-background_color: null;
  --syntax-string-color: "#C3E88D";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-background_color: null;
  --syntax-string-escape-color: "#C3E88D";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-background_color: null;
  --syntax-string-regex-color: "#C3E88D";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-background_color: null;
  --syntax-string-special-color: "#C3E88D";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-background_color: null;
  --syntax-string-special-symbol-color: "#C3E88D";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-background_color: null;
  --syntax-tag-color: "#f07178";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-background_color: null;
  --syntax-text-literal-color: "#C3E88D";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
}
