:root {
  --background: "#1F212A";
  --border: "#ffffff10";
  --border_disabled: "#ffffff10";
  --border_focused: "#ffffff10";
  --border_selected: "#ffffff10";
  --border_transparent: "#ffffff10";
  --border_variant: "#ffffff10";
  --conflict: "#d0679d";
  --conflict_background: "#1b1e28";
  --conflict_border: "#ffffff10";
  --created: "#5fb3a1";
  --created_background: "#1b1e28";
  --created_border: "#ffffff10";
  --deleted: "#d0679d";
  --deleted_background: "#1b1e28";
  --deleted_border: "#ffffff10";
  --drop_target_background: "#506477";
  --editor_active_line_background: "#717cb425";
  --editor_active_line_number: "#a6accd";
  --editor_active_wrap_guide: "#00000030";
  --editor_background: "#1F212A";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#a6accd";
  --editor_gutter_background: "#1b1e28";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#767c9d50";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#00000030";
  --element_active: null;
  --element_background: "#303340";
  --element_disabled: null;
  --element_hover: "#30334080";
  --element_selected: "#30334080";
  --elevated_surface_background: "#1b1e28";
  --error: "#d0679d";
  --error_background: "#1b1e28";
  --error_border: "#ffffff10";
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#30334080";
  --ghost_element_selected: "#30334080";
  --hidden: "#767c9d";
  --hidden_background: "#1b1e28";
  --hidden_border: "#ffffff10";
  --hint: "#969696ff";
  --hint_background: "#1b1e28";
  --hint_border: "#ffffff10";
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#767c9d70";
  --ignored_background: "#1b1e28";
  --ignored_border: "#ffffff10";
  --info: "#ADD7FF";
  --info_background: "#1b1e28";
  --info_border: "#ffffff10";
  --link_text_hover: "#ADD7FF";
  --modified: "#ADD7FF";
  --modified_background: "#1b1e28";
  --modified_border: "#ffffff10";
  --pane_focused_border: null;
  --panel_background: "#1b1e28";
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: "#1b1e28";
  --predictive_border: "#ffffff10";
  --renamed: null;
  --renamed_background: "#1b1e28";
  --renamed_border: "#ffffff10";
  --scrollbar_thumb_background: "#00000080";
  --scrollbar_thumb_border: "#00000080";
  --scrollbar_thumb_hover_background: "#a6accd25";
  --scrollbar_track_background: "#1b1e28";
  --scrollbar_track_border: "#00000000";
  --search_match_background: null;
  --status_bar_background: "#1b1e28";
  --success: null;
  --success_background: "#1b1e28";
  --success_border: "#ffffff10";
  --surface_background: "#1b1e28";
  --tab_active_background: "#30334080";
  --tab_inactive_background: "#1b1e28";
  --tab_bar_background: "#1b1e28";
  --terminal_ansi_black: "#1b1e28";
  --terminal_ansi_blue: "#89ddff";
  --terminal_ansi_bright_black: "#a6accd";
  --terminal_ansi_bright_blue: "#ADD7FF";
  --terminal_ansi_bright_cyan: "#ADD7FF";
  --terminal_ansi_bright_green: "#5DE4c7";
  --terminal_ansi_bright_magenta: "#f087bd";
  --terminal_ansi_bright_red: "#d0679d";
  --terminal_ansi_bright_white: "#ffffff";
  --terminal_ansi_bright_yellow: "#fffac2";
  --terminal_ansi_cyan: "#89ddff";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#5DE4c7";
  --terminal_ansi_magenta: "#f087bd";
  --terminal_ansi_red: "#d0679d";
  --terminal_ansi_white: "#ffffff";
  --terminal_ansi_yellow: "#fffac2";
  --terminal_background: null;
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#a6accd";
  --text_accent: null;
  --text_disabled: null;
  --text_muted: "#767c9d";
  --text_placeholder: null;
  --title_bar_background: "#1b1e28";
  --toolbar_background: "#00000000";
  --unreachable: null;
  --unreachable_background: "#1b1e28";
  --unreachable_border: "#ffffff10";
  --warning: "#fffac2";
  --warning_background: "#1b1e28";
  --warning_border: "#ffffff10";
  --syntax_attribute_color: "#DDA2F5";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#DDA2F5";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#565775";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_constant_color: "#85B1E0";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#F5FAFF";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_function_color: "#F5FAFF";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_method_color: "#F5FAFF";
  --syntax_function_method_font_style: null;
  --syntax_function_method_font_weight: null;
  --syntax_keyword_color: "#7E7EDD";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_number_color: "#C588D9";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#7E7EDD";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_property_color: "#B9BED5";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_bracket_color: "#FFD602";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_string_color: "#9AEFEA";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_tag_color: "#85B1E0";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_type_color: "#A571F4";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#85B1E0";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
}
