:root {
  --background: "#ffffffff";
  --border: "#d1d9e0ff";
  --border_disabled: "#818b981a";
  --border_focused: "#0969daff";
  --border_selected: "#0969daff";
  --border_transparent: "#ffffff00";
  --border_variant: "#d1d9e0b3";
  --conflict: "#bc4c00ff";
  --conflict_background: "#fff1e5ff";
  --conflict_border: "#fb8f4466";
  --created: "#0969daff";
  --created_background: "#ddf4ffff";
  --created_border: "#54aeff66";
  --deleted: "#be4e02ff";
  --deleted_background: "#fff1e5ff";
  --deleted_border: "#fb8f4466";
  --drop_target_background: "#ddf4ffff";
  --editor_active_line_background: "#f6f8faff";
  --editor_active_line_number: "#1f2328ff";
  --editor_active_wrap_guide: "#d1d9e0b3";
  --editor_background: "#ffffffff";
  --editor_document_highlight_read_background: "#0969da4d";
  --editor_document_highlight_write_background: "#0969da33";
  --editor_foreground: "#1f2328ff";
  --editor_gutter_background: "#ffffffff";
  --editor_highlighted_line_background: "#818b981f";
  --editor_invisible: "#818b98ff";
  --editor_line_number: "#59636eff";
  --editor_subheader_background: "#f6f8faff";
  --editor_wrap_guide: "#d1d9e0b3";
  --element_active: "#818b981f";
  --element_background: "#818b981f";
  --element_disabled: "#eff2f5ff";
  --element_hover: "#818b981f";
  --element_selected: "#818b981f";
  --elevated_surface_background: "#f6f8faff";
  --error: "#be4e02ff";
  --error_background: "#f6f8faff";
  --error_border: "#d1d9e0b3";
  --ghost_element_active: "#818b981f";
  --ghost_element_background: "#ffffff00";
  --ghost_element_disabled: "#eff2f5ff";
  --ghost_element_hover: "#ffffffff";
  --ghost_element_selected: "#818b981f";
  --hidden: "#818b98ff";
  --hidden_background: "#eff2f5ff";
  --hidden_border: "#818b981a";
  --hint: "#59636eff";
  --hint_background: "#f6f8faff";
  --hint_border: "#d1d9e0b3";
  --icon: "#1f2328ff";
  --icon_accent: "#0969daff";
  --icon_background: "#ffffffff";
  --icon_border: "#d1d9e0ff";
  --icon_disabled: "#818b98ff";
  --icon_muted: "#59636eff";
  --ignored: "#59636eff";
  --ignored_background: "#eff2f5ff";
  --ignored_border: "#818b981a";
  --info: "#9a6700ff";
  --info_background: "#f6f8faff";
  --info_border: "#d1d9e0b3";
  --link_text_hover: "#0969daff";
  --modified: "#9a6700ff";
  --modified_background: "#fff8c5ff";
  --modified_border: "#d4a72c66";
  --pane_focused_border: "#d1d9e0ff";
  --panel_background: "#f6f8faff";
  --panel_focused_border: "#d1d9e0ff";
  --predictive_background: "#818b981f";
  --predictive_border: "#d1d9e0b3";
  --renamed: "#0969daff";
  --renamed_background: "#ddf4ffff";
  --renamed_border: "#54aeff66";
  --scrollbar_thumb_border: "#ffffff00";
  --scrollbar_thumb_hover_background: "#f6f8faff";
  --scrollbar_track_background: "#ffffff00";
  --scrollbar_track_border: "#ffffff00";
  --search_match_background: "#fae17d4d";
  --status_bar_background: "#f6f8faff";
  --success: "#0969daff";
  --success_background: "#ddf4ffff";
  --success_border: "#54aeff66";
  --surface_background: "#f6f8faff";
  --tab_active_background: "#ffffffff";
  --tab_inactive_background: "#f6f8faff";
  --tab_bar_background: "#f6f8faff";
  --terminal_ansi_black: "#1f2328ff";
  --terminal_ansi_blue: "#0969daff";
  --terminal_ansi_bright_black: "#393f46ff";
  --terminal_ansi_bright_blue: "#218bffff";
  --terminal_ansi_bright_cyan: "#3192aaff";
  --terminal_ansi_bright_green: "#0969daff";
  --terminal_ansi_bright_magenta: "#a475f9ff";
  --terminal_ansi_bright_red: "#953800ff";
  --terminal_ansi_bright_white: "#818b98ff";
  --terminal_ansi_bright_yellow: "#633c01ff";
  --terminal_ansi_cyan: "#1b7c83ff";
  --terminal_ansi_dim_black: "#1f2328ff";
  --terminal_ansi_dim_blue: "#0969daff";
  --terminal_ansi_dim_cyan: "#1b7c83ff";
  --terminal_ansi_dim_green: "#0550aeff";
  --terminal_ansi_dim_magenta: "#8250dfff";
  --terminal_ansi_dim_red: "#bc4c00ff";
  --terminal_ansi_dim_white: "#59636eff";
  --terminal_ansi_dim_yellow: "#4d2d00ff";
  --terminal_ansi_green: "#0550aeff";
  --terminal_ansi_magenta: "#8250dfff";
  --terminal_ansi_red: "#bc4c00ff";
  --terminal_ansi_white: "#59636eff";
  --terminal_ansi_yellow: "#4d2d00ff";
  --terminal_background: "#f6f8faff";
  --terminal_bright_foreground: "#ffffffff";
  --terminal_dim_foreground: "#59636eff";
  --terminal_foreground: "#1f2328ff";
  --text: "#1f2328ff";
  --text_accent: "#0969daff";
  --text_disabled: "#818b98ff";
  --text_muted: "#1f2328ff";
  --title_bar_background: "#f6f8faff";
  --toolbar_background: "#ffffffff";
  --unreachable: "#818b98ff";
  --unreachable_background: "#eff2f5ff";
  --unreachable_border: "#818b981a";
  --warning: "#9a6700ff";
  --warning_background: "#f6f8faff";
  --warning_border: "#d1d9e0b3";
  --player_1_background: "#006edbff";
  --player_1_cursor: "#006edbff";
  --player_1_selection: "#006edb66";
  --player_2_background: "#eb670fff";
  --player_2_cursor: "#eb670fff";
  --player_2_selection: "#eb670f66";
  --player_3_background: "#ce2c85ff";
  --player_3_cursor: "#ce2c85ff";
  --player_3_selection: "#ce2c8566";
  --player_4_background: "#30a147ff";
  --player_4_cursor: "#30a147ff";
  --player_4_selection: "#30a14766";
  --player_5_background: "#894cebff";
  --player_5_cursor: "#894cebff";
  --player_5_selection: "#894ceb66";
  --player_6_background: "#b88700ff";
  --player_6_cursor: "#b88700ff";
  --player_6_selection: "#b8870066";
  --player_7_background: "#179b9bff";
  --player_7_cursor: "#179b9bff";
  --player_7_selection: "#179b9b66";
  --player_8_background: "#df0c24ff";
  --player_8_cursor: "#df0c24ff";
  --player_8_selection: "#df0c2466";
  --syntax_attribute_color: "#327DCC";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#BA45ED";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#565775";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_constant_color: "#7FB3E1";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#6D17ED";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_function_color: "#7FB3E1";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_method_color: "#7FB3E1";
  --syntax_function_method_font_style: null;
  --syntax_function_method_font_weight: null;
  --syntax_keyword_color: "#8484DF";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_number_color: "#BA45ED";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#BA45ED";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_property_color: "#7FB3E1";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_bracket_color: "#565775";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_string_color: "#1DAFA8";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_tag_color: "#1DAFA8";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_type_color: "#6D17ED";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#327DCC";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
}
