:root {
  --background: "#dcd8d8ff";
  --border: "#dcd6d5ff";
  --border_disabled: "#d0cccfff";
  --border_focused: "#c3d7dbff";
  --border_selected: "#c3d7dbff";
  --border_transparent: "#00000000";
  --border_variant: "#e5e0dfff";
  --conflict: "#e99d35ff";
  --conflict_background: "#ffebd6ff";
  --conflict_border: "#ffdab7ff";
  --created: "#3daa8eff";
  --created_background: "#dbeee7ff";
  --created_border: "#bee0d5ff";
  --deleted: "#b4647aff";
  --deleted_background: "#f1dfe3ff";
  --deleted_border: "#e6c6cdff";
  --drop_target_background: "#706c8c80";
  --editor_active_line_background: "#fef9f2bf";
  --editor_active_line_number: "#575279ff";
  --editor_active_wrap_guide: "#5752791a";
  --editor_background: "#faf4edff";
  --editor_document_highlight_read_background: "#57949f1a";
  --editor_document_highlight_write_background: "#9691a466";
  --editor_foreground: "#575279ff";
  --editor_gutter_background: "#faf4edff";
  --editor_highlighted_line_background: "#fef9f2ff";
  --editor_invisible: "#9691a4ff";
  --editor_line_number: "#57527959";
  --editor_subheader_background: "#fef9f2ff";
  --editor_wrap_guide: "#5752790d";
  --element_active: "#dad4d3ff";
  --element_background: "#fef9f2ff";
  --element_disabled: "#fef9f2ff";
  --element_hover: "#e5e0dfff";
  --element_selected: "#dad4d3ff";
  --elevated_surface_background: "#fef9f2ff";
  --error: "#b4647aff";
  --error_background: "#f1dfe3ff";
  --error_border: "#e6c6cdff";
  --ghost_element_active: "#dad4d3ff";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#fef9f2ff";
  --ghost_element_hover: "#e5e0dfff";
  --ghost_element_selected: "#dad4d3ff";
  --hidden: "#938fa3ff";
  --hidden_background: "#dcd8d8ff";
  --hidden_border: "#d0cccfff";
  --hint: "#7a92aaff";
  --hint_background: "#dde9ebff";
  --hint_border: "#c3d7dbff";
  --icon: "#575279ff";
  --icon_accent: "#57949fff";
  --icon_disabled: "#938fa3ff";
  --icon_muted: "#706c8cff";
  --icon_placeholder: "#706c8cff";
  --ignored: "#938fa3ff";
  --ignored_background: "#dcd8d8ff";
  --ignored_border: "#dcd6d5ff";
  --info: "#57949fff";
  --info_background: "#dde9ebff";
  --info_border: "#c3d7dbff";
  --link_text_hover: "#57949fff";
  --modified: "#e99d35ff";
  --modified_background: "#ffebd6ff";
  --modified_border: "#ffdab7ff";
  --pane_focused_border: null;
  --panel_background: "#fef9f2ff";
  --panel_focused_border: null;
  --predictive: "#a2acbeff";
  --predictive_background: "#dbeee7ff";
  --predictive_border: "#bee0d5ff";
  --renamed: "#57949fff";
  --renamed_background: "#dde9ebff";
  --renamed_border: "#c3d7dbff";
  --scrollbar_thumb_background: "#5752794c";
  --scrollbar_thumb_border: "#e5e0dfff";
  --scrollbar_thumb_hover_background: "#e5e0dfff";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#fdf8f1ff";
  --search_match_background: "#9cced766";
  --status_bar_background: "#dcd8d8ff";
  --success: "#3daa8eff";
  --success_background: "#dbeee7ff";
  --success_border: "#bee0d5ff";
  --surface_background: "#fef9f2ff";
  --tab_active_background: "#faf4edff";
  --tab_inactive_background: "#fef9f2ff";
  --tab_bar_background: "#fef9f2ff";
  --terminal_ansi_black: "#faf4edff";
  --terminal_ansi_blue: "#57949fff";
  --terminal_ansi_bright_black: "#b8b2baff";
  --terminal_ansi_bright_blue: "#acc9ceff";
  --terminal_ansi_bright_cyan: "#97b1c0ff";
  --terminal_ansi_bright_green: "#a5d5c5ff";
  --terminal_ansi_bright_magenta: "#bcb1bdff";
  --terminal_ansi_bright_red: "#dcb0bbff";
  --terminal_ansi_bright_white: "#575279ff";
  --terminal_ansi_bright_yellow: "#fccd9bff";
  --terminal_ansi_cyan: "#296983ff";
  --terminal_ansi_dim_black: "#575279ff";
  --terminal_ansi_dim_blue: "#2f484dff";
  --terminal_ansi_dim_cyan: "#1b3541ff";
  --terminal_ansi_dim_green: "#265245ff";
  --terminal_ansi_dim_magenta: "#3e353fff";
  --terminal_ansi_dim_red: "#57333dff";
  --terminal_ansi_dim_white: "#827e98ff";
  --terminal_ansi_dim_yellow: "#854a1eff";
  --terminal_ansi_green: "#3daa8eff";
  --terminal_ansi_magenta: "#7c697fff";
  --terminal_ansi_red: "#b4647aff";
  --terminal_ansi_white: "#575279ff";
  --terminal_ansi_yellow: "#e99d35ff";
  --terminal_background: "#faf4edff";
  --terminal_bright_foreground: "#575279ff";
  --terminal_dim_foreground: "#faf4edff";
  --terminal_foreground: "#575279ff";
  --text: "#575279ff";
  --text_accent: "#57949fff";
  --text_disabled: "#938fa3ff";
  --text_muted: "#706c8cff";
  --text_placeholder: "#938fa3ff";
  --title_bar_background: "#dcd8d8ff";
  --title_bar_inactive_background: "#fef9f2ff";
  --toolbar_background: "#faf4edff";
  --unreachable: "#706c8cff";
  --unreachable_background: "#dcd8d8ff";
  --unreachable_border: "#dcd6d5ff";
  --warning: "#e99d35ff";
  --warning_background: "#ffebd6ff";
  --warning_border: "#ffdab7ff";
  --player_1_background: "#57949fff";
  --player_1_cursor: "#57949fff";
  --player_1_selection: "#57949f3d";
  --player_2_background: "#7c697fff";
  --player_2_cursor: "#7c697fff";
  --player_2_selection: "#7c697f3d";
  --player_3_background: "#9079a9ff";
  --player_3_cursor: "#9079a9ff";
  --player_3_selection: "#9079a93d";
  --player_4_background: "#9079a9ff";
  --player_4_cursor: "#9079a9ff";
  --player_4_selection: "#9079a93d";
  --player_5_background: "#296983ff";
  --player_5_cursor: "#296983ff";
  --player_5_selection: "#2969833d";
  --player_6_background: "#b4647aff";
  --player_6_cursor: "#b4647aff";
  --player_6_selection: "#b4647a3d";
  --player_7_background: "#e99d35ff";
  --player_7_cursor: "#e99d35ff";
  --player_7_selection: "#e99d353d";
  --player_8_background: "#3daa8eff";
  --player_8_cursor: "#3daa8eff";
  --player_8_selection: "#3daa8e3d";
  --syntax_attribute_color: "#327DCC";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#BA45ED";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#565775";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_constant_color: "#7FB3E1";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#6D17ED";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_function_color: "#7FB3E1";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_function_method_color: "#7FB3E1";
  --syntax_function_method_font_style: null;
  --syntax_function_method_font_weight: null;
  --syntax_keyword_color: "#8484DF";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_number_color: "#BA45ED";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#BA45ED";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_property_color: "#7FB3E1";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_bracket_color: "#565775";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_string_color: "#1DAFA8";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_tag_color: "#1DAFA8";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_type_color: "#6D17ED";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#327DCC";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
}
