:root {
  --background: "#171717";
  --border: "#464b57ff";
  --border_disabled: "#414754ff";
  --border_focused: "#293b5bff";
  --border_selected: "#293b5bff";
  --border_transparent: "#00000000";
  --border_variant: "#5D53CA";
  --conflict: "#dec184ff";
  --conflict_background: "#41321dff";
  --conflict_border: "#5d4c2fff";
  --created: "#34d058ff";
  --created_background: "#222e1dff";
  --created_border: "#38482fff";
  --deleted: "#ea4a5aff";
  --deleted_background: "#301b1bff";
  --deleted_border: "#4c2b2cff";
  --drop_target_background: "#83899480";
  --editor_active_line_background: "#2b3036bf";
  --editor_active_line_number: "#e1e4e8ff";
  --editor_active_wrap_guide: "#c8ccd41a";
  --editor_background: "#1D1D1D";
  --editor_document_highlight_read_background: "#74ade81a";
  --editor_document_highlight_write_background: "#555a6366";
  --editor_foreground: "#F1F1F1";
  --editor_gutter_background: "#1D1D1D";
  --editor_highlighted_line_background: "#2b3036ff";
  --editor_invisible: "#555a63ff";
  --editor_line_number: "#e1e4e859";
  --editor_subheader_background: "#2f343eff";
  --editor_wrap_guide: "#c8ccd40d";
  --element_active: "#48419D";
  --element_background: "#171717";
  --element_disabled: "#2f343eff";
  --element_hover: "#5D53CA";
  --element_selected: "#48419D";
  --elevated_surface_background: "#171717";
  --error: "#d07277ff";
  --error_background: "#301b1bff";
  --error_border: "#4c2b2cff";
  --ghost_element_active: "#48419D";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#2f343eff";
  --ghost_element_hover: "#5D53CA";
  --ghost_element_selected: "#48419D";
  --hidden: "#555a63ff";
  --hidden_background: "#171717";
  --hidden_border: "#414754ff";
  --hint: "#5a6f89ff";
  --hint_background: "#18243dff";
  --hint_border: "#293b5bff";
  --icon: "#F1F1F1";
  --icon_accent: "#5EA2FF";
  --icon_disabled: "#555a63ff";
  --icon_muted: "#B3B3B3";
  --icon_placeholder: "#B3B3B3";
  --ignored: "#B3B3B3";
  --ignored_background: "#171717";
  --ignored_border: "#464b57ff";
  --info: "#74ade8ff";
  --info_background: "#18243dff";
  --info_border: "#293b5bff";
  --link_text_hover: "#F1F1F1";
  --modified: "#79b8ffff";
  --modified_background: "#41321dff";
  --modified_border: "#5d4c2fff";
  --pane_focused_border: null;
  --panel_background: "#171717";
  --panel_focused_border: "#1b1f23ff";
  --predictive: "#5a6a87ff";
  --predictive_background: "#222e1dff";
  --predictive_border: "#38482fff";
  --renamed: "#74ade8ff";
  --renamed_background: "#18243dff";
  --renamed_border: "#293b5bff";
  --scrollbar_thumb_background: "#6a737d33";
  --scrollbar_thumb_border: "#5D53CA";
  --scrollbar_thumb_hover_background: "#6a737d44";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#2e333cff";
  --search_match_background: "#ffd33d44";
  --status_bar_background: "#1D1D1D";
  --success: "#a1c181ff";
  --success_background: "#222e1dff";
  --success_border: "#38482fff";
  --surface_background: "#171717";
  --tab_active_background: "#1D1D1D";
  --tab_inactive_background: "#171717";
  --tab_bar_background: "#171717";
  --terminal_ansi_black: "#666666";
  --terminal_ansi_blue: "#5C78FF";
  --terminal_ansi_bright_black: "#666666";
  --terminal_ansi_bright_blue: "#2B4FFF";
  --terminal_ansi_bright_cyan: "#5AC8FF";
  --terminal_ansi_bright_green: "#905AFF";
  --terminal_ansi_bright_magenta: "#5EA2FF";
  --terminal_ansi_bright_red: "#ba5aff";
  --terminal_ansi_bright_white: "#FFFFFF";
  --terminal_ansi_bright_yellow: "#3D2AFF";
  --terminal_ansi_cyan: "#28B9FF";
  --terminal_ansi_dim_black: "#F1F1F1";
  --terminal_ansi_dim_blue: "#bed5f4ff";
  --terminal_ansi_dim_cyan: "#b9d9dfff";
  --terminal_ansi_dim_green: "#905AFF";
  --terminal_ansi_dim_magenta: "#5EA2FF";
  --terminal_ansi_dim_red: "#ba5aff";
  --terminal_ansi_dim_white: "#575d65ff";
  --terminal_ansi_dim_yellow: "#3D2AFF";
  --terminal_ansi_green: "#7129FF";
  --terminal_ansi_magenta: "#2883FF";
  --terminal_ansi_red: "#5C78FF";
  --terminal_ansi_white: "#F1F1F1";
  --terminal_ansi_yellow: "#685AFF";
  --terminal_background: "#1D1D1D";
  --terminal_bright_foreground: "#F1F1F1";
  --terminal_dim_foreground: "#1D1D1D";
  --terminal_foreground: "#F1F1F1";
  --text: "#F1F1F1";
  --text_accent: "#5EA2FF";
  --text_disabled: "#555a63ff";
  --text_muted: "#F1F1F1";
  --text_placeholder: "#555a63ff";
  --title_bar_background: "#1D1D1D";
  --toolbar_background: "#1D1D1D";
  --unreachable: "#B3B3B3";
  --unreachable_background: "#171717";
  --unreachable_border: "#464b57ff";
  --warning: "#5AFFBD";
  --warning_background: "#41321dff";
  --warning_border: "#5d4c2fff";
  --player_1_background: "#74ade8ff";
  --player_1_cursor: "#74ade8ff";
  --player_1_selection: "#74ade83d";
  --player_2_background: "#be5046ff";
  --player_2_cursor: "#be5046ff";
  --player_2_selection: "#be50463d";
  --player_3_background: "#5AC8FF";
  --player_3_cursor: "#5AC8FF";
  --player_3_selection: "#5AC8FF";
  --player_4_background: "#b477cfff";
  --player_4_cursor: "#b477cfff";
  --player_4_selection: "#b477cf3d";
  --player_5_background: "#6eb4bfff";
  --player_5_cursor: "#6eb4bfff";
  --player_5_selection: "#6eb4bf3d";
  --player_6_background: "#d07277ff";
  --player_6_cursor: "#d07277ff";
  --player_6_selection: "#d072773d";
  --player_7_background: "#dec184ff";
  --player_7_cursor: "#dec184ff";
  --player_7_selection: "#dec1843d";
  --player_8_background: "#a1c181ff";
  --player_8_cursor: "#a1c181ff";
  --player_8_selection: "#a1c1813d";
  --syntax_attribute_color: "#74ade8ff";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#5AC8FF";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#6a737dff";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#6a737dff";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#BA5AFF";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#685AFF";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#9ecbffff";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#74ade8ff";
  --syntax_emphasis_font_style: null;
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#5AC8FF";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#905AFF";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#BA5AFF";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#5a6f89ff";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: 700;
  --syntax_keyword_color: "#5EA2FF";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_label_color: "#74ade8ff";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#73ade9ff";
  --syntax_link_text_font_style: "normal";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#5C78FF";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#28B9FF";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#F1F1F1";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#5a6a87ff";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#F1F1F1";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#acb2beff";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#5C78FF";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#acb2beff";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#b2b9c6ff";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#b2b9c6ff";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#d07277ff";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#87FFAF";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#28B9FF";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#878e98ff";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#5AC8FF";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#5AC8FF";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#5AC8FF";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#e1e4e8ff";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#a1c181ff";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#685AFF";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 400;
  --syntax_type_color: "#5C78FF";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#28B9FF";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#5AC8FF";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
  --syntax_variant_color: "#28B9FF";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
