:root {
  --background: "#13161D";
  --border: "#1B1F28";
  --border-focused: "#FFB69E";
  --border-selected: "#FFB69E";
  --conflict: "#E4A2AC";
  --created: "#80D6AD";
  --deleted: "#E4A2AC";
  --editor-active_line-background: "#1B1F28";
  --editor-background: "#12161e";
  --editor-document_highlight-read_background: "#373D4A";
  --editor-foreground: "#EDEFF4";
  --editor-gutter-background: "#12161e";
  --editor-highlighted_line-background: "#222630";
  --editor-indent_guide: "#1B1F28";
  --editor-invisible: "#333842";
  --editor-line_number: "#333842";
  --editor-wrap_guide: "#333842";
  --element-background: "#1B1F28";
  --element-hover: "#222630";
  --elevated_surface-background: "#0C0E13";
  --error-background: "#8C404A";
  --error-border: "#8C404A";
  --ghost_element-hover: "#1B1F28";
  --hint: "#535A69";
  --hint-background: "#40578C";
  --hint-border: "#40578C";
  --ignored: "#535A69";
  --modified: "#FFB69E";
  --panel-background: "#0d1016";
  --predictive: "#a6a7ab";
  --status_bar-background: "#12161e";
  --surface-background: "#0C0E13";
  --tab-active_background: "#1B1F28";
  --tab-inactive_background: "#13161D";
  --tab_bar-background: "#12161e";
  --text: "#EDEFF4";
  --text-accent: "#FFB69E";
  --text-disabled: "#535A69";
  --text-muted: "#a6a7ab";
  --text-placeholder: "#a6a7ab";
  --title_bar-background: "#0C0E13";
  --toolbar-background: "#12161e";
  --warning-background: "#8C8340";
  --warning-border: "#8C8340";
  --player-1-background: "#74ade8ff";
  --player-1-cursor: "#74ade8ff";
  --player-1-selection: "#74ade83d";
  --player-2-background: "#be5046ff";
  --player-2-cursor: "#be5046ff";
  --player-2-selection: "#be50463d";
  --player-3-background: "#bf956aff";
  --player-3-cursor: "#bf956aff";
  --player-3-selection: "#bf956a3d";
  --player-4-background: "#b477cfff";
  --player-4-cursor: "#b477cfff";
  --player-4-selection: "#b477cf3d";
  --player-5-background: "#6eb4bfff";
  --player-5-cursor: "#6eb4bfff";
  --player-5-selection: "#6eb4bf3d";
  --player-6-background: "#d07277ff";
  --player-6-cursor: "#d07277ff";
  --player-6-selection: "#d072773d";
  --player-7-background: "#dec184ff";
  --player-7-cursor: "#dec184ff";
  --player-7-selection: "#dec1843d";
  --player-8-background: "#a1c181ff";
  --player-8-cursor: "#a1c181ff";
  --player-8-selection: "#a1c1813d";
  --syntax-boolean-color: "#F5DA7A";
  --syntax-boolean-font_style: "italic";
  --syntax-boolean-font_weight: 400;
  --syntax-comment-color: "#535A69";
  --syntax-constant-color: "#9796FE";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-embedded-color: "#8BB8F9";
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#E6BB8D";
  --syntax-function-color: "#80D6AD";
  --syntax-hint-color: "#333842";
  --syntax-keyword-color: "#F5DA7A";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: 600;
  --syntax-label-color: "#333842";
  --syntax-number-color: "#F5DA7A";
  --syntax-number-font_style: "italic";
  --syntax-number-font_weight: 600;
  --syntax-operator-color: "#F5DA7A";
  --syntax-operator-font_weight: 600;
  --syntax-property-color: "#E9DEB7";
  --syntax-punctuation-color: "#333842";
  --syntax-punctuation-bracket-color: "#a6a7ab";
  --syntax-punctuation-delimiter-color: "#a6a7ab";
  --syntax-punctuation-list_marker-color: "#a6a7ab";
  --syntax-punctuation-special-color: "#a6a7ab";
  --syntax-string-color: "#E4A2AC";
  --syntax-tag-color: "#BCBCEF";
  --syntax-text-literal-color: "#E4A2AC";
  --syntax-type-color: "#E6BB8D";
  --syntax-variable-color: "#8BB8F9";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#BBCFEC";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
