:root {
  --background: "#F6F6F6c0";
  --background-appearance: "blurred";
  --border: "#E9E9E9";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#388E3C";
  --created-background: null;
  --created-border: null;
  --deleted: "#D32F2F";
  --deleted-background: "#FFEBEE";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: null;
  --editor-active_line_number: "#757575";
  --editor-active_wrap_guide: null;
  --editor-background: "#FFFFFF";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#212121";
  --editor-gutter-background: "#FFFFFF";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#CCC";
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: "#EDEDED";
  --element-selected: "#EDEDED";
  --elevated_surface-background: null;
  --error: "#D32F2F";
  --error-background: "#FFEBEE";
  --error-border: "#D32F2F";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: null;
  --ghost_element-selected: "#EDEDED";
  --hidden: "#BDBDBD";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#757575";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#75757580";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#212121";
  --modified: "#F57C00";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#00000000";
  --panel-focused_border: null;
  --predictive: "#757575";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#FFFFFF00";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: null;
  --search-match_background: "#E7C54764";
  --status_bar-background: "#F6F6F6c0";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#FFFFFF";
  --tab-inactive_background: "#F6F6F6";
  --tab_bar-background: "#F6F6F6";
  --terminal-ansi-black: "#333333";
  --terminal-ansi-blue: "#1976D2";
  --terminal-ansi-bright_black: "#A1A1A1";
  --terminal-ansi-bright_blue: "#64B5F6";
  --terminal-ansi-bright_cyan: "#4DD0E1";
  --terminal-ansi-bright_green: "#81C784";
  --terminal-ansi-bright_magenta: "#F06292";
  --terminal-ansi-bright_red: "#E57373";
  --terminal-ansi-bright_white: "#FFFFFF";
  --terminal-ansi-bright_yellow: "#FFB74D";
  --terminal-ansi-cyan: "#0097A7";
  --terminal-ansi-dim_black: "#757575";
  --terminal-ansi-dim_blue: "#0D47A1";
  --terminal-ansi-dim_cyan: "#006064";
  --terminal-ansi-dim_green: "#1B5E20";
  --terminal-ansi-dim_magenta: "#880E4F";
  --terminal-ansi-dim_red: "#B71C1C";
  --terminal-ansi-dim_white: "#F5F5F5";
  --terminal-ansi-dim_yellow: "#E65100";
  --terminal-ansi-green: "#388E3C";
  --terminal-ansi-magenta: "#C2185B";
  --terminal-ansi-red: "#D32F2F";
  --terminal-ansi-white: "#FAFAFA";
  --terminal-ansi-yellow: "#F57C00";
  --terminal-background: "#FFFFFF";
  --terminal-bright_foreground: "#000000";
  --terminal-dim_foreground: "#757575";
  --terminal-foreground: "#212121";
  --text: "#757575";
  --text-accent: "#757575";
  --text-disabled: null;
  --text-muted: "#757575";
  --text-placeholder: null;
  --title_bar-background: "#F6F6F6c0";
  --toolbar-background: "#F6F6F6";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: null;
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-color: "#6F42C1";
  --syntax-boolean-color: "#1976D2";
  --syntax-comment-color: "#C2C3C5";
  --syntax-comment-doc-color: "#C2C3C5";
  --syntax-constant-color: "#1976D2";
  --syntax-enum-color: "#6F42C1";
  --syntax-function-color: "#6F42C1";
  --syntax-keyword-color: "#D32F2F";
  --syntax-number-color: "#212121";
  --syntax-operator-color: "#D32F2F";
  --syntax-property-color: "#212121";
  --syntax-punctuation-color: "#424242";
  --syntax-string-color: "#22863A";
  --syntax-string-escape-color: "#D32F2F";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: 400;
  --syntax-tag-color: "#22863A";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: 400;
  --syntax-text-literal-color: "#C2185B";
  --syntax-text-literal-font_style: "normal";
  --syntax-text-literal-font_weight: 400;
  --syntax-type-color: "#1976D2";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: 400;
  --syntax-type-builtin-color: "#1976D2";
  --syntax-type-builtin-font_style: "normal";
  --syntax-type-builtin-font_weight: 400;
  --syntax-variable-color: "#212121";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: 400;
  --syntax-variable-special-color: "#1976D2";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: 400;
}
