:root {
  --background: "#1A1A1Ac0";
  --background-appearance: "blurred";
  --border: "#2A2A2A";
  --border-disabled: null;
  --border-focused: null;
  --border-selected: null;
  --border-transparent: null;
  --border-variant: null;
  --conflict: null;
  --conflict-background: null;
  --conflict-border: null;
  --created: "#6C9C77";
  --created-background: null;
  --created-border: null;
  --deleted: "#f97583";
  --deleted-background: "#1A1A1A";
  --deleted-border: null;
  --drop_target-background: null;
  --editor-active_line-background: null;
  --editor-active_line_number: "#727272";
  --editor-active_wrap_guide: null;
  --editor-background: "#1A1A1A";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#BBB";
  --editor-gutter-background: "#1A1A1A";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#727272";
  --editor-subheader-background: null;
  --editor-wrap_guide: null;
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: "#2A2A2A";
  --element-selected: "#2A2A2A";
  --elevated_surface-background: null;
  --error: "#f97583";
  --error-background: "#1A1A1A";
  --error-border: "#f97583";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: null;
  --ghost_element-selected: "#2A2A2A";
  --hidden: "#727272";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#99999980";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#BBBBBB";
  --modified: "#AB9775";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#00000000";
  --panel-focused_border: null;
  --predictive: "#999999";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: null;
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: null;
  --scrollbar_thumb-background: null;
  --search-match_background: "#FFAB7064";
  --status_bar-background: "#1A1A1Ac0";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: null;
  --tab-active_background: "#1A1A1A";
  --tab-inactive_background: "#1A1A1A";
  --tab_bar-background: "#1A1A1A";
  --terminal-ansi-black: "#1A1A1A";
  --terminal-ansi-blue: "#B392F1";
  --terminal-ansi-bright_black: "#5C5C5C";
  --terminal-ansi-bright_blue: "#CFB8FF";
  --terminal-ansi-bright_cyan: "#A3D0FF";
  --terminal-ansi-bright_green: "#A3D0FF";
  --terminal-ansi-bright_magenta: "#F3B8EC";
  --terminal-ansi-bright_red: "#FF9CAA";
  --terminal-ansi-bright_white: "#F8F8F8";
  --terminal-ansi-bright_yellow: "#FFC9A3";
  --terminal-ansi-cyan: "#79B8FF";
  --terminal-ansi-dim_black: "#000000";
  --terminal-ansi-dim_blue: "#8A6EC0";
  --terminal-ansi-dim_cyan: "#5A8AC0";
  --terminal-ansi-dim_green: "#5A8AC0";
  --terminal-ansi-dim_magenta: "#B376B0";
  --terminal-ansi-dim_red: "#D15A68";
  --terminal-ansi-dim_white: "#898989";
  --terminal-ansi-dim_yellow: "#D18F5A";
  --terminal-ansi-green: "#79B8FF";
  --terminal-ansi-magenta: "#E394DC";
  --terminal-ansi-red: "#FA7584";
  --terminal-ansi-white: "#BBBBBB";
  --terminal-ansi-yellow: "#FFAB70";
  --terminal-background: "#1A1A1A";
  --terminal-bright_foreground: "#F8F8F8";
  --terminal-dim_foreground: "#898989";
  --terminal-foreground: "#BBBBBB";
  --text: "#999999";
  --text-accent: "#999999";
  --text-disabled: null;
  --text-muted: "#999999";
  --text-placeholder: null;
  --title_bar-background: "#1A1A1Ac0";
  --toolbar-background: "#1A1A1A";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: null;
  --warning-background: null;
  --warning-border: null;
  --syntax-attribute-color: "#B392F1";
  --syntax-boolean-color: "#79B8FF";
  --syntax-comment-color: "#898989";
  --syntax-comment-doc-color: "#898989";
  --syntax-constant-color: "#79B8FF";
  --syntax-enum-color: "#B392F1";
  --syntax-function-color: "#B392F1";
  --syntax-keyword-color: "#FA7584";
  --syntax-number-color: "#F8F8F8";
  --syntax-operator-color: "#FA7584";
  --syntax-property-color: "#BBB";
  --syntax-punctuation-color: "#d1d1d1";
  --syntax-string-color: "#FFAB70";
  --syntax-string-escape-color: "#FA7584";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: 400;
  --syntax-tag-color: "#FFAB70";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: 400;
  --syntax-text-literal-color: "#e394dcff";
  --syntax-text-literal-font_style: "normal";
  --syntax-text-literal-font_weight: 400;
  --syntax-type-color: "#79B8FF";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: 400;
  --syntax-type-builtin-color: "#79B8FF";
  --syntax-type-builtin-font_style: "normal";
  --syntax-type-builtin-font_weight: 400;
  --syntax-variable-color: "#bbb";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: 400;
  --syntax-variable-special-color: "#00ff00";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: 400;
}
