:root {
  --background: "#161719";
  --border: "#778a9840";
  --border-disabled: "#778a9840";
  --border-focused: "#778a98";
  --border-selected: "#778a98";
  --border-transparent: "#778a9800";
  --border-variant: "#778a9880";
  --conflict: "#778a98";
  --conflict-background: "#778a9840";
  --conflict-border: "#778a98";
  --created: "#778a98";
  --created-background: "#778a9840";
  --created-border: "#778a98C0";
  --deleted: "#778a98";
  --deleted-background: "#778a9840";
  --deleted-border: "#778a98C0";
  --drop_target-background: "#778a9800";
  --editor-active_line-background: "#778a9830";
  --editor-active_line_number: "#778a98";
  --editor-active_wrap_guide: "#778a9830";
  --editor-background: "#161719";
  --editor-document_highlight-read_background: "#778a9830";
  --editor-document_highlight-write_background: "#778a9830";
  --editor-foreground: "#778a98";
  --editor-gutter-background: "#778a9800";
  --editor-highlighted_line-background: "#778a9830";
  --editor-invisible: "#778a9830";
  --editor-line_number: "#778a9840";
  --editor-subheader-background: "#778a98";
  --editor-wrap_guide: "#778a98";
  --element-active: "#778a98C0";
  --element-background: "#778a9840";
  --element-disabled: "#778a9800";
  --element-hover: "#778a9840";
  --element-selected: "#778a9880";
  --elevated_surface-background: "#161719";
  --error: "#778a98";
  --error-background: "#161719";
  --error-border: "#778a98";
  --ghost_element-active: "#778a9880";
  --ghost_element-background: "#778a9800";
  --ghost_element-disabled: "#16171930";
  --ghost_element-hover: "#778a9840";
  --ghost_element-selected: "#16171930";
  --hidden: "#778a98";
  --hidden-background: "#16171930";
  --hidden-border: "#778a9880";
  --hint: "#778a98";
  --hint-background: "#16171930";
  --hint-border: "#778a98";
  --icon: "#778a98";
  --icon-accent: "#778a98";
  --icon-disabled: "#16171930";
  --icon-muted: "#778a98";
  --icon-placeholder: "#778a98";
  --ignored: "#778a9840";
  --ignored-background: "#778a9830";
  --ignored-border: "#778a9880";
  --info: "#778a9880";
  --info-background: "#778a9830";
  --info-border: "#778a98";
  --link_text-hover: "#778a98";
  --modified: "#778a98";
  --modified-background: "#778a9830";
  --modified-border: "#778a98C0";
  --pane-focused_border: "#778a9880";
  --panel-background: "#161719";
  --panel-focused_border: "#778a9880";
  --predictive: "#778a98";
  --predictive-background: "#778a9830";
  --predictive-border: "#778a9880";
  --renamed: "#778a98";
  --renamed-background: "#778a9830";
  --renamed-border: "#778a9880";
  --scrollbar-thumb-border: "#778a9880";
  --scrollbar-thumb-hover_background: "#778a98";
  --scrollbar-track-background: "#778a9810";
  --scrollbar-track-border: "#778a9810";
  --scrollbar_thumb-background: "#778a98C0";
  --search-match_background: "#778a9880";
  --status_bar-background: "#161719";
  --status_bar-foreground: "#778a98";
  --success: "#778a98";
  --success-background: "#778a9830";
  --success-border: "#778a98";
  --surface-background: "#778a9830";
  --tab-active_background: "#161719";
  --tab-active_foreground: "#778a98";
  --tab-inactive_background: "#16171930";
  --tab_bar-background: "#161719";
  --terminal-ansi-black: "#1a1a1aC0";
  --terminal-ansi-blue: "#2B8C8CC0";
  --terminal-ansi-bright_black: "#1a1a1a";
  --terminal-ansi-bright_blue: "#2B8C8C";
  --terminal-ansi-bright_cyan: "#73a5b0";
  --terminal-ansi-bright_green: "#409841";
  --terminal-ansi-bright_magenta: "#a33131";
  --terminal-ansi-bright_red: "#df0d0e";
  --terminal-ansi-bright_white: "#f4f4f4";
  --terminal-ansi-bright_yellow: "#f8c73e";
  --terminal-ansi-cyan: "#73a5b0C0";
  --terminal-ansi-dim_black: "#1a1a1a40";
  --terminal-ansi-dim_blue: "#2B8C8C40";
  --terminal-ansi-dim_cyan: "#73a5b040";
  --terminal-ansi-dim_green: "#40984140";
  --terminal-ansi-dim_magenta: "#a3313140";
  --terminal-ansi-dim_red: "#df0d0e40";
  --terminal-ansi-dim_white: "#f4f4f440";
  --terminal-ansi-dim_yellow: "#f8c73e40";
  --terminal-ansi-green: "#409841C0";
  --terminal-ansi-magenta: "#a33131C0";
  --terminal-ansi-red: "#df0d0eC0";
  --terminal-ansi-white: "#f4f4f4C0";
  --terminal-ansi-yellow: "#f8c73eC0";
  --terminal-background: "#161719";
  --terminal-bright_foreground: "#778a98";
  --terminal-dim_foreground: "#778a9840";
  --terminal-foreground: "#778a98";
  --text: "#778a9890";
  --text-accent: "#778a98";
  --text-disabled: "#778a9840";
  --text-muted: "#778a98";
  --text-placeholder: "#778a98";
  --title_bar-background: "#161719";
  --title_bar-foreground: "#778a98";
  --toolbar-background: "#778a9800";
  --unreachable: "#778a98";
  --unreachable-background: "#778a9830";
  --unreachable-border: "#778a98C0";
  --warning: "#778a98";
  --warning-background: "#778a9830";
  --warning-border: "#778a98";
  --player-1-background: "#778a98";
  --player-1-cursor: "#778a98";
  --player-1-selection: "#778a9820";
  --player-2-background: "#778a98";
  --player-2-cursor: "#778a98";
  --player-2-selection: "#778a9820";
  --player-3-background: "#778a98";
  --player-3-cursor: "#778a98";
  --player-3-selection: "#778a9820";
  --player-4-background: "#778a98";
  --player-4-cursor: "#778a98";
  --player-4-selection: "#778a9820";
  --player-5-background: "#778a98";
  --player-5-cursor: "#778a98";
  --player-5-selection: "#778a9820";
  --player-6-background: "#778a98";
  --player-6-cursor: "#778a98";
  --player-6-selection: "#778a9820";
  --player-7-background: "#778a98";
  --player-7-cursor: "#778a98";
  --player-7-selection: "#778a9820";
  --syntax-attribute-color: "#778a98";
  --syntax-boolean-color: "#778a98";
  --syntax-comment-color: "#1f232680";
  --syntax-comment-doc-color: "#1f232680";
  --syntax-constant-color: "#4a7598";
  --syntax-constructor-color: "#4a7598";
  --syntax-embedded-color: "#4a7598";
  --syntax-emphasis-color: "#4a7598";
  --syntax-emphasis-strong-color: "#4a7598";
  --syntax-enum-color: "#4a7598";
  --syntax-function-color: "#4a7598";
  --syntax-hint-color: "#778a98";
  --syntax-keyword-color: "#778a98";
  --syntax-label-color: "#778a98";
  --syntax-link_text-color: "#778a98";
  --syntax-link_uri-color: "#778a98";
  --syntax-number-color: "#4a7598C0";
  --syntax-operator-color: "#4a7598";
  --syntax-predictive-color: "#4a7598";
  --syntax-preproc-color: "#4a7598";
  --syntax-primary-color: "#4a7598";
  --syntax-property-color: "#4a7598";
  --syntax-punctuation-color: "#4a7598";
  --syntax-punctuation-bracket-color: "#778a98";
  --syntax-punctuation-delimiter-color: "#4a7598";
  --syntax-punctuation-list_marker-color: "#4a7598";
  --syntax-punctuation-special-color: "#4a7598";
  --syntax-string-color: "#778a98";
  --syntax-string-escape-color: "#778a98";
  --syntax-string-regex-color: "#778a98";
  --syntax-string-special-color: "#778a98";
  --syntax-string-special-symbol-color: "#778a98";
  --syntax-tag-color: "#4a7598";
  --syntax-text-literal-color: "#4a7598";
  --syntax-title-color: "#4a7598";
  --syntax-type-color: "#4a7598";
  --syntax-type-super-color: "#4a7598";
  --syntax-variable-color: "#4a7598C0";
  --syntax-variable-parameter-color: "#4a7598C0";
  --syntax-variable-special-color: "#4a7598C0";
  --syntax-variant-color: "#4a7598C0";
}
