:root {
  --background: "#26292c";
  --border: "#313437";
  --border-disabled: "#313437";
  --border-focused: "#2095f0";
  --border-selected: "#313437";
  --border-transparent: "#313437";
  --border-variant: "#313437";
  --conflict: "#ae81ff";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#a6e22e99";
  --created-background: null;
  --created-border: null;
  --deleted: "#d2304b99";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#5c6166";
  --editor-active_line-background: "#00000026";
  --editor-active_line_number: "#f8f8f8";
  --editor-active_wrap_guide: "#313437";
  --editor-background: "#26292c";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#f8f8f8";
  --editor-gutter-background: "#26292c";
  --editor-highlighted_line-background: "#00000026";
  --editor-invisible: null;
  --editor-line_number: "#5c6166";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#313437";
  --element-active: null;
  --element-background: null;
  --element-disabled: null;
  --element-hover: "#ffffff26";
  --element-selected: "#26292c";
  --elevated_surface-background: "#26292c";
  --error: "#f92672";
  --error-background: null;
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#ffffff26";
  --ghost_element-selected: "#ffffff26";
  --hidden: "#7a8288";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#969696ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#5c6166";
  --ignored-background: null;
  --ignored-border: null;
  --info: null;
  --info-background: null;
  --info-border: null;
  --link_text-hover: "#2095f0";
  --modified: "#e6db7499";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#1e2123";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-background: "#ffffff1a";
  --scrollbar-thumb-border: "#ffffff1a";
  --scrollbar-thumb-hover_background: "#ffffff26";
  --scrollbar-track-background: "#26292c";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#ffffff1a";
  --status_bar-background: "#313437";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#1e2123";
  --tab-active_background: "#26292c";
  --tab-inactive_background: "#313437";
  --tab_bar-background: "#313437";
  --terminal-ansi-black: "#1e2123";
  --terminal-ansi-blue: "#ae81ff";
  --terminal-ansi-bright_black: "#5c6166";
  --terminal-ansi-bright_blue: "#ae81ff";
  --terminal-ansi-bright_cyan: "#66d9ef";
  --terminal-ansi-bright_green: "#a6e22e";
  --terminal-ansi-bright_magenta: "#f92672";
  --terminal-ansi-bright_red: "#d2304b";
  --terminal-ansi-bright_white: "#f8f8f8";
  --terminal-ansi-bright_yellow: "#e6db74";
  --terminal-ansi-cyan: "#66d9ef";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a6e22e";
  --terminal-ansi-magenta: "#f92672";
  --terminal-ansi-red: "#d2304b";
  --terminal-ansi-white: "#f8f8f8";
  --terminal-ansi-yellow: "#e6db74";
  --terminal-background: "#00000026";
  --terminal-bright_foreground: "#f8f8f8";
  --terminal-dim_foreground: "#f8f8f8";
  --terminal-foreground: "#f8f8f8";
  --text: "#8b9399";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#7a8288";
  --text-placeholder: null;
  --title_bar-background: "#313437";
  --toolbar-background: "#26292c";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#FD971F";
  --warning-background: "#FD971F";
  --warning-border: "#FF9966";
  --player-1-cursor: "#f8f8f8";
  --player-1-selection: "#2095f033";
  --syntax-attribute-color: "#A6E22E";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#AE81FF";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#5C6166";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#5C6166";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#AE81FF";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#F92672";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#AE81FF";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#F92672";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-function-color: "#A6E22E";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#F92672";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#66D9EF";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#66D9EF";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#AE81FF";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-property-color: "#F92672";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-list_marker-color: "#E6DB74";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-string-color: "#E6DB74";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#AE81FF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#E6DB74";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#E6DB74";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#E6DB74";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#F92672";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#E6DB74";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#66D9EF";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#FD971F";
  --syntax-variable-font_style: "italic";
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#A6E22E";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
