:root {
  --background: "#1E1F22";
  --border: "#292A2E";
  --border-disabled: "#585b70";
  --border-focused: "#9FB3C6";
  --border-selected: "#A5D0F8";
  --border-transparent: "#a6e3a1";
  --border-variant: "#8A99A8";
  --conflict: "#A5D0F8";
  --conflict-background: "#2B2D30";
  --conflict-border: "#A5D0F8";
  --created: "#a6e3a1";
  --created-background: "#2B2D30";
  --created-border: "#a6e3a1";
  --deleted: "#E19B9B";
  --deleted-background: "#2B2D30";
  --deleted-border: "#E19B9B";
  --drop_target-background: "#45475a";
  --editor-active_line-background: "#cdd6f412";
  --editor-active_line_number: "#A4A3A3";
  --editor-active_wrap_guide: "#585b70";
  --editor-background: "#1E1F22";
  --editor-document_highlight-read_background: "#a6adc829";
  --editor-document_highlight-write_background: "#a6adc829";
  --editor-foreground: "#C2D1E0";
  --editor-gutter-background: "#1E1F22";
  --editor-highlighted_line-background: null;
  --editor-invisible: "#9399b2";
  --editor-line_number: "#606366";
  --editor-subheader-background: "#2B2D30";
  --editor-wrap_guide: "#585b70";
  --element-active: "#A5D0F880";
  --element-background: "#393D3F";
  --element-disabled: "#6c7086";
  --element-hover: "#484A5199";
  --element-selected: "#1E1F2299";
  --elevated_surface-background: "#2B2D30";
  --error: "#E19B9B";
  --error-background: "#2B2D30";
  --error-border: "#E19B9B";
  --ghost_element-active: "#585b7080";
  --ghost_element-background: null;
  --ghost_element-disabled: "#6c7086";
  --ghost_element-hover: "#1E1F2299";
  --ghost_element-selected: "#6c708699";
  --hidden: "#6c7086";
  --hidden-background: "#2B2D30";
  --hidden-border: "#6c7086";
  --hint: "#eba0ac";
  --hint-background: "#2B2D30";
  --hint-border: "#eba0ac";
  --icon: "#C2D1E0";
  --icon-accent: "#A5D0F8";
  --icon-disabled: "#6c7086";
  --icon-muted: "#7f849c";
  --icon-placeholder: "#585b70";
  --ignored: "#6c7086";
  --ignored-background: "#2B2D30";
  --ignored-border: "#6c7086";
  --info: "#94e2d5";
  --info-background: "#A5D0F866";
  --info-border: "#94e2d5";
  --link_text-hover: "#89dceb";
  --modified: "#f9e2af";
  --modified-background: "#2B2D30";
  --modified-border: "#f9e2af";
  --pane-focused_border: "#C2D1E0";
  --panel-background: "#2B2D30";
  --panel-focused_border: "#C2D1E0";
  --predictive: "#7688ae";
  --predictive-background: "#2B2D30";
  --predictive-border: "#b4befe";
  --renamed: "#74c7ec";
  --renamed-background: "#2B2D30";
  --renamed-border: "#74c7ec";
  --scrollbar-thumb-border: "525456";
  --scrollbar-thumb-hover_background: "#6c7086";
  --scrollbar-track-background: "#1E1F22";
  --scrollbar-track-border: "#404143";
  --scrollbar_thumb-background: "#52545690";
  --search-match_background: "#94e2d533";
  --status_bar-background: "#393D3F";
  --success: "#a6e3a1";
  --success-background: "#2B2D30";
  --success-border: "#a6e3a1";
  --surface-background: "#1E1F22";
  --tab-active_background: "#2B2D30";
  --tab-inactive_background: "#1E1F22";
  --tab_bar-background: "#1E1F22";
  --terminal-ansi-black: "#45475a";
  --terminal-ansi-blue: "#89b4fa";
  --terminal-ansi-bright_black: "#a6adc8";
  --terminal-ansi-bright_blue: "#89b4fa";
  --terminal-ansi-bright_cyan: "#b4befe";
  --terminal-ansi-bright_green: "#a6e3a1";
  --terminal-ansi-bright_magenta: "#f5c2e7";
  --terminal-ansi-bright_red: "#E19B9B";
  --terminal-ansi-bright_white: "#bac2de";
  --terminal-ansi-bright_yellow: "#f9e2af";
  --terminal-ansi-cyan: "#b4befe";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a6e3a1";
  --terminal-ansi-magenta: "#f5c2e7";
  --terminal-ansi-red: "#E19B9B";
  --terminal-ansi-white: "#cdd6f4";
  --terminal-ansi-yellow: "#f9e2af";
  --terminal-background: "#2B2B2B";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#cdd6f4";
  --text: "#C2D1E0";
  --text-accent: "#A5D0F8";
  --text-disabled: "#6c7086";
  --text-muted: "#bac2de";
  --text-placeholder: "#585b70";
  --title_bar-background: "#393D3F";
  --toolbar-background: "#1E1F22";
  --unreachable: "#E19B9B";
  --unreachable-background: "#2B2D30";
  --unreachable-border: "#E19B9B";
  --warning: "#fab387";
  --warning-background: "#2B2D30";
  --warning-border: "#fab387";
  --player-1-background: "#f5e0dc";
  --player-1-cursor: "#f5e0dc";
  --player-1-selection: "#585b7066";
  --player-2-background: "#ccc2f5";
  --player-2-cursor: "#ccc2f5";
  --player-2-selection: "#ccc2f566";
  --player-3-background: "#bddbd2";
  --player-3-cursor: "#bddbd2";
  --player-3-selection: "#bddbd266";
  --player-4-background: "#dcb8d5";
  --player-4-cursor: "#dcb8d5";
  --player-4-selection: "#dcb8d566";
  --player-5-background: "#b6dae7";
  --player-5-cursor: "#b6dae7";
  --player-5-selection: "#b6dae766";
  --player-6-background: "#dfc8c8";
  --player-6-cursor: "#dfc8c8";
  --player-6-selection: "#dfc8c866";
  --player-7-background: "#dfdad8";
  --player-7-cursor: "#dfdad8";
  --player-7-selection: "#dfdad866";
  --player-8-background: "#b2c8f6";
  --player-8-cursor: "#b2c8f6";
  --player-8-selection: "#b2c8f666";
  --syntax-attribute-color: "#f9e2af";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#fab387";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#759963";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#759963";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#fab387";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#89b4fa";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#eba0ac";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#E19B9B";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#E19B9B";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#47C9A7";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: 700;
  --syntax-function-color: "#FFC66D";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-function-method-color: "#FFC66D";
  --syntax-function-method-font_style: "italic";
  --syntax-function-method-font_weight: null;
  --syntax-hint-color: "#94e2d5";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#6A95EB";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#89b4fa";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#89b4fa";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#7095CC";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#6A95EB";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#7f9cd2";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-predoc-color: "#E19B9B";
  --syntax-predoc-font_style: null;
  --syntax-predoc-font_weight: null;
  --syntax-primary-color: "#C2D1E0";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#C2D1E0";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#94e2d5";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#FFC66D";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#9399b2";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#94e2d5";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#00BBBD";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#E19B9B";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#CC7270";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#CC7832";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#CC7832";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#f5c2e7";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#f2cdcd";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#89b4fa";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#a6e3a1";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#cdd6f4";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#47C9A7";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-type-qualifier-color: "#6A95EB";
  --syntax-type-qualifier-font_style: null;
  --syntax-type-qualifier-font_weight: null;
  --syntax-variable-color: "#cdd6f4";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#dcb8d5";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#E19B9B";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
