:root {
  --background: "#1E1F22";
  --border: "#292A2E";
  --border_disabled: "#585b70";
  --border_focused: "#9FB3C6";
  --border_selected: "#A5D0F8";
  --border_transparent: "#a6e3a1";
  --border_variant: "#8A99A8";
  --conflict: "#A5D0F8";
  --conflict_background: "#2B2D30";
  --conflict_border: "#A5D0F8";
  --created: "#a6e3a1";
  --created_background: "#2B2D30";
  --created_border: "#a6e3a1";
  --deleted: "#E19B9B";
  --deleted_background: "#2B2D30";
  --deleted_border: "#E19B9B";
  --drop_target_background: "#45475a";
  --editor_active_line_background: "#cdd6f412";
  --editor_active_line_number: "#A4A3A3";
  --editor_active_wrap_guide: "#585b70";
  --editor_background: "#1E1F22";
  --editor_document_highlight_read_background: "#a6adc829";
  --editor_document_highlight_write_background: "#a6adc829";
  --editor_foreground: "#C2D1E0";
  --editor_gutter_background: "#1E1F22";
  --editor_highlighted_line_background: null;
  --editor_invisible: "#9399b2";
  --editor_line_number: "#606366";
  --editor_subheader_background: "#2B2D30";
  --editor_wrap_guide: "#585b70";
  --element_active: "#A5D0F880";
  --element_background: "#393D3F";
  --element_disabled: "#6c7086";
  --element_hover: "#484A5199";
  --element_selected: "#1E1F2299";
  --elevated_surface_background: "#2B2D30";
  --error: "#E19B9B";
  --error_background: "#2B2D30";
  --error_border: "#E19B9B";
  --ghost_element_active: "#585b7080";
  --ghost_element_background: null;
  --ghost_element_disabled: "#6c7086";
  --ghost_element_hover: "#1E1F2299";
  --ghost_element_selected: "#6c708699";
  --hidden: "#6c7086";
  --hidden_background: "#2B2D30";
  --hidden_border: "#6c7086";
  --hint: "#eba0ac";
  --hint_background: "#2B2D30";
  --hint_border: "#eba0ac";
  --icon: "#C2D1E0";
  --icon_accent: "#A5D0F8";
  --icon_disabled: "#6c7086";
  --icon_muted: "#7f849c";
  --icon_placeholder: "#585b70";
  --ignored: "#6c7086";
  --ignored_background: "#2B2D30";
  --ignored_border: "#6c7086";
  --info: "#94e2d5";
  --info_background: "#A5D0F866";
  --info_border: "#94e2d5";
  --link_text_hover: "#89dceb";
  --modified: "#f9e2af";
  --modified_background: "#2B2D30";
  --modified_border: "#f9e2af";
  --pane_focused_border: "#C2D1E0";
  --panel_background: "#2B2D30";
  --panel_focused_border: "#C2D1E0";
  --predictive: "#7688ae";
  --predictive_background: "#2B2D30";
  --predictive_border: "#b4befe";
  --renamed: "#74c7ec";
  --renamed_background: "#2B2D30";
  --renamed_border: "#74c7ec";
  --scrollbar_thumb_border: "525456";
  --scrollbar_thumb_hover_background: "#6c7086";
  --scrollbar_track_background: "#1E1F22";
  --scrollbar_track_border: "#404143";
  --scrollbar_thumb_background: "#52545690";
  --search_match_background: "#94e2d533";
  --status_bar_background: "#393D3F";
  --success: "#a6e3a1";
  --success_background: "#2B2D30";
  --success_border: "#a6e3a1";
  --surface_background: "#1E1F22";
  --tab_active_background: "#2B2D30";
  --tab_inactive_background: "#1E1F22";
  --tab_bar_background: "#1E1F22";
  --terminal_ansi_black: "#45475a";
  --terminal_ansi_blue: "#89b4fa";
  --terminal_ansi_bright_black: "#a6adc8";
  --terminal_ansi_bright_blue: "#89b4fa";
  --terminal_ansi_bright_cyan: "#b4befe";
  --terminal_ansi_bright_green: "#a6e3a1";
  --terminal_ansi_bright_magenta: "#f5c2e7";
  --terminal_ansi_bright_red: "#E19B9B";
  --terminal_ansi_bright_white: "#bac2de";
  --terminal_ansi_bright_yellow: "#f9e2af";
  --terminal_ansi_cyan: "#b4befe";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#a6e3a1";
  --terminal_ansi_magenta: "#f5c2e7";
  --terminal_ansi_red: "#E19B9B";
  --terminal_ansi_white: "#cdd6f4";
  --terminal_ansi_yellow: "#f9e2af";
  --terminal_background: "#2B2B2B";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: "#cdd6f4";
  --text: "#C2D1E0";
  --text_accent: "#A5D0F8";
  --text_disabled: "#6c7086";
  --text_muted: "#bac2de";
  --text_placeholder: "#585b70";
  --title_bar_background: "#393D3F";
  --toolbar_background: "#1E1F22";
  --unreachable: "#E19B9B";
  --unreachable_background: "#2B2D30";
  --unreachable_border: "#E19B9B";
  --warning: "#fab387";
  --warning_background: "#2B2D30";
  --warning_border: "#fab387";
  --player_1_background: "#f5e0dc";
  --player_1_cursor: "#f5e0dc";
  --player_1_selection: "#585b7066";
  --player_2_background: "#ccc2f5";
  --player_2_cursor: "#ccc2f5";
  --player_2_selection: "#ccc2f566";
  --player_3_background: "#bddbd2";
  --player_3_cursor: "#bddbd2";
  --player_3_selection: "#bddbd266";
  --player_4_background: "#dcb8d5";
  --player_4_cursor: "#dcb8d5";
  --player_4_selection: "#dcb8d566";
  --player_5_background: "#b6dae7";
  --player_5_cursor: "#b6dae7";
  --player_5_selection: "#b6dae766";
  --player_6_background: "#dfc8c8";
  --player_6_cursor: "#dfc8c8";
  --player_6_selection: "#dfc8c866";
  --player_7_background: "#dfdad8";
  --player_7_cursor: "#dfdad8";
  --player_7_selection: "#dfdad866";
  --player_8_background: "#b2c8f6";
  --player_8_cursor: "#b2c8f6";
  --player_8_selection: "#b2c8f666";
  --syntax_attribute_color: "#f9e2af";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#fab387";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#759963";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#759963";
  --syntax_comment_doc_font_style: "italic";
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#fab387";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#89b4fa";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#eba0ac";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#E19B9B";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#E19B9B";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#47C9A7";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: 700;
  --syntax_function_color: "#FFC66D";
  --syntax_function_font_style: "italic";
  --syntax_function_font_weight: null;
  --syntax_function_method_color: "#FFC66D";
  --syntax_function_method_font_style: "italic";
  --syntax_function_method_font_weight: null;
  --syntax_hint_color: "#94e2d5";
  --syntax_hint_font_style: "italic";
  --syntax_hint_font_weight: null;
  --syntax_keyword_color: "#6A95EB";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_link_text_color: "#89b4fa";
  --syntax_link_text_font_style: null;
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#89b4fa";
  --syntax_link_uri_font_style: null;
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#7095CC";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#6A95EB";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#7f9cd2";
  --syntax_predictive_font_style: null;
  --syntax_predictive_font_weight: null;
  --syntax_predoc_color: "#E19B9B";
  --syntax_predoc_font_style: null;
  --syntax_predoc_font_weight: null;
  --syntax_primary_color: "#C2D1E0";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#C2D1E0";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#94e2d5";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#FFC66D";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#9399b2";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#94e2d5";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#00BBBD";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_punctuation_special_symbol_color: "#E19B9B";
  --syntax_punctuation_special_symbol_font_style: null;
  --syntax_punctuation_special_symbol_font_weight: null;
  --syntax_string_color: "#CC7270";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#CC7832";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#CC7832";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#f5c2e7";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#f2cdcd";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#89b4fa";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#a6e3a1";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_title_color: "#cdd6f4";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 800;
  --syntax_type_color: "#47C9A7";
  --syntax_type_font_style: "italic";
  --syntax_type_font_weight: null;
  --syntax_type_qualifier_color: "#6A95EB";
  --syntax_type_qualifier_font_style: null;
  --syntax_type_qualifier_font_weight: null;
  --syntax_variable_color: "#cdd6f4";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#dcb8d5";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
  --syntax_variant_color: "#E19B9B";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
