:root {
  --background: "#2d3134ee";
  --background-appearance: "blurred";
  --border: "#3d4851";
  --border-disabled: "#3d485150";
  --border-focused: "#3d4851";
  --border-selected: "#3d4851";
  --border-transparent: "#3d485100";
  --border-variant: "#3d485150";
  --conflict: "#b48ead";
  --conflict-background: "#2d3134";
  --conflict-border: "#b48ead";
  --created: "#9eca99";
  --created-background: "#2d3134";
  --created-border: "#9eca99";
  --deleted: "#bf616a";
  --deleted-background: "#2d3134";
  --deleted-border: "#bf616a";
  --drop_target-background: "#88c0d099";
  --editor-active_line-background: "#3d485199";
  --editor-active_line_number: "#f5f6f8aa";
  --editor-active_wrap_guide: "#3d4851";
  --editor-background: "#373a3f";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#f5f6f8";
  --editor-gutter-background: "#373a3f";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#f5f6f850";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#3d4851";
  --element-active: "#3d485175";
  --element-background: "#3d4851";
  --element-disabled: "#3d485150";
  --element-hover: "#3d485150";
  --element-selected: "#7ec2c2";
  --elevated_surface-background: "#2d3134";
  --error: "#bf616a";
  --error-background: "#2d3134";
  --error-border: "#bf616a";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#3d4851";
  --ghost_element-selected: "#373a3f";
  --hidden: "#d8dee966";
  --hidden-background: "#2d3134";
  --hidden-border: "#d8dee966";
  --hint: "#969696ff";
  --hint-background: "#2d3134";
  --hint-border: "#969696ff";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#d8dee966";
  --ignored-background: "#2d3134";
  --ignored-border: "#d8dee966";
  --info: "#7faad5";
  --info-background: "#2d3134";
  --info-border: "#7faad5";
  --link_text-hover: null;
  --modified: "#ecc285";
  --modified-background: "#2d3134";
  --modified-border: "#ecc285";
  --pane-focused_border: null;
  --panel-background: "#2d313400";
  --panel-focused_border: null;
  --predictive: "#7ec2c2";
  --predictive-background: "#2d3134";
  --predictive-border: "#7ec2c2";
  --renamed: "#ecc285";
  --renamed-background: "#2d3134";
  --renamed-border: "#ecc285";
  --scrollbar-thumb-border: "#3d485100";
  --scrollbar-thumb-hover_background: "#3d4851aa";
  --scrollbar-track-background: "#373a3f";
  --scrollbar-track-border: "#3d485100";
  --scrollbar_thumb-background: "#3d485199";
  --search-match_background: null;
  --status_bar-background: "#373a3f";
  --success: "#9eca99";
  --success-background: "#2d3134";
  --success-border: "#9eca99";
  --surface-background: "#373a3f";
  --tab-active_background: "#3d4851";
  --tab-inactive_background: "#373a3f";
  --tab_bar-background: "#373a3f";
  --terminal-ansi-black: "#3d4851";
  --terminal-ansi-blue: "#7faad5";
  --terminal-ansi-bright_black: "#4c566a";
  --terminal-ansi-bright_blue: "#7faad5";
  --terminal-ansi-bright_cyan: "#8fbcbb";
  --terminal-ansi-bright_green: "#9eca99";
  --terminal-ansi-bright_magenta: "#b48ead";
  --terminal-ansi-bright_red: "#bf616a";
  --terminal-ansi-bright_white: "#eceff4";
  --terminal-ansi-bright_yellow: "#ecc285";
  --terminal-ansi-cyan: "#7ec2c2";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#9eca99";
  --terminal-ansi-magenta: "#b48ead";
  --terminal-ansi-red: "#bf616a";
  --terminal-ansi-white: "#e5e9f0";
  --terminal-ansi-yellow: "#ecc285";
  --terminal-background: "#2d313400";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#f6f7f9";
  --text-accent: "#ffffff";
  --text-disabled: "#f6f7f950";
  --text-muted: "#f6f7f985";
  --text-placeholder: "#f6f7f950";
  --title_bar-background: "#373a3f";
  --toolbar-background: "#373a3f";
  --unreachable: "#bf616a";
  --unreachable-background: "#2d3134";
  --unreachable-border: "#bf616a";
  --warning: "#ecc285";
  --warning-background: "#2d3134";
  --warning-border: "#ecc285";
  --player-1-background: "#6f757fff";
  --player-1-cursor: "#f5f6f8aa";
  --player-1-selection: "#6f757f3d";
  --player-2-background: "#be5046ff";
  --player-2-cursor: "#be5046ff";
  --player-2-selection: "#be50463d";
  --player-3-background: "#bf956aff";
  --player-3-cursor: "#bf956aff";
  --player-3-selection: "#bf956a3d";
  --player-4-background: "#b477cfff";
  --player-4-cursor: "#b477cfff";
  --player-4-selection: "#b477cf3d";
  --player-5-background: "#6eb4bfff";
  --player-5-cursor: "#6eb4bfff";
  --player-5-selection: "#6eb4bf3d";
  --player-6-background: "#d07277ff";
  --player-6-cursor: "#d07277ff";
  --player-6-selection: "#d072773d";
  --player-7-background: "#dec184ff";
  --player-7-cursor: "#dec184ff";
  --player-7-selection: "#dec1843d";
  --player-8-background: "#a1c181ff";
  --player-8-cursor: "#a1c181ff";
  --player-8-selection: "#a1c1813d";
  --syntax-attribute-color: "#c396c3";
  --syntax-attribute-font_style: "italic";
  --syntax-boolean-color: "#e4797e";
  --syntax-boolean-font_style: "italic";
  --syntax-comment-color: "#8f97a8";
  --syntax-comment-font_style: "italic";
  --syntax-comment-doc-color: "#8f97a8";
  --syntax-comment-doc-font_style: "italic";
  --syntax-constant-color: "#ffffff";
  --syntax-constructor-color: "#e4797e";
  --syntax-function-color: "#7ec2c2";
  --syntax-keyword-color: "#c396c3";
  --syntax-keyword-font_style: "italic";
  --syntax-link_text-color: "#7faad5";
  --syntax-link_uri-color: "#7faad5";
  --syntax-number-color: "#ecc285";
  --syntax-operator-color: "#f19776";
  --syntax-property-color: "#ffffff";
  --syntax-punctuation-color: "#ffffff";
  --syntax-string-color: "#9eca99";
  --syntax-string-escape-color: "#c396c3";
  --syntax-string-regex-color: "#9eca99";
  --syntax-string-special-color: "#9eca99";
  --syntax-string-special-symbol-color: "#9eca99";
  --syntax-tag-color: "#e4797e";
  --syntax-text-literal-color: "#9eca99";
  --syntax-type-color: "#ecc285";
  --syntax-variable-color: "#d8dde5";
  --syntax-variable-special-color: "#ffffff";
}
