:root {
  --background: "#1C232F";
  --background-appearance: "opaque";
  --border: "#313D5290";
  --border-focused: "#86c3dd";
  --border-variant: "#313D5290";
  --created: "#89e290";
  --created-background: "#89e29030";
  --created-border: "#89e29030";
  --deleted: "#fa6363";
  --deleted-background: "#fa636330";
  --deleted-border: "#fa636330";
  --drop_target-background: "#181C23CC";
  --editor-active_line-background: "#1b202918";
  --editor-active_line_number: "#74C5FF";
  --editor-background: "#1b202900";
  --editor-document_highlight-read_background: "#2B344694";
  --editor-document_highlight-write_background: "#2B344694";
  --editor-gutter-background: "#00000000";
  --editor-highlighted_line-background: "#2B344694";
  --editor-invisible: "#a0a0a040";
  --editor-subheader-background: "#181C2390";
  --element-background: "#86c3dd20";
  --elevated_surface-background: "#0D1017FF";
  --error: "#FF7C7C";
  --error-background: "#161A21CC";
  --error-border: "#F8525280";
  --ghost_element-active: "#181C23CC";
  --ghost_element-hover: "#181C2360";
  --ghost_element-selected: "#181C23CC";
  --hint-background: "#161A21";
  --info: "#5277F8";
  --info-background: "#161A21";
  --info-border: "#5277F8";
  --modified: "#89a5e2";
  --modified-background: "#89a5e230";
  --modified-border: "#89a5e230";
  --pane-focused_border: null;
  --panel-background: "#171D27";
  --panel-focused_border: null;
  --scrollbar-track-background: "#58709910";
  --scrollbar-track-border: "#313D5290";
  --scrollbar_thumb-background: "#58709950";
  --search-match_background: "#88c0d033";
  --status_bar-background: "#242E4060";
  --tab-active_background: "#397CAC35";
  --tab-inactive_background: "#1b202900";
  --tab_bar-background: "#1b202920";
  --terminal-ansi-black: "#FFFFFF";
  --terminal-ansi-blue: "#89a5e2";
  --terminal-ansi-bright_black: "#FFFFFF";
  --terminal-ansi-bright_blue: "#319cbd";
  --terminal-ansi-bright_cyan: "#80b1d3";
  --terminal-ansi-bright_green: "#a5e289";
  --terminal-ansi-bright_magenta: "#cd89e2";
  --terminal-ansi-bright_red: "#fa6363";
  --terminal-ansi-bright_white: "#a4f3fa";
  --terminal-ansi-bright_yellow: "#dcb560";
  --terminal-ansi-cyan: "#80d3d3";
  --terminal-ansi-dim_black: "#FFFFFF";
  --terminal-ansi-green: "#89e290";
  --terminal-ansi-magenta: "#af89e2";
  --terminal-ansi-red: "#e28989";
  --terminal-ansi-white: "#e2e089";
  --terminal-ansi-yellow: "#dcb560";
  --terminal-background: "#181C2305";
  --terminal-foreground: "#74C5FF";
  --text: "#e4e4e4";
  --text-accent: "#27a0c5";
  --text-muted: "#a0a0a0";
  --text-placeholder: "#a0a0a0";
  --title_bar-background: "#1b202920";
  --toolbar-background: "#1b202920";
  --warning: "#FFE27C";
  --warning-background: "#161A21CC";
  --warning-border: "#F8DD5280";
  --player-1-background: "#2B344694";
  --player-1-cursor: "#7c7f93";
  --player-1-selection: "#2B3446DD";
  --syntax-attribute-color: "#93acff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#89E2B7";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#46464bcb";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#88aeff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#42f1f7";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#89ddff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-function-color: "#88aeff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#b8a4ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#89E2B7";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#afe8ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#8DC8FF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-string-color: "#87DFF2";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#acacac";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#89ffeb";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#21c4e0fa";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#21c4e0fa";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#43D8F8";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#21c4e0fa";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-type-color: "#81A5EA";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#42f1f7";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#b8a4ff";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
}
