:root {
  --background: "#1C232F";
  --background_appearance: "opaque";
  --border: "#313D5290";
  --border_focused: "#86c3dd";
  --border_variant: "#313D5290";
  --created: "#89e290";
  --created_background: "#89e29030";
  --created_border: "#89e29030";
  --deleted: "#fa6363";
  --deleted_background: "#fa636330";
  --deleted_border: "#fa636330";
  --drop_target_background: "#181C23CC";
  --editor_active_line_background: "#1b202918";
  --editor_active_line_number: "#74C5FF";
  --editor_background: "#1b202900";
  --editor_document_highlight_read_background: "#2B344694";
  --editor_document_highlight_write_background: "#2B344694";
  --editor_gutter_background: "#00000000";
  --editor_highlighted_line_background: "#2B344694";
  --editor_invisible: "#a0a0a040";
  --editor_subheader_background: "#181C2390";
  --element_background: "#86c3dd20";
  --elevated_surface_background: "#0D1017FF";
  --error: "#FF7C7C";
  --error_background: "#161A21CC";
  --error_border: "#F8525280";
  --ghost_element_active: "#181C23CC";
  --ghost_element_hover: "#181C2360";
  --ghost_element_selected: "#181C23CC";
  --hint_background: "#161A21";
  --info: "#5277F8";
  --info_background: "#161A21";
  --info_border: "#5277F8";
  --modified: "#89a5e2";
  --modified_background: "#89a5e230";
  --modified_border: "#89a5e230";
  --pane_focused_border: null;
  --panel_background: "#171D27";
  --panel_focused_border: null;
  --scrollbar_track_background: "#58709910";
  --scrollbar_track_border: "#313D5290";
  --scrollbar_thumb_background: "#58709950";
  --search_match_background: "#88c0d033";
  --status_bar_background: "#242E4060";
  --tab_active_background: "#397CAC35";
  --tab_inactive_background: "#1b202900";
  --tab_bar_background: "#1b202920";
  --terminal_ansi_black: "#FFFFFF";
  --terminal_ansi_blue: "#89a5e2";
  --terminal_ansi_bright_black: "#FFFFFF";
  --terminal_ansi_bright_blue: "#319cbd";
  --terminal_ansi_bright_cyan: "#80b1d3";
  --terminal_ansi_bright_green: "#a5e289";
  --terminal_ansi_bright_magenta: "#cd89e2";
  --terminal_ansi_bright_red: "#fa6363";
  --terminal_ansi_bright_white: "#a4f3fa";
  --terminal_ansi_bright_yellow: "#dcb560";
  --terminal_ansi_cyan: "#80d3d3";
  --terminal_ansi_dim_black: "#FFFFFF";
  --terminal_ansi_green: "#89e290";
  --terminal_ansi_magenta: "#af89e2";
  --terminal_ansi_red: "#e28989";
  --terminal_ansi_white: "#e2e089";
  --terminal_ansi_yellow: "#dcb560";
  --terminal_background: "#181C2305";
  --terminal_foreground: "#74C5FF";
  --text: "#e4e4e4";
  --text_accent: "#27a0c5";
  --text_muted: "#a0a0a0";
  --text_placeholder: "#a0a0a0";
  --title_bar_background: "#1b202920";
  --toolbar_background: "#1b202920";
  --warning: "#FFE27C";
  --warning_background: "#161A21CC";
  --warning_border: "#F8DD5280";
  --player_1_background: "#2B344694";
  --player_1_cursor: "#7c7f93";
  --player_1_selection: "#2B3446DD";
  --syntax_attribute_color: "#93acff";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#89E2B7";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#46464bcb";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_constant_color: "#88aeff";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#42f1f7";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#89ddff";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_function_color: "#88aeff";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#b8a4ff";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_number_color: "#89E2B7";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#afe8ff";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_property_color: "#8DC8FF";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_string_color: "#87DFF2";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#acacac";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#89ffeb";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#21c4e0fa";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#21c4e0fa";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#43D8F8";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#21c4e0fa";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: null;
  --syntax_type_color: "#81A5EA";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
  --syntax_variable_color: "#42f1f7";
  --syntax_variable_font_style: null;
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#b8a4ff";
  --syntax_variable_special_font_style: null;
  --syntax_variable_special_font_weight: null;
}
