:root {
  --accents: ["#3456fc","#db35fc","#56fc35","null","#fc3556","#fddb35","#35fcdb","#dfdfdf","#fea1b0","#99aafe","#eea1fd","#b0fea1","null","#feed9c"];
  --background: "#181818";
  --border: "#151515";
  --border-disabled: null;
  --border-focused: "#151515";
  --border-selected: "#151515";
  --border-transparent: null;
  --border-variant: "#1159D9a0";
  --conflict: "#fc3556";
  --conflict-background: "#fea1b0";
  --conflict-border: "#fea1b0";
  --created: null;
  --created-background: "#b0fea1";
  --created-border: "#b0fea1";
  --deleted: "#fc3556c0";
  --deleted-background: "#fea1b060";
  --deleted-border: "#fea1b0";
  --drop_target-background: "#333738";
  --editor-active_line-background: "#151515";
  --editor-active_line_number: "#1159D9";
  --editor-active_wrap_guide: null;
  --editor-background: "#181818";
  --editor-document_highlight-read_background: "#222b32";
  --editor-document_highlight-write_background: "#5093C770";
  --editor-foreground: "#D5D6DB";
  --editor-gutter-background: "#181818";
  --editor-highlighted_line-background: "#5DAAFF20";
  --editor-indent_guide: "#414141";
  --editor-indent_guide_active: "#FEEC6680";
  --editor-invisible: "#D5D6DB50";
  --editor-line_number: "#414141";
  --editor-subheader-background: "#151515";
  --editor-wrap_guide: null;
  --element-active: "#373735";
  --element-background: "#222221";
  --element-disabled: "#5C6370";
  --element-hover: "#7e753ac0";
  --element-selected: "#5DAAFF20";
  --elevated_surface-background: "#151515";
  --error: "#fc3556c0";
  --error-background: "#FD365710";
  --error-border: "#FD3657";
  --ghost_element-active: "#282828";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#5DAAFF";
  --ghost_element-hover: "#5DAAFF20";
  --ghost_element-selected: "#1159D940";
  --hidden: null;
  --hidden-background: "#151515";
  --hidden-border: null;
  --hint: "#73737390";
  --hint-background: "#151515";
  --hint-border: "#3657FDa0";
  --icon: null;
  --icon-accent: "#1159D9";
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#737373";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#3456fc";
  --info-background: "#3657FD10";
  --info-border: "#3657FD";
  --link_text-hover: "#1159D9";
  --modified: "#fddb35c0";
  --modified-background: "#feed9c";
  --modified-border: "#feed9c";
  --pane-focused_border: "#151515";
  --panel-background: "#151515";
  --panel-focused_border: "#151515";
  --predictive: null;
  --predictive-background: "#151515";
  --predictive-border: null;
  --renamed: "#db35fc";
  --renamed-background: "#eea1fd";
  --renamed-border: "#eea1fd";
  --scrollbar-thumb-background: "#5DAAFF30";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#00000000";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --scrollbar_thumb-background: "#5DAAFF30";
  --search-match_background: "#FEEC6670";
  --status_bar-background: "#151515";
  --success: "#DB35FC";
  --success-background: "#151515";
  --success-border: "#b0fea1";
  --surface-background: "#151515";
  --tab-active_background: "#1159D920";
  --tab-inactive_background: "#181818";
  --tab_bar-background: "#151515";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#3456fc";
  --terminal-ansi-bright_black: "#373237";
  --terminal-ansi-bright_blue: "#99aafe";
  --terminal-ansi-bright_cyan: "#9ffeee";
  --terminal-ansi-bright_green: "#b0fea1";
  --terminal-ansi-bright_magenta: "#eea1fd";
  --terminal-ansi-bright_red: "#fea1b0";
  --terminal-ansi-bright_white: "#fdfdfd";
  --terminal-ansi-bright_yellow: "#feed9c";
  --terminal-ansi-cyan: "#35fcdb";
  --terminal-ansi-dim_black: "#373237";
  --terminal-ansi-dim_blue: "#99aafe";
  --terminal-ansi-dim_cyan: "#9ffeee";
  --terminal-ansi-dim_green: "#b0fea1";
  --terminal-ansi-dim_magenta: "#eea1fd";
  --terminal-ansi-dim_red: "#fea1b0";
  --terminal-ansi-dim_white: "#fdfdfd";
  --terminal-ansi-dim_yellow: "#feed9c";
  --terminal-ansi-green: "#56fc35";
  --terminal-ansi-magenta: "#db35fc";
  --terminal-ansi-red: "#fc3556";
  --terminal-ansi-white: "#dfdfdf";
  --terminal-ansi-yellow: "#fddb35";
  --terminal-background: "#181818";
  --terminal-bright_foreground: "#D5D6DB";
  --terminal-dim_foreground: "#D5D6DB";
  --terminal-foreground: "#D5D6DB";
  --text: "#D5D6DB";
  --text-accent: "#FEEC66";
  --text-disabled: "#414141";
  --text-muted: "#D5D6DBc0";
  --text-placeholder: "#FEEC66a0";
  --title_bar-background: "#151515";
  --title_bar-inactive_background: "#151515";
  --toolbar-background: "#151515";
  --unreachable: null;
  --unreachable-background: "#151515";
  --unreachable-border: null;
  --warning: "#fddb35";
  --warning-background: "#fae04010";
  --warning-border: "#fae040";
  --player-1-background: "#86694c40";
  --player-1-cursor: "#1159D9";
  --player-1-selection: "#5DAAFF20";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#D5D6DB";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#A2A8AA";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6163da";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6163da";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#A2A8AA";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#A2A8AA";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-constant-character-color: "#A2A8AA";
  --syntax-constant-character-font_style: null;
  --syntax-constant-character-font_weight: null;
  --syntax-constructor-color: "#D5D6DB";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: null;
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: null;
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-escape-color: null;
  --syntax-escape-font_style: null;
  --syntax-escape-font_weight: null;
  --syntax-function-color: "#5DAAFF";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#A2A8AA";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-function-definition-color: "#5DAAFF";
  --syntax-function-definition-font_style: null;
  --syntax-function-definition-font_weight: null;
  --syntax-function-method-color: "#D5D6DB";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-function-special-color: "#5DAAFF";
  --syntax-function-special-font_style: null;
  --syntax-function-special-font_weight: null;
  --syntax-function-special-definition-color: "#5DAAFF";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-color: null;
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#1159D9";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 800;
  --syntax-label-color: null;
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-lifetime-color: null;
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-link_text-color: "#1159D9";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#1159D9";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#A2A8AA";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#D5D6DB";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: null;
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#1159D9";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: null;
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-property-json_key-color: null;
  --syntax-property-json_key-font_style: null;
  --syntax-property-json_key-font_weight: null;
  --syntax-punctuation-color: "#D5D6DB";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#D5D6DB";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#D5D6DB";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#A2A8AA";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#D5D6DB";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#D5D6DB";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#FEEC66";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-doc-color: "#FEEC66";
  --syntax-string-doc-font_style: null;
  --syntax-string-doc-font_weight: null;
  --syntax-string-escape-color: "#FEEC66";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#FEEC66";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#FEEC66";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#FEEC66";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#5DAAFF";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: null;
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#1159D9";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#A2A8AA";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#A2A8AA";
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-color: "#A2A8AA";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: null;
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#D5D6DB";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#D5D6DB";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#D5D6DB";
  --syntax-variable-parameter-font_style: null;
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#D5D6DB";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
