:root {
  --accents: ["#2A46CC","#B12BCC","#3DB326","null","#CC2B46","#BFA628","#209985","#212121","#CC818D","#7B89CC","#CC8AD9","#7CB371","null","#B3A76E"];
  --background: "#FAF7F5";
  --border: "#F0E9EC";
  --border-disabled: null;
  --border-focused: "#F0E9EC";
  --border-selected: "#F0E9EC";
  --border-transparent: null;
  --border-variant: "#BF6984a0";
  --conflict: "#CC2B46";
  --conflict-background: "#CC818D";
  --conflict-border: "#CC818D";
  --created: null;
  --created-background: "#7CB371";
  --created-border: "#7CB371";
  --deleted: "#CC2B46c0";
  --deleted-background: "#CC818D60";
  --deleted-border: "#CC818D";
  --drop_target-background: "#B5C3C7";
  --editor-active_line-background: "#F0E9EC";
  --editor-active_line_number: "#BF6984";
  --editor-active_wrap_guide: null;
  --editor-background: "#FAF7F5";
  --editor-document_highlight-read_background: "#dee7ea";
  --editor-document_highlight-write_background: "#4D8DBF40";
  --editor-foreground: "#591B3E";
  --editor-gutter-background: "#FAF7F5";
  --editor-highlighted_line-background: "#80667520";
  --editor-indent_guide: "#BFBFBF";
  --editor-indent_guide_active: "#BF698480";
  --editor-invisible: "#591B3E50";
  --editor-line_number: "#BFBFBF";
  --editor-subheader-background: "#F0E9EC";
  --editor-wrap_guide: null;
  --element-active: "#B8B8B1";
  --element-background: "#D1D1C9";
  --element-disabled: "#757E8F";
  --element-hover: "#BF698460";
  --element-selected: "#80667520";
  --elevated_surface-background: "#F0E9EC";
  --error: "#CC2B46c0";
  --error-background: "#CC2C4610";
  --error-border: "#CC2C46";
  --ghost_element-active: "#D6D1D3";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#806675";
  --ghost_element-hover: "#80667520";
  --ghost_element-selected: "#BF698440";
  --hidden: null;
  --hidden-background: "#F0E9EC";
  --hidden-border: null;
  --hint: "#73737390";
  --hint-background: "#F0E9EC";
  --hint-border: "#2B46CCa0";
  --icon: null;
  --icon-accent: "#BF6984";
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#BFBFBF";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#2A46CC";
  --info-background: "#2B46CC10";
  --info-border: "#2B46CC";
  --link_text-hover: "#BF6984";
  --modified: "#BFA628c0";
  --modified-background: "#B3A76E";
  --modified-border: "#B3A76E";
  --pane-focused_border: "#F0E9EC";
  --panel-background: "#F0E9EC";
  --panel-focused_border: "#F0E9EC";
  --predictive: null;
  --predictive-background: "#F0E9EC";
  --predictive-border: null;
  --renamed: "#B12BCC";
  --renamed-background: "#CC8AD9";
  --renamed-border: "#CC8AD9";
  --scrollbar-thumb-background: "#80667530";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#00000000";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --scrollbar_thumb-background: "#80667530";
  --search-match_background: "#3D996B70";
  --status_bar-background: "#F0E9EC";
  --success: "#B12BCC";
  --success-background: "#F0E9EC";
  --success-border: "#7CB371";
  --surface-background: "#F0E9EC";
  --tab-active_background: "#BF698430";
  --tab-inactive_background: "#FAF7F570";
  --tab_bar-background: "#F0E9EC";
  --terminal-ansi-black: "#000000";
  --terminal-ansi-blue: "#2A46CC";
  --terminal-ansi-bright_black: "#373237";
  --terminal-ansi-bright_blue: "#7B89CC";
  --terminal-ansi-bright_cyan: "#70B3A7";
  --terminal-ansi-bright_green: "#7CB371";
  --terminal-ansi-bright_magenta: "#CC8AD9";
  --terminal-ansi-bright_red: "#CC818D";
  --terminal-ansi-bright_white: "#3B3B3B";
  --terminal-ansi-bright_yellow: "#B3A76E";
  --terminal-ansi-cyan: "#209985";
  --terminal-ansi-dim_black: "#373237";
  --terminal-ansi-dim_blue: "#7B89CC";
  --terminal-ansi-dim_cyan: "#70B3A7";
  --terminal-ansi-dim_green: "#7CB371";
  --terminal-ansi-dim_magenta: "#CC8AD9";
  --terminal-ansi-dim_red: "#CC818D";
  --terminal-ansi-dim_white: "#3B3B3B";
  --terminal-ansi-dim_yellow: "#B3A76E";
  --terminal-ansi-green: "#3DB326";
  --terminal-ansi-magenta: "#B12BCC";
  --terminal-ansi-red: "#CC2B46";
  --terminal-ansi-white: "#212121";
  --terminal-ansi-yellow: "#BFA628";
  --terminal-background: "#FAF7F5";
  --terminal-bright_foreground: "#591B3E";
  --terminal-dim_foreground: "#591B3E";
  --terminal-foreground: "#591B3E";
  --text: "#591B3E";
  --text-accent: "#BF6984";
  --text-disabled: "#BFBFBF";
  --text-muted: "#591B3Ec0";
  --text-placeholder: "#591B3E50";
  --title_bar-background: "#F0E9EC";
  --title_bar-inactive_background: "#F0E9EC";
  --toolbar-background: "#F0E9EC";
  --unreachable: null;
  --unreachable-background: "#F0E9EC";
  --unreachable-border: null;
  --warning: "#BFA628";
  --warning-background: "#BFA60610";
  --warning-border: "#BFA606";
  --player-1-background: "#86694c40";
  --player-1-cursor: "#BF6984";
  --player-1-selection: "#80667520";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#591B3E";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#383A3B";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#994552";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#994552";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#383A3B";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#383A3B";
  --syntax-constant-builtin-font_style: null;
  --syntax-constant-builtin-font_weight: null;
  --syntax-constant-character-color: "#383A3B";
  --syntax-constant-character-font_style: null;
  --syntax-constant-character-font_weight: null;
  --syntax-constructor-color: "#591B3E";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: null;
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: null;
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-escape-color: null;
  --syntax-escape-font_style: null;
  --syntax-escape-font_weight: null;
  --syntax-function-color: "#806675";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-function-builtin-color: "#383A3B";
  --syntax-function-builtin-font_style: null;
  --syntax-function-builtin-font_weight: null;
  --syntax-function-definition-color: "#806675";
  --syntax-function-definition-font_style: null;
  --syntax-function-definition-font_weight: null;
  --syntax-function-method-color: "#591B3E";
  --syntax-function-method-font_style: null;
  --syntax-function-method-font_weight: null;
  --syntax-function-special-color: "#806675";
  --syntax-function-special-font_style: null;
  --syntax-function-special-font_weight: null;
  --syntax-function-special-definition-color: "#806675";
  --syntax-function-special-definition-font_style: null;
  --syntax-function-special-definition-font_weight: null;
  --syntax-hint-color: null;
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#BF6984";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 800;
  --syntax-label-color: null;
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-lifetime-color: null;
  --syntax-lifetime-font_style: null;
  --syntax-lifetime-font_weight: null;
  --syntax-link_text-color: "#BF6984";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#BF6984";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#59434B";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#591B3E";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: null;
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#BF6984";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: null;
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-property-json_key-color: null;
  --syntax-property-json_key-font_style: null;
  --syntax-property-json_key-font_weight: null;
  --syntax-punctuation-color: "#591B3E";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#591B3E";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#591B3E";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#59434B";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#591B3E";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#591B3E";
  --syntax-punctuation-special-symbol-font_style: null;
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#3D996B";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-doc-color: "#3D996B";
  --syntax-string-doc-font_style: null;
  --syntax-string-doc-font_weight: null;
  --syntax-string-escape-color: "#3D996B";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#3D996B";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#3D996B";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#3D996B";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#806675";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: null;
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#BF6984";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 800;
  --syntax-type-color: "#383A3B";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#383A3B";
  --syntax-type-builtin-font_style: null;
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-color: "#383A3B";
  --syntax-type-interface-font_style: null;
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: null;
  --syntax-type-super-font_style: null;
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#591B3E";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#591B3E";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#591B3E";
  --syntax-variable-parameter-font_style: null;
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#591B3E";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
