:root {
  --accents: ["#4a869c","#d6746f","#a580d2","#7bb8c1","#d84f76","#8aa872","#e6a852"];
  --background: "#191726";
  --border: "#191726";
  --border-disabled: "#232136";
  --border-focused: "#433c59";
  --border-selected: "#63577d";
  --border-transparent: "#232136";
  --border-variant: "#191726";
  --conflict: "#ea9a97";
  --created: "#a3be8c";
  --deleted: "#4b3148";
  --drop_target-background: "#191726";
  --editor-active_line-background: "#2d2a45";
  --editor-active_line_number: "#f6c177";
  --editor-active_wrap_guide: "#2d2a45";
  --editor-background: "#232136";
  --editor-foreground: "#e0def4";
  --editor-gutter-background: "#232136";
  --editor-indent_guide: "#2d2a45";
  --editor-indent_guide_active: "#63577d";
  --editor-line_number: "#6e6a86";
  --editor-wrap_guide: "#2d2a45";
  --element-active: "#ea9a9799";
  --element-background: "#433c59";
  --element-hover: "#ea9a974C";
  --element-selected: "#ea9a9733";
  --elevated_surface-background: "#191726";
  --error: "#eb6f92";
  --error-background: "#412d44";
  --ghost_element-active: "#ea9a9766";
  --ghost_element-hover: "#433c5966";
  --ghost_element-selected: "#433c59";
  --hidden: "#6e6a86";
  --hint: "#817c9c";
  --hint-background: "#363943";
  --icon: "#ff0000";
  --icon-accent: "#00ffff";
  --icon-disabled: "#0000ff";
  --icon-muted: "#00ff00";
  --icon-placeholder: "#ffff00";
  --ignored: "#817c9c";
  --info: "#569fba";
  --info-background: "#2b344a";
  --link_text-hover: "#9ccfd8";
  --modified: "#f6c177";
  --panel-background: "#191726";
  --predictive: "#6e6a86";
  --renamed: "#f6c177";
  --scrollbar-thumb-border: "#322e42";
  --scrollbar-thumb-hover_background: "#47407d";
  --scrollbar-track-background: "#232136";
  --scrollbar-track-border: "#191726";
  --scrollbar_thumb-background: "#322e42";
  --search-match_background: "#63577d";
  --status_bar-background: "#191726";
  --success: "#a3be8c";
  --success-background: "#363943";
  --surface-background: "#191726";
  --tab-active_background: "#232136";
  --tab-inactive_background: "#191726";
  --tab_bar-background: "#191726";
  --terminal-ansi-black: "#393552";
  --terminal-ansi-blue: "#569fba";
  --terminal-ansi-bright_black: "#47407d";
  --terminal-ansi-bright_blue: "#65b1cd";
  --terminal-ansi-bright_cyan: "#a6dae3";
  --terminal-ansi-bright_green: "#b1d196";
  --terminal-ansi-bright_magenta: "#ccb1ed";
  --terminal-ansi-bright_red: "#f083a2";
  --terminal-ansi-bright_white: "#e2e0f7";
  --terminal-ansi-bright_yellow: "#f9cb8c";
  --terminal-ansi-cyan: "#9ccfd8";
  --terminal-ansi-dim_black: "#322e42";
  --terminal-ansi-dim_blue: "#4a869c";
  --terminal-ansi-dim_cyan: "#7bb8c1";
  --terminal-ansi-dim_green: "#8aa872";
  --terminal-ansi-dim_magenta: "#a580d2";
  --terminal-ansi-dim_red: "#d84f76";
  --terminal-ansi-dim_white: "#b1acde";
  --terminal-ansi-dim_yellow: "#e6a852";
  --terminal-ansi-green: "#a3be8c";
  --terminal-ansi-magenta: "#c4a7e7";
  --terminal-ansi-red: "#eb6f92";
  --terminal-ansi-white: "#e0def4";
  --terminal-ansi-yellow: "#f6c177";
  --terminal-background: "#232136";
  --terminal-bright_foreground: "#eae8ff";
  --terminal-dim_foreground: "#cdcbe0";
  --terminal-foreground: "#e0def4";
  --text: "#eae8ff";
  --text-accent: "#cdcbe0";
  --text-disabled: "#817c9c";
  --text-muted: "#e0def4";
  --text-placeholder: "#6e6a86";
  --title_bar-background: "#191726";
  --toolbar-background: "#232136";
  --warning: "#f6c177";
  --warning-background: "#433940";
  --player-1-background: "#a3be8c";
  --player-1-cursor: "#a3be8c";
  --player-1-selection: "#a3be8c3D";
  --syntax-boolean-color: "#f0a4a2";
  --syntax-comment-color: "#817c9c";
  --syntax-comment-doc-color: "#817c9c";
  --syntax-constant-color: "#f0a4a2";
  --syntax-constructor-color: "#f0a4a2";
  --syntax-function-color: "#65b1cd";
  --syntax-keyword-color: "#c4a7e7";
  --syntax-number-color: "#ea9a97";
  --syntax-operator-color: "#cdcbe0";
  --syntax-preproc-color: "#f0a6cc";
  --syntax-property-color: "#569fba";
  --syntax-punctuation-color: "#cdcbe0";
  --syntax-punctuation-bracket-color: "#cdcbe0";
  --syntax-punctuation-delimiter-color: "#cdcbe0";
  --syntax-punctuation-list_marker-color: "#cdcbe0";
  --syntax-punctuation-special-color: "#cdcbe0";
  --syntax-string-color: "#a3be8c";
  --syntax-string-escape-color: "#a3be8c";
  --syntax-string-regex-color: "#f9cb8c";
  --syntax-string-special-color: "#a6dae3";
  --syntax-string-special-symbol-color: "#eb6f92";
  --syntax-tag-color: "#a580d2";
  --syntax-text-literal-color: "#a3be8c";
  --syntax-type-color: "#f6c177";
  --syntax-variable-color: "#9ccfd8";
  --syntax-variable-special-color: "#eb6f92";
}
