:root {
  --accents: ["#6085b6","#cf8a52","#8567b6","#54aeb0","#ab435d","#6e9783","#baa363"];
  --background: "#131a24";
  --border: "#131a24";
  --border-disabled: "#192330";
  --border-focused: "#2b3b51";
  --border-selected: "#3c5372";
  --border-transparent: "#192330";
  --border-variant: "#131a24";
  --conflict: "#f4a261";
  --created: "#81b29a";
  --deleted: "#2f2837";
  --drop_target-background: "#131a24";
  --editor-active_line-background: "#212e3f";
  --editor-active_line_number: "#dbc074";
  --editor-active_wrap_guide: "#212e3f";
  --editor-background: "#192330";
  --editor-foreground: "#cdcecf";
  --editor-gutter-background: "#192330";
  --editor-indent_guide: "#212e3f";
  --editor-indent_guide_active: "#3c5372";
  --editor-line_number: "#71839b";
  --editor-wrap_guide: "#212e3f";
  --element-active: "#f4a26199";
  --element-background: "#2b3b51";
  --element-hover: "#f4a2614C";
  --element-selected: "#f4a26133";
  --elevated_surface-background: "#131a24";
  --error: "#c94f6d";
  --error-background: "#3c2c3c";
  --ghost_element-active: "#f4a26166";
  --ghost_element-hover: "#2b3b5166";
  --ghost_element-selected: "#2b3b51";
  --hidden: "#71839b";
  --hint: "#738091";
  --hint-background: "#2e4045";
  --icon: "#ff0000";
  --icon-accent: "#00ffff";
  --icon-disabled: "#0000ff";
  --icon-muted: "#00ff00";
  --icon-placeholder: "#ffff00";
  --ignored: "#738091";
  --info: "#719cd6";
  --info-background: "#2b3b51";
  --link_text-hover: "#63cdcf";
  --modified: "#dbc074";
  --panel-background: "#131a24";
  --predictive: "#71839b";
  --renamed: "#dbc074";
  --scrollbar-thumb-border: "#30323a";
  --scrollbar-thumb-hover_background: "#575860";
  --scrollbar-track-background: "#192330";
  --scrollbar-track-border: "#131a24";
  --scrollbar_thumb-background: "#30323a";
  --search-match_background: "#3c5372";
  --status_bar-background: "#131a24";
  --success: "#81b29a";
  --success-background: "#2e4045";
  --surface-background: "#131a24";
  --tab-active_background: "#192330";
  --tab-inactive_background: "#131a24";
  --tab_bar-background: "#131a24";
  --terminal-ansi-black: "#393b44";
  --terminal-ansi-blue: "#719cd6";
  --terminal-ansi-bright_black: "#575860";
  --terminal-ansi-bright_blue: "#86abdc";
  --terminal-ansi-bright_cyan: "#7ad5d6";
  --terminal-ansi-bright_green: "#8ebaa4";
  --terminal-ansi-bright_magenta: "#baa1e2";
  --terminal-ansi-bright_red: "#d16983";
  --terminal-ansi-bright_white: "#e4e4e5";
  --terminal-ansi-bright_yellow: "#e0c989";
  --terminal-ansi-cyan: "#63cdcf";
  --terminal-ansi-dim_black: "#30323a";
  --terminal-ansi-dim_blue: "#6085b6";
  --terminal-ansi-dim_cyan: "#54aeb0";
  --terminal-ansi-dim_green: "#6e9783";
  --terminal-ansi-dim_magenta: "#8567b6";
  --terminal-ansi-dim_red: "#ab435d";
  --terminal-ansi-dim_white: "#bebebe";
  --terminal-ansi-dim_yellow: "#baa363";
  --terminal-ansi-green: "#81b29a";
  --terminal-ansi-magenta: "#9d79d6";
  --terminal-ansi-red: "#c94f6d";
  --terminal-ansi-white: "#dfdfe0";
  --terminal-ansi-yellow: "#dbc074";
  --terminal-background: "#192330";
  --terminal-bright_foreground: "#d6d6d7";
  --terminal-dim_foreground: "#aeafb0";
  --terminal-foreground: "#cdcecf";
  --text: "#d6d6d7";
  --text-accent: "#aeafb0";
  --text-disabled: "#738091";
  --text-muted: "#cdcecf";
  --text-placeholder: "#71839b";
  --title_bar-background: "#131a24";
  --toolbar-background: "#192330";
  --warning: "#dbc074";
  --warning-background: "#40423e";
  --player-1-background: "#81b29a";
  --player-1-cursor: "#81b29a";
  --player-1-selection: "#81b29a3D";
  --syntax-boolean-color: "#f6b079";
  --syntax-comment-color: "#738091";
  --syntax-comment-doc-color: "#738091";
  --syntax-constant-color: "#f6b079";
  --syntax-constructor-color: "#f6b079";
  --syntax-function-color: "#86abdc";
  --syntax-keyword-color: "#9d79d6";
  --syntax-number-color: "#f4a261";
  --syntax-operator-color: "#aeafb0";
  --syntax-preproc-color: "#dc8ed9";
  --syntax-property-color: "#719cd6";
  --syntax-punctuation-color: "#aeafb0";
  --syntax-punctuation-bracket-color: "#aeafb0";
  --syntax-punctuation-delimiter-color: "#aeafb0";
  --syntax-punctuation-list_marker-color: "#aeafb0";
  --syntax-punctuation-special-color: "#aeafb0";
  --syntax-string-color: "#81b29a";
  --syntax-string-escape-color: "#81b29a";
  --syntax-string-regex-color: "#e0c989";
  --syntax-string-special-color: "#7ad5d6";
  --syntax-string-special-symbol-color: "#c94f6d";
  --syntax-tag-color: "#8567b6";
  --syntax-text-literal-color: "#81b29a";
  --syntax-type-color: "#dbc074";
  --syntax-variable-color: "#63cdcf";
  --syntax-variable-special-color: "#c94f6d";
}
