:root {
  --accents: ["#668aab","#b46950","#9d7495","#69a7ba","#a54e56","#8aa872","#d9b263"];
  --background: "#232831";
  --border: "#232831";
  --border-disabled: "#2e3440";
  --border-focused: "#3e4a5b";
  --border-selected: "#4f6074";
  --border-transparent: "#2e3440";
  --border-variant: "#232831";
  --conflict: "#c9826b";
  --created: "#a3be8c";
  --deleted: "#403843";
  --drop_target-background: "#232831";
  --editor-active_line-background: "#39404f";
  --editor-active_line_number: "#ebcb8b";
  --editor-active_wrap_guide: "#39404f";
  --editor-background: "#2e3440";
  --editor-foreground: "#cdcecf";
  --editor-gutter-background: "#2e3440";
  --editor-indent_guide: "#39404f";
  --editor-indent_guide_active: "#4f6074";
  --editor-line_number: "#7e8188";
  --editor-wrap_guide: "#39404f";
  --element-active: "#c9826b99";
  --element-background: "#3e4a5b";
  --element-hover: "#c9826b4C";
  --element-selected: "#c9826b33";
  --elevated_surface-background: "#232831";
  --error: "#bf616a";
  --error-background: "#4b3d48";
  --ghost_element-active: "#c9826b66";
  --ghost_element-hover: "#3e4a5b66";
  --ghost_element-selected: "#3e4a5b";
  --hidden: "#7e8188";
  --hint: "#60728a";
  --hint-background: "#45504f";
  --icon: "#ff0000";
  --icon-accent: "#00ffff";
  --icon-disabled: "#0000ff";
  --icon-muted: "#00ff00";
  --icon-placeholder: "#ffff00";
  --ignored: "#60728a";
  --info: "#81a1c1";
  --info-background: "#3f4a5a";
  --link_text-hover: "#88c0d0";
  --modified: "#ebcb8b";
  --panel-background: "#232831";
  --predictive: "#7e8188";
  --renamed: "#ebcb8b";
  --scrollbar-thumb-border: "#353a45";
  --scrollbar-thumb-hover_background: "#465780";
  --scrollbar-track-background: "#2e3440";
  --scrollbar-track-border: "#232831";
  --scrollbar_thumb-background: "#353a45";
  --search-match_background: "#4f6074";
  --status_bar-background: "#232831";
  --success: "#a3be8c";
  --success-background: "#45504f";
  --surface-background: "#232831";
  --tab-active_background: "#2e3440";
  --tab-inactive_background: "#232831";
  --tab_bar-background: "#232831";
  --terminal-ansi-black: "#3b4252";
  --terminal-ansi-blue: "#81a1c1";
  --terminal-ansi-bright_black: "#465780";
  --terminal-ansi-bright_blue: "#8cafd2";
  --terminal-ansi-bright_cyan: "#93ccdc";
  --terminal-ansi-bright_green: "#b1d196";
  --terminal-ansi-bright_magenta: "#c895bf";
  --terminal-ansi-bright_red: "#d06f79";
  --terminal-ansi-bright_white: "#e7ecf4";
  --terminal-ansi-bright_yellow: "#f0d399";
  --terminal-ansi-cyan: "#88c0d0";
  --terminal-ansi-dim_black: "#353a45";
  --terminal-ansi-dim_blue: "#668aab";
  --terminal-ansi-dim_cyan: "#69a7ba";
  --terminal-ansi-dim_green: "#8aa872";
  --terminal-ansi-dim_magenta: "#9d7495";
  --terminal-ansi-dim_red: "#a54e56";
  --terminal-ansi-dim_white: "#bbc3d4";
  --terminal-ansi-dim_yellow: "#d9b263";
  --terminal-ansi-green: "#a3be8c";
  --terminal-ansi-magenta: "#b48ead";
  --terminal-ansi-red: "#bf616a";
  --terminal-ansi-white: "#e5e9f0";
  --terminal-ansi-yellow: "#ebcb8b";
  --terminal-background: "#2e3440";
  --terminal-bright_foreground: "#c7cdd9";
  --terminal-dim_foreground: "#abb1bb";
  --terminal-foreground: "#cdcecf";
  --text: "#c7cdd9";
  --text-accent: "#abb1bb";
  --text-disabled: "#60728a";
  --text-muted: "#cdcecf";
  --text-placeholder: "#7e8188";
  --title_bar-background: "#232831";
  --toolbar-background: "#2e3440";
  --warning: "#ebcb8b";
  --warning-background: "#54524f";
  --player-1-background: "#a3be8c";
  --player-1-cursor: "#a3be8c";
  --player-1-selection: "#a3be8c3D";
  --syntax-boolean-color: "#d89079";
  --syntax-comment-color: "#60728a";
  --syntax-comment-doc-color: "#60728a";
  --syntax-constant-color: "#d89079";
  --syntax-constructor-color: "#d89079";
  --syntax-function-color: "#8cafd2";
  --syntax-keyword-color: "#b48ead";
  --syntax-number-color: "#c9826b";
  --syntax-operator-color: "#abb1bb";
  --syntax-preproc-color: "#d092ce";
  --syntax-property-color: "#81a1c1";
  --syntax-punctuation-color: "#abb1bb";
  --syntax-punctuation-bracket-color: "#abb1bb";
  --syntax-punctuation-delimiter-color: "#abb1bb";
  --syntax-punctuation-list_marker-color: "#abb1bb";
  --syntax-punctuation-special-color: "#abb1bb";
  --syntax-string-color: "#a3be8c";
  --syntax-string-escape-color: "#a3be8c";
  --syntax-string-regex-color: "#f0d399";
  --syntax-string-special-color: "#93ccdc";
  --syntax-string-special-symbol-color: "#bf616a";
  --syntax-tag-color: "#9d7495";
  --syntax-text-literal-color: "#a3be8c";
  --syntax-type-color: "#ebcb8b";
  --syntax-variable-color: "#88c0d0";
  --syntax-variable-special-color: "#bf616a";
}
