:root {
  --accents: ["#cddbf9","#f6bbe7","#B1DBA4","null","#EBB9B9","#E6DFB8","#b8deeb","#B8BACC","#1A1A24","#cddbf9","#f6bbe7","#B1DBA4","null","#E6DFB8"];
  --background: "#1E1E2A";
  --border: "#303347";
  --border-disabled: null;
  --border-focused: "#303347";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#303347";
  --conflict: "#EBB9B9";
  --conflict-background: "#EBB9B9";
  --conflict-border: "#EBB9B9";
  --created: "#B1DBA4";
  --created-background: "#1A1A24";
  --created-border: "#B1DBA4";
  --deleted: "#EBB9B9";
  --deleted-background: "#EBB9B960";
  --deleted-border: "#EBB9B9";
  --drop_target-background: null;
  --editor-active_line-background: "#1110173c";
  --editor-active_line_number: "#a8a9f3";
  --editor-active_wrap_guide: null;
  --editor-background: "#1E1E2A";
  --editor-document_highlight-read_background: "#2c2d3e";
  --editor-document_highlight-write_background: "#2c2d3e";
  --editor-foreground: "#F6BBE7";
  --editor-gutter-background: "#20202a00";
  --editor-highlighted_line-background: "#1110173c";
  --editor-indent_guide: "#3d4059";
  --editor-indent_guide_active: "#e9c1c180";
  --editor-invisible: "#fbfff829";
  --editor-line_number: "#3d4059";
  --editor-subheader-background: "#1A1A24";
  --editor-wrap_guide: null;
  --element-active: "#303047";
  --element-background: "#30304700";
  --element-disabled: "#fC3C3C";
  --element-hover: "#20202a";
  --element-selected: "#333551";
  --elevated_surface-background: "#1A1A24";
  --error: "#EBB9B9";
  --error-background: "#1A1A24";
  --error-border: "#EBB9B9";
  --ghost_element-active: "#303247";
  --ghost_element-background: "#292c3e00";
  --ghost_element-disabled: "#fD2D2D";
  --ghost_element-hover: "#30334790";
  --ghost_element-selected: "#303247";
  --hidden: "#424467";
  --hidden-border: null;
  --hint: "#424467";
  --hint-background: "#1A1A24";
  --hint-border: "#CDDBF9";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#a7b7d650";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#cddbf9";
  --info-background: "#1A1A24";
  --info-border: "#cddbf9";
  --link_text-hover: "#e9c1c1";
  --modified: "#E6DFB8";
  --modified-background: "#1A1A24";
  --modified-border: "#E6DFB8";
  --pane-focused_border: null;
  --panel-background: "#1A1A24";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#1A1A2400";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#1A1A2450";
  --scrollbar-track-border: "#1A1A2400";
  --scrollbar_thumb-background: "#282838e0";
  --search-match_background: "#E6DFB850";
  --status_bar-background: "#1A1A24";
  --success: "#B1DBA4";
  --success-background: "#1A1A24";
  --success-border: "#B1DBA4";
  --surface-background: null;
  --tab-active_background: "#1e1e2a";
  --tab-inactive_background: "#292c3e";
  --tab_bar-background: "#292c3e";
  --terminal-ansi-black: "#2c2e3e";
  --terminal-ansi-blue: "#cddbf9";
  --terminal-ansi-bright_black: "#41445C";
  --terminal-ansi-bright_blue: "#cddbf9";
  --terminal-ansi-bright_cyan: "#b8deeb";
  --terminal-ansi-bright_green: "#B1DBA4";
  --terminal-ansi-bright_magenta: "#f6bbe7";
  --terminal-ansi-bright_red: "#EBB9B9";
  --terminal-ansi-bright_white: "#a7b8d6";
  --terminal-ansi-bright_yellow: "#E6DFB8";
  --terminal-ansi-cyan: "#b8deeb";
  --terminal-ansi-dim_black: "#2c2e3e";
  --terminal-ansi-dim_blue: "#1A1A24";
  --terminal-ansi-dim_cyan: "#1A1A24";
  --terminal-ansi-dim_green: "#1A1A24";
  --terminal-ansi-dim_magenta: "#1A1A24";
  --terminal-ansi-dim_red: "#1A1A24";
  --terminal-ansi-dim_white: "#a7b8d6";
  --terminal-ansi-dim_yellow: "#1A1A24";
  --terminal-ansi-green: "#B1DBA4";
  --terminal-ansi-magenta: "#f6bbe7";
  --terminal-ansi-red: "#EBB9B9";
  --terminal-ansi-white: "#B8BACC";
  --terminal-ansi-yellow: "#E6DFB8";
  --terminal-background: "#1E1E2A";
  --terminal-bright_foreground: "#a7b7d6";
  --terminal-dim_foreground: "#a7b7d6";
  --terminal-foreground: "#a7b7d6";
  --text: "#a7b7d6";
  --text-accent: "#e9c1c1";
  --text-disabled: "#3d4059";
  --text-muted: "#63718b";
  --text-placeholder: "#63718b";
  --title_bar-background: "#1E1F2E";
  --toolbar-background: "#00000000";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#E6DFB8";
  --warning-background: "#1A1A24";
  --warning-border: "#E6DFB8";
  --player-1-background: "#333551";
  --player-1-cursor: "#e9c1c1e0";
  --player-1-selection: "#333551";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#b8dceb";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#cddbf9";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#3d4059";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#3d4059";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#E6DFB8";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#E6DFB8";
  --syntax-constant-builtin-font_style: "italic";
  --syntax-constant-builtin-font_weight: null;
  --syntax-constructor-color: "#a7b8d6";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: null;
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#E6DFB8";
  --syntax-enum-font_style: "normal";
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#b8deeb";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-function-definition-color: "#b8deeb";
  --syntax-function-definition-font_style: "italic";
  --syntax-function-definition-font_weight: null;
  --syntax-function-method-color: "#e8cca7";
  --syntax-function-method-font_style: "normal";
  --syntax-function-method-font_weight: null;
  --syntax-hint-color: "#424467";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#EBB9B9";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#e9c1c1";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#e9c1c1";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#cddbf9";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#63718b";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-primary-color: "#e9c1c1";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#f6bbe7";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#63718b";
  --syntax-punctuation-font_style: "normal";
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#63718b";
  --syntax-punctuation-bracket-font_style: "normal";
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#63718b";
  --syntax-punctuation-delimiter-font_style: "normal";
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#cddbf9";
  --syntax-punctuation-list_marker-font_style: "normal";
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#EBB9B9";
  --syntax-punctuation-special-font_style: "normal";
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#EBB9B9";
  --syntax-punctuation-special-symbol-font_style: "normal";
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#B1DBA4";
  --syntax-string-font_style: "normal";
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#B1DBA4";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#B1DBA4";
  --syntax-string-regex-font_style: "normal";
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#B1DBA4";
  --syntax-string-special-font_style: "normal";
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#B1DBA4";
  --syntax-string-special-symbol-font_style: "normal";
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#f6bbe7";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: null;
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#EBB9B9";
  --syntax-title-font_style: "italic";
  --syntax-title-font_weight: null;
  --syntax-type-color: "#E6DFB8";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#E6DFB8";
  --syntax-type-builtin-font_style: "italic";
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-color: "#E6DFB8";
  --syntax-type-interface-font_style: "italic";
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#E6DFB8";
  --syntax-type-super-font_style: "italic";
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#f6bbe7";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#9CDCFE";
  --syntax-variable-member-font_style: "normal";
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#9CDCFE";
  --syntax-variable-parameter-font_style: "normal";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#E6DFB8";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
