:root {
  --accents: ["#6A8CBC","#8787bf","#7D9685","null","#C34864","#DE956F","#829FB0","#708191","#D5D4E0","#6A8CBC","#8787bf","#7D9685","null","#DE956F"];
  --background: "#e6e6f1";
  --border: "#70819160";
  --border-disabled: null;
  --border-focused: "#70819160";
  --border-selected: null;
  --border-transparent: null;
  --border-variant: "#70819160";
  --conflict: "#C34864";
  --conflict-background: "#C34864";
  --conflict-border: "#C34864";
  --created: "#7D9685";
  --created-background: "#D5D4E0";
  --created-border: "#7D9685";
  --deleted: "#C34864";
  --deleted-background: "#C3486460";
  --deleted-border: "#C34864";
  --drop_target-background: null;
  --editor-active_line-background: "#D5D4E0";
  --editor-active_line_number: "#50546d";
  --editor-active_wrap_guide: null;
  --editor-background: "#e6e6f1";
  --editor-document_highlight-read_background: "#9CA6B950";
  --editor-document_highlight-write_background: "#9CA6B950";
  --editor-foreground: "#525F6B";
  --editor-gutter-background: "#e6e6f1";
  --editor-highlighted_line-background: "#D5D4E0";
  --editor-indent_guide: "#D5D4E0";
  --editor-indent_guide_active: "#829FB080";
  --editor-invisible: "#D5D4E0";
  --editor-line_number: "#D5D4E0";
  --editor-subheader-background: "#D5D4E0";
  --editor-wrap_guide: null;
  --element-active: "#7f8e9d40";
  --element-background: "#cccbd990";
  --element-disabled: "#fC3C3C";
  --element-hover: "#9CA6B940";
  --element-selected: "#D5D4E0";
  --elevated_surface-background: "#D5D4E0";
  --error: "#C34864";
  --error-background: "#D5D4E0";
  --error-border: "#C34864";
  --ghost_element-active: "#7f8e9d40";
  --ghost_element-background: "#292c3e00";
  --ghost_element-disabled: "#fD2D2D";
  --ghost_element-hover: "#63718b30";
  --ghost_element-selected: "#D5D4E040";
  --hidden: "#9f9eac";
  --hidden-border: null;
  --hint: "#9f9eac";
  --hint-background: "#D5D4E0";
  --hint-border: "#6A8CBC";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#63718b90";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#6A8CBC";
  --info-background: "#D5D4E0";
  --info-border: "#6A8CBC";
  --link_text-hover: "#829FB0";
  --modified: "#DE956F";
  --modified-background: "#D5D4E0";
  --modified-border: "#DE956F";
  --pane-focused_border: null;
  --panel-background: "#d7d7e2";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#1a1a2400";
  --scrollbar-thumb-hover_background: null;
  --scrollbar-track-background: "#1a1a2400";
  --scrollbar-track-border: "#1a1a2400";
  --scrollbar_thumb-background: "#D5D4E0e0";
  --search-match_background: "#e8cca780";
  --status_bar-background: "#d7d7e2";
  --success: "#7D9685";
  --success-background: "#D5D4E0";
  --success-border: "#7D9685";
  --surface-background: null;
  --tab-active_background: "#e6e6f1";
  --tab-inactive_background: "#e1e1ec";
  --tab_bar-background: "#d7d7e2";
  --terminal-ansi-black: "#9CA6B9";
  --terminal-ansi-blue: "#6A8CBC";
  --terminal-ansi-bright_black: "#9CA6B9";
  --terminal-ansi-bright_blue: "#6A8CBC";
  --terminal-ansi-bright_cyan: "#829FB0";
  --terminal-ansi-bright_green: "#7D9685";
  --terminal-ansi-bright_magenta: "#8787bf";
  --terminal-ansi-bright_red: "#C34864";
  --terminal-ansi-bright_white: "#708191";
  --terminal-ansi-bright_yellow: "#DE956F";
  --terminal-ansi-cyan: "#829FB0";
  --terminal-ansi-dim_black: "#9CA6B9";
  --terminal-ansi-dim_blue: "#6A8CBC";
  --terminal-ansi-dim_cyan: "#829FB0";
  --terminal-ansi-dim_green: "#7D9685";
  --terminal-ansi-dim_magenta: "#8787bf";
  --terminal-ansi-dim_red: "#C34864";
  --terminal-ansi-dim_white: "#708191";
  --terminal-ansi-dim_yellow: "#DE956F";
  --terminal-ansi-green: "#7D9685";
  --terminal-ansi-magenta: "#8787bf";
  --terminal-ansi-red: "#C34864";
  --terminal-ansi-white: "#708191";
  --terminal-ansi-yellow: "#DE956F";
  --terminal-background: "#e6e6f1";
  --terminal-bright_foreground: "#708192";
  --terminal-dim_foreground: "#708192";
  --terminal-foreground: "#708192";
  --text: "#708192";
  --text-accent: "#829FB0";
  --text-disabled: "#D5D4E0";
  --text-muted: "#63718b";
  --text-placeholder: "#788697";
  --title_bar-background: "#d7d7e2";
  --toolbar-background: "#D5D4E000";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#DE956F";
  --warning-background: "#D5D4E0";
  --warning-border: "#DE956F";
  --player-1-background: "#D5D4E0";
  --player-1-cursor: "#788697e0";
  --player-1-selection: "#D5D4E0";
  --player-2-background: null;
  --player-2-cursor: null;
  --player-2-selection: null;
  --syntax-attribute-color: "#6A8CBC";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#6A8CBC";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#9CA6B9";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#9CA6B9";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#d66652";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: null;
  --syntax-constant-builtin-color: "#DE956F";
  --syntax-constant-builtin-font_style: "italic";
  --syntax-constant-builtin-font_weight: null;
  --syntax-constructor-color: "#708191";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: null;
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: null;
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: null;
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#d66652";
  --syntax-enum-font_style: "normal";
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#829FB0";
  --syntax-function-font_style: "italic";
  --syntax-function-font_weight: null;
  --syntax-function-definition-color: "#829FB0";
  --syntax-function-definition-font_style: "italic";
  --syntax-function-definition-font_weight: null;
  --syntax-function-method-color: "#DE956F";
  --syntax-function-method-font_style: "normal";
  --syntax-function-method-font_weight: null;
  --syntax-hint-color: "#9f9eac";
  --syntax-hint-font_style: "italic";
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#C34864";
  --syntax-keyword-font_style: "italic";
  --syntax-keyword-font_weight: null;
  --syntax-link_text-color: "#829FB0";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#829FB0";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#d66652";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#C34864";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-primary-color: "#829FB0";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#8787bf";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#708191";
  --syntax-punctuation-font_style: "normal";
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-list_marker-color: "#d66652";
  --syntax-punctuation-list_marker-font_style: "normal";
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#8787bf";
  --syntax-punctuation-special-font_style: "normal";
  --syntax-punctuation-special-font_weight: null;
  --syntax-punctuation-special-symbol-color: "#8787bf";
  --syntax-punctuation-special-symbol-font_style: "normal";
  --syntax-punctuation-special-symbol-font_weight: null;
  --syntax-string-color: "#7D9685";
  --syntax-string-font_style: "normal";
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#7D9685";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#7D9685";
  --syntax-string-regex-font_style: "normal";
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#7D9685";
  --syntax-string-special-font_style: "normal";
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#7D9685";
  --syntax-string-special-symbol-font_style: "normal";
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8787bf";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: null;
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#C34864";
  --syntax-title-font_style: "italic";
  --syntax-title-font_weight: null;
  --syntax-type-color: "#DE956F";
  --syntax-type-font_style: "italic";
  --syntax-type-font_weight: null;
  --syntax-type-builtin-color: "#DE956F";
  --syntax-type-builtin-font_style: "italic";
  --syntax-type-builtin-font_weight: null;
  --syntax-type-interface-color: "#DE956F";
  --syntax-type-interface-font_style: "italic";
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#DE956F";
  --syntax-type-super-font_style: "italic";
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#8787bf";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#6A8CBC";
  --syntax-variable-member-font_style: "normal";
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#6A8CBC";
  --syntax-variable-parameter-font_style: "normal";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#d66652";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: null;
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
