:root {
  --background: "#121212";
  --border: "#ffffff10";
  --border-disabled: "#ffffff10";
  --border-focused: "#ffffff10";
  --border-selected: "#ffffff10";
  --border-transparent: "#ffffff10";
  --border-variant: "#ffffff10";
  --conflict: "#d0679d";
  --conflict-background: "#121212";
  --conflict-border: "#ffffff10";
  --created: "#5fb3a1";
  --created-background: "#121212";
  --created-border: "#ffffff10";
  --deleted: "#d0679d";
  --deleted-background: "#121212";
  --deleted-border: "#ffffff10";
  --drop_target-background: "#506477";
  --editor-active_line-background: "#717cb425";
  --editor-active_line_number: "#a6accd";
  --editor-active_wrap_guide: "#00000030";
  --editor-background: "#121212";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#a6accd";
  --editor-gutter-background: "#121212";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#767c9d50";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#00000030";
  --element-active: null;
  --element-background: "#303340";
  --element-disabled: null;
  --element-hover: "#30334080";
  --element-selected: "#30334080";
  --elevated_surface-background: "#121212";
  --error: "#d0679d";
  --error-background: "#121212";
  --error-border: "#ffffff10";
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#eff6ff0a";
  --ghost_element-selected: "#eff6ff0a";
  --hidden: "#767c9d";
  --hidden-background: "#121212";
  --hidden-border: "#ffffff10";
  --hint: "#969696ff";
  --hint-background: "#121212";
  --hint-border: "#ffffff10";
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#767c9d70";
  --ignored-background: "#121212";
  --ignored-border: "#ffffff10";
  --info: "#ADD7FF";
  --info-background: "#121212";
  --info-border: "#ffffff10";
  --link_text-hover: "#ADD7FF";
  --modified: "#ADD7FF";
  --modified-background: "#121212";
  --modified-border: "#ffffff10";
  --pane-focused_border: null;
  --panel-background: "#121212";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: "#121212";
  --predictive-border: "#ffffff10";
  --renamed: null;
  --renamed-background: "#121212";
  --renamed-border: "#ffffff10";
  --scrollbar-thumb-background: "#00000080";
  --scrollbar-thumb-border: "#00000080";
  --scrollbar-thumb-hover_background: "#a6accd25";
  --scrollbar-track-background: "#121212";
  --scrollbar-track-border: "#00000000";
  --search-match_background: null;
  --status_bar-background: "#121212";
  --success: null;
  --success-background: "#121212";
  --success-border: "#ffffff10";
  --surface-background: "#121212";
  --tab-active_background: "#30334080";
  --tab-inactive_background: "#121212";
  --tab_bar-background: "#121212";
  --terminal-ansi-black: "#121212";
  --terminal-ansi-blue: "#89ddff";
  --terminal-ansi-bright_black: "#a6accd";
  --terminal-ansi-bright_blue: "#ADD7FF";
  --terminal-ansi-bright_cyan: "#ADD7FF";
  --terminal-ansi-bright_green: "#60a5fa";
  --terminal-ansi-bright_magenta: "#f087bd";
  --terminal-ansi-bright_red: "#d0679d";
  --terminal-ansi-bright_white: "#ffffff";
  --terminal-ansi-bright_yellow: "#fffac2";
  --terminal-ansi-cyan: "#89ddff";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#60a5fa";
  --terminal-ansi-magenta: "#f087bd";
  --terminal-ansi-red: "#d0679d";
  --terminal-ansi-white: "#ffffff";
  --terminal-ansi-yellow: "#fffac2";
  --terminal-background: "#12121200";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#a6accd";
  --text: "#a6accd";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#767c9d";
  --text-placeholder: null;
  --title_bar-background: "#121212";
  --toolbar-background: "#00000000";
  --unreachable: null;
  --unreachable-background: "#121212";
  --unreachable-border: "#ffffff10";
  --warning: "#fffac2";
  --warning-background: "#121212";
  --warning-border: "#ffffff10";
  --syntax-attribute-color: "#91B4D5";
  --syntax-attribute-font_style: "italic";
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#60a5fa";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#767c9dB0";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#767c9dB0";
  --syntax-comment-doc-font_style: "italic";
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#60a5fa";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#60a5fa";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-emphasis-color: "#7390AA";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#7390AA";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-keyword-color: "#a6accd";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#91B4D5";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#60a5fa";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#60a5fa";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#60a5fa";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#91B4D5";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-punctuation-color: "#a6accd";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#a6accd";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#a6accd";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#a6accd";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#a6accd";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#60a5fa";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#60a5fa";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#60a5fa";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#60a5fa";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#60a5fa";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#60a5fa";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#60a5fa";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#91B4D5";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#a6accdC0";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#ADD7FF";
  --syntax-variable-font_style: "italic";
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#ADD7FF";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
}
