:root {
  --background: "#272e33";
  --border: "#1b2024";
  --border_disabled: "#1b2024";
  --border_focused: "#272e33";
  --border_selected: "#1b2024";
  --border_transparent: "#1b2024";
  --border_variant: "#1b2024";
  --conflict: "#d699b6a0";
  --conflict_background: null;
  --conflict_border: null;
  --created: "#899c40a0";
  --created_background: null;
  --created_border: null;
  --deleted: "#da6362a0";
  --deleted_background: null;
  --deleted_border: null;
  --drop_target_background: "#2e383c";
  --editor_active_line_background: "#37414590";
  --editor_active_line_number: "#d3c6aa";
  --editor_active_wrap_guide: "#1b2024";
  --editor_background: "#272e33";
  --editor_document_highlight_read_background: null;
  --editor_document_highlight_write_background: null;
  --editor_foreground: "#d3c6aa";
  --editor_gutter_background: "#272e33";
  --editor_highlighted_line_background: null;
  --editor_invisible: null;
  --editor_line_number: "#7f897da0";
  --editor_subheader_background: null;
  --editor_wrap_guide: "#1b2024";
  --element_active: null;
  --element_background: "#5a6648";
  --element_disabled: null;
  --element_hover: "#272e33";
  --element_selected: "#374145";
  --elevated_surface_background: "#2e383c";
  --error: "#da6362";
  --error_background: "#4c3743";
  --error_border: null;
  --ghost_element_active: null;
  --ghost_element_background: null;
  --ghost_element_disabled: null;
  --ghost_element_hover: "#272e3300";
  --ghost_element_selected: "#37414580";
  --hidden: "#7f897d";
  --hidden_background: null;
  --hidden_border: null;
  --hint: "#7f897da0";
  --hint_background: null;
  --hint_border: null;
  --icon: null;
  --icon_accent: null;
  --icon_disabled: null;
  --icon_muted: null;
  --icon_placeholder: null;
  --ignored: "#495156";
  --ignored_background: null;
  --ignored_border: null;
  --info: "#5a93a2";
  --info_background: "#5a93a220";
  --info_border: null;
  --link_text_hover: "#a7c080c0";
  --modified: "#5a93a2a0";
  --modified_background: null;
  --modified_border: null;
  --pane_focused_border: null;
  --panel_background: "#21272b";
  --panel_focused_border: null;
  --predictive: null;
  --predictive_background: null;
  --predictive_border: null;
  --renamed: null;
  --renamed_background: null;
  --renamed_border: null;
  --scrollbar_thumb_border: "#49515680";
  --scrollbar_thumb_hover_background: "#495156";
  --scrollbar_track_background: "#272e33";
  --scrollbar_track_border: "#272e3300";
  --scrollbar_thumb_background: "#49515680";
  --search_match_background: null;
  --status_bar_background: "#21272b";
  --success: null;
  --success_background: null;
  --success_border: null;
  --surface_background: "#272e33";
  --tab_active_background: "#272e33";
  --tab_inactive_background: "#21272b";
  --tab_bar_background: "#21272b";
  --terminal_ansi_black: "#2e383c";
  --terminal_ansi_blue: "#7fbbb3";
  --terminal_ansi_bright_black: "#859289";
  --terminal_ansi_bright_blue: "#7fbbb3";
  --terminal_ansi_bright_cyan: "#83c092";
  --terminal_ansi_bright_green: "#a7c080";
  --terminal_ansi_bright_magenta: "#d699b6";
  --terminal_ansi_bright_red: "#e67e80";
  --terminal_ansi_bright_white: "#d3c6aa";
  --terminal_ansi_bright_yellow: "#dbbc7f";
  --terminal_ansi_cyan: "#83c092";
  --terminal_ansi_dim_black: null;
  --terminal_ansi_dim_blue: null;
  --terminal_ansi_dim_cyan: null;
  --terminal_ansi_dim_green: null;
  --terminal_ansi_dim_magenta: null;
  --terminal_ansi_dim_red: null;
  --terminal_ansi_dim_white: null;
  --terminal_ansi_dim_yellow: null;
  --terminal_ansi_green: "#a7c080";
  --terminal_ansi_magenta: "#d699b6";
  --terminal_ansi_red: "#e67e80";
  --terminal_ansi_white: "#d3c6aa";
  --terminal_ansi_yellow: "#dbbc7f";
  --terminal_background: "#272e33";
  --terminal_bright_foreground: null;
  --terminal_dim_foreground: null;
  --terminal_foreground: null;
  --text: "#9aa79d";
  --text_accent: null;
  --text_disabled: null;
  --text_muted: "#7f897d";
  --text_placeholder: null;
  --title_bar_background: "#21272b";
  --toolbar_background: "#272e33";
  --unreachable: null;
  --unreachable_background: null;
  --unreachable_border: null;
  --warning: "#bf983d";
  --warning_background: "#4D4C43";
  --warning_border: null;
  --player_1_background: "#414b50";
  --player_1_cursor: "#d3c6aa";
  --player_1_selection: "#414b50";
  --syntax_attribute_color: "#dbbc7f";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_comment_color: "#859289";
  --syntax_comment_font_style: "italic";
  --syntax_comment_font_weight: null;
  --syntax_constant_color: "#d699b6";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#d699b6";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_function_color: "#a7c080";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_keyword_color: "#e67e80";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: null;
  --syntax_number_color: "#d699b6";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#e69875";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_property_color: "#83c092";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_string_color: "#dbbc7f";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#98c379";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_type_color: "#7fbbb3";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: null;
}
