:root {
  --background: "#272e33";
  --border: "#1b2024";
  --border-disabled: "#1b2024";
  --border-focused: "#272e33";
  --border-selected: "#1b2024";
  --border-transparent: "#1b2024";
  --border-variant: "#1b2024";
  --conflict: "#d699b6a0";
  --conflict-background: null;
  --conflict-border: null;
  --created: "#899c40a0";
  --created-background: null;
  --created-border: null;
  --deleted: "#da6362a0";
  --deleted-background: null;
  --deleted-border: null;
  --drop_target-background: "#2e383c";
  --editor-active_line-background: "#37414590";
  --editor-active_line_number: "#d3c6aa";
  --editor-active_wrap_guide: "#1b2024";
  --editor-background: "#272e33";
  --editor-document_highlight-read_background: null;
  --editor-document_highlight-write_background: null;
  --editor-foreground: "#d3c6aa";
  --editor-gutter-background: "#272e33";
  --editor-highlighted_line-background: null;
  --editor-invisible: null;
  --editor-line_number: "#7f897da0";
  --editor-subheader-background: null;
  --editor-wrap_guide: "#1b2024";
  --element-active: null;
  --element-background: "#5a6648";
  --element-disabled: null;
  --element-hover: "#272e33";
  --element-selected: "#374145";
  --elevated_surface-background: "#2e383c";
  --error: "#da6362";
  --error-background: "#4c3743";
  --error-border: null;
  --ghost_element-active: null;
  --ghost_element-background: null;
  --ghost_element-disabled: null;
  --ghost_element-hover: "#272e3300";
  --ghost_element-selected: "#37414580";
  --hidden: "#7f897d";
  --hidden-background: null;
  --hidden-border: null;
  --hint: "#7f897da0";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#495156";
  --ignored-background: null;
  --ignored-border: null;
  --info: "#5a93a2";
  --info-background: "#5a93a220";
  --info-border: null;
  --link_text-hover: "#a7c080c0";
  --modified: "#5a93a2a0";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#21272b";
  --panel-focused_border: null;
  --predictive: null;
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: null;
  --renamed-border: null;
  --scrollbar-thumb-border: "#49515680";
  --scrollbar-thumb-hover_background: "#495156";
  --scrollbar-track-background: "#272e33";
  --scrollbar-track-border: "#272e3300";
  --scrollbar_thumb-background: "#49515680";
  --search-match_background: null;
  --status_bar-background: "#21272b";
  --success: null;
  --success-background: null;
  --success-border: null;
  --surface-background: "#272e33";
  --tab-active_background: "#272e33";
  --tab-inactive_background: "#21272b";
  --tab_bar-background: "#21272b";
  --terminal-ansi-black: "#2e383c";
  --terminal-ansi-blue: "#7fbbb3";
  --terminal-ansi-bright_black: "#859289";
  --terminal-ansi-bright_blue: "#7fbbb3";
  --terminal-ansi-bright_cyan: "#83c092";
  --terminal-ansi-bright_green: "#a7c080";
  --terminal-ansi-bright_magenta: "#d699b6";
  --terminal-ansi-bright_red: "#e67e80";
  --terminal-ansi-bright_white: "#d3c6aa";
  --terminal-ansi-bright_yellow: "#dbbc7f";
  --terminal-ansi-cyan: "#83c092";
  --terminal-ansi-dim_black: null;
  --terminal-ansi-dim_blue: null;
  --terminal-ansi-dim_cyan: null;
  --terminal-ansi-dim_green: null;
  --terminal-ansi-dim_magenta: null;
  --terminal-ansi-dim_red: null;
  --terminal-ansi-dim_white: null;
  --terminal-ansi-dim_yellow: null;
  --terminal-ansi-green: "#a7c080";
  --terminal-ansi-magenta: "#d699b6";
  --terminal-ansi-red: "#e67e80";
  --terminal-ansi-white: "#d3c6aa";
  --terminal-ansi-yellow: "#dbbc7f";
  --terminal-background: "#272e33";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#9aa79d";
  --text-accent: null;
  --text-disabled: null;
  --text-muted: "#7f897d";
  --text-placeholder: null;
  --title_bar-background: "#21272b";
  --toolbar-background: "#272e33";
  --unreachable: null;
  --unreachable-background: null;
  --unreachable-border: null;
  --warning: "#bf983d";
  --warning-background: "#4D4C43";
  --warning-border: null;
  --player-1-background: "#414b50";
  --player-1-cursor: "#d3c6aa";
  --player-1-selection: "#414b50";
  --syntax-attribute-color: "#dbbc7f";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-comment-color: "#859289";
  --syntax-comment-font_style: "italic";
  --syntax-comment-font_weight: null;
  --syntax-constant-color: "#d699b6";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#d699b6";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-function-color: "#a7c080";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-keyword-color: "#e67e80";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-number-color: "#d699b6";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#e69875";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-property-color: "#83c092";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-string-color: "#dbbc7f";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#98c379";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-type-color: "#7fbbb3";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
}
