:root {
  --background: "#fafafaff";
  --border: "#c9c9ca60";
  --border-disabled: "#d3d3d4ff";
  --border-focused: "#cbcdf6ff";
  --border-selected: "#cbcdf6ff";
  --border-transparent: "#00000000";
  --border-variant: "#dfdfe0ff";
  --conflict: "#ff805cff";
  --conflict-background: "#faf2e6ff";
  --conflict-border: "#f4e7d1ff";
  --created: "#5c9369ff";
  --created-background: "#5c9369ff";
  --created-border: "#c8dcc1ff";
  --deleted: "#d36151ff";
  --deleted-background: "#fbdfd9ff";
  --deleted-border: "#f6c6bdff";
  --drop_target-background: "#7e808780";
  --editor-active_line-background: "#ebebecbf";
  --editor-active_line_number: "#383a41ff";
  --editor-active_wrap_guide: "#383a411a";
  --editor-background: "#fafafaff";
  --editor-document_highlight-read_background: "#5c78e21a";
  --editor-document_highlight-write_background: "#a3a3a466";
  --editor-foreground: "#383a41ff";
  --editor-gutter-background: "#fafafaff";
  --editor-highlighted_line-background: "#ebebecff";
  --editor-invisible: "#a3a3a4ff";
  --editor-line_number: "#383a4159";
  --editor-subheader-background: "#fafafaff";
  --editor-wrap_guide: "#383a410d";
  --element-active: "#cacacaff";
  --element-background: "#fafafaff";
  --element-disabled: "#ebebecff";
  --element-hover: "#dfdfe0ff";
  --element-selected: "#cacacaff";
  --elevated_surface-background: "#ebebecff";
  --error: "#d36151ff";
  --error-background: "#fbdfd9ff";
  --error-border: "#f6c6bdff";
  --ghost_element-active: "#cacaca7f";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#ebebecff";
  --ghost_element-hover: "#dfdfe0ff";
  --ghost_element-selected: "#cacaca7f";
  --hidden: "#a1a1a3ff";
  --hidden-background: "#dcdcddff";
  --hidden-border: "#d3d3d4ff";
  --hint: "#D59E8Fff";
  --hint-background: "#D6D7E4ff";
  --hint-border: "#cbcdf6ff";
  --icon: "#383a41ff";
  --icon-accent: "#5c9369ff";
  --icon-disabled: "#a1a1a3ff";
  --icon-muted: "#7e8087ff";
  --icon-placeholder: "#7e8087ff";
  --ignored: "#a1a1a3ff";
  --ignored-background: "#dcdcddff";
  --ignored-border: "#c9c9caff";
  --info: "#5c78e2ff";
  --info-background: "#AEB7D8ff";
  --info-border: "#cbcdf6ff";
  --link_text-hover: "#5c78e2ff";
  --modified: "#ff805cff";
  --modified-background: "#faf2e6ff";
  --modified-border: "#f4e7d1ff";
  --pane-focused_border: null;
  --panel-background: "#fafafaff";
  --panel-focused_border: null;
  --predictive: "#9b9ec6ff";
  --predictive-background: "#dfeadbff";
  --predictive-border: "#c8dcc1ff";
  --renamed: "#5c78e2ff";
  --renamed-background: "#e2e2faff";
  --renamed-border: "#cbcdf6ff";
  --scrollbar-thumb-background: "#383a411a";
  --scrollbar-thumb-border: "#dfdfe0ff";
  --scrollbar-thumb-hover_background: "#dfdfe0ff";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#eeeeeeff";
  --search-match_background: "#5c78e22d";
  --status_bar-background: "#fafafaff";
  --success: "#669f59ff";
  --success-background: "#dfeadbff";
  --success-border: "#c8dcc1ff";
  --surface-background: "#fafafaff";
  --tab-active_background: "#ebebecff";
  --tab-inactive_background: "#fafafaff";
  --tab_bar-background: "#fafafaff";
  --terminal-ansi-black: "#383a41ff";
  --terminal-ansi-blue: "#5c78e2ff";
  --terminal-ansi-bright_black: "#aaaaaaff";
  --terminal-ansi-bright_blue: "#5c78e2ff";
  --terminal-ansi-bright_cyan: "#46AEB1ff";
  --terminal-ansi-bright_green: "#5c9369ff";
  --terminal-ansi-bright_magenta: "#984ea5ff";
  --terminal-ansi-bright_red: "#d36151ff";
  --terminal-ansi-bright_white: "#e0e0e0ff";
  --terminal-ansi-bright_yellow: "#ff805cff";
  --terminal-ansi-cyan: "#46AEB1ff";
  --terminal-ansi-dim_black: "#383a41ff";
  --terminal-ansi-dim_blue: "#2d3d75ff";
  --terminal-ansi-dim_cyan: "#254058ff";
  --terminal-ansi-dim_green: "#354d2eff";
  --terminal-ansi-dim_magenta: "#4b2a50ff";
  --terminal-ansi-dim_red: "#6f312aff";
  --terminal-ansi-dim_white: "#97979aff";
  --terminal-ansi-dim_yellow: "#786441ff";
  --terminal-ansi-green: "#5c9369ff";
  --terminal-ansi-magenta: "#984ea5ff";
  --terminal-ansi-red: "#d36151ff";
  --terminal-ansi-white: "#eeeeeeff";
  --terminal-ansi-yellow: "#ff805cff";
  --terminal-background: "#fafafaff";
  --terminal-bright_foreground: "#383a41ff";
  --terminal-dim_foreground: "#747987ff";
  --terminal-foreground: "#383a41ff";
  --text: "#383a41ff";
  --text-accent: "#5c9369ff";
  --text-disabled: "#a1a1a3ff";
  --text-muted: "#7e8087ff";
  --text-placeholder: "#a1a1a3ff";
  --title_bar-background: "#fafafaff";
  --toolbar-background: "#fafafaff";
  --unreachable: "#7e8087ff";
  --unreachable-background: "#dcdcddff";
  --unreachable-border: "#c9c9caff";
  --warning: "#dec184ff";
  --warning-background: "#faf2e6ff";
  --warning-border: "#f4e7d1ff";
  --player-1-background: "#5c78e2ff";
  --player-1-cursor: "#5c78e2ff";
  --player-1-selection: "#5c78e23d";
  --player-2-background: "#984ea5ff";
  --player-2-cursor: "#984ea5ff";
  --player-2-selection: "#984ea53d";
  --player-3-background: "#ad6e26ff";
  --player-3-cursor: "#ad6e26ff";
  --player-3-selection: "#ad6e263d";
  --player-4-background: "#a349abff";
  --player-4-cursor: "#a349abff";
  --player-4-selection: "#a349ab3d";
  --player-5-background: "#3a82b7ff";
  --player-5-cursor: "#3a82b7ff";
  --player-5-selection: "#3a82b73d";
  --player-6-background: "#d36151ff";
  --player-6-cursor: "#d36151ff";
  --player-6-selection: "#d361513d";
  --player-7-background: "#dec184ff";
  --player-7-cursor: "#dec184ff";
  --player-7-selection: "#dec1843d";
  --player-8-background: "#669f59ff";
  --player-8-cursor: "#669f59ff";
  --player-8-selection: "#669f593d";
  --syntax-attribute-color: "#383a41ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#383a41ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#a2a3a7ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#a2a3a7ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#383a41ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff805cff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#ff805cff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#ff805cff";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ff805cff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#ff805cff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#5c9369ff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#9294beff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#747987ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#5c78e2ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#5c9369ff";
  --syntax-link_text-font_style: "italic";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#747987ff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#383a41ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#747987ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#9b9ec6ff";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#ff805cff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#ff805cff";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#383a41ff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#747987ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#747987ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#747987ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#ff805cff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#ff805cff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#747987ff";
  --syntax-string-font_style: "italic";
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ff805cff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ff805cff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#9124dbff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#ff805cff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#5c9369ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#5c9369ff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#ff805cff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 400;
  --syntax-type-color: "#ff805cff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#383a41ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#383a41ff";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#5b79e3ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
