:root {
  --background: "#1F1F1F";
  --border: "#303030";
  --border-disabled: "#181818";
  --border-focused: "#303030";
  --border-selected: "#303030";
  --border-transparent: "#00000000";
  --border-variant: "#303030";
  --conflict: "#FF9C00";
  --conflict-background: "#FF9C001a";
  --conflict-border: "#FF9C003d";
  --created: "#378B1D";
  --created-background: "#378B1D1a";
  --created-border: "#378B1D3d";
  --deleted: "#c24038";
  --deleted-background: "#c240381a";
  --deleted-border: "#c240383d";
  --drop_target-background: "#303030";
  --editor-active_line-background: "#303030";
  --editor-active_line_number: "#FFD900";
  --editor-active_wrap_guide: "#303030";
  --editor-background: "#1F1F1F";
  --editor-document_highlight-read_background: "#404040";
  --editor-document_highlight-write_background: "#404040";
  --editor-foreground: "#FFFFFF";
  --editor-gutter-background: "#1F1F1F";
  --editor-highlighted_line-background: "#303030";
  --editor-invisible: "#6B6B6B";
  --editor-line_number: "#6B6B6B";
  --editor-subheader-background: "#1F1F1F";
  --editor-wrap_guide: "#303030";
  --element-active: "#303030";
  --element-background: "#181818";
  --element-disabled: "#181818";
  --element-hover: "#303030";
  --element-selected: "#303030";
  --elevated_surface-background: "#181818";
  --error: "#c24038";
  --error-background: "#c240381a";
  --error-border: "#c240383d";
  --ghost_element-active: "#303030";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#181818";
  --ghost_element-hover: "#303030";
  --ghost_element-selected: "#303030";
  --hidden: "#606060";
  --hidden-background: "#6060601a";
  --hidden-border: "#6060603d";
  --hint: "#606060";
  --hint-background: "#6060601a";
  --hint-border: "#6060603d";
  --icon: "#FFFFFF";
  --icon-accent: "#6B6B6B";
  --icon-disabled: "#6B6B6B";
  --icon-muted: "#6B6B6B";
  --icon-placeholder: "#6B6B6B";
  --ignored: "#606060";
  --ignored-background: "#6060601a";
  --ignored-border: "#6060603d";
  --info: "#008DFF";
  --info-background: "#008DFF1a";
  --info-border: "#008DFF3d";
  --link_text-hover: "#404040";
  --modified: "#008DFF";
  --modified-background: "#008DFF1a";
  --modified-border: "#008DFF3d";
  --pane-focused_border: null;
  --panel-background: "#181818";
  --panel-focused_border: null;
  --predictive: "#606060";
  --predictive-background: "#6060601a";
  --predictive-border: "#6060603d";
  --renamed: "#008DFF";
  --renamed-background: "#008DFF1a";
  --renamed-border: "#008DFF3d";
  --scrollbar-thumb-background: "#303030A0";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#303030F0";
  --scrollbar-track-background: "#00000000";
  --scrollbar-track-border: "#00000000";
  --search-match_background: "#303030";
  --status_bar-background: "#181818";
  --success: "#378B1D";
  --success-background: "#378B1D1a";
  --success-border: "#378B1D3d";
  --surface-background: "#181818";
  --tab-active_background: "#181818";
  --tab-inactive_background: "#1F1F1F";
  --tab_bar-background: "#181818";
  --terminal-ansi-black: "#243342";
  --terminal-ansi-blue: "#2479d0";
  --terminal-ansi-bright_black: "#34495e";
  --terminal-ansi-bright_blue: "#3498db";
  --terminal-ansi-bright_cyan: "#2aa198";
  --terminal-ansi-bright_green: "#2ecc71";
  --terminal-ansi-bright_magenta: "#9b59b6";
  --terminal-ansi-bright_red: "#e74c3c";
  --terminal-ansi-bright_white: "#ecf0f1";
  --terminal-ansi-bright_yellow: "#f1c40f";
  --terminal-ansi-cyan: "#1d8579";
  --terminal-ansi-dim_black: "";
  --terminal-ansi-dim_blue: "";
  --terminal-ansi-dim_cyan: "";
  --terminal-ansi-dim_green: "";
  --terminal-ansi-dim_magenta: "";
  --terminal-ansi-dim_red: "";
  --terminal-ansi-dim_white: "";
  --terminal-ansi-dim_yellow: "";
  --terminal-ansi-green: "#27ae60";
  --terminal-ansi-magenta: "#7d3ea0";
  --terminal-ansi-red: "#c54133";
  --terminal-ansi-white: "#c9cccd";
  --terminal-ansi-yellow: "#edb20a";
  --terminal-background: "#1F1F1F";
  --terminal-bright_foreground: "#FFFFFF";
  --terminal-dim_foreground: "#4E4E4E";
  --terminal-foreground: "#FFFFFF";
  --text: "#FFFFFF";
  --text-accent: "#6B6B6B";
  --text-disabled: "#6B6B6B";
  --text-muted: "#6B6B6B";
  --text-placeholder: "#6B6B6B";
  --title_bar-background: "#181818";
  --title_bar-inactive_background: "#181818";
  --toolbar-background: "#181818";
  --unreachable: "#606060";
  --unreachable-background: "#6060601a";
  --unreachable-border: "#6060603d";
  --warning: "#FF9C00";
  --warning-background: "#FF9C001a";
  --warning-border: "#FF9C003d";
  --player-1-background: "#FFD900";
  --player-1-cursor: "#FFD900";
  --player-1-selection: "#404040";
  --player-2-background: "#378B1D";
  --player-2-cursor: "#378B1D";
  --player-2-selection: "#378B1D3d";
  --player-3-background: "#994C92";
  --player-3-cursor: "#994C92";
  --player-3-selection: "#994C923d";
  --player-4-background: "#008DFF";
  --player-4-cursor: "#008DFF";
  --player-4-selection: "#008DFF3d";
  --player-5-background: "#FF9C00";
  --player-5-cursor: "#FF9C00";
  --player-5-selection: "#FF9C003d";
  --player-6-background: "#c24038";
  --player-6-cursor: "#c24038";
  --player-6-selection: "#c240383d";
  --player-7-background: "#FF009F";
  --player-7-cursor: "#FF009F";
  --player-7-selection: "#FF009F3d";
  --player-8-background: "#0006ab";
  --player-8-cursor: "#0006ab";
  --player-8-selection: "#0006ab3d";
  --syntax-attribute-color: "#FFFFFF";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#FF80F4";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6B6B6B";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#6B6B6B";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#FF80F4";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#6B6B6B";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#FFFFFF";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#9B9B9B";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#9B9B9B";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#FFFFFF";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#9B9B9B";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#606060";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#FFD900";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: 700;
  --syntax-label-color: "#FFFFFF";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#378B1D";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#9B9B9B";
  --syntax-link_uri-font_style: "italic";
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#FFD900";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#FFD900";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#FFFFFF";
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#FFFFFF";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#FFFFFF";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#FFFFFF";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#FFFFFF";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#FFFFFF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#FFFFFF";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#FFD900";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#FFFFFF";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#378B1D";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#FF80F4";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#FF80F4";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#FFFFFF";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#FFFFFF";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#FFD900";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#9B9B9B";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: 700;
  --syntax-title-color: "#FFD900";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 700;
  --syntax-type-color: "#FFD900";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: 700;
  --syntax-variable-color: "#FFFFFF";
  --syntax-variable-font_style: "italic";
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#FFFFFF";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#FFFFFF";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
