:root {
  --background: "#1F1F1F";
  --border: "#303030";
  --border_disabled: "#181818";
  --border_focused: "#303030";
  --border_selected: "#303030";
  --border_transparent: "#00000000";
  --border_variant: "#303030";
  --conflict: "#FF9C00";
  --conflict_background: "#FF9C001a";
  --conflict_border: "#FF9C003d";
  --created: "#378B1D";
  --created_background: "#378B1D1a";
  --created_border: "#378B1D3d";
  --deleted: "#c24038";
  --deleted_background: "#c240381a";
  --deleted_border: "#c240383d";
  --drop_target_background: "#303030";
  --editor_active_line_background: "#303030";
  --editor_active_line_number: "#FFD900";
  --editor_active_wrap_guide: "#303030";
  --editor_background: "#1F1F1F";
  --editor_document_highlight_read_background: "#404040";
  --editor_document_highlight_write_background: "#404040";
  --editor_foreground: "#FFFFFF";
  --editor_gutter_background: "#1F1F1F";
  --editor_highlighted_line_background: "#303030";
  --editor_invisible: "#6B6B6B";
  --editor_line_number: "#6B6B6B";
  --editor_subheader_background: "#1F1F1F";
  --editor_wrap_guide: "#303030";
  --element_active: "#303030";
  --element_background: "#181818";
  --element_disabled: "#181818";
  --element_hover: "#303030";
  --element_selected: "#303030";
  --elevated_surface_background: "#181818";
  --error: "#c24038";
  --error_background: "#c240381a";
  --error_border: "#c240383d";
  --ghost_element_active: "#303030";
  --ghost_element_background: "#00000000";
  --ghost_element_disabled: "#181818";
  --ghost_element_hover: "#303030";
  --ghost_element_selected: "#303030";
  --hidden: "#606060";
  --hidden_background: "#6060601a";
  --hidden_border: "#6060603d";
  --hint: "#606060";
  --hint_background: "#6060601a";
  --hint_border: "#6060603d";
  --icon: "#FFFFFF";
  --icon_accent: "#6B6B6B";
  --icon_disabled: "#6B6B6B";
  --icon_muted: "#6B6B6B";
  --icon_placeholder: "#6B6B6B";
  --ignored: "#606060";
  --ignored_background: "#6060601a";
  --ignored_border: "#6060603d";
  --info: "#008DFF";
  --info_background: "#008DFF1a";
  --info_border: "#008DFF3d";
  --link_text_hover: "#404040";
  --modified: "#008DFF";
  --modified_background: "#008DFF1a";
  --modified_border: "#008DFF3d";
  --pane_focused_border: null;
  --panel_background: "#181818";
  --panel_focused_border: null;
  --predictive: "#606060";
  --predictive_background: "#6060601a";
  --predictive_border: "#6060603d";
  --renamed: "#008DFF";
  --renamed_background: "#008DFF1a";
  --renamed_border: "#008DFF3d";
  --scrollbar_thumb_background: "#303030A0";
  --scrollbar_thumb_border: "#00000000";
  --scrollbar_thumb_hover_background: "#303030F0";
  --scrollbar_track_background: "#00000000";
  --scrollbar_track_border: "#00000000";
  --search_match_background: "#303030";
  --status_bar_background: "#181818";
  --success: "#378B1D";
  --success_background: "#378B1D1a";
  --success_border: "#378B1D3d";
  --surface_background: "#181818";
  --tab_active_background: "#181818";
  --tab_inactive_background: "#1F1F1F";
  --tab_bar_background: "#181818";
  --terminal_ansi_black: "#243342";
  --terminal_ansi_blue: "#2479d0";
  --terminal_ansi_bright_black: "#34495e";
  --terminal_ansi_bright_blue: "#3498db";
  --terminal_ansi_bright_cyan: "#2aa198";
  --terminal_ansi_bright_green: "#2ecc71";
  --terminal_ansi_bright_magenta: "#9b59b6";
  --terminal_ansi_bright_red: "#e74c3c";
  --terminal_ansi_bright_white: "#ecf0f1";
  --terminal_ansi_bright_yellow: "#f1c40f";
  --terminal_ansi_cyan: "#1d8579";
  --terminal_ansi_dim_black: "";
  --terminal_ansi_dim_blue: "";
  --terminal_ansi_dim_cyan: "";
  --terminal_ansi_dim_green: "";
  --terminal_ansi_dim_magenta: "";
  --terminal_ansi_dim_red: "";
  --terminal_ansi_dim_white: "";
  --terminal_ansi_dim_yellow: "";
  --terminal_ansi_green: "#27ae60";
  --terminal_ansi_magenta: "#7d3ea0";
  --terminal_ansi_red: "#c54133";
  --terminal_ansi_white: "#c9cccd";
  --terminal_ansi_yellow: "#edb20a";
  --terminal_background: "#1F1F1F";
  --terminal_bright_foreground: "#FFFFFF";
  --terminal_dim_foreground: "#4E4E4E";
  --terminal_foreground: "#FFFFFF";
  --text: "#FFFFFF";
  --text_accent: "#6B6B6B";
  --text_disabled: "#6B6B6B";
  --text_muted: "#6B6B6B";
  --text_placeholder: "#6B6B6B";
  --title_bar_background: "#181818";
  --title_bar_inactive_background: "#181818";
  --toolbar_background: "#181818";
  --unreachable: "#606060";
  --unreachable_background: "#6060601a";
  --unreachable_border: "#6060603d";
  --warning: "#FF9C00";
  --warning_background: "#FF9C001a";
  --warning_border: "#FF9C003d";
  --player_1_background: "#FFD900";
  --player_1_cursor: "#FFD900";
  --player_1_selection: "#404040";
  --player_2_background: "#378B1D";
  --player_2_cursor: "#378B1D";
  --player_2_selection: "#378B1D3d";
  --player_3_background: "#994C92";
  --player_3_cursor: "#994C92";
  --player_3_selection: "#994C923d";
  --player_4_background: "#008DFF";
  --player_4_cursor: "#008DFF";
  --player_4_selection: "#008DFF3d";
  --player_5_background: "#FF9C00";
  --player_5_cursor: "#FF9C00";
  --player_5_selection: "#FF9C003d";
  --player_6_background: "#c24038";
  --player_6_cursor: "#c24038";
  --player_6_selection: "#c240383d";
  --player_7_background: "#FF009F";
  --player_7_cursor: "#FF009F";
  --player_7_selection: "#FF009F3d";
  --player_8_background: "#0006ab";
  --player_8_cursor: "#0006ab";
  --player_8_selection: "#0006ab3d";
  --syntax_attribute_color: "#FFFFFF";
  --syntax_attribute_font_style: null;
  --syntax_attribute_font_weight: null;
  --syntax_boolean_color: "#FF80F4";
  --syntax_boolean_font_style: null;
  --syntax_boolean_font_weight: null;
  --syntax_comment_color: "#6B6B6B";
  --syntax_comment_font_style: null;
  --syntax_comment_font_weight: null;
  --syntax_comment_doc_color: "#6B6B6B";
  --syntax_comment_doc_font_style: null;
  --syntax_comment_doc_font_weight: null;
  --syntax_constant_color: "#FF80F4";
  --syntax_constant_font_style: null;
  --syntax_constant_font_weight: null;
  --syntax_constructor_color: "#6B6B6B";
  --syntax_constructor_font_style: null;
  --syntax_constructor_font_weight: null;
  --syntax_embedded_color: "#FFFFFF";
  --syntax_embedded_font_style: null;
  --syntax_embedded_font_weight: null;
  --syntax_emphasis_color: "#9B9B9B";
  --syntax_emphasis_font_style: "italic";
  --syntax_emphasis_font_weight: null;
  --syntax_emphasis_strong_color: "#9B9B9B";
  --syntax_emphasis_strong_font_style: null;
  --syntax_emphasis_strong_font_weight: 700;
  --syntax_enum_color: "#FFFFFF";
  --syntax_enum_font_style: null;
  --syntax_enum_font_weight: null;
  --syntax_function_color: "#9B9B9B";
  --syntax_function_font_style: null;
  --syntax_function_font_weight: null;
  --syntax_hint_color: "#606060";
  --syntax_hint_font_style: null;
  --syntax_hint_font_weight: null;
  --syntax_keyword_color: "#FFD900";
  --syntax_keyword_font_style: null;
  --syntax_keyword_font_weight: 700;
  --syntax_label_color: "#FFFFFF";
  --syntax_label_font_style: null;
  --syntax_label_font_weight: null;
  --syntax_link_text_color: "#378B1D";
  --syntax_link_text_font_style: "normal";
  --syntax_link_text_font_weight: null;
  --syntax_link_uri_color: "#9B9B9B";
  --syntax_link_uri_font_style: "italic";
  --syntax_link_uri_font_weight: null;
  --syntax_number_color: "#FFD900";
  --syntax_number_font_style: null;
  --syntax_number_font_weight: null;
  --syntax_operator_color: "#FFD900";
  --syntax_operator_font_style: null;
  --syntax_operator_font_weight: null;
  --syntax_predictive_color: "#FFFFFF";
  --syntax_predictive_font_style: "italic";
  --syntax_predictive_font_weight: null;
  --syntax_preproc_color: "#FFFFFF";
  --syntax_preproc_font_style: null;
  --syntax_preproc_font_weight: null;
  --syntax_primary_color: "#FFFFFF";
  --syntax_primary_font_style: null;
  --syntax_primary_font_weight: null;
  --syntax_property_color: "#FFFFFF";
  --syntax_property_font_style: null;
  --syntax_property_font_weight: null;
  --syntax_punctuation_color: "#FFFFFF";
  --syntax_punctuation_font_style: null;
  --syntax_punctuation_font_weight: null;
  --syntax_punctuation_bracket_color: "#FFFFFF";
  --syntax_punctuation_bracket_font_style: null;
  --syntax_punctuation_bracket_font_weight: null;
  --syntax_punctuation_delimiter_color: "#FFFFFF";
  --syntax_punctuation_delimiter_font_style: null;
  --syntax_punctuation_delimiter_font_weight: null;
  --syntax_punctuation_list_marker_color: "#FFD900";
  --syntax_punctuation_list_marker_font_style: null;
  --syntax_punctuation_list_marker_font_weight: null;
  --syntax_punctuation_special_color: "#FFFFFF";
  --syntax_punctuation_special_font_style: null;
  --syntax_punctuation_special_font_weight: null;
  --syntax_string_color: "#378B1D";
  --syntax_string_font_style: null;
  --syntax_string_font_weight: null;
  --syntax_string_escape_color: "#FF80F4";
  --syntax_string_escape_font_style: null;
  --syntax_string_escape_font_weight: null;
  --syntax_string_regex_color: "#FF80F4";
  --syntax_string_regex_font_style: null;
  --syntax_string_regex_font_weight: null;
  --syntax_string_special_color: "#FFFFFF";
  --syntax_string_special_font_style: null;
  --syntax_string_special_font_weight: null;
  --syntax_string_special_symbol_color: "#FFFFFF";
  --syntax_string_special_symbol_font_style: null;
  --syntax_string_special_symbol_font_weight: null;
  --syntax_tag_color: "#FFD900";
  --syntax_tag_font_style: null;
  --syntax_tag_font_weight: null;
  --syntax_text_literal_color: "#9B9B9B";
  --syntax_text_literal_font_style: null;
  --syntax_text_literal_font_weight: 700;
  --syntax_title_color: "#FFD900";
  --syntax_title_font_style: null;
  --syntax_title_font_weight: 700;
  --syntax_type_color: "#FFD900";
  --syntax_type_font_style: null;
  --syntax_type_font_weight: 700;
  --syntax_variable_color: "#FFFFFF";
  --syntax_variable_font_style: "italic";
  --syntax_variable_font_weight: null;
  --syntax_variable_special_color: "#FFFFFF";
  --syntax_variable_special_font_style: "italic";
  --syntax_variable_special_font_weight: null;
  --syntax_variant_color: "#FFFFFF";
  --syntax_variant_font_style: null;
  --syntax_variant_font_weight: null;
}
