:root {
  --background: "#000000";
  --border: "#FFD70040";
  --border-disabled: "#FFD70040";
  --border-focused: "#FFD700";
  --border-selected: "#FFD700";
  --border-transparent: "#FFD70000";
  --border-variant: "#FFD70080";
  --conflict: "#FFD700";
  --conflict-background: "#FFD70040";
  --conflict-border: "#FFD700";
  --created: "#FFD700";
  --created-background: "#FFD70040";
  --created-border: "#FFD700C0";
  --deleted: "#FFD700";
  --deleted-background: "#FFD70040";
  --deleted-border: "#FFD700C0";
  --drop_target-background: "#FFD70000";
  --editor-active_line-background: "#FFD70030";
  --editor-active_line_number: "#FFD700";
  --editor-active_wrap_guide: "#FFD70030";
  --editor-background: "#000000";
  --editor-document_highlight-read_background: "#FFD70030";
  --editor-document_highlight-write_background: "#FFD70030";
  --editor-foreground: "#FFD700";
  --editor-gutter-background: "#FFD70000";
  --editor-highlighted_line-background: "#FFD70030";
  --editor-invisible: "#FFD70030";
  --editor-line_number: "#FFD70040";
  --editor-subheader-background: "#FFD700";
  --editor-wrap_guide: "#FFD700";
  --element-active: "#FFD700C0";
  --element-background: "#FFD70040";
  --element-disabled: "#FFD70000";
  --element-hover: "#FFD70040";
  --element-selected: "#FFD70080";
  --elevated_surface-background: "#000000";
  --error: "#FFD700";
  --error-background: "#000000";
  --error-border: "#FFD700";
  --ghost_element-active: "#FFD70080";
  --ghost_element-background: "#FFD70000";
  --ghost_element-disabled: "#00000030";
  --ghost_element-hover: "#FFD70040";
  --ghost_element-selected: "#00000030";
  --hidden: "#FFD700";
  --hidden-background: "#00000030";
  --hidden-border: "#FFD70080";
  --hint: "#FFD700";
  --hint-background: "#00000030";
  --hint-border: "#FFD700";
  --icon: "#FFD700";
  --icon-accent: "#FFD700";
  --icon-disabled: "#00000030";
  --icon-muted: "#FFD700";
  --icon-placeholder: "#FFD700";
  --ignored: "#FFD70040";
  --ignored-background: "#FFD70030";
  --ignored-border: "#FFD70080";
  --info: "#FFD70080";
  --info-background: "#FFD70030";
  --info-border: "#FFD700";
  --link_text-hover: "#FFD700";
  --modified: "#FFD700";
  --modified-background: "#FFD70030";
  --modified-border: "#FFD700C0";
  --pane-focused_border: "#FFD70080";
  --panel-background: "#FFD70030";
  --panel-focused_border: "#FFD70080";
  --predictive: "#FFD700";
  --predictive-background: "#FFD70030";
  --predictive-border: "#FFD70080";
  --renamed: "#FFD700";
  --renamed-background: "#FFD70030";
  --renamed-border: "#FFD70080";
  --scrollbar-thumb-border: "#FFD70080";
  --scrollbar-thumb-hover_background: "#FFD700";
  --scrollbar-track-background: "#FFD70010";
  --scrollbar-track-border: "#FFD70010";
  --scrollbar_thumb-background: "#FFD700C0";
  --search-match_background: "#FFD70080";
  --status_bar-background: "#FFD70030";
  --status_bar-foreground: "#FFD700";
  --success: "#FFD700";
  --success-background: "#FFD70030";
  --success-border: "#FFD700";
  --surface-background: "#FFD70030";
  --tab-active_background: "#000000";
  --tab-active_foreground: "#FFD700";
  --tab-inactive_background: "#00000030";
  --tab_bar-background: "#FFD70030";
  --terminal-ansi-Amber: "#FFD700C0";
  --terminal-ansi-black: "#FFD700C0";
  --terminal-ansi-blue: "#FFD700C0";
  --terminal-ansi-bright_black: "#FFD700";
  --terminal-ansi-bright_blue: "#FFD700";
  --terminal-ansi-bright_cyan: "#FFD700";
  --terminal-ansi-bright_green: "#FFD700";
  --terminal-ansi-bright_magenta: "#FFD700";
  --terminal-ansi-bright_red: "#FFD700";
  --terminal-ansi-bright_white: "#FFD700";
  --terminal-ansi-bright_yellow: "#FFD700";
  --terminal-ansi-cyan: "#FFD700C0";
  --terminal-ansi-dim_black: "#FFD70040";
  --terminal-ansi-dim_blue: "#FFD70040";
  --terminal-ansi-dim_cyan: "#FFD70040";
  --terminal-ansi-dim_green: "#FFD70040";
  --terminal-ansi-dim_magenta: "#FFD70040";
  --terminal-ansi-dim_red: "#FFD70040";
  --terminal-ansi-dim_white: "#FFD70040";
  --terminal-ansi-dim_yellow: "#FFD70040";
  --terminal-ansi-magenta: "#FFD700C0";
  --terminal-ansi-red: "#FFD700C0";
  --terminal-ansi-white: "#FFD700C0";
  --terminal-ansi-yellow: "#FFD700C0";
  --terminal-background: "#000000";
  --terminal-bright_foreground: "#FFD700";
  --terminal-dim_foreground: "#FFD70040";
  --terminal-foreground: "#FFD700";
  --text: "#FFD70090";
  --text-accent: "#FFD700";
  --text-disabled: "#FFD70040";
  --text-muted: "#FFD700";
  --text-placeholder: "#FFD700";
  --title_bar-background: "#FFD70030";
  --title_bar-foreground: "#FFD700";
  --toolbar-background: "#FFD70000";
  --unreachable: "#FFD700";
  --unreachable-background: "#FFD70030";
  --unreachable-border: "#FFD700C0";
  --warning: "#FFD700";
  --warning-background: "#FFD70030";
  --warning-border: "#FFD700";
  --player-1-background: "#FFD700C0";
  --player-1-cursor: "#FFD700";
  --player-1-selection: "#FFD70030";
  --player-2-background: "#FFD700C0";
  --player-2-cursor: "#FFD700";
  --player-2-selection: "#FFD70030";
  --player-3-background: "#FFD700C0";
  --player-3-cursor: "#FFD700";
  --player-3-selection: "#FFD70030";
  --player-4-background: "#FFD700C0";
  --player-4-cursor: "#FFD700";
  --player-4-selection: "#FFD70030";
  --player-5-background: "#FFD700C0";
  --player-5-cursor: "#FFD700";
  --player-5-selection: "#FFD70030";
  --player-6-background: "#FFD700C0";
  --player-6-cursor: "#FFD700";
  --player-6-selection: "#FFD70030";
  --player-7-background: "#FFD700C0";
  --player-7-cursor: "#FFD700";
  --player-7-selection: "#FFD70030";
  --syntax-attribute-color: "#FFD700";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: 900;
  --syntax-boolean-color: "#FFD700";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: 900;
  --syntax-comment-color: "#00000080";
  --syntax-comment-font_style: "normal";
  --syntax-comment-font_weight: 500;
  --syntax-comment-doc-color: "#00000080";
  --syntax-comment-doc-font_style: "normal";
  --syntax-comment-doc-font_weight: 500;
  --syntax-constant-color: "#FFEE1A";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: 900;
  --syntax-constructor-color: "#FFEE1A";
  --syntax-constructor-font_style: "normal";
  --syntax-constructor-font_weight: 900;
  --syntax-embedded-color: "#FFEE1A";
  --syntax-embedded-font_style: "normal";
  --syntax-embedded-font_weight: 900;
  --syntax-emphasis-color: "#FFEE1A";
  --syntax-emphasis-font_style: "normal";
  --syntax-emphasis-font_weight: 900;
  --syntax-emphasis-strong-color: "#FFEE1A";
  --syntax-emphasis-strong-font_style: "normal";
  --syntax-emphasis-strong-font_weight: 900;
  --syntax-enum-color: "#FFEE1A";
  --syntax-enum-font_style: "normal";
  --syntax-enum-font_weight: 900;
  --syntax-function-color: "#FFEE1A";
  --syntax-function-font_style: "normal";
  --syntax-function-font_weight: 900;
  --syntax-hint-color: "#FFD700";
  --syntax-hint-font_style: "normal";
  --syntax-hint-font_weight: 900;
  --syntax-keyword-color: "#FFD700";
  --syntax-keyword-font_style: "normal";
  --syntax-keyword-font_weight: 900;
  --syntax-label-color: "#FFD700";
  --syntax-label-font_style: "normal";
  --syntax-label-font_weight: 900;
  --syntax-link_text-color: "#FFD700";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: 900;
  --syntax-link_uri-color: "#FFD700";
  --syntax-link_uri-font_style: "normal";
  --syntax-link_uri-font_weight: 900;
  --syntax-number-color: "#FFEE1AC0";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: 900;
  --syntax-operator-color: "#FFEE1A";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: 900;
  --syntax-predictive-color: "#FFEE1A";
  --syntax-predictive-font_style: "normal";
  --syntax-predictive-font_weight: 900;
  --syntax-preproc-color: "#FFEE1A";
  --syntax-preproc-font_style: "normal";
  --syntax-preproc-font_weight: 900;
  --syntax-primary-color: "#FFEE1A";
  --syntax-primary-font_style: "normal";
  --syntax-primary-font_weight: 900;
  --syntax-property-color: "#FFEE1A";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: 900;
  --syntax-punctuation-color: "#FFEE1A";
  --syntax-punctuation-font_style: "normal";
  --syntax-punctuation-font_weight: 900;
  --syntax-punctuation-bracket-color: "#FFD700";
  --syntax-punctuation-bracket-font_style: "normal";
  --syntax-punctuation-bracket-font_weight: 900;
  --syntax-punctuation-delimiter-color: "#FFEE1A";
  --syntax-punctuation-delimiter-font_style: "normal";
  --syntax-punctuation-delimiter-font_weight: 900;
  --syntax-punctuation-list_marker-color: "#FFEE1A";
  --syntax-punctuation-list_marker-font_style: "normal";
  --syntax-punctuation-list_marker-font_weight: 900;
  --syntax-punctuation-special-color: "#FFEE1A";
  --syntax-punctuation-special-font_style: "normal";
  --syntax-punctuation-special-font_weight: 900;
  --syntax-string-color: "#FFD700";
  --syntax-string-font_style: "normal";
  --syntax-string-font_weight: 900;
  --syntax-string-escape-color: "#FFD700";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: 900;
  --syntax-string-regex-color: "#FFD700";
  --syntax-string-regex-font_style: "normal";
  --syntax-string-regex-font_weight: 900;
  --syntax-string-special-color: "#FFD700";
  --syntax-string-special-font_style: "normal";
  --syntax-string-special-font_weight: 900;
  --syntax-string-special-symbol-color: "#FFD700";
  --syntax-string-special-symbol-font_style: "normal";
  --syntax-string-special-symbol-font_weight: 900;
  --syntax-tag-color: "#FFEE1A";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: 900;
  --syntax-text-literal-color: "#FFEE1A";
  --syntax-text-literal-font_style: "normal";
  --syntax-text-literal-font_weight: 900;
  --syntax-title-color: "#FFEE1A";
  --syntax-title-font_style: "normal";
  --syntax-title-font_weight: 900;
  --syntax-type-color: "#FFEE1A";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: 900;
  --syntax-type-super-color: "#FFEE1A";
  --syntax-type-super-font_style: "normal";
  --syntax-type-super-font_weight: 900;
  --syntax-variable-color: "#FFEE1AC0";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: 900;
  --syntax-variable-parameter-color: "#FFEE1AC0";
  --syntax-variable-parameter-font_style: "normal";
  --syntax-variable-parameter-font_weight: 900;
  --syntax-variable-special-color: "#FFEE1AC0";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: 900;
  --syntax-variant-color: "#FFEE1AC0";
  --syntax-variant-font_style: "normal";
  --syntax-variant-font_weight: 900;
}
