:root {
  --background: "#0F1921";
  --border: "#1E3140";
  --border-disabled: "#131F28";
  --border-focused: "#0F1921";
  --border-selected: "#0F1921";
  --border-transparent: "#00000000";
  --border-variant: "#131F28";
  --conflict: "#B06E31";
  --conflict-background: "#5E3B1A";
  --conflict-border: "#B06E3166";
  --created: "#64966F";
  --created-background: "#203024";
  --created-border: "#64966F66";
  --deleted: "#B95460";
  --deleted-background: "#54262C";
  --deleted-border: "#B9546066";
  --drop_target-background: "#243C4E";
  --editor-active_line-background: "#1E3140";
  --editor-active_line_number: "#477498";
  --editor-active_wrap_guide: "#1E3140";
  --editor-background: "#14222C";
  --editor-document_highlight-read_background: "#74AF8120";
  --editor-document_highlight-write_background: "#B0641F20";
  --editor-foreground: "#92BCD4";
  --editor-gutter-background: "#14222C";
  --editor-highlighted_line-background: "#0F1921";
  --editor-invisible: "#384852";
  --editor-line_number: "#384852";
  --editor-subheader-background: "#0F1921";
  --editor-wrap_guide: "#1B2D3A";
  --element-active: "#09446C";
  --element-background: "#1E3140";
  --element-disabled: "#1B2D3A";
  --element-hover: "#2C485E";
  --element-selected: "#09446C";
  --elevated_surface-background: "#1E3140";
  --error: "#BA1C2F";
  --error-background: "#312E3E";
  --error-border: "#BA1C2F08";
  --ghost_element-active: "#131F28";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#1E3140";
  --ghost_element-hover: "#131F28";
  --ghost_element-selected: "#172530";
  --hidden: "#6E8D9F";
  --hidden-background: "#283C4B";
  --hidden-border: "#6E8D9F08";
  --hint: "#358C91";
  --hint-background: "#213C4A";
  --hint-border: "#358C9108";
  --icon: "#ffffffD0";
  --icon-accent: "#C8A431";
  --icon-disabled: "#6E8D9F";
  --icon-muted: "#6E8D9F";
  --icon-placeholder: "#445763";
  --ignored: "#445763";
  --ignored-background: "#212B30";
  --ignored-border: "#44576380";
  --info: "#118BDB";
  --info-background: "#1C3C53";
  --info-border: "#118BDB08";
  --link_text-hover: "#48D7FF";
  --modified: "#856D50";
  --modified-background: "#292219";
  --modified-border: "#856D5066";
  --pane-focused_border: null;
  --panel-background: "#0F1921";
  --panel-focused_border: null;
  --predictive: "#358C91";
  --predictive-background: "#213C4A";
  --predictive-border: "#358C9108";
  --renamed: "#118BDB";
  --renamed-background: "#1C3C53";
  --renamed-border: "#118BDB08";
  --scrollbar-thumb-border: "#2C485E50";
  --scrollbar-thumb-hover_background: "#2C485EA0";
  --scrollbar-track-background: "#14222C00";
  --scrollbar-track-border: "#14222C00";
  --scrollbar_thumb-background: "#2C485E50";
  --search-match_background: "#07395A";
  --status_bar-background: "#0F1921";
  --success: "#36964B";
  --success-background: "#213D41";
  --success-border: "#36964B08";
  --surface-background: "#1E3140";
  --tab-active_background: "#14222C";
  --tab-inactive_background: "#0F1921";
  --tab_bar-background: "#0F1921";
  --terminal-ansi-black: "#0F1921";
  --terminal-ansi-blue: "#1994BD";
  --terminal-ansi-bright_black: "#14222C";
  --terminal-ansi-bright_blue: "#1CA8D6";
  --terminal-ansi-bright_cyan: "#48BDC4";
  --terminal-ansi-bright_green: "#86C994";
  --terminal-ansi-bright_magenta: "#D663D9";
  --terminal-ansi-bright_red: "#D4606E";
  --terminal-ansi-bright_white: "#A4D2ED";
  --terminal-ansi-bright_yellow: "#C2B3A1";
  --terminal-ansi-cyan: "#3EA3AA";
  --terminal-ansi-dim_black: "#0E1214";
  --terminal-ansi-dim_blue: "#1680A3";
  --terminal-ansi-dim_cyan: "#358C91";
  --terminal-ansi-dim_green: "#64966F";
  --terminal-ansi-dim_magenta: "#A44CA6";
  --terminal-ansi-dim_red: "#A14953";
  --terminal-ansi-dim_white: "#81A5BA";
  --terminal-ansi-dim_yellow: "#8F8476";
  --terminal-ansi-green: "#74AF81";
  --terminal-ansi-magenta: "#BC57BE";
  --terminal-ansi-red: "#B95460";
  --terminal-ansi-white: "#92BCD4";
  --terminal-ansi-yellow: "#A99C8C";
  --terminal-background: "#0F1921";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: null;
  --text: "#ffffffD0";
  --text-accent: "#C8A431";
  --text-disabled: "#445763";
  --text-muted: "#6E8D9F";
  --text-placeholder: "#6E8D9F";
  --title_bar-background: "#0F1921";
  --toolbar-background: "#1E3140";
  --unreachable: "#6E8D9F";
  --unreachable-background: "#283C4B";
  --unreachable-border: "#6E8D9F08";
  --warning: "#B04D1F";
  --warning-background: "#30343C";
  --warning-border: "#B04D1F08";
  --player-1-background: "#1994BDff";
  --player-1-cursor: "#1994BDff";
  --player-1-selection: "#1994BD3d";
  --player-2-background: "#BA6415ff";
  --player-2-cursor: "#BA6415ff";
  --player-2-selection: "#BA64153d";
  --player-3-background: "#767209ff";
  --player-3-cursor: "#767209ff";
  --player-3-selection: "#7672093d";
  --player-4-background: "#BA28BDCff";
  --player-4-cursor: "#BA28BDff";
  --player-4-selection: "#BA28BD3d";
  --player-5-background: "#B8986Fff";
  --player-5-cursor: "#B8986Fff";
  --player-5-selection: "#B8986F3d";
  --player-6-background: "#22BF99ff";
  --player-6-cursor: "#22BF99ff";
  --player-6-selection: "#22BF993d";
  --player-7-background: "#7465EDff";
  --player-7-cursor: "#7465EDff";
  --player-7-selection: "#7465ED3d";
  --player-8-background: "#A03B47ff";
  --player-8-cursor: "#A03B47ff";
  --player-8-selection: "#A03B473d";
  --syntax-attribute-color: "#B0641F";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#BC57BE";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#536A77";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#536A77";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#8E880B";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#B0641F";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#92BCD4";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#A99C8C";
  --syntax-emphasis-font_style: null;
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#A99C8C";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: null;
  --syntax-enum-color: "#8E880B";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#1994BD";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#6E8D9F";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: null;
  --syntax-keyword-color: "#B0641F";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#1293E8";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#1293E8";
  --syntax-link_text-font_style: null;
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#48D7FF";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#8276DC";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#A3C7AB";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: "#477498";
  --syntax-predictive-font_style: null;
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#92BCD4";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: "#92BCD4";
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#3EA3AA";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#799BAF";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#799BAF";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#799BAF";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#799BAF";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#92BCD4";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#74af81";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#799BAF";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#A3C7AB";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#A3C7AB";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#A3C7AB";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#8E880B";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#A3C7AB";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#B0641F";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: null;
  --syntax-type-color: "#B95460";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-variable-color: "#A99C8C";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-special-color: "#A99C8C";
  --syntax-variable-special-font_style: null;
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#B0641F";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
