:root {
  --background: "#ffffffff";
  --border: "#d8d8d8ff";
  --border-variant: "#d8d8d8ff";
  --conflict: "#e1971bff";
  --conflict-background: "#fff6e3ff";
  --conflict-border: "#f8e5c6ff";
  --created: "#07805fff";
  --created-background: "#e3f5f0ff";
  --created-border: "#c1dfd7ff";
  --deleted: "#ea4b67ff";
  --deleted-background: "#ffe9edff";
  --deleted-border: "#fad2d9ff";
  --drop_target-background: "#a0a0a0ff";
  --editor-active_line-background: "#0273eb1a";
  --editor-active_line_number: "#383838ff";
  --editor-background: "#ffffffff";
  --editor-document_highlight-read_background: "#d8d8d8ff";
  --editor-foreground: "#181818ff";
  --editor-gutter-background: "#ffffffff";
  --editor-invisible: "#898989ff";
  --editor-line_number: "#a0a0a0ff";
  --editor-subheader-background: "#ffffffff";
  --element-active: "#eaeaeaff";
  --element-background: "#ffffffff";
  --element-disabled: "#ffffffff";
  --element-hover: "#f2f2f2ff";
  --element-selected: "#ffffffff";
  --elevated_surface-background: "#ffffffff";
  --error: "#ea4b67ff";
  --error-background: "#ffe9edff";
  --error-border: "#fad2d9ff";
  --ghost_element-active: "#e2e2e2ff";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#00000000";
  --ghost_element-hover: "#f2f2f2ff";
  --ghost_element-selected: "#e2e2e2ff";
  --hint: "#767676ff";
  --hint-background: "#f1f1f1ff";
  --hint-border: "#ddddddff";
  --info: "#bfd9f8ff";
  --info-background: "#f7fbffff";
  --info-border: "#eff6fdff";
  --modified: "#e1971bff";
  --modified-background: "#fff6e3ff";
  --modified-border: "#f8e5c6ff";
  --panel-background: "#ffffffff";
  --predictive: "#767676ff";
  --predictive-background: "#f1f1f1ff";
  --predictive-border: "#ddddddff";
  --renamed: "#616605ff";
  --renamed-background: "#f1f2e4ff";
  --renamed-border: "#d8d9c1ff";
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#00000033";
  --scrollbar-track-background: "#ffffff0";
  --scrollbar-track-border: "#00000000";
  --scrollbar_thumb-background: "#00000033";
  --search-match_background: "#f8ab17ff";
  --status_bar-background: "#ffffffff";
  --success: "#028764ff";
  --success-background: "#e2f6f1ff";
  --success-border: "#c0e1d8ff";
  --surface-background: "#ffffffff";
  --tab-active_background: "#ffffffff";
  --tab-inactive_background: "#f2f2f2ff";
  --tab_bar-background: "#f2f2f2ff";
  --terminal-ansi-black: "#000000ff";
  --terminal-ansi-blue: "#2686ffff";
  --terminal-ansi-bright_black: "#b7b7b7ff";
  --terminal-ansi-bright_blue: "#0073ffff";
  --terminal-ansi-bright_cyan: "#24e0ffff";
  --terminal-ansi-bright_green: "#33f253ff";
  --terminal-ansi-bright_magenta: "#cc26ffff";
  --terminal-ansi-bright_red: "#fca4a7ff";
  --terminal-ansi-bright_white: "#ffffffff";
  --terminal-ansi-bright_yellow: "#ffd83bff";
  --terminal-ansi-cyan: "#20b3b3ff";
  --terminal-ansi-dim_black: "#000000ff";
  --terminal-ansi-dim_blue: "#508ed9ff";
  --terminal-ansi-dim_cyan: "#84fafaff";
  --terminal-ansi-dim_green: "#7bba85ff";
  --terminal-ansi-dim_magenta: "#db75faff";
  --terminal-ansi-dim_red: "#ce0505ff";
  --terminal-ansi-dim_white: "#e5e5e5ff";
  --terminal-ansi-dim_yellow: "#fae387ff";
  --terminal-ansi-green: "#4dbb5fff";
  --terminal-ansi-magenta: "#cc37faff";
  --terminal-ansi-red: "#ef341eff";
  --terminal-ansi-white: "#e5e5e5ff";
  --terminal-ansi-yellow: "#b0993cff";
  --terminal-background: "#ffffffff";
  --terminal-bright_foreground: null;
  --terminal-dim_foreground: null;
  --terminal-foreground: "#181818ff";
  --text: "#181818ff";
  --text-accent: "#3691f9ff";
  --text-disabled: "#a0a0a0ff";
  --text-muted: "#18181899";
  --text-placeholder: "#a0a0a0ff";
  --title_bar-background: "#ffffffff";
  --toolbar-background: "#ffffffff";
  --warning: "#e1971bff";
  --warning-background: "#fff6e3ff";
  --warning-border: "#f8e5c6ff";
  --player-1-cursor: "#181818ff";
  --player-1-selection: "#a3d1ff";
  --syntax-attribute-color: "#5511bfff";
  --syntax-attribute-font_style: "normal";
  --syntax-attribute-font_weight: 400;
  --syntax-boolean-color: "#14646eff";
  --syntax-boolean-font_style: "normal";
  --syntax-boolean-font_weight: 400;
  --syntax-comment-color: "#767676ff";
  --syntax-comment-font_style: "normal";
  --syntax-comment-font_weight: 400;
  --syntax-comment-doc-color: "#767676ff";
  --syntax-comment-doc-font_style: "normal";
  --syntax-comment-doc-font_weight: 400;
  --syntax-constant-color: "#a31d8dff";
  --syntax-constant-font_style: "normal";
  --syntax-constant-font_weight: 400;
  --syntax-enum-color: "#1749bdff";
  --syntax-enum-font_style: "normal";
  --syntax-enum-font_weight: 400;
  --syntax-function-color: "#5511bfff";
  --syntax-function-font_style: "normal";
  --syntax-function-font_weight: 400;
  --syntax-function-definition-color: "#181818ff";
  --syntax-function-definition-font_style: "normal";
  --syntax-function-definition-font_weight: 600;
  --syntax-function-special-color: "#616605ff";
  --syntax-function-special-font_style: "normal";
  --syntax-function-special-font_weight: 400;
  --syntax-function-special-definition-color: "#181818ff";
  --syntax-keyword-color: "#14646eff";
  --syntax-keyword-font_style: "normal";
  --syntax-keyword-font_weight: 400;
  --syntax-link-text-color: null;
  --syntax-link-text-font_style: "normal";
  --syntax-link-text-font_weight: 400;
  --syntax-link-uri-color: "#1749bdff";
  --syntax-link-uri-font_style: "normal";
  --syntax-link-uri-font_weight: 400;
  --syntax-number-color: "#a31d8dff";
  --syntax-number-font_style: "normal";
  --syntax-number-font_weight: 400;
  --syntax-operator-color: "#181818ff";
  --syntax-operator-font_style: "normal";
  --syntax-operator-font_weight: 400;
  --syntax-property-color: "#a31d8dff";
  --syntax-property-font_style: "normal";
  --syntax-property-font_weight: 400;
  --syntax-property-json_key-color: "#14646eff";
  --syntax-property-json_key-font_style: "normal";
  --syntax-property-json_key-font_weight: 400;
  --syntax-punctuation-bracket-color: "#181818ff";
  --syntax-punctuation-bracket-font_style: "normal";
  --syntax-punctuation-bracket-font_weight: 400;
  --syntax-string-color: "#086e14ff";
  --syntax-string-font_style: "normal";
  --syntax-string-font_weight: 400;
  --syntax-string-escape-color: "#a31d8dff";
  --syntax-string-escape-font_style: "normal";
  --syntax-string-escape-font_weight: 400;
  --syntax-string-regex-color: "#5511bfff";
  --syntax-string-regex-font_style: "normal";
  --syntax-string-regex-font_weight: 400;
  --syntax-string-special-color: "#a31d8dff";
  --syntax-string-special-font_style: "normal";
  --syntax-string-special-font_weight: 400;
  --syntax-string-special-symbol-color: "#5511bfff";
  --syntax-string-special-symbol-font_style: "normal";
  --syntax-string-special-symbol-font_weight: 400;
  --syntax-tag-color: "#1749bdff";
  --syntax-tag-font_style: "normal";
  --syntax-tag-font_weight: 400;
  --syntax-text-literal-color: "#086e14ff";
  --syntax-text-literal-font_style: "normal";
  --syntax-text-literal-font_weight: 400;
  --syntax-type-color: "#1749bdff";
  --syntax-type-font_style: "normal";
  --syntax-type-font_weight: 400;
  --syntax-type-builtin-color: "#14646eff";
  --syntax-type-builtin-font_style: "normal";
  --syntax-type-builtin-font_weight: 400;
  --syntax-variable-color: "#181818ff";
  --syntax-variable-font_style: "normal";
  --syntax-variable-font_weight: 400;
  --syntax-variable-special-color: "#8c4f7f";
  --syntax-variable-special-font_style: "normal";
  --syntax-variable-special-font_weight: 400;
}
