:root {
  --background: "#b597e033";
  --border: "#3c324bcc";
  --border-disabled: null;
  --border-focused: "#C9A8F977";
  --border-selected: "#C9A8F9bb";
  --border-transparent: "#00000000";
  --border-variant: "#C9A8F933";
  --conflict: "#dec184ff";
  --conflict-background: "#dec18433";
  --conflict-border: "#5d4c2fff";
  --created: "#73fb95ff";
  --created-background: "#222e1dff";
  --created-border: "#38482fff";
  --deleted: "#ff5555ff";
  --deleted-background: "#301b1bff";
  --deleted-border: "#4c2b2cff";
  --drop_target-background: "#504364ff";
  --editor-active_line-background: "#C9A8F933";
  --editor-active_line_number: "#C9A8F9FF";
  --editor-active_wrap_guide: "#bd93f965";
  --editor-background: "#282a36ff";
  --editor-document_highlight-read_background: "#C9A8F940";
  --editor-document_highlight-write_background: "#44475aff";
  --editor-foreground: "#f8f8f2ff";
  --editor-gutter-background: "#282a36ff";
  --editor-highlighted_line-background: "#44475aff";
  --editor-invisible: "#f8f8f230";
  --editor-line_number: "#f8f8f250";
  --editor-subheader-background: "#1e1925ff";
  --editor-wrap_guide: "#f8f8f228";
  --element-active: "#796595ff";
  --element-background: "#1c1d26ff";
  --element-disabled: "#e9dbfdff";
  --element-hover: "#504364ff";
  --element-selected: "#65547dff";
  --elevated_surface-background: "#1e1925ff";
  --error: "#e67373ff";
  --error-background: "#242631ee";
  --error-border: "#e67373ff";
  --ghost_element-active: "#C9A8F950";
  --ghost_element-background: "#00000000";
  --ghost_element-disabled: "#ff5555ff";
  --ghost_element-hover: "#C9A8F935";
  --ghost_element-selected: "#C9A8F925";
  --hidden: "#414754ff";
  --hidden-background: "#242631ee";
  --hidden-border: "#414754ff";
  --hint: "#6272a4ff";
  --hint-background: null;
  --hint-border: null;
  --icon: null;
  --icon-accent: null;
  --icon-disabled: null;
  --icon-muted: null;
  --icon-placeholder: null;
  --ignored: "#C9A8F950";
  --ignored-background: "#3c324bff";
  --ignored-border: null;
  --info: "#73ece5ff";
  --info-background: "#242631ee";
  --info-border: "#73ece5ff";
  --link_text-hover: "#8be9fdff";
  --modified: "#a2edfdff";
  --modified-background: null;
  --modified-border: null;
  --pane-focused_border: null;
  --panel-background: "#0a080cbb";
  --panel-focused_border: null;
  --predictive: "#c6c6c2ff";
  --predictive-background: null;
  --predictive-border: null;
  --renamed: null;
  --renamed-background: "#242631ee";
  --renamed-border: null;
  --scrollbar-thumb-border: "#00000000";
  --scrollbar-thumb-hover_background: "#C9A8F9FF";
  --scrollbar-track-background: "#141119ff";
  --scrollbar-track-border: "#C9A8F944";
  --scrollbar_thumb-background: "#C9A8F977";
  --search-match_background: "#50fa7b50";
  --status_bar-background: "#141119bb";
  --success: "#79e96dff";
  --success-background: "#242631ee";
  --success-border: "#79e96dff";
  --surface-background: "#242631ee";
  --tab-active_background: "#282a36ff";
  --tab-inactive_background: "#1c1d26ff";
  --tab_bar-background: "#282232bb";
  --terminal-ansi-black: "#21222cff";
  --terminal-ansi-blue: "#9580ffff";
  --terminal-ansi-bright_black: "#919cbfff";
  --terminal-ansi-bright_blue: "#D6ACFFff";
  --terminal-ansi-bright_cyan: "#A4FFFFff";
  --terminal-ansi-bright_green: "#69FF94ff";
  --terminal-ansi-bright_magenta: "#FF92DFff";
  --terminal-ansi-bright_red: "#FF6E6Eff";
  --terminal-ansi-bright_white: "ffffffff";
  --terminal-ansi-bright_yellow: "#FFFFA5ff";
  --terminal-ansi-cyan: "#8be9fdff";
  --terminal-ansi-dim_black: "#1a1b23ff";
  --terminal-ansi-dim_blue: "#7766ccff";
  --terminal-ansi-dim_cyan: "#6fbacaff";
  --terminal-ansi-dim_green: "#40c862ff";
  --terminal-ansi-dim_magenta: "#cc619eff";
  --terminal-ansi-dim_red: "#cc4444ff";
  --terminal-ansi-dim_white: "#c6c6c2ff";
  --terminal-ansi-dim_yellow: "#c1c870ff";
  --terminal-ansi-green: "#50fa7bff";
  --terminal-ansi-magenta: "#ff79c6ff";
  --terminal-ansi-red: "#ff5555ff";
  --terminal-ansi-white: "#f8f8f2ff";
  --terminal-ansi-yellow: "#f1fa8cff";
  --terminal-background: "#14151bff";
  --terminal-bright_foreground: "#f9f9f5ff";
  --terminal-dim_foreground: "#c6c6c2ff";
  --terminal-foreground: "#f8f8f2ff";
  --text: "#f8f8f2ff";
  --text-accent: "#C9A8F9FF";
  --text-disabled: "#C9A8F950";
  --text-muted: "#a186c7ff";
  --text-placeholder: "#C9A8F980";
  --title_bar-background: "#141119bb";
  --toolbar-background: "#282a36ff";
  --unreachable: null;
  --unreachable-border: null;
  --warning: "#e6e373ff";
  --warning-background: "#242631ee";
  --warning-border: "#e6e373ff";
  --player-1-background: "#bd93f9ff";
  --player-1-cursor: "#bd93f9ff";
  --player-1-selection: "#bd93f933";
  --player-2-background: "#50fa7bff";
  --player-2-cursor: "#50fa7bff";
  --player-2-selection: "#50fa7b33";
  --player-3-background: "#ff79c6ff";
  --player-3-cursor: "#ff79c6ff";
  --player-3-selection: "#ff79c633";
  --player-4-background: "#f1fa8cff";
  --player-4-cursor: "#f1fa8cff";
  --player-4-selection: "#f1fa8c33";
  --player-5-background: "#8be9fdff";
  --player-5-cursor: "#8be9fdff";
  --player-5-selection: "#8be9fd33";
  --player-6-background: "#ffb86cff";
  --player-6-cursor: "#ffb86cff";
  --player-6-selection: "#ffb86c33";
  --player-7-background: "#ff5555ff";
  --player-7-cursor: "#ff5555ff";
  --player-7-selection: "#ff555533";
  --syntax-attribute-color: "#ff79c6ff";
  --syntax-attribute-font_style: null;
  --syntax-attribute-font_weight: null;
  --syntax-boolean-color: "#ff79c6ff";
  --syntax-boolean-font_style: null;
  --syntax-boolean-font_weight: null;
  --syntax-comment-color: "#6272a4ff";
  --syntax-comment-font_style: null;
  --syntax-comment-font_weight: null;
  --syntax-comment-doc-color: "#ff79c6ff";
  --syntax-comment-doc-font_style: null;
  --syntax-comment-doc-font_weight: null;
  --syntax-constant-color: "#bd93f9ff";
  --syntax-constant-font_style: null;
  --syntax-constant-font_weight: null;
  --syntax-constructor-color: "#ff79c6ff";
  --syntax-constructor-font_style: null;
  --syntax-constructor-font_weight: null;
  --syntax-embedded-color: "#f8f8f2ff";
  --syntax-embedded-font_style: null;
  --syntax-embedded-font_weight: null;
  --syntax-emphasis-color: "#f1fa8cff";
  --syntax-emphasis-font_style: "italic";
  --syntax-emphasis-font_weight: null;
  --syntax-emphasis-strong-color: "#ffb86cff";
  --syntax-emphasis-strong-font_style: null;
  --syntax-emphasis-strong-font_weight: 700;
  --syntax-enum-color: "#bd93f9ff";
  --syntax-enum-font_style: null;
  --syntax-enum-font_weight: null;
  --syntax-function-color: "#50fa7bff";
  --syntax-function-font_style: null;
  --syntax-function-font_weight: null;
  --syntax-hint-color: "#bd93f9ff";
  --syntax-hint-font_style: null;
  --syntax-hint-font_weight: 700;
  --syntax-keyword-color: "#ff79c6ff";
  --syntax-keyword-font_style: null;
  --syntax-keyword-font_weight: null;
  --syntax-label-color: "#f8f8f2ff";
  --syntax-label-font_style: null;
  --syntax-label-font_weight: null;
  --syntax-link_text-color: "#ff79c6ff";
  --syntax-link_text-font_style: "normal";
  --syntax-link_text-font_weight: null;
  --syntax-link_uri-color: "#8be9fdff";
  --syntax-link_uri-font_style: null;
  --syntax-link_uri-font_weight: null;
  --syntax-number-color: "#bd93f9ff";
  --syntax-number-font_style: null;
  --syntax-number-font_weight: null;
  --syntax-operator-color: "#ff79c6ff";
  --syntax-operator-font_style: null;
  --syntax-operator-font_weight: null;
  --syntax-predictive-color: null;
  --syntax-predictive-font_style: "italic";
  --syntax-predictive-font_weight: null;
  --syntax-preproc-color: "#6272a4ff";
  --syntax-preproc-font_style: null;
  --syntax-preproc-font_weight: null;
  --syntax-primary-color: null;
  --syntax-primary-font_style: null;
  --syntax-primary-font_weight: null;
  --syntax-property-color: "#8be9fdff";
  --syntax-property-font_style: null;
  --syntax-property-font_weight: null;
  --syntax-punctuation-color: "#ff79c6ff";
  --syntax-punctuation-font_style: null;
  --syntax-punctuation-font_weight: null;
  --syntax-punctuation-bracket-color: "#f8f8f2ff";
  --syntax-punctuation-bracket-font_style: null;
  --syntax-punctuation-bracket-font_weight: null;
  --syntax-punctuation-delimiter-color: "#ff79c6ff";
  --syntax-punctuation-delimiter-font_style: null;
  --syntax-punctuation-delimiter-font_weight: null;
  --syntax-punctuation-list_marker-color: "#8be9fdff";
  --syntax-punctuation-list_marker-font_style: null;
  --syntax-punctuation-list_marker-font_weight: null;
  --syntax-punctuation-special-color: "#ff79c6ff";
  --syntax-punctuation-special-font_style: null;
  --syntax-punctuation-special-font_weight: null;
  --syntax-string-color: "#f1fa8cff";
  --syntax-string-font_style: null;
  --syntax-string-font_weight: null;
  --syntax-string-escape-color: "#ff79c6ff";
  --syntax-string-escape-font_style: null;
  --syntax-string-escape-font_weight: null;
  --syntax-string-regex-color: "#ff5555ff";
  --syntax-string-regex-font_style: null;
  --syntax-string-regex-font_weight: null;
  --syntax-string-special-color: "#ff79c6ff";
  --syntax-string-special-font_style: null;
  --syntax-string-special-font_weight: null;
  --syntax-string-special-symbol-color: "#bd93f9ff";
  --syntax-string-special-symbol-font_style: null;
  --syntax-string-special-symbol-font_weight: null;
  --syntax-tag-color: "#ff79c6ff";
  --syntax-tag-font_style: null;
  --syntax-tag-font_weight: null;
  --syntax-text-literal-color: "#50fa7bff";
  --syntax-text-literal-font_style: null;
  --syntax-text-literal-font_weight: null;
  --syntax-title-color: "#bd93f9ff";
  --syntax-title-font_style: null;
  --syntax-title-font_weight: 600;
  --syntax-type-color: "#8be9fdff";
  --syntax-type-font_style: null;
  --syntax-type-font_weight: null;
  --syntax-type-interface-color: "#8be9fdff";
  --syntax-type-interface-font_style: "italic";
  --syntax-type-interface-font_weight: null;
  --syntax-type-super-color: "#8be9fdff";
  --syntax-type-super-font_style: "italic";
  --syntax-type-super-font_weight: null;
  --syntax-variable-color: "#f8f8f2ff";
  --syntax-variable-font_style: null;
  --syntax-variable-font_weight: null;
  --syntax-variable-member-color: "#f8f8f2ff";
  --syntax-variable-member-font_style: null;
  --syntax-variable-member-font_weight: null;
  --syntax-variable-parameter-color: "#ffb86cff";
  --syntax-variable-parameter-font_style: "italic";
  --syntax-variable-parameter-font_weight: null;
  --syntax-variable-special-color: "#bd93f9ff";
  --syntax-variable-special-font_style: "italic";
  --syntax-variable-special-font_weight: null;
  --syntax-variant-color: "#bd93f9ff";
  --syntax-variant-font_style: null;
  --syntax-variant-font_weight: null;
}
